/* [디파이 수정] 210524 파일 생성 */
/* radio */
.form-group__radio {position:relative;display:inline-block;margin:0 30px 0 0;padding:0;}
.form-group__radio input {position:absolute;left:0;top:0;margin:0;z-index:1;width:18px;height:18px;vertical-align:middle;opacity:0;}
.form-group__radio input + label {position:relative;display:inline-block;padding-left:25px;color:#55565a;font-size:14px;line-height:20px;min-height:20px;font-weight:normal;vertical-align:middle;cursor:pointer;}

.form-group__radio label:before,
.form-group__radio label:after {content:'' !important;position:absolute;left:0;top:0;display:inline-block;box-sizing:border-box;border:1px solid #a2a2a2;background-color:#fff;}
.form-group__radio label:before {width:18px;height:18px;border-radius:50%;border-color:#999;}
.form-group__radio label:after {left:4px;top:4px;display:block;width:10px;height:10px;border:none;border-radius:50%;background-color:#fff;}

.form-group__radio input:checked + label:after {background-color:#0075a4;}
.form-group__radio input:disabled + label {color:#ececec !important;}
.form-group__radio input:disabled + label:after {background-color:#ececec;}
.form-group__radio input:disabled + label:before {background:#fff !important;border:1px solid #ececec;}

/* 공통 */
.mo {display: none;}
.akl .bt-akl-blue.large,
.akl .bt-akl-white.large {font-size: 16px;}
.reqired {position:relative;}
.reqired:after {content: '*'; position: absolute; top: 0; right: -10px; font-size: 13px; color: #b90000;}

[class*="control-subtext-"] {position:relative; padding: 0 0 0 10px; font-size: 12px;}
[class*="control-subtext-"]:after {content: '*'; position: absolute; top: 3px; left: 0; font-size: 12px; }
.control-subtext-red {color: #b32718;}
.control-subtext-blue {color: #597ce3;}
.control-subtext-red:after {color: #b32718;}
.control-subtext-blue:after {color: #597ce3;}

/* 본인인증 */
.akl .layerWrapper .cbox.layerBox {border:none;}
/* .akl .G20401_lp_pop .cart-popup__dialog {overflow:hidden;border-radius:16px;background:none;} */ /* 암웨이 현대카드 edition 팝업 r값 제거, 백그라운드 화이트 변경 */
.akl .G20401_lp_pop .cart-popup__header {height:52px;}
.akl .G20401_lp_pop .cart-popup__header-text {height:100%;padding:15px 0 12px;font-size:18px;letter-spacing:-0.45px;}
.akl .G20401_lp_pop .cart-popup__close {top:12px;right:19px;width:14px;height:14px;margin: 0;}
.akl .G20401_lp_pop .cart-popup__close img {width:100%;height:auto;}
.akl .G20401_lp_pop .cart-popup__content.payment {background-color: #fff;}

.akl .G20401_lp_pop .cart-popup__item-info {padding:25px 20px 10px;}
.akl .G20401_lp_pop .cart-popup__item-text {margin:0 0 20px 0;}
.akl .G20401_lp_pop .cart-popup__item-tit {margin:0 0 10px;font-size:18px;font-weight:bold;letter-spacing:-0.9px;color:#333333;}
.akl .G20401_lp_pop .cart-popup__item-desc {font-size: 14px;letter-spacing:-0.7px;color:#999999;}

.G20401_lp_pop.business .form-group + .form-group {padding:20px 0 0;}
.akl input[type="text"] {padding:0 12px;}
/* .akl .G20401_lp_pop .form-group .col-sm-9 {width:100%;padding:0;} */
.form-group__title {display:inline-block;}
.form-group__title, .akl .amway-theme .form-group > label {margin:0 0 5px 0;padding:0;font-size:16px;font-weight:bold;letter-spacing:-0.8px;color:#002f5f;}

.form-group__select-wrap {width: 100%;}
.form-group__select {display:flex;width:100%;margin:0 0 10px;}
.akl .G20401_lp_pop .form-group .shipping-delivery-size {margin:0 10px 0 0;width:161px;}
.form-group__select input {flex:1;}
.form-group__select-btn {width:161px;}

.akl .G20401_lp_pop .title-h6 {color:#333;}
.layerWrapper.G20401_lp_pop .hr {padding: 19px 0 0 !important;}
.layerWrapper.G20401_lp_pop .hr:last-child {margin:0 !important;border:0;}
.layerWrapper.G20401_lp_pop.business .conditions {margin:10px 0 0;}
.layerWrapper.G20401_lp_pop.business .conditions-chk {margin:10px 0 0;}
.G20401_lp_pop .conditions-chk [type="checkbox"]:not(:checked)+label {color:#999;}

.akl .form-group-auth {padding: 10px 0 0 !important;}
.akl .auth-text {margin: 0 0 16px; font-size: 13px; font-weight: 500; letter-spacing: -0.65px; color: #999999;}
.akl .auth-text strong {font-weight: bold;}
.akl .auth-sec {display: flex;}
.akl .auth-btn-comfirmed {margin: 0 0 0 10px;}
.akl .auth-time {margin: 5px 0 0; font-size: 13px; letter-spacing: -0.65px; color: #999999;}
.akl .auth-meg-wrap {margin: 4px 0 0;}
.akl .auth-meg {position: relative; padding: 0 0 0 15px; font-size: 13px; letter-spacing: -0.65px;}
.akl .auth-meg:before,
.akl .auth-meg:after {content: ''; position: absolute;}
.akl .auth-meg:before {top: 8px; left: 0; width: 6px; height: 2px; transform: rotate(39deg);}
.akl .auth-meg:after {top: 6px; left: 3px; width: 10px; height: 2px; transform: rotate(-45deg);}
.akl .auth-meg-confirmed{color: #057423;}
.akl .auth-meg-confirmed:before,
.akl .auth-meg-confirmed:after {background-color: #057423}
.akl .auth-msg-error {color: #b90000;}
.akl .auth-msg-error:before,
.akl .auth-msg-error:after {background-color: #b90000;}
.akl .auth-btn-resend {width: 161px; margin: 10px 0 0;}

/* SOP */
.btn_spinor-minus {margin: 0 -1px 0 0;}
.btn_spinor-plus {margin: 0 0 0 -1px;}
.sop-delivery .sop-btn-wrap button + button {margin: 0 0 0 6px}
.akl .sop-delivery select.form-control {width: 100%; border-color: #999; background: url('/_ui/responsive/theme-blue/images/selector-arrow-gray.png'); background-position: right+12px center; background-size: 13px; background-repeat: no-repeat; font-weight: 500; color: #666;}

.smart-order {margin: 15px 0 0; border: 1px solid #597ce3;}
.smart-order .flag_wrap {margin: 0 8px 0 0;}
.smart__banner {display: block;}
.smart__banner img {width: 100%; height: auto;}
.smart__event {padding: 0 16px;}
.smart__itm {display: flex; align-items: center; padding: 14px 0;}
.smart__itm + .smart__itm {border-top: 1px solid #e5e5e5;}
.smart__ico {display: inline-block; width: 40px; height: 40px; margin: 0 15px 0 0; background-size: contain; flex: none;} /* [디파이 수정] 스마트 오더 프로그램에서 텍스트가 길어질 시 화면 내 이미지 찌그러지는 현상 flex: none 추가 */
.smart__ico-1 {background-image: url('/_ui/responsive/theme-blue/images/smart_order_ico01.png');}
.smart__ico-2 {background-image: url('/_ui/responsive/theme-blue/images/smart_order_ico02.png');}
.smart__ico-3 {align-self: flex-start; background-image: url('/_ui/responsive/theme-blue/images/smart_order_ico03.png');}
.smart__ico-4 {background-image: url('/_ui/responsive/theme-blue/images/smart_order_ico04.png');}
.smart__name {font-size: 12px; font-weight: 500; letter-spacing: -0.6px; color: #002f5f;}
.smart__price {margin: 4px 0 0;}
.smart__price-discount {font-size: 16px; font-weight: bold; letter-spacing: -0.8px; color: #002f5f;}
.smart__price-normal {font-size: 13px; text-decoration: line-through; letter-spacing: -0.65px; color: #999;}
.smart__text-inner {display: flex; align-items: end;}
.smart__tag {display: inline-block; width: 54px; margin: 0 8px 0 0; padding: 3px 0; border-radius: 10px; background-color: #597ce3; font-size: 10px; font-weight: 500; text-align: center; color: #fff; vertical-align: top; }
.smart__desc {margin: 0; font-size: 12px; font-weight: 500; letter-spacing: -0.6px; color: #597ce3; line-height: 20px; word-break: keep-all;}
.smart__product {display: flex; margin: 6px 0 0;}
.smart__product-img {width: 48px; height: 48px; margin: 0 9px 0 0; border: solid 1px #f1f1f1; flex: none;} /* [디파이 수정] 스마트 오더 프로그램에서 텍스트가 길어질 시 화면 내 이미지 찌그러지는 현상 flex: none 추가 */
.smart__product-img img {width: 100%; height: auto;}
.smart__product-name {display: block; font-size: 12px; font-weight: 500; letter-spacing: -0.6px; color: #333;}
.smart__product-text {display: block; margin: 2px 0 0; font-size: 10px; letter-spacing: -0.5px; text-align: left; color: #999999;}

.smart__info-wrap {display: flex; padding: 0 20px;}
.smart__img {width: 136px; height: 136px; margin: 0 0 18px; border: solid 1px #e5e5e5;}
.smart__img img {width: 100%; height: auto;}
.smart__info {margin: 0 0 0 23px;}
.smart__info-code {font-size: 13px; letter-spacing: -0.65px; color: #999;}
.smart__info-name {margin: 6px 0 10px; font-size: 16px; letter-spacing: -0.8px; color: #333;}
.smart__info-price {margin: 8px 0; display: flex; align-items: flex-end;}
.price-discount {font-size: 16px; font-weight: bold; letter-spacing: -0.8px; color: #002f5f;}
.price-text {margin: 0 0 0 4px; font-size: 12px; font-weight: 500; letter-spacing: -0.6px; color: #002f5f;}
.price-add {position: relative; font-size: 13px; letter-spacing: -0.65px; color: #999999;}
.price-add + .price-add {margin: 0 0 0 10px; padding: 0 0 0 10px;}
.price-add + .price-add:after {content: ''; position: absolute; top: 1px; left: 0; width: 1px; height: 12px; background-color: #ccc;}
.smart__text-type1 {display: flex; width: 100%; margin: 0 0 20px; padding: 20px; background-color: #f9f9f9;}
.smart__text-type1 .smart__text {flex: 1; margin: 0 20px 0 0;}
.smart__text-type1 .smart__text + .smart__text {margin: 0 0 0 20px;}
.smart__text-type2 {width: 100%; margin: 0 0 20px; padding: 20px 0 20px 20px; background-color: #f9f9f9;}

.sop-freeitem-box {display: flex; position: relative; padding: 0 0 0 50px;}
.sop-freeitem-img {width: 72px; padding: 4px; border: 1px solid #e5e5e5; background-color: #fff;}
.sop-freeitem-img img {width: 100%; height: auto;}
.sop-freeitem-text {display: flex; align-items: flex-end; position: absolute !important; top: 0; left: 0; width: 100%; height: 100%;}
.sop-freeitem-radio,
.sop-freeitem-label {position: absolute !important; top: 0; left: 0; width: 100%; height: 100%; padding: 0 0 0 150px !important; font-size: 14px; color: #333;}
.sop-freeitem-text [class^="form_element-"] label:before {top: 50%; left: 20px; transform: translateY(-50%);}
.sop-freeitem-text [class^="form_element-"] label:after {top: calc(50% - 5px); left: 25px;}
.sop-freeitem-hash {display: block; padding: 0 0 0 150px;}
.sop-freeitem-hash li {font-size: 10px; color: #999; text-decoration: underline; margin: 0 12px 0 0; display: inline-block; vertical-align: middle;}
.sop-freeitem-arr {width: 13px; height: 8px; background: url('/_ui/responsive/theme-blue/images/selector-arrow-gray.png') 50% / 13px 8px no-repeat;}
.sop-date-text {margin: 8px 0 0;}

.sop-delivery .product-list-page-title {margin: 0; font-size: 28px; font-weight: bold; letter-spacing: -1.4px; color: #333;}

@media (max-width: 768px){
	.akl .G20401_lp_pop .cart-popup__dialog .form-control {font-size: 14px !important;}
	.akl .G20401_lp_pop .cart-popup__close {top:15px;padding: 0;}
	.akl .G20401_lp_pop .cart-popup__item-tit {font-size:17px;}
	.akl .G20401_lp_pop .cart-popup__item-desc {font-size:13px;}
	.form-group__title, .akl .amway-theme .form-group > label {font-size: 15px;}
	.akl .G20401_lp_pop .form-group .shipping-delivery-size {width:121px;margin:0 10px 0 0;}
	.akl a.form-group__select-btn {width:121px;padding:0 20px;}
	.akl .G20401_lp_pop .auth-btn-resend {width: 157px;}

	.akl .control-label {font-weight: 500 !important;}
	.akl .pdp-info .product-main-info .page-details-add-to-cart-component .addtocart-component.sop-delivery .js-qty-selector label {font-size: 14px;}
	.akl .sop-delivery select.form-control {background-position: right+15px center;}

	.smart-order .flag_wrap {margin: 0;}
	.smart__banner {width: 100%;}
	.smart__text-inner {display: block;}
	.smart__desc {margin: 7px 0 0;}
	.smart__info-wrap {padding: 0 15px;}
	.smart__text-type2 {margin: 0 0 16px; padding: 16px 0 15px 16px;}
	.smart__text-type2 .smart__text-inner {display: flex;}
	.smart__text-type2 .smart__desc {margin: 0;}
	.smart__text-type2 .smart__text + .smart__text {margin: 8px 0 0;}

	.form_element-radio.sop-freeitem-radio input[type='radio'] + label:before {width: 16px; height: 16px; left: 19px;}
	.form_element-radio.sop-freeitem-radio input[type='radio'] + label:after {width: 8px; height: 8px; top: calc(50% - 4px); left: 23px;}

	.sop-freeitem-box {padding: 0 0 0 44px;}
	.sop-freeitem-label {padding: 0 55px 0 124px !important;}
	.sop-freeitem-hash {padding: 0 0 0 124px;}

	.pc {display: none !important;}
	.mo {display: block;}
}

/* SOP 2차 */
.so-op-pop.layerWrapper .popbox { position: relative; border-radius: 16px 16px 18px 18px; background-color: white; height: 600px; width: 600px; top: 50%; left: 50%; transform: translate(-50%,-50%); padding: 32px 20px 0; }
#sop-prdt-cancel.so-op-pop.layerWrapper .popbox { height: 726px; } /* [디파이 수정] 제품 삭제 팝업 높이 조정 */
.so-op-pop.layerWrapper .popbox .pop__header { margin: 0 0 20px 0; }
.so-op-pop.layerWrapper .popbox .pop__header h2 { color: #002f5f; font-size: 20px; letter-spacing: -1px; font-weight: bold; margin: 0 0 24px 0; }

.so-op-pop.layerWrapper .popbox .pop__content { overflow-y: auto; max-height: 500px; } /* [디파이 수정] 제품 삭제 팝업 높이 조정 */
.so-op-pop.layerWrapper .popbox .noti-balloon { color: #fff; padding: 14px 0 14px 16px; background-color: #597ce3; border-radius: 10px; word-break: keep-all; }
#sop-prdt-cancel.so-op-pop.layerWrapper .popbox .noti-balloon { display: flex; align-items: center; letter-spacing: -0.7px; }
#sop-prdt-cancel.so-op-pop.layerWrapper .popbox .noti-balloon .present-icon { display: inline-block; width: 29px; height: 27px; margin-right: 13px; background: url(../images/sop-present-icon.png) no-repeat; background-size: 29px 27px; flex: none;}
.so-op-pop.layerWrapper .popbox .pop__content .pop-sop-details.prdt-cancel p { font-size: 14px; letter-spacing: -0.7px; font-weight: 500; padding-bottom: 16px; }
.so-op-pop.layerWrapper .popbox .pop__content .pop-sop-details.prdt-cancel .cancel-list { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 4px 0 20px; }
.so-op-pop.layerWrapper .popbox .pop__content .pop-sop-details.prdt-cancel .cancel-list li { display: flex; padding-top: 16px;}
.so-op-pop.layerWrapper .popbox .pop__content .pop-sop-details.prdt-cancel .cancel-list li span { display: inline-block; color: #333;  line-height: 1.71; letter-spacing: -0.7px; font-weight: 500; }
.so-op-pop.layerWrapper .popbox .pop__content .pop-sop-details.prdt-cancel .cancel-list li .category { display: inline-block; width: 144px; color: #002f5f; font-weight: bold; }
.so-op-pop.layerWrapper .popbox .pop__footer { position: absolute; bottom: 0; width: 100%; display: flex; margin-left: -20px; }
.so-op-pop.layerWrapper .popbox .pop__footer button { flex: 1; height: 52px; font-weight: bold; font-size: 16px; letter-spacing: -0.8px; }
.so-op-pop.layerWrapper .popbox .pop__footer .close { background-color: #fff; border: 1px solid #002f5f; opacity: 1; border-radius: 0 0 0 16px; }
.so-op-pop.layerWrapper .popbox .pop__footer .cancel { background-color: #002f5f; border: 1px solid #002f5f; border-radius: 0 0 16px 0; color: #fff; }

@media (max-width: 768px){
	.so-op-pop.layerWrapper { padding: 0 16px; }
	.so-op-pop.layerWrapper .popbox {  border-radius: 16px 16px 18px 18px; background-color: white; height: 600px; width: auto; padding: 20px 20px 0; }
	.so-op-pop.layerWrapper .popbox .pop__header { font-size: 18px; letter-spacing: -0.9px; }
	.so-op-pop.layerWrapper .popbox .pop__content { padding: 20px 0; }
	.so-op-pop.layerWrapper .popbox .noti-balloon { padding: 16px; border-radius: 8px; margin-bottom: 16px; font-size: 14px; letter-spacing: -0.6px; }
	#sop-prdt-cancel.so-op-pop.layerWrapper .popbox { height: 540px; }
	#sop-prdt-cancel.so-op-pop.layerWrapper .popbox .pop__content { max-height: 338px; }
	#sop-regular-delivery-cancel.so-op-pop.layerWrapper .popbox .pop__content { max-height: 450px; }
	#sop-prdt-cancel.so-op-pop.layerWrapper .popbox .noti-balloon .present-icon { width: 33px; height: 27px;}
	.so-op-pop.layerWrapper .popbox .pop__content .pop-sop-details.prdt-cancel .cancel-list { border-top: 1px solid #e5e5e5; border-bottom: 0; padding: 4px 0 20px; }
	.so-op-pop.layerWrapper .popbox .pop__content .pop-sop-details.prdt-cancel .cancel-list li { display: block; }
	.so-op-pop.layerWrapper .popbox .pop__content .pop-sop-details.prdt-cancel .cancel-list li span { display: block; width: 100% !important; }
}
@media (max-width: 620px){
	#sop-prdt-cancel.so-op-pop.layerWrapper .popbox .pop__content { max-height: 330px; }
	#sop-regular-delivery-cancel.so-op-pop.layerWrapper .popbox .pop__content { max-height: 420px; }
}
@media (max-width: 410px){
	#sop-prdt-cancel.so-op-pop.layerWrapper .popbox .pop__content { max-height: 310px; }
	#sop-regular-delivery-cancel.so-op-pop.layerWrapper .popbox .pop__content { max-height: 400px; }
}

/* 20231208 SOP주문서 '제품삭제' 팝업 하단 오른쪽 버튼 라운드 처리 (Sprint12, 상시모니터링 No.72) */
.so-op-pop.layerWrapper .popbox .pop__footer .bt-akl-blue {border-radius: 0 0 16px 0;}
.so-op-pop.layerWrapper .popbox .pop__footer {z-index: 10;} /* 20231214 수정 */