/* [디파이 수정2] 신규 파일 : CAP2 A Pay */

/* 마이페이지 결제관리 A-Pay 결제수단 관리 추가 */
.mypage-block-list li>div.abo-icon-13 a:before { top: 0; width: 25px; height: 100%; background: url(../images/akl_cap2/ico_mypage_main_a_pay.png) no-repeat 0 50%; background-size: 25px 18px; margin-top: 0; }

/* A-Pay 결제수단 관리 */
.row.card-swiper { padding-top: 24px; }
.title-tooltip-wrap { display: inline-block; vertical-align: middle; }
.title-tooltip-wrap h2 { font-size: 18px; letter-spacing: -0.9px; color: #002f5f; font-weight: bold; margin: 0 0 29px; }
.title-tooltip-wrap h2 .icon_a-pay { display: inline-block; width: 25px; height: 18px; background: url(../images/akl_cap2/ico_mypage_main_a_pay.png) no-repeat; background-size: 25px 18px; vertical-align: middle; margin-right: 9px; display: none;}
.title-tooltip-wrap h2 .toolTip-wrapper .btn-tooltip { vertical-align: middle; top: -2px; }
.title-tooltip-wrap h2 .toolTip-wrapper.open .btn-tooltip:after { top: 23px !important; }
/* .title-tooltip-wrap h2 .toolTip-wrapper .tooltip-content { top: 61px !important; } */
.easy-payment-wrap { display: flex; margin-bottom: 40px; font-size: 0; margin-left: 59px; }
.easy-payment-wrap li { width: 622px; padding: 25px 0; border: 1px solid #f2f2f2; }
.easy-payment-wrap li { width: 622px; padding: 25px 0; border: 1px solid #f2f2f2; overflow: hidden; position: relative; }
.easy-payment-wrap li + li { margin-left: 15px;}
.easy-payment-wrap li .tit_payment { color: #052e5f; font-size: 14px; font-weight: bold; line-height: 1.43; letter-spacing: normal; margin-bottom: 25px; padding-left: 30px; }
.payment-card.card-area { min-width: 286px; width: 100%; height: 180px; border: 1px dashed #ccc; background-color: #fafafa; border-radius: 10px; }
.payment-card.card-area > p { color: #666; letter-spacing: -0.65px; font-size: 13px; font-weight: 500; text-align: center; }
.payment-card.card-area > .icon_plus { width: 36px; height: 36px; display: block; margin: 46px auto 12px; }
.payment-card.card-area > .icon_plus img { width: 100%; height: 100%; }

.form_group-element span + span { margin-left: 32px; }
.about_a-pay.top-line { display: flex; margin-bottom: 21px; }
.about_a-pay.top-line .amway-theme .radio-wrapper { font-size: 16px; font-weight: bold; color: #666; }
.about_a-pay.top-line .amway-theme .radio-wrapper .tooltip-content { font-weight: normal;}
.shipping_delivery_st02 .accodion_box_cont0 .about_a-pay.top-line .toolTip-wrapper { margin: 0 0 0 3px; vertical-align: middle; }
/* 원클릭 라디오 타입 변경 */
.about_a-pay.top-line .pop_a-pay { margin-left: auto; }
.tit_top-line { display: flex; align-items: center; margin: 21px 0 22px; }
.tit_top-line .about_a-pay.pc { display: block;  margin-left: auto; }
.about_a-pay.mobile { display: none; }
.about_a-pay .pop_a-pay { border: 1px solid #ccc; border-radius: 2px; background-color: #fff; padding: 4px 8px; font-weight: 500; letter-spacing: -0.55px; color: #666; font-size: 11px; margin-left: -14px; }
.about_a-pay .pop_a-pay:disabled { border: 1px solid #ccc !important; color: #ccc; background-color: #fff !important; }
.about_a-pay .pop_a-pay[disabled]:hover { border: 1px solid #ccc !important; color: #ccc; background-color: #fff !important; }
.gift_order.renew .about_a-pay .toolTip-wrapper .btn-tooltip { margin-top: 0; }
.gift_order.renew .about_a-pay .toolTip-wrapper.open .btn-tooltip:before { top: 20.5px; }
.gift_order.renew .about_a-pay .toolTip-wrapper.open .btn-tooltip:after { top: 31.2px; left: 9px; border-radius: 16px; } /* 20220905 */

/* 원클릭체크아웃 결제 페이지 */
.shipping_delivery_st02 .new-payment .pay_cont .tit_top-line { margin: 0 0 22px; }
.shipping_delivery_st02 .accodion_box_cont0 .payment-bank-card .tit_top-line .about_a-pay .toolTip-wrapper { margin: 0 0 0 6px; }
.shipping_delivery_st02 .gift_order.renew .payment-bank-card .toolTip-wrapper.open .btn-tooltip:after { margin-top: -4px; margin-left: -8px; content: none;}
.shipping_delivery_st02 .gift_order.renew .about_a-pay .toolTip-wrapper.open .btn-tooltip:before { top: 20px; }

/* A Cliks 주문결제 */
.version1 .about_a-pay .toolTip-wrapper.open .btn-tooltip::before { position: absolute; top: 10px; content: ''; display: block; left: 50%; z-index: 100; width: 15px; height: 12px; margin-left: -8px; background-image: url(../images/akl_plp/ico_tooltip_arrow.png); background-size: 10px auto; background-repeat: no-repeat; }
/* .version1 .about_a-pay .toolTip-wrapper.open .btn-tooltip::after { top: 31px !important; left: 6px !important; z-index: 100 !important; width: 21px !important; height: 10px !important; background-color: #fff; background-image: none !important; } */
.version1 .about_a-pay.mobile .toolTip-wrapper.open .btn-tooltip:after { top: 30px; }
.version1 .about_a-pay .toolTip-type02 .tooltip-content { top: 36px; margin-left: -150px; border-radius: 8px; max-width: 320px; }

/* SOP 즉시결제 */
.version2 .about_a-pay .toolTip-wrapper.open .btn-tooltip::after { top: 19.2px; height: 10px; }
.version2 .about_a-pay .toolTip-type02 .tooltip-content { top: 35px; margin-left: 0; border-radius: 8px !important; max-width: 320px; }
.new-payment .payment_box .payment_selte { overflow: initial !important; }

/* 장바구니 스마트오더 즉시 결제 */
.version3 .about_a-pay .toolTip-wrapper.open .btn-tooltip::before { position: absolute; top: 10px; content: ''; display: block; left: 50%; z-index: 100; width: 15px; height: 12px; margin-left: -8px; background-position: -60px -90px; background-image: url(/_ui/responsive/theme-blue/images/akl_common/sprite/sp_amway.png); background-size: 250px auto; background-repeat: no-repeat; }
.version3 .about_a-pay .toolTip-wrapper.open .btn-tooltip::after { top: 31px !important; z-index: 100 !important; width: 21px !important; height: 10px !important; background-color: #fff; background-image: none !important; }
.version3 .about_a-pay .toolTip-type02 .tooltip-content { top: 36px !important; margin-left: -155px !important; border-radius: 8px !important; max-width: 320px; }

/* 확인 후 삭제 예정 */
.akl .card-swiper .owl-nav .owl-prev,
.akl .card-swiper .owl-nav .owl-next { width: 56px; height: 210px; top: 0; }
.akl .card-swiper .owl-nav .owl-prev { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_apay-prev-arrow.png') no-repeat 50% 50% / 14.5px 27px !important; background-color: #fff !important; }
.akl .card-swiper .owl-nav .owl-next { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_apay-next-arrow.png') no-repeat 50% 50% / 14.5px 27px !important; background-color: #fff !important; }
/* 확인 후 삭제 예정 */

.akl .card-swiper.swiper { position: relative; }
.akl .card-swiper .swiper-button-prev,
.akl .card-swiper .swiper-button-next { width: 56px; height: 224px; top: 0; }
.akl .card-swiper .swiper-button-prev::after,
.akl .card-swiper .swiper-button-next::after { display: none; }
.akl .card-swiper .swiper-button-prev { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_apay-prev-arrow.png') no-repeat 50% 50% / 14.5px 27px !important; background-color: #fff !important; left: 0; }
.akl .card-swiper.type-gray .swiper-button-prev { background-color: #f4f4f4 !important; }
.akl .card-swiper .swiper-button-disabled { opacity: 0; }
.akl .card-swiper .swiper-button-next { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_apay-next-arrow.png') no-repeat 50% 50% / 14.5px 27px !important; background-color: #fff !important; right: 0; }
.akl .card-swiper.type-gray .swiper-button-next { background-color: #f4f4f4 !important; }
.payment-select { width: 286px;  margin: 10px auto 0; }
.payment-select select { width: 286px; }

.payment-unit { width: 286px; height: 180px; }
.payment-unit .payment-card { position: relative; min-width: 286px; height: 180px; border-radius: 10px; }
.payment-unit .payment-card .icon { position: absolute; top: 16px; left: 16px; }
.payment-unit .payment-card .txt { position: absolute; display: block; font-size: 13px; opacity: 0.6; line-height: 1.46; letter-spacing: -0.65px; color: #fff; bottom: 42px; left: 16px; }
.payment-unit .payment-card .account_number { position: absolute; display: block; font-size: 18px; line-height: 1.17; color: #fff; bottom: 17px; left: 16px;}

.layer_section.type-round-v2.w375 .layer_section-container { width: 375px; }
.layer_section-container.header-noborder .layer-header .btn_layer-close::before,
.layer_section-container.header-noborder .layer-header .btn_layer-close::after { background-color: #ccc; }
.payment_setting-list { margin-top: -16px; }
.payment_setting-list li + li { border-top: 1px solid #eee; }
.payment_setting-list li a { position: relative; display: block; font-size: 16px; font-weight: 500; line-height: 1.5; padding: 16px 0; color: #333; letter-spacing: -0.8px; }
/* .payment_setting-list li:first-child a { padding-top: 0; } */
.payment_setting-list li a:after { content: ''; position: absolute; display: block; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_apay-arrow.png') no-repeat 0 0 / 100% ; width: 8.5px; height: 15px; right: 0; top: 50%; margin-top: -7.5px; }

/* A Pay 팝업 레이아웃 */

.popup_a-pay .cbox.layerBox.popWidS { width: 375px; }
.popup_a-pay .cbox.layerBox { border: 0 !important; border-radius: 16px; overflow: hidden; background-color: #fff; }
.popup_a-pay .cbox.layerBox .container { padding: 0; }
.popup_a-pay .cbox.layerBox .container .popup-header { display: flex; border-bottom: 1px solid #e5e5e5; align-items: center; padding: 0 18px; height: 60px; }
.popup_a-pay .cbox.layerBox .container .popup-header .header-title { flex: 1; text-align: center; font-size: 18px; line-height: 1; letter-spacing: -0.9px; color: #111; }
.popup_a-pay .cbox.layerBox .container .popup-header .btn_layer-close { width: 19px; height: 19px; margin-left: auto; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_pop-header-close-btn.png') no-repeat 0 0 / 100%; }
.popup_a-pay .cbox.layerBox .container .popup-body { padding: 0 20px; overflow-y: auto; height: 608px; position: relative; }
.popup_a-pay .cbox.layerBox .container .popup-footer .btn-modal_close,
.popup_a-pay .cbox.layerBox .container .popup-footer .bt-akl-blue { display: block; width: 100%; line-height: 52px; height: 52px; background-color: #002f5f; color: #fff; text-align: center; font-size: 16px; letter-spacing: -0.8px; font-weight: bold; }
.popup_a-pay .cbox.layerBox .container .popup-footer .bt-akl-blue:disabled { background-color: #bbc6d1 !important; border: 1px solid #bbc6d1 !important; }
.popup_a-pay .cbox.layerBox .popup-body .notice_blue { font-size: 24px; font-weight: bold; line-height: 1.5; letter-spacing: -1.2px; margin: 24px 0 40px; color: #002f5f; }
.popup_a-pay .cbox.layerBox .popup-body .notice_blue.black { color: #000000; }
.popup_a-pay .cbox.layerBox .popup-body .notice_blue .name { color: #0064ff; }
.popup_a-pay .cbox.layerBox .popup-body .notice_details { margin-top: -28px; font-size: 15px; line-height: 1.6; letter-spacing: -0.75px; color: #666; font-weight: normal; }
.popup_a-pay .cbox.layerBox .input_area-wrapper h4 { margin: 0 0 8px; line-height: 1.93; color: #333333; font-size: 14px; font-weight: normal; }
.popup_a-pay .cbox.layerBox .input_area-wrapper .input-area { width: 100%; border-bottom: 1px solid #cccccc; padding: 8px 0; }
.popup_a-pay .cbox.layerBox .input_area-wrapper .input-area input { padding: 0; width: 100%; border: 0; font-size: 32px !important; letter-spacing: -1.6px; font-weight: 500; color: #333; }
.popup_a-pay .cbox.layerBox .input_area-wrapper .input-area input::placeholder { line-height: 32px; width: 100%; font-size: 26px !important; letter-spacing: -1.3px; font-weight: 500; color: #333; }
.popup_a-pay .cbox.layerBox .input_area-wrapper .btn_change-my-number { margin-top: 14px; padding: 0 10px; height: 33px; border-radius: 2px; font-size: 12px; letter-spacing: -0.6px; color: #000; }
.popup_a-pay .cbox.layerBox .bottom-line-contents { position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); }
.popup_a-pay .cbox.layerBox .toolTip-wrapper.red { width: 23px; }
.popup_a-pay .cbox.layerBox .toolTip-wrapper.red button { color: #fff; background-color: #ed2250; background-image: none; border-radius: 50%; font-size: 12px; margin: 0 3px 0 0; }
.popup_a-pay .cbox.layerBox .toolTip-wrapper.red + span { color: #ed2250; font-size: 12px; font-weight: 500; letter-spacing: -0.6px; }
.popup_a-pay .cbox.layerBox .toolTip-wrapper.red .tooltip-content { top: auto; left: 116px; bottom: 35px; min-width: auto; width: 238px; background-color: #fff; font-size: 12px; color: #666; padding: 12px; border: 1px solid #666; }
.popup_a-pay .cbox.layerBox .toolTip-wrapper.open .btn-tooltip:after { width: 7px; height: 8.5px; top: -16px; left: 7px; background: url(/_ui/responsive/theme-blue/images/akl_cap2/icon_tooltip_arrow-red.png) no-repeat 0 0 / 7px auto ; }

.popup_a-pay .cbox.layerBox .input_area-wrapper.account h4 { color: #028fc4; }
.popup_a-pay .cbox.layerBox .input_area-wrapper.account .input-area {  border-bottom: 1px solid #028fc4; }

.popup_a-pay.type_left-align .cbox.layerBox { height: auto; }
.popup_a-pay.type_left-align .cbox.layerBox .container .popup-header { border-bottom: 0; padding: 0 20px; }
.popup_a-pay.type_left-align .cbox.layerBox .container .popup-header .header-title { color: #002f5f; font-size: 24px; line-height: 1.5; letter-spacing: -1.2px; text-align: left; }
.popup_a-pay.type_left-align .cbox.layerBox .container .popup-header .btn_layer-close { width: 15px; height: 15px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_pop-header-close-btn-gray.png') no-repeat 0 0 / 100%; }
.popup_a-pay.type_left-align .cbox.layerBox .container .popup-body { height: auto; }

.popup_a-pay_setting.popup_a-pay .cbox.layerBox .container .popup-body { overflow-y: hidden; }

/* 결제 수단 등록/삭제 > 삭제버튼 클릭 시 보여지는 alert팝업 */
.popup_type_alert .cbox.layerBox { background-color: #fff; border: 0 !important; width: 340px; border-radius: 16px; box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18); overflow: hidden; }
.popup_type_alert .cbox.layerBox .popup_contents { padding: 52px 35px; }
.popup_type_alert .cbox.layerBox .popup_contents .txt { text-align: center; font-size: 16px; line-height: 1.5; letter-spacing :-0.8px; color: #333; word-break: keep-all; margin-bottom: 0; }
.popup_type_alert .cbox.layerBox .popup_contents .txt.bold { font-weight: bold; }
.popup_type_alert .cbox.layerBox .popup_footer { display: flex; }
.popup_type_alert .cbox.layerBox .popup_footer > button { flex: 1; height: 52px; border: 1px solid #002f5f;font-size: 16px; line-height: 1.5; letter-spacing: -0.8px; font-weight: bold; }
.popup_type_alert .cbox.layerBox .popup_footer .btn-cancel { color: #002f5f; border-radius: 0 0 0 16px; }
.popup_type_alert .cbox.layerBox .popup_footer .bt-akl-blue:hover { border-radius:  0 0 16px 16px; }
.popup_type_alert .cbox.layerBox .popup_footer .bt-akl-blue.next-phase:hover { border-radius:  0 0 16px 0; }

/* 비밀번호 입력 */
.popup_a-pay.popup_password .cbox.layerBox .popup-body { padding: 0 16px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .notice_password { margin-top: 52px; text-align: center; font-size: 20px; font-weight: bold; line-height: 1.5; letter-spacing: -1px; color: #002f5f; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password { position: relative; margin: 32px auto 0; width: 208px; font-size: 26px; white-space: nowrap; letter-spacing: 12px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password:before { position: absolute; left: 5px; top: 3px; content: attr(data-placeholder); pointer-events: none; opacity: 1; color: #002f5f; overflow: hidden; white-space: nowrap; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password:after { position: absolute; left: 5px; top: 3px; content: attr(data-placeholder); pointer-events: none; opacity: 0.1; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password[data-count="0"]:before { width: 0; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password[data-count="1"]:before { width: 35px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password[data-count="2"]:before { width: 69px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password[data-count="3"]:before { width: 101px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password[data-count="4"]:before { width: 138px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password[data-count="5"]:before { width: 175px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password[data-count="6"]:before { width: 230px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password > input{ border: 0; color: #002f5f; background-color: #fff !important; border-color: #fff !important; font-size: 93px !important; letter-spacing: -51px; width: 230px; margin: 5px 0 0 -40px; visibility: hidden; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .input_password > input:focus { outline: none; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number { position: absolute; bottom: 0; margin-bottom: 10px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number ul li { display: inline-block; margin-left: 6px !important; margin-bottom: 6px; vertical-align: middle; height: 64px; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number ul li:nth-child(3n+1) { margin-left: 0 !important; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number ul li > button { font-size: 32px; border-radius: 10px; color: #002f5f; width: 108px; background-color: #fff; padding: 0; height: 64px; font-weight: 500; letter-spacing: -1.6px; border: 0; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number ul li > button:disabled { background-color: #fff !important; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number ul li > button.active,
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number ul li > button:focus { background-color: #f0f4f8; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number ul li > button.arrow { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_password-pad-arrow.png') no-repeat 50% 50% / 28px 28px #ffffff; }
.popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number ul li > button.arrow:focus { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_password-pad-arrow.png') no-repeat 50% 50% / 28px 28px #f0f4f8; }

/* 약관동의 */
.popup_a-pay.popup_terms .cbox.layerBox .popup-body .terms-wrapper .checkbox_all-agree .sp_chk { font-size: 15px; font-weight: bold; }
.popup_a-pay.popup_terms .cbox.layerBox .popup-body .terms-wrapper .checkbox_group { border-top: 1px solid #e5e5e5; margin-top: 21px; }
.popup_a-pay.popup_terms .cbox.layerBox .popup-body .terms-wrapper .checkbox_group .checkbox_item { position: relative; margin-top: 21px; display: block; }
.popup_a-pay.popup_terms .cbox.layerBox .popup-body .terms-wrapper .checkbox_group .checkbox_item .form_element-checkbox { position: relative; width: 100%; }
.popup_a-pay.popup_terms .cbox.layerBox .popup-body .terms-wrapper .checkbox_group .checkbox_item .sp_chk { color: #666; font-size: 15px; padding-left: 30px; }
.popup_a-pay.popup_terms .cbox.layerBox .popup-body .terms-wrapper .checkbox_group .checkbox_item .terms-arrow { position: absolute; top: 50%; margin-top: -7.5px; right: 0; content: ''; display: block; width: calc(100% - 20px); height: 15px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_apay-arrow.png') no-repeat 100% 0 / 8.5px auto; z-index: 1005; }

/* 개인회원 이용약관 */
.popup_a-pay.popup_terms_personal .cbox.layerBox .popup-body .title { color: #333; font-weight: bold; font-size: 16px; line-height: 1.5; letter-spacing: -0.8px; margin: 24px 0 12px; }
.popup_a-pay.popup_terms_personal .cbox.layerBox .popup-body .contents { color: #666; font-weight: normal; font-size: 14px; line-height: 1.5; letter-spacing: -0.7px; word-break: keep-all; }
.popup_a-pay.popup_terms_personal .cbox.layerBox .popup-body .preference { color: #999; font-weight: normal; font-size: 12px; line-height: 1.58; letter-spacing: -0.6px; margin-top: 10px; }
.popup_a-pay.popup_terms_personal .cbox.layerBox .popup-body .bottom-contents { border-top: 1px solid #e5e5e5; margin-top: 24px; padding-top: 16px; }
.popup_a-pay.popup_terms_personal .cbox.layerBox .popup-body .bottom-contents a { position: relative; display: block; width: 100%; font-size: 15px; font-weight: 500; line-height: 1.47; letter-spacing: -0.75px; color: #333; }
.popup_a-pay.popup_terms_personal .cbox.layerBox .popup-body .bottom-contents a::after  { content: ''; position: absolute; display: block; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_apay-arrow.png') no-repeat 0 0 / 100% ; width: 8.5px; height: 15px; right: 0; top: 50%; margin-top: -7.5px; }

/* 카드정보 입력 */
.payment-line .form-group + .form-group { margin-top: 23px; }
.payment-line .form-group > label { font-size: 14px; color: #333; margin-bottom: 12px; }
.payment-line .input-area { font-size: 0; }
.payment-line .input-area input { border-radius: 2px; line-height: 40px; }
.payment-line .input-area input[autocomplete] { letter-spacing: -2.5px; }
.payment-line .input-area .card-input { width: 77px; text-align: center; }
.payment-line .input-area .card-input-full { width: 100%; }
.payment-line .input-area .card-input + .card-input { margin-left: 8px; }
.payment-line .input-area .payment-forms-back-slash { font-size: 13px; vertical-align: inherit; }

/* 은행 버튼 리스트 */ 
.popup_a-pay .bank-list-wrapper { margin: 32px 0; }
.popup_a-pay .bank-list-wrapper .bank-lists li { display: inline-block;  margin: 0 0 8px 8px; width: calc(33.33% - 8px); }
.popup_a-pay .bank-list-wrapper .bank-lists li:nth-child(3n+1) { margin: 0 0 8px 0; }
.popup_a-pay .bank-list-wrapper .bank-lists li button { background-color: #f9f9f9; border-radius: 8px; width: 100%; height: 68px; }
.popup_a-pay .bank-list-wrapper .bank-lists li button span { color: #333; font-size: 12px; font-weight: normal; letter-spacing: -0.6px; line-height: 1.5; }
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem { width: 28px; height: 28px; display: block; margin: 0 auto 2px; }
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type01 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-01.png') no-repeat 50% 50% / 28px 28px;} /* NH 농협 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type02 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-02.png') no-repeat 50% 50% / 28px 28px;} /* 우리은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type03 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-03.png') no-repeat 50% 50% / 28px 28px;} /* 신한/제주은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type04 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-04.png') no-repeat 50% 50% / 28px 28px;} /* 국민은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type05 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-05.png') no-repeat 50% 50% / 28px 28px;} /* 하나은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type06 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-06.png') no-repeat 50% 50% / 28px 28px;} /* 씨티은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type07 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-07.png') no-repeat 50% 50% / 28px 28px;} /* 전북/광주은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type08 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-08.png') no-repeat 50% 50% / 28px 28px;} /* 산업은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type09 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-09.png') no-repeat 50% 50% / 28px 28px;} /* 새마을금고 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type10 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-10.png') no-repeat 50% 50% / 28px 28px;} /* 수협 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type11 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-11.png') no-repeat 50% 50% / 28px 28px;} /* 신협 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type12 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-12.png') no-repeat 50% 50% / 28px 28px;} /* 우체국 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type13 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-13-black.png') no-repeat 50% 50% / 28px 28px;} /* 케이뱅크 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type14 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-14-yellow.png') no-repeat 50% 50% / 28px 28px;} /* 카카오뱅크 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type15 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-15.png') no-repeat 50% 50% / 28px 28px;} /* 저축은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type16 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-16.png') no-repeat 50% 50% / 28px 28px;} /* 부산/경남은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type17 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-17.png') no-repeat 50% 50% / 28px 28px;} /* 기업은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type18 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-18.png') no-repeat 50% 50% / 28px 28px;} /* SC제일은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type19 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-19.png') no-repeat 50% 50% / 28px 28px;} /* 대구은행 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type20 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-20.png') no-repeat 50% 50% / 28px 28px;} /* 산림조합 */
.popup_a-pay .bank-list-wrapper .bank-lists li button .emblem.type21 { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-21.png') no-repeat 50% 50% / 28px 28px;} /* 토스뱅크 */

/* 인증 전화 서비스 */
.popup_a-pay .random-number { width: 200px; margin: 52px auto 0; font-size: 0; }
.popup_a-pay .random-number span { display: inline-block; width: 94px; height: 118px; border-radius: 10px; background-color: #f4f4f4; font-size: 78px; font-weight: 500; line-height: 125px; letter-spacing: -3.9px; color: #002f5f; vertical-align: middle; text-align: center; }
.popup_a-pay .random-number span + span { margin-left: 12px; }
.popup_a-pay.popup_certificate-03 .cbox.layerBox .notice_blue { font-size: 20px; line-height: 1.5; letter-spacing: -1px; color: #002f5f; margin: 40px 0 24px; text-align: center; }
.popup_a-pay.popup_certificate-03 .cbox.layerBox .notice_added { font-size: 14px; color: #666; line-height: 1.57; text-align: center; }

.popup_a-pay.popup_certificate-03 .cbox.layerBox .btn_resent { color: #002f5f; line-height: 1.5; letter-spacing: -0.8px; font-size: 16px; font-weight: bold; background: none; }
.popup_a-pay.popup_certificate-03 .cbox.layerBox .btn_resent .arrow { display: inline-block; width: 9.2px; height: 15.5px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_apay-arrow-blue.png') no-repeat 0 0 / 100%; margin-left: 8px; vertical-align: middle; }

/* 계좌등록 완료 */
.popup_a-pay .cbox.layerBox .popup-body .gray-notice-area { margin-top: 40px; padding: 14px 16px; border-radius: 2px; background-color: #f4f4f4; color: #333; line-height: 1.62; letter-spacing: -0.65px; font-size: 13px; }


/* 결제 수단 등록/삭제 팝업 */
.payment-registered { margin: 0 -20px; padding: 24px 20px; }
.payment-registered + .payment-registered { border-top: 5px solid #f4f4f4; }
.payment-registered .title-area { display: flex; align-items: center; margin-top: 4px; }
.payment-registered .title-area h3 { flex: 1; margin: 0; }
.payment-registered .title-area h3 span { flex: 1; margin: 0; font-size: 18px; letter-spacing: -0.9px; }
.payment-registered .title-area h3 span.number { font-size: 20px; letter-spacing: 1; color: #007eb0; font-weight: bold; margin-left: 6px; }
.payment-registered .title-area button { width: 70px; height: 26px; border-radius: 100px; color: #fff; font-size: 12px; letter-spacing: -0.6px; background-color: #002f5f; }
.payment-registered .lists { padding-top: 4px; }
.payment-registered .lists li { display: flex; align-items: center; padding: 8px 0; }
.payment-registered .lists li .img { background-color: #efefef;  }
.payment-registered .lists li .text { margin-left: 14px; flex: 1; }
.payment-registered .lists li .text span { display: block; font-size: 12px; line-height: 1.17; color: #666; }
.payment-registered .lists li .text span.title { font-size: 14px; font-weight: bold; line-height: 1.43; letter-spacing: normal; color: #333; }
.payment-registered .lists li .delete { background-color: #fff; border: 1px solid #ccc; border-radius: 2px; height: 26px; padding: 0 10px; color: #333; font-weight: 500; letter-spacing: -0.55px; font-size: 11px; }

/* 은행/카드 클래스 */
.payment-registered.card .lists li .img { width: 66px; height: 42px; border-radius: 2px; }
.payment-registered.card .lists li.type01 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-01.png') no-repeat 0 0 / 100%; } /* NH 농협 */
.payment-registered.card .lists li.type02 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-02.png') no-repeat 0 0 / 100%; } /* 우리카드 */
.payment-registered.card .lists li.type03 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-03.png') no-repeat 0 0 / 100%; } /* 신한/제주 */
.payment-registered.card .lists li.type04 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-04.png') no-repeat 0 0 / 100%; } /* 국민카드 */
.payment-registered.card .lists li.type05 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-05.png') no-repeat 0 0 / 100%; } /* 하나카드 */
.payment-registered.card .lists li.type06 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-06.png') no-repeat 0 0 / 100%; } /* 씨티카드 */
.payment-registered.card .lists li.type07 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-07.png') no-repeat 0 0 / 100%; } /* 전북/광주 */
.payment-registered.card .lists li.type08 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-08.png') no-repeat 0 0 / 100%; } /* 산업 */
.payment-registered.card .lists li.type09 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-09.png') no-repeat 0 0 / 100%; } /* MG새마을 */
.payment-registered.card .lists li.type10 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-10.png') no-repeat 0 0 / 100%; } /* 수협카드 */
.payment-registered.card .lists li.type11 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-11.png') no-repeat 0 0 / 100%; } /* 신협카드 */
.payment-registered.card .lists li.type12 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-12.png') no-repeat 0 0 / 100%; } /* 우체국 */
.payment-registered.card .lists li.type13 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-13.png') no-repeat 0 0 / 100%; } /* 케이뱅크 */
.payment-registered.card .lists li.type14 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-14.png') no-repeat 0 0 / 100%; } /* 카카오뱅크 */
.payment-registered.card .lists li.type15 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-15.png') no-repeat 0 0 / 100%; } /* 저축은행 */
.payment-registered.card .lists li.type16 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-16.png') no-repeat 0 0 / 100%; } /* BC카드 */
.payment-registered.card .lists li.type17 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-17.png') no-repeat 0 0 / 100%; } /* 현대카드 */
.payment-registered.card .lists li.type18 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-18.png') no-repeat 0 0 / 100%; } /* 롯데카드 */
.payment-registered.card .lists li.type19 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-card-19.png') no-repeat 0 0 / 100%; } /* 삼성카드 */

.payment-registered.bank .lists li .img { width: 42px; height: 42px; border-radius: 50%; border-radius: 50%; }
.payment-registered.bank .lists li.type01 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-01.png') no-repeat 50% 50% / 28px 28px; background-color: #fff9ea; } /* NH 농협 */
.payment-registered.bank .lists li.type02 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-02.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 우리은행 */
.payment-registered.bank .lists li.type03 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-03.png') no-repeat 50% 50% / 28px 28px; background-color: #eff3fd; } /* 신한/제주은행 */
.payment-registered.bank .lists li.type04 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-04.png') no-repeat 50% 50% / 28px 28px; background-color: #fff9ea; } /* 국민은행 */
.payment-registered.bank .lists li.type05 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-05.png') no-repeat 50% 50% / 28px 28px; background-color: #e4fae2; } /* 하나은행 */
.payment-registered.bank .lists li.type06 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-06.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 씨티은행 */
.payment-registered.bank .lists li.type07 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-07.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 전북/광주은행 */
.payment-registered.bank .lists li.type08 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-08.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 산업은행 */
.payment-registered.bank .lists li.type09 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-09.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 새마을금고 */
.payment-registered.bank .lists li.type10 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-10.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 수협 */
.payment-registered.bank .lists li.type11 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-11.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 신협 */
.payment-registered.bank .lists li.type12 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-12.png') no-repeat 50% 50% / 28px 28px; background-color: #fdedeb; } /* 우체국 */
.payment-registered.bank .lists li.type13 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-13.png') no-repeat 50% 50% / 28px 28px; background-color: #26323d; } /* 케이뱅크 */
.payment-registered.bank .lists li.type14 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-14.png') no-repeat 50% 50% / 28px 28px; background-color: #ffe300; } /* 카카오뱅크 */
.payment-registered.bank .lists li.type15 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-15.png') no-repeat 50% 50% / 28px 28px; background-color: #e4fae2; } /* 저축은행 */
.payment-registered.bank .lists li.type16 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-16.png') no-repeat 50% 50% / 28px 28px; background-color: #eae0d3; } /* 부산/경남은행 */
.payment-registered.bank .lists li.type17 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-17.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 기업은행 */
.payment-registered.bank .lists li.type18 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-18.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* SC제일은행 */
.payment-registered.bank .lists li.type19 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-19.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 대구은행 */
.payment-registered.bank .lists li.type20 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-20.png') no-repeat 50% 50% / 28px 28px; background-color: #e4fae2; } /* 산림조합 */
.payment-registered.bank .lists li.type21 .img { background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_reg-bank-21.png') no-repeat 50% 50% / 28px 28px; background-color: #eff9fd; } /* 토스뱅크 */

/* 은행/카드 클래스 */
/* 농협은행 / NH채움 */ 
.payment-unit .payment-card.type01 { background-color: #0066b3; }
.payment-unit .payment-card.type01 .icon { display: block; width: 27px; height: 31px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-01.png') no-repeat 0 0 / 100%; }
/* 우리은행 / 우리카드 */ 
.payment-unit .payment-card.type02 { background-color: #0067ac; }
.payment-unit .payment-card.type02 .icon { display: block; width: 32px; height: 32px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-02.png') no-repeat 0 0 / 100%; }
/* 신한은행 & 제주은행 / 신한 */
.payment-unit .payment-card.type03 { background-color: #10226a; }
.payment-unit .payment-card.type03 .icon { display: block; width: 32px; height: 32px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-03.png') no-repeat 0 0 / 100%; }
/* 국민은행 / KB국민카드 */ 
.payment-unit .payment-card.type04 { background-color: #645b4c; } 
.payment-unit .payment-card.type04 .icon { display: block; width: 43px; height: 32px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-04.png') no-repeat 0 0 / 100%; }
/* 하나은행 / 하나카드 */ 
.payment-unit .payment-card.type05 { background-color: #009490; }
.payment-unit .payment-card.type05 .icon { display: block; width: 34px; height: 31px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-05.png') no-repeat 0 0 / 100%; }
/* 씨티은행 / 씨티카드 */ 
.payment-unit .payment-card.type06 { background-color: #004087; }
.payment-unit .payment-card.type06 .icon { display: block; width: 39px; height: 26px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-06.png') no-repeat 0 0 / 100%; }
/* 전북은행 & 광주은행 / 전북 & 광주카드 */ 
.payment-unit .payment-card.type07 { background-color: #002d6b; }
.payment-unit .payment-card.type07 .icon { display: block; width: 29px; height: 29px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-07.png') no-repeat 0 0 / 100%; }
/* 산업은행 */
.payment-unit .payment-card.type08 { background-color: #013580; }
.payment-unit .payment-card.type08 .icon { display: block; width: 36px; height: 33px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-08.png') no-repeat 0 0 / 100%; }
/* 새마을금고 / MG새마을 */ 
.payment-unit .payment-card.type09 { background-color: #07376a; }
.payment-unit .payment-card.type09 .icon { display: block; width: 32px; height: 28px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-09.png') no-repeat 0 0 / 100%; }
/* 수협 / 수협카드 */ 
.payment-unit .payment-card.type10 { background-color: #70c7eb; }
.payment-unit .payment-card.type10 .icon { display: block; width: 36px; height: 26px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-10.png') no-repeat 0 0 / 100%; }
/* 신협 / 신협카드 */
.payment-unit .payment-card.type11 { background-color: #59cad1; }
.payment-unit .payment-card.type11 .icon { display: block; width: 40px; height: 40px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-11.png') no-repeat 0 0 / 100%; }
/* 우체국 */
.payment-unit .payment-card.type12 { background-color: #d93128; }
.payment-unit .payment-card.type12 .icon { display: block; width: 42px; height: 20px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-12.png') no-repeat 0 0 / 100%; }
/* 케이뱅크 */ 
.payment-unit .payment-card.type13 { background-color: #26323d; }
.payment-unit .payment-card.type13 .icon { display: block; width: 28px; height: 31px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-13.png') no-repeat 0 0 / 100%; }
/* 카카오뱅크 */ 
.payment-unit .payment-card.type14 { background-color: #ffe300; }
.payment-unit .payment-card.type14 .txt { color: #444; }
.payment-unit .payment-card.type14 .account_number { color: #111; }
.payment-unit .payment-card.type14 .icon { display: block; width: 24px; height: 31px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-14.png') no-repeat 0 0 / 100%; }
/* 저축은행 */ 
.payment-unit .payment-card.type15 { background-color: #acd663; }
.payment-unit .payment-card.type15 .icon { display: block; width: 30px; height: 30px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-15.png') no-repeat 0 0 / 100%; }
/* 부산은행 & 경남은행 */ 
.payment-unit .payment-card.type16 { background-color: #b7a997; }
.payment-unit .payment-card.type16 .icon { display: block; width: 54px; height: 17px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-16.png') no-repeat 0 0 / 100%; }
/* 기업은행 */ 
.payment-unit .payment-card.type17 { background-color: #014c9d; }
.payment-unit .payment-card.type17 .icon { display: block; width: 34px; height: 33px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-17.png') no-repeat 0 0 / 100%; }

/* SC제일은행 */ 
.payment-unit .payment-card.type18 { background-color: #525355; }
.payment-unit .payment-card.type18 .icon { display: block; width: 23px; height: 36px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-18.png') no-repeat 0 0 / 100%; }
/* 대구은행 */ 
.payment-unit .payment-card.type19 { background-color: #5cafe5; }
.payment-unit .payment-card.type19 .icon { display: block; width: 46px; height: 30px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-19.png') no-repeat 0 0 / 100%; }
/* 산림조합 */ 
.payment-unit .payment-card.type20 { background-color: #218679; }
.payment-unit .payment-card.type20 .icon { display: block; width: 42px; height: 27px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-20.png') no-repeat 0 0 / 100%; }
/* 토스뱅크 */ 
.payment-unit .payment-card.type21 { background-color: #0064ff; }
.payment-unit .payment-card.type21 .icon { display: block; width: 32px; height: 28px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-21.png') no-repeat 0 0 / 100%; }
/* BC카드 */ 
.payment-unit .payment-card.type22 { background-color: #e83e45; }
.payment-unit .payment-card.type22 .icon { display: block; width: 32px; height: 32px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-22.png') no-repeat 0 0 / 100%; }
/* 현대카드 */ 
.payment-unit .payment-card.type23 { background-color: #000000; }
.payment-unit .payment-card.type23 .icon { display: block; width: 92px; height: 20px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-23.png') no-repeat 0 0 / 100%; }
/* 롯데카드 */ 
.payment-unit .payment-card.type24 { background-color: #3d3934; }
.payment-unit .payment-card.type24 .icon { display: block; width: 48px; height: 48px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-24.png') no-repeat 0 0 / 100%; }
/* 삼성카드 */
.payment-unit .payment-card.type25 { background-color: #0c4da1; }
.payment-unit .payment-card.type25 .icon { display: block; width: 102px; height: 24px; background: url('/_ui/responsive/theme-blue/images/akl_cap2/icon_card-25.png') no-repeat 0 0 / 100%; }

@media (max-width: 768px) {
    .owl-nav { display: none; }
    .title-tooltip-area h2 { font-size: 18px !important; letter-spacing: -0.9px; color: #002f5f; font-weight: bold; margin: 0 0 29px; vertical-align: middle; }
    .easy-payment-wrap { display: block; margin-bottom: 32px; margin-left: 0; }
    .easy-payment-wrap li { width: 100%; border: 1px solid #f2f2f2; }
    .easy-payment-wrap li + li { margin-left: 0; margin-top: 30px; }
    .box_wrap { display: flex; }
    .box_wrap button:nth-child(odd) { width: 100%; margin-right: 5px; }
    .box_wrap button:nth-child(even) { width: 100%; margin-left: 5px; }
    /* owl-carousel : 확인 후 삭제 예정 */
    .payment-bank-card .card-swiper.owl-carousel { padding: 0; margin: 0 -20px; width: calc(100% + 35px); }
    .card-swiper.owl-carousel { padding: 0; }
    /* owl-carousel : 확인 후 삭제 예정 */

    .title-tooltip-wrap h2 .toolTip-wrapper.open .btn-tooltip:after { top: 24px !important; }

    .about_a-pay.top-line { padding: 0 16px; }
    .tit_top-line { padding-left: 20px; }
    .tit_top-line .about_a-pay.pc { display: none; }
    .payment-bank-card { margin: 0 -15px; }
    .swiper.card-swiper { padding-left: 5px; }
    .akl .card-swiper .swiper-button-prev, .akl .card-swiper .swiper-button-next { display: none; }
    .about_a-pay.mobile { display: flex; padding: 16px 20px 9px; }
    .about_a-pay.mobile .pop_a-pay { margin-left: auto; }
    .gift_order.renew .about_a-pay .toolTip-type02 .tooltip-content { top: 15px !important; }

    /* A Pay 팝업 레이아웃 */
    .popup_a-pay .cbox.layerBox.popWidS { width: 100%; left: 0 !important; margin: 0 !important; max-width: 100% !important; height: 100vh; height: calc(var(--vh) * 100vh); }
    .popup_a-pay.type_left-align .cbox.layerBox { top: auto !important; bottom: 0 !important; border-radius: 16px 16px 0 0;}
    .popup_a-pay .cbox.layerBox { top: 0 !important; margin-top: auto !important; left: 0; right: 0; bottom: 0; border-radius: 0; }
    .popup_a-pay .cbox.layerBox .container .popup-body { height: calc(var(--vh, 1vh) * 100 - 112px); }
    .popup_a-pay .cbox.layerBox.no-bottom-btn .container .popup-body { height: calc(100vh - 60px); }
    .popup_a-pay.popup_password .cbox.layerBox .popup-body .pad_number { position: absolute; bottom: 0;  margin-bottom: 10px; width: 343px; left: 50%; transform: translateX(-50%);  }

    /* 인증 전화 서비스 */
    .popup_a-pay .random-number { margin: 72px auto 0; }
    .popup_a-pay .cbox.layerBox .toolTip-wrapper.red .tooltip-content { left: 86px; }

    /* A-Pay 결제수단 관리 */
    .title-tooltip-wrap h2 .toolTip-wrapper .tooltip-content { top: 42px !important; left: 140px !important; min-width: 300px; }

    .gift_order.renew .about_a-pay .toolTip-wrapper.open .btn-tooltip:after { top: 18px; }
    .version1 .about_a-pay .toolTip-wrapper.open .btn-tooltip::after {top: 31.3px !important; }

    .version2 .about_a-pay .toolTip-type02 .tooltip-content { top: 13px !important; }
    .version2 .about_a-pay .toolTip-wrapper.open .btn-tooltip::after { top: 19.2px; height: 11px; }

    /* 장바구니 스마트오더 즉시 결제 */
    .version3 .about_a-pay .toolTip-wrapper.open .btn-tooltip::before { position: absolute; top: 10px; content: ''; display: block; left: 50%; z-index: 100; width: 15px; height: 12px; margin-left: -8px; background-position: -60px -90px; background-image: url(/_ui/responsive/theme-blue/images/akl_common/sprite/sp_amway.png); background-size: 250px auto; background-repeat: no-repeat; }
    .version3 .about_a-pay .toolTip-wrapper.open .btn-tooltip::after { top: 32.3px !important; z-index: 100 !important; width: 21px !important; height: 10px !important; background-color: #fff; background-image: none !important; }
    .version3 .about_a-pay .toolTip-type02 .tooltip-content { margin-left: 0 !important; border-radius: 8px !important; max-width: 320px; }

    /* 원클릭체크아웃 결제 페이지 */
    .shipping_delivery_st02 .new-payment .pay_cont.payment-bank-card { padding: 16px 0; }
    /* .shipping_delivery_st02 .new-payment .pay_cont.payment-bank-card .swiper.card-swiper { padding-left: 8px; } */
    .shipping_delivery_st02 .accodion_box_cont0 .about_a-pay.top-line .toolTip-wrapper.open .btn-tooltip:after { margin-top: 2px; }

}


/**** UT 개선사항 ****/
.accodion_orderinfo .payment-content.reg_payment-wrap { border: 1px solid #dadada; padding: 9px; background-color: #f4f4f4; border-radius: 2px; }
.accodion_orderinfo .form-item-a { max-width: 439px; }
.accodion_orderinfo .form_group_a { max-width: 100%; }
.accodion_orderinfo .bottom-info { margin-top: 6px; }
.accodion_orderinfo .bottom-info .info { color: #9a9a9a; letter-spacing: -0.35px; line-height: 16px; font-size: 13px; font-weight: 500; }
.accodion_orderinfo .bottom-info .info span { color: #577bf3; }

/* 장바구니 스마트 오더 신청 완료 */
.header-logo span { display: none; }

.akl .confirm-box-message.type-a.font20 { font-size: 20px; }
.akl .confirm-box-message.type-a.font20 .block { display: inline-block; padding: 0; }
.noti_box { width: 352px; background-color: #f4f8fc; border-radius: 3px; text-align: center; padding: 12px 0 13px; color: #333; font-size: 13px; letter-spacing: -0.65px; line-height: 1.54; margin: 14px auto; }
.noti_box strong { color: #577bf3; font-weight: bold; }
.noti_box strong em { text-decoration: underline; }
.checkbox_get { margin-top: 12px; }
.checkbox_get label { color: #333 !important; font-weight: bold !important; font-size: 14px !important; letter-spacing: -0.7px !important; line-height: 1.43 !important; }
.checkbox_get .form_element-checkbox input[type='checkbox']:disabled + label { color: #008fc5 !important; font-weight: bold !important; font-size: 14px !important; letter-spacing: -0.7px !important; line-height: 1.43 !important; }
.checkbox_get input:checked + label { color: #008fc5 !important; }
.checkbox_get [class^="form_element-"] input:disabled + label:before, .akl .checkbox_get  [class^="form_element-"] input:disabled + label:before { border: 1px solid #ccc !important; background: #ededed !important; }
.shipping_delivery_st02 [type=checkbox]:checked+label::after { background: url('/_ui/responsive/theme-blue/images/akl_plp/p_sp-form.png') !important; background-size: 400px auto !important; background-repeat: no-repeat; background-position: -13px 0 !important; } /* 체크박스 '체크'표시 안보임 */
.confirm-box .icon-memo { background-image: url(../images/akl_cap2/icon_memo.png); background-position: 0 0; background-size: 64px 64px; background-size: 64px auto; width: 64px; height: 64px; }

@media (max-width: 768px) {
    .akl .confirm-box-message.type-a.font20 .block { display: block; padding: 0; }
    .noti_box-wrap { padding: 0 16px; }
    .noti_box { width: auto; }
    .header-logo { position: relative; }
    .header-logo span { display: block; position: absolute; top: 0; left: 84px; color: #fff !important; letter-spacing: -0.8px; font-size: 16px !important;}
}
/**** UT 개선사항 ****/
.no-paddings{ padding: 0 !important; }
.layer-area_container.with_pop_head.shipping_delivery_st02 .layer-area_content2{ padding-bottom: 240px; }
.new-payment .toolTip-wrapper.type-mob-full.toolTip-type02 .tipCont-wrapper .tooltip-content{ top: 33px; }
.shipping_delivery_st02 .gift_order.renew .point-cont .toolTip-wrapper.aClicks-noti-toolTip .tooltip-content{ top: -2px; padding-right: 22px; }
.shipping_delivery_st02 .gift_order.renew .point-cont .toolTip-wrapper.aClicks-noti-toolTip .tooltip-content .btn-close { position: absolute; top: 8px; right: 8px; width: 11px; height: 11px; background: 0; }
.shipping_delivery_st02 .gift_order.renew .point-cont .toolTip-wrapper.aClicks-noti-toolTip .tooltip-content .btn-close::before{ content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 100%; height: 1px; background: #333; }
.shipping_delivery_st02 .gift_order.renew .point-cont .toolTip-wrapper.aClicks-noti-toolTip .tooltip-content .btn-close::after{ content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg); width: 100%; height: 1px; background: #333; }
.shipping_delivery_st02 .accodion_box.accodion_addrinfo .accodion_box_cont .txtblock{ font-size: 13px; }
.shipping_delivery_st02 .accodion_box.accodion_addrinfo .accodion_box_cont .txtblock a{ color: #567bf3; text-decoration: underline; }
.apay-text{ display: flex; align-items: center; margin: 0 0 24px; font-size: 13px; font-weight: 500; color: #567bf3; letter-spacing: -.5px; }
.apay-text:hover, .apay-text:focus{ color: #567bf3; text-decoration: underline; }
.apay-text::before{ content: ''; display: block; width: 24px; height: 24px; margin-right: 2px; background: url(../images/akl_cap2/icon_apay_text.png) 0 0 no-repeat; background-size: 100% auto; }
.apay-text.apay-text--no-icon{ padding: 0; }
.apay-text.apay-text--no-icon::before{ content: none; }
.apay-text.no-paddings{ padding: 0; }
.about_a-pay .link, .apay-text.apay-text--no-icon .link{ display: flex; position: relative; margin-left: auto; padding: 0 16px 0 0; font-size: 12px; color: #808080; background: 0; font-weight: 400; }
.about_a-pay .link::after, .apay-text.apay-text--no-icon .link::after{ content: ''; display: block; position: absolute; top: 5px; right: 6px; width: 6px; height: 6px; border: 1px solid #808080; border-width: 1px 1px 0 0; transform: rotate(45deg); }
.shipping_delivery_st02 .sub-title-area span.sstit{ margin-top: 0; }
.shipping_delivery_st02 .card-method .sub-title-area{ display: flex; align-items: center; }
.shipping_delivery_st02 .card-method .sub-title-area .apay-text{ margin: 0 0 0 6px; }
.shipping_delivery_st02 .card-method .sub-title-area .bt-akl-white{ margin-left: auto; }
.about_a-pay.top-line{ align-items: center; }
.gift_order.renew .about_a-pay .toolTip-wrapper.open .btn-tooltip:after{ top: 20px; }
.akl .bankTransfer .card-swiper.swiper{ padding-bottom: 30px; }
.shipping_delivery_st02 .gift_order.renew .toolTip-wrapper.open .btn-tooltip:after{ background-position: 0; }

@media (max-width: 768px) {
    .shipping_delivery_st02 .gift_order.renew .toolTip-wrapper.aClicks-noti-toolTip .info{ text-align: left; }
    .shipping_delivery_st02 .gift_order.renew .point-cont .toolTip-wrapper.aClicks-noti-toolTip .tooltip-content{ top: -9px !important; width: calc(100% + 48px) !important; padding-right: 22px; }
    /* .new-payment .toolTip-wrapper.type-mob-full.toolTip-type02 .tipCont-wrapper .tooltip-content{ top: 12px !important; } */ /* 20220127 수정 */
    .apay-text{ padding: 0 15px; }
    .shipping_delivery_st02 .card-method .sub-title-area{ position: relative; }
    .shipping_delivery_st02 .card-method .sub-title-area .bt-akl-white{ position: absolute; top: 0; right: 0; }
    .shipping_delivery_st02 .card-method .sub-title-area .apay-text{ margin: 14px 0 0; padding: 0; }
    .shipping_delivery_st02 .card-method .sub-title-area{ flex-direction: column; align-items: flex-start; justify-content: flex-start; }
    .akl .bankTransfer .card-swiper.swiper{ padding-bottom: 20px; }
}


@media (min-width: 769px) {
    .card-swiper .swiper-slide{ padding: 0 !important; transform: scale(.9); opacity: .6; transition: all .3s ease; }
    .card-swiper .swiper-slide.swiper-slide-active{ transform: none; opacity: 1; }
    .akl .card-swiper .swiper-button-disabled{ display: block; opacity: .2; }
}

/* 간편결제 radio 수정 */
.payTab_cont_area.radio-type1 .amwa-radio+label:before { width: 20px; height: 20px; border-radius: 100%; border-color: #ccc; }
.payTab_cont_area.radio-type1 .amwa-radio:checked+label:before { border-color: #567bf3; background-color: #567bf3; }
.payTab_cont_area.radio-type1 .amwa-radio:checked+label:after { top: 5px; left: 5px; width: 10px; height: 10px; border-radius: 100%; background-color: #fff; }

/* 결제수단관리 수정 */
.btn_basic-b.btn_basic-b--apay{ width: 180px; height: 40px; font-size: 14px; font-weight: 700; }
@media (max-width: 768px) {
    .btn_basic-b.btn_basic-b--apay{ position: fixed; bottom: 0; left: 0; z-index: 999; width: 100%; height: 55px; color: #fff; font-weight: 700; }
}

/* 20211129 원클릭 체크아웃 수정 */
.shipping_delivery_st02 [type=checkbox]:checked+label::after{top:2px;left:2px;width:16px;height:16px;border:1px solid #567bf3;background-size:570px auto !important;background-position:-18px 2px !important}
.shipping_delivery_st02 [type=checkbox]:checked+label::before{border:1px solid #567bf3;}

/* 20211214 마이페이지 결제수단 관리 */
.payment-registered .title-area h3 span{font-weight:700}

/* 20220526 장스오 복사 작업건 css 추가 */
.noti_box.noti_box--new {font-size:14px; font-weight:bold;}
.noti_box.noti_box--new p {color:#54565a; font-size:13px; font-weight:normal;}

/* 20220712 A-Pay 자동이체 버튼 개선 작업 */
.card-method .about_a-pay .link {color:#567bf3; font-size:14px; font-weight:bold;}
.card-method .about_a-pay .link:after {right:4px; width:7px; height:7px; border-color:#567bf3; border-width:2px 2px 0 0;}	

/* 20221004 함께하면 좋은 제품 nav css 수정 */
@media (max-width:768px) {
    .owl-nav{display:block}
}