/* [디파이 수정] */
#myAccount .memeberInfo .no .idName {padding-top:16px; font-size: 20px; font-weight: 500; line-height: normal; letter-spacing: -1px; color:#465c71; }

/* 2021-05 로그인 시 토스트 팝업  */
/* 2021-05-12 토스트 팝업 24시간 보지 않기 기능 */
#loginToastPopup { position:absolute; right:18px; top:70px; width:222px; background-color: #fff;  border-radius: 5px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}
#loginToastPopup::before { position:absolute; top: -15px; right: 76px; content: ''; display: block; width: 34.2px; height: 15px; background: url("/_ui/responsive/theme-blue/images/akl_plp/image_member_login_arrow.png") no-repeat 0 0 / 34.2px 15px;}
#loginToastPopup .imageSection { width: 222px; height: 130px; }
#loginToastPopup .imageSection img { width: 100%; height: 100%; }
#loginToastPopup .bottomSection { position: relative; padding: 12.6px 14px 11.4px; }
#loginToastPopup .bottomSection .contents { font-size: 13px; font-weight: 500; line-height: 1.38; letter-spacing: -0.65px; color: #465c71; margin-bottom: 15px;}
#loginToastPopup .bottomSection .popup-btn-close-area { display: flex; }
#loginToastPopup .bottomSection .popup-btn-close-area a { display: inline-block; width: 50%; text-align: center; font-size: 12px; line-height: 32px; font-weight: bold; border: 1px solid #002f5f;}
#loginToastPopup .bottomSection .popup-btn-close-area a:first-child { margin-right: 3px; border: 1px solid; color: #002f5f; flex: 2;}
#loginToastPopup .bottomSection .popup-btn-close-area a:nth-child(2) { margin-left: 3px; color: #fff; background-color: #002f5f; flex: 1;}
/* 2021-05 로그인 시 토스트 팝업  */
/* 2021-05-12 토스트 팝업 24시간 보지 않기 기능 */

@media (max-width: 768px) {
    #myAccount .memeberInfo .no .idName {padding-top:16px; font-size: 20px; font-weight: 500; line-height: normal; letter-spacing: -1px; color: #ffffff; }
    #loginToastPopup { top:50px;}
    #loginToastPopup::before { right: 32px; }
}