@import url('common.css');
@import url('page-template.css');

.payment_box{text-align:center;}
.payment_box .txt_payment{padding:43px 0 33px;color:#fff;}
.payment_box .txt_payment.txt_01, .payment_box .txt_payment.txt_02{height:195px;}
.payment_box .txt_payment .txt_b{display:inline-block;font-weight:500;font-size:35px;}
.payment_box .txt_payment .txt_opacity{display:inline-block;font-weight:400;font-size:25px;color:#fff;line-height:1.25;opacity:0.7;}
.payment_box .txt_payment .txt_opacity_b{display:inline-block;font-weight:500;font-size:35px;color:#fff;line-height:1.25;opacity:0.7;}
.payment_box .txt_payment .txt_amount{display:inline-block;font-weight:700;font-size:25px;color:#fff;line-height:1.5;}
.payment_box .txt_payment .txt_pay_amount{font-weight:100;font-size:25px;color:#fff;line-height:1.5;}
.payment_box .txt_payment .txt_pay_amount span{font-weight:700;font-size:30px;}
.payment_box .btn_payment{position:absolute;left:50%;bottom:205px;z-index:40;width:256px;transform:translateX(-50%);}
.payment_box .btn_payment:before,
.payment_box .btn_payment:after{display:block;content:'';height:1px;background-color:#fff;opacity:0.3;}
.payment_box .btn_payment:before{margin-bottom:20px;}
.payment_box .btn_payment:after{margin-top:20px;}
.payment_box .btn_payment button{margin-bottom:2px;}
.payment_box .btn_payment button strong {font-weight:600}
.payment_box .btn_payment.single:before{display:none;}
.txt_request{font-weight:500;font-size:35px;color:#fff;}
.txt_request.credit{line-height:44px;}
.txt_request.wallet{line-height:54px;}
.txt_request.credit:before{display:block;content:'';height:107px;margin-bottom:62.5px;background:url('../images/img_credit_slider.png') no-repeat 50% 0;background-size:auto 100%;}
.txt_request.wallet:before{display:block;content:'';width:107px;height:107px;margin:0 auto 40px;border-radius:7px;background:url('../images/img_wallet.png') #fff no-repeat 50% 50%;background-size:75px auto;}

/* monthly */
.txt_notify_monthly{padding:68px 0 41px;font-size:35px;color:#333;line-height:1.2;}
.txt_notify_monthly strong{display:block;font-weight:500;font-size:60px;color:#2c2c2c;line-height:75px;}
.txt_notify_monthly strong span{font-weight:700;font-size:70px;color:#2d7fe4;}
.btn_monthly{font-size:0;}
/* 191204 : 버튼간격 수정 */
.btn_monthly > *{display:inline-block; width:33.3%; padding:5px 0 0 0; text-align:center;}
.btn_monthly button{width:174px;height:130px;font-size:25px;color:#0d3654;border:1px solid #0d3654;border-radius:3px;background-color:#fff;}
.btn_monthly > *:nth-child(3n+1){text-align:left;} 
.btn_monthly > *:nth-child(3n+3){text-align:right;}
.btn_monthly > *:nth-child(-n+3){padding-top:0;}
/*// 191204 : 버튼간격 수정 */

/* done : 2019-11-22 주문결제오류 추가 */
.txt_comment.print, .txt_comment.insert{margin:128px 0 31px;}
.txt_comment.insert p{margin-bottom:30px;}
.txt_comment_s.print, .txt_comment.insert{opacity:1;}
.txt_comment_s.print:before{display:block;content:'';width:140px;height:107px;margin:45px auto 45px;background:url('../images/img_receipt.png') no-repeat 0 0;background-size:100% 100%;}
.txt_comment.insert:after{display:block;content:'';width:140px;height:107px;margin:45px auto 45px;background:url('../images/ico_card_insert.png') no-repeat 0 0;background-size:100% 100%;}
.txt_comment_s.print .text, .txt_comment.insert .text{opacity:.7;}
.txt_comment.insert .text{line-height:1.2;}
.btn_payment_done{margin-top:150px;}

.purchase{display:flex;}
.purchase li{width:50%;position:relative;}
.purchase li:nth-child(even):before {display:block;content:'';position:absolute;left:0;top:0;width:2px;height:100%;background-color:#bcbcbc;}
.purchase li p{position:relative;padding-top:100px;font-size:24px;line-height:30px;color:#0d3654;letter-spacing:-1px;margin-bottom:18px;}
.purchase li p strong{font-weight:bold;}
.purchase li p::before{display:block;content:'';position:absolute;left:calc(50% - 38px);top:0;width:76px;height:89px;}
.purchase li:first-child p::before{background:url(../images/ico_bag_small.png) no-repeat 0 0;background-size:cover;}
.purchase li:last-child p::before{background:url(../images/ico_bag_big.png) no-repeat 0 0;background-size:cover;}