@import url('common.css');
@import url('page-template.css');

/* account */
.scan_btn_pay{position:relative;height:143px;}
.scan_btn_pay:before{display:block;content:'';position:absolute;left:0;top:0;z-index:10;width:184px;height:143px;background:url('../images/shadow_payment.png') no-repeat 0 0;background-size:cover;}
.scan_btn_pay button[class*='btn']{position:relative;z-index:20;}  /* 191204 : 수정 */
.scan_btn_pay .pointer{position:absolute;left:60px;top:102px;z-index:30;}
.info_account{display:flex;justify-content:space-between;position:relative;z-index:50;margin-top:27px;}
.info_scan{display:flex;justify-content:space-between;width:350px;height:124px;padding:18px 8px 15px 10px;border-top:2px solid #d1aacc;border-bottom:2px solid #d1aacc;}
.info_scan dt{display:flex;flex-direction:column;justify-content:space-between;position:relative;width:95px;color:#ffd5d5;}
.info_scan dt:before{display:inline-block;content:'';position:absolute;right:0;top:0;width:1px;height:87px;background-color:#d0a9cb;}
.info_scan dt .title{display:block;margin-top:-2px;font-size:20px;line-height:20px;}
.info_scan dt .count{display:block;font-size:50px;color:#ffd5d5;line-height:50px;}
.info_scan dd{width:211px;}
.info_scan dd .title{font-weight:400;font-size:15px;line-height:15px;}
.info_scan dd .amount{font-weight:700;font-size:13px;text-align:right;}
.info_scan dd ul{margin-top:-2px;}
.info_scan dd ul li{display:flex;justify-content:space-between;color:#fff;}
.info_scan dd ul li:first-child{height:53px;color:#ffd5d5;}
.info_scan dd ul li:first-child .title{font-size:20px;line-height:20px;}
.info_scan dd ul li:first-child .amount{font-weight:500;font-size:26px;line-height:20px;}
.info_scan dd ul li:last-child{padding-top:8px;}

/* list */
.scan_list_prd{position:relative;z-index:40;}
.scan_list_prd li{display:flex;justify-content:space-between;position:relative;height:41px;margin-top:1px;font-size:12px;color:#2c2c2c;text-align:center;border-radius:2px;overflow:hidden;}
.scan_list_prd li:first-child{height:40px;margin-top:0;font-weight:500;font-size:10px;background-color:#fff;}
.scan_list_prd li:first-child .cell{position:relative;}
.scan_list_prd li:first-child .cell:before{display:block;content:'';position:absolute;left:0;top:50%;width:1px;height:10px;margin-top:-5px;background-color:#bfbfbf;}
.scan_list_prd li:first-child .cell:first-child:before{display:none;}
.scan_list_prd li .cell{display:flex;flex-direction:column;justify-content:center;align-items:center;overflow:hidden;height:100%;/*white-space:nowrap;text-overflow:ellipsis;*/background-color:#fff;vertical-align:middle;} /* 1202 글씨 나오게 변경 */
.scan_list_prd li .cell:first-child{width:44px;}
.scan_list_prd li .cell:nth-child(2){width:76px;}
.scan_list_prd li .cell:nth-child(3){width:140px;}
.scan_list_prd li .cell:nth-child(4){width:49px;}
.scan_list_prd li .cell:nth-child(5){width:79px;}
.scan_list_prd li .cell:nth-child(6){width:81px;}
.scan_list_prd li .cell:nth-child(7){width:86px;border-radius:0 2px 2px 0;}
.scan_list_prd li .cell:nth-child(8){width:44px;padding-left:1px;background-color:transparent;}
.scan_list_prd li:first-child{}
.scan_list_prd th{position:relative;height:80px;font-weight:500;font-size:20px;color:#2c2c2c;background-color:#fff;}
.scan_list_prd th:before{display:block;content:'';position:absolute;left:0;top:31px;width:2px;height:20px;background-color:#bfbfbf;}
.scan_list_prd thead th:first-child{border-radius:4px 0 0 4px;}
.scan_list_prd thead th:first-child:before{display:none;}
.scan_list_prd thead th:last-child{border-radius:0 4px 4px 0;}
.scan_list_prd td{position:relative;height:82px;font-size:24px;color:#2c2c2c;text-align:center;background-color:#fff;}
.scan_list_prd .set_count{display:none;position:absolute;left:0;top:0;z-index:100;width:100%;height:100%;padding:5px 0 0 54px;font-size:0;border-radius:2px;background:rgba(0, 0, 0, .35);}
.scan_list_prd tbody td:first-child{border-radius:4px 0 0 4px;}
.scan_list_prd tbody td:last-child{background:none;padding-left:2px;}
.scan_list_prd tbody td:nth-last-child(2){border-radius:0 4px 4px 0;}
.scan_list_pic{position:relative;overflow:hidden;}
.bottom_swiper{position:absolute; bottom:10px; width:582px;}  /* 191203 수정 */
.bottom_swiper button{position:absolute;top:65px;z-index:20;width:50px;height:49px;border-radius:4px;box-shadow:0px 1px 10px 0 rgba(0, 0, 0, 0.3);background-image:url('../images/icon_next.png');background-repeat:no-repeat;background-position:50% 50%;background-color:rgba(255, 255, 255, 0.8);}
/* .bottom_swiper>button:focus, 191205 포커스 주석 */
.bottom_swiper button.swiper-button-disabled{display:none;}
.bottom_swiper .btn_prev_slide{left:-13px;transform:rotate(180deg);}
.bottom_swiper .btn_next_slide{right:-13px;}
.list_pic{display:flex;position:relative;z-index:10;}
.list_pic li{float:left;width:190px;height:190px;}
.list_pic li a{display:block;position:relative;width:190px;height:190px;}
.list_pic li a .nail{position:relative;z-index:10;width:100%;height:100%;}
.list_pic li .num{position:absolute;left:7px;top:7px;z-index:30;font-weight:500;font-size:12px;color:#2c2c2c;}
.list_pic li.failed_scan a:before{display:block;content:'';position:absolute;left:0;top:0;z-index:20;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.35);}
.list_pic li.failed_scan .num{z-index:1001; top:5px;font-weight:700;font-size:15px;color:#ffd5d5;} /* 191205 스캔실패 문구 상위로 보이게 수정 */
.list_pic li.failed_scan .num i{font-style:normal;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}
.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}

/* error */
.prd_error_swiper{position:relative;height:292px;margin-top:30px;text-align:center;border-top:2px solid #333;}
.prd_error_swiper .prd_error_list{overflow:hidden;padding-bottom:30px;}
.prd_error_swiper .prd_error_list li{position:relative;}
.prd_error_swiper .prd_error_list li:nth-child(even):before{display:block;content:'';position:absolute;left:0;top:0;width:2px;height:100%;background-color:#bcbcbc;}
.prd_error_swiper .title_swiper{height:69px;font-size:20px;color:#333;line-height:69px;}
.prd_error_swiper .nail{position:relative;width:160px;height:160px;margin:0 auto 10px;}
.prd_error_swiper .nail img{position:relative;z-index:1;width:100%;height:100%;}
.prd_error_swiper .nail .title{display:block;position:absolute;left:0;bottom:6px;z-index:2;width:100%;font-size:18px;color:#2c2c2c;background-color:rgba(255, 255, 255, .75);}
.prd_error_swiper .set_count button{box-shadow:none;}
.prd_error_swiper .set_count .prd_count_minus, .prd_error_swiper .set_count .prd_count_plus{width:31px;border:1px solid #0d3654;}
.prd_error_swiper .set_count .prd_count{width:31px;margin:0 2px;border:1px solid #787878;}
.prd_error_swiper .btn_prev_prd, .prd_error_swiper .btn_next_prd{position:absolute;top:144px;z-index:20;width:20px;height:38px;background:url('../images/icon_prev.png') no-repeat 0 0;background-size:100% 100%;}
.prd_error_swiper .btn_prev_prd{left:0;}
.prd_error_swiper .btn_next_prd{right:0;transform:rotate(180deg);}
.prd_error_swiper .swiper-button-disabled{display:none;}
.my_scan_list{border-top:2px solid #333333;}
.my_scan_list>ul li{display:flex;justify-content:space-between;align-items:center;min-height:31px;font-size:12px;}
.my_scan_list>ul li:first-child{font-weight:500;font-size:12px;}
.my_scan_list>ul li .cell{display:inline-block;text-align:center;height:100%;}
.my_scan_list>ul li .cell:first-child{width:63px;}
.my_scan_list>ul li .cell:nth-child(2){width:120px;}
.my_scan_list>ul li .cell:nth-child(3){width:40px;}
.my_scan_list>ul li .cell:nth-child(4){width:65px;}
.my_scan_list>ul li .cell:nth-child(5){width:75px;}
.my_scan_list>ul li .cell:nth-child(6){width:55px;}
.my_scan_list>ul li .cell:nth-child(7){width:41px;}
.my_scan_list>ul li .btn_delete{width:31px;height:31px;background-size:12px 12px;}
.my_scan_list .list_head li{height:37px;}
.my_scan_list .list_head li .cell{position:relative;padding:16px 0 10px;}
.my_scan_list .list_head li .cell:before{display:block;content:'';position:absolute;left:0;top:16px;width:1px;height:10px;background-color:#2c2c2c;}
.my_scan_list .list_head li .cell:first-child:before{display:none;}
.my_scan_list .list_body{overflow:auto;height:186px;}

/* paging */
.paging_prd{position:absolute; bottom:307px; height:44px;margin-top:2px;}  /* 191203 수정 */
.paging_prd .page_count{float:left;width:484px;height:100%; margin-right:15px; font-weight:500;font-size:16px;color:#fff;text-align:right;line-height:41px;border-bottom:1px solid #bebce6;}  /* 191203 수정 */
.paging_prd .page_btns{float:right;font-size:0;}
.paging_prd .page_btns button{width:41px;height:42px;border-radius:2px;background:url('../images/icon_up.png') #fff no-repeat 50% 50%;background-size:18px auto;}
.paging_prd .page_btns button:last-child{margin-left:1px;transform:rotate(180deg);}

/* plastic 191209 요청에 의한 위치변경 (self_payment -> self_product) */
.txt_question{padding:137px 0 110px;font-size:70px;color:#333;line-height:1.2;letter-spacing:-3.5px;}
.plastic.popup_inner{padding:0 50px 330px;}
.plastic ul.purchase{display:table; width:100%;}
.plastic ul.purchase li{display:table-cell; vertical-align:middle; height:430px;}
.plastic ul.purchase li:first-child{border-right:2px solid #ddd;}
.plastic ul.purchase li > p{margin-bottom:35px; padding-top:200px; font-size:48px; line-height:1.3; letter-spacing:-2.4px;}
.plastic ul.purchase li > p.small{background:url('../images/ico_bag_small.png') center top no-repeat;}
.plastic ul.purchase li > p.big{background:url('../images/ico_bag_big.png') center top no-repeat;}
.plastic ul.purchase li > p strong{font-weight:500;}
.plastic ul.purchase li .set_count button{width:105px; height:105px; font-size:40px; font-weight:500; margin:0 4px; border:2px solid #787878; box-shadow:none;}
.plastic ul.purchase li .set_count .prd_count_minus,
.plastic ul.purchase li .set_count .prd_count_plus{border:2px solid #0d3654;}
/*// plastic 191209 요청에 의한 위치변경 (self_payment -> self_product) */