<!DOCTYPE html>
<html lang="ko">
<head>
	<title>component group</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords">
	<meta name="description" content="NY Fee Bundle">
	<meta name="robots" content="index,follow">

	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-lib.css"><!-- 플러그인용 css : 2018.03.14 추가  -->
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/base.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-common-v2.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-account.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-shop.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-product-renewal.css">
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/jquery.min.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/bootstrap.datepicker.js"></script><!-- datepicker : 2018.03.19 추가  -->
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/owl.carousel.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/isotope.pkgd.js"></script><!-- gnb 플러그인 : 2018.03.23 추가  -->
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/select2.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/new.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/jquery.raty.min.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/akl_common.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/akl_contents.js"></script><!-- brand 통합 : 2018.08.24 추가  -->
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/akl_component.js"></script>
	<style>
		body {padding:20px}
		.top-area {background-color:#002f5f;margin:-20px -20px 0;padding:20px 20px 15px}
		.top-area p {text-align:center;color:#fff;font-size:30px}
		.tabs ul li {float:left}
		.tabs ul li a {position:relative;z-index:2;display:block;text-align:center;height:35px;width:35px;line-height:35px;font-weight:bold;color:#fff;font-size:13px;position:relative;font-family:'verdana';border-radius:50%;background-color:#253981}
		.tabs ul li ~ li {margin:0 0 0 5px}
		.tabs ul li a.active {z-index:3;background-color:#02cfdf}
		.tabs ul li a.active span {display:block}
		.tabs ul li a span {display:none;position:absolute;left:50%;top:30px;margin-left:-38px;width:76px;color:#333;background-color:#ffffff;border:1px solid #46675c;height:20px;line-height:18px;padding:0;border-radius:10px;white-space:nowrap;font-weight:normal;font-size:11px}

		.h1 {padding-left:10px;font-weight:bold;font-size:18px;color:#000;margin-bottom:10px;font-family:'verdana'}
		.h1 ~ .h1 {margin-top:50px}
		.h2 {background-color:#f1f1f1;margin:0 -20px 10px -20px;height:30px;line-height:30px;padding:0 20px;font-weight:bold;font-size:14px}
		.box_wrap {border:1px solid #ddd;padding:0 20px 0 20px;background-color:#fff}
		.type_view {padding-bottom:20px}
		.type_view .sbt {margin-bottom:5px;color:#333}
		.type_view .sbt ~ .sbt {margin-top:10px}
		.type_view.btn_view button {margin-right:20px}
		.type_view > .checkbox, .type_view > .radio {margin-right:15px}
		.spinor_area ~ .spinor_area {margin-top:10px}

		@media (max-width:700px) {
			.tabs .logo {display:none}
			.list_box_wrap {min-width:320px;padding:0 10px 10px 10px}
			.h1 {padding-left:0}
			.h2 {margin:0 0 10px 0;padding:0 10px}
			.box_wrap {border:1px solid #ddd;border-left:none;border-right:none;padding:0;margin:0 -20px}
		}
	</style>
</head>
<body class="akl renewal-fonts">
	<div class="top-area">
		<p>COMPONENT GROUP GUIDE</p>
	</div>
	<p class="h1">Smart order</p>
	<div class="box_wrap">
		<p class="h2">Smart order</p>
		<div class="type_view">
			<div class="box_smart-order">
				<a href="https://www.amway.co.kr/customer/cs/faq?categoryCode=CC040201" target="_parent" class="btn_square-c small">스마트 오더 가이드</a>
				<a href="/sop/list-profiles" class="btn_smart-order">나의 스마트오더 바로가기<i class="icon-chevron-right"></i></a>
			</div>
		</div>
	</div>

	<p class="h1">Sort</p>
	<div class="box_wrap">
		<p class="h2">List Sort</p>
		<div class="type_view">
			<div class="box_sort-area">
				<div class="sort_title-area">
					<span class="text_sort-tit">아티스트리 (8)</span>
					<span class="box_btn-cart"><button type="button" class="btn_basic-a" disabled>선택담기</button></span>
					<!-- S : 선물하기 기능이 있는 페이지 경우 추가 -->
					<span class="box_btn-gift"><button type="button" class="btn_basic-a" disabled>선물하기</button></span>
					<!-- E : 선물하기 기능이 있는 페이지 경우 추가 -->
				</div>
				<div class="box_sort-option">
					<div class="sort-options">
						<div class="sort-select">
							<span class="form_select-default">
								<select class="form_select">
									<option>높은 가격순</option>
									<option>최신순</option>
									<option>낮은가격순</option>
									<option>가나다순</option>
								</select>
								<i class="sp_form sp_select-default"></i>
							</span>
						</div>
						<div class="box_btn-cart"><button type="button" class="btn_basic-c" disabled>선택담기</button></div>
					</div>
					<div class="list_view-option">
						<button type="button" class="btn_square-d medium" id="mobileType"><i class="sp_button sp_button-list">정렬타입</i></button>
						<button type="button" class="btn_square-d medium active" id="ListType"><i class="sp_button sp_button-list">리스트형 보기</i></button>
						<button type="button" class="btn_square-d medium" id="ImageType"><i class="sp_button sp_button-image">이미지형 보기</i></button>
						<button type="button" class="btn_square-d medium" id="filterOpen"><i class="sp_button sp_button-filter">필터</i></button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p class="h1">Product</p>
	<div class="box_wrap">
		<p class="h2">Product</p>
		<div class="type_view">
			<div class="box_product product_list-type">
				<!-- S : product_item(회원) -->
				<div class="product_item">
					<div class="product_col-form">
						<span class="form_element-checkbox no_label">
							<input type="checkbox" id="checkbox1">
							<label for="checkbox1" class="sp_chk focus">선택</label>
						</span>
					</div>
					<div class="product_col-summery">
						<div class="box_product-summery">
							<div class="summery_col-thumb"><a href="" class="link_product"><img src="/_ui/responsive/theme-blue/images/akl_product/beauty/visual_top_1181.png"></a></div>
							<div class="summery_col-info">
								<a href="" class="link_product">
									<div class="flag_wrap">
										<span class="flag_item-new">신제품</span>
										<span class="flag_item-promotion">프로모션</span>
									</div>
									<div class="product_text-data">
										<p class="text_product-title">하이드라-브이 쉬어 라이트 파운데이션 [SPF15, PA++] - 샤블리 </p>
										<div class="box_product-info">
											<div class="product_sub-data">
												<div class="sub_data-title">VPS / SKU</div>
												<div class="sub_data-contents">2002 / 294460L</div>
											</div>
											<div class="product_sub-data">
												<div class="sub_data-title">PV / BV</div>
												<div class="sub_data-contents">940,090,000 / 148,100,000</div>
											</div>
										</div>
									</div>
									<div class="text_product-price">
										<div class="price_title">가격</div>
										<div class="price_contents"><span class="text_price-data">10,220,000</span>원</div>
									</div>
								</a>
								<div class="hash_tag-wrap">
									<a href="" class="hash_tag-item">#여성선물베스트</a>
									<a href="" class="hash_tag-item">#holidaypresentformom</a>
									<a href="" class="hash_tag-item">#환절기템</a>
									<a href="" class="hash_tag-item">#어버이날</a>
								</div>
								<div class="box_spinor box_spinor-mobile">
									<div class="spinor_area">
										<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
										<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
										<input type="text" class="form_input">
									</div>
									<button type="button" class="btn_circle-a"><i class="sp_button sp_button-cart">카트담기</i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="product_col-spinor">
						<div class="spinor_area">
							<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
							<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
							<input type="text" class="form_input">
						</div>
						<div class="box_buttons">
							<div class="btn_area">
								<span class="btn_col"><button type="button" class="btn_basic-b">바로구매</button></span>
								<span class="btn_col"><button type="button" class="btn_basic-b">장바구니</button></span>
							</div>
						</div>
					</div>
					<div class="product_col-option">
						<div class="box_select buy_option">
							<div class="box_select-item">
								<button type="button" class="select_item select_item-selected">
									<span class="select_item-wrap option_selected js-data">상품 구매옵션 선택</span>
									<i class="sp_form sp_dropbox-b"></i>
								</button>
								<input type="hidden" value="" title="상품 옵션값">
								<ul class="select_list">
									<li class="select_list-item selected">
										<button type="button" class="select_item">
											<span class="select_item-wrap">선물하기</span>
										</button>
									</li>
									<!--20201112 마아팩담기 삭제-->
									<!--li class="select_list-item">
										<button type="button" class="select_item open-mypack">
											<span class="select_item-wrap">마이팩 담기</span>
										</button>
									</li-->
									<li class="select_list-item">
										<button type="button" class="select_item open-wishlist">
											<span class="select_item-wrap">위시리스트</span>
										</button>
									</li>
									<li class="select_list-item">
										<button type="button" class="select_item">
											<span class="select_item-wrap">정기주문추가</span>
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hash_tag-wrap hash_tag-mobile">
						<a href="" class="hash_tag-item">#여성선물베스트</a>
						<a href="" class="hash_tag-item">#holidaypresentformom</a>
						<a href="" class="hash_tag-item">#환절기템</a>
						<a href="" class="hash_tag-item">#어버이날</a>
					</div>
				</div>
				<!-- E : product_item(회원) -->
				<!-- S : product_item(품절) -->
				<div class="product_item">
					<div class="product_col-form">
						<span class="form_element-checkbox no_label">
							<input type="checkbox" id="checkbox5" disabled>
							<label for="checkbox5" class="sp_chk focus">선택</label>
						</span>
					</div>
					<div class="product_col-summery">
						<div class="box_product-summery">
							<div class="summery_col-thumb"><a href="" class="link_product"><img src="/_ui/responsive/theme-blue/images/akl_product/beauty/visual_top_1181.png"></a></div>
							<div class="summery_col-info">
								<a href="" class="link_product">
									<div class="flag_wrap">
										<span class="flag_item-new">신제품</span>
										<span class="flag_item-soldout">일시품절</span>
									</div>
									<div class="product_text-data">
										<p class="text_product-title">하이드라-브이 쉬어 라이트 파운데이션 [SPF15, PA++] - 샤블리 </p>
										<div class="box_product-info">
											<div class="product_sub-data">
												<div class="sub_data-title">VPS / SKU</div>
												<div class="sub_data-contents">2002 / 294460L</div>
											</div>
											<div class="product_sub-data">
												<div class="sub_data-title">PV / BV</div>
												<div class="sub_data-contents">940,090,000 / 148,100,000</div>
											</div>
										</div>
									</div>
									<div class="text_product-price">
										<div class="price_title">가격</div>
										<div class="price_contents"><span class="text_price-data">10,220,000</span>원</div>
									</div>
								</a>
								<div class="hash_tag-wrap">
									<a href="" class="hash_tag-item">#여성선물베스트</a>
									<a href="" class="hash_tag-item">#holidaypresentformom</a>
									<a href="" class="hash_tag-item">#환절기템</a>
									<a href="" class="hash_tag-item">#어버이날</a>
								</div>
								<div class="box_spinor box_spinor-mobile">
									<div class="spinor_area">
										<button type="button" class="btn_spinor-minus" disabled><span class="txt_hide">감소</span></button>
										<button type="button" class="btn_spinor-plus" disabled><span class="txt_hide">증가</span></button>
										<input type="text" class="form_input" disabled value="0">
									</div>
									<button type="button" class="btn_circle-a" disabled><i class="sp_button sp_button-cart">카트담기</i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="product_col-spinor">
						<div class="spinor_area">
							<button type="button" class="btn_spinor-minus" disabled><span class="txt_hide">감소</span></button>
							<button type="button" class="btn_spinor-plus" disabled><span class="txt_hide">증가</span></button>
							<input type="text" class="form_input" disabled value="0">
						</div>
						<div class="box_buttons">
							<div class="btn_area">
								<span class="btn_col"><button type="button" class="btn_basic-b" disabled>바로구매</button></span>
								<span class="btn_col"><button type="button" class="btn_basic-b" disabled>장바구니</button></span>
							</div>
						</div>
					</div>
					<div class="product_col-option">
						<div class="box_select buy_option">
							<div class="box_select-item">
								<button type="button" class="select_item select_item-selected" disabled>
									<span class="select_item-wrap option_selected js-data">상품 구매옵션 선택</span>
									<i class="sp_form sp_dropbox-b"></i>
								</button>
								<input type="hidden" value="" title="상품 옵션값">
								<ul class="select_list">
									<li class="select_list-item selected">
										<button type="button" class="select_item">
											<span class="select_item-wrap">선물하기</span>
										</button>
									</li>
									<!--20201112 마아팩담기 삭제-->
									<!--li class="select_list-item">
										<button type="button" class="select_item open-mypack">
											<span class="select_item-wrap">마이팩 담기</span>
										</button>
									</li-->
									<li class="select_list-item">
										<button type="button" class="select_item open-wishlist">
											<span class="select_item-wrap">위시리스트</span>
										</button>
									</li>
									<li class="select_list-item">
										<button type="button" class="select_item">
											<span class="select_item-wrap">정기주문추가</span>
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="hash_tag-wrap hash_tag-mobile">
						<a href="" class="hash_tag-item">#여성선물베스트</a>
						<a href="" class="hash_tag-item">#holidaypresentformom</a>
						<a href="" class="hash_tag-item">#환절기템</a>
						<a href="" class="hash_tag-item">#어버이날</a>
					</div>
				</div>
				<!-- E : product_item(품절) -->
				<!-- S : product_item(SOP-회원&멤버) -->
				<div class="product_item">
					<div class="product_col-form">
						<span class="form_element-checkbox no_label">
							<input type="checkbox" id="checkbox3">
							<label for="checkbox3" class="sp_chk focus">선택</label>
						</span>
					</div>
					<div class="product_col-summery">
						<div class="box_product-summery">
							<div class="summery_col-thumb"><a href="" class="link_product"><img src="/_ui/responsive/theme-blue/images/akl_product/beauty/visual_top_1181.png"></a></div>
							<div class="summery_col-info">
								<a href="" class="link_product">
									<div class="flag_wrap">
										<span class="flag_item-new">신제품</span>
										<span class="flag_item-smart">스마트오더</span>
									</div>
									<div class="product_text-data">
										<p class="text_product-title">하이드라-브이 쉬어 라이트 파운데이션 [SPF15, PA++] - 샤블리 </p>
										<div class="box_product-info">
											<div class="product_sub-data">
												<div class="sub_data-title">VPS / SKU</div>
												<div class="sub_data-contents">2002 / 294460L</div>
											</div>
											<div class="product_sub-data">
												<div class="sub_data-title">PV / BV</div>
												<div class="sub_data-contents">940,090,000 / 148,100,000</div>
											</div>
										</div>
									</div>
									<div class="text_product-price">
										<div class="price_title">가격</div>
										<div class="price_contents"><span class="text_price-data">10,220,000</span>원</div>
									</div>
								</a>
								<!-- S : hash tag 없을 경우
								<div class="hash_tag-wrap">
									<a href="" class="hash_tag-item">#여성선물베스트</a>
									<a href="" class="hash_tag-item">#holidaypresentformom</a>
									<a href="" class="hash_tag-item">#환절기템</a>
									<a href="" class="hash_tag-item">#어버이날</a>
								</div>
								E : hash tag 없을 경우 -->
								<div class="box_spinor box_spinor-mobile">
									<div class="spinor_area">
										<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
										<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
										<input type="text" class="form_input">
									</div>
									<button type="button" class="btn_circle-a"><i class="sp_button sp_button-smart">스마트오더</i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="product_col-spinor">
						<div class="spinor_area">
							<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
							<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
							<input type="text" class="form_input">
						</div>
						<div class="box_buttons">
							<div class="btn_area">
								<span class="btn_col"><button type="button" class="btn_basic-b">주문추가</button></span>
							</div>
						</div>
					</div>
					<!-- S : hash tag 없을 경우
					<div class="hash_tag-wrap hash_tag-mobile">
						<a href="" class="hash_tag-item">#여성선물베스트</a>
						<a href="" class="hash_tag-item">#holidaypresentformom</a>
						<a href="" class="hash_tag-item">#환절기템</a>
						<a href="" class="hash_tag-item">#어버이날</a>
					</div>
					E : hash tag 없을 경우 -->
				</div>
				<!-- E : product_item(SOP-회원&멤버) -->
				<!-- S : product_item(SOP-비회원) -->
				<div class="product_item">
					<div class="product_col-form">
						<span class="form_element-checkbox no_label">
							<input type="checkbox" id="checkbox4">
							<label for="checkbox4" class="sp_chk focus">선택</label>
						</span>
					</div>
					<div class="product_col-summery">
						<div class="box_product-summery">
							<div class="summery_col-thumb"><a href="" class="link_product"><img src="/_ui/responsive/theme-blue/images/akl_product/beauty/visual_top_1181.png"></a></div>
							<div class="summery_col-info">
								<a href="" class="link_product">
									<div class="flag_wrap">
										<span class="flag_item-smart">스마트오더</span>
										<span class="flag_item-installment">10개월무이자</span>
									</div>
									<div class="product_text-data">
										<p class="text_product-title">하이드라-브이 쉬어 라이트 파운데이션 [SPF15, PA++] - 샤블리 </p>
									</div>
									<div class="text_product-price">
										<div class="price_title">가격</div>
										<div class="price_contents"><span class="text_price-data">10,220,000</span>원</div>
									</div>
								</a>
								<div class="hash_tag-wrap">
									<a href="" class="hash_tag-item">#여성선물베스트</a>
									<a href="" class="hash_tag-item">#holidaypresentformom</a>
									<a href="" class="hash_tag-item">#환절기템</a>
									<a href="" class="hash_tag-item">#어버이날</a>
								</div>
								<div class="box_spinor box_spinor-mobile">
									<div class="spinor_area">
										<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
										<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
										<input type="text" class="form_input">
									</div>
									<button type="button" class="btn_circle-a"><i class="sp_button sp_button-smart">스마트오더</i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="product_col-spinor">
						<div class="spinor_area">
							<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
							<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
							<input type="text" class="form_input">
						</div>
						<div class="box_buttons">
							<div class="btn_area">
								<span class="btn_col"><button type="button" class="btn_basic-b">주문추가</button></span>
							</div>
						</div>
					</div>
					<div class="hash_tag-wrap hash_tag-mobile">
						<a href="" class="hash_tag-item">#여성선물베스트</a>
						<a href="" class="hash_tag-item">#holidaypresentformom</a>
						<a href="" class="hash_tag-item">#환절기템</a>
						<a href="" class="hash_tag-item">#어버이날</a>
					</div>
				</div>
				<!-- E : product_item(SOP-비회원) -->
				<!-- S : product_item(멤버) -->
				<div class="product_item">
					<div class="product_col-form">
						<span class="form_element-checkbox no_label">
							<input type="checkbox" id="checkbox6">
							<label for="checkbox6" class="sp_chk focus">선택</label>
						</span>
					</div>
					<div class="product_col-summery">
						<div class="box_product-summery">
							<div class="summery_col-thumb"><a href="" class="link_product"><img src="/_ui/responsive/theme-blue/images/akl_product/beauty/visual_top_1181.png"></a></div>
							<div class="summery_col-info">
								<a href="" class="link_product">
									<!-- S : flag 없을 경우
									<div class="flag_wrap">
										<span class="flag_item-new">신제품</span>
										<span class="flag_item-install">설치제품</span>
									</div>
									E : flag 없을 경우 -->
									<div class="product_text-data">
										<p class="text_product-title">하이드라-브이 쉬어 라이트 파운데이션 [SPF15, PA++] - 샤블리 </p>
										<div class="box_product-info">
											<div class="product_sub-data">
												<div class="sub_data-title">VPS / SKU</div>
												<div class="sub_data-contents">2002 / 294460L</div>
											</div>
											<div class="product_sub-data">
												<div class="sub_data-title">PV / BV</div>
												<div class="sub_data-contents">940,090,000 / 148,100,000</div>
											</div>
										</div>
									</div>
									<div class="text_product-price">
										<div class="price_title">가격</div>
										<div class="price_contents"><span class="text_price-data">10,220,000</span>원</div>
									</div>
								</a>
								<div class="hash_tag-wrap">
									<a href="" class="hash_tag-item">#여성선물베스트</a>
									<a href="" class="hash_tag-item">#holidaypresentformom</a>
									<a href="" class="hash_tag-item">#환절기템</a>
									<a href="" class="hash_tag-item">#어버이날</a>
								</div>
								<div class="box_spinor box_spinor-mobile">
									<div class="spinor_area">
										<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
										<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
										<input type="text" class="form_input">
									</div>
									<button type="button" class="btn_circle-a"><i class="sp_button sp_button-cart">카트담기</i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="product_col-spinor">
						<div class="spinor_area">
							<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
							<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
							<input type="text" class="form_input">
						</div>
						<div class="box_buttons">
							<div class="btn_area">
								<span class="btn_col"><button type="button" class="btn_basic-b">바로구매</button></span>
								<span class="btn_col"><button type="button" class="btn_basic-b">장바구니</button></span>
							</div>
						</div>
					</div>
					<div class="hash_tag-wrap hash_tag-mobile">
						<a href="" class="hash_tag-item">#여성선물베스트</a>
						<a href="" class="hash_tag-item">#holidaypresentformom</a>
						<a href="" class="hash_tag-item">#환절기템</a>
						<a href="" class="hash_tag-item">#어버이날</a>
					</div>
				</div>
				<!-- E : product_item(멤버) -->
				<!-- S : product_item(비회원) -->
				<div class="product_item">
					<div class="product_col-form">
						<span class="form_element-checkbox no_label">
							<input type="checkbox" id="checkbox2">
							<label for="checkbox2" class="sp_chk focus">선택</label>
						</span>
					</div>
					<div class="product_col-summery">
						<div class="box_product-summery">
							<div class="summery_col-thumb"><a href="" class="link_product"><img src="/_ui/responsive/theme-blue/images/akl_product/beauty/visual_top_1181.png"></a></div>
							<div class="summery_col-info">
								<a href="" class="link_product">
									<!-- S : flag 없을 경우
									<div class="flag_wrap">
										<span class="flag_item-new">신제품</span>
										<span class="flag_item-install">설치제품</span>
									</div>
									E : flag 없을 경우 -->
									<div class="product_text-data">
										<p class="text_product-title">하이드라-브이 쉬어 라이트 파운데이션 [SPF15, PA++] - 샤블리 </p>
									</div>
									<div class="text_product-price">
										<div class="price_title">가격</div>
										<div class="price_contents"><span class="text_price-data">10,220,000</span>원</div>
									</div>
								</a>
								<div class="hash_tag-wrap">
									<a href="" class="hash_tag-item">#여성선물베스트</a>
									<a href="" class="hash_tag-item">#holidaypresentformom</a>
									<a href="" class="hash_tag-item">#환절기템</a>
									<a href="" class="hash_tag-item">#어버이날</a>
								</div>
								<div class="box_spinor box_spinor-mobile">
									<div class="spinor_area">
										<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
										<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
										<input type="text" class="form_input">
									</div>
									<button type="button" class="btn_circle-a"><i class="sp_button sp_button-cart">카트담기</i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="product_col-spinor">
						<div class="spinor_area">
							<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
							<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
							<input type="text" class="form_input">
						</div>
						<div class="box_buttons">
							<div class="btn_area">
								<span class="btn_col"><button type="button" class="btn_basic-b">바로구매</button></span>
								<span class="btn_col"><button type="button" class="btn_basic-b">장바구니</button></span>
							</div>
						</div>
					</div>
					<div class="hash_tag-wrap hash_tag-mobile">
						<a href="" class="hash_tag-item">#여성선물베스트</a>
						<a href="" class="hash_tag-item">#holidaypresentformom</a>
						<a href="" class="hash_tag-item">#환절기템</a>
						<a href="" class="hash_tag-item">#어버이날</a>
					</div>
				</div>
				<!-- E : product_item(비회원) -->
				<!-- S : 재입고 알림 상품 -->
				<div class="product_item">
					<div class="product_col-form">
						<span class="form_element-checkbox no_label">
							<input type="checkbox" id="checkbox5" disabled>
							<label for="checkbox5" class="sp_chk focus">선택</label>
						</span>
					</div>
					<div class="product_col-summery">
						<div class="box_product-summery">
							<!-- S : 20231013 일시품절된 제품의 재입고 알림 기능 추가 작업 -->
							<div class="summery_col-thumb summery_col-thumb-soldout"><!-- to 개발 | sold out 제품일 경우에 클래스 추가(summery_col-thumb-soldout) -->
								<a href="" class="link_product">
									<img src="/_ui/responsive/theme-blue/images/akl_product/beauty/visual_top_1181.png">
								</a>
							</div>
							<!-- E : 20231013 일시품절된 제품의 재입고 알림 기능 추가 작업 -->
							<div class="summery_col-info">
								<a href="" class="link_product">
									<div class="flag_wrap">
										<span class="flag_item-new">신제품</span>
										<span class="flag_item-soldout">일시품절</span>
									</div>
									<div class="product_text-data">
										<p class="text_product-title">하이드라-브이 쉬어 라이트 파운데이션 [SPF15, PA++] - 샤블리 </p>
										<div class="box_product-info">
											<div class="product_sub-data">
												<div class="sub_data-title">VPS / SKU</div>
												<div class="sub_data-contents">2002 / 294460L</div>
											</div>
											<div class="product_sub-data">
												<div class="sub_data-title">PV / BV</div>
												<div class="sub_data-contents">940,090,000 / 148,100,000</div>
											</div>
										</div>
									</div>
									<div class="text_product-price">
										<div class="price_title">가격</div>
										<div class="price_contents"><span class="text_price-data">10,220,000</span>원</div>
									</div>
								</a>
								<div class="hash_tag-wrap">
									<a href="" class="hash_tag-item">#여성선물베스트</a>
									<a href="" class="hash_tag-item">#holidaypresentformom</a>
									<a href="" class="hash_tag-item">#환절기템</a>
									<a href="" class="hash_tag-item">#어버이날</a>
								</div>
								<div class="box_spinor box_spinor-mobile">
									<div class="spinor_area">
										<button type="button" class="btn_spinor-minus" disabled><span class="txt_hide">감소</span></button>
										<button type="button" class="btn_spinor-plus" disabled><span class="txt_hide">증가</span></button>
										<input type="text" class="form_input" disabled value="0">
									</div>
									<!-- S : 20231013 일시품절된 제품의 재입고 알림 기능 추가 작업 -->
									<button type="button" class="btn_circle-a" data-layer="pop_restock_notify">
										<i class="sp_button sp_button-restocked">재입고 알림</i>
									</button>
									<!-- E : 20231013 일시품절된 제품의 재입고 알림 기능 추가 작업 -->
								</div>
							</div>
						</div>
					</div>
					<div class="product_col-spinor">
						<div class="spinor_area">
							<button type="button" class="btn_spinor-minus" disabled><span class="txt_hide">감소</span></button>
							<button type="button" class="btn_spinor-plus" disabled><span class="txt_hide">증가</span></button>
							<input type="text" class="form_input" disabled value="0">
						</div>
						<!-- S : 20231013 일시품절된 제품의 재입고 알림 기능 추가 작업 -->
						<div class="box_buttons">
							<div class="btn_area">
								<span class="btn_col">
									<button type="button" class="btn_basic-b btn_restock" data-layer="pop_restock_notify"><i class="sp_button sp_button-restocked">재입고 알림</i></button>
								</span>
							</div>
						</div>
						<!-- E : 20231013 일시품절된 제품의 재입고 알림 기능 추가 작업 -->
					</div>
					<div class="hash_tag-wrap hash_tag-mobile">
						<a href="" class="hash_tag-item">#여성선물베스트</a>
						<a href="" class="hash_tag-item">#holidaypresentformom</a>
						<a href="" class="hash_tag-item">#환절기템</a>
						<a href="" class="hash_tag-item">#어버이날</a>
					</div>
				</div>
				<!-- E : 재입고 알림 상품 -->
			</div>
		</div>
	</div>

	<div id="loadLayer1"></div><!-- 20231013 재입고알림 팝업 -->

	<script>
		/* S : 20231013 일시품절된 제품의 재입고 알림 기능 추가 작업 */
		$(function () {
			// 레이어 오픈 함수 호출
			AMWAY.callLayer();
		});

		$('#loadLayer1').load( '/_ui/responsive/html/include/pop_restock_notify.html'); // 재입고알림 팝업
		/* E : 20231013 일시품절된 제품의 재입고 알림 기능 추가 작업 */
	</script>
</body>
</html>
