@import url('common.css');
@import url('page-template.css');

/* ready */
.btn_selfcheck{position:absolute;left:0;top:0;width:100%;height:100%;background:url('../images/bg_standby.png') no-repeat 0 0;background-size:100% auto;}
.btn_selfcheck .text{display:block;position:absolute;left:0;bottom:0;z-index:1;width:100%;height:221px;padding-top:35px;font-size:39px;color:#fff;line-height:48px;background:url('../images/bg_btn_selfcheck.png') no-repeat 0 0;background-size:100% 100%;}
.btn_selfcheck .text:before{display:block;content:'';position:absolute;left:50%;top:-180px;/*width:309px;height:340px;*/width:155px;height:170px;margin-left:-77px;background:url('../images/ico_hand.png') no-repeat 0 0;background-size:155px 170px;}
.btn_selfcheck .text:after{display:block;content:'amway';position:absolute;left:50%;bottom:22px;width:97px;height:33px;font-size:0;background:url('../images/logo_amway.png') no-repeat 0 0;background-size:100% 100%;margin-left:-48px;}
.btn_selfcheck .text em{font-weight:700;color:#3ed6fe;}
.btn_selfcheck .text:before{animation: blink_hand 1s steps(2, start) infinite;-webkit-animation: blink_hand 1s steps(2, start) infinite;}
@keyframes blink_hand{to {visibility: hidden;}}
@-webkit-keyframes blink_hand{to {visibility: hidden;}}

/* popup guide */
.popup_guide_swiper{position:relative;overflow:hidden;width:720px;height:1153px;margin:0 auto;} /* 191128 수정 */
.popup_guide_swiper .scan_ready_guide{height:100%;}
.popup_guide_swiper .list_guide{position:relative;height:100%;z-index:10;display:flex;transition-property:transform;box-sizing: content-box;}
.popup_guide_swiper .list_guide li{
  display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;
  -webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;
  flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;}
.btn_prev_guide,
.btn_next_guide{position:absolute;top:50%;z-index:20;width:20px;height:39px;margin-top:-10px;background:url('../images/icon_prev.png') no-repeat 0 0;background-size:100% 100%;}
.btn_prev_guide{left:60px;}
.btn_next_guide{right:60px;transform:rotate(180deg);}
.btn_prev_guide.swiper-button-disabled, .btn_next_guide.swiper-button-disabled{display:none;}
.swiper-pagination{position:absolute;left:0;top:260px;z-index:20;width:100%;font-size:0;text-align:center;}  /* 191128 수정 */
.swiper-pagination .swiper-pagination-bullet{display:inline-block;width:13px;height:13px;margin:0 5px;border-radius:50%;background-color:#ddd;}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:#2d7fe4;}

/* renewal popup */
#scan_container.renewal-popup {position:relative;padding:15px;background:url('../images/new_popup-bg.png') no-repeat 0 0;background-size:cover;}
.renewal-popup .new_temp-bg {position:absolute;left:0;top:0;width:100%;height:100%;font-size:0;background:url('../images/new_temp-img.png') no-repeat 0 0}
.renewal-popup .popup_full {padding:13px 8px 0;width:578px;height:1050px;}
.renewal-popup .popup_guide_swiper {width:495px;height:630px;}
.renewal-popup .popup_guide_swiper .list_guide li {display:block;text-align:center}
.renewal-popup .renewal_guide-area .swiper-img img {width:495px;}
.renewal-popup .renewal_guide-area .guide-step {margin:5px 0 10px;font-size:25px;color:#999;letter-spacing:-1.25px}
.renewal-popup .renewal_guide-area .guide-txt {line-height:38px;font-size:28px;font-weight:500;letter-spacing:-1.4px;color:#333}
.renewal-popup .btn_pop_bottom {padding:0 0 32px}
.renewal-popup .swiper-pagination {top:auto;bottom:380px}
.renewal-popup .btn_prev_guide {left:25px}
.renewal-popup .btn_next_guide {right:25px}

#scan_container.renewal_index-popup .btn_howto,
#scan_container.renewal_index-popup .btn_call {box-shadow:none;-webkit-box-shadow:none}
#scan_container.renewal_index-popup:after {content:'';display:block;width:877px;height:732px;position:absolute;right:0;top:0;background:url('../images/bg_dim-standby.png') no-repeat 0 0}
