/* [디파이 수정] 210527 파일 생성 */
/* SOP */
.sop-delivery .qty-selector-container {display: flex; flex-direction: column;}
.akl .sop-delivery .qty-selector-container {margin: 0 0 24px;}
.akl .sop-normal ul.exc-mark {background-position: 5px 3px; background-size: 20px;}
.akl .sop-normal ul.exc-mark li {padding: 3px 0 4px 38px; color: #999;}
.akl .pdp-info .product-main-info .page-details-add-to-cart-component .addtocart-component .js-qty-selector input {height: 40px;}
.akl .pdp-info .product-main-info .page-details-add-to-cart-component .addtocart-component.sop-normal .js-qty-selector .qty-selector-container label {margin-top: 7px;}
.akl .pdp-info .product-main-info .page-details-add-to-cart-component .addtocart-component.sop-delivery .js-qty-selector input {font-size: 12px !important; color: #333;}
.akl .pdp-info .product-main-info .page-details-add-to-cart-component .addtocart-component.sop-delivery .js-qty-selector label {font-size: 16px; color: #333;}
.akl .pdp-info .product-main-info .page-details-add-to-cart-component .addtocart-component.sop-delivery .js-qty-selector .sop-freeitem label {font-size: 14px; font-weight: normal;}
.akl .add_to_cart_form.type1 .sop-delivery-btn-pc {height: 60px; line-height: 59px; border: 1px solid #597ce3; background-color: #fff; font-size: 16px; color: #597ce3;}
.akl .add_to_cart_form.type1 .sop-delivery-btn-pc:focus {background-color: white !important;}
.akl .add_to_cart_form.type1 .sop-delivery-btn-pc:hover {background-color: #002f5f !important;}
.akl .pdp-info .product-main-info .page-details-add-to-cart-component .addtocart-component.sop-delivery .js-qty-selector .new-order label {font-size: 13px; font-weight: 500; line-height: 1.7; letter-spacing: -0.5px; color: #54565a;}
.akl .sop-normal .mark-box {margin: 0;}

.sop-freeitem .select_list {display: none; margin: 0; padding: 0 0 12px; border: none; border-radius: 0; background-color: #f9f9f9;}
.sop-freeitem .select_list-item {padding: 12px 0 0;}
.sop-freeitem .select_item-text {font-size: 14px; color: #666;}
.order-select.on .select_list {overflow-y: auto; max-height: 440px;}

.sop-delivery-pop-pc .smart__price {margin: 10px 0 0;}
.delivery-pop-body {overflow-y: auto; max-height: 674px; padding: 40px 0 0; background-color: #fff;} /* [디파이 수정] 210705 윈도우에서 팝업 높이가 잘리는 이슈 */
.sop-ico {position: relative; top: 11px; left: -6px; display: inline-block; width: 35px; height: 35px; background: url('/_ui/responsive/theme-blue/images/smart-ico.png') 50% / cover no-repeat;}
.akl .add_to_cart_form.type1 {display: flex;}
.add_to_cart_form.type1 button { flex:1; margin-right: 6px !important; }
.add_to_cart_form.type1 button:last-of-type { margin-right: 0 !important; }

@media (max-width: 768px){
	.akl .addtocart-component.sop-delivery .qty-selector select.form-control {width: 100%; height: 41px; font-size: 14px !important;}

	.sop-freeitem {margin-bottom: 0;}
	.sop-freeitem .select_item-text {padding: 0 6px 0 0; max-width: 270px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

	.sop-delivery-pop-pc {transition:all .4s ease-in-out;position:fixed;transform:translateY(100%);bottom:0; width:100%; border-radius:10px 10px 0 0;outline:0;z-index:10000;}
	.sop-delivery-pop-pc.active {transform:translateY(0)}
	.sop-delivery-pop-pc.active .layerBox {bottom: 0;}
	.sop-delivery-pop-pc [class*=col-] {padding: 0 15px;}
	.sop-delivery-pop-pc .delivery-pop-body {height: 80vh;}
	.sop-delivery-btn-mo {position: relative; padding: 26px 0 0; border-top: 1px solid #999 !important; border-left: 1px solid #999 !important; background-color: #fff; color: #597ce3;}
	.sop-delivery-btn-mo:focus::after { position: absolute; top: 0; content: ''; display: block; width: 70px; height: 55px; background-color: rgb(0, 0, 0, 0.02);}
	.sop-ico {position: absolute; top: 2px; left: 18px;}
	.sop-delivery-pop-inner {overflow: auto; position: relative; max-height: 600px; padding: 52px 0 0;}
	.sop-delivery-pop-close {position: absolute; top: 20px; right: 20px; width: 19px; height: 19px; background: url('/_ui/responsive/theme-blue/images/smart_btn_close.png') no-repeat 50% / cover;}
	.sop-delivery-pop-close span {display: block; width: 100%; height: 100%;}
	.sop-delivery-pop-btn {width: 100%; height: 52px;}
	.sop-delivery-pop-btn button {width: 100%; height: 100% !important;}
}
