html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1.2; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html,body{ font-family: 'Roboto', 'Noto Sans KR', sans-serif; line-height: 1.2;}
img{ width: 100%; max-width: 100%; }
*, *::before, &::after{ box-sizing: border-box; }
a,a:hover,a:focus{ text-decoration: none; }

@font-face { font-family:'Noto Sans KR'; font-style:normal; font-weight:300; src:url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-light.woff2) format('woff2'), url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-light.woff) format('woff') ; }
@font-face { font-family:'Noto Sans KR'; font-style:normal; font-weight:400; src:url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-regular.woff2) format('woff2'), url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-regular.woff) format('woff') ; }
@font-face { font-family:'Noto Sans KR'; font-style:normal; font-weight:500; src:url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-medium.woff2) format('woff2'), url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-medium.woff) format('woff') ; }
@font-face { font-family:'Noto Sans KR'; font-style:normal; font-weight:700; src:url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-bold.woff2) format('woff2'), url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-bold.woff) format('woff') ; }

/* button */

.align__right{float:right}
.btn{font-family:'Noto Sans KR';background-color:#fff;cursor:pointer;letter-spacing:-.6px}
.btn.small{padding:1px 8px 0;color:#002f5f;font-size:12px;font-weight:500;border:solid 1px #002f5f;line-height:22px}

.invoice-wrap{ position: relative; z-index: 1; padding-bottom: 40px; }
.invoice-wrap::before{ content: ''; position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 280px; background: #1371c4; }
.digital-invoice{ width: 100%; max-width: 1300px; margin: 0 auto; padding: 40px 12px 0; }
.digital-invoice__logo{ display: block; overflow: hidden; width: 76px; height: 28px; background: url(/_ui/responsive/theme-blue/images/digital_invoice/logo_digital_invoice.png) 0 0 no-repeat; background-size: 100% auto; }
.digital-invoice__logo .hidden{ display: block; text-indent: -999px; }
.digital-invoice__content{ position: relative; z-index: 1; margin-top: 39px; }
.digital-invoice__content::before{ content: ''; position: absolute; top: -37px; right: 0; z-index: -1; width: 60px; height: 60px; background: url(/_ui/responsive/theme-blue/images/digital_invoice/icon_digital_invoice.png) 0 0 no-repeat; background-size: 100% auto; }
.digital-invoice__title{ font-size: 24px; color: #fff; font-weight: 500; }
.digital-invoice__title .info{ display: block; margin-bottom: 3px; font-size: 16px; font-weight: 700; color: #fff; }
.digital-invoice__content-header{padding-bottom:45px}
.digital-invoice__content-header .information{ margin-top: 25px; padding: 27px 30px; border-radius: 10px; border: solid 2px #1371c4; background: #fff; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
.digital-invoice__content-header .information__title{ padding-bottom: 15px; border-bottom: 2px solid #022f5f; }
.digital-invoice__content-header .information__title .amount{ margin-left: auto; font-size: 27px; font-weight: 700; color: #022f5f; }
.digital-invoice__content-header .information__title .amount .currency{ position: relative; top: -3px; margin-left: 4px; font-size: 14px; }
.information__title{ display: flex; align-items: center; }
.digital-invoice__content-header .information__list{ display: flex; justify-content: space-between; padding-top: 0; font-weight: 500; color: #898989; font-size: 13px; }
.digital-invoice__content-header .information__list-item { display: flex; min-width:165px; align-items: center; color:#333} /* 211215 수정 */
.digital-invoice__content-header .information__list-item::before{ content: ''; width: 2px; height: 2px; margin-right: 4px; border-radius: 100%; background: #999; }
.digital-invoice__content-header .information__list-item .text{ margin-left: 11px; min-width:90px; font-weight: 400; color:#898989} /* 211215 수정 */
.information__title{ padding-bottom: 8px; border-bottom: 2px solid #022f5f; }
.information__title .title{ font-size: 16px; font-weight: 700; color: #022f5f; }
.information__title .icon{ width: 24px; height: 24px; margin-right: 4px; }
.digital-invoice__content-item{ margin-top: 40px; padding: 0 30px; }
.digital-invoice__content-item .information .align__right{margin-left:auto}
.information__list{ padding-top: 6px; }
.information__list-row{ padding: 6px 0; display: flex; justify-content: space-between; }
.information__list-title{ font-size: 14px; font-weight: 500; color: #333; }
.information__list-description{ font-size: 14px; font-weight: 500; color: #56565a; }
.information__product{ padding: 8px 0 0; border-bottom: 2px solid #022f5f;}
.information__product-item{ display: flex; padding: 12px 0; }
.information__product-item ~ .information__product-item{ border-top: 1px solid #f8f8f8; }
.information__product-img{ position:relative; width: 100%; min-width: 60px; max-width: 60px; margin-right: 10px; font-size: 0; }
.information__product-later{position:absolute;top:49px;left:0;padding:3px 7px;width:56px;height:21px;border-radius:21px;font-size:11px;font-weight:700;color:#fff;background-color:rgba(255, 56, 90, 0.5);text-align:center}
.information__product-info{ display: flex; flex-direction: column; justify-content: space-between; width: 100%; }
.information__product-info .info-top{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; font-size: 14px; font-weight: 500; color: #333; }
.information__product-info .info-bottom{ display: flex; justify-content: space-between; padding-top:22px; align-items: center; }
.information__product-info .info-bottom .count{ font-size: 12px; color: #999; }
.information__product-info .info-bottom .amount{ font-size: 14px; font-weight: 700; color: #333; }
.information__product-info .info-bottom .currency{ font-size: 12px; font-weight: 400; color: #333; }
.information__product-info .box_accordion.set_type {margin-top:8px; width:328px}
.information__product-info .box_accordion.set_type .accordion_title{position:relative;width:90px;height:26px;padding:0 10px;font-size:12px !important;line-height:26px;color:#666;background-color:#f7f7f7;font-weight: normal}
.information__product-info .box_accordion .accordion_title .btn_accordion{position:absolute;top:0;left:0;width:100%;bottom:0;padding:0;margin:0;display:block;background-color:transparent;border-color:transparent;cursor:pointer}
.information__product-info .box_accordion .accordion_title .btn_accordion .sp_form{content:'';display:inline-block;width:9px;height:5px;background:url(/_ui/responsive/theme-blue/images/akl_plp/p_sp-form.png) no-repeat;background-position:-88px 0;background-size:400px auto;position:absolute;right:10px;top:50%;font-size:0;line-height:0;color:transparent;-webkit-transform:translateY(-50%)}
.information__product-info .box_accordion .accordion_contents{margin-top:2px;padding:9px 10px;background-color:#f7f7f7}
.information__product-info .box_accordion .accordion_contents .set_group{display:table;width:100%;table-layout:fixed}
.information__product-info .box_accordion .accordion_contents .set_group [class*="set_col-"]{display:table-cell;font-size:10px !important;color:#666;letter-spacing:-5.px;line-height:15px}
.information__product-info .box_accordion .accordion_contents .set_group .set_col-code{width:45px;vertical-align:top}
.information__product-info .box_accordion .accordion_contents .set_group .set_col-name{font-weight:700;vertical-align:top;}
.information__product-info .box_accordion .accordion_contents .set_group .set_col-num{width:50px;text-align:center;vertical-align:middle}
.information__product-info .box_accordion .accordion_contents .set_group .set_col-state{width:48px;text-align:center;vertical-align:middle}
@media (max-width:768px) {
    .information__product-info .box_accordion.set_type {width:100vw;margin:15px -16px -20px -82px}
    .information__product-info .box_accordion.set_type .accordion_title {width:100%;height:40px;padding:0 25px;line-height:38px;font-size:13px !important;letter-spacing:-.6px;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background-color:#f6f6f6}
    .information__product-info .box_accordion.set_type .accordion_contents {position:relative;margin-top:-1px;padding:8px 25px;background-color:#f6f6f6}
    .information__product-info .box_accordion .accordion_title .btn_accordion .sp_form {right:28px}
    .information__product-info .box_accordion .accordion_contents .set_group ~ .set_group {margin-top:5px}
    .information__product-info .box_accordion .accordion_contents .set_group [class*="set_col-"] {font-size:12px !important;letter-spacing:-.6px;line-height:18px}
    .information__product-info .box_accordion .accordion_contents .set_group .set_col-code {width:55px}
    .information__product-info .box_accordion .accordion_contents .set_group .set_col-num {width:60px;text-align:center}
    }
.information__result.amount{padding: 18px 0}
.information__result.amount .text{font-size: 14px;}
.information__result.amount .result{font-size:22px; color: #1491ca; }
.information__result.amount .result > em{font-size: 14px; vertical-align: 2px;}
.information__result{ display: flex; justify-content: space-between; align-items: center; padding-top: 8px; border-top: 1px solid #dcdcdc; }
.information__result .text{ font-size: 13px; font-weight: 700; color: #333; }
.information__result .result{ font-size: 13px; font-weight: 700; color: #555; }
.information__notice .notice-title{ margin-top: 12px; font-size: 14px; color: #333; font-weight: 700; }
.information__notice .notice-list{ padding-top: 5px; }
.information__notice .notice-list__item{ position: relative; padding: 3px 0 0 6px; font-size: 12px; color: #999; line-height: 1.67; }
.information__notice .notice-list__item::before{ content: ''; position: absolute; top: 9px; left: 0; width: 2px; height: 2px; border-radius: 100%; background: #999; }
.information__notice .notice-list__item .link{ color: #000aff; text-decoration: underline; }
.information__notice .notice-list__item .icon-signature{ position: relative; top: 0; width: 10px; height: 10px; margin-left: -2px; z-index:-1} /* 211215 수정*/
.information__notice .notice-list__item .icon-signature img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 24px; height: 24px; max-width: 24px;}
.digital-invoice__content-header span.pc{ margin-left: 4px; }
br.pc{ display: block; }
br.mo{ display: none; }

@media (max-width: 768px) {
    br.pc{ display: none; }
    br.mo{ display: block; }

    /* button */
    .btn.small{padding:1px 6px 0}

    .invoice-wrap::before{height:240px}
    .digital-invoice__content::before{top:-28px}
    .digital-invoice__title .info{ margin-bottom: 7px; }
    .digital-invoice__content-item{ margin-top: 40px; padding: 0;}
    .digital-invoice__content-header{padding-bottom:0;}
    .digital-invoice__content-header .information{ padding: 24px 20px 22px; }
    .digital-invoice__content-header .information__list{ flex-direction: column; padding-top: 0; }
    .digital-invoice__content-header .information__list-item{ width: 100%; }
    .digital-invoice__content-header span.pc{ display: none; }
    .digital-invoice__content-header .information__list-item .text{ margin-left: auto; max-width:230px;text-align:right; } /* 20211215 수정*/
    .digital-invoice__content-header .information__list-item ~ .information__list-item{ margin-top: 6px; }
    .information__product{padding-top:3px}
    .information__product-item{padding:17px 0}
    .information__result.amount{padding:16px 0}
    .information__result.amount .result{margin-top:-4px}
}

/* layer popup */
.scrollLock{overflow:hidden}

.layer_section {opacity:0;visibility:hidden;transition:.2s;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, .75);z-index:9001}
.layer_section .layer_section-container {transition:.4s;position:absolute;left:50%;top:65%;width:400px;transform:translate(-50%, -50%);background-color:#fff;border:1px solid #c0c0c0}
.layer_section.type-wide-a .layer_section-container {min-width:600px;border-radius:16px;background-color:transparent;border:none;overflow:hidden}
.layer_section.type-narrow-a .layer_section-container {min-width:350px;border-radius:16px;background-color:transparent;border:none;overflow:hidden}
.layer_section.type-wide-a .layer_section-container .layer-header, .layer_section.type-narrow-a .layer_section-container .layer-header {background-color:#fff;position:relative;z-index:2;padding:24px 20px 4px}
.layer_section.type-wide-a .layer_section-container .layer-header .header-title, .layer_section.type-narrow-a .layer_section-container .layer-header .header-title {font-size:24px;font-weight:600;color:#002f5f;margin:0}
.layer_section.type-wide-a .layer_section-container .layer-content, .layer_section.type-narrow-a .layer_section-container .layer-content {background-color:#fff;padding:20px;margin:-1px 0 0;max-height:calc(100vh - 160px)}
.layer_section-container .layer-content {overflow-y:auto;max-height:calc(100vh - 100px); padding:0 36px 33px}
.layer_section.type-wide-a .btn-modal_close, .layer_section.type-narrow-a .btn-modal_close {background-color:#002f5f;font-size:16px;font-weight:bold;line-height:1.5;letter-spacing:-.8px;color:#fff;border-color:#002f5f;border-style:solid;cursor:pointer;}
.layer_section.type-wide-a .btn-modal_confirm, .layer_section.type-narrow-a .btn-modal_confirm {background-color:#fff;font-size:16px;font-weight:bold;line-height:1.5;letter-spacing:-.8px;color:#002f5f;border-top:1px solid #002f5f}

.layer_section.type-wide-a .btn-modal_close.v2:disabled, .layer_section.type-narrow-a .btn-modal_close.v2:disabled ,
.layer_section.type-wide-a .btn-modal_confirm:disabled, .layer_section.type-narrow-a .btn-modal_confirm:disabled { background-color: #ccc; border-color: #ccc; color: #fff;}
.layer_section.type-wide-a .align-box.size-auto {position:relative;z-index:101;margin-top:-1px}

.align-box.size-auto {display:flex;border-radius:0 0 16px 16px;overflow:hidden}
.align-box.size-auto button {flex:1 !important;height:54px}
.align-box.size-auto * {flex:1 !important}
.align-box.size-auto .btn-share {width:100% !important}

.layer_section.showing {visibility:visible;opacity:1}
.layer_section.showing .layer_section-container {top:50%;opacity:1}

#orderCancel-layer .pop-orderCancel-area p{text-align:center;padding:40px 0}

.terms_layer p, .terms_layer li{font-size:12px;line-height:20px;color:#999;line-height:1.67}
.terms_content h3{margin-bottom:8px;font-size:14px;line-height:24px;color:#333;font-weight:bold;letter-spacing:-.6px}
.terms_content ul li{position:relative;padding-left:6px;letter-spacing:-.6px}
.terms_content ul li:before{content:'';position:absolute;top:8px;left:0;width:2px;height:2px;background-color:#999}
.terms_content ul + h3{margin-top:16px}
.terms_content ul + p{margin-top:8px}
@media (max-width:768px) {
    .layer_section.type-wide-a .layer_section-container {min-width:1px;width:calc(100% - 20px)}
    .layer_section.type-narrow-a .layer_section-container {min-width:1px;width:calc(100% - 20px)}

    .form-item-a.v2{display:block;}
    .form-item-a.v2 .form-col-c {margin-left:0}
}
