@charset "utf-8";

@font-face {
	font-family:'Free 3 of 9 Regular';
	src:url(../fonts/FREE3OF9.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-regular.woff2) format('woff2'),
		 url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-regular.woff) format('woff') ;
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-medium.woff2) format('woff2'),
		 url(/_ui/responsive/theme-blue/fonts/notosanskr/notokr-medium.woff) format('woff') ;
}



@font-face {
	font-family:'Free 3 of 9 Regular';
	src:url(/_ui/responsive/theme-blue/fonts/FREE3OF9.woff) format('woff');
}

* {padding:0; margin:0; font-family: 'Noto Sans KR', sans-serif; font-weight:400;}
body {width:100%;}
button {background:none; border:none;}
a {text-decoration:none;}
.blind {overflow:hidden; width:1px; height:1px;position:absolute; clip:rect(0 0 0 0); border:0; padding:0;}
ul, li {list-style: none;}
em {font-style:normal}

.kakao_gift {position:relative; width:100%; box-sizing:border-box; padding:15px;}/*//191101 수정*/
.kakao_gift button.close {position:absolute; right:15px; top:15px; width:15px; height:15px; background:url(/_ui/responsive/theme-blue/images/kakao_gift/bu_close.png) no-repeat center center; background-size:100% auto;}
.kakao_gift .codebox {border:1px solid #eee; border-radius:8px;}
.kakao_gift .codebox .img {padding:20px 45px; text-align:center; border-bottom:1px dashed #eee;}
.kakao_gift .codebox img {max-width:100%;}
.kakao_gift .codebox .barcode {position:relative; padding:45px 0 35px 0; text-align:center;}
/*191030*/
.kakao_gift .codebox .barcode:before, .kakao_gift .codebox .barcode:after {content:''; position:absolute; top:-22px; display:block; width:11px; height:43px; background:url(/_ui/responsive/theme-blue/images/kakao_gift/box-edge.png) no-repeat center center; background-size:100% auto;}
.kakao_gift .codebox .barcode:before {left:-1px;}
.kakao_gift .codebox .barcode:after {right:-1px; transform:rotateY(-180deg); }
/*//191030*/
.kakao_gift .codebox .barcode .code {display:block; font-family:'Free 3 of 9 Regular'; font-size:50px; font-weight:normal;color:#000; transform:scaleY(1.6)}
.kakao_gift .codebox .barcode .num {display:block; margin-top:10px; font-size:12px; font-weight:500;}
.kakao_gift .detail {padding:15px 0 10px 0;}
.kakao_gift .detail li, .kakao_gift .detail li em {display:flex; text-align:right; line-height:40px; font-weight:16px; color:#56565a; border-bottom:1px solid #eee;}
.kakao_gift .detail li:first-child{padding-bottom:10px; line-height:20px;}
.kakao_gift .detail li span {min-width:50px; text-align:left; font-weight:500; margin-right:auto;}

/*191031*/
.kakao_gift .notice {border:1px solid #465c71; border-radius:5px;}
.kakao_gift .notice h2{margin-top:0 !important; margin-bottom:0 !important; padding:0 15px; line-height:42px; font-size:16px; font-weight:400 !important; color:#465c71;}
/*191226:버튼기능추가*/
.kakao_gift .notice h2 a {display:flex; align-items: center; font-size:14px; font-weight:500; color:#333;}
.kakao_gift .notice h2 a:after {content:''; display:block; width:25px; height:25px; margin-left:auto; transform:rotate(180deg); background:url(/_ui/responsive/theme-blue/images/kakao_gift/bu_status.png) no-repeat center center; background-size:100% auto;}
.kakao_gift .notice.on h2 a:after {transform:rotate(0); }

.kakao_gift .notice > .inner {display:none; padding:17px 15px 0; border-top:1px solid #eee;}
/*//191226:버튼기능추가*/
.kakao_gift .titH2 {display: block; padding:16px 0 12px; color: #444; font-size: 13px; font-weight: 500;}
.kakao_gift .titH2:first-child {padding-top:0;}
.kakao_gift .titH2 + .titH2 {padding-top:0;}
.kakao_gift .list-type1 li {font-size:13px; padding: 0 0 3px 10px; color:#55565a; background: url(/_ui/responsive/theme-blue/images/akl_common/ico_arr_line.png) no-repeat left 10px; }
.kakao_gift .tbl-list-view .th {padding:10px 15px; font-size:13px; color:#002f5f; font-weight:500; background:#f4f4f4; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; }
.kakao_gift .tbl-list-view .td {padding:13px 15px 15px;}

/*191226:버튼기능추가*/
.btns {padding-top:10px;}
.bt-akl-blue {display: inline-block; background-color: #002F5F; color: #fff; border: 1px solid #002F5F;  font-size: 14px; padding: 0 25px; width:100%;  height: 40px; line-height: 39px; vertical-align: middle; font-weight: 500;}
/*//191226:버튼기능추가*/

/*
.kakao_gift .notice > dl {display:none; padding:17px 15px 0; border-top:1px solid #eee;}
.kakao_gift .notice > dl dt, .kakao_gift .notice > dl strong {font-size:14px; font-weight:500; color:#333; }
.kakao_gift .notice > dl dd {padding:10px 0;}
.kakao_gift .notice > dl li {display:flex; padding-bottom:6px; font-size:14px; color:#666;}
.kakao_gift .notice > dl li:before {content:'-'; margin-right:3px}
.kakao_gift .notice > dl dl {padding:10px 0;}
*/

