#wrap-ecp {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/common/img_bg.png") repeat center center;
}

#wrap-ecp .container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 50px;
}

#wrap-ecp .blue-bg {
  position: absolute;
  width: 100%;
  height: 41.7%;
  background: #38539a;
  left: 0;
  bottom: 0;
}

#wrap-ecp .overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#wrap-ecp .login-wr {
  padding-top: 127px;
  text-align: center;
}

#wrap-ecp .login-tit {
  margin-bottom: 60px;
}

#wrap-ecp .login-tit img {
  margin-bottom: 40px;
}

#wrap-ecp .login-tit h2 {
  font-size: 2.188rem;
  font-weight: 400;
  letter-spacing: -2.3px;
}

#wrap-ecp .login-tit h2 strong {
  font-weight: 700;
}

#wrap-ecp .login-select {
  display: flex;
  padding: 0 64px;
}

#wrap-ecp .login-wr .step-list {
  display: inline-block;
}

#wrap-ecp .login-wr .step-list:after {
  content: '';
  display: block;
  clear: both
}

#wrap-ecp .login-wr .step-list>li {
  float: left;
  position: relative;
  padding-right: 46px
}

#wrap-ecp .login-wr .step-list>li:last-child {
  padding-right: 0
}

#wrap-ecp .login-wr .step-list>li:after {
  content: '';
  position: absolute;
  top: 140px;
  right: 13px;
  width: 20px;
  height: 37px;
  background: url(../images/common/icn_next_step.png) no-repeat;
}

#wrap-ecp .login-wr .step-list>li:last-child:after {
  width: 0;
  height: 0;
}

#wrap-ecp .login-wr .step-list>li>strong {
  display: block;
  margin-top: 30px;
  color: #0069b5;
  font-size: 1.625rem;
  text-align: left
}

#wrap-ecp .login-wr .step-list>li>p {
  margin-top: 22px;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 300;
  line-height: 1.5
}

#wrap-ecp .next-button a {
  display: inline-block;
  min-width: 350px;
  min-height: 120px;
  background: #fff;
  color: #ff074a;
  font-size: 2.875rem;
  line-height: 120px;
  font-weight: 600;
  letter-spacing: -2.3px;
  border: 4px solid #ff074a
}

#wrap-ecp .complete-button a {
  display: inline-block;
  min-width: 350px;
  min-height: 120px;
  background: #fff;
  color: #fff;
  font-size: 2.875rem;
  line-height: 120px;
  font-weight: 600;
  letter-spacing: -2.3px;
  background-color: #ff074a;
}

#wrap-ecp .complete-button.disabled a {
  background-color: #e2e2e2;
  color: #d4d4d4;
}

#wrap-ecp .employeer-button {
  width: 140px;
  height: 50px;
  margin-top: 30px;
  margin-left: calc(100% - 140px);
  border: 2px solid #38539a;
  background-color: #fff;
  line-height: 50px;
  color: #38539a;
  font-size: 1.25rem;
  font-weight: 300;
}

.ecp {
  position: relative;
  margin: 0 auto;
}

.ecp .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ecp .header .header-wrap {
  display: flex;
  align-items: center;
}

.ecp .header .breadcrumbs ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecp .header .breadcrumbs ul .active {
  color: #38539a;
  font-weight: bold;
}

.ecp .header .breadcrumbs ul li {
  position: relative;
  color: #999999;
  font-size: 20px;
}

.ecp .header .breadcrumbs ul li+li {
  margin-left: 39px;
}

.ecp .header .breadcrumbs ul li+li::before {
  position: absolute;
  top: 2px;
  left: -16px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid #999999;
  border-right: 8px solid transparent;
  content: '';
}

.ecp .header .breadcrumbs ul li.active+li::before {
  border-left: 8px solid #38539a;
}

.ecp .header .buttons a {
  display: inline-flex;
  width: 221px;
  height: 65px;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  border: solid 4px #475ca8;
  box-sizing: border-box;
}

.ecp .header .buttons a+a {
  margin-left: 9px;
}

.ecp .header .buttons a .icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.ecp .header .buttons a .icon img {
  display: block;
  width: 100%;
}

.ecp .header .buttons a span {
  color: #475ca8;
  font-size: 24px;
  letter-spacing: -1.2px;
}

.ecp .content {
  position: relative;
  max-width: 1270px;
  margin: 84px auto 0;
  text-align: center;
}

.ecp .content .logo + h2 {
  margin-top: 41px;
}

.ecp .content h2 {
  font-size: 2.188rem;
  font-weight: 300;
  letter-spacing: -2.3px;
}

.ecp .content h2 strong {
  font-weight: 700;
}

.ecp .content .total-count {
  position: absolute;
  right: 0;
  font-size: 24px;
  margin-top: 40px;
  font-weight: 300;
}

.ecp .content .total-count span {
  font-weight: bold;
}

.ecp .content .point-wr,
.ecp .content .number-button {
  width: 1120px;
  margin: 31px auto 0;
  padding: 70px 55px;
  background-color: #fff;
}

.ecp .content .point-wr-input {
  position: relative;
}

.ecp .content .count-number {
  position: absolute;
  top: 74px;
  right: 63px;
  color: #ff0000;
  font-size: 1.625rem;
}

.ecp .content .point-right {
  flex: 1 1 58%;
  display: flex;
  flex-direction: column;
}

.ecp .content .simple-certification {
  width: 100%;
  height: 100%;
  padding: 60px 38px;
}

.ecp .content .simple-certification.flex {
  display: flex;
  gap: 27px;
}

.ecp .content .simple-certification-button {
  display: block;
  width: 100%;
  height: 120px;
  background-color: #e2e2e2;
  color: rgba(17, 34, 78, .1);
  font-size: 2.875rem;
  line-height: 118px;
  letter-spacing: -2.3px;
}

.ecp .content .simple-certification-button.active {
  color: #263c58;
  border: solid 4px #263c58;
  background-color: #fff;
  pointer-events: auto;
}

.ecp .content .simple-certification-button.active2 {
  color: #fff;
  background-color: #263c58;
  pointer-events: auto;
}

.ecp .content .point-wr-input input[type="text"] {
  width: calc(100% - 60px);
  height: 107px;
  margin: 32px 0 37px;
  text-align: center;
  font-size: 2.875rem;
  border: solid 2px #eee;
  background-color: #fff;
  box-sizing: border-box;
}

.ecp .content .point-wr-input .active {
  border: solid 2px #000 !important;
  background-color: #fffcf7 !important;
}

.ecp .content input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.ecp .content .info {
  margin-top: 18px;
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1.3px;
}

.ecp .content .oder-number {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 100px;
  box-sizing: border-box;
}
.ecp .content .oder-number > div {
  width: 100%;
}
.ecp .content .oder-number .whole {
  position: absolute; 
  top: -40px;
  right: 0;
  font-size: 1.5rem;

}
.scan-list {
  width: 100%;
}
.ecp .content .list-th {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(0, 105, 181, 0.05);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: left;
}

.ecp .content .list-th>span {
  font-size: 1.5rem;
  font-weight: 400;
}

.ecp .content .list-th>span.prd-num {
  text-align: center;
}

.ecp .content .scan-list .swiper-container {
  height: 350px;
  padding: 0 20px;
  background: #fff;
  border-bottom: 2px solid #000;
}

.ecp .content .scan-list .swiper-slide {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #d2d2d2;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.ecp .content .scan-list .swiper-slide>span {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 300;
  box-sizing: border-box;
}

.ecp .content .scan-list .swiper-slide .prd-num {
  padding-right: 22px;
  text-align: center;
}

.ecp .content .scan-list .swiper-slide .prd-oder-num {
  height: 55px;
  padding: 15px 0;
  line-height: 1;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ecp .content .scan-list span.prd-num {
  width: 16.5%;
}

.ecp .content .scan-list .prd-oder-num {
  width: 31.5%;
}

.ecp .content .scan-list .swiper-btn>div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: auto;
  left: auto;
  right: auto;
  margin-top: 0;
}

.ecp .content .scan-list .swiper-btn .swiper-button-prev,
.ecp .content .scan-list .swiper-btn .swiper-button-next {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  opacity: 1;
}

.ecp .content .scan-list .swiper-btn .swiper-button-prev:after,
.ecp .content .scan-list .swiper-btn .swiper-button-next:after {
  display: none;
}

.ecp .content .scan-list .swiper-btn .swiper-button-prev {
  background: url("../images/common/icn_btn_up.png") no-repeat center center;
  background-size: 15px;
}

.ecp .content .scan-list .swiper-btn .swiper-button-next {
  margin-right: 10px;
  background: url("../images/common/icn_btn_down.png") no-repeat center center;
  background-size: 15px;
}

.ecp .content .scan-list .swiper-button-next.disabled {
  border: 2px solid #d2d2d2;
  background-color: #ededed;
  background: url("../images/common/icn_btn_down_disabled.png") no-repeat center center;
  background-size: 15px;
  pointer-events: none;
}

.ecp .content .scan-list .swiper-button-prev.disabled {
  border: 2px solid #d2d2d2;
  background-color: #ededed;
  background: url("../images/common/icn_btn_up.disabled.png") no-repeat center center;
  background-size: 15px;
  pointer-events: none;
}

.ecp .content .scan-list .swiper-count {
  font-size: 1.5rem;
  margin-right: 33px;
  color: #fff;
}

.ecp .content .scan-list .swiper-pagination {
  display: none;
}

.ecp .content .scan-list-bt {
  margin-top: 20px;
}

.ecp .content .scan-list-bt>div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ecp .content .scan-number {
  width: 100%;
  margin-top: 100px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  font-weight: 300;
}

.ecp .content .scan-number .complete {
  background-color: rgba(47,150,49,.05);
}

.ecp .content .scan-number .complete span {
  display: flex;
  justify-content: space-between;
  color: rgba(47,150,49,.5);
  font-weight: 400;
}

.ecp .content .scan-number .complete button {
  position: absolute;
  right: 45px;
  width: 50px;
  height: 26px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2f9631;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.ecp .content .scan-number .complete div {
  position: relative;
  width: 20%;
}

.ecp .content .scan-number.scan-number--employeer .scan-td {
  height: 549px;
}

.ecp .content .scan-number.scan-number--employeer + .complete-button {
  margin-top: 48px !important;
}

#wrap-ecp .complete-button {
  margin-top: 138px;
}

.ecp .content .scan-th {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 25px;
  background-color: rgba(56, 83, 154, .1);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
}

.ecp .content .scan-th span {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 700;
}

.ecp .content .prd-code {
  text-align: left;
}

.ecp .content .prd-oder-count {
  width: 20%;
  text-align: left;
}

.ecp .content .prd-oder-name {
  width: 60%;
  text-align: left;
}

.ecp .content .prd-oder-number {
  width: 8%;
  padding-left: 10px;
  text-align: left;
  box-sizing: border-box;
}

.ecp .content .scan-td {
  width: 100%;
  height: 352px;
  overflow-y: scroll;
}

.ecp .content .scan-td li {
  box-sizing: border-box;
}

.ecp .content .scan-td li a {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 20px;
  line-height: 75px;
  text-align: left;
  box-sizing: border-box;
  padding: 24px 0;
}

.ecp .content .scan-td li.active {
  color: #38539a;
  background-color: rgba(41, 116, 209, .15);
}

.ecp .content .scan-td li.active a {
  color: #38539a;
  border-top: none;
  font-weight: bold;
}

.ecp .content .scan-td li.active2 {
  background-color: rgba(255, 7, 74, .05);
  border-bottom: 1px solid #000;
}

.ecp .content .scan-td li.active2 a {
  color: #ff074a;
  font-weight: bold;
}

.ecp .content .scan-td li.active2+li a {
  border-top: none;
}

.ecp .content .scan-td li.active+li {
  border-top: 1px solid #000;
}

.ecp .content .scan-td li.active+li a {
  border: none;
}

.ecp .content .scan-td li.active .prd-oder-count span {
  display: inline-block;
  font-weight: 700;
}

.ecp .content .scan-td li+li a {
  border-top: 1px solid #d2d2d2;
}

.ecp .content .scan-td li span {
  font-size: 1.5rem;
  line-height: 0.81;
}

.ecp .content .scan-td li .prd-num {
  padding-left: 10px;
}

.ecp .content .scan-td li.default {
  background-color: rgba(56, 83, 154, 0.1);
}

.ecp .content .scan-td li.default a {
  font-weight: 300;
}

.ecp .content .scan-td .prd-oder-num {
  width: 200px;
}

.ecp .content .scan-td .prd-oder-number {
  padding-left: 20px;
}


.ecp .content .scan-left {
  width: 400px;
}

.ecp .content .scan-left .scan-th {
  border-right: 1px solid #000;
}


.ecp .content .scan-right .scan-td li+li.active {
  border-top: 1px solid #000;
}

.ecp .content .scan-right .active2 {
  border-top: 1px solid #000;
}

.ecp .content .scan-right .active2 .prd-oder-count {
  color: #000;
  font-weight: 300;
}

.ecp .content .scan-right .active2 .prd-oder-count span {
  color: #ff074a;
  font-weight: 700;
}

.ecp .employeer-number {
  margin-top: 64px;
  font-size: 1.625rem;
  font-weight: 300;
}

.ecp .employeer-number span {
  color: #38539a;
  font-weight: 700;
  letter-spacing: 5.2px;
}

.ecp .content .scan-number--employeer .prd-code {
  display: block;
  margin-bottom: 17px;
}

.ecp .content .scan-number--employeer .prd-oder-name {
  width: 47%;
  padding: 0 2.5%;
}

.ecp .content .scan-number--employeer .scan-th .prd-oder-scan {
  padding-right: 25px;
}

.ecp .content .scan-number--employeer .prd-oder-scan {
  width: 77px;
  margin: 0 106px 0 100px;
}

.ecp .content .scan-number--employeer .scan-td .prd-oder-scan {
  text-align: center;
}

.ecp .content .scan-number--employeer .scan-td .active2 .prd-oder-scan {
  padding-right: 0;
}

.ecp .content .scan-number--employeer .prd-oder-apply {
  width: 10%;
  text-align: center;
}

.ecp .content .scan-number--employeer .active2.disabled span:not(.prd-oder-scan) {
  opacity: .4;
}

.ecp .content .scan-number--employeer .active2.disabled .btn-minus,
.ecp .content .scan-number--employeer .active2.disabled .btn-delete {
  opacity: .4;
}

.ecp .count-box {
  position: relative;
  width: 100%;
  height: 50px;
}

.ecp .count-box>* {
  vertical-align: middle;
  border-radius: 5px;
}

.ecp .count-box>button {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px solid #ff074a;
  top: 50%;
}

.ecp .count-box>.btn-delete {
  width: auto;
  padding: 0 17px;
  font-size: 1.5rem;
  color: #ff074a;
  background-color: #fff;
  right: 0;
  transform: translate(calc(100% + 9px), -50%);
}

.ecp .count-box>button.btn-minus {
  left: 0;
  transform: translate(calc(-100% - 9px), -50%);
  background: #fff url("../images/common/icn_btn_down_color.png") no-repeat center center;
  background-size: 25%;
  background-position: center center;
}

.ecp .count-box input[type="number"] {
  width: 77px;
  height: 50px;
  padding: 15px 15px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 3px solid #d2d2d2;
  background: #fff;
  box-sizing: border-box;
}

.ecp.popup .content {
  position: relative;
  max-width: initial;
  height: 100vh;
  margin: 0 auto;
  padding: 70px;
}

.ecp.popup .content .popup-wrap {
  width: 1030px;
  margin: 0 auto;
}

.ecp.popup .content h2 {
  font-size: 3rem;
}

.ecp.popup .btn-close {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 110px;
  right: 110px;
  background: #000;
}

.ecp.popup .text-box {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.ecp.popup .text-box>div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.ecp.popup .text-box>div h2 {
  line-height: 80px;
}

.ecp.popup .text-box .simple-certification {
  padding: 0;
}

.ecp.popup .text-box .simple-certification.flex {
  display: flex;
}

.ecp.popup .text-box .simple-certification-button {
  border: 4px solid #fc0749;
  color: #fc0749;
  background-color: #fff;
}

.ecp.popup .text-box .simple-certification-button.active2 {
  background-color: #fc0749;
  color: #fff;
}

.ecp .lds-spinner {
  position: relative;
  width: 152px;
  height: 152px;
  margin: 0 auto 65px;
}

.ecp .lds-spinner div {
  transform-origin: 76px 76px;
  animation: lds-spinner 0.9s linear infinite;
}

.ecp .lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 6px;
  left: 70px;
  width: 12px;
  height: 36px;
  border-radius: 30px;
  background: #38539a;
}

.ecp .lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8s;
}

.ecp .lds-spinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.7s;
}

.ecp .lds-spinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.6s;
}

.ecp .lds-spinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.5s;
}

.ecp .lds-spinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.4s;
}

.ecp .lds-spinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.3s;
}

.ecp .lds-spinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.ecp .lds-spinner div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: -0.1s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ecp .circle-img {
  width: 410px;
  height: 410px;
  margin: 60px auto 0;
  background: #fff url('../images/common/icon_bag.png') center center no-repeat;
  background-size: 307px;
  border-radius: 50%;
}

.ecp .banner {
  margin: 23px 0 18px;
}

.ecp .banner img {
  max-width: 100%;
}