//== form

//input text, input password, input number, input email, input search, input tel
input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='search'] {
  min-width: 5rem;
  width: 100%;
  height: 3.8rem;
  padding: 0 1rem;
  background: $lightblue-color;
  color: $dark-color;
  font-size: 1.2rem;
  vertical-align: middle;
  border: 1px solid #f6f8fc;
  border-radius: 4px;

  &::placeholder {
    color: #b7b7b7;
    font-size: 1.1rem;
  }
  &:focus {
    background: $white-color;
    color: $dark-color;
    border: 1px solid #88abf3;
  }
  &:disabled {
    color: #848484 !important;
    background: #dbd8d8 !important;
    border-color: #d8d8d8 !important;
  }
}

//input[type="password"] : RixSinHead font issue
input[type='password'] {
  font-family: sans-serif, Malgungothic, '맑은고딕', Dotum, '돋움';
}

//checkbox & radio
input[type='radio'],
input[type='checkbox'] {
  position: absolute;
  left: -9999px;

  & + span {
    display: inline-block;
    position: relative;
    min-height: 18px;
    padding-left: 2.3rem;
    color: #444;
    font-size: 1.2rem;
    line-height: 18px;
    user-select: none;
    cursor: pointer;
    vertical-align: top;
  }
}

//input checkbox
input[type='checkbox'] + span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url('/resource/images/common/form_chk.png') no-repeat 0 0/100%;
}
input[type='checkbox']:checked + span:before {
  background-position-y: -23px;
}
input[type='checkbox']:disabled + span:before {
  background-position-y: -46px;
}
input[type='checkbox']:checked:disabled + span:before {
  background-position-y: -69px;
}

//input radio
input[type='radio'] + span:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 18px;
  height: 18px;
  background: url('/resource/images/common/form_rdo.png') no-repeat 0 0/100%;
}
input[type='radio']:checked + span:before {
  background-position-y: -23px;
}
input[type='radio']:disabled + span:before {
  background-position-y: -46px;
}
input[type='radio']:checked:disabled + span:before {
  background-position-y: -69px;
}

//checkbox : text revert
label.revert input[type='checkbox'] {
  & + span {
    padding-left: 0;
    padding-right: 2.8rem;
  }
}
//input checkbox : text revert
label.revert input[type='checkbox'] + span:before {
  left: auto;
  right: 0;
}

//input button
input[type='button'] {
  cursor: pointer;
}

//select
select::-ms-expand {
  display: none;
}
.selectbox {
  display: inline-block;
  position: relative;
  min-width: 5rem;
  width: 100%;
  height: 3.8rem;

  &:before {
    content: '';
    position: absolute;
    top: 1.7rem;
    right: 0.9rem;
    width: 1rem;
    height: 0.6rem;
    background: url('/resource/images/common/form_select.png') no-repeat 0 0/1rem;
  }
  select {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 2.5rem;
    background: $lightblue-color;
    color: $gray-color;
    font-size: 1.2rem;
    border: 1px solid #f6f8fc;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      background: $white-color;
      color: $dark-color;
      border: 1px solid #88abf3;
      outline: 0;
    }
    &:disabled {
      color: #848484;
      background: #dbd8d8;
    }
  }
}

//textarea
textarea {
  width: 100%;
  min-height: 10rem;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  resize: none;
}

//formbox
.formbox {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: #dfe6f2 0px 2px 10px;
  border-radius: 10px;

  dl {
    & ~ dl {
      margin-top: 1.5rem;
    }
    &.type-row {
      display: table;

      dt {
        display: table-cell;
        width: 7rem;
      }
      dd {
        display: table-cell;
      }
    }
    dt {
      color: $dark-color;
      font-size: 1.2rem;
      line-height: 1.4;

      label {
        font-size: 1.2rem;
      }
    }
    dd {
      position: relative;
      margin-top: 0.7rem;
      color: $darkgray-color;
      font-size: 1.2rem;

      .flexbox {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background: $lightblue-color;
        border-radius: 4px;
      }
      .transparent {
        background: transparent;
      }
    }
  }
  dl.tel {
    dd {
      .flexbox {
        input {
          width: 33%;
        }
        .selectbox {
          width: 27%;
        }
        .hyppen {
          margin: 0 0.4rem;
          color: $dark-color;
          font-size: 1.2rem;
        }
      }
      .btn-verify {
        width: 63%;
      }
      .btn-resend {
        width: 35%;
        margin-left: 2%;
      }
      .transparent {
        margin-top: 0.7rem;
        font-size: 0;
      }
      .verification {
        position: relative;
        margin-top: 0.5rem;

        input {
          width: 100%;
          padding-right: 5rem;
        }
        .time {
          position: absolute;
          top: 50%;
          right: 1rem;
          margin-top: -0.7rem;
          color: $red-color;
          font-size: 1.1rem;
        }
      }
    }
  }
  dl.email {
    .emailbox {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      background: $lightblue-color;
      border-radius: 4px;
      overflow: hidden;

      .hyppen {
        margin-left: 1rem;
        color: $dark-color;
        font-size: 1.2rem;
        z-index: 1;
      }
    }
  }
  dl.address {
    margin-top: 2rem;

    input + input {
      margin-top: 0.5rem;
    }
    .btn {
      position: absolute;
      top: -3rem;
      right: 0;
    }
  }
  dl.inbody {
    dd {
      input {
        width: 7rem;

        & ~ input {
          width: 5rem;
        }
      }
      .dot {
        width: auto;
        height: auto;
        margin: 0 0.3rem;
        color: $dark-color;
        font-size: 1.2rem;
        vertical-align: bottom;
        transform: rotate(0deg);
        animation: none;
      }
      .unit {
        margin-left: 0.8rem;
        color: $dark-color;
        font-size: 1.2rem;
      }
    }
  }
}

//datepicker
.datepicker {
  .dp__input {
    width: 100%;
    height: 3.8rem;
    background: $lightblue-color;
    color: #222;
    font-family: 'RixSinHead', sans-serif, Malgungothic, '맑은고딕', Dotum, '돋움';
    font-size: 1.2rem;
    vertical-align: middle;
    border: 1px solid #f6f8fc;
    border-radius: 4px;

    &:hover {
      border-color: #f6f8fc;
    }
    &:focus {
      border-color: #88abf3;
    }
  }
  .dp__input_focus {
    background: $white-color;
    color: $dark-color;
    border: 1px solid #88abf3;
    &:hover {
      border-color: #88abf3;
    }
  }
}

/* width:768~ */
@include mq('md') {
  //input text, input password, input number, input email, input search, input tel
  input[type='text'],
  input[type='password'],
  input[type='number'],
  input[type='email'],
  input[type='search'],
  input[type='tel'] {
    height: 56px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 6px;

    &::placeholder {
      font-size: 15px;
    }
  }

  //checkbox & radio
  input[type='radio'],
  input[type='checkbox'] {
    & + span {
      padding-left: 25px;
      font-size: 16px;
    }
  }

  //input checkbox
  input[type='checkbox'] + span:before {
    background-image: url('/resource/images/common/form_chk_pc.png');
  }

  //input radio
  input[type='radio'] + span:before {
    background-image: url('/resource/images/common/form_rdo_pc.png');
  }

  //checkbox : text revert
  label.revert input[type='checkbox'] {
    & + span {
      padding-right: 25px;
    }
  }

  //input checkbox big
  label.chkbig input[type='checkbox'] + span {
    min-height: 20px;
    padding-left: 27px;
    font-size: 18px;
  }
  label.chkbig input[type='checkbox'] + span:before {
    width: 20px;
    height: 20px;
    background-image: url('/resource/images/common/form_chk_big.png');
    background-size: 20px auto;
  }
  label.chkbig input[type='checkbox']:checked + span:before {
    background-position-y: -25px;
  }
  label.chkbig input[type='checkbox']:disabled + span:before {
    background-position-y: -50px;
  }
  label.chkbig input[type='checkbox']:checked:disabled + span:before {
    background-position-y: -75px;
  }

  //select
  .selectbox {
    height: 56px;

    &:before {
      top: 25px;
      right: 18px;
      width: 14px;
      height: 7px;
    }
    select {
      padding-left: 20px;
      padding-right: 45px;
      font-size: 16px;
      border-radius: 6px;
    }
  }

  //formbox
  .formbox {
    margin-top: 40px;
    padding: 40px 60px;
    border-radius: 12px;

    .btn {
      min-width: 114px;
      height: 44px;
      padding: 12px 28px;
      line-height: 44px;
    }
    dl {
      display: table;
      width: 100%;

      & ~ dl {
        margin-top: 30px;
      }
      &.type-row {
        dt {
          width: 110px;
        }
      }
      dt {
        display: table-cell;
        width: 110px;
        padding-right: 20px;
        font-size: 16px;
        vertical-align: middle;

        label {
          font-size: 16px;
        }
      }
      dd {
        display: table-cell;
        margin-top: 0;
        vertical-align: middle;
        font-size: 16px;

        .flexbox {
          width: 320px;
          border-radius: 6px;
        }
      }
    }
    dl.sort {
      dt {
        vertical-align: top;
      }
    }
    dl.name {
      input {
        width: 320px;
      }
    }
    dl.date {
      dd {
        .flexbox {
          .selectbox {
            width: 31%;
          }
          .selectbox:first-child {
            width: 38%;
          }
        }
      }
    }
    dl.tel {
      dd {
        & > div {
          float: left;
        }
        .flexbox {
          margin-right: 15px;

          input {
            width: 29%;
          }
          .selectbox {
            width: 110px;
          }
          .hyppen {
            margin: 0 5px;
            font-size: 16px;
          }
        }
        .btn-verify {
          width: 114px;
        }
        .btn-resend {
          width: 114px;
          margin-left: 10px;
        }
        .transparent {
          width: 240px;
          margin-top: 6px;

          .btn.full.large {
            width: 114px;
          }
          .btn.full.large.blue {
            width: 148px;
          }
        }
        .verification {
          width: 320px;
          margin-top: 0;
          margin-right: 15px;

          input {
            padding-right: 70px;
          }
          .time {
            right: 20px;
            font-size: 14px;
          }
        }
      }
    }
    dl.email {
      overflow: hidden;

      input {
        float: left;
        width: 320px;
        margin-right: 15px;
      }
      .emailbox {
        float: left;
        width: 320px;
        margin-top: 0;
        border-radius: 6px;

        .hyppen {
          margin-left: 20px;
          font-size: 16px;
        }
      }
    }
    dl.address {
      margin-top: 30px;

      dt {
        padding-top: 17px;
        vertical-align: top;
      }
      .btn + input {
        width: 320px;
      }
      input + input {
        margin-top: 10px;
      }
      .btn {
        top: 6px;
        left: 335px;
        width: 114px;
      }
    }
    dl.inbody {
      margin-top: 15px;

      dd {
        input {
          width: 120px;

          & ~ input {
            width: 80px;
          }
        }
        .dot {
          margin: 0 5px;
          font-size: 16px;
        }
        .unit {
          margin-left: 10px;
          font-size: 16px;
        }
      }
    }
  }

  //datepicker
  .datepicker {
    .dp__main {
      width: 320px;
    }
    .dp__input {
      height: 56px;
      font-size: 16px;
      border-radius: 6px;
    }
    .dp__input_icons {
      width: 16px;
      height: 16px;
    }
  }
}
