@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1.2;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}
img {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}
ol, ul, li{
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before, q:after {
  content: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
textarea{
  resize:none;
}
input{
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
button{
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}
a, a *{
  cursor: pointer;
}
pre {
  white-space: pre-wrap;
}
hr{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type="checkbox"],
input[type="radio"]{
  opacity: 1;
  width:13px;
  height:13px;
  margin:0;
  cursor: pointer;
}
sup{
  vertical-align: super;
  font-size:0.5em;
}
a,
a:hover,
a:focus{
  color: inherit;
  text-decoration: none;
}
input::-webkit-search-cancel-button{
  display: none;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}
body {
  line-height: 1.2;
}
html, body{
  height: 100%;
  min-width: 1280px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
html{
  font-size: 16px;
}
body, button, input, textarea{
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
.page-list{
  width: 100%;
  min-width: 1024px;
  overflow: auto;
  padding-top: 2.6rem;
}
.page-list__tabs{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #132c3380;
}
.page-list__tab{
  display: inline-flex;
  align-items: center;
  height: 2.6rem;
  font-size: .9rem;
  border: 1px solid #132c3380;
  border-bottom: 0;
  color: #132c3380;
  padding: 0 1rem;
}
.page-list__tab.active{
  color: #fff;
  background: #132c3380;
}
.page-list__notice{
  margin: 0 5px 0 auto;
  color: #999;
  font-size: .8rem;
}
.page-list__notice::before{
  content: '😎';
  display: inline-block;
  margin-right: 4px;
  letter-spacing: 1px;
}
.page-list__header{
  display: flex;
  height: 3rem;
  background: #132c3380;
  border-bottom: 2px solid #ddd;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
}
.page-list__item{
  display: flex;
  align-items: center;
  min-height: 1.8rem;
  border-bottom: 1px solid #ddd;
  font-size: .8rem;
  padding: .2rem;
}
.page-list__item.recent{
  background: #5d373773 !important;
}
.page-list__item.recent .page-list__type > span{
  mix-blend-mode: soft-light;
}
.page-list__item.active{
  background: #aaa !important;
}
.page-list__item:nth-of-type(2n) {
  background: #f1f1f150;
}
.page-list__name{
  min-width: 16rem;
  padding-left: 1.2rem;
}
.page-list__level{
  /* display: flex;
  align-items: center; */
  min-width: 28rem;
  max-width: 28rem;
  width: 28rem;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */ /* 20230822 메뉴명 전체 노출 시키기 위해 css 삭제 */
  padding-left: 1.2rem;
}
.page-list__level .level-child{
  display: inline-block;
  color: #333;
}
.page-list__level .level-child:last-child{
  font-weight: 700;
  color: #002f5f;
}
.page-list__level .level-child ~ .level-child::before{
  content: '>';
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  font-weight: 400;
  color: #333;
}
.page-list__date{
  min-width: 6rem;
  padding-left: 1.2rem;
}
.page-list__type{
  min-width: 18rem;
  width: 18rem;
  padding-left: 1.2rem;
  font-size: 0;
}
.page-list__type > span{
  display: inline-flex;
  position: relative;
  z-index: 1;
  align-items: center;
  font-size: .6rem;
  border-radius: .3rem;
  padding: .1rem .3rem;
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  /* background: linear-gradient(to right,#fff,#000); */
  margin: 0.2rem 0 0.2rem 0.2rem;
}
.page-list__type > span:nth-child(1){background: #26323890; }
.page-list__type > span:nth-child(2){background: #455A6490; }
.page-list__type > span:nth-child(3){background: #607D8B90; }
.page-list__type > span:nth-child(4){background: #90A4AE90; }
.page-list__type > span:nth-child(5){background: #CFD8DC; color: #00000095; }
.page-list__type > span:nth-child(6){background:#CFD8DD; color: #fff;}
.page-list__type > span:nth-child(7){background:#CFD1DD; color: #fff;}
.page-list__type > span:nth-child(8){background:#CFD1D9; color: #fff;}

/* .page-list__type > span ~ span{
  margin-left: .2rem;
} */
.page-list__header .sorting{
  position: relative;
  color: #fff;
  padding-right: 1.2rem;
}
.page-list__header .sorting::after{
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  border: 5px solid #fff;
  border-color: transparent #fff transparent transparent ;
  transition: all .2s ease;
}
.page-list__header .sorting.asc::after{
  transform: rotate(-90deg) translate(-25%, 30%);
}

.page-list__link{
  text-align: center;
  min-width: 6rem;
  padding-left: 1.2rem;
}
.page-list__history{
  position: relative;
  min-width: 6rem;
  padding-left: 1.2rem;
}
.page-list__history .tooltip{
  display: none;
  position: absolute;
  top:1.2rem;
  right: 0;
  background: #fff;
  z-index: 100;
  width: 30rem;
  border: 1px solid #000;
}
/* .page-list__history:hover .tooltip{
  display: block;
} */
.history-layer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #00000060;
  padding: 2rem;
}
.history-layer__content{
  display: block;
  position: relative;
  background: #fff;
  padding: 0 0 5px;
  width: 100%;
  max-width: 680px;
  min-height: 200px;
  max-height: 800px;
  padding-bottom: 3rem;
  border-radius: 16px;
  overflow: hidden;
}
.history-layer__header{
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid #000;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  background: #eaeaea;
  color: #333;
  border-radius: 16px 16px 0 0 ;
}
.history-layer__contentBox {
  overflow:hidden;
  overflow-y:scroll;
  height:700px;
} /* 20230331 추가 */
.history-layer__item{
  display: flex;
  padding: .6rem 1rem;
}
.history-layer__item ~ .history-layer__item{
  border-top: 1px solid #999;
}
.history-layer__date{
  width: 100px;
}
.history-layer__note {
  width: calc(100% - 100px);
}
.history-layer__footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.history-layer__button{
  background: #002F5F;
  width: 100%;
  height: 3rem;
  color: #333;
  font-size: 1rem;
  color: #fff;
}
.page-list__history .button{
  height: 1.2rem;
  padding: 0 5px;
  border-radius: 2px;
  background: #666;
  color: #fff;
  font-size: .6rem;
}
.page-list__etc{
  width: auto;
  padding-left: 1.2rem;
}
.page-list__link .link{
  text-decoration: underline;
}
.page-list__link .link:actived{
  font-weight: 700;
}
.page-list__etc .url{
  text-decoration: underline;
}
*,
*::before,
*::after{
  transition: all .2s ease;
}


/* media */
@media (max-width: 1280px) {
  html{font-size: 14px;}
}
@media (max-width: 1024px) {
  html{font-size: 12px;}
  .page-list__etc,
  .page-list__name{
    display: none;
  }
  .page-list__history,
  .page-list__date,
  .page-list__link,
  .page-list__level{
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  html{font-size: 16px;}
  html, body{
    min-width: 0;
  }
  .page-list__header{
    display: none;
  }
  .page-list{
    min-width: 0;
  }
  .page-list__tabs{
    white-space: nowrap;
    overflow-x: auto;
  }
  .page-list__history,
  .page-list__date,
  .page-list__link,
  .page-list__level{
    text-align: left;
    width: 100%;
    min-width: 0;
  }
  .page-list__item{
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  .page-list__history{
    margin-top: 1rem;
  }
  .page-list__link .link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3rem;
  }
  .page-list__history,
  .page-list__history .button{
    width: 100%;
  }
  .page-list__history .button{
    height: 2rem;
    font-size: .8rem;
  }
  .page-list__type{
    padding-left: 0;
  }
}
.page-list__view-all{
  margin-left: auto;
  width: auto;
  height: 2.6rem;
  padding: 0 1rem;
  border: 1px solid #000;
}
.page-list__view-all.view-all{
  width: 100%;
  height: 2.6rem;
}