/* Reset */
html {
  font-size: 10px;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'RixSinHead', sans-serif, Malgungothic, '맑은고딕', Dotum, '돋움';
  font-weight: 500;
  line-height: 1.2;
  color: #222;
  letter-spacing: -0.02em;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
textarea {
  resize: none;
  outline: none;
  padding: 7px 20px;
  line-height: 20px;
  color: #454545;
  font-family: 'RixSinHead', sans-serif, Malgungothic, '맑은고딕', Dotum, '돋움';
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 0;
}
button {
  font-family: 'RixSinHead', sans-serif, Malgungothic, '맑은고딕', Dotum, '돋움';
  cursor: pointer;
  padding: 0;
  border: none;
  letter-spacing: -0.02em;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #222;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
i,
p,
div,
span,
li {
  margin: 0;
  font-style: normal;
}
em {
  display: inline-block;
  font-style: normal;
  letter-spacing: -0.02em;
}
strong {
  font-weight: 600;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table caption {
  display: none;
}
th,
td {
  padding: 0;
}
input,
select {
  padding: 0;
  border-radius: 0;
}
input:focus {
  outline: none;
}
blockquote {
  margin: 0;
}
dl,
dd {
  margin: 0;
}
figure {
  margin: 0;
}
legend {
  position: absolute !important;
  left: -9999px;
}
img {
  width: 100%;
  vertical-align: top;
}
img[usemap],
map area {
  outline: none;
}
hr {
  display: none;
}
address {
  font-style: normal;
}
/* form */
input,
select,
label,
button,
textarea {
  border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  color: #454545;
  font-size: 13px;
  font-family: 'RixSinHead', sans-serif, Malgungothic, '맑은고딕', Dotum, '돋움';
  vertical-align: middle;
}
input,
textarea,
select,
tt,
code,
kbd,
samp,
pre {
  font-family: 'RixSinHead', sans-serif, Malgungothic, '맑은고딕', Dotum, '돋움';
}
button {
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
[type='file'] {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
