/* Spacing */
@for $i from 0 through 15 {
    .mt_#{$i} {
        margin-top: #{$i}rem !important;
    }

    .mb_#{$i} {
        margin-bottom: #{$i}rem !important;
    }

    .pt_#{$i} {
        padding-top: #{$i}rem !important;
    }

    .pb_#{$i} {
        padding-bottom: #{$i}rem !important;
    }
}

.mt_20{margin-top:20px !important;}
.mt_25{margin-top:25px !important;}
.mt_30{margin-top:30px !important;}
.mt_35{margin-top:35px !important;}
.mt_40{margin-top:40px !important;}
.mt_50{margin-top:50px !important;}
.mt_70{margin-top:70px !important;}

.mb_25{margin-bottom:25px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_35{margin-bottom:35px !important;}
.mb_10{margin-bottom:10px !important;}
.mb_20{margin-bottom:20px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_40{margin-bottom:40px !important;}
.mb_45{margin-bottom:45px !important;}
.mb_50{margin-bottom:50px !important;}
.mb_60{margin-bottom:60px !important;}
.mb_70{margin-bottom:70px !important;}
.mb_85{margin-bottom:85px !important;}

.pt_20{padding-top:20px !important;}
.pt_30{padding-top:30px !important;}
.pt_35{padding-top:35px !important;}
.pt_40{padding-top:40px !important;}
.pt_50{padding-top:50px !important;}

.pb_0{padding-bottom:0px !important;}
.pb_5{padding-bottom:5px !important;}
.pb_20{padding-bottom:20px !important;}
.pb_25{padding-bottom:25px !important;}

@include mq('md') {
	@for $i from 0 through 15 {
	    .mt-md-#{$i} {
	        margin-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .mb-md-#{$i} {
	        margin-bottom: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pt-md-#{$i} {
	        padding-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pb-md-#{$i} {
	        padding-bottom: #{$i}rem !important;
	    }
	}
}

@include mq('lg') {
	@for $i from 0 through 15 {
	    .mt-lg-#{$i} {
	        margin-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .mb-lg-#{$i} {
	        margin-bottom: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pt-lg-#{$i} {
	        padding-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pb-lg-#{$i} {
	        padding-bottom: #{$i}rem !important;
	    }
	}
}

@include mq('xl') {
	@for $i from 0 through 15 {
	    .mt-xl-#{$i} {
	        margin-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .mb-xl-#{$i} {
	        margin-bottom: #{$i}rem !important;
	    }
	}
}

@include mq('xxl') {
	@for $i from 0 through 15 {
	    .mt-xxl-#{$i} {
	        margin-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .mb-xxl-#{$i} {
	        margin-bottom: #{$i}rem !important;
	    }
	}
}