/* 2019.01.03 :경량폰트로 변경 */
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	src:url(../fonts/notosanskr/notokr-light.woff2) format('woff2'),
	url(../fonts/notosanskr/notokr-light.woff) format('woff') ;
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:url(../fonts/notosanskr/notokr-regular.woff2) format('woff2'),
	url(../fonts/notosanskr/notokr-regular.woff) format('woff') ;
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:url(../fonts/notosanskr/notokr-medium.woff2) format('woff2'),
	url(../fonts/notosanskr/notokr-medium.woff) format('woff') ;
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	src:url(../fonts/notosanskr/notokr-bold.woff2) format('woff2'),
	url(../fonts/notosanskr/notokr-bold.woff) format('woff') ;
}

/* as is base.css */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;height:100%}
body{margin:0;color:#55565a}
li,ol,ul{padding-left:0;list-style:none}
ul{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{cursor:pointer}
a:active,a:hover{text-decoration:none}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{margin:.67em 0;font-size:2em}
mark{color:#000000;background:#ffff00}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.3em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{margin:0;font:inherit; }
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{margin:0;padding:0}

legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-spacing:0;border-collapse:collapse}
td,th{padding:0}
ul li{list-style:none}
* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.container{margin-right:auto;margin-left:auto;padding-right:12px;padding-left:12px}
.amway-theme table{margin:0;padding:0}
.amway-theme table td{margin:0;padding:0}
.amway-theme table tr{margin:0;padding:0}
.amway-theme table tr td{padding-right:10px;padding-left:10px}
.amway-theme table tr th{padding-right:10px;padding-left:10px}
.amway-theme table th{margin:0;padding:0}
.amway-theme table thead tr{height:40px;line-height:38px;border-top:1px solid #dadada;border-bottom:1px solid #dadada;background:#f4f4f4}
.amway-theme table thead td{font-size:.875em;font-weight:500;vertical-align:middle; color:#002f5f;background:0 0}
.amway-theme table thead th{font-size:.875em;font-weight:500;vertical-align:middle; color:#002f5f;background:0 0}
.amway-theme table tbody tr:nth-of-type(even){background:#f4f4f4}
.amway-theme table tbody td{padding-top:1.125em;padding-bottom:1.125em;font-size:1em;line-height:1.5em;color:#55565a;background:0 0}
/* //as is base.css */

/* as is common-v2.css */
.akl {font-family:'Noto Sans KR', sans-serif;font-weight:normal}
.akl .amway-theme * {letter-spacing:-1px}
.akl em, .akl i {font-style:normal}
.akl b, strong {font-weight:500}
.akl .hidden, .akl caption {overflow:hidden;width:0;height:0;padding:0;margin:0;font-size:0;line-height:0;text-indent:-9999px}

.clearfix:after , .akl .clearfix:after {content:"";display:block;clear:both;width:0;height:0}
.akl .container {display:block;max-width:1400px;margin:0 auto;clear:both}
.akl table th {color:#002f5f;background-color:#f4f4f4}
.akl table thead tr {height:40px;border-top:1px solid #dadada;border-bottom:1px solid #dadada;background:#f4f4f4}
.tbl-type1 {width:100%;border-top:1px solid #e3e3e3}
.tbl-type1 th, .tbl-type1 td {border-bottom:1px solid #e3e3e3;padding:10px 20px;vertical-align:middle;word-break:break-all}
.tbl-type1 th {background:#f4f4f4;font-size:13px;color:#002f5f;font-weight:500}
.tbl-type1 td {background:#fff;font-size:14px;line-height:22px}
.tbl-type1 thead th {text-align:center}
.tbl-type1 tbody th {text-align:left}

.scrollTopWrapper {position:fixed;z-index:300;bottom:20px;right:20px}
.scrollTopWrapper .toTop {overflow:hidden;width:40px;height:40px;text-indent:-9999px;background:url(../images/btn_scroll_top.png) 0 0 no-repeat;background-size:40px auto;border:1px solid #002f5f;padding:0}

#skipToContent a {position:fixed;top:0;left:0;z-index:9999;width:100%;height:0;margin-top:-1px;display:block;background-color:#3875c1;font-size:14px;font-weight:normal;color:#fff;line-height:1;text-align:center;overflow:hidden} /* 190411_수정 psup 테스트 - 웹접근성용 바로가기 폰트 굵기 수정 */
#skipToContent a:focus,
#skipToContent a:active {margin-top:0;height:auto;padding:10px 0px}

.col-search-tab {position:relative;margin:0 0 40px;padding:0}
.col-search-tab ul {display:table;width:100%;margin:0;padding:0;table-layout:fixed}
.col-search-tab ul li {display:table-cell;height:50px;vertical-align:middle;line-height:120%;background:#f4f4f4;border:1px solid #dadada;border-left:0}
.col-search-tab ul li:nth-of-type(1) {border-left:1px solid #dadada}
.col-search-tab ul li a {display:block;width:100%;padding:0 10px;text-align:center;color:#55565a}
.col-search-tab ul li a span {font-weight:500}
.col-search-tab ul li.active {background:#fff;border-top:4px solid #008fc5;border-bottom:0}
.akl .tab-content .list-content {padding-top:0}

h2[class^='title-'] {text-align:left;margin:0}
.akl h1, .akl h2 {font-size:32px;letter-spacing:-2px;font-family:'Noto Sans KR', sans-serif;line-height:100%;font-weight:700;word-break:keep-all} /* 190220_수정 단어단위 줄바꿈 heading tag */
.akl h3, .akl h4, .akl h5,.akl h6 {font-family:'Noto Sans KR', sans-serif;font-weight:500;word-break:keep-all} /* 190220_수정 단어단위 줄바꿈 heading tag */
.akl .title-h1, .akl .title-h2, .akl .title-h3, .akl .title-h4 {line-height:100%;letter-spacing:-2px;word-spacing:2px}
.akl .title-h1,
.akl .title-h2 {font-size:32px;font-weight:700;color:#002F5F}
.akl [class*=_title], .akl [class*=title-], .akl [class*=-title]{word-break:keep-all} /* 190220_추가 단어단위 줄바꿈 title class */

.scroll-wrapper {position:relative;overflow:hidden!important;padding:0!important}
.scroll-wrapper>.scroll-content{position:relative!important;top:0;left:0;overflow:scroll!important;box-sizing:content-box!important;width:auto!important;max-width:none!important;height:auto;max-height:none;margin:0;padding:0;border:none!important}
.scroll-wrapper>.scroll-content::-webkit-scrollbar{width:0;height:0}
.scroll-element{display:none}
.scroll-element,.scroll-element div{box-sizing:content-box}
.scroll-element.scroll-x.scroll-scrollx_visible,.scroll-element.scroll-y.scroll-scrolly_visible{display:block}
.scroll-element .scroll-arrow,.scroll-element .scroll-bar{cursor:default}
.scroll-textarea{border:1px solid #cccccc;border-top-color:#999999}
.scroll-textarea>.scroll-content{overflow:hidden!important}
.scroll-textarea>.scroll-content>textarea{position:relative!important;top:0;overflow:scroll!important;box-sizing:border-box;width:100%!important;max-width:none!important;height:100%!important;max-height:none!important;margin:0;padding:2px;border:none!important;outline:0}
.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar{width:0;height:0}
.point-color1 {color:#ed174c !important}

/* simple inner scrollbar */
.scrollbar-inner>.scroll-element,.scrollbar-inner>.scroll-element div{position:absolute;z-index:10;margin:0;padding:0;border:none}
.scrollbar-inner>.scroll-element div{top:0;left:0;display:block;width:100%;height:100%}
.scrollbar-inner>.scroll-element.scroll-x{bottom:2px;left:0;width:100%;height:6px}
.scrollbar-inner>.scroll-element.scroll-y{top:0;right:2px;width:6px;height:100%}
.scrollbar-inner>.scroll-element .scroll-element_outer{overflow:hidden}
.scrollbar-inner>.scroll-element .scroll-bar,.scrollbar-inner>.scroll-element .scroll-element_outer,.scrollbar-inner>.scroll-element .scroll-element_track{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
.scrollbar-inner>.scroll-element .scroll-bar,.scrollbar-inner>.scroll-element .scroll-element_track{opacity:.4;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';filter:alpha(opacity=40)}
.scrollbar-inner>.scroll-element .scroll-element_track{background-color:rgba(244,244,244, 0)}
.scrollbar-inner>.scroll-element .scroll-bar{background-color:rgba(194,194,194,.5)}
.scrollbar-inner>.scroll-element:hover .scroll-bar{background-color:rgba(194,194,194,.9)}
.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar{background-color:#919191}
.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track{left:-12px}
.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track{top:-12px}
.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size{left:-12px}
.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size{top:-12px}
/* // as is common-v2.css */

/* as is customer.css */
.compliance-area {margin-top:38px}
.akl .compliance-area p, .akl .compliance-area li, .akl .compliance-area dl, .akl .compliance-area table {word-break:keep-all}
.akl .compliance-list li {margin-bottom:22px;font-size:18px;color:#002f5f;font-weight:500}

.akl .compliance-area .textL{text-align:left !important}
.akl .compliance-area .textC{text-align:center !important}
.akl .compliance-area .textR{text-align:right !important}
.akl .compliance-area .textJ{text-align:justify !important}

.akl .compliance-area .termsWrapper * {font-size:14px}
.akl .compliance-area .termsWrapper .cart-popup__header-text {font-size:24px}
.akl .compliance-area .termsWrapper .titH2 {font-size:16px}
.akl .compliance-area .termsWrapper ol {counter-reset:a}
.akl .compliance-area .termsWrapper ol > li {position:relative; padding-left:22px; text-indent:0}
.akl .compliance-area .termsWrapper ol > li:before {position:absolute; top:0; left:0; content:counter(a)". "; counter-increment:a; display:inline-block; width:22px}
.akl .compliance-area .termsWrapper ol > li + li {margin-top:10px}
.akl .compliance-area .termsWrapper ol + .txt-italic,
.akl .compliance-area .termsWrapper div + .list-type2 {margin-top:10px}
.akl .compliance-area .termsWrapper .list-type2 *,
.akl .compliance-area .termsWrapper .txt-italic {font-size:13px}
.akl .compliance-area .termsWrapper .list-type2 li {margin-top:0 !important; padding-bottom:0}
.akl .compliance-area .termsWrapper .listDash li p,
.akl .compliance-area .termsWrapper .listDash li + li {margin:0 !important}
.akl .compliance-area .scroll-table table {table-layout:fixed}
.akl .compliance-area .scroll-table thead th {line-height:20px; padding:10px}
.akl .compliance-area .scroll-table tbody th {background-color:#fff; font-weight:300; color:#55565a}
.akl .compliance-area .scroll-table tbody th + td {border-left:1px solid #e3e3e3}
.akl .compliance-area .scroll-table tbody .block {padding-bottom:0}
.akl .compliance-area .scroll-table .link-btn {line-height:normal !important}
.akl .compliance-area .termsWrapper.num-fixed ol li:before {display:none}
.akl .compliance-area .termsWrapper.num-fixed ol li {padding-left:17px; text-indent:-17px}
.akl .compliance-area .termsWrapper.num-fixed ol li + li {margin-top:0}
.akl .compliance-area .termsWrapper.num-fixed .titH2 {font-size:14px; margin-bottom:3px}
.akl .compliance-area .termsWrapper .titHtext.pdbNone {padding-bottom:0 !important}
.akl .compliance-area .termsWrapper .txt-italic.ex {padding-left:2px; background-position-y:6px}
.akl .compliance-area.privacy .termsWrapper .tbl-type1.line-st tbody th{ text-align:center; }
.akl .compliance-area.privacy .termsWrapper .tbl-type1.line-st.th-st tbody th{font-weight:400}/* 2019.06.20 추가 */
.akl .compliance-area.privacy .termsWrapper .tbl-type1.line-st.type02 thead th:first-child{  width:150px}
.akl .compliance-area.privacy .termsWrapper .tbl-type1.line-st.type02 tbody.left th{ text-align:center; width:150px}
.akl .compliance-area.privacy .termsWrapper .tblInput.line-st.type02 tbody th{ text-align:center; width:150px;background-color:#f4f4f4; color:#002f5f; font-weight:500}

.akl .compliance-area.privacy .termsWrapper .titH1 {font-size:18px;color:#002f5f;padding-bottom:0;margin-bottom:10px}
.akl .compliance-area.privacy .termsWrapper .titH1.txt-titH1 {border-top:1px solid #dadada;padding:40px 0 0;margin-top:40px}
.akl .compliance-area.privacy .termsWrapper .titH1 + .pdBox {  margin-top:10px }
.akl .compliance-area.privacy .termsWrapper .titH1 + .titHtext {  margin-top:10px }
.akl .compliance-area.privacy .termsWrapper .block {padding-bottom:0}
.akl .compliance-area.privacy .termsWrapper .titH3 {padding-left:0}
.akl .compliance-area.privacy .termsWrapper .txtsGrBox {font-weight:500}
.akl .compliance-area.privacy .termsWrapper .txtsGrBox.line {border-bottom:1px solid #dadada; padding-bottom:10px; margin-bottom:10px}
.akl .compliance-area.privacy .termsWrapper .hr > li:first-child .titH1 {padding-top:0}
.akl .compliance-area.privacy .termsWrapper .list-type1 p {margin-bottom:0}
.akl .compliance-area.privacy .termsWrapper .topLinker {margin-top:-5px}
.akl .compliance-area.privacy .termsWrapper .topLinker a {display:inline-block; font-weight:500; vertical-align:middle; margin-top:5px}
.akl .compliance-area.privacy .termsWrapper .topLinker a:after {content:""; display:inline-block; height:15px; border-left:1px solid #55565a; vertical-align:middle; padding-left:8px; margin:-2px 0 0 11px}
.akl .compliance-area.privacy .termsWrapper .topLinker a:last-child:after {display:none}
.akl .compliance-area.privacy .termsWrapper .selectBar {border-top:1px solid #dadada; padding-top:30px; margin-top:30px; text-align:right}
.akl .compliance-area.privacy .termsWrapper .selectBar label {margin-right:10px}
.akl .compliance-area.privacy .termsWrapper .delete {text-decoration:line-through}
.akl .compliance-area.privacy .termsWrapper tbody.left * {text-align:left}
.akl .compliance-area.privacy .termsWrapper .col-search-tab.link-to li {width:15%}
.akl .compliance-area.privacy .termsWrapper .col-search-tab.link-to li a {text-decoration:none}

.akl .compliance-area.privacy .termsWrapper .txt-italic {padding:0 0 4px 10px}
.akl .amway-theme .compliance-area .txt-italic {margin:5px 0 0 12px}

.tbl-type1.line-st tbody tr:nth-of-type(even) {background-color:#fff}
.tbl-type1.line-st td + td, .tbl-type1.line-st th + th  {border-left:1px solid #e3e3e3}
.tbl-type1.line-st th[rowspan="2"], .tbl-type1.line-st th[rowspan="3"], .tbl-type1.line-st th[rowspan="4"] {border-right:1px solid #e3e3e3}
.tbl-type1.line-st td {text-align:center; padding-top:0.7em; padding-bottom:0.7em}
/* // as is customer.css */

/* as is account.css */
/* 약관 (기존 css 사용) */
.akl .termsWrapper * , .akl .termsWrapper p , .akl #terms .termsWrapper p {font-size:13px}
.akl .termsWrapper.privacyInfo *, .akl .termsWrapper.privacyInfo p, .akl #terms .termsWrapper.privacyInfo p , .akl .privacyInfo .tbl-list-view .thead .tr>strong {font-size:16px !important}
.akl #terms .termsWrapper.privacyInfo p.terms-paragraph{font-size:14px !important}/* 2019.03.04 추가 */
.akl .termsWrapper .refer, .akl .termsWrapper p.listWarning {text-indent:-18px;padding-left:18px}
.akl .termsWrapper .colorM {color:#0a70d3 !important}
.akl .termsWrapper .colorS {color:#333 !important}
.akl .termsWrapper .colorR {color:#e81135 !important}
.akl .termsWrapper .mgtS {margin-top:7px !important}
.akl .termsWrapper .mgtSs{margin-top:5px !important}
.akl .termsWrapper .mgtS{margin-top:10px !important}
.akl .termsWrapper .mgtM{margin-top:20px !important}
.akl .termsWrapper .mgtL{margin-top:30px !important}
.akl .termsWrapper .mgtL2{margin-top:45px !important}
.akl .termsWrapper .mgbNone{margin-bottom:0 !important}
.akl .termsWrapper .mgbS{margin-bottom:10px !important}
.akl .termsWrapper .mgbM{margin-bottom:20px !important}
.akl .termsWrapper .mgbL{margin-bottom:30px !important}
.akl .termsWrapper .mgbL2{margin-bottom:40px !important}
.akl .termsWrapper .mgtbSs{margin:5px 0 !important}
.akl .termsWrapper .mgtbS{margin:10px 0 !important}
.akl .termsWrapper .mgtbM{margin:20px 0 !important}
.akl .termsWrapper .mgtbL{margin:30px 0 !important}
.akl .termsWrapper .mglNone{margin-left:0 !important}
.akl .termsWrapper .mglS{margin-left:10px !important}
.akl .termsWrapper .mglM{margin-left:20px !important}
.akl .termsWrapper ul > li{line-height:160%}
.akl .termsWrapper ul a{/*text-decoration:underline;*/}
.akl .termsWrapper ol > li{text-indent:-15px; padding-left:15px; line-height:160%}
.akl .termsWrapper ol li ol{margin-top:5px; margin-bottom:5px}
.akl .termsWrapper ol > li p{text-indent:0}
.akl .termsWrapper ol > li .listDash li{text-indent:0; padding-left:12px}
.akl .termsWrapper > strong.titH1{display:block; padding:0; color:#0a70d3; font-size:12px; padding-top:30px; border-top:1px solid #d5d5d5; margin-top:26px}
.akl .termsWrapper > strong.titH1.titH1st{padding-top:0; border-top:none; margin-top:0}
.akl .termsWrapper .titH1-a {padding-bottom:15px;font-size:18px;color:#002f5f;font-weight:500;border-bottom:1px solid #dadada}
.akl .termsWrapper .titH1{display:block; padding:35px 0 10px; color:#444; font-size:15px}
.akl .termsWrapper .titH2{display:block; margin:16px 0 12px 0; padding-left:0; color:#444; font-size:14px; font-weight:500}
.akl .termsWrapper .titH2.line {border-top:1px solid #dadada;padding-top:15px}
.akl .termsWrapper > .titH2:first-child {margin-top:0}
.akl .termsWrapper .titH2.bgNone{background-image:none; padding-left:0}
.akl .termsWrapper .titH3{display:block; margin:10px 0 8px 0; padding-left:10px; font-weight:bold; background:url(/_ui/desktop/images/common/bul_dot_terms_h3.gif) 0 3px no-repeat}
.akl .termsWrapper .titH3.bul{display:inline-block; margin:0}
.akl .termsWrapper .titHtext{padding:0 0 12px 0; line-height:160%}
.akl .termsWrapper .titHtext.pdbNone{padding-bottom:0}
.akl .termsWrapper .titHtext + .titH2{margin-top:4px}
.akl .termsWrapper .titHtext.grayBox{margin:15px 0 40px; padding:24px 24px 18px; background:#f6f6f6}
/* //as is account.css */

/* as is akl-business.css */
.renew-compliance .listWarning {margin-top:8px}
.listWarning, .txt-italic {background:url('../images/ico_star.png') no-repeat left 5px;background-size:5px;padding:0 0 2px 10px;color:#808285;font-style:italic}
.akl .renew-compliance .compliance-area .termsWrapper .listWarning,
.akl .renew-compliance .compliance-area .termsWrapper .txt-italic {font-size:13px;line-height:18px}
/* //as is akl-business.css */

/* 2020-03-31 new compliannce */
.renew-compliance .res_table-type .td-only-mobile {display:none}
.renew-compliance {padding-bottom:40px}
.renew-compliance .col-search-tab {margin:0}
.renew-compliance .title-h2 {margin:40px 0 0}
.renew-compliance p {margin:0}
.akl .renew-compliance .compliance-area.privacy .termsWrapper #titNo01 {margin:0 0 10px;border-top:none}
.akl .renew-compliance .compliance-area .termsWrapper .titH2 {margin:0 0 8px;font-size:14px}
.akl .renew-compliance .termsWrapper .refer,
.akl .renew-compliance .termsWrapper p.listWarning {padding-left:10px;text-indent:0}
.akl .renew-compliance .compliance-area .termsWrapper .box_customer-terms li:before {display:none}
.box_customer-terms > li {margin-bottom:20px}
.akl .termsWrapper .box_customer-terms ol > li {padding-left:15px;text-indent:-15px}
.akl .compliance-area .termsWrapper .box_customer-terms ol > li + li {margin-top:0}
.akl .renew-compliance .compliance-area.privacy .termsWrapper .titH1#titNo02 {padding-top:40px;margin:40px 0 10px}
.renew-compliance .box_list-indent p {margin:4px 0 0 10px;text-indent:-5px}
.renew-compliance .res_table-type .td-f-area {display:none}
.akl .renew-compliance .amway-theme .res_table-type td {letter-spacing:0}
.akl .renew-compliance .termsWrapper .txt_sup {color:#999;font-size:11px}
.box_compliance-agree {margin-top:10px}
.renew-compliance .box_compliance-agree p,
.renew-compliance .box_compliance-agree p.txt-italic {font-size:14px;color:#808285}
/* // 2020-03-31 new compliannce */

/* 2020-04-16 new customer agree */
.akl .res_table-type table.align-left tbody td {text-align:left}
.list-dot li {position:relative;padding:0 0 3px 10px}
.list-dot li:before {content:"";position:absolute;display:block;width:3px;height:3px;background:#5e5e62;left:0;top:9px;border-radius:24px;}
/* // 2020-04-16 new customer agree */

@media (min-device-width:1025px){
	/* as is common-v2.css */
	.tabWrapper::-webkit-scrollbar-track {background-color:rgba(245,245,245,0.1);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0)}
	.tabWrapper::-webkit-scrollbar {width:6px;height:6px;background-color:rgba(245,245,245,.8)}
	.tabWrapper::-webkit-scrollbar-thumb {width:6px;height:6px;background-color:rgba(0,0,0,0.1)}
	/* IE 스크롤 */
	.tabWrapper {-ms-overflow-style:-ms-autohiding-scrollbar}
	/* // as is common-v2.css */
}

@media (max-width:768px) {
	/* as is common-v2.css */
	.main-container, .akl .container {padding:0 15px}
	.akl h1 {font-size:26px}
	.akl h2, .akl .amway-theme h2 {font-size:26px;padding-left:12px;padding-right:12px}
	.akl .title-h1 {font-size:26px}
	.akl .title-h2 {font-size:22px}

	.col-search-tab ul {table-layout:auto}
	.col-search-tab ul li {width:auto;background:none;border:0}
	.col-search-tab ul li:nth-of-type(1) {border-left:0}
	.col-search-tab ul li.active {background:none;border-top:0;border-bottom:4px solid #008fc5}
	.col-search-tab ul li a {display:block;padding:15px 20px;word-break:keep-all;white-space:nowrap;color:#55565a;font-size:14px;font-weight:500;vertical-align:middle;line-height:120%;background:none;border:0}
	.col-search-tab {position:relative;margin:0 0 30px}
	.col-search-tab > .tabWrapper {overflow:hidden;overflow-x:auto}
	.col-search-tab:before {content:'';position:absolute;box-sizing:content-box;width:100%;padding-left:15px;padding-right:15px;height:1px;left:-15px;right:0;bottom:0;background:#dadada}
	.col-search-right .plp-add-to-ditto button {position:static}

	.scrollable-area {position:absolute;left:0;top:-1px;width:60px;height:100%;z-index:2}
	.scrollable-area.left {left:-15px;
		background:-moz-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);/* FF3.6-15 */
		background:-webkit-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);/* Chrome10-25,Safari5.1-6 */
		background:linear-gradient(to right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.scrollable-area.right {left:auto;right:-15px;
		background:-moz-linear-gradient(right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);/* FF3.6-15 */
		background:-webkit-linear-gradient(right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);/* Chrome10-25,Safari5.1-6 */
		background:linear-gradient(to left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	/* // as is common-v2.css */

	/* as is customer.css */
	.compliance-area .list-certifi li {padding:50px 0; border-top:1px solid #e3e3e3}
	.compliance-area .list-certifi li p {margin:10px 0 18px}
	.compliance-area .form-email-inquiry {max-width:100%}
	.akl .compliance-area .scroll-table {overflow-x:auto}
	.akl .compliance-area .F80200_lp_pop.v23 .scroll-table { overflow-y:auto!important; }
	.akl .compliance-area .scroll-table table {min-width:600px}
	.akl .compliance-area .scroll-table .link-btn {margin-top:0}
	/* // as is customer.css */

	/* as is akl-business.css */
	.akl .amway-theme .tblList { border-top:1px solid #e3e3e3}
	.akl .amway-theme .tblList td { display:block; padding:5px 20px 13px; font-size:14px}
	.akl .amway-theme .tblList td:first-child { padding:8px 20px 15px; }
	.akl .amway-theme .tblList td:last-child { padding:5px 20px 18px; }
	.akl .amway-theme .tblList thead { display:none}
	.akl .amway-theme .tblList thead th { display:block; text-align:left; padding:15px 20px 0; font-size:14px }
	.akl .amway-theme .tblList tbody th { display:block; padding:10px 20px 5px }
	/* //as is akl-business.css */

	/* 2020-03-31 new compliannce */
	.res_table-type col, .res_table-type thead,
	.renew-compliance .res_table-type .td-only-pc {display:none}
	.renew-compliance .res_table-type .td-only-mobile {display:block}
	.res_table-type tbody tr,
	.res_table-type tbody td,
	.res_table-type tbody,
	.renew-compliance .res_table-type .td-f-area {display:block}
	.akl .res_table-type table tbody td {text-align:left}
	.res_table-type .tbl-type1.line-st td + td,
	.res_table-type .tbl-type1.line-st th + th {border-left:none}
	.res_table-type tbody .td-t-area {font-weight:500;color:#002f5f;background-color:#f4f4f4}
	.res_table-type tbody .td-f-area {background-color:#f4f4f4}
	.akl .res_table-type table tbody td.td-t-area {text-align:center}
	.res_table-type [class*='td-t-']:before {font-size:11px}
	.res_table-type .td-t-area:before {content:'이전목적 :';font-size:12px}
	.res_table-type .td-t-name:before {content:'이전 받는 자 :'}
	.res_table-type .td-t-country:before {content:'이전 국가 :'}
	.res_table-type .td-t-item:before {content:'이전항목 :'}
	.res_table-type .td-t-date:before {content:'이전시점 :'}
	.res_table-type .td-t-way:before {content:'이전방법 :'}
	.res_table-type .td-f-area:before {content:'보유기간 :';font-size:12px}
	.renew-compliance .res_table-type td p {margin-top:7px}

	.res_table-type .td-t-area.td-t-contents:before {display:none}
	.akl .res_table-type table.align-left tbody td.td-t-area {text-align:center}
	.res_table-type .td-t-documents:before {content:'구비서류 :'}
	.res_table-type .td-t-how:before {content:'방법 :'}
	.res_table-type .td-t-etc:before {content:'비고 :'}

	.akl .compliance-area.privacy .termsWrapper .titH1.txt-titH1,
	.akl .renew-compliance .compliance-area.privacy .termsWrapper .titH1#titNo02 {padding:25px 0 0;margin:25px 0 10px}
	.akl .compliance-area .termsWrapper ol > li + li {margin-top:6px}
	.akl .termsWrapper .mgtS {margin-top:7px !important}
	.akl .termsWrapper .mgtM {margin-top:15px !important}
	.akl .termsWrapper .mgtL {margin-top:20px !important}
	/* // 2020-03-31 new compliannce */
}

/* 20220531 개인정보처리방침 오류 수정 */
.akl .compliance-area.privacy .termsWrapper .titH3{background:none;}

/* 20220812 장바구니 스마트오더 이용시 동의사항 css 추가 */
.tbl-type1.line-st tbody th {border-right:1px solid #e3e3e3;}
.tbl-type1.line-st tbody td.left {text-align:left;}