
<!DOCTYPE html>
<html lang="ko">
<head>
	<title>component</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords">
	<meta name="description" content="NY Fee Bundle">
	<meta name="robots" content="index,follow">

	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-lib.css"><!-- 플러그인용 css : 2018.03.14 추가  -->
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/base.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-common-v2.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-account.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-shop.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/akl-product-renewal.css">
	<link rel="stylesheet" type="text/css" href="/_ui/responsive/theme-blue/css/one4one.css">
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/jquery.min.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/bootstrap.datepicker.js"></script><!-- datepicker : 2018.03.19 추가  -->
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/owl.carousel.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/isotope.pkgd.js"></script><!-- gnb 플러그인 : 2018.03.23 추가  -->
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/select2.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/new.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/jquery.raty.min.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/akl_common.js"></script>
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/akl_contents.js"></script><!-- brand 통합 : 2018.08.24 추가  -->
	<script type="text/javascript" src="/_ui/responsive/theme-blue/js/akl_component.js"></script>
	<style>
		body {padding:20px}
		.top-area {background-color:#002f5f;margin:-20px -20px 0;padding:20px 20px 15px}
		.top-area p {text-align:center;color:#fff;font-size:30px}
		.tabs ul li {float:left}
		.tabs ul li a {position:relative;z-index:2;display:block;text-align:center;height:35px;width:35px;line-height:35px;font-weight:bold;color:#fff;font-size:13px;position:relative;font-family:'verdana';border-radius:50%;background-color:#253981}
		.tabs ul li ~ li {margin:0 0 0 5px}
		.tabs ul li a.active {z-index:3;background-color:#02cfdf}
		.tabs ul li a.active span {display:block}
		.tabs ul li a span {display:none;position:absolute;left:50%;top:30px;margin-left:-38px;width:76px;color:#333;background-color:#ffffff;border:1px solid #46675c;height:20px;line-height:18px;padding:0;border-radius:10px;white-space:nowrap;font-weight:normal;font-size:11px}

		.h1 {padding-left:10px;font-weight:bold;font-size:18px;color:#000;margin-bottom:10px;font-family:'verdana'}
		.h1 ~ .h1 {margin-top:50px}
		.h2 {background-color:#f1f1f1;margin:0 -20px 10px -20px;height:30px;line-height:30px;padding:0 20px;font-weight:bold;font-size:14px}
		.h3 {font-size:12px;color:#002f5f;border-bottom:1px dashed #ccc;margin:0 0 10px;padding:0 0 5px}
		.box_wrap {border:1px solid #ddd;padding:0 20px 0 20px;background-color:#fff}
		.type_view {padding-bottom:20px}
		.type_view .sbt {margin-bottom:5px;color:#333}
		.type_view .sbt ~ .sbt {margin-top:10px}
		.type_view.btn_view button {margin-right:20px}
		.type_view > .checkbox, .type_view > .radio {margin-right:15px}
		.spinor_area ~ .spinor_area {margin-top:10px}
		.select_item-thumb img {border-radius:50%}
		.form_group-element ~ .form_group-element {margin-top:20px}
		.type_view button {vertical-align:top}

		/* floating */
		.box_mobile-floating {display:block;position:relative}

		@media (max-width:700px) {
			.tabs .logo {display:none}
			.list_box_wrap {min-width:320px;padding:0 10px 10px 10px}
			.h1 {padding-left:0}
			.h2 {margin:0 -10px 10px -10px;padding:0 10px}
			.box_wrap {border:1px solid #ddd;padding:0 10px}
		}

		/* S : 실제 사이트에서는 @media (max-width: 768px) 해상도에서만 노출(산출물에서만 pc에도 노출되도록 수정) */
		.sp_button.sp_button-restocked {width:26px; height:26px; background:url(/_ui/responsive/theme-blue/images/akl_plp/ico_bell_w_b.png) no-repeat left center / 100% auto;}
		.sp_button.sp_button-smartpay {width: 32px; height: 32px; background: url(/_ui/responsive/theme-blue/images/akl_plp/m-sp_button-smartpay.png) -0.5px 0 no-repeat; background-size: 32px auto;}
		/* E : 실제 사이트에서는 @media (max-width: 768px) 해상도에서만 노출(산출물에서만 pc에도 노출되도록 수정) */
	</style>
</head>
<body class="akl renewal-fonts">
	<div class="top-area">
		<p>COMPONENT GUIDE</p>
	</div>
	<p class="h1">Form</p>
	<div class="box_wrap">
		<p class="h2">Input</p>
		<div class="type_view">
			<input type="text" class="form_input" title="">
		</div>
		<p class="h2">Radio</p>
		<div class="type_view">
			<div class="form_group-element">
				<span class="form_element-radio no_label">
					<input type="radio" id="r1" name="rr" checked="checked" />
					<label for="r1">radio</label>
				</span>
				<span class="form_element-radio no_label">
					<input type="radio" id="r2" name="rr" />
					<label for="r2">radio2</label>
				</span>
				<span class="form_element-radio no_label">
					<input type="radio" id="r3" name="rr" disabled="disabled"/>
					<label for="r3">radio3</label>
				</span>
				<span class="form_element-radio no_label">
					<input type="radio" id="r4" name="rr" />
					<label for="r4">radio3</label>
				</span>
			</div>

			<div class="form_group-element">
				<span class="form_element-radio">
					<input type="radio" id="radio" name="radio" checked="checked" />
					<label for="radio">radio</label>
				</span>
				<span class="form_element-radio">
					<input type="radio" id="radio2" name="radio" disabled="disabled" />
					<label for="radio2">radio2</label>
				</span>
				<span class="form_element-radio">
					<input type="radio" id="radio3" name="radio" />
					<label for="radio3">radio3</label>
				</span>
			</div>

			<div class="form_group-element">
				<span class="form_element-radio v1">
					<input type="radio" id="radio01" name="radio" checked="checked" />
					<label for="radio01">모바일, pc 사이즈 동일한 radio</label>
				</span>
				<span class="form_element-radio v1">
					<input type="radio" id="radio02" name="radio" />
					<label for="radio02">모바일, pc 사이즈 동일한 radio2</label>
				</span>
			</div>

		</div>
		<p class="h2">Checkbox</p>
		<div class="type_view">
			<div class="form_group-element">
				<span class="form_element-checkbox no_label">
					<input type="checkbox" id="chk" checked="checked" />
					<label for="chk" class="sp_chk">checkbox</label>
				</span>
				<span class="form_element-checkbox no_label">
					<input type="checkbox" id="chk2" />
					<label for="chk2" class="sp_chk">checkbox2</label>
				</span>
				<span class="form_element-checkbox no_label">
					<input type="checkbox" id="chk3" disabled="disabled" />
					<label for="chk3" class="sp_chk">checkbox3</label>
				</span>
				<span class="form_element-checkbox no_label">
					<input type="checkbox" id="chk4" />
					<label for="chk4" class="sp_chk">checkbox4</label>
				</span>
			</div>

			<div class="form_group-element">
				<span class="form_element-checkbox">
					<input type="checkbox" id="checkbox" checked="checked" />
					<label for="checkbox" class="sp_chk">checkbox</label>
				</span>
				<span class="form_element-checkbox">
					<input type="checkbox" id="checkbox2" />
					<label for="checkbox2" class="sp_chk">checkbox2</label>
				</span>
				<span class="form_element-checkbox">
					<input type="checkbox" id="checkbox3" disabled="disabled" />
					<label for="checkbox3" class="sp_chk">checkbox3</label>
				</span>
				<span class="form_element-checkbox">
					<input type="checkbox" id="checkbox4" />
					<label for="checkbox4" class="sp_chk">checkbox4</label>
				</span>
			</div>
			<div class="form_group-element">
				<span class="form_element-checkbox v1">
					<input type="checkbox" id="chk01" checked="checked" />
					<label for="chk01" class="sp_chk">모바일, pc 사이즈 동일한 checkbox</label>
				</span>
				<span class="form_element-checkbox v1">
					<input type="checkbox" id="chk02" />
					<label for="chk02" class="sp_chk">모바일, pc 사이즈 동일한 checkbox2</label>
				</span>
			</div>
		</div>
		<p class="h2">Select</p>
		<div class="type_view">
			<span class="form_select-default">
				<select class="form_select">
					<option>높은 가격순</option>
					<option>최신순</option>
					<option>낮은가격순</option>
					<option>가나다순</option>
				</select>
				<i class="sp_form sp_select-default"></i>
			</span>
			<br><br>
			<span class="form_select-default v1">
				<select class="form_select">
					<option>높은 가격순</option>
					<option>최신순</option>
					<option>낮은가격순</option>
					<option>가나다순</option>
				</select>
				<i class="sp_form sp_select-default"></i>
			</span>
		</div>
		<p class="h2">Spinor</p>
		<div class="type_view">
			<div class="spinor_area">
				<button type="button" class="btn_spinor-minus"><span class="txt_hide">감소</span></button>
				<button type="button" class="btn_spinor-plus"><span class="txt_hide">증가</span></button>
				<input type="text" class="form_input">
			</div>
			<div class="spinor_area">
				<button type="button" class="btn_spinor-minus" disabled><span class="txt_hide">감소</span></button>
				<button type="button" class="btn_spinor-plus" disabled><span class="txt_hide">증가</span></button>
				<input type="text" class="form_input">
			</div>
		</div>
		<p class="h2">toggle switch</p>
		<div class="type_view">
			<div class="switch_toggle">
				<input type="checkbox" id="switch_toggle" class="checkbox_toggle">
				<label class="btn_toggle focus" for="switch_toggle"></label>
			</div>
		</div>
	</div>

	<p class="h1">Tag</p>
	<div class="box_wrap">
		<p class="h2">Hash</p>
		<div class="type_view">
			<div class="hash_tag-wrap">
				<a href="" class="hash_tag-item">#여성선물베스트</a>
				<a href="" class="hash_tag-item">#holidaypresentformom</a>
				<a href="" class="hash_tag-item">#환절기템</a>
				<a href="" class="hash_tag-item">#어버이날</a>
			</div>
		</div>
		<p class="h2">Flag</p>
		<div class="type_view">
			<div class="flag_wrap">
				<span class="flag_item-new">신제품</span>
				<span class="flag_item-promotion">프로모션</span>
				<span class="flag_item-soldout">일시품절</span>
				<span class="flag_item-smart">스마트오더</span>
				<span class="flag_item-schedule">출시예정</span>
				<span class="flag_item-install">설치제품</span>
				<span class="flag_item-pickup">픽업전용</span>
				<span class="flag_item-delivery">배달전용</span>
				<span class="flag_item-after-delivery">추후배송</span>
				<span class="flag_item-discontinue">단종</span>
				<span class="flag_item-installment">10개월무이자</span>
				<span class="flag_item-freebies">증정품</span>
				<!--<span class="flag_item-aclicks">A Cliks</span>-->
				<span class="one4one_flag-acliks"><i class="sp_one4one sp_acliks"></i><span class="blind">A cliks</span></span>
				<span class="flag_item-add_component">추가 구성품</span>
				<span class="flag_item-install">설치제품</span>
				<span class="flag_item-deliveryOrder">배달 주문 제품</span> <!-- 20231228 태그 추가 -->
			</div>
		</div>
		<p class="h2">상태메시지</p>
		<div class="type_view">
			<div class="txt_order-state">
				<span class="order-state v1">주문완료</span> <br>
				<span class="order-state v1">픽업완료</span> <br>
				<span class="order-state">주문취소</span> <br>
				<span class="order-state">입금확인대기</span> <br>
				<span class="order-state">상품준비중</span> <br>
				<span class="order-state">픽업예약</span> <br>
				<span class="order-state">설치예약</span> <br>
				<span class="order-state">부분상품 준비중</span> <br>
				<span class="order-state">출고완료</span> <br>
				<span class="order-state">미인수 자동반품</span> <br>
				<span class="order-state">부분출고완료</span>
			</div>
		</div>
	</div>

	<p class="h1">Button</p>
	<div class="box_wrap">
		<p class="h2">Button</p>
		<div class="type_view">
			<button type="button" class="btn_basic-a">btn_basic-a</button>
			<button type="button" class="btn_basic-b">btn_basic-b</button>
			<button type="button" class="btn_basic-c">btn_basic-c</button>
			<button type="button" class="btn_basic-d">btn_basic-d</button>
			<button type="button" class="btn_basic-e">btn_basic-e</button>
			<button type="button" class="btn_basic-f">btn_basic-f</button>
			<button type="button" class="btn_basic-g">btn_basic-g</button>
			<button type="button" class="btn_round-a">btn_round-a</button>
			<button type="button" class="btn_round-a"><i class="sp_button sp_button-reset"></i>초기화</button>
			<button type="button" class="btn_square-a">btn_square-a</button>
			<button type="button" class="btn_square-b">btn_square-b</button>
			<button type="button" class="btn_square-c">btn_square-c</button>
			<button type="button" class="btn_square-d">btn_square-d</button>
			<button type="button" class="btn_circle-a"><i class="sp_button sp_button-cart">카트담기</i></button>
			<button type="button" class="btn_circle-a"><i class="sp_button sp_button-smart">스마트오더</i></button>
			<button type="button" class="btn_circle-a"><i class="sp_button sp_button-smartpay">스마트페이 주문</i></button>
			<button type="button" class="btn_circle-a" data-layer="pop_restock_notify"><i class="sp_button sp_button-restocked">재입고 알림</i></button>
		</div>
		<p class="h2">Button Small</p>
		<div class="type_view">
			<button type="button" class="btn_square-a small">btn_square-a small</button>
			<button type="button" class="btn_square-b small">btn_square-b small</button>
			<button type="button" class="btn_square-c small">btn_square-c small</button>
			<button type="button" class="btn_square-d small">btn_square-d small</button>
			<button type="button" class="btn_square-e small">btn_square-e small</button>
		</div>
		<p class="h2">Button Medium</p>
		<div class="type_view">
			<button type="button" class="btn_basic-a medium">btn_basic-a medium</button>
			<button type="button" class="btn_basic-b medium">btn_basic-b medium</button>
			<button type="button" class="btn_basic-c medium">btn_basic-c medium</button>
			<button type="button" class="btn_basic-d medium">btn_basic-d medium</button>
			<button type="button" class="btn_basic-e medium">btn_basic-e medium</button>
			<button type="button" class="btn_basic-f medium">btn_basic-f medium</button>

			<button type="button" class="btn_square-a medium">btn_square-a medium</button>
			<button type="button" class="btn_square-b medium">btn_square-b medium</button>
			<button type="button" class="btn_square-c medium">btn_square-c medium</button>
			<button type="button" class="btn_square-d medium">btn_square-d medium</button>
			<button type="button" class="btn_square-d medium"><i class="sp_button sp_button-list">리스트형 보기</i></button>
			<button type="button" class="btn_square-d medium"><i class="sp_button sp_button-image">이미지형 보기</i></button>
			<button type="button" class="btn_square-d medium active"><i class="sp_button sp_button-list">리스트형 보기</i></button>
			<button type="button" class="btn_square-d medium active"><i class="sp_button sp_button-image">이미지형 보기</i></button>
			<button type="button" class="btn_square-d medium active"><i class="sp_button sp_button-filter">필터</i></button>
		</div>
		<p class="h2">Button big</p>
		<div class="type_view">
			<button type="button" class="btn_basic-a big">btn_basic-a big</button>
			<button type="button" class="btn_basic-b big">btn_basic-b big</button>
			<button type="button" class="btn_basic-c big">btn_basic-c big</button>
			<button type="button" class="btn_basic-d big">btn_basic-d big</button>
			<button type="button" class="btn_basic-e big">btn_basic-e big</button>
			<button type="button" class="btn_basic-f big">btn_basic-f big</button>
		</div>
		<p class="h2">Button Disabled</p>
		<div class="type_view">
			<button type="button" class="btn_basic-a" disabled>btn_basic-a</button>
			<button type="button" class="btn_basic-b" disabled>btn_basic-b</button>
			<button type="button" class="btn_round-a" disabled>btn_round-a</button>
			<button type="button" class="btn_square-a" disabled>btn_square-a</button>
			<button type="button" class="btn_square-b" disabled>btn_square-b</button>
			<button type="button" class="btn_square-c" disabled>btn_square-c</button>
			<button type="button" class="btn_circle-a" disabled><i class="sp_button sp_button-cart">카트담기</i></button>
			<button type="button" class="btn_circle-a" disabled><i class="sp_button sp_button-smart">스마트오더</i></button>
		</div>
		<p class="h2">Button New Guide</p>
		<div class="type_view">
			<button type="button" class="btn_default-a">btn_default-a</button>
			<button type="button" class="btn_default-b">btn_default-b</button>
			<button type="button" class="btn_default-c">btn_default-c</button>
			<button type="button" class="btn_default-d">btn_default-d</button>
			<button type="button" class="btn_default-e">btn_default-e</button>
			<button type="button" class="btn_default-f">btn_default-f</button>
			<button type="button" class="btn_default-g">btn_default-g</button>
			<button type="button" class="btn_default-h">btn_default-h</button>
		</div>
		<p class="h3">Small size</p>
		<div class="type_view">
			<button type="button" class="btn_default-a small">btn_default-a small</button>
			<button type="button" class="btn_default-b small">btn_default-b small</button>
			<button type="button" class="btn_default-c small">btn_default-c small</button>
			<button type="button" class="btn_default-d small">btn_default-d small</button>
			<button type="button" class="btn_default-e small">btn_default-e small</button>
			<button type="button" class="btn_default-f small">btn_default-f small</button>
		</div>
		<p class="h3">Medium size</p>
		<div class="type_view">
			<button type="button" class="btn_default-a medium">btn_default-a medium</button>
			<button type="button" class="btn_default-b medium">btn_default-b medium</button>
			<button type="button" class="btn_default-c medium">btn_default-c medium</button>
			<button type="button" class="btn_default-d medium">btn_default-d medium</button>
			<button type="button" class="btn_default-e medium">btn_default-e medium</button>
			<button type="button" class="btn_default-f medium">btn_default-f medium</button>
		</div>
		<p class="h3">big size</p>
		<div class="type_view">
			<button type="button" class="btn_default-a big">btn_default-a big</button>
			<button type="button" class="btn_default-b big">btn_default-b big</button>
			<button type="button" class="btn_default-c big">btn_default-c big</button>
			<button type="button" class="btn_default-d big">btn_default-d big</button>
			<button type="button" class="btn_default-f big">btn_default-f big</button>
		</div>
	</div>

	<p class="h1">Button Group</p>
	<div class="box_wrap">
		<p class="h2">Button type1</p>
		<div class="type_view">
			<div class="top_action-area">
				<button type="button" class="btn_basic-a big">추천팩 공유</button>
				<button type="button" class="btn_basic-d big">바로구매</button>
				<button type="button" class="btn_basic-d big">장바구니 담기</button>
			</div>
		</div>

		<p class="h2">Button type2</p>
		<div class="type_view">
			<div class="top_action-area type2">
				<button type="button" class="btn_basic-a big">주문하기</button>
				<button type="button" class="btn_basic-d big">장바구니</button>
				<button type="button" class="btn_basic-d big open-mypack"><i class="sp_ico"></i>마이팩 담기</button>
			</div>
		</div>

		<p class="h2">Button type3</p>
		<div class="type_view">
			<div class="top_action-area type2">
				<div class="add_to_cart_form pc type1">
					<button id="PDP_DirectPurchase" class="bt-akl-blue large">바로구매</button>
					<button id="PDP_AddCart" class="bt-akl-white large">장바구니</button>
					<button id="PDP_Restock" class="bt-akl-white large bt-akl-Restock" data-layer="pop_restock_notify"><i class="sp_ico"></i>재입고 알림</button>
				</div>
			</div>
		</div>
	</div>

	<p class="h1">Drop Box</p>
	<div class="box_wrap">
		<p class="h2">Product Option</p>
		<div class="type_view">
			<div class="box_select product_option">
				<div class="box_select-item">
					<button type="button" class="select_item select_item-selected">
						<span class="select_item-wrap option_selected js-data">
							<span class="select_item-thumb image_round"><img src="//dummyimage.com/16x16/f8e2d8/222" alt=""></span>
							<span class="select_item-title">샤블리</span>
						</span>
						<i class="sp_form sp_dropbox-a"></i>
					</button>
					<input type="hidden" value="" title="상품 옵션값">
					<ul class="select_list list_minishop">
						<li class="select_list-item selected">
							<button type="button" class="select_item">
								<span class="select_item-wrap">
									<span class="select_item-thumb image_round"><img src="//dummyimage.com/16x16/f8e2d8/222" alt=""></span>
									<span class="select_item-title">샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리 샤블리</span>
								</span>
							</button>
						</li>
						<li class="select_list-item">
							<button type="button" class="select_item">
								<span class="select_item-wrap">
									<span class="select_item-thumb image_round"><img src="//dummyimage.com/16x16/edd3ba/222" alt=""></span>
									<span class="select_item-title">비스크</span>
								</span>
							</button>
						</li>
						<li class="select_list-item">
							<button type="button" class="select_item">
								<span class="select_item-wrap">
									<span class="select_item-thumb image_round"><img src="//dummyimage.com/16x16/ebc9ae/222" alt=""></span>
									<span class="select_item-title">버프</span>
								</span>
							</button>
						</li>
						<li class="select_list-item">
							<button type="button" class="select_item">
								<span class="select_item-wrap">
									<span class="select_item-thumb image_round"><img src="//dummyimage.com/16x16/edd3ba/222" alt=""></span>
									<span class="select_item-title">비스크</span>
								</span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<p class="h2">Buy Option</p>
		<div class="type_view">
			<div class="box_select buy_option">
				<div class="box_select-item">
					<button type="button" class="select_item select_item-selected">
						<span class="select_item-wrap option_selected js-data">상품 구매옵션 선택</span>
						<i class="sp_form sp_dropbox-b"></i>
					</button>
					<input type="hidden" value="" title="상품 옵션값">
					<ul class="select_list">
						<li class="select_list-item selected">
							<button type="button" class="select_item">
								<span class="select_item-wrap">선물하기</span>
							</button>
						</li>
						<li class="select_list-item">
							<button type="button" class="select_item">
								<span class="select_item-wrap">마이팩 담기</span>
							</button>
						</li>
						<li class="select_list-item">
							<button type="button" class="select_item">
								<span class="select_item-wrap">위시리스트</span>
							</button>
						</li>
						<li class="select_list-item">
							<button type="button" class="select_item">
								<span class="select_item-wrap">정기주문추가</span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<p class="h1">Accordion</p>
	<div class="box_wrap">
		<p class="h2">Set</p>
		<div class="type_view">
			<dl class="box_accordion set_type">
				<dt class="accordion_title">세트구성<button type="button" class="btn_accordion"><i class="sp_form sp_accordion-a">open</i></button></dt>
				<dd class="accordion_contents">
					<div class="set_group">
						<div class="set_col-code">A59712P</div>
						<div class="set_col-name">하이드라 앰플 마스크 하이드라 앰플 마스크 하이드라 앰플 마스크 하이드라 앰플 마스크 하이드라 앰플 마스크 하이드라 앰플 마스크 하이드라 앰플 마스크</div>
						<div class="set_col-num">999</div>
						<div class="set_col-state">일시품절</div>
					</div>
					<div class="set_group">
						<div class="set_col-code">A5971P</div>
						<div class="set_col-name">아세로라C(100정)</div>
						<div class="set_col-num">58</div>
						<div class="set_col-state"></div>
					</div>
					<div class="set_group">
						<div class="set_col-code">A5971P</div>
						<div class="set_col-name">아세로라C(100정)</div>
						<div class="set_col-num">1</div>
						<div class="set_col-state"></div>
					</div>
				</dd>
			</dl>
		</div>
	</div>
	<p class="h1">No Data</p>
	<div class="box_wrap">
		<p class="h2">검색 결과없음</p>
		<div class="type_view">
			<div class="box_no-data">
				<p class="txt_no-data"><i class="sp_ico"></i>현재 영양건강 제품이 없습니다.</p>
			</div>
		</div>
	</div>

	<p class="h1">Floating</p>
	<div class="box_wrap">
		<p class="h2">PLP floating</p>
		<div class="type_view">
			<div class="box_mobile-floating">
				<div class="box_floating-mobile-btn">
					<button type="button" class="btn_floating"><i class="sp_form"></i>나의 메뉴보기</button>
					<div class="box_floating-area">
						<ul class="list_floating">
							<li class="list_item-floating"><a href="#;" class="gift"><i class="sp_ico"></i>선물하기</a></li>
							<li class="list_item-floating"><a href="#;" class="open-mypack"><i class="sp_ico"></i>마이팩담기</a></li>
							<li class="list_item-floating"><a href="#;" class="open-wishlist"><i class="sp_ico"></i>위시리스트</a></li>
						</ul>
					</div>
				</div>
				<div class="btn_floating-group">
					<span class="btn_box">
                        <button type="button" class="btn_square-a">바로구매</button>
                    </span>
					<span class="btn_box type2">
						<button type="button" class="btn_square-c btn-basket"><i class="sp_ico"></i>장바구니</button>
					</span>
					<span class="btn_box type2">
						<button type="button" class="btn-share"><i class="sp_ico"></i>A Cliks</button>
					</span>
				</div>
			</div>
		</div>

		<p class="h2">PLP floating_member</p>
		<div class="type_view">
			<div class="box_mobile-floating">
				<div class="btn_floating-group">
					<span class="btn_box">
                        <button type="button" class="btn_square-a">바로구매</button>
                    </span>
					<span class="btn_box"> <!-- member일 경우 type2 클래스 삭제 -->
						<button type="button" class="btn_square-c btn-basket"><i class="sp_ico"></i>장바구니</button>
					</span>
				</div>
			</div>
		</div>

		<p class="h2">선물세트 floating</p>
		<div class="type_view">
			<div class="box_mobile-floating">
				<div class="box_floating-mobile-btn">
					<button type="button" class="btn_floating"><i class="sp_form"></i>나의 메뉴보기</button>
					<div class="box_floating-area">
						<ul class="list_floating">
							<li class="list_item-floating disabled"><a href="#;" class="open-mypack"><i class="sp_ico"></i>마이팩담기</a></li>
							<li class="list_item-floating disabled"><a href="#;" class="open-wishlist"><i class="sp_ico"></i>위시리스트</a></li>
						</ul>
					</div>
				</div>
				<div class="btn_floating-group">
					<span class="btn_box">
                        <button type="button" class="btn_square-a">선물하기</button>
                    </span>
					<span class="btn_box type2">
						<button type="button" class="btn_square-c btn-basket" disabled><i class="sp_ico"></i>장바구니</button>
					</span>
					<span class="btn_box type2">
						<button type="button" class="btn-share" disabled><i class="sp_ico"></i>A Cliks</button>
					</span>
				</div>
			</div>
		</div>

		<p class="h2">선물세트 floating_member</p>
		<div class="type_view">
			<div class="box_mobile-floating">
				<div class="btn_floating-group">
					<span class="btn_box"> <!-- member일 경우 type2 클래스 삭제 -->
						<button type="button" class="btn_square-c btn-basket"><i class="sp_ico"></i>장바구니</button>
					</span>
				</div>
			</div>
		</div>

		<p class="h2">장바구니 모바일 floating</p>
		<div class="type_view">
			<div class="box_mobile-floating">
				<div class="box_total-floating">
					<div class="box_total-inner">
						<span class="text_total"><strong>총</strong><strong class="point-color">99</strong>개<strong class="point-color">370,000</strong>원</span>
						<span class="text_total">총 PV/BV:<strong class="point-color">370,000,000/370,000,000</strong></span>
					</div>
				</div>
				<div class="btn_floating-group">
					<span class="btn_box">
                        <button type="button" class="btn_square-a">주문하기</button>
                    </span>
					<span class="btn_box type2">
						<button type="button" class="btn_square-c gift"><i class="sp_ico"></i>선물하기</button>
					</span>
					<span class="btn_box type2">
						<button type="button" class="btn-share"><i class="sp_ico"></i>A Cliks</button>
					</span>
				</div>
			</div>
		</div>
		<p class="h2">장바구니 모바일 floating_member</p>
		<div class="type_view">
			<div class="box_mobile-floating">
				<div class="box_total-floating">
					<div class="box_total-inner">
						<span class="text_total"><strong>총</strong><strong class="point-color">99</strong>개<strong class="point-color">370,000</strong>원</span>
						<span class="text_total">총 PV/BV:<strong class="point-color">370,000</strong></span>
					</div>
				</div>
				<div class="btn_floating-group">
					<span class="btn_box">
                        <button type="button" class="btn_square-a">주문하기</button>
                    </span>
				</div>
			</div>
		</div>

		<p class="h2">퀵오더 floating</p>
		<div class="type_view">
			<div class="box_mobile-floating">
				<div class="box_floating-mobile-btn">
					<button type="button" class="btn_floating"><i class="sp_form"></i>나의 메뉴보기</button>
					<div class="box_floating-area">
						<ul class="list_floating">
							<li class="list_item-floating"><a href="#;" class="btn_square-c btn-basket"><i class="sp_ico"></i>장바구니</a></li>
							<li class="list_item-floating"><a href="#;" class="open-mypack"><i class="sp_ico"></i>마이팩담기</a></li>
						</ul>
					</div>
				</div>
				<div class="btn_floating-group">
					<span class="btn_box">
						<button type="button" class="btn_square-a">
							<span class="box_total-floating">
								<span class="box_total-inner">
									<span class="text_total">총<strong class="point-color">99</strong>개<strong class="point-color">370</strong>원</span>
									<span class="text_total">총 PV/BV: 100/1,000</span>
								</span>
							</span>
							<span class="btn_quick">주문하기</span>
						</button>
					</span>
				</div>
			</div>
		</div>

		<p class="h2">결제하기 타입 floating</p>
		<div class="type_view">
			<div class="box_mobile-floating">
				<button type="button" class="btn_square-a btn_payment-type">
					<span class="txt_total-price">
						총<strong class="txt_point-color">300,000</strong>원
					</span>
					<span class="txt_point-payment">결제하기</span>
				</button>
			</div>
		</div>

		<p class="h2">재입고 알림 floating</p>
		<div class="type_view">
			<!-- pc에서 모바일 css 확인하기 위해서 style 추가해놓음 -->
			<style>
				.box_mobile-floating .btn_floating-group .btn_box .bt-akl-Restock .sp_ico {width:22px; height:22px; background:url(/_ui/responsive/theme-blue/images/akl_plp/ico_bell_b_b.png) no-repeat left top / 100% auto; margin-right:8px;}
				.box_mobile-floating .btn_floating-group .btn_box .bt-akl-Restock:hover .sp_ico {background-image:url(/_ui/responsive/theme-blue/images/akl_plp/ico_bell_w_b.png);}
			</style>

			<div class="box_mobile-floating">
				<div class="box_floating-mobile-btn">
					<button type="button" class="btn_floating"><i class="sp_form"></i>나의 메뉴보기</button>
					<div class="box_floating-area">
						<ul class="list_floating">
							<li class="list_item-floating"><a href="#;" class="gift"><i class="sp_ico"></i>선물하기</a></li>
							<!--li class="list_item-floating"><a href="#;" class="open-mypack"><i class="sp_ico"></i>마이팩담기</a></li--><!--20201112 마아팩메뉴 삭제 -->
							<li class="list_item-floating"><a href="#;" class="open-wishlist"><i class="sp_ico"></i>위시리스트</a></li>
						</ul>
					</div>
				</div>
				<div class="btn_floating-group">
					<span class="btn_box">
						<button type="button" class="btn_square-c bt-akl-Restock" data-layer="pop_restock_notify"><i class="sp_ico"></i>재입고 알림</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<p class="h1">Coupon</p>
	<div class="box_wrap">
		<p class="h2">default Coupon</p>
		<div class="type_view">
			<div class="box_coupon-item">
				<div class="coupon-info">
					<p class="coupon-name">엣모스피어 드라이브 필터 재구매 쿠폰(APR 20)</p>
					<p class="coupon-date">2020.06.20 ~ 2020.08.20</p>
				</div>
				<div class="coupon-own">
					<strong>100</strong>장
				</div>
			</div>
		</div>

		<p class="h2">기간만료 Coupon</p>
		<div class="type_view">
			<div class="box_coupon-item type-b-expiration">
				<div class="coupon-info">
					<p class="coupon-name">5월 가정의 달 프로모션 20,000원 할인쿠폰</p>
					<p class="coupon-date">2020.06.20 ~ 2020.08.20</p>
				</div>
				<div class="coupon-own">
					<strong>34</strong>장
				</div>
			</div>
		</div>

		<p class="h2">사용완료 Coupon</p>
		<div class="type_view">
			<div class="box_coupon-item type-b-complete">
				<div class="coupon-info">
					<p class="coupon-name">이스프링 필터 7~8개월 사용 쿠폰</p>
					<p class="coupon-date">2020.06.20 ~ 2020.08.20</p>
				</div>
				<div class="coupon-own">
					<strong>1</strong>장
				</div>
			</div>
		</div>
	</div>

	<!-- NEW PLP 마이팩 담기 팝업 -->
	<div class="layerWrapper plp_lp01_pop">
		<div class="cbox layerBox popWidL">
			<div class="cart-popup__dialog">
				<div class="cart-popup__header">
					<span class="cart-popup__header-text">마이팩 담기
						<a href="#" data-dismiss="modal" aria-label="Close" aria-hidden="true"  class="cart-popup__close">
							<img src="/_ui/responsive/theme-blue/images/close.png" alt="닫기">
						</a>
					</span>
				</div>
				<div class="cart-popup__content">
					<div class="cart-popup__item-info">
						<div class="pop-option-area">
							<div class="pop-option-title">

							</div>
							<div class="pop-option-body">

							</div>
						</div>
					</div>
					<div class="cart-popup__item-link">
						<a href="javascript:void(0)" class="btn-blue-white">제품 담기</a>
						<a class="bt-akl-txt">새 마이팩 담기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// NEW PLP 마이팩 담기 팝업 -->

	<!-- NEW PLP 위시리스트 팝업 -->
	<div class="layerWrapper plp_lp02_pop">
		<div class="cbox layerBox popWidL">
			<div class="cart-popup__dialog">
				<div class="cart-popup__header">
					<span class="cart-popup__header-text">위시리스트
						<a href="#" data-dismiss="modal" aria-label="Close" aria-hidden="true"  class="cart-popup__close">
							<img src="/_ui/responsive/theme-blue/images/close.png" alt="닫기">
						</a>
					</span>
				</div>
				<div class="cart-popup__content">
					<div class="cart-popup__item-info">
						<div class="pop-option-area">
							<div class="pop-option-title">

							</div>
							<div class="pop-option-body">

							</div>
						</div>
					</div>
					<div class="cart-popup__item-link">
						<a href="javascript:void(0)" class="btn-blue-white">보내기</a>
						<a class="bt-akl-txt">위시리스트 추가</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// NEW PLP 위시리스트 팝업 -->

	<script>
		$(document).ready(function() {
			// NEW PLP : 플로팅 버튼 팝업
			$('.btn_floating').click(function () {
				$(this).toggleClass('active')
			})

			// NEW PLP : 마이팩담기 팝업
			$('.open-mypack').click(function (event) {
				event.preventDefault();
				layerPopOver(this, '.plp_lp01_pop');
			});

			// NEW PLP : 위시리스트 팝업
			$('.open-wishlist').click(function (event) {
				event.preventDefault();
				layerPopOver(this, '.plp_lp02_pop');
			});
		})
	</script>
</body>
</html>
