/** ---------------------------------------------------------
  * Version : AKL Hybris UIUX 1.0
  * @ 파일 : akl-customer.css
  * @ 구분 :
  * ---------------------------------------------------------
  */

/* 사용안내문 */
.visualUse {text-align:center; background:#fff url(../images/akl_common/@img/bg_info_use.png) no-repeat top center !important; background-size:contain !important; padding:0 20% !important}
.visualUse .tit {display:inline-block; margin-top:7%; color:#fff; font-size:58px; letter-spacing:-0.05em}
.visualUse .tit em {font-weight:500; font-size:58px}
.visualUse .tit .pc{display:none}
.visualUse img {margin-top:5%; max-width:80%}
.visualUse + div {padding-top:0 !important}

.cusUseNotice > div {padding:40px 20%;}
.cusUseNotice > div:nth-child(odd) {background-color:#f3f9f7}
.menuUsetit {font-size:22px; color:#0a5139; font-weight:500}
.menuUsetit, .menuUsetext {padding-left:50px !important; position:relative}
.menuUsetit:before, .menuUsetext:before {position:absolute; top:0; left:0; display:inline-block; width:37px; height:37px; color:#fff; text-align:center; font-size:24px; font-weight:700}
.menuUsetit:before {content:"Q"; background-color:#0a5139}
.menuUsetext:before {content:"A"; background-color:#002f5f}
.menuUsetext *{letter-spacing:-1px}
.menuUsetext {margin-top:20px !important}
.menuUsetext p {font-size:20px; font-weight:500; color:#002f5f; padding:2px 0 5px}
.menuUsetext p.type02 { color:#222;}
.menuUsetext ul li {color:#222; font-size:20px; margin-left:20px; text-indent:-20px}
.menuUsetext ul li em{font-size:16px;}
.menuUsetext .fc_blue {margin-left:20px; color:#0075a4}
.menuRockImg {margin-top:35px !important; text-align:center}
.chromeUsetit { padding-top:20px!important}
.chromeUsetit span {display:block;font-size:16px; position:relative; padding-left:8px; margin-bottom:10px;}
.chromeUsetit span:before {content:""; width:4px; height:4px; background:#444; border-radius:24px; position:absolute;left:0; top:12px}
.chromeUsetit b{color:#0075a4; font-weight:400}
.chromeUsetit ul {margin-left:8px;}
.chromeUsetit ul li {font-size:16px;}
.chromeUsetit .browser-btn .bt-akl-blue {border-radius:4px; height:50px; line-height:50px; font-size:20px; margin:10px 0 40px 90px}
.chromeUsetit .browser-btn .bt-akl-blue:hover {color:#002F5F!important; background-color: #002F5F;}
.chromeUsetit .browser-btn .bt-akl-blue:visited {color:#fff;background-color:#002f5f}
.faqText p{ font-size:40px;letter-spacing:-2px; color:#000; font-weight:500;}
.faqText .browser-btn .bt-akl-blue {border-radius:4px; height:50px; line-height:50px; font-size:20px; margin-top:15px;}
.faqText .browser-btn .bt-akl-blue:hover {color:#002F5F!important; background-color: #002F5F;}
.faqText .browser-btn .bt-akl-blue:visited {color:#fff!important;}
.faqText .browser-btn.center { text-align:center;}
.menuUseIcon {background:url(../images/akl_common/@img/@menu_use_icon.png) no-repeat 0 4px !important;  margin-left:30px; text-indent:40px}

 /*** 메뉴잠금 안내 ***/
.menuRockNotice{ position:relative;  font-size:15px; text-align:center; }
.menuRockNotice * { color:#222; letter-spacing:-2px}
.menuRockNotice .menuRockWrap {background:#f4f4f4; padding:40px; text-align:center; font-size:45px;margin-bottom:60px; font-weight:500}
.menuRockNotice .menuRockWrap span{display:block;color:#c4133f}
.menuRockNotice .menuRockImg{ text-align:center; border-top:1px solid #dadada; margin-top:60px; padding-top:55px}
.menuRockNotice .menuRockImg.first {border-top:0; margin-top:0; }
.menuRockNotice .menuRockImg img{ width:100%; max-width:500px;}
.menuRockNotice .menuRockBtn{text-align:center; margin-top:30px;}
.menuRockNotice .menuRockBtn .bt-akl-blue:visited {color:#fff;}
.menuRockNotice .menuRockBtn .bt-akl-blue:hover {color:#002F5F;}
.menuRockNotice .menuRocktit{ font-size:30px; font-weight:500}
.menuRockNotice .menuRocktit2{ font-size:50px; margin-top:60px; color:#002f5f;border-top:1px solid #dadada; font-weight:500; padding-top:55px}
.menuRockNotice .menuRocktext {font-size:30px; margin-top:40px;}
.menuRockNotice .menuRocktext span{display:block;margin-top:10px; font-size:26px; color:#444}
.menuRockNotice .menuRocktext span i{display:block; font-size:26px; color:#444}
.menuRockNotice .menuRocktext b{color:#0075a4; font-weight:400}
.menuRockNotice .menuRocktext2{margin-top:10px; font-size:26px;color:#666;}
.menuRockNotice .menuRocktext2 a{color:#0075a4; font-size:26px}
.menuRockNotice .losWrap {border-top:1px solid #dadada; margin-top:60px; padding-top:55px}

/*** 홈페이지 오픈안내 ***/
.os_noticeRes .eventNoticeC01{ height:1094px; background:url(../images/akl_common/@img/@event_bg01.jpg) repeat-x center top;text-align:center; padding-top:90px;}
.os_noticeRes .eventNoticeC02{background:#f4f4f4;text-align:center;padding-top:60px;}
.os_noticeRes .eventNoticeC02 .btnlist{ overflow:hidden; max-width:970px; text-align:center; margin:40px auto 10px; border-top:1px solid #cbcbcb; padding-top:40px;}
.os_noticeRes .eventNoticeC02 .btnlist li {display:inline-block; margin:0 6px 15px}
.os_noticeRes .eventNoticeC02 .pointtext {font-size:20px; padding-bottom:70px; margin-bottom:0;}
.os_noticeRes .eventNoticeC03{height:1045px; background:#1a83ad url(../images/akl_common/@img/@event_bg02.png) repeat-x 0 top;text-align:center;overflow:hidden;}
.os_noticeRes .eventNoticeC03 #banner_notice { width:700px; margin:0 auto;}
.os_noticeRes .eventNoticeC03 #banner_notice .tit-txt{font-size:50px; color:#ffd81c;font-weight:500;letter-spacing:-2px;margin:60px 0 14px;  background:url(../images/akl_common/@img/@event_logo.png) no-repeat center top; padding-top:70px }
.os_noticeRes .eventNoticeC03 #banner_notice .sub-txt{font-size:30px; color:#fff;letter-spacing:-2px; line-height:150%;display:block;margin-bottom:60px;}
.os_noticeRes .eventNoticeC03 #banner_notice .owl-carousel .item img {max-width:871px; width:auto; display:inline-block; }
.os_noticeRes .eventNoticeC03 > p.browser-text {clear:both;letter-spacing:-2px; }
.os_noticeRes .eventNoticeC03 > p.browser-text span{ line-height:130%;display:inline-block;color:#fff;font-size:30px;font-weight:500;  background:url(../images/akl_common/@img/@event_icon.png) no-repeat 0 top; padding-left:100px;}

.os_noticeRes .eventNoticeC03 > p.browser-text em{display:block;color:#ffd81c;font-size:30px;font-weight:500;}
.os_noticeRes .eventNoticeC03 > p.browser-btn {text-align:center; margin-top:30px}
.os_noticeRes .eventNoticeC03 > p.browser-btn .bt-akl-blue {background-color: #0a397c; border: 1px solid #0a397c;font-size: 16px;padding: 0 25px; width:250px;border-radius:4px}
.akl .os_noticeRes .eventNoticeC03 > p.browser-btn .bt-akl-blue:hover,
.os_noticeRes .eventNoticeC03 > p.browser-btn .bt-akl-blue:visited {color:#fff;}
.os_noticeRes .eventNoticeC04{background:#f4f4f4;text-align:center;}
.os_noticeRes .eventNoticeC04 > img{margin:60px 0 80px;}
.akl .eventNoticeC03 #banner_notice .owl-nav .owl-prev {height:45px;left:-120px;background: url(../images/akl_common/@img/@btn_prev.png) no-repeat left 50% !important;background-size: 25px 45px !important;}
.akl .eventNoticeC03 #banner_notice .owl-nav .owl-next {height:45px;right:-120px;background: url(../images/akl_common/@img/@btn_next.png) no-repeat left 50% !important;background-size: 25px 45px !important;}

.openEvent {background:#0e2236;}
.openEvent .openEvent01{ height:1354px;background:url(../images/akl_common/@img/@event_bg03.jpg) repeat-x center top; text-align:center; padding-top:140px;}
.openEvent .openEvent01>div{height:1146px;background:url(../images/akl_common/@img/@event_text04.png) no-repeat center top;}
.openEvent .openEvent02{ min-height:888px; background:#0e2236 url(../images/akl_common/@img/@event_logo.png) no-repeat center 95%; padding-top:70px; padding-bottom:170px;}
.openEvent .openEvent02 p {text-align:center;}
.openEvent .openEvent02 .qulist {text-align:center; margin-top:70px;}
.openEvent .openEvent02 .qulist li{display:inline-block; width:228px; height:288px; margin:0 5px 15px}
.openEvent .openEvent02 .qulist li span{display:block;margin:70px 0 0 50px;text-align: left; font-size:17px; color:#fff }
.openEvent .openEvent02 .qulist li span em{display:block; font-size:17px; }
.openEvent .openEvent02 .qulist li.qulist1{background:url(../images/akl_common/@img/@event_bg04.png) no-repeat 0 0;}
.openEvent .openEvent02 .qulist li.qulist2{background:url(../images/akl_common/@img/@event_bg05.png) no-repeat 0 0;}
.openEvent .openEvent02 .qulist li.qulist3{background:url(../images/akl_common/@img/@event_bg06.png) no-repeat 0 0;}
.openEvent .openEvent02 .qulist li.qulist4{background:url(../images/akl_common/@img/@event_bg07.png) no-repeat 0 0;}
.openEvent .openEvent02 .qulist li.qulist5{background:url(../images/akl_common/@img/@event_bg08.png) no-repeat 0 0;}
.openEvent .openEvent02 .openEventBtn {text-align:center; margin-top:50px; margin-bottom:60px}
.openEvent .openEvent02 .openEventBtn .link-btn {display:inline-block; width:230px; height:62px; line-height:62px; background:#dc4b8f; color:#fff!important; border-radius:36px; font-size:20px; }
.openEvent .openEvent02 .openEventBtn .link-btn .glyphicon-menu-right:before { font-size: 20px; top:-6px; margin-left:10px;  height:20px;}
.openEvent .openEvent02 .openEvenTip {color:#b9bcc0; font-size:15px;text-align:left;background: url(../images/akl_common/@img/@event_text06.png) no-repeat left 50%;padding-left:50px;line-height:62px;margin-left:90px; }
.openEvent .openEvent02 .openEvenTip em{margin-right: 20px;}
.openEvent .openEvent02 .openEvenTip .link-btn{display:inline-block;  color:#00abef!important; }

@media (max-width:1024px) {

	/* 사용안내문 */
	.visualUse .tit {font-size:34px}
	.visualUse .tit em {font-size:34px}

}

@media (max-width:768px) {

	/* 사용안내문 */
	.visualUse .tit {font-size:24px}
	.visualUse .tit em {font-size:24px}
	.visualUse .tit .pc{display:block}
	.menuUsetit, .menuUsetext {padding-left:40px !important; position:relative}
	.menuUsetit:before, .menuUsetext:before {position:absolute; top:0; left:0; display:inline-block; width:30px; height:30px; color:#fff; text-align:center; font-size:18px; font-weight:500}
	.menuUsetit {font-size:16px;}
	.menuUsetext p {font-size:16px;}
	.menuUsetext ul li {font-size:16px; margin-left:15px; text-indent:-15px}
	.menuUsetext .fc_blue {margin-left:15px}

	.cusUseNotice > div {padding:25px 15px;}
	.menuUseIcon {background:url(../images/akl_common/@img/@menu_use_icon.png) no-repeat 0 5px !important; background-size:25px auto !important; text-indent:30px}
	.chromeUsetit .browser-btn .bt-akl-blue { height:40px; line-height:40px; font-size:16px;margin:10px 0 20px 0}
	.faqText p{ font-size:20px;letter-spacing:-2px; text-align:center;}
	.faqText .browser-btn .bt-akl-blue { height:40px; line-height:40px; font-size:16px; }
	.faqText .browser-btn.center { text-align:center;}

	/*** 메뉴잠금 안내 ***/
	.menuRockNotice * { letter-spacing:-1px}
	.menuRockNotice .menuRockWrap { padding:20px; font-size:25px;margin-bottom:30px; }
	.menuRockNotice .menuRockImg{  margin-top:30px; padding-top:25px}
	.menuRockNotice .menuRockBtn{  margin-top:30px;}
	.menuRockNotice .menuRocktit{ font-size:15px; }
	.menuRockNotice .menuRocktit2{ font-size:25px; margin-top:30px; padding-top:25px}
	.menuRockNotice .menuRocktext {font-size:14px; margin-top:20px;}
	.menuRockNotice .menuRocktext span{ font-size:13px}
	.menuRockNotice .menuRocktext span i{font-size:13px}
	.menuRockNotice .menuRocktext2{ font-size:14px; }
	.menuRockNotice .menuRocktext2 a{ font-size:14px}
	.menuRockNotice .losWrap {border-top:1px solid #dadada; margin-top:60px; padding-top:55px}

	.os_noticeRes .eventNoticeC01{ height:589px; background:url(../images/akl_common/@img/@event_bg01_mob.jpg) repeat-x center bottom; padding-top:50px; background-size:39px auto}
	.os_noticeRes .eventNoticeC01 > img{width:100%; max-width:324px; margin:0 auto}
	.os_noticeRes .eventNoticeC02 { padding-top:40px;}
	.os_noticeRes .eventNoticeC02 > img{width:100%; max-width:324px; margin:0 auto}
	.os_noticeRes .eventNoticeC02 .btnlist{ margin:40px auto 10px; width:310px; }
	.os_noticeRes .eventNoticeC02 .btnlist li{float:left; width:49.5%;margin:0 0 5px;display:block;overflow:hidden; border-radius:4px;text-align:center; }
	.os_noticeRes .eventNoticeC02 .btnlist li a{display:block; }
	.os_noticeRes .eventNoticeC02 .btnlist li:nth-of-type(even){float:right}
	.os_noticeRes .eventNoticeC02 .btnlist li img{ width:158px; max-width:none; }
	.os_noticeRes .eventNoticeC02 .pointtext {font-size:12px; padding-bottom:40px;}
	.os_noticeRes .eventNoticeC03{height:620px; background:#1a83ad url(../images/akl_common/@img/@event_bg02_mob.png) no-repeat 0 top;background-size:375px auto }
	.os_noticeRes .eventNoticeC03 #banner_notice { width:300px; margin:0 auto;}
	.os_noticeRes .eventNoticeC03 #banner_notice .tit-txt{white-space:nowrap; font-size:24px; margin:40px 0 14px;  background:url(../images/akl_common/@img/@event_logo.png) no-repeat center top; padding-top:40px;background-size:70px auto  }
	.os_noticeRes .eventNoticeC03 #banner_notice .sub-txt{font-size:14px; line-height:150%;display:block;margin-bottom:60px;letter-spacing: -1px;}
	.os_noticeRes .eventNoticeC03 #banner_notice .owl-carousel .item img {max-width:300px; width:300px!important; display:inline-block; }
	.os_noticeRes .eventNoticeC04 > img{width:100%; max-width:316px;margin:30px 0 40px;}
	.akl .eventNoticeC03 #banner_notice .owl-nav .owl-prev {height:22px;left:-8px; background: url(../images/akl_common/@img/@btn_prev.png) no-repeat left 50% !important; background-size: auto 22px !important;}
	.akl .eventNoticeC03 #banner_notice .owl-nav .owl-next {height:22px;right:-25px; background: url(../images/akl_common/@img/@btn_next.png) no-repeat left 50% !important; background-size: auto 22px !important;}
	.os_noticeRes .eventNoticeC03 > p.browser-text {letter-spacing:-1px;}
	.os_noticeRes .eventNoticeC03 > p.browser-text span{ font-size:15px; background:url(../images/akl_common/@img/@event_icon.png) no-repeat 50% top; padding:50px 0 0 0; background-size:40px auto}
	.os_noticeRes .eventNoticeC03 > p.browser-text em{ font-size:15px; }
	.os_noticeRes .eventNoticeC03 > p.browser-btn { margin-top:20px}


	.openEvent .openEvent01{ height:931px;background:url(../images/akl_common/@img/@event_bg03_mob.jpg) repeat-x center bottom; padding-top:80px;background-size:cover}
	.openEvent .openEvent01>div{height:772px;background:url(../images/akl_common/@img/@event_text04_mob.png) no-repeat center top;background-size:366px auto}
	.openEvent .openEvent02{ min-height:400px; padding-top:40px; padding-bottom:130px;}
	.openEvent .openEvent02 p img{width:100%; max-width:280px; margin:0 auto}
	.openEvent .openEvent02 .qulist { margin-top:40px;}
	.openEvent .openEvent02 .qulist li{display:block; width:335px; height:149px; margin:0 auto 15px}
	.openEvent .openEvent02 .qulist li span{display:block;margin:0;font-size:15px; padding:40px 30px 0 40px }
	.openEvent .openEvent02 .qulist li span em{display:inline;font-size:15px; }
	.openEvent .openEvent02 .qulist li.qulist1{background:url(../images/akl_common/@img/@event_bg04_mob.png) no-repeat 10px 0; background-size:310px auto}
	.openEvent .openEvent02 .qulist li.qulist2{background:url(../images/akl_common/@img/@event_bg05_mob.png) no-repeat 10px 0; background-size:310px auto}
	.openEvent .openEvent02 .qulist li.qulist3{background:url(../images/akl_common/@img/@event_bg06_mob.png) no-repeat 10px 0; background-size:310px auto}
	.openEvent .openEvent02 .qulist li.qulist4{background:url(../images/akl_common/@img/@event_bg07_mob.png) no-repeat 10px 0; background-size:310px auto}
	.openEvent .openEvent02 .qulist li.qulist5{background:url(../images/akl_common/@img/@event_bg08_mob.png) no-repeat 10px 0; background-size:310px auto}
	.openEvent .openEvent02 .openEventBtn { margin-top:30px; margin-bottom:30px}
	.openEvent .openEvent02 .openEventBtn .link-btn { width:210px; height:45px; line-height:45px; font-size:18px; }
	.openEvent .openEvent02 .openEventBtn .link-btn .glyphicon-menu-right:before { font-size: 18px; top:-4px; height:20px;}
	.openEvent .openEvent02 .openEvenTip { line-height:17px;margin-left:20px; padding:40px 20px 0 0; background: url(../images/akl_common/@img/@event_text06.png) no-repeat left 0; }
	.openEvent .openEvent02 .openEvenTip em{display:block;}
	.openEvent .openEvent02 .openEvenTip .link-btn{ margin-top:5px;}
}

@media (max-width: 420px) {
	/* 사용안내문 */
	.visualUse .tit {font-size:18px}
	.visualUse .tit em {font-size:18px}
}

@media (max-width:320px) {
	.os_noticeRes .eventNoticeC01{ height:500px;}
	.os_noticeRes .eventNoticeC01 > img{ max-width:280px; margin:0 auto}
	.os_noticeRes .eventNoticeC02 .btnlist{ margin:40px 10px 10px;}
	.os_noticeRes .eventNoticeC02 .btnlist li{float:left; width:49.5%;margin:0 0 5px;display:block;overflow:hidden; border-radius:4px;text-align:center; }
	.os_noticeRes .eventNoticeC02 .btnlist li a{display:block; }
	.os_noticeRes .eventNoticeC02 .btnlist li:nth-of-type(even){float:right}
	.os_noticeRes .eventNoticeC02 .btnlist li img{ width:140px; max-width:none; }
	.os_noticeRes .eventNoticeC03 #banner_notice { width:280px; }
	.os_noticeRes .eventNoticeC03 #banner_notice .tit-txt{ font-size:20px; }
	.os_noticeRes .eventNoticeC03 #banner_notice .sub-txt{font-size:12px; }
	.os_noticeRes .eventNoticeC04 > img{ max-width:280px;margin:20px auto 30px;}
	.akl .eventNoticeC03 #banner_notice .owl-nav .owl-prev { left:0; }
	.akl .eventNoticeC03 #banner_notice .owl-nav .owl-next { right:-15px; }
	.openEvent .openEvent01{ height:780px;}
	.openEvent .openEvent01>div{height:672px;background:url(../images/akl_common/@img/@event_text04_mob.png) no-repeat center top;background-size:300px auto}
	.openEvent .openEvent02 .qulist li{width:280px; height:130px}
	.openEvent .openEvent02 .qulist li span{font-size:14px;padding:40px 30px 0 40px }
	.openEvent .openEvent02 .qulist li span em{ font-size:14px; }
	.openEvent .openEvent02 .qulist li.qulist1{background:url(../images/akl_common/@img/@event_bg04_mob.png) no-repeat 5px 0; background-size:275px auto}
	.openEvent .openEvent02 .qulist li.qulist2{background:url(../images/akl_common/@img/@event_bg05_mob.png) no-repeat 5px 0; background-size:275px auto}
	.openEvent .openEvent02 .qulist li.qulist3{background:url(../images/akl_common/@img/@event_bg06_mob.png) no-repeat 5px 0; background-size:275px auto}
	.openEvent .openEvent02 .qulist li.qulist4{background:url(../images/akl_common/@img/@event_bg07_mob.png) no-repeat 5px 0; background-size:275px auto}
	.openEvent .openEvent02 .qulist li.qulist5{background:url(../images/akl_common/@img/@event_bg08_mob.png) no-repeat 5px 0; background-size:275px auto}
}
