/* 공통 */
#wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../image/img_bg.png") repeat center center;
}

header {
  position: fixed;
  width: calc(100% - 100px);
  top: 50px;
  left: 50px;
  z-index: 999;
}
div[class*="header"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
div[class*="header"] > * {
}
.header-payment .logo,
.header-admin .logo,
.header-exception .logo {
  display: none;
}
.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 2rem;
  color: #232323;
  font-weight: 700;
  letter-spacing: -1.6px;
}
.btn-back > img {
  margin-right: 22px;
}
.pay-process {
  flex: 1 1 30%;
}
.logo + .pay-process,
.btn-back + .pay-process {
  margin-left:7.5%;
}

.header-payment .pay-process {
  margin-left: 4%;
}
.pay-process > li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 53px;
  font-size: 1.5625rem;
  font-weight: 500;
  color: #999;
}
.pay-process > li:last-child {
  margin-right: 0;
}
.pay-process > li.on {
  font-weight: 700;
  color: #38539a;
}
.pay-process > li:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  right: -32px;
  background: url("../image/icn_arrow_off.png") no-repeat center center;
  background-size: 100%;
}
.pay-process > li.on:after {
  background: url("../image/icn_arrow_on.png") no-repeat center center;
  background-size: 100%;
}
.pay-process > li:last-child:after {
  display: none;
}
.header-admin .scan-member {
  flex: 1 1 30%;
  margin-left: 3.5%;
  margin-bottom: 0;
  display: none;
}
.header-admin .scan-member .member-name {
  font-weight: 300;
}
.btn-box {
  display: inline-flex;
  justify-content: space-between;
  margin-left: auto;
  align-items:center;
}
.btn-box > button {
  flex: 1;
  min-width: 221px;
  height: 65px;
  padding: 0 21px 0 67px;
  font-size: 24px;
  color: #38539a;
  letter-spacing: -1.2px;
  text-align: left;
  border: solid 4px #475ca8;
  border-radius: 36px;
}
.btn-box > button.on {
  color: #fff;
}
.btn-view-manual {
  background: url("../image/icn_manual.png") no-repeat 21px center;
  background-size: 36px 36px;
}
.btn-view-manual.on {
  background: #38539a url("../image/icn_manual_white.png") no-repeat 21px center;
  background-size: 36px 36px;
}

/*2210 AMWY-SCF-C00 start*/ 
.back {display:flex; align-items:center; font-size: 22px; font-weight: 700;}
.back img {margin-right: 16px;}

/*2210 AMWY-SCF-C00 end*/ 
/*2210 AMWY-SCF-A00 start*/
.btn-view-non-members {
  width: 209px;
  height: 65px;
  padding: 0 21px 0 67px;
  font-size: 24px;
  color: #38539a;
  font-weight: 700;
  letter-spacing: -1.3px;
  text-align: center;
  border: solid 4px #475ca8;
  border-radius: 36px;
  background: url("../image/icn_personal.png") no-repeat 22px center;
  background-size: 36px 36px;
}
/*2210 AMWY-SCF-A00 end */

.btn-call-staff {
  background: url("../image/icn_call.png") no-repeat 21px center;
  background-size: 36px 36px;
  margin-left: 9px;
}
.btn-call-staff.on {
  background: #38539a url("../image/icn_call_white.png") no-repeat 21px center;
}
.btn-cancel {
  background: url("../image/icn_cancel.png") no-repeat 21px center;
  background-size: 41px 41px;
}
.btn-cm {
  font-size: 2.875rem;
  color: #fff !important;
  font-weight: 700;
  background: #ff074a;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 190px 0;
}
.blue-bg {
  position: absolute;
  width: 100%;
  height: 41.7%;
  background: #38539a;
  left: 0;
  bottom: 0;
}
.intro-wr {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-box {
  margin-top: 12%;
  margin-bottom: 60px;
  text-align: center;
}
.main-box > img {
  margin-bottom: 30px;
}
.main-tit {
  margin-bottom: 20px;
  font-size: 2.875rem;
  letter-spacing: -2px;
}
.main-stit {
  font-size: 1.875rem;
  color: #6d6d6d;
  letter-spacing: -1.5px;
  font-weight: 300;
}

.touch-box {
  position: relative;
}
.touch-box:before,
.touch-box:after {
  content: "";
  position: Absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e20000;
  opacity: 0.2;
}
.touch-box:before {
  width: 92px;
  height: 92px;
  z-index: 1;
}
.touch-box:after {
  width: 132px;
  height: 132px;
}
.touch-box > img {
  position: relative;
  top: 26%;
  left: 12.5%;
  z-index: 10;
  animation: scaleEffect 1.5s infinite;
}
@keyframes scaleEffect {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

/* 팝업 */
#popup-wr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  /* display:none; */
}
.dim {
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.9);
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: calc(100% - 140px);
  height: calc(100% - 100px);
  padding: 100px 90px 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
.popup.staff-mode {
  gap: 10%;
}
.btn-close {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  right: 40px;
  background: #000;
}
.popup-cont {
  /* flex: 1;
    display: flex; */
}
.popup > h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}
#popup-wr .input-val {
  display: block;
  flex: none;
  width: 1260px;
  height: 140px;
  margin: 0 auto 60px;
  border: 2px solid #eee;
}

.pop-btn-box {
  text-align: center;
  font-size: 0;
  margin-top: 132px;
}
.pop-btn-box > button {
  min-width: 350px;
  min-height: 120px;
  padding: 15px 65px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2.3px;
  border: solid 4px #fc0749;
}
.btn-white {
  color: #fc0749;
  background: #fff;
  margin-right: 40px;
}
.btn-pink {
  color: #fff;
  background: #fc0749;
}

/* 키보드 레이아웃 */
.simple-keyboard {
  flex: 1 1 60%;
  background: #fff !important;
  border-radius: 0 !important;
}

.simple-keyboard > .hg-rows {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 13px;
}
.simple-keyboard > .hg-rows > .hg-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 11px;
}
.simple-keyboard > .hg-rows > .hg-row > div {
  font-size: 2.875rem;
  font-weight: 700;
  border: solid 2px #d2d2d2;
  border-radius: 0;
}
.simple-keyboard > .hg-rows > .hg-row > div:active {
  border: 1px solid #000;
}
.simple-keyboard > .hg-rows > .hg-row:first-child {
}
.simple-keyboard > .hg-rows > .hg-row:first-child > div {
  /* max-height:100px !important; */
  color: #38539a;
  background: #fff;
}
.simple-keyboard > .hg-rows > .hg-row:not(:first-child) > div {
  background: #f7f7f7;
}
.simple-keyboard div.hg-button-bksp {
  background: #797e8c !important;
}
.simple-keyboard div.hg-button-enter {
  grid-column: 9 / span 2;
  background: #ff074a !important;
  color: #fff;
  border: 0 !important;
}
.hg-theme-default .hg-button {
  width: 100% !important;
  height: 100% !important;
}
.hg-theme-default .hg-row > div:last-child {
  margin-right: 0 !important;
}

/* login */
.login-wr {
  text-align: center;
}

.login-tit {
  margin-bottom: 64px;
}
.login-tit img {
  margin-bottom: 40px;
}
.login-tit h2 {
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: -1.75px;
}
.login-tit h2 > strong {
}
.login-select {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  gap: 40px 0;
}
.login-select > a {
  display: flex;
  flex: 1 1;
  position: relative;
  width: 100%;
  padding: 89px 0;
  padding-left: 403px;
  background: #fff;
  border: 2px solid #d2d2d2;
  border-radius: 60px;
  box-shadow: 10px 17.3px 80px 0 rgba(0, 0, 0, 0.1);
}
.login-select > a > span {
  display: inline-block;
  position: absolute;
  left: 123px;
  top: 50%;
  transform: translateY(-50%);
}
.login-select > a > h3 {
  margin: 30px 0 25px;
  font-size: 46px;
  font-weight: 700;
  text-align: left;
}
.login-select > a > p {
  font-size: 1.875rem;
  font-weight: 300;
  color: #6d6d6d;
}

.login-select > a > h3 > span.more-info {
  display: block;
  margin-top: 15px;
  font-size: 36px;
  font-weight: 600;
}

.member-box {
  margin-right: 52px;
}
.member-box > h3 {
  color: #ff074a;
}
.nonmember-box > h3 {
  color: #2974d1;
}

.login-member,
.login-result {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.guide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 370px;
  margin-bottom: 30px;
  background: #f3f8ff;
  overflow: hidden;
}
.guide > * {
  flex: 1;
}
.guide-img-box {
  display: flex;
}
.guide-img-box > div {
  flex: 1;
  font-size: 0;
}
.img-right {
  position: relative;
  margin-left: -110px;
}
.img-right > img {
  display: none;
}
.img-right > img:first-child {
  display: block;  
}
.guide p {
  padding: 0 9%;
  font-size: 1.875rem;  
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 1.5;
  text-align: left;
}
.login-member .guide {
  border: 2px solid #d2d2d2;
}
.login-member .guide p {
  padding: 0 3.7%;
  font-size: 2.56rem;
  line-height: 1.57;
}
.login-member .guide p > strong {
  color: #ff0045;
  border-bottom: 2px solid #ff0000;
}
.member-number-box {
  display: flex;
  justify-content: space-between;
}
.member-number-box > * {
}
.member-number-box input[type="text"],
.popup input[type="text"] {
  flex: 1 1 64.5%;
  padding: 43px 50px;
  margin-right: 40px;
  font-size: 2.875rem;
  font-weight: 900;
  letter-spacing: 23px;
  text-align: center;
  box-sizing: border-box;
}
input.input-val::placeholder {
  font-family: "RixSinHead", sans-serif;
  color: #bcbcbc;
  opacity: 0.5;
}
input.input-val::-webkit-input-placeholder {
  font-family: "RixSinHead", sans-serif;
  color: #bcbcbc;
  opacity: 0.5;
}
input.input-val::-moz-placeholder {
  font-family: "RixSinHead", sans-serif;
  color: #bcbcbc;
  opacity: 0.5;
}
input.input-val:-ms-input-placeholder {
  font-family: "RixSinHead", sans-serif;
  color: #bcbcbc;
  opacity: 0.5;
}

.btn-write {
  flex: 1 1 35.5%;
  max-width: 400px;
}

.login-nonmember {
  position: relative;
  max-width: 1652px;
  margin: 0 auto;
}
.login-nonmember .guide {
  max-height: 540px;
  padding: 0 8.5%;
}
.login-nonmember .guide img {
  top: 0;
  margin-right: 0;
}
.login-nonmember .guide p {
  padding: 0;
}
#loading-wr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
  display: none;
}
#loading-wr > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#loading-wr .login-tit {
  margin-bottom: 0;
}
.lds-spinner {
  position: relative;
  width: 152px;
  height: 152px;
  margin-bottom: 80px;
}
.lds-spinner div {
  transform-origin: 76px 76px;
  animation: lds-spinner 0.9s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 6px;
  left: 70px;
  width: 12px;
  height: 36px;
  border-radius: 30px;
  background: #38539a;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: -0.1s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.login-result {
  padding: 0 50px;
}
.login-result > ul {
  margin-bottom: 42px;
  padding: 78px 49px;
  background: #fff;
}
.login-result > ul > li {
  padding: 30px 48px;
  border-bottom: 1px solid #d2d2d2;
  text-align: left;
}
.login-result > ul > li:first-child {
  padding-top: 0;
}
.login-result > ul > li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.login-result > ul > li:before {
}
.login-result > ul > li > * {
  display: inline-block;
  vertical-align: middle;
}
.login-result > ul > li > span {
  width: 32%;
  font-size: 1.625rem;
  color: rgba(153, 153, 153, 0.5);
}
.login-result > ul > li > strong {
  font-size: 2.875rem;
  color: #000;
  letter-spacing: 2.3px;
}

.login-result > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 140px;
  margin: 0 auto;
}

/* 스캔 */
.guide-wr {
  position: relative;
  max-width: 1400px;
  height: 740px;
  margin: 9% auto 0;
  padding: 80px 106px;
  background: #fff;
  text-align: center;
  border: 2px solid #d2d2d2;
  border-radius: 60px;
  box-shadow: 10px 17.3px 80px 0 rgb(0 0 0 / 10%);
}
.member-info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 240px;
  margin-bottom: 80px;
  padding: 45px 230px;
  font-size: 2.5rem;
  letter-spacing: -2px;
  background: rgba(56, 83, 154, 0.1);
  border-radius: 30px;
}
.member-info-box > div {
}
.member-info-box .member-img {
  flex: 1 1 20%;
}
.member-info-box .member-info {
  flex: 1 1 75%;
  margin-left: 5%;
  text-align: left;
  font-weight: 300;
  line-height: 1.3;
}
.member-info-box .member-name {
  font-weight: 700;
}
.member-info-box .member-number {
  color: #ff0045;
  letter-spacing: 8px;
}
.member-info-box > p {
  margin-top: 100px;
}
.guide-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.guide-box > img {
}
.guide-txt {
  font-size: 2.875rem;
  font-weight: 300;
  letter-spacing: -2.3px;
  line-height: 1.4;
  text-align: left;
}

.scan-wr {
  display: flex;
  height: 100%;
  padding-top: 7%;
}
.scan-wr > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scan-left-sec {
  flex: 1 1 27%;
  margin-right: 3%;
}
.scan-left-sec > div {
  background: #eceae2;
  text-align: center;
  border: 1px solid #d2d2d2;
}
.img-scan-info01 {
  flex: 1 1 56%;
  margin-bottom: 5%;
}
.img-scan-info01 > img {
  max-width: 100%;
  height: 100%;
}
.img-scan-info02 {
  flex: 1 1 44%;
}

.scan-right-sec {
  flex: 1 1 71%;
}
.scan-member {
  display: flex;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.scan-member .member-name {
  font-weight: 700;
}
.scan-member .member-number {
  color: #38539a;
  letter-spacing: 5.2px;
}
.scan-list {
}
.list-th {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background: rgba(56, 83, 154, 0.1);
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  text-align: center;
}
.list-th > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 700;
}
.scan-list .swiper-container {
  height: 348px;
  padding: 0 20px;
  background: #fff;
  border-bottom: 3px solid #000;
}
.scan-list .swiper-wrapper {
}
.scan-list .swiper-slide {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 2px solid #d2d2d2;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.scan-list .swiper-slide > span {
  display: table-cell;
  vertical-align: middle;
}
.scan-list span.prd-name {
  width: 40%;
  padding: 0 2%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.scan-list span.prd-num,
.scan-list span.prd-qt {
  width: 7.5%;
}
.scan-list span.prd-code,
.scan-list span.prd-promo,
.scan-list span.prd-price,
.scan-list span.prd-total {
  width: 12.5%;
}
.scan-list .list-th span.prd-price,
.scan-list .list-th span.prd-total {
  text-align:center
}
.scan-list span.prd-price,
.scan-list span.prd-total {
  padding: 0 2%;;
  text-align:right
}
.scan-list-bt,
.info-list-bt {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 0 25px;
}
.scan-noti {
  font-size: 1.25rem;
  color: #fc0707;
  font-weight: 300;
}
.scan-list-bt > div,
.info-list-bt > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.scan-list .swiper-count,
.info-list .swiper-count {
  font-size: 1.5rem;
  margin-right: 33px;
}
.scan-list .swiper-pagination,
.info-list .swiper-pagination {
  display: none;
}
.scan-list .swiper-btn {
}
.scan-list .swiper-btn > div,
.info-list .swiper-btn > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: auto;
  left: auto;
  right: auto;
  margin-top: 0;
}
.scan-list .swiper-btn .swiper-button-prev,
.scan-list .swiper-btn .swiper-button-next,
.info-list .swiper-btn .swiper-button-prev,
.info-list .swiper-btn .swiper-button-next {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #475ca8;
  opacity: 1;
}
.scan-list .swiper-btn .swiper-button-prev:after,
.scan-list .swiper-btn .swiper-button-next:after,
.info-list .swiper-btn .swiper-button-prev:after,
.info-list .swiper-btn .swiper-button-next:after {
  display: none;
}
.scan-list .swiper-btn .swiper-button-prev,
.info-list .swiper-btn .swiper-button-prev {
  background: url("../image/icn_btn_up.png") no-repeat center center;
}
.scan-list .swiper-btn .swiper-button-next,
.info-list .swiper-btn .swiper-button-next {
  margin-right: 10px;
  background: url("../image/icn_btn_down.png") no-repeat center center;
}
.scan-result {
  display: flex;
}
.scan-result > div {
}
.summary-box {
  flex: 1 1 46.5%;
  margin-right: 22px;
  padding: 17px 20px;
  background: #797e8c;
}
.summary-box > ul {
}
.summary-box > ul > li {
  display: flex;
  align-items: center;
  padding: 17px 15px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.summary-box > ul > li:first-child {
  padding-top: 0 !important;
}
.summary-box > ul > li:last-child {
  padding-bottom: 0 !important;
  border-bottom: 0;
}
.summary-box > ul > li > span {
  flex: 1 1 30%;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
}
.summary-box > ul > li > strong {
  flex: 1 1 70%;
  font-size: 1.625rem;
  font-weight: 500;
}
.summary-box > ul > li > strong.sum-dc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flag-coupon {
  position: relative;
  align-self: flex-end;
  padding-left: 27px;
  font-size: 1.25rem;
  color: #0bf1ff;
  letter-spacing: -1px;
}
.flag-coupon:before {
  content: "";
  position: Absolute;
  width: 17px;
  height: 13px;
  top: 50%;
  margin-top: -7px;
  left: 0;
  background: url("../image/icn_check.png") no-repeat center center;
}
.btn-view-promotion,
.btn-view-coupon,
.btn-view-restrict {
  padding: 8px 20px;
  background: #38539a;
  color: #fff;
  border-radius: 18px;
  font-size: 1.25rem;
}
.btn-view-coupon {
  align-self: flex-end;
}

.total-box {
  flex: 1 1 53.5%;
  display: flex;
  flex-direction: column;
}
.total-price {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  margin-bottom: 18px;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
}
.total-price > span {
  font-size: 1.625rem;
}
.total-price > strong {
  flex: 1 1 65%;
  font-size: 3.75rem;
  color: #ff074a;
  text-align: right;
}
.btn-pay {
  flex: 1 1 55%;
}

.select-bag {
  background: #fff;
  margin-bottom: 30px;
  padding: 50px 60px 40px;
  text-align: center;
}
.bag-noti {
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 50px;
}
.bag-list {
}
.bag-list > li {
  display: inline-flex;
  width: 320px;
  height: 270px;
  margin: 0 20px;
  border: 2px solid #38539a;
  border-radius: 10px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.bag-list > li.on {
  background: #38539a;
  color: #fff;
}
.bag-list > li:first-child img {
  margin-bottom: 15px;
}
.bag-list > li:nth-child(2) img {
  margin-bottom: 24px;
}
.bag-list > li:nth-child(3) img {
  margin-bottom: 20px;
}
.bag-list > li > div {
}
.bag-type {
  font-size: 1.625rem;
  font-weight: 300;
}
.bag-type strong {
  font-weight: 500;
}
.bag-price {
  margin-top: 8px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fc0749;
}
.bag-list > li.on .bag-price {
  color: #fff;
}
.count-box {
  margin-top: 20px;
}
.count-box > * {
  vertical-align: middle;
  border-radius: 5px;
}
.count-box > button {
  width: 50px;
  height: 50px;
  border: 2px solid #38539a;
}
.count-box > button.btn-minus {
  background: url("../image/icn_minus_blue.png") no-repeat center center;
}
.count-box > button.btn-plus {
  background: url("../image/icn_plus_blue.png") no-repeat center center;
}
.count-box input[type="number"] {
  width: 96px;
  height: 50px;
  padding: 15px 15px;
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  box-sizing: border-box;
}
.bag-list > li.on button {
  border: 2px solid #fff;
}
.bag-list > li.on button.btn-minus {
  background: url("../image/icn_minus_white.png") no-repeat center center;
}
.bag-list > li.on button.btn-plus {
  background: url("../image/icn_plus_white.png") no-repeat center center;
}
.bag-list > li.on input[type="number"] {
  border: 2px solid #fff;
}

/* 쿠폰 */
.popup-coupon {
  padding: 0 45px;
  margin-top: -100px;
}
.coupon-slider {
  position: relative;
}
.coupon-cont {
  margin-top: 100px;
  margin-bottom: 40px;
}
.coupon-list {
}
.coupon-list > li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
  border: 2px solid #38539a;
  vertical-align: middle;
  text-align: center;
}
.coupon-list > li.on {
  background: #38539a;
  color: #fff;
  opacity: 1 !important;
}
.coupon-list > li img {
  margin-bottom: 25px;
}
.cp-type {
  font-size: 1.625rem;
}
.cp-code {
  margin: 10px 0 20px;
  font-size: 1.25rem;
  color: #38539a;
  font-weight: 300;
}
.coupon-list > li.on .cp-code {
  color: #fff;
}
.cp-qt {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 30px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
  background: #797e8c;
  border-radius: 20px;
}
.coupon-list > li input[type="checkbox"] {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #38539a;
  border-radius: 5px;
  margin: 0 auto;
}
.coupon-list > li.on input[type="checkbox"] {
  border: 2px solid #fff;
  background: #38539a url("../image/icn_checked.png") no-repeat center center;
}
.coupon-slider .swiper-btn {
}
.coupon-slider .swiper-btn > div {
}
.coupon-slider .swiper-btn .swiper-button-prev,
.coupon-slider .swiper-btn .swiper-button-next {
}
.coupon-slider .swiper-btn .swiper-button-prev:after,
.coupon-slider .swiper-btn .swiper-button-next:after {
  display: none;
}
.coupon-slider .swiper-btn .swiper-button-prev {
  left: -73px;
  background: url("../image/icn_btn_left.png") no-repeat center center;
}
.coupon-slider .swiper-btn .swiper-button-next {
  right: -73px;
  background: url("../image/icn_btn_right.png") no-repeat center center;
}
.coupon-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
}
.coupon-total > span {
  flex: 1;
  font-size: 1.625rem;
  font-weight: 500;
}
.coupon-total > span.total-cp-dc {
  align-self: flex-end;
  text-align: right;
  font-size: 3.75rem;
  color: #ff074a;
  font-weight: 700;
}
.alert-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.alert-txt {
  margin-bottom: 80px;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: -2.4px;
  text-align: center;
}
.alert-txt > strong {
}

.promo-box {
  margin-top: -30px;
}
.promo-tit {
  font-size: 2.875rem;
  font-weight: 500;
  letter-spacing: -2.3px;
  padding-bottom: 70px;
  margin-bottom: 80px;
  border-bottom: 3px solid #000;
}
.promo-tit > span {
  display: inline-block;
  vertical-align: middle;
  padding: 9px 20px;
  background: #38539a;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
  margin-right: 20px;
}
.promo-cont {
  font-size: 1.875rem;
  line-height: 1.7;
}
.popup-warn {
  position: relative;
  margin: 0 45px;
}
.warn-slider {
  position: relative;
  padding: 0 30px;
}
.warn-slider .swiper-container {
}
.warn-slider .swiper-wrapper {
}
.warn-slider li.swiper-slide {
  display: flex;
  padding: 50px 50px;
  background: #ebedf5;
}
.warn-slider li.swiper-slide > div {
}
.warn-img {
  flex: 1 1 38%;
  margin-right: 60px;
  border: 2px solid #d2d2d2;
  background: #fff;
  display:flex; /* 20211215 수정 */
  align-items:center; /* 20211215 수정 */
  justify-content:center; /* 20211215 수정 */
}
/* 20211213 구매제한 안내 img 삽입 */
.warn-img img {
  max-width:490px;
  max-height:403px;
}

.warn-cont {
  flex: 1 1 62%;
  padding: 20px 0;
}
.warn-cont > img {
  margin-bottom: 30px;
}
.warn-txt {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -1.3px;
  margin-bottom: 85px;
}
.warn-prd {
}
.warn-prd > strong {
  display: inline-block;
  padding: 8px 35px;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  background: #000;
  border-radius: 3px;
}
.warn-prd > p {
  font-size: 1.625rem;
}
.warn-slider .swiper-pagination {
  display: none;
}
.warn-slider .swiper-btn {
}
.warn-slider .swiper-btn > div {
}
.warn-slider .swiper-button-prev:after,
.warn-slider .swiper-button-next:after {
  display: none;
}
.warn-slider .swiper-button-prev {
  left: -70px;
  background: url("../image/icn_btn_left.png") no-repeat center center;
}
.warn-slider .swiper-button-next {
  right: -70px;
  background: url("../image/icn_btn_right.png") no-repeat center center;
}
.popup-warn .swiper-count {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
}

/* 결제 진행 */
.payment-wr {
  position: relative;
  max-width: 1556px;
  margin: 0 auto;
  text-align: center;
}
.payment-tit {
  margin-bottom: 50px;
}
.payment-tit img {
  margin-bottom: 40px;
}
.payment-tit h2 {
  font-size: 2.875rem;
  font-weight: 300;
  letter-spacing: -2.3px;
}
.payment-tit p {
  margin-top:18px;
  font-size: 2rem;
  font-weight:300;
  color: #6d6d6d;
}
.point-wr {
  display: flex;
  position: relative;
  max-width: 1330px;
  margin: 0 auto;
  padding: 40px 50px;
  background: #fff;
}
.point-wr > div {
  flex: 1;
}
.pay-point .payment-tit {
  margin-bottom: 30px;
}
.point-left {
  margin-right: 70px;
}
.point-right {
  display: flex;
  flex-direction: column;
}
.point-type {
  text-align: left;
  margin-bottom: 20px;
}
.point-type > li {
  display: inline-block;
  min-width: 236px;
  padding: 15px 20px;
  font-size: 1.875rem;
  color: #38539a;
  border: 4px solid #38539a;
  border-radius: 33px;
  text-align: center;
}
.point-type > li:first-child {
  margin-right: 15px;
}
.point-type > li.on {
  background: #38539a;
  color: #fff;
}
.point-box {
  margin-right: 0;
  margin-bottom: 25px;
}
.point-box ul {
  display: none;
}
.point-box ul.on {
  display: block;
}
.point-box ul > li {
  text-align: left;
}
.point-box ul.on li > strong.highlight {
  color: #0bf1ff;
}
.point-box ul > li > strong.my-point {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.point-box input[type="checkbox"] {
  display: none;
}
.use-all {
  align-self: flex-end;
  font-size: 1.25rem;
  color: #d2d2d2;
  text-align: right;
}
.use-all svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.use-all path {
  fill: #d2d2d2;
}
.point-box input[type="checkbox"]:checked + label.use-all {
  color: #0bf1ff;
}
.point-box input[type="checkbox"]:checked + label.use-all path {
  fill: #0bf1ff;
}
.point-wr input[type="text"] {
  background: #eceef5;
  padding: 20px 25px;
  border: 2px solid #000;
  text-align: center;
  font-size: 2.625rem;
  font-weight: 700;
  letter-spacing: 18px;
  margin-bottom: 20px;
}
.point-wr .simple-keyboard {
  padding: 0;
}
.point-wr .simple-keyboard > .hg-rows {
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 16px;
}
.point-wr .simple-keyboard > .hg-rows > .hg-row {
  grid-template-columns: repeat(4, 1fr);
}
.point-wr .simple-keyboard .hg-row > div:not(.hg-button-enter) {
  background: #fff;
  color: #38539a;
}
.point-wr .simple-keyboard div.hg-button-enter {
  grid-column: unset;
}
.point-wr .total-price {
  align-items: center;
  margin-bottom: 0;
}
.point-wr + .pop-btn-box {
  margin-top: 35px;
}
.point-box.member-point {
  margin-bottom: 95px;
}
.receipt-wr {
}
.receipt-wr .point-left {
  flex: 1 1 48%;
}
.receipt-wr .point-right {
  flex: 1 1 52%;
}
.select-wr {
  padding: 60px 130px;
  flex-direction: column;
}
.select-wr > div {
  align-items: flex-start;
}
.select-box {
  display: flex;
  margin-bottom: 45px;
}
.select-box > div {
}
.select-box .point-left {
  flex: 1 1 60%;
  margin-right: 75px;
}
.select-box .point-right {
  flex: 1 1 40%;
}
.select-wr .point-box {
  margin-bottom: 0;
  padding: 25px 20px;
}
.select-wr .point-box ul > li {
  padding: 20px 15px;
}
.select-wr .point-right {
  justify-content: space-between;
  gap: 16px;
}
.select-wr .point-right > button {
  margin: 0 !important;
  padding: 17px 65px;
  font-size: 2.875rem;
  font-weight: 600;
  letter-spacing: -2.3px;
  border: solid 4px #fc0749;
}

.installment-wr {
  display: flex;
  gap: 55px;
  justify-content: space-between;
  padding: 75px 100px;
  margin-bottom: 30px;
  background: #fff;
}
.installment-wr > div {
}
.ist-left {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ist-right {
  flex: 1 1 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 12px;
}
.ist-left > button {
  flex: 1;
  margin: 0;
  padding: 15px 20px;
  font-size: 2.875rem;
  font-weight: 600;
  letter-spacing: -2.3px;
  border: solid 4px #fc0749;
}
.btn-pay-ist {
}
.btn-pay-single {
}
.ist-right > input[type="radio"] {
  display: none;
}
.ist-right > input[type="radio"] + label {
  padding: 30px 30px;
  font-size: 2.375rem;
  color: #38539a;
  font-weight: 700;
  border: 2px solid #d2d2d2;
}
.ist-right > input[type="radio"]:checked + label {
  background: #38539a;
  color: #fff;
}
.view-ist-info {
  float: right;
  min-width: 200px;
  padding: 15px 18px;
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: -1px;
  background: transparent;
  border: 2px solid #fff;
}
.payment-wr button[class*="pay"].on {
  color: #fff;
  background: #fc0749;
}

.info-box {
  margin-top: -45px;
}
.info-tit {
  font-size: 2.875rem;
  font-weight: 500;
  letter-spacing: -2.3px;
  margin-bottom: 15px;
}
.info-stit {
  font-size: 1.625rem;
  color: #999;
  font-weight: 300;
  letter-spacing: -1.3px;
}
.info-cont.swiper-container-card {
  height: 538px;
  margin-top: 80px;
}
.info-cont .swiper-wrapper {
}
.info-cont .swiper-slide {
}
.info-cont li {
  display: flex;
  align-items: center;
  font-size: 1.875rem;
  border-bottom: 1px solid #d2d2d2;
}
.info-cont li > strong {
  flex: 1 1 14%;
}
.info-cont li > strong > em {

}
.info-cont li > p {
  flex: 1 1 86%;
  display: flex;
  justify-content: space-between;
}
.info-cont li > p > span {
  align-self: flex-end;
  font-weight: 300;
  color: #999;
}
.info-list-bt {
  margin-top: 60px;
}

.insert-wr {
  position: relative;
  max-width: 1235px;
  margin: 0 auto;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11.5%;
  background: #f3f8ff;
}
.insert-wr > div {
}
.insert-left {
  flex: 1 1 40%;
  margin-top: 60px;
  font-size: 0;
}
.insert-right {
  flex: 1 1 60%;
}
.method {
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: -1.4px;
  margin-bottom: 20px;
  padding-left: 10px;
  text-align: left;
}
.pop-btn-box.btn-change {
  margin-top: 30px;
}
.btn-change > button {
  padding: 35px 75px;
}
.pay-cms .point-wr {
  padding: 40px 0;
  background: transparent;
}
.pay-cms .point-left {
  flex: 1 1 42%;
  padding: 40px 30px 30px;
  background: #f3f8ff;
}
.cms-img {
  margin-bottom: 30px;
}
.pay-cms .point-right {
  flex: 1 1 58%;
  display: flex;
  flex-direction: column;
}
.pay-cms .point-wr .simple-keyboard {
  background: transparent !important;
}

/* 결제 완료 */
.guide-wr.complete-wr {
  padding: 60px 106px;
}
.guide-wr.complete-wr .member-info-box {
  margin-bottom: 50px;
}
.complete-box {
}
.complete-tit {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 1.5;
}
.complete-stit {
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1.3px;
}

/* 직원 호출 */
.login-staff {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.login-staff .member-number-box {
  margin: 9.5% 0 7%;
}
.staff-img {
}
.staff-img > img {
  display: block;
  margin: 0 auto;
}
.staff-img > img:first-child {
  margin-bottom: 10px;
  animation: twinkle 2s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modify-wr.scan-wr {
  padding-top: 10.5%;
}
.modify-wr input[type="checkbox"] {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #38539a;
  border-radius: 5px;
  margin: 0 auto;
}
.modify-wr input[type="checkbox"]:checked {
  border: 2px solid #fff;
  background: #38539a url("../image/icn_checked.png") no-repeat center center;
}
.modify-wr .scan-list span.prd-name {
  width: 30%;
}
.modify-wr .scan-list span.prd-num,
.scan-list span.prd-delete {
  width: 5%;
}
.modify-wr .scan-list span.prd-code,
.modify-wr .scan-list span.prd-restrict {
  width: 7.5%;
}
.modify-wr .scan-list span.prd-qt {
  width: 20%;
}
.modify-wr .scan-list span.prd-price,
.modify-wr .scan-list span.prd-total {
  width: 12.5%;
}
.modify-wr .count-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.modify-wr .count-box input[type="number"] {
  margin: 0 10px 0 0;
  border-radius: 0;
  border: 2px solid #d2d2d2;
}
.modify-wr .pop-btn-box {
  margin-top: 30px;
}
.modify-wr .pop-btn-box .btn-white {
  background: transparent;
}
.modify-wr .count-box > button.btn-plus {
  background: url("../image/icn_btn_up.png") no-repeat center center;
}
.modify-wr .count-box > button.btn-minus {
  background: url("../image/icn_btn_down.png") no-repeat center center;
}
.scan-member .button {
  height: 50px;
  margin-left: auto;
  padding: 0 20px;
  background: #38539a;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
}
.flag-coupon--no-flag::before{
  content: none;
}
.prd-apply .btn-apply{

}
.prd-delete .delete{}
.modify-wr .prd-delete{
  position: relative;
}
.modify-wr .prd-delete .check-delete{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scan-list span.prd-delete{
  width: 6%;
}
.modify-wr .prd-delete .delete{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 52px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #d2d2d2;
  background: #f7f7f7;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
}
.modify-wr .prd-apply{
  text-align: left;
}
.modify-wr .prd-apply .btn-apply{
  width: 72px;
  height: 52px;
  background: #38539a;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 5px;
}
.wrap-restrict{
  width: 100%;
  text-align: right;
  margin-bottom: 15px;
}
.wrap-restrict .button-restrict{
    height: 52px;
    background: #38539a;
    color: #fff;
    font-size: 1.4rem;
    padding: 0 1em;
    border-radius: 5px;
    font-weight: 300;
}

/* 20211125 카드별 무이자 할부 정보 팝업 수정 */
.popup.nointer{
  padding:100px 79px 60px
}
.info-cont li{
  flex-wrap:wrap;
  /* padding:18px; */
  display:table;
}
.info-cont li > strong{
  flex:none;
  display:table-cell;
  width:10.3%;
  height:106px;
  vertical-align:middle;
}
.info-cont li > ul{
  display:table-cell;
}
.info-cont li > strong > em{
  font-style:normal;
  font-size:1.6rem;
}
.info-cont li > .lines{
  vertical-align:baseline;
  padding:0
}
.info-cont li > ul > li {
  display:flex;
  border-bottom:none;
}
.info-cont li > ul > li > p{
  flex:0 1 auto;
  margin-right:30px;
  height:107px;
  padding:38px 0 37px;
}
.info-cont li > p:last-child{
  margin-right:0
}
.info-cont .swiper-slide{
  width:100%;
  height:auto !important;
}

/* 20211201 이용방법 안내 수정 */
.login-wr .step-list{display:inline-block;}
.login-wr .step-list:after{content:'';display:block;clear:both}
.login-wr .step-list > li{float:left;position:relative;padding-right:46px}
.login-wr .step-list > li:last-child{padding-right:0}
.login-wr .step-list > li:after{content:'';position:absolute;top:184px;right:13px;width:20px;height:37px;background:url(../image/icn_next_step.png) no-repeat;}
.login-wr .step-list > li:last-child:after{width:0;height:0;}
.login-wr .step-list > li > strong{display:block;margin-top:30px;color:#38539a;font-size:26px;text-align:left}
.login-wr .step-list > li > p{margin-top:22px;font-size:20px;text-align:left;line-height:1.5}

/* 20211201 error화면 수정 */
.error-box{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center}
.error-box .error-txt{margin-top:50px;font-size:46px;line-height:1.2;letter-spacing:-2.3px}

/* 20211213 직원 상품목록 세로스크롤 수정*/
.scan-wr.modify-wr.modify-wr--wrap{padding-top:7%}

/* 20211213 직원 호출중 화면 뒤로가기 버튼 추가 */
.loading-wrap.call{background:#fff !important}
.loading-wrap .btn-back{position:fixed;justify-content:left;width:154px;top:65px;left:70px;z-index:999}

/* 20211217 중개주문 */
.popup-coupon.regist{margin-top:0}
.popup-coupon.regist .coupon-cont{margin-top:65px}
.popup-coupon.regist > li{padding:40px 30px}
.popup-coupon.regist img{margin-bottom:20px}
.popup-coupon.regist .login-regist{margin-bottom:39px}
.popup-coupon.regist .login-regist > tbody > tr{border-bottom:1px solid #d2d2d2;}
.popup-coupon.regist .login-regist > tbody > tr > th,
.popup-coupon.regist .login-regist > tbody > tr > td{padding:15px 0;font-size:20px;font-weight:500;line-height:1.4;text-align:left;}
.popup-coupon.regist .login-regist > tbody > tr > th{vertical-align:top;font-weight:700}
.popup-coupon.regist .login-regist > tbody > tr > td{padding:15px 25px 15px 23px;word-break:break-all;}
.popup-coupon.regist .login-regist > tbody > tr > td span{display:inline-block;width:138px;line-height:1.4;}
.popup-coupon.regist .login-regist > tbody > tr:first-child > td span{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;width:138px;-webkit-line-clamp:2;-webkit-box-orient:vertical;height:3em;white-space:normal;}

/* 20211217 로그인완료 화면 버튼 수정 */
.login-result .pop-btn-box .btn-white{padding:15px 19px;}

/* 20211220 에러화면 느낌표 버튼 수정 */
.error-box .error-detail-pop{width:144px;height:130px}

/* 20211223 오류 수정 */
.warn-cont > img{margin-bottom:10px;width:45px;height:auto}
.coupon-slider .coupon-cont .coupon-list .cp-type{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;height:3em;white-space:normal}

/* 20220121 무이자할부 팝업 스크롤로 변경 */
.info-cont.swiper-container-card{height:597px;overflow-y:scroll;}

/* 20220627 A-Pay 확산 */
.select-wr.point-wr{max-width:1267px}
.select-wr{padding:60px 125px}
.select-wr .point-box{padding:21px 20px}
.select-wr .select-box .point-left{flex:1 1 58.8%;margin-right:37px}
.select-wr .select-box .point-right{flex:1 1 42%}
.select-wr .summary-box > ul > li > span{flex:1 1 23.84%}
.select-wr .select-box .point-left{margin-right:37px}
.select-wr .point-right{flex-direction:row;flex-wrap:wrap;}
.select-wr .point-right > button{padding:0;width:196px;height:101px;font-size:1.5rem}

.pay-cms .point-left{padding:42px 30px 31px}
.pay-cms .point-left .apay_noti{position:relative;padding-top:67px;font-size:1.5rem;color:#111;line-height:1.33;letter-spacing:-1.2px;}
.pay-cms .point-left .apay_noti:before{content:'';position:absolute;top:0;left:50%;width:136px;height:51px;background:url(../image/a-pay-logo.png) no-repeat;background-size:136px auto;transform:translateX(-50%)}
.pay-cms .point-left .apay_accountnumber{display:inline-block;margin:22px auto 29px;padding:25px 35px;background-color:#fff;border:4px solid #e2e3e8;border-radius:16px;font-weight:700;letter-spacing:-1.2px;}
.pay-cms .point-left .apay_accountnumber .account{font-size:1.5rem}
.pay-cms .point-left .apay_accountnumber .number{margin-top:16px;font-size:2.19rem}
.point-wr .total-price span, .point-wr .total-price strong{letter-spacing:-1.3px;}
.pay-cms.pay-apay .point-wr .point-left{display:flex;padding:36px 91px 36px 100px;align-items:center;justify-content:space-between}
.pay-cms.pay-apay .point-wr .apay-right{width:530px}
.pay-cms.pay-apay .point-wr .apay-left .apay_accountnumber{margin-bottom:0}
.pay-cms.pay-apay .point-left .apay_noti{margin-top:8px}
.pay-cms.pay-apay .point-wr{padding-bottom:0}
.pay-cms.pay-apay .point-wr .apay-right .apay-credit-plan{margin-bottom:21px;color:#000;font-size:1.75rem;font-weight:300;text-align:left;}

/* 20220726 A-Pay 확산 추가 수정 */
.layerWrapper.popup_a-pay{display:none;position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;padding:0;overflow-y:auto;z-index:9999}
.layerWrapper.popup_a-pay .cbox{position:fixed;margin:0 auto;top:50%;left:50%;min-width:300px;max-width:900px;transform:translate(-50%, -50%);width:375px;border:0;border-radius:16px;overflow:hidden;background-color:#fff;;}
.layerWrapper.popup_a-pay.active .cbox{display:block;opacity:1;}
.layerWrapper.popup_a-pay .cbox .container{padding:0}
.layerWrapper.popup_a-pay .cbox .container .popup-header{display:flex;border-bottom:1px solid #e5e5e5;align-items:center;padding:0 18px;height:60px}
.layerWrapper.popup_a-pay .cbox .container .popup-header .header-title{margin:0.67em 0;flex:1;text-align:center;font-size:18px;font-weight:700;line-height:1;letter-spacing:-0.9px;color:#111}
.layerWrapper.popup_a-pay .cbox .container .popup-header .btn_layer-close{width:19px;height:19px;margin-left:auto;background:url(../image/icon_pop-header-close-btn.png) no-repeat 0 0 / 100%;}
.layerWrapper.popup_a-pay .cbox .container .popup-header .btn_layer-close .hidden{overflow:hidden;width:0;height:0;padding:0;margin:0;font-size:0;line-height:0;text-indent:-9999px}
.layerWrapper.popup_a-pay .cbox .popup-body{padding:0 16px;overflow-y:auto;height:608px;position:relative}
.layerWrapper.popup_a-pay .cbox .popup-body .notice_password{margin-top:22px;text-align:center;font-size:20px;font-weight:bold;line-height:1.5;letter-spacing:-1px;color:#002f5f;}
.layerWrapper.popup_a-pay .cbox .popup-body .password_error{margin-top:22px;font-size:18px;color:#eb483f;text-align:center;}
.layerWrapper.popup_a-pay .cbox .popup-body .input_password{position:relative;margin:32px auto 0;width:208px;font-size:26px;white-space:nowrap;letter-spacing:12px}
.layerWrapper.popup_a-pay .cbox .popup-body .input_password:before{position:absolute;top:3px;left:5px;content:attr(data-placeholder);pointer-events:none;opacity:1;color:#002f5f;overflow:hidden;white-space:nowrap}
.layerWrapper.popup_a-pay .cbox .popup-body .input_password[data-count="0"]:before{width:0}
.layerWrapper.popup_a-pay .cbox .popup-body .input_password:after{position:absolute;top:3px;left:5px;content:attr(data-placeholder);pointer-events:none;opacity:0.1}
.layerWrapper.popup_a-pay .cbox .popup-body .input_password > input{margin:5px 0 0 -40px;padding:0 15px;width:230px;height:40px;font-size:93px;font-weight:400;letter-spacing:-51px;white-space:nowrap;background:#fff;border:0;color:#002f5f;}
.layerWrapper.popup_a-pay .cbox .popup-body .pad_number{position:absolute;bottom:0;margin-bottom:10px}
.layerWrapper.popup_a-pay .cbox .popup-body .pad_number ul li{display:inline-block;margin-left:0;margin-bottom:6px;height:64px;vertical-align:middle;}
.layerWrapper.popup_a-pay .cbox .popup-body .pad_number ul li > button{padding:0;width:108px;height:64px;font-size:32px;font-weight:500;letter-spacing:-1.6px;border:0;border-radius:10px;color:#002f5f;background-color:#fff;}
#uiLayerMask{display:none;position:fixed;z-index:9998;top:0;right:0;bottom:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);}
#uiLayerMask.on{display:block;opacity:1;transition:all 0.5s ease}

/* 20220801 A-Pay 확산 추가 수정 */
.pay-cms.pay-apay .payment-tit h2{line-height:3.5rem}
.pay-cms.pay-apay .point-wr .point-left{padding:41px 90px}
.pay-cms.pay-apay .point-wr .apay-left:after{content:'';display:block;clear:both}
.pay-cms.pay-apay .point-wr .apay-left .apay-qrscan-info{float:left;width:237px;height:237px}
.pay-cms.pay-apay .point-wr .apay-left .apay-qrscan-info img{width:100%;height:100%}
.pay-cms.pay-apay .point-wr .apay-left .apay-qrscan-info + .apay-qrscan-info{margin-left:19px}

/*2210*/
.receipt-new {display: flex; justify-content: space-between; align-items: center; flex-direction: column; position: relative; max-width: 1652px; margin: 0 auto; gap: 40px 0; margin-top: 71px;}
.receipt-new .point-left, .receipt-new .point-right {width: 924px; height: 310px; padding: 66px 133px; box-shadow: 10px 17.3px 80px 0 rgba(0, 0, 0, 0.1); border: solid 2px #d2d2d2; border-radius: 60px; background-color: #fff; }
.receipt-new .recipt_button {
  display: flex;
  align-items: center;
  gap: 0 84px;
}
.receipt-new .point-left {margin-right: 0;}
.receipt-new .point-left img {width: 187px;}
.receipt-new .point-left p {color: #ff074a;}
.receipt-new .point-right img {width: 168px;}
.receipt-new .point-right p { color: #2974d1; }
.receipt-new .point-left p, .receipt-new .point-right p  {font-weight: bold; letter-spacing: -1.15px; text-align: left;}
.receipt-new div p {font-size: 2.875rem;}
.receipt-new div .description {padding-top: 27px; color: #6d6d6d; font-size: 30px; font-weight: normal; letter-spacing: -0.75px;}