@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/notosanskr/notokr-light.woff2) format('woff2'),
        url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/notosanskr/notokr-light.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/notosanskr/notokr-regular.woff2) format('woff2'),
        url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/notosanskr/notokr-regular.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/notosanskr/notokr-medium.woff2) format('woff2'),
        url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/notosanskr/notokr-medium.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/notosanskr/notokr-bold.woff2) format('woff2'),
        url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/notosanskr/notokr-bold.woff) format('woff');
}

@font-face {
    font-family: 'Free 3 of 9 Regular';
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/FREE3OF9.woff) format('woff');
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/bootstrap/glyphicons-halflings-regular.woff) format('woff'),
      url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/bootstrap/glyphicons-halflings-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'AmwayIcons';
    font-weight: normal;
    font-style: normal;
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.eot?5v2gxx);
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.eot?5v2gxx#iefix) format('embedded-opentype'), url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.ttf?5v2gxx) format('truetype'), url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.woff?5v2gxx) format('woff'), url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.svg?5v2gxx#AmwayIcons) format('svg');
}

@font-face {
    font-family: 'AmwayIcons';
    font-weight: normal;
    font-style: normal;
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.eot?5v2gxx);
    src: url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.eot?5v2gxx#iefix) format('embedded-opentype'), url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.ttf?5v2gxx) format('truetype'), url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.woff?5v2gxx) format('woff'), url(https://www.amway.co.kr/_ui/responsive/theme-blue/fonts/AmwayIcons.svg?5v2gxx#AmwayIcons) format('svg');
}