//== agreebox

//agreebox
.agreebox {
  margin-top: 2rem;

  .agree-tit {
    font-size: 1.2rem;
  }
  .agree-cont {
    height: 10rem;
    margin-top: 0.7rem;
    padding: 1rem;
    background: $lightblue-color;
    border-radius: 10px;
    overflow-y: scroll;
    word-break: break-word;
  }
  .agree-check {
    margin-top: 1rem;
    text-align: right;
  }
}

// agreesummary
.agreesummary {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d8d8d8;

  p {
    color: $darkgray-color;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  label {
    display: inline-block;
    margin-top: 1.5rem;

    input[type='checkbox'] + span {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

.agreechildsummary {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  // border-bottom: 1px solid #d8d8d8;

  p {
    color: $darkgray-color;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  label {
    display: inline-block;
    margin-top: 1.5rem;

    input[type='checkbox'] + span {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

//agreecont
.agreecont {
  position: relative;
  padding: 2rem 0 7rem 2rem;
  box-shadow: #dfe6f2 0px 2px 10px;
  border-radius: 10px;

  .text {
    min-height: calc(100vh - 40rem);
    max-height: calc(100vh - 43rem);
    padding-right: 2rem;
    color: $darkgray-color;
    font-size: 1.1rem;
    line-height: 16px;
    overflow-y: auto;
    @include scrollbars(5px, #aaa, #eee);

    h3 {
      margin-bottom: 1rem;
      color: $dark-color;
      font-size: 1.2rem;
    }
  }
  .selectbox {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    width: calc(100% - 4rem);
  }
}

/* width:768~ */
@include mq('md') {
  //agreebox
  .agreebox {
    margin-top: 40px;

    .agree-tit {
      font-size: 20px;
    }
    .agree-cont {
      height: 140px;
      margin-top: 10px;
      padding: 30px;
    }
    .agree-check {
      margin-top: 16px;
    }
  }

  // agreesummary
  .agreesummary {
    margin-top: -28px;
    margin-bottom: 0;
    padding-bottom: 15px;

    p {
      color: $gray-color;
      font-size: 16px;
      text-align: center;
    }
    label {
      margin-top: 40px;

      input[type='checkbox'] + span {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  //agreecont
  .agreecont {
    padding: 30px 0 110px 30px;
    border-radius: 12px;

    .text {
      height: 500px;
      min-height: auto;
      max-height: auto;
      padding-right: 30px;
      font-size: 16px;
      line-height: 28px;

      h3 {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
    .selectbox {
      position: absolute;
      left: 30px;
      bottom: 30px;
      width: calc(100% - 60px);
    }
  }
}
