//== listfilter
.listfilter {
  //select
  .select {
    display: inline-block;
    position: relative;

    & > button {
      padding: 0.5rem 2rem 0.6rem 0.5rem;
      color: $darkgray-color;
      font-size: 1.1rem;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0.2rem;
        width: 1.5rem;
        height: 100%;
        background: url('/resource/images/common/filter_select_btn.svg') no-repeat 50% 50% /1rem;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      background: $white-color;
      text-align: center;
      border-radius: 6px;
      box-shadow: #dfe6f2 0px 2px 10px;
      overflow: hidden;

      li {
        display: block;

        button {
          width: 100%;
          height: 100%;
          padding: 1.1rem 1rem;
          color: $darkgray-color;
          font-size: 1.1rem;
        }
        &.active {
          button {
            background: #eff4fc;
          }
        }
      }
    }
    &.open {
      z-index: 1;

      button {
        &:after {
          transform: rotate(-180deg);
        }
      }
      ul {
        display: block;
      }
    }
  }
}

/* width:768~ */
@include mq('md') {
  .listfilter {
    padding: 0;

    .select {
      & > button {
        padding: 8px 25px 8px 10px;
        background-size: 15px;
        font-size: 15px;

        &:after {
          width: 20px;
          background-size: 12px;
        }
      }
      ul {
        top: 41px;

        li {
          button {
            padding: 12px 5px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
