//== modal

/* 2022-05-12 이제하 수정 */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-index;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 4rem;
    background: #fff;
    border-radius: 5px;
  }
  &-header {
    position: relative;
    height: 4rem;

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 3.6rem;
      height: 3.6rem;
      background: url('/resource/images/common/modal_close.svg') no-repeat 50% 50% /1.4rem;
    }
  }
  &-body {
    max-height: 85vh;
    flex-grow: 1;
    padding: 0 2.4rem 2rem;
    overflow-y: auto;
  }

  // 공유하기 팝업
  &-share {
    padding-top: 0.5rem;

    .link {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;

      li {
        width: 4.5rem;

        button {
          width: 100%;
          padding-top: 5.2rem;
          background-repeat: no-repeat;
          background-position: 50% 0;
          background-size: 100%;
          font-size: 1.1rem;
          text-align: center;
        }
        &.kakao button {
          background-image: url('/resource/images/common/icon_kakao.svg');
        }
        &.sms button {
          background-image: url('/resource/images/common/icon_sms.svg');
        }
        &.url button {
          background-image: url('/resource/images/common/icon_url.svg');
        }
      }
    }
    .guideinfo ul li {
      word-break: break-word;
    }
    .color-black {
      color: $dark-color;
      font-weight: 600;
    }
  }

  //휴대폰인증 팝업
  &-certify {
    .guideinfo {
      margin-top: 0;
    }
    .formbox {
      padding: 0;
      box-shadow: none;

      dl.tel dd .flexbox {
        .selectbox {
          width: 35%;
        }
        input {
          width: 30%;
        }
      }
    }
  }
}

/* width:768~ */
@include mq('md') {
  .modal {
    &-content {
      border-radius: 12px;
    }
    &-header {
      height: 90px;

      &-close {
        right: 4px;
        width: 60px;
        height: 60px;
        background-size: 28px;
      }
    }
    &-body {
      padding: 0 60px 40px;
    }

    // 공유하기 팝업
    &-share {
      padding-top: 0;

      .link {
        margin-bottom: 30px;

        li {
          width: 73px;

          button {
            padding-top: 87px;
            font-size: 18px;
          }
        }
      }
    }

    //휴대폰인증 팝업
    &-certify {
      .guideinfo {
        margin-top: 0;
      }
      .formbox {
        margin-top: 30px;

        dl.name input {
          width: 280px;
        }
        dl.tel dt {
          padding-top: 20px;
          vertical-align: top;
        }
        dl.tel dd .flexbox {
          width: 280px;
        }
        dl.tel dd .flexbox .selectbox {
          width: 40%;
        }
        dl.tel dd .verification {
          width: 260px;
        }
        dl.tel dd .transparent {
          width: auto;
          margin-top: 10px;
        }
      }
    }
  }
}

@include mq('lg') {
  .modal {
    //휴대폰인증 팝업
    &-certify {
      .formbox {
        dl.tel dd .transparent {
          margin-top: 6px;
        }
      }
    }
  }
}
