//== tab
.tab {
  text-align: center;

  .formbox {
    margin-top: 0;
  }
  .tab-menu {
    margin-top: 20px;
    background: $white-color;
    box-shadow: #dfe6f2 0px 1px 4px;
    border-radius: 30px;

    li {
      display: inline-block;
      width: 50%;

      a {
        display: block;
        height: 35px;
        font-size: 12px;
        border-radius: 50px;
        line-height: 35px;
      }

      button {
        width: 100%;
        display: block;
        height: 3.5rem;
        color: $gray-color;
        font-size: 1.2rem;
        border-radius: 35px;
        line-height: 3.1;
        text-align: center;
      }
      &.active {
        button {
          background: $blue-color;
          color: $white-color;
        }
      }
    }
  }
  .tab-cont {
    margin-top: 1.5rem;
    text-align: left;

    .cont {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

/* width:768~ */
@include mq('md') {
  .tab {
    .tab-menu {
      display: inline-block;
      margin-top: 50px;
      border-radius: 50px;

      li {
        width: 170px;

        a {
          display: block;
          height: 50px;
          font-size: 16px;
          border-radius: 50px;
          line-height: 50px;
        }
      }
    }
    .tab-cont {
      margin-top: 20px;
    }
  }
}
