.order-history-account-section-content .account-orderhistory{margin-top:23px;}
.shop-finder-container .mb25 {
  margin-bottom: 0;
}
.shop-finder-container .order-history-container .order-history-search-wrapper {
  border: none;
}
.shop-finder-container .order-history-container .order-history-search-wrapper .form-wrapper {
  border: none;
}
.shop-finder-container .order-history-container .order-history-search-wrapper .form-wrapper form {
  padding: 0;
}
.shop-finder-container .account-section-content {
  margin-bottom: 0;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-title-area .shop-finder-main-content-title {
  color: #002F5F;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  float: none;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-title-area .shop-finder-main-content-check {
  text-align: right;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-title-area .shop-finder-main-content-check ._checkbox-element-global-span:before {
  position: relative;
  top: 1px;
  left: -1px;
  font-size: 12px;
  font-weight: 100;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-title-area .shop-finder-main-content-check .shop-finder-main-content-check-text {
  position: relative;
  top: 2px;
  font-weight: 600;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area {
  padding: 0;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .QA-container {
  overflow-y: auto;
  height: 900px;
  position: relative;
  top: 20px;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion {
  padding-left: 0;
  padding-top: 0;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading {
  padding-left: 0;
  text-transform: uppercase;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading .shop-finder-position {
  padding: 30px 0 0 0;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading .shop-finder-position .shop-finder-title-area {
  padding: 0 0 0 40px;
  position: relative;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading .shop-finder-position .shop-finder-title-area span {
  font-size: 16px;
  color: #55565a;
  font-weight: 100;
  text-transform: initial;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-heading .shop-finder-position .shop-finder-title-area img {
  position: absolute;
  left: 0;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse {
  padding: 0 0 30px 0;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse .get-direction {
  padding-left: 40px;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse .shop-finder-collapse-wrapper {
  padding: 0 40px;
  position: relative;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse .shop-finder-collapse-wrapper img {
  position: absolute;
  left: 0;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse .shop-finder-collapse-wrapper .get-direction {
  display: block;
  padding-top: 30px;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .business-page-accordion#business-page-accordion .panel .panel-collapse .shop-finder-wrapper-top {
  padding-top: 30px;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-right {
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-right .shop-finder-map {
  width: 100%;
}
@media (max-width: 768px) {
  .shop-finder-container .order-history-container .order-history-search-wrapper .form-wrapper form select.form-control {
    width: 48% !important;
  }
  .shop-finder-container .order-history-container .order-history-search-wrapper .form-wrapper form select.form-control:first-child {
    margin-right: 1%;
  }
  .shop-finder-container .order-history-container .order-history-search-wrapper .form-wrapper form select.form-control:nth-child(2) {
    margin-left: 1%;
    margin-right: 0;
  }
  .shop-finder-container .shop-finder-main-content {
    padding-top: 20px;
  }
  .shop-finder-container .shop-finder-main-content .shop-finder-main-content-title-area .shop-finder-main-content-title {
    float: left;
  }
  .shop-finder-container .shop-finder-main-content .shop-finder-main-content-body-area .shop-finder-main-content-body-area-left .QA-container {
    height: 510px;
  }
}
