/************************************************
Version : AKL Hybris UIUX 1.0
Date : 2018.05.03
Editor : ji-min Park
*************************************************/



/**************************************************
			          뷰티	비주얼 영역 bg 공통 모음
***************************************************/




/* 스킨케어 예외 */
.skin-care .visual-area.type02.youth-xtend-set .v-pro {margin-top:-40px !important;}
.skin-care .txt-info-visual .v-tit{padding: 32px 0 0;}
.skin-care .txt-info-visual .inge-lst04 li{font-size:16px;color: #808285;line-height:1.5;}
.advan-left.full{display: block;padding: 30px 4% 0;width: 100%;}  /* typeBB의 예외 */
.step-badge{display:inline-block;width:70px;font-size:16px;font-weight:400;color:#fff;padding:3px 0;border-radius:50px;text-align:center;margin-bottom:10px;background-color:#0075a4;} /* 아이디얼 래디언스 예외 */
.visual-area.type02 .txt-info-visual .v-tit span.cobalt{display:inline;color:#0075a4;} /* 스페셜케어 */
.ade-photo img{max-width:100%}



/* 유분측정 인디케이터 */
.indi-info{margin:30px 0 0 !important;border-top:none !important;}

/* 하이드라 브이 1323 */
.ad-step-lst {width:100%;font-size: 16px;letter-spacing: -1px;margin-bottom:0;}
.ad-step-lst li {display:block; margin-right:5px;margin-top:23px;font-weight: 300;}
.ad-step-lst li strong{display:inline-block;margin-right:5px;color: #0075a4;font-weight: 400;}
.advantage-area.hydra-spc{padding: 43px 0 0;}

.hydra-list-wrap{margin-top: 20px;}
.hydra-list-wrap ul{}
.hydra-list-wrap ul > li{margin-bottom: 30px;overflow: hidden;}
.hydra-list-wrap ul > li:last-child{margin-bottom:0;}
.hydra-list-wrap ul > li > .hydra-thum-wrap{display: table;width: 100%;overflow: hidden;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .thum{display: table-cell;width: 140px;vertical-align: middle;padding-right:20px;} /* 20180510 - j  width: 12%; 수정 */
.hydra-list-wrap ul > li > .hydra-thum-wrap .thum img{;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .txt{display: table-cell;vertical-align: middle;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .txt dt{color: #0075a4;font-weight: 400;font-size:16px;line-heihgt:1.5;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .txt dd{font-weight: 300;color: #808285;font-size:16px;}
.hydra-list-wrap ul > li > .hydra-thum-wrap .txt dd.point{font-size: 14px;color: #808285;margin-top: 22px;}

.ad-setp-lst.ar7227 dt{font-size:32px;color:#56565a;}
.ar7227 dd strong{font-weight: 400;}





/* 리스트 공통 */
.technology-step{padding:0 5% 0 0;margin-top:0;}
.technology-step .step-tit{display:block;margin:0;font-size:30px;color:#808285;font-weight:300;letter-spacing:-2px;line-height:1;}
.technology-step .step-tit .step-three{font-weight:400;color:#ad9172;font-size:32px;letter-spacing: 0;}
.technology-step .step-tit em{display:block;font-size:30px;font-weight: 300;letter-spacing:-2px;color: #6b6e6f;}
.technology-step .program-list li{display:table;width:100%;padding-top:20px;}
.technology-step .program-list .program-box{display:table-cell;width:50%;padding-right:10px;vertical-align:middle;}
.technology-step .program-list .program-img{display:table-cell;width:50%;padding-right:10px;vertical-align:middle;}
.technology-step .program-list .program-step{display:block;width:140px;height:40px;line-height:40px;font-size:18px;color:#fff;text-align:center;background-color:#ad9172;border-radius:20px;}
.technology-step .program-list .program-tit{display:block;padding-left:15px;margin-top:10px;font-size:16px;color:#56565a;font-weight:400;letter-spacing:-1px;}
.technology-step .program-list .program-txt{display:block;padding:8px 20px 0 15px;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;}
.ar_4285 .technology-step .program-list .program-txt{padding: 0 30px 0 15px;}

.artistry_men .technology-lst .tit{padding-top:0;margin-top:20px;font-size: 20px;color: #ad9172;font-weight: 400;}
.artistry_men .technology-lst .ad-setp-lst dt{color: #56565a;}
.artistry_men .technology-lst .ad-setp-lst dt{color: #808285;}


/* 수프림lx */
.gift-lst-area .pcomp-list{padding-right:8%;}
.gift-lst-area .comp-box dl dt{font-weight: 400;font-size: 16px;color: #56565a;min-height:40px;}

/* 삼각 트라이앵글 도표 타입별 */
.triangle{position: relative;margin:0 auto;padding-top:30px;padding-bottom:10px}
.triangle .tit{position:absolute;top:0;left:0;width:100%;height:100%}
.triangle .tit > span{display:table;width:100%;height:100%}
.triangle .tit-child{display:table-cell;vertical-align:middle;font-weight:400;font-size: 16px;}
.triangle img{max-width:100%}
.triangle > span{position:absolute;font-size:14px;font-weight:300;letter-spacing:-1px;}
.triangle > span em{font-size:14px;}
.triangle.men-type br{display:none;}
.triangle span.comment01{top:0;left:0;width:100%;text-align:center;}
.triangle span.comment02{top:100%;left:0}
.triangle span.comment03{top:100%;right:0}

/*삼각 트라이 앵글 맨 */
.triangle.men-type{max-width:418px;}
.triangle.men-type .tit-child{color:#ffffff;padding-top:50px;font-size:16px;}
.triangle.men-type span.comment01{}
.triangle.men-type span.comment02{top:100%;left:10%;margin-top:-32px}
.triangle.men-type span.comment03{margin-right:5%;margin-top:-32px}

/* 삼각 트라이앵글 수퍼슈프림lx */
.triangle.lx-tech{max-width:418px;padding-top:50px}
.triangle.lx-tech span.comment02{top:100%;left:7%;margin-top:-42px}
.triangle.lx-tech span.comment03{top:100%;margin-top:-42px}
.triangle.lx-tech .tit-child{padding-top:60px}
.triangle.lx-tech .tit{color:#56565a;}
.triangle.lx-tech span.comment03 .linght-beige br{display:none;}


/* 삼각 트라이앵글 수퍼슈프림lx - 3가지 성분 */
.triangle.ingre-three{max-width:333px;}
.triangle.ingre-three .tit{font-size: 14px;color: #808285;text-align: center;}
.triangle.ingre-three .tit-child{line-height:18px;padding-top: 90px;}
.triangle.ingre-three .tit em.txt-small{font-size:14px;font-weight:300;color:#808285;line-height:18px;}
.triangle.ingre-three .tit em.txt-big{font-size:20px;font-weight:400;display: block;color:#ad9172;margin-top: 10px;}
.triangle.ingre-three br{line-height:18px;}
.triangle.ingre-three span.comment02{width:50%;margin-top:-10px;text-align:center;}
.triangle.ingre-three span.comment03{width:50%;margin-top:-10px;text-align:center;}

.system-lst3.sp-lx{margin-top: 40px;padding: 0 32px;}
.system-lst3.sp-lx ul{}
.system-lst3.sp-lx ul li{margin-bottom: 0;}
.system-lst3.sp-lx ul li .lst-won{width: 100px;}
.system-lst3.sp-lx ul li .lst-won p{height: 100px;}
.system-lst3.sp-lx ul li .lst-won p img{}
.system-lst3.sp-lx ul li .lst-won span{color: #808285;}
.system-lst3.sp-lx ul li:nth-child(2) .lst-won span{font-size:16px;}

/* step flow */
.skin-care .step04.product-process-step{text-align:center;}
.skin-care .step04.product-process-step > .step-flow{width:22%;}

/* 더마 소닉 4779 */
.ad-setp-title.ad-setp-first{margin-top:50px}
.ad-setp-title{font-size:18px;margin-top:20px}
.ad-setp-lst.ad-setp-type02 dt{font-weight:300;color:#56565a}
.ad-setp-lst.ad-setp-type02 dd{color:#808285;}

.ctrl-product{display:table;width:100%;margin-top:40px;}
.ctrl-product{margin-bottom:35px}
.ctrl-product >*{display:table-cell;width:50%;vertical-align:middle;}
.ctrl-product .product-img{text-align:center;margin-bottom:35px}
.ctrl-product .product-btn li:first-child{margin-top:0}
.ctrl-product .product-btn li{min-width:222px; font-size:14px;font-weight:300;color:#fff;padding:6px 0 7px 40px;margin-top:10px;border-radius:50px;background:#999 url(../images/akl_product/icon/icon_on.png) 15px 50% no-repeat;}
.product-mode{position:relative;display:table;width:100%}
.product-mode:before{content:"";position:absolute;top:50%;left:0;width:100%;height:1px;background-color:#e3e3e3}
.product-mode + .product-mode{margin-top:20px}
.product-mode >*{display:table-cell;vertical-align:middle;}
.product-mode .circle-tit{position:relative;width:90px;z-index:1}
.product-mode .circle-tit span{display:table;line-height:26px;width:90px;height:90px;border-radius:100%;text-align:center;}
.product-mode .circle-tit span em{display:table-cell;font-size:20px;color:#fff;vertical-align:middle;}
.product-mode .mid-tit{min-width:150px;font-size:14px;font-weight:300;color:#808285;text-align:center;}
.product-mode .mid-tit span{display:block;background-color:#fff}
.product-mode .mid-tit span + span{margin-top:20px}
.product-mode .mode-box{width:190px}
.product-mode .mode-box .mode-table{position:relative;padding-left:21px;text-align:center;z-index:1;background-color:#fff}
.product-mode .mode-box .mode-row{display:table;width:100%;position:relative;}
.product-mode .mode-box .mode-row:before{content:"";position:absolute;top:50%;left:-21px;width:23px;height:5px;margin-top:-2px;z-index:1;background:url(../images/akl_product/icon/bg_dot_line.png) no-repeat;}
.product-mode .mode-box .mode-row:after{content:"";position:absolute;top:0;left:-22px;height:100%;width:1px;background-color:#e3e3e3}
.product-mode .mode-box .mode-row:only-child:after{content:none;}
.product-mode .mode-box .mode-row:first-child:after{top:50%;height:50%}
.product-mode .mode-box .mode-row:last-child:after{top:0;height:50%}
.product-mode .mode-box .mode-row + .mode-row{padding-top:10px}
.product-mode .mode-box .mode-row .mode-tit{display:block;font-size:18px;color:#56565a;padding-bottom:10px}
.product-mode .mode-box .mode-row .mode-cont{font-weight:300;line-height:18px;color:#808285;margin:0}
.product-mode .mode-box .mode-row-box{display:table-cell;vertical-align:middle;height:90px;border:1px solid #e3e3e3;border-radius:3px;background-color:#f4f4f4}
.product-mode.mode-type01 .circle-tit span{background-color:#002f5f}
.product-mode.mode-type02 .circle-tit span{background-color:#0075a4}

.imgtage-area{display:table;width:100%}
.imgtage-area > *{display:table-cell;width:50%;vertical-align:middle;}
.imgtage-area .imgtage-left{padding-right:50px;text-align:right;}
.imgtage-area .imgtage-row{display:block;}
.imgtage-area .imgtage-row + .imgtage-row{padding-top:10px}

/*
.plus-mid{display:inline-block;position:relative;width:37px;height:37px;text-indent:-9999px;}
.plus-mid:before,
.plus-mid:after{content:"";position:absolute;background-color:#0075a4}
.plus-mid:before{top:16px;left:0;width:37px;height:5px;}
.plus-mid:after{top:0;left:16px;width:5px;height:37px}
*/

/* 아이디얼 래디언스 */
.photo-relative{position:relative;margin:0 auto;text-align:center;}
.photo-relative .photo-txt01,
.photo-relative .photo-txt02,
.photo-relative .photo-txt03{position:absolute;font-size:14px;}

.photo-relative.photo-ideal-uv{max-width:440px;}
.photo-ideal-uv .ade-photo{max-height:234px;margin-bottom:10px;}
.photo-ideal-uv .photo-txt01{top: 6%;left: 74%;}
.photo-ideal-uv .photo-txt02{top: 25%;left: 0%;}
.photo-ideal-uv .photo-txt03{bottom:14%;left: 82%;}


/*******************************************************************************
							     베이스 메이크업                                 
*******************************************************************************/

/* 비주얼 영역 공통 */
.txt-info-visual .v-tit{padding: 18px 19% 0;}

/* 파운데이션  */
.base-makeup .skin-care .txt-info-visual .v-tit{padding: 32px 19% 0;}
.beam-balance{position:relative;max-width:327px;margin:0 auto;}
.beam-balance .txt-left, .beam-balance .txt-right{position:absolute;top:75%;} 
.beam-balance .txt-left{left:4%;}
.beam-balance .txt-right{left:70%}

/* 1237 도표 */
.triangle.circle-type{padding: 0;display: block;}
.triangle.circle-type .tit-child{color: #56565a;padding-top:50px;font-size:16px;font-weight:400;}
.triangle.circle-type .tit-child em{font-size:16px !important;}
.triangle.circle-type .txt-round{width:100%;position:absolute;color:#ffffff;}
.triangle.circle-type .txt-round em{display:inline-block;min-width:100px;min-height:100px;padding-top: 22px;border:4px solid #ffff;background: #ad9172;box-sizing: border-box;border-radius: 100%;}
.triangle.circle-type .comment01{width:100%;}
.triangle.circle-type .comment02{width:50%;top: inherit;bottom: 0;left: 2%;}
.triangle.circle-type .comment03{width:50%;top: inherit;bottom: 0;right: 2%;}
.triangle.circle-type .comment02 em{padding-top:36px}

.concealer-img-wrap{position:relative;max-width: 365px;max-height: 423px;}
.concealer-img-wrap .dsc{position:absolute;bottom: 0;left:19.72%;margin-left: -19px;}
.concealer-img-wrap .dsc.mid{margin-left: -42px;}

.crack-txt-wrap{display: block;margin-top:50px;padding-top:20px;}
.crack-txt-wrap:first-child{margin-top:0;}
.crack-txt-wrap .bk-tit{background: #000000 url(../images/akl_product/common/btn_bk_crack.png) no-repeat 0 top;border-radius: 30px;box-sizing: border-box;margin: 5px 0;overflow: hidden;}
.crack-txt-wrap .bk-tit strong{background: #000000 url(../images/akl_product/common/btn_bk_crack_02.png) no-repeat 100% top;padding: 5px 30px;border-radius: 30px;color: #ffffff;font-size: 18px;font-weight: 400;box-sizing: border-box;} 
.crack-txt-wrap .dsc{margin-top: 23px;font-size: 16px;font-weight: 300;color: #808285;}


/*********************************************************************************************
								배스바디
*********************************************************************************************/

.pcomp-area.bath-type{clear:both;display:block;margin: 3px 0 50px;padding: 0 93px 50px;border-top: 0;border-bottom: 1px solid #e3e3e3;overflow:hidden;}
.pcomp-area.bath-type .pcomp-list.deaf03{padding: 0 0;}
.pcomp-area.bath-type .pcomp-list div.comp-info {display:table-cell;vertical-align:top;text-align:center;box-sizing: border-box;padding: 0 40px 47px 0;}
.pcomp-area.bath-type .pcomp-list div.comp-info:nth-child(3){padding-right:0;}
.pcomp-area.bath-type .comp-box dl {vertical-align:top;width:100%;text-align:center;margin: 15px auto 0;}
.pcomp-area.bath-type .comp-box dl dt {height:40px;font-family:'Noto Sans KR', sans-serif;padding: 0 0;}
.pcomp-area.bath-type .comp-box dl dd {text-align:center;padding: 0 0;}
.pcomp-area.bath-type .comp-box dl dd p {font-size: 16px;font-weight:300;color:#808285;margin: 0 auto 0;height: inherit;line-height: 1.5;padding:0 0;width:100%;}
.pcomp-area.bath-type .po-tit {font-size: 20px;font-weight:400;letter-spacing:-1px;}
.pcomp-area.bath-type .po-tit {font-size: 20px;font-weight:400;letter-spacing:-1px;margin: 0 0 20px 0;}

.bath-body .special-feat {border-bottom: 1px solid #e3e3e3;border-top: 1px solid #e3e3e3;padding: 45px 0 40px;}
.bath-body .special-feat ul.spc-list{border-bottom:none;}
.bath-body .special-feat ul.spc-list > li{border-top:none;padding: 15px 50px;}
.bath-body .ingestion-usage .inge-numlst01 li ul.inge-lst03{margin: 10px 0 25px;}
.bath-body .ingestion-usage .inge-numlst01 li ul.inge-lst03 li{text-indent: 0;margin-left: -12px;padding: 0 0 0 10px;font-size: 14px;}
.bath-body .inge-lst03 li:after{top: 8px;width: 4px;height: 4px;}

.bep-lst.deaf02 ul li{width: 50%;}
.verganic-cont .advanBody-area.bb-none{padding:0 0;}
.verganic-cont h5{font-weight:400 !important;}

.oral-round-lst{display:block;padding: 0 8.5% 45px;overflow: hidden;border-bottom: 1px solid #e3e3e3;}
.oral-round-lst li{float:left;width:33.3%;}
.oral-round-lst li .round-area{display: block;text-align: center;margin: 0 20px;}
.oral-round-lst li .img-wrap{display: inline-block;overflow: hidden;text-align: center;margin-bottom:18px;}
.oral-round-lst li .img-wrap:after{display:block;clear:both;content:"";}
.oral-round-lst li .img-wrap img{width:auto;height:auto;display:inline-block;text-align:center;}
.oral-round-lst li .txt-wrap{}
.oral-round-lst li .txt-wrap dt{font-size:20px;font-weight:400;margin-bottom:12px;}
.oral-round-lst li .txt-wrap dd{font-size:16px;color:#808285;font-weight:300;}

.bath-body .system-lst3 ul li .lst-won span{font-weight:400;}

/* 홈앤리빙 */
.assistant-pr .effet-area{padding: 50px 93px;}
.assistant-pr .effet-area .advan-right{padding-right: 0;}
.assistant-pr .effet-area .advan-right .ade-photo.type-right{text-align:right;}
.assistant-pr .ad-setp-lst dd .inge-numlst01 li{margin-left: 10px;text-indent: -8px;}
/* 맙 */
.assistant-pr .effet-area .advan-right.mod-wrap .ade-photo{margin-top:50px;}
.assistant-pr .effet-area .advan-right.mod-wrap .ade-photo .img-desc-area{display: inline-block;position: relative;width: auto;height: auto;}
.assistant-pr .effet-area .advan-right.mod-wrap .ade-photo .img-desc-area img{width: auto;height: auto;display: block;}
.assistant-pr .effet-area .advan-right.mod-wrap .ade-photo .img-desc-area .txt{position:absolute;overflow: hidden;}
.assistant-pr .effet-area .advan-right.mod-wrap .ade-photo .img-desc-area .txt.fst{display:block;width:100%;top:0;left:0;}
.assistant-pr .effet-area .advan-right.mod-wrap .ade-photo .img-desc-area .txt.sec{display:inline-block;width: 50%;left:0;bottom:0;}
.assistant-pr .effet-area .advan-right.mod-wrap .ade-photo .img-desc-area .txt.three{display:inline-block;width: 50%;bottom:0;right:0;}
/* 버즈 */
.assistant-pr .effet-area .advan-right.buz-wrap .ade-photo.dot-txt-area{margin-top:50px;}
.assistant-pr .effet-area .advan-right.buz-wrap .ade-photo.dot-txt-area .img-desc-area{display: inline-block;position: relative;width: auto;height: auto;}
.assistant-pr .effet-area .advan-right.buz-wrap .ade-photo.dot-txt-area .img-desc-area img{width: auto;height: auto;display: block;}
.assistant-pr .effet-area .advan-right.buz-wrap .ade-photo.dot-txt-area .img-desc-area .txt{position:absolute;overflow: hidden;}
.assistant-pr .effet-area .advan-right.buz-wrap .ade-photo.dot-txt-area .img-desc-area .txt.fst{display:block;width:100%;bottom:0;left:0;}
.assistant-pr .effet-area .advan-right.buz-wrap .ade-photo.dot-txt-area .img-desc-area .txt.sec{display:inline-block;width:50%;top:0;left: 14%;}
.assistant-pr .effet-area .advan-right.buz-wrap .ade-photo.dot-txt-area .img-desc-area .txt.three{display:inline-block;width:50%;top:0;left: 42%;}

/* 디쉬드롭 */
.pormula-lst{display:block;}
.pormula-lst li{display:inline-block;margin-right:20px;}
.pormula-lst li:last-child{margin-right:0;}
.pormula-lst li span{position:relative;display: block;width: auto;height: auto;}
.pormula-lst li span img{display:block;}
.pormula-lst li span em.fo-mark{position:absolute;display: block;width:100%;top:50%;left:0;margin-top:-2px;line-height:1.3;color:#ffffff;text-align: center;}
.pormula-lst li span em.neutral{margin-top:-9px;}  /* 중성 */
.pormula-lst li span em.weight{margin-top:-18px;}  /* 중량,용량 */
.pormula-lst li span em.alkali{margin-top:-22px;}  /* 알칼리성 */
.pormula-lst li span em.acid{} /* 기본이 산성 */
.pormula-lst li span em.weak-acid{margin-top: -12px;} /* 약산성 */

.bioquest-lst {width:100%;font-size: 16px;letter-spacing: -1px;margin-bottom:0;}
.ad-step-lst li {display:block; margin-right:5px;margin-top:23px;font-weight: 300;}
.ad-step-lst li strong{display:inline-block;margin-right:5px;color: #0075a4;font-weight: 400;}

.border-bx{display:block;padding:50px 93px;border:1px solid #e3e3e3;margin-top:45px;}
.dish-thum-lst{display: table;width: 100%;margin-bottom:50px;padding-bottom:50px;border-bottom:1px solid #e3e3e3;}
.dish-thum-lst:before{width: 114px;display: table-cell;content:"";}
.dish-thum-lst:last-child{margin-bottom:0;padding-bottom:0;border-bottom:none;}
.dish-thum-lst.thum-bio:before{height: 114px;background:url(../images/akl_product/home-living/thum_mark_bioquest.png) no-repeat 50% 50%;}					
.dish-thum-lst.thum-safer:before{height: 152px;background:url(../images/akl_product/home-living/thum_mark_safer_choice.png) no-repeat 50% 50%;}

.dish-thum-lst .dish-thum-wrap{display:inline-block;margin-left: 73px;}
.dish-thum-lst .dish-thum-wrap strong.h6{color:#ffffff;font-size:18px;font-weight:400;padding: 10px 15px;border-radius: 40px;box-sizing: border-box;display: inline-block;margin-bottom: 20px;}
.dish-thum-lst .dish-thum-wrap strong.h6.round-green{background:#00892d;}
.dish-thum-lst .dish-thum-wrap strong.h6.round-blue{background:#008fc5;}
.dish-thum-lst .dish-thum-wrap .ad-step-lst{margin-bottom:10px;}
.dish-thum-lst .dish-thum-wrap .ad-step-lst:before{}
.dish-thum-lst .dish-thum-wrap .ad-step-lst li{margin-top: 0;line-height: 1.5;font-size: 16px;color: #808285;}
.dish-thum-lst .dish-thum-wrap .ad-step-lst li strong{color: #56565a;}
.dish-thum-lst .dish-thum-wrap .inge-lst03 li{font-size:14px;color:#808285;}

/* 1270 */
.perl-water-lst{margin-top:45px;}
.perl-water-lst > ul:after{content:"";clear:both;display:block;}
.perl-water-lst > ul li{float:left;width:20%;}
.perl-water-lst > ul li:first-child{padding-left:0;}
.perl-water-lst > ul li .perl-area{position:relative;width:100%;}
.perl-water-lst > ul li .perl-area p{width:100%;min-height:85px;text-align: center;padding: 0 16%;font-size: 16px;color: #808285;line-height: 1.5;margin-top: 12px;}
.perl-water-lst > ul li .perl-area span{display:block;width:auto;height:auto;text-align: center;}
.perl-water-lst > ul li .perl-area span img{width:inherit;height:inherit;}

.clean-one{display:block;margin-left:-30px;margin-top:20px;}
.clean-one li{float:left;text-indent: 0 !important;margin-left:0 !important;position: relative;}
.clean-one li:last-child .dsc{display: table;width: 100%;min-height: 130px;padding-left: 5px;}
.clean-one li:last-child .dsc span{display: table-cell;font-size:18px;font-weight:400;color:#871e94;text-indent: 0 !important;text-align: left;vertical-align: middle;}


/*****************************************************************
								 원포원 
******************************************************************/

.limetree-area .health-inform-box.capsule-type{border-top:0;}
.capsule-img-area em.txt{display:block;font-size:16px;color:#808285;font-weight:300;text-align:center;margin: 28px 0 0;}
.siehe-box ol{margin-top: 21px;}
.capsule-new-area{}
.capsule-new-area:after{content:"";clear:both;display:block;}
.capsule-new-area.new{display: block;position: relative;padding-top:50px;padding-left:50px; max-width:391px;margin:0 auto}
.capsule-new-area.new span.lime-new{position: absolute;display:inline-block;width:80px;height:80px;border-radius:50%;font-size: 20px;color: #e86d8a;font-weight: 300;line-height: 80px;top: 0;left: -10px;box-sizing: border-box;background: #ffedf6;z-index:3;}
.capsule-new-area.new .lime-img{position: relative;display:block; z-index:5;}

.brown09{color:#682114 !important;}
.blue12{color:#4d9fbe !important;}
.beige02{color:#b9965f !important;}

.visual-area.type02.jungipum-kim{}


.v-pro.certifi-area span.img{display:inline-block;width:auto;}
.v-pro.certifi-area .certifi{display:inline-block;margin-left: -13px;padding-bottom:80px;vertical-align: bottom;text-align: left;}
.v-pro.certifi-area .certifi .in-mark{text-align: left;}
/*.v-pro.certifi-area .certifi .in-mark img{-webkit-box-shadow:3px 3px 3px rgba(0,0,0,.3),0 0 3px rgba(0,0,0,.7);
									-moz-box-shadow:3px 3px 2px rgba(0,0,0,.3),0 0 3px rgba(0,0,0,.7);
									box-shadow:3px 3px 2px rgba(0,0,0,.7),0,0,3px rgba(0,0,0,.7);}*/
.v-pro.certifi-area .certifi ul{}
.v-pro.certifi-area .certifi ul li{font-size:12px;color:#56565a;font-weight:300;letter-spacing:-1px;}


.kim-knowhow{position: relative;}
.kim-knowhow .oil-txt-lst, .kim-knowhow .oil-txt-lst.three {position: absolute;bottom: 0;left:0;}

.oil-txt-lst{display:block;width:100%;}
.oil-txt-lst ul{padding-right:14px;max-width:470px;margin:0 auto;}
.oil-txt-lst ul:after{content:'';display:block;clear:both;}
.oil-txt-lst ul li{float:left;width:25%;padding-left:14px;}
.oil-txt-lst li .round-area{display: block;text-align: center}
.oil-txt-lst li .img-wrap{display: block;overflow: hidden;text-align: center;}
.oil-txt-lst li .img-wrap:after{display:block;clear:both;content:"";}
.oil-txt-lst li .img-wrap img{width:auto;height:auto;display:inline-block;text-align:center;}
.oil-txt-lst li em.txt-wrap{display:inline-block;font-size:14px;color:#808285;font-weight:300;letter-spacing:-1px;line-height:1.3;}

.oil-txt-lst.three ul{max-width:375px;}
.oil-txt-lst.three ul li{width: 33.3%;}

/* 파스퇴르 */
.lacto-wrap{    margin-top: 45px;}
.lacto-wrap .head-tit{display:block;font-size:44px;color:#56565a;text-align:center;}
.lacto-wrap .box-tit h5{font-size:20px;color:#56565a;text-align:center;}
.lacto-wrap .health-inform-box{ margin-top: 23px;}
.lactobacillus{margin-bottom: 24px;display: block;}
.lactobacillus p.tit{display:inline-block;line-height:40px;font-size:18px;color:#ffffff;font-weight:400;text-align:center;border-radius:40px;background: #f3be0f;width: 270px;}
.lactobacillus.red13 p.tit{background:#f99c83;}
.lactobacillus.green18 p.tit{background:#4cab9d;}

.lactobacillus dl{}
.lactobacillus dl dt{display:block;font-size:16px;color:#56565a;font-weight: 400;margin-left: 16px;line-height: 1.5;}
.lactobacillus dl dd{display:block;position: relative;font-size: 14px;color: #808285;font-weight: 300;letter-spacing: -1px;margin-left: 27px;line-height: 1.5;letter-spacing: 0;}
.lactobacillus dl dd:after{position: absolute;display: inline-block;width: 4px;height: 1px; top: 12px; left: -10px; background-color: #808285; content: "";}

.lacto-tip-lst{}
.lacto-tip-lst strong{display: inline-block;padding: 1px 12px;background:#dadada;border-radius:19px;color: #ffffff;font-weight: 400;line-height:19px;font-size: 12px;letter-spacing: 1px;margin-bottom: 5px;}
.lacto-tip-lst .fst{    margin-bottom: 0;    line-height: 1.5;    font-size: 14px;    color: #999999;    font-weight: 300;}
.lacto-tip-lst .sub{    font-size: 12px;    color: #999999;    line-height: 1.5;    font-weight: 300;}

.lacto-wrap .health-inform-box .advan-right{padding: 0 0 0 0;}


/* 베이비 테이블 */
.baby-guide-tit{display:block;color:#56565a;font-size:18px;font-weight:400;margin-bottom:0;}
.baby-tbl{}
.baby-tbl .tbl-home1.geneal.type2{width:100%;}
.baby-tbl .tbl-home1 li.tbody{padding:20px 0;}
.baby-tbl .tbl-home1 li.tbody .list-tit{width:25%;}
.baby-tbl .tbl-home1 li.tbody .txt-amount{width:25%;}
.baby-tbl .tbl-home1 li.tbody.bottle-area{padding: 20px 0;}
.baby-tbl .tbl-home1 li.tbody.bottle-area .txt-amount{padding-top: 70px;vertical-align: top;}
.baby-tbl .tbl-home1 li.tbody.bottle-area .txt-amount:nth-child(1){background: url(../images/akl_product/one-for-one/thum_pasteur_bottle_01.png) no-repeat 50% 0;}
.baby-tbl .tbl-home1 li.tbody.bottle-area .txt-amount:nth-child(2){background: url(../images/akl_product/one-for-one/thum_pasteur_bottle_02.png) no-repeat 50% 0;}
.baby-tbl .tbl-home1 li.tbody.bottle-area .txt-amount:nth-child(3){background: url(../images/akl_product/one-for-one/thum_pasteur_bottle_03.png) no-repeat 50% 0;}
.baby-tbl .tbl-home1 li.tbody.bottle-area .txt-amount:nth-child(4){background: url(../images/akl_product/one-for-one/thum_pasteur_bottle_04.png) no-repeat 50% 0;}
.baby-tbl .tbl-home1 li.tbody.bottle-area .txt-amount:after{}

/* 베이비 테이블 */
.baby-tbl{}
.baby-tbl .tbl-home1.geneal.type2{width:100%;}
.baby-tbl .tbl-home1 li.tbody{padding:20px 0;}
.baby-tbl .tbl-home1 li.tbody .list-tit{width:25%;}
.baby-tbl .tbl-home1 li.tbody .txt-amount{width:25%;}


/* 비비안 */


.product-rank.aroma.gray{background-color:#f4f4f4;}
.product-rank.aroma{padding:37px 0 !important;}
.product-rank.aroma .rank-img{width:15%;}
.product-rank.aroma .rank-box{width: 68%;   padding: 0 5% 0 0;}
.product-rank.aroma .rank-box .com-tit2{font-size:16px;line-height:1.5;color:#56565a;}
.product-rank.aroma .rank-box .rank-txt{margin:0 0 0;}
.to-mark span{display:inline-block;}



@media (max-width: 768px) {
	
	
	
	/* 베이스 메이크업 공통 */
	.base-makeup .visual-area .v-logo.beauty img{height:13px;}
	.base-makeup .v-pro span img{width:auto;height: auto;}
	
	
	/* 립메이크업 공통 */
	.point-makeup .visual-area .v-logo.beauty img{height:13px;}
	.point-makeup .visual-area.lipgloss .v-logo{width:auto;padding:38px 0 0;}
	.point-makeup .visual-area.lipgloss .v-pro span img {width:auto;height:auto;}
	.point-makeup .visual-area.lipgloss .v-logo.beauty img{width:auto;height:20px;}
	
	/* 배스바디 */
	.bath-body .pcomp-list.deaf-left div.comp-info {display:block;float:inherit;width:100%;text-align: center;padding:0 0;margin-right:0;}
	.bath-body .special-feat{padding: 15px 0 15px;}
	.bath-body .special-feat ul.spc-list > li{border-top:none;padding: 15px 0 15px 30px;background: url(../images/akl_product/icon/ico_bullet.png) no-repeat 0 50%;background-size: 20px;}
	.bath-body .v-pro span img{width:50%;}	
	
	.oral-round-lst{padding: 0 0 25px;}
	.oral-round-lst li .round-area{margin: 0 10px;}
	.oral-round-lst li .img-wrap img{width:70%;height:70%;}
	.oral-round-lst li .txt-wrap dt{font-size:16px;}
	.oral-round-lst li .txt-wrap dd{font-size:13px;}
	
	/* 홈리빙 */
	.border-bx{padding: 25px 47px;}
	
	.dish-thum-lst{margin-bottom: 25px;padding-bottom: 25px;}
	.dish-thum-lst.thum-bio:before{background-size: 70%;}					
	.dish-thum-lst.thum-safer:before{background-size: 70%;}	
	.dish-thum-lst .dish-thum-wrap{margin-left:10px;}
	.dish-thum-lst .dish-thum-wrap .ad-step-lst li{line-height: 1.5;font-size:14px;}
	.dish-thum-lst .dish-thum-wrap .inge-lst03 li{font-size:13px;}
	
	.perl-water-lst{margin-top:25px;}
	.perl-water-lst > ul li .perl-area span img{width:90%;height:90%;}
	.perl-water-lst > ul li .perl-area p{font-size: 14px;line-height: 1.2;}
	
	
	/*원포원*/	
	.capsule-img-area em.txt br{display:none;} /* 라임트리 캡슐세트 */
	
	.v-pro.certifi-area span.img{width:100% !important;} /* 김 */
	.v-pro.certifi-area{position:relative;padding-bottom: 0;}
	.v-pro.certifi-area .certifi{display:block;padding-bottom: 0;margin-left:6%;}
	.v-pro.certifi-area .certifi span{width:auto;}
	.v-pro.certifi-area .certifi ul li br{display:none;}
	
	.oil-txt-lst.three{padding: 0 21% 0;}
	
	
	/* 비비안 */
	.product-rank.aroma .rank-img{display: block;text-align: center;width: 100%;}
	.product-rank.aroma .rank-box{display: block;text-align: left;width: 100%;padding: 27px 30px 0;}
	
	.skin-care .visual-area.type02.duma-sonic .v-logo.beauty img{height:15px;}
	

}





@media (max-width: 324px) {
	
}

