html{height:100%;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:62.5%;}
body{position:relative;width:100%;height:100%;padding:0;margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
a{cursor:pointer; text-decoration:none;}
a:active,a:hover{text-decoration:none;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
img{width:100%; height:auto; border:0;}
button,input,optgroup,select,textarea{margin:0;font:inherit; }
button{overflow:visible; border:none;}
button,select{text-transform:none;}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;border: 0;outline: 0;background: 0;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
a:hover,a:hover span{text-decoration:none;}
ul, ol, li {list-style:none;}

*,*::before,*::after{box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; font-weight:normal; margin:0; padding:0;}

.collapse {display:none;}
.collapse.in {display:block;}
.collapsing {position:relative; height:0; overflow:hidden; -webkit-transition-timing-function:ease; -o-transition-timing-function:ease; transition-timing-function:ease; -webkit-transition-duration:.35s; -o-transition-duration:.35s; transition-duration:.35s; -webkit-transition-property:height,visibility; -o-transition-property:height,visibility; transition-property:height,visibility;}
.hidden {position:absolute; overflow:hidden; width:0; height:0; padding:0; margin:0; line-height:0; text-indent:-9999px}

/* font */
@font-face {font-family:'Roboto';font-style:normal;font-weight:400;src:url(../font/roboto/Roboto-Regular.woff2) format('woff2'), url(../font/roboto/Roboto-Regular.woff) format('woff'), url(../font/roboto/Roboto-Regular.otf) format('opentype')}
@font-face {font-family:'Roboto';font-style:normal;font-weight:500;src:url(../font/roboto/Roboto-Medium.woff2) format('woff2'), url(../font/roboto/Roboto-Medium.woff) format('woff'), url(../font/roboto/Roboto-Medium.otf) format('opentype')}
@font-face {font-family:'Roboto';font-style:normal;font-weight:700;src:url(../font/roboto/Roboto-Bold.woff2) format('woff2'), url(../font/roboto/Roboto-Bold.woff) format('woff'), url(../font/roboto/Roboto-Bold.otf) format('opentype')}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:300;src:url(../font/notosanskr/notokr-light.woff2) format('woff2'),url(../font/notosanskr/notokr-light.woff) format('woff');}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:400;src:url(../font/notosanskr/notokr-regular.woff2) format('woff2'),url(../font/notosanskr/notokr-regular.woff) format('woff');}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:500;src:url(../font/notosanskr/notokr-medium.woff2) format('woff2'),url(../font/notosanskr/notokr-medium.woff) format('woff');}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:700;src:url(../font/notosanskr/notokr-bold.woff2) format('woff2'),url(../font/notosanskr/notokr-bold.woff) format('woff');}

/* 웹접근성  */
.blind, .hidden {overflow:hidden !important;width:1px !important;height:1px !important;margin:-1px !important;position:absolute !important;clip:rect(0 0 0 0) !important;border:0 !important;padding:0 !important;}

/* skipToContent */
#skipToContent a {position:fixed;top:0;left:0;z-index:9999;width:100%;height:0;margin-top:-1px;display:block;background-color:#3875c1;font-size:14px;font-weight:normal;color:#fff;line-height:1;text-align:center;overflow:hidden;} /* 190411_수정 psup 테스트 - 웹접근성용 바로가기 폰트 굵기 수정 */
#skipToContent a:focus,
#skipToContent a:active {margin-top:0;height:auto;padding:10px 0px;}

/* header */
.header {position:relative; height:60px; text-align:center; border-bottom:1px solid #e5e5e5;}
.header .header_inner {height:60px; line-height:60px;}
.header .header_inner .header_title {display:flex; justify-content:center; align-items:center;}
.header .header_inner .header_title .header_logo {display:inline-block; width:65px; height:24px; background:url(../images/hd_logo.png) no-repeat left top; background-size:100% auto; text-indent:-9999px;}
.header .header_inner .header_title span {display:inline-block; color:#111; font-size:18px; font-weight:bold; padding-left:4px;}
.header .header_inner .header_prev {position:absolute; left:18px; top:50%; transform:translateY(-50%); display:inline-block; width:19px; height:19px; background:url(../images/btn_hd_prev.png) no-repeat left top; background-size:100% auto; text-indent:-9999px;}
.header .header_inner .header_close {position:absolute; right:18px; top:50%; transform:translateY(-50%); display:inline-block; width:19px; height:19px; background:url(../images/btn_hd_close.png) no-repeat left top; background-size:100% auto; text-indent:-9999px;}

.header_blue {background-color:#374bae; border-bottom:1px solid #374bae;}
.header_blue .header_inner .header_title span {color:#fff; padding:0;}
.header_blue .header_inner .header_close {background-image:url(../images/btn_hd_close_white.png);}

/* contents */
.contents {padding:30px 16px calc(constant(safe-area-inset-bottom) + 100px); padding:30px 16px calc(env(safe-area-inset-bottom) + 100px); padding:30px 16px 100px;}/* 20220914 수정 */
.contents .contents_top {text-align:center;}
.contents .contents_top .top_desc {color:#002f5f; font-size:16px; font-weight:bold; line-height:21px; letter-spacing:-0.4px;}
.contents .contents_top .top_sub_desc {color:#567bf3; font-size:12px; font-weight:normal; line-height:12px; letter-spacing:-0.3px;}

.contents_v2 {padding:0 15px;}

.contents_mid {margin:32px 0 0;}
.contents_mid .contents_mid_box {border-top:1px solid #d7d7d7; padding:28px 0;}
.contents_mid .contents_mid_box .mid_title {color:#111; font-size:18px; font-weight:bold; line-height:27px; letter-spacing:-0.9px; text-align:left; padding:0 0 12px;}

/* footer */
.footer_fixed {position:fixed; left:50%; bottom:0; width:100%; text-align:center; transform:translateX(-50%); transition:all ease .3s; z-index:100;}/* 20220914 수정 */
.footer_fixed .footer_inner {display:flex; justify-content:center; align-items:center;}
.footer_fixed .btn_footer span {display:inline-block; margin-right:7px;}
.footer_fixed .btn_footer span.ft_txt > em {color:#fff; font-size:12px; font-weight:normal; font-style:normal; opacity:0.57;}
.footer_fixed .btn_footer span.ft_txt > em.ft_num {color:#fff; font-size:18px; font-weight:bold; opacity:1;}
.footer_fixed .btn_footer span.ft_order {color:#fff; font-size:17px; font-weight:bold; letter-spacing:-0.85px;}

.footer .footer-cont0 {background:#fff; padding:20px 26px 10px 26px; margin:0 auto; overflow:hidden;}
.footer .footer-cont0 .footer-nav {position:relative; display:block; padding:0; margin:0;}
.footer .footer-cont0 .footer-nav > li {position:relative; display:inline-block; padding:0 8px 0 0; margin:0 8px 0 0;}
.footer .footer-cont0 .footer-nav > li:before {content:""; position:absolute; right:0; top:4px; width:1px; height:10px; background:#d8d8d8;}
.footer .footer-cont0 .footer-nav > li:last-child:before {background:none;}
.footer .footer-cont0 .footer-nav > li a {position:relative; display:block; color:#484848; font-size:10px; font-weight:normal;}
.footer .footer-cont0 .txt0 {color:#7d7d7d; font-size:10px; font-weight:normal; margin:15px 0 5px; letter-spacing:-.5px;}
.footer .footer-cont0 .footer-service-contact {padding:0 0 15px 0; text-align:left;}
.footer .footer-cont0 .footer-service-contact dl {display:inline-block; margin:0 10px 0 0;}
.footer .footer-cont0 .footer-service-contact dl dt {display:inline-block; color:#7d7d7d; font-size:13px; font-weight:normal; margin:0 8px 0 0; vertical-align:top;}
.footer .footer-cont0 .footer-service-contact dl dd {display:inline-block; color:#000; font-size:13px; font-weight:normal; vertical-align:top;}
.footer .footer-cont0 .footer-service-contact dl dd a {color:#000;}
.footer .footer-cont0 .footer-service-contact > a {position:relative; display:inline-block; color:#000; font-size:13px; font-weight:normal; padding:0 0 0 22px; vertical-align:top;}
.footer .footer-cont0 .footer-service-contact > a:before {content:''; position:absolute; left:0; top:-1px; width:19px; height:20px; background:url(../images/icon100.png) no-repeat -50px -100px; background-size:100px auto;}
.footer .footer-cont0 button {display:block; font-size:12px; color:#465c71; font-weight:500; background:none; padding:0; position:relative;}
.footer .footer-cont0 button:before {content: ''; display:inline-block; width:16px; height:16px; vertical-align:top; background:url(../images/icon100.png) no-repeat; background-size:100px auto; background-position:-50px -250px; margin:0 8px 0 0;}

.footer .footer-cont1 .txt-cont {position:relative; background:#ebebeb; padding:10px 26px;}
.footer .footer-cont1 .txt-cont.closed {padding:0; height:0; overflow:hidden;}
.footer .footer-cont1 .txt-cont address,
.footer .footer-cont1 .txt-cont .txt_address {color:#5a5a5a; font-size:10px; font-weight:normal; font-style:normal; text-align:left; margin:0; clear:unset; line-height:17px; word-break:break-all; letter-spacing:-.6px;}
.footer .footer-cont1 .txt-cont .txt_address {position:relative; display:inline; margin:0 0 0 7px; padding-left:7px;}
.footer .footer-cont1 .txt-cont .txt_address:before {content:''; display:block; position:absolute; left:0; top:6px; width:2px; height:2px; background:#5a5a5a; border-radius:50%;}
.footer .footer-cont1 .txt-cont .txt1 {color:#5a5a5a; font-size:10px; font-weight:normal; padding:5px 0 0 0;}
.footer .footer-cont1 .txt-cont .txt1 a {position:relative; color:#5a5a5a; border-bottom:1px solid #7d7d7d;}
.footer .footer-cont1 .certification {position:relative; margin-top:14px; text-align:center;}
.footer .footer-cont1 .certification a {position:relative; display:inline-block; min-width:unset; height:auto; vertical-align:top; font-size:12px; text-align:left; margin:0 7px 10px; padding:0 7px;}
.footer .footer-cont1 .certification a:first-child {margin-left:0; padding-left:0;}
.footer .footer-cont1 .certification a span,
.footer .footer-cont1 .certification .box_mark span {display:block; color:#7d7d7d; font-size:10px; font-weight:normal; line-height:14px; text-align:center; padding:0; margin-top:6px;}
.footer .footer-cont1 .certification a img,
.footer .footer-cont1 .certification .box_mark img {display:block; width:51px;}
.footer .footer-cont1 .certification .box_mark {position:relative; display:inline-block; margin:0 3px; padding:0 7px; min-width:unset; height:auto; vertical-align:top;}
.footer .footer-cont1 .certification a.mac-co {display:flex; align-items:center; width:152px; height:45px; margin:10px auto 0; padding:0 7px; border:1px solid #ccc; overflow:hidden;}
.footer .footer-cont1 .certification a.mac-co span {color:#5a5a5a; font-size:10px; text-align:left; padding-left:6px; letter-spacing:-1px; margin:0;}

.footer .copyright-cont {background:#002f5f;}
.footer .copyright-cont p {height:41px; line-height:41px; color:#7d7d7d; font-size:10px; font-weight:normal; text-align:center; padding:0;}
.footer .copyright-cont img {display:none;}

/* button */
.btn_blue {color:#fff; background-color:#002f5f; border:1px solid #002f5f;}
.btn_gray {color:#333; background-color:#fff; border:1px solid #ccc;}

.btn_wrap {display:flex; justify-content:center; align-items:center; padding:7px 0 0;}
.btn_wrap .btn_default_radius {color:#567bf3; font-size:12px; font-weight:normal; padding:4px 15px; border:1px solid #567bf3; border-radius:14px; background:#fff;}
.btn_wrap .btn_small {width:56px; height:40px; font-size:13px; line-height:19px; letter-spacing:-0.65px;}

.btn_footer {display:block; width:100%; height:55px; line-height:55px; color:#fff; font-size:16px; font-weight:bold; box-sizing:border-box;}
/* S : 20220926 하단 버튼 disabled 수정 */
.btn_footer[type='button']:disabled {color:#fff; background-color:#ececec; border-top:1px solid #ececec;}
.btn_footer[type='button']:disabled span.ft_txt > em {color:#91a5ba; opacity:1;}
.btn_footer[type='button']:disabled span.ft_txt > em.ft_num {color:#fff;}
/* E : 20220926 하단 버튼 disabled 수정 */

/* input */
input[type=checkbox],
input[type=radio] {box-sizing:border-box; padding:0; margin:4px 0 0; line-height:normal;}
input[type=radio] {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;}
input,textarea,select{-webkit-appearance:none;-webkit-border-radius:0;font-weight:400;}
input::-ms-clear {display:none;}
.amwa-radio+label {position:relative; display:block; padding-left:28px; font-size:14px; font-weight:400; cursor:pointer; color:#333; line-height:18px;}
.amwa-radio+label:before {position:absolute; top:0; left:0; display:inline-block; width:18px; height:18px; content:''; border:1px solid #ccc; border-radius:50%; background:#fff;}
.amwa-radio:checked+label:before {background:#567bf3; border-color:#567bf3;}
.amwa-radio+label:after {position:absolute; top:5px; left:5px; display:block; width:8px; height:8px; content:''; border-radius:50%; background:#fff;}

.input_box {margin-bottom:15px;}
.input_box .ipt_label {display:block; color:#111; font-size:16px; font-weight:bold; line-height:19px; letter-spacing:-0.8px; margin-bottom:6px;}
.input_box .ipt_input {width:100%; height:38px; line-height:38px; color:#333; font-size:14px; font-weight:normal; border:1px solid #dadada; box-sizing:border-box; padding:0 9px;}
.input_box .ipt_input[type='text']:disabled {color:#999;}
.input_box .ipt_input[type='text']:read-only {border:none;}
.input_box .ipt_input[type='text']:read-only:focus {outline:none;}

.form_input {padding:0 10px !important; width:100%; height:40px; font-size:13px !important; color:#333; border:solid 1px #dadada; box-sizing:border-box; border-radius:2px; font-weight:400;}
.form_input.mgt5 {margin-top:5px;}

/* select */
.form_select {padding:0 28px 0 10px; width:100%; border:solid 1px #dadada; height:40px; border-radius:2px; font-size:13px !important; font-weight:400; color:#333; line-height:35px; letter-spacing:-.7px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background-color:#fff;     background-image: url(../images/p_ico-select.png); background-position:right center; background-repeat:no-repeat; background-size:19px auto;}
.form_select-default {position:relative; float:right; display:inline-block; width:100%;}

/* count box */
.count_box {position:relative; display:flex; padding:0 40px; margin:0 6px;}
.count_box .ipt_input {width:40px; height:40px; color:#333; font-size:14px; font-weight:normal; line-height:16px; letter-spacing:-0.35px; text-align:center; border:1px solid #ccc; border-width:1px 0; border-radius:0;}
.count_box .ipt_input:disabled {color:#bababa; background-color:#ededed; opacity:1;}
.count_box .btn_cnt {position:absolute; top:0; display:inline-block; width:40px; height:40px; border:1px solid #ccc; background-color:#f9f9f9; background-repeat:no-repeat; background-position:center center; background-size:18px 18px; cursor:pointer; text-indent:-9999px;}
.count_box .btn_cnt:disabled {background-color:#ededed;}
.count_box .btn_cnt.btn_cnt_minus {left:0; background-image:url(../images/btn_product_minus.png); border-radius:2px 0 0 2px;}
.count_box .btn_cnt.btn_cnt_plus {right:0; background-image:url(../images/btn_product_plus.png); border-radius:0 2px 2px 0;}
.count_box .btn_cnt.btn_cnt_minus:disabled {background-image:url(../images/btn_product_minus_no.png);}
.count_box .btn_cnt.btn_cnt_plus:disabled {background-image:url(../images/btn_product_plus_no.png);}

/* 제품 */
.prd_add_list .prd_add {display:flex; align-items:center; margin-bottom:10px;}
.prd_add_list .prd_add:last-child {margin-bottom:0;}
.prd_add_list .prd_add .input_box {width:100%; margin-bottom:0;}
.prd_add_list .prd_add .input_box .ipt_label {position:absolute; width:1px; height:1px; margin:-1px; overflow:hidden; clip-path:polygon(0 0, 0 0, 0 0);}
.prd_add_list .prd_add .input_box .ipt_input {height:40px; line-height:40px; color:#bababa; font-size:13px; line-height:19px; letter-spacing:-0.65px; border:1px solid #d7d7d7; padding:0 14px;}
.prd_add_list .prd_add .input_box .ipt_input:focus {color:#333;}
.prd_add_list .prd_add .input_box .ipt_input:disabled {color:#bababa !important; background-color:#ededed !important; border:1px solid #d7d7d7 !important; padding:0 14px !important;}
.prd_add_list .prd_add .input_box .ipt_input:read-only {color:#333; border:none; padding:0; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.prd_add_list .prd_add .btn_wrap {padding-top:0;}

/* 배송/결제 정보 선택 */
.info_check {}
.info_check .cont_box {position:relative; padding:16px; background:#f0f5fd; border:1px solid #d7d7d7; border-radius:8px;}
.info_check .cont_box .address-tit {margin:0 0 10px; overflow:hidden;}
.info_check .cont_box .address-tit:after {clear:both; content:""; display:block;}
.info_check .cont_box .address-tit .address-name {color:#111; font-size:16px; font-weight:bold; word-break:break-word; line-height:24px; letter-spacing:-0.8px; vertical-align:middle;}
.info_check .cont_box .address-tit .address-type {display:inline-block; line-height:14px; color:#567bf3; font-size:10px; border:1px solid #567bf3; border-radius:20px; padding:1px 9px; margin-left:5px;}
.info_check .cont_box .address-tit .btn-delivery-guide {float:right;}
.info_check .cont_box .address-tit .btn-delivery-guide .btn_change {display:inline-block; color:#333; font-size:11px; font-weight:normal; text-align:center; line-height:14px; padding:4px 10px; border:1px solid #ccc; border-radius:2px;}
.info_check .detail-content {}
.info_check .detail-content .address_info_txt {color:#333; font-size:14px; font-weight:normal; line-height:20px; letter-spacing:-0.7px;}

.apay_card_list {background:#f4f4f4; border:1px solid #dadada; border-radius:8px; padding:20px 16px; margin:10px 0 0; overflow:hidden;}
.apay_card_list .apay_title {display:flex; align-items:center; margin-bottom:30px;}
.apay_card_list .apay_title .apay_title_ico {display:inline-block; width:60px; height:22px; background:url(../images/icon_apay_logo.png) no-repeat left top; background-size:100% auto; text-indent:-9999px;}
.apay_card_list .apay_title .apay_title_txt {display:inline-block; color:#3661aa; font-size:15px; font-weight:bold; letter-spacing:-0.6px; margin-left:4px;}
.apay_card_list .apay_receipt {display:flex; align-items:center; justify-content:space-between; border-top:1px solid #dadada; padding:16px 0 0; margin:20px 0 0;}
.apay_card_list .apay_receipt .apay_receipt_txt {color:#567bf3; font-size:13px; font-weight:normal; letter-spacing:-0.65px;}
.apay_card_list .apay_receipt .apay_receipt_btn > button {font-size:13px; font-weight:normal; padding:8px 20px;}

.apay_card {width:calc(100% + 32px); padding:0; margin:0; margin-left:-16px;}
.apay_card .payment-unit {width:286px; height:180px;}
.apay_card .payment-unit .payment-card {position:relative; min-width:286px; height:180px; border-radius:10px;}
.apay_card .payment-unit .payment-card .txt {position:absolute; left:16px; bottom:42px; display:block; color:#fff; font-size:13px; line-height:1.46; letter-spacing:-0.65px; opacity:0.6;}
.apay_card .payment-unit .payment-card .account_number {position:absolute; left:16px; bottom:17px; display:block; color:#fff; font-size:18px; line-height:1.17;}
.apay_card .payment-unit .payment-card .icon {position:absolute; left:16px; top:16px;}
.apay_card .payment-unit .payment-card.card-area {display:flex; align-items:center; justify-content:center; border:1px dashed #ccc; background-color:#fafafa; padding:18.5px 21px;}
.apay_card .payment-unit .payment-card.card-area > p {color:#666; font-size:13px; font-weight:normal; letter-spacing:-0.65px; text-align:center; margin:0;}
.apay_card .swiper-button-prev,
.apay_card .swiper-button-next {display:none;}
/* 은행/카드 클래스 */
/* 농협은행 / NH채움 */ 
.apay_card .payment-unit .payment-card.type01 {background-color:#0066b3;}
.apay_card .payment-unit .payment-card.type01 .icon {display:block; width:27px; height:31px; background:url('../images/icon_card-01.png') no-repeat 0 0 / 100%;}
/* 우리은행 / 우리카드 */ 
.apay_card .payment-unit .payment-card.type02 {background-color:#0067ac;}
.apay_card .payment-unit .payment-card.type02 .icon {display:block; width:32px; height:32px; background:url('../images/icon_card-02.png') no-repeat 0 0 / 100%;}
/* 신한은행 & 제주은행 / 신한 */
.apay_card .payment-unit .payment-card.type03 {background-color:#10226a;}
.apay_card .payment-unit .payment-card.type03 .icon {display:block; width:32px; height:32px; background:url('../images/icon_card-03.png') no-repeat 0 0 / 100%;}
/* 국민은행 / KB국민카드 */ 
.apay_card .payment-unit .payment-card.type04 {background-color:#645b4c;} 
.apay_card .payment-unit .payment-card.type04 .icon {display:block; width:43px; height:32px; background:url('../images/icon_card-04.png') no-repeat 0 0 / 100%;}
/* 하나은행 / 하나카드 */ 
.apay_card .payment-unit .payment-card.type05 {background-color:#009490;}
.apay_card .payment-unit .payment-card.type05 .icon {display:block; width:34px; height:31px; background:url('../images/icon_card-05.png') no-repeat 0 0 / 100%;}
/* 씨티은행 / 씨티카드 */ 
.apay_card .payment-unit .payment-card.type06 {background-color:#004087;}
.apay_card .payment-unit .payment-card.type06 .icon {display:block; width:39px; height:26px; background:url('../images/icon_card-06.png') no-repeat 0 0 / 100%;}
/* 전북은행 & 광주은행 / 전북 & 광주카드 */ 
.apay_card .payment-unit .payment-card.type07 {background-color:#002d6b;}
.apay_card .payment-unit .payment-card.type07 .icon {display:block; width:29px; height:29px; background:url('../images/icon_card-07.png') no-repeat 0 0 / 100%;}
/* 산업은행 */
.apay_card .payment-unit .payment-card.type08 {background-color:#013580;}
.apay_card .payment-unit .payment-card.type08 .icon {display:block; width:36px; height:33px; background:url('../images/icon_card-08.png') no-repeat 0 0 / 100%;}
/* 새마을금고 / MG새마을 */ 
.apay_card .payment-unit .payment-card.type09 {background-color:#07376a;}
.apay_card .payment-unit .payment-card.type09 .icon {display:block; width:32px; height:28px; background:url('../images/icon_card-09.png') no-repeat 0 0 / 100%;}
/* 수협 / 수협카드 */ 
.apay_card .payment-unit .payment-card.type10 {background-color:#70c7eb;}
.apay_card .payment-unit .payment-card.type10 .icon {display:block; width:36px; height:26px; background:url('../images/icon_card-10.png') no-repeat 0 0 / 100%;}
/* 신협 / 신협카드 */
.apay_card .payment-unit .payment-card.type11 {background-color:#59cad1;}
.apay_card .payment-unit .payment-card.type11 .icon {display:block; width:40px; height:40px; background:url('../images/icon_card-11.png') no-repeat 0 0 / 100%;}
/* 우체국 */
.apay_card .payment-unit .payment-card.type12 {background-color:#d93128;}
.apay_card .payment-unit .payment-card.type12 .icon {display:block; width:42px; height:20px; background:url('../images/icon_card-12.png') no-repeat 0 0 / 100%;}
/* 케이뱅크 */ 
.apay_card .payment-unit .payment-card.type13 {background-color:#26323d;}
.apay_card .payment-unit .payment-card.type13 .icon {display:block; width:28px; height:31px; background:url('../images/icon_card-13.png') no-repeat 0 0 / 100%;}
/* 카카오뱅크 */ 
.apay_card .payment-unit .payment-card.type14 {background-color:#ffe300;}
.apay_card .payment-unit .payment-card.type14 .txt {color:#444;}
.apay_card .payment-unit .payment-card.type14 .account_number {color:#111;}
.apay_card .payment-unit .payment-card.type14 .icon {display:block; width:24px; height:31px; background:url('../images/icon_card-14.png') no-repeat 0 0 / 100%;}
/* 저축은행 */ 
.apay_card .payment-unit .payment-card.type15 {background-color:#acd663;}
.apay_card .payment-unit .payment-card.type15 .icon {display:block; width:30px; height:30px; background:url('../images/icon_card-15.png') no-repeat 0 0 / 100%;}
/* 부산은행 & 경남은행 */ 
.apay_card .payment-unit .payment-card.type16 {background-color:#b7a997;}
.apay_card .payment-unit .payment-card.type16 .icon {display:block; width:54px; height:17px; background:url('../images/icon_card-16.png') no-repeat 0 0 / 100%;}
/* 기업은행 */ 
.apay_card .payment-unit .payment-card.type17 {background-color:#014c9d;}
.apay_card .payment-unit .payment-card.type17 .icon {display:block; width:34px; height:33px; background:url('../images/icon_card-17.png') no-repeat 0 0 / 100%;}
/* SC제일은행 */ 
.apay_card .payment-unit .payment-card.type18 {background-color:#525355;}
.apay_card .payment-unit .payment-card.type18 .icon {display:block; width:23px; height:36px; background:url('../images/icon_card-18.png') no-repeat 0 0 / 100%;}
/* 대구은행 */ 
.apay_card .payment-unit .payment-card.type19 {background-color:#5cafe5;}
.apay_card .payment-unit .payment-card.type19 .icon {display:block; width:46px; height:30px; background:url('../images/icon_card-19.png') no-repeat 0 0 / 100%;}
/* 산림조합 */ 
.apay_card .payment-unit .payment-card.type20 {background-color:#218679;}
.apay_card .payment-unit .payment-card.type20 .icon {display:block; width:42px; height:27px; background:url('../images/icon_card-20.png') no-repeat 0 0 / 100%;}
/* 토스뱅크 */ 
.apay_card .payment-unit .payment-card.type21 {background-color:#0064ff;}
.apay_card .payment-unit .payment-card.type21 .icon {display:block; width:32px; height:28px; background:url('../images/icon_card-21.png') no-repeat 0 0 / 100%;}
/* BC카드 */ 
.apay_card .payment-unit .payment-card.type22 {background-color:#e83e45;}
.apay_card .payment-unit .payment-card.type22 .icon {display:block; width:32px; height:32px; background:url('../images/icon_card-22.png') no-repeat 0 0 / 100%;}
/* 현대카드 */ 
.apay_card .payment-unit .payment-card.type23 {background-color:#000000;}
.apay_card .payment-unit .payment-card.type23 .icon {display:block; width:92px; height:20px; background:url('../images/icon_card-23.png') no-repeat 0 0 / 100%;}
/* 롯데카드 */ 
.apay_card .payment-unit .payment-card.type24 {background-color:#3d3934;}
.apay_card .payment-unit .payment-card.type24 .icon {display:block; width:48px; height:48px; background:url('../images/icon_card-24.png') no-repeat 0 0 / 100%;}
/* 삼성카드 */
.apay_card .payment-unit .payment-card.type25 {background-color:#0c4da1;}
.apay_card .payment-unit .payment-card.type25 .icon {display:block; width:102px; height:24px; background:url('../images/icon_card-25.png') no-repeat 0 0 / 100%;}

/* popup */
.layer_section {opacity:0; visibility:hidden; transition:.2s; position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, .75); z-index:9001;}
.layer_section .layer_section-container {transition:.4s; position:absolute; left:50%; top:50%; width:calc(100% - 32px); transform:translate(-50%, -50%); border-radius:16px; overflow:hidden;}
.layer_section .layer_section-container .layer-content {overflow-y:auto; max-height:calc(100vh - 10rem); padding:55px 20px 47px; background:#fff; text-align:center;}
.layer_section .layer_section-container .layer-content .txt {color:#333; font-size:16px; font-weight:normal; line-height:26px; letter-spacing:-0.8px;}

.layer_section.showing {visibility:visible; opacity:1;}
.layer_section.showing .layer_section-container {top:50%; opacity:1;}

.layer_section .align-box.size-auto {display:flex; border-radius:0 0 16px 16px; overflow:hidden;}
.layer_section .align-box.size-auto button {flex:1 !important; width:100%; height:52px; text-align:center;}
.layer_section .align-box.size-auto button.btn-modal_close {color:#fff; font-size:16px; font-weight:bold; background:#002f5f;}

.layer-area {opacity: 0; visibility:hidden; transition:.2s; position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, .75); z-index:9001;}
.layer-area.showing {opacity:1; visibility:visible;}
.layer-area .layer-area_container {transition:.4s; position:absolute; left:0; right:0; top:0; bottom:0; width:100%; height:100%; transform:translate(0, 0); border-radius:0; background-color:#fff; overflow:visible;}
.layer-prd_search_top {position:relative; background:#fff; height:auto; padding-bottom:4px;}
.layer-prd_search_top .pop_head {position:relative; height:60px; border-bottom:1px solid #ccc;}
.layer-prd_search_top .pop_head h2.tax {display:inline-block; position:absolute; width:100%; text-align:center; font-size:18px; line-height:59px; padding-left:0px; letter-spacing:-0.65px; margin:0; padding:0; top:0; color:#111; font-weight:600;}
.layer-prd_search_top .btn_close {position:absolute; right:18px; top:50%; transform:translateY(-50%); display:inline-block; width:19px; height:19px; background-color:transparent;}
.layer-prd_search_top .btn_close .sp_ic {display:inline-block; width:19px; height:19px; text-indent:-9999px; background:url(../images/btn_hd_close.png) no-repeat left top; background-size:100% auto;}
.address_change .layer-area_content2 {position:relative; height:calc(100% - 170px - 55px); width:100%; padding:0; background:#fff; overflow-y:scroll; overflow-x:hidden;}
.address_change.showing .layer-area_container.with_pop_head.shipping_delivery_st02 .layer-area_content2 {margin-bottom:55px; padding-bottom:0; height:calc(100% - 120px);}
.layer-area_content2 .address_mobile {margin:0 0 20px 0; width:calc(100% - 23px); position:inherit; right:20px; left:20px; padding-right:20px; padding-top:12px;}
.pop_head_sotit {padding-top:30px; margin-bottom:20px;}
.pop_head_sotit button {width:100%; background-color:#fff; padding:10px 0; font-size:14px !important; color:#567bf3; font-weight:600 !important; text-align:center; border-radius:2px; border:1px solid #d7d7d7;}

.address_mobile .new-payment.gift_order.renew .address_btn-group {display:flex; width:100%;}
.address_mobile .address_btn-group button {position:relative; padding:0; padding-left:22px; color:#333; font-size:14px; font-weight:700; border:1px solid #dadada; border-radius:40px; line-height:50px; letter-spacing:-.7px;}
.address_mobile .address_btn-group .address_search.collapsed {color:#333; background-color:#fff;}
.address_mobile .address_search_inbox {margin:17px auto 30px; border-bottom:1px solid #666; line-height:46px;}
.address_mobile .address_search_inbox .address_search_inbox_inner {border-bottom:1px solid #666;}
.address_mobile .applicants-panel-in {display:inline-block; width:calc(100% - 88px);}
.address_mobile .address_search_inbox .input-group {display:flex; justify-content:space-between; align-items:center;}
.address_mobile .address_search_inbox input {padding:0; width:calc(100% - 56px); height:inherit; font-size:16px; color:#333; border:none;}
.address_mobile .address_search_inbox .btn.btn-link {margin-right:14px; padding:0; width:42px; height:42px; background:url(../images/ico_search_2.png) 50% 50% no-repeat; background-size:22px auto; border:none; text-indent:-9999px; cursor:pointer;}
.address_mobile .search-results-close {display:inline-block; position:relative; top:auto; right:auto; margin-left:28px; padding:0; width:56px; height:auto; border:1px solid #d7d7d7; border-radius:2px; font-size:12px !important; font-weight:500 !important; color:#333 !important; line-height:24px; text-indent:inherit; background:none; vertical-align:2px;}
.address_mobile .search-results-close:before {content:''; position:absolute; top:6px; right:84px; width:1px; height:11px; background:#d7d7d7;}
.address_mobile .address-tit {font-size:16px; font-weight:500; letter-spacing:-1px; margin-bottom:10px; margin-top:0; overflow:hidden;}
.address_mobile .address-tit .address-name01 label {color:#111; font-size:16px; font-weight:600; float:left;}

.cont_box02 {margin-top:8px; padding:16px; border:2px solid #567bf3; z-index:10;}
.cont_box02 .address-type01,
.cont_box03 .address-type01 {color:#567bf3; font-size:10px; border:1px solid #567bf3; border-radius:20px; display:inline-block; padding:1px 8px 0px; vertical-align:middle; margin-left:5px; margin-bottom:5px;}
.cont_box02:after,
.cont_box03:after {clear:both; content:""; display:block;}
.cont_box03 {position:relative; margin-top:8px; top:-1px; padding:16px; border:1px solid #d7d7d7; background-color:#f4f4f4;}

.detail-content.pop_address {width:100%; font-size:13px; color:#333; font-weight:500;}
.detail-content .address_info_txt {color:#333; letter-spacing:-0.65px;}
.detail-content .address_info_txt.mgt20 {margin-top:20px;}

.withTooltip {position:relative; line-height:20px;}
.withTooltip .sstit {display:inline-block; margin:5px 0; line-height:20px; text-transform:initial;}
.withTooltip .tooltip-content ul {margin-bottom:0;}
.withTooltip .tooltip-content ul li {position:relative; font-size:12px; color:#666 !important; line-height:18px; font-weight:400; margin-bottom:0; word-break:keep-all;}
.toolTip-wrapper {display:inline-block; position:static; vertical-align:middle; width:18px; height:18px; margin:0 0 2px 3px; vertical-align:middle;}
.toolTip-wrapper .btn-tooltip {position:relative; width:18px; height:18px; background:url(../images/ico_tooltip.png) 50% 50% no-repeat; background-size:16px auto; margin:0; overflow:visible; vertical-align:text-top; z-index:100;}
.toolTip-wrapper button > span {position:absolute; top:0; left:0;}
.toolTip-wrapper.open button:after {content:""; position:absolute; left:9px; top:18px; width:21px; height:10px; background:url(../images/ico_tooltip_arrow.png) no-repeat left top; background-size:10px auto; background-color:transparent; border-radius:16px; margin-left:-5px; z-index:100;}/* 20220914 수정 */
.toolTip-wrapper.type-mob-full .tipCont-wrapper {position:absolute; left:0; top:21px;}/* 20220914 수정 */
.toolTip-wrapper .tooltip-content {display:none; width:calc(100vw - 444px) !important; min-width:auto !important; max-width:484px; position:absolute; left:0; top:34px; padding:15px; background-color:#fff; box-shadow:0 2px 30px 0 rgb(0 0 0 / 20%); border:1px solid #666; border-radius:8px; line-height:22px; z-index:10; margin-left:0; font-weight:normal;}
.toolTip-wrapper.type-mob-full.toolTip-type02 .tipCont-wrapper .tooltip-content {top:9px !important; width:100% !important; background-size:16px auto;}
.toolTip-wrapper .tooltip-content * {font-size:13px; color:#fff;}
.toolTip-wrapper.toolTip-type02 .tooltip-content li {padding:4px 0 0 10px; font-style:normal; font-weight:normal; color:#666 !important; letter-spacing:-0.65px;}
.detail-content.pop_address .form_byte {position:relative; width:100%; float:right; text-align:right; color:#999; font-size:12px; line-height:18px; letter-spacing:-0.6px;}

.list-type5 {margin:0; padding:0 0 5px}
.list-type5 > li,
p.list-type5 {position:relative; padding:0 0 3px 10px; font-size:14px;}
.list-type5 > li:before,
p.list-type5:before {content:""; position:absolute; width:3px; height:3px; background:#56565a; left:0; top:9px;}

.layer-area_container .layer-area_bottom01 {overflow:hidden; position:absolute; bottom:0; width:100%; z-index:100;}
.layer-area_container .align-box.size-auto {position:relative; display:flex; justify-content:center; overflow:hidden;}
.layer-area_container .align-box.size-auto button {flex:1 !important; height:54px;}
.layer-area_container .align-box.size-auto .btn-modal_apply,
.layer-area_container .align-box.size-auto .btn-modal_close {background-color:#002f5f; font-size:16px; font-weight:bold; line-height:1.5; letter-spacing:-.8px; color:#fff;}
.layer-area_container .align-box.size-auto button.btn-modal_close.v2 {background-color:#fff; color:#002f5f; border-top:1px solid #002f5f;}

.layer-area_container dl.cash_tax {position:relative; margin-top:10px;}
.layer-area_container dl.cash_tax dt {padding:15px 0; border-bottom:1px solid #dedede; width:94%; margin-left:16px;}
.layer-area_container .new-payment dl.cash_tax dt {width:auto; margin:0 16px;}
.layer-area_container dl.cash_tax label,
.layer-area_container dl.cash_tax label span {font-size:16px !important; color:#111 !important; font-weight:600 !important; letter-spacing:-0.65px;}
.layer-area_container dl.cash_tax dd {position:relative; top:-1px; padding:15px 35px; background-color:#f4f4f4;}
.layer-area_container dl.cash_tax dd:after {clear:both; content:""; display:block;}
.layer-area_container dl.cash_tax dd .taxbill {padding-bottom:4px; border-bottom:1px dashed #dedede;}
.layer-area_container dl.cash_tax dd .taxbill .tab-area-out {margin-bottom:10px;}
.layer-area_container dl.cash_tax dd .tab-area.with50 {display:table; width:100%; max-width:600px;}
.layer-area_container dl.cash_tax dd .tab-area.with50 .tab-head {display:table-cell; width:50%;}
.layer-area_container dl.cash_tax label.subtax {font-size:14px !important; color:#333 !important; font-weight:500 !important;}
.layer-area_container dl.cash_tax .mgt10 {margin-top:10px !important;}

html.scroll-off,
body.scroll-off {height:auto; overflow:hidden;}

.confirm-box {}
.confirm-box .confirm-box-message {position:relative; color:#002f5f; font-size:24px; font-weight:700; letter-spacing:-1.2px; text-align:center; padding-top:80px; margin-top:56px; margin-bottom:0;}

.box_txt-reason {margin-top:8px; text-align:Center; line-height:20px; letter-spacing:-.7px;}
.box_txt-reason.box_txt-reason-blue {color:#567bf3; font-size:12px; font-weight:normal; margin-bottom:28px;}

.sp_order {position:absolute; left:50%; top:0; width:64px; height:64px; margin:0 0 0 -32px; display:inline-block; background:url(../images/sp_order.png) 0 -143px no-repeat; background-size:400px auto;}

.cart_product-list {}
.cart_product-list .shipping-delivery-ship {padding-top:15px;}
.cart_product-list .shipping-delivery-shipping-header {color:#55565a; font-size:18px; font-weight:normal; letter-spacing:-1px; border-bottom:1px solid #646468; margin:20px 0 0; padding:0;}
.cart_product-list .shipping-delivery-shipping-header .tit {display:inline-block; color:#333; font-size:18px; line-height:29px; padding-bottom:12px;}

.info_list {}
.info_list .info_list-row {display:flex; border-bottom:1px solid #e3e3e3;}
.info_list .info_list-row .info_item-item {color:#000; font-size:14px; padding:18px 0;}
.info_list .info_list-row .info_item-item:first-child {min-width:140px; color:#002f5f; font-weight:700;}
.info_list .info_list-row .info_item-item:last-child {flex:1; margin-top:1px;}
.info_list .info_list-row .info_item-item .info_item-txt {display:block; word-break:break-all;}
.info_list .info_list-row .info_item-item .info_item-txt:not(:last-child) {margin-bottom:5px;}

.info_description {margin-top:15px; font-size:0;}
.info_description .info_description-item {color:#55565a; font-size:13px; margin-top:4px;}
.info_description .info_description-item .asterisk {display:inline-block; color:#808285; font-size:13px; font-weight:normal; margin-right:3px; vertical-align:-2px;}
.info_description .info_description-item .pot-basic {color:#0075a4; font-size:13px; letter-spacing:-.3px;}
.info_description .info_description-item .pot-basic > a {color:#0075a4; cursor:pointer;}

.cart_product-floating {margin:20px 0;}
.box_cart-option {position:relative; border:1px solid #d8d8d8; border-top:none; background:#fff;}
.box_cart-option .txt_order-title {height:36px; line-height:36px; font-size:13px; color:#002f5f; font-weight:normal; letter-spacing:-.6px; word-break:keep-all; border-top:1px solid #d8d8d8; background-color:#f4f4f4; padding:0 10px; margin:0;}
.box_cart-option .box_cart-info {padding:0 17px 0 19px; border-top:1px solid #d8d8d8;}
.box_cart-option .box_cart-info .box_row-group {padding-top:3px;}
.box_cart-option .box_cart-info .box_row-group .box_row-info {overflow:hidden;}
.box_cart-option .box_cart-info .box_row-group .box_row-info:after {clear:both; content:""; display:block;}
.box_cart-option .box_cart-info .box_row-group .box_row-info p {color:#55565a; font-size:14px; font-weight:normal; margin-bottom:0;}
.box_cart-option .box_cart-info .box_row-group .box_row-info .txt_total-info.discount {color:#567bf3;}

.box_cart-option .box_cart-info .box_row-info {overflow:hidden;}
.box_cart-option .box_cart-info .box_row-info.box_price {padding:9px 0 8px; border-top:1px solid #d8d8d8;}
.box_cart-option .box_cart-info .box_row-info.box_price .txt_total-info {color:#002f5f; font-size:18px; font-weight:bold; letter-spacing:-.9px;}
.box_cart-option .box_cart-info .box_row-info.box_total {padding:2px 0; border-top:1px solid #d8d8d8;}

.box_cart-option .box_cart-info [class^="txt_total-"] {font-size:14px; line-height:28px;}
.box_cart-option .box_cart-info .txt_total-title {float:left; position:relative; word-break:keep-all;}
.box_cart-option .box_cart-info .txt_total-info {overflow:hidden; text-align:right;}
.box_cart-option .box_cart-info .box_row-info .txt_total-title,
.box_cart-option .box_cart-info .box_row-info .txt_total-info {color:#002f5f; font-size:14px; font-weight:bold; letter-spacing:-.7px;}

.order_prd_list {margin:0 -15px;}
.order_prd_list .order_prd_list--item {border-top:6px solid #f9f9f9; padding:14px 15px 18px;}
.order_prd_list .order_prd_list--item .prd_item_title {margin-bottom:12px;}
.order_prd_list .order_prd_list--item .prd_item_title .prd_name {display:block; color:#333; font-size:15px; font-weight:bold; letter-spacing:-0.38px; line-height:21px;}
.order_prd_list .order_prd_list--item .prd_item_info {background:#f4f4f4; padding:12px 20px;}
.order_prd_list .order_prd_list--item .prd_item_info .prd_item_detail {display:flex; align-items:center; justify-content:space-between; margin-bottom:5px;}
.order_prd_list .order_prd_list--item .prd_item_info .prd_item_detail .detail_title {color:#999; font-size:13px; font-weight:normal; letter-spacing:-0.33px; line-height:21px;}
.order_prd_list .order_prd_list--item .prd_item_info .prd_item_detail .detail_info {color:#999; font-size:13px; font-weight:normal; letter-spacing:-0.33px; line-height:21px;}
.order_prd_list .order_prd_list--item .prd_item_info .prd_item_detail .detail_info .detail_info_num {font-size:14px; letter-spacing:-0.35px;}
.order_prd_list .order_prd_list--item .prd_item_info .prd_item_detail.price .detail_title {color:#333; font-weight:bold;}
.order_prd_list .order_prd_list--item .prd_item_info .prd_item_detail.price .detail_info {color:#333; font-weight:bold;}
.order_prd_list .order_prd_list--item .prd_item_info .prd_item_detail.price .detail_info .detail_info_num {color:#333; font-size:16px; font-weight:bold; letter-spacing:-0.4px;}

/* quick */
#quick .quick-links {position:relative;}
#quick .qlink-left-box {position:relative;}
#quick .qlink-left-box > li {display:inline-block; width:100%; font-size:13.5px; font-weight:normal; line-height:21px; letter-spacing:-0.05em; word-break:keep-all; background:#f5f5f5; border-bottom:1px solid rgba(218, 218, 218, .8);}
#quick .qlink-left-box > li .quick-links-header {position:relative; color:#465c71; font-size:14px; font-weight:normal; letter-spacing:-0.8px; line-height:21px; word-break:keep-all; padding:5px 15px 4px 30px;}
#quick .qlink-left-box > li .quick-links-header:before {content:''; width:8px; height:16px; background:url(../images/icon100.png) no-repeat; background-size:100px auto; background-position:0 -150px; padding:0; font-family:inherit; font-size:inherit; position:absolute; left:18px; top:7px;}
#quick .qlink-left-box > li .quick-links-header.akl-foot {padding-left:18px;}
#quick .qlink-left-box > li .quick-links-header.akl-foot:before {display:none;}
#quick .qlink-left-box > li .quick-links-header a {position:relative; display:block; color:#456c71; font-size:14px; font-weight:normal;}
#quick .qlink-left-box > li.switcher .quick-links-header:before {background-position:-50px -150px;}
#quick .qlink-left-box .quick-links-item > ul {padding:0; margin:0; margin-left:20px;}
#quick .qlink-left-box .quick-links-item > ul.collapse {display:none; margin-bottom:10px;}
#quick .qlink-left-box .quick-links-item > ul > li {display:block; padding:2px 0 0 10px; margin:0;}
#quick .qlink-left-box .quick-links-item > ul > li > a {color:#888; font-size:12px; font-weight:normal;}
#quick .qlink-left-box .quick-links-item.switcher > ul.collapse {display:block;}

#quick .quick-links-misc {padding:24px 26px 19px 26px; background:#fff; border-bottom:1px solid #d7d7d7;}
#quick .quick-links-misc .quick-links-sns {position:relative; margin:0; padding:0;}

#quick .quick-links-title {color:#55565a; text-align:left; font-size:16px; font-weight:normal; line-height:2; letter-spacing:-1px; margin:0; padding:3px 0 14px 0;}
#quick .foot-social-icon {font-size:0; position:absolute; right:0; top:0; width:auto; text-align:left;}
#quick .foot-social-icon a {position:relative; display:inline-block; width:36px; height:36px; margin:0; padding:0; border-radius:50%; background:url(../images/icon100.png) no-repeat; background-size:100px auto;}
#quick .foot-social-icon a:last-child {margin:0 0 0 10px;}
#quick .foot-social-icon .fbook {background-position:0 -200px;}
#quick .foot-social-icon .istar {background-position:-50px -200px;}

#quick .footerShotcut {position:relative; display:block; z-index:200; width:100%;}
#quick .footerShotcut > div {position:relative; width:100%; margin:0;}
#quick .footerShotcut .form-control {width:100%; height:40px; color:#002f5f; font-size:16px; font-weight:normal; padding:0 30px 0 15px; text-align:left; vertical-align:middle; border:1px solid #dadada; border-radius:0; background:#fff url(../images/selector-arrow.png) right center no-repeat; background-size:18px auto; box-shadow:0 0 0 rgb(0 0 0 / 8%) inset;}

/* ScrollTop */
.scrollTopWrapper {position:fixed; right:22px; bottom:140px; z-index:300; -webkit-transition:bottom .2s ease-out; transition:bottom .2s ease-out;}
.scrollTopWrapper .toTop {overflow:hidden; width:40px; height:40px; text-indent:-9999px; background:url(../images/btn_scroll_top.png) 0 0 no-repeat; background-size:40px auto; border:1px solid #002f5f; padding:0; margin-bottom:18px;}

/* 20220914 css 추가 */
table {width:100%; border-collapse:separate; border-spacing:0; table-layout:fixed;}

.cart_agree_conts {}
.cart_agree_conts .cart_agree {position:relative;}
.cart_agree_conts .cart_agree:after {clear:both; content:""; display:block;}
.cart_agree_conts .cart_agree .agree_txt {display:inline-block;}
.cart_agree_conts .cart_agree .btn_view_agree {float:right; margin-top:5px;}
.cart_agree_conts .cart_agree .btn_view_agree .pull-right.icon-arr {display:block; color:#567bf3; font-size:12px;}
.cart_agree_conts .cart_agree .btn_view_agree .pull-right.icon-arr:after {content:""; position:relative; top:0; display:inline-block; width:6px; height:6px; border-bottom:1px solid #567bf3; border-right:1px solid #567bf3; transform:rotate(-135deg); -webkit-transform:rotate(-135deg); vertical-align:middle; margin-left:5px;}
.cart_agree_conts .cart_agree .btn_view_agree.collapsed .pull-right.icon-arr:after {transform:rotate(45deg); -webkit-transform:rotate(45deg); top:-3px;}

.cart_agree_conts .cart_agree [type=checkbox] {position:absolute; left:-9999px;}
.cart_agree_conts .cart_agree [type=checkbox]+label {position:relative; display:inline-block; color:#333; font-size:14px; font-weight:normal; letter-spacing:-0.7px; line-height:20px; padding-left:28px; margin:8px 0; text-align:left; vertical-align:top;}
.cart_agree_conts .cart_agree [type=checkbox]:not(:checked)+label::before,
.cart_agree_conts .cart_agree [type=checkbox]:not(:checked)+label::after,
.cart_agree_conts .cart_agree [type=checkbox]:checked+label::before,
.cart_agree_conts .cart_agree [type=checkbox]:checked+label::after {content:""; position:absolute; left:0; top:0; width:20px; height:20px;}
.cart_agree_conts .cart_agree [type=checkbox]:not(:checked)+label::before {border:1px solid #dadada; border-radius:2px; background:#fff;}
.cart_agree_conts .cart_agree [type=checkbox]:not(:checked)+label::after {transition:all .2s ease 0s; transform:scale(0); opacity:0; background:url(../images/checkbox_check.png) 0 0/contain no-repeat;}
.cart_agree_conts .cart_agree [type=checkbox]:checked+label::before {border-color:#567bf3; border-radius:2px; background:#567bf3;}
.cart_agree_conts .cart_agree [type=checkbox]:checked+label::after {background:url(../images/btn_one_checked.png) 50% 50% no-repeat; background-size:12px auto;}

.cart_agree_conts .cart_agree .applicants-panel {border-top:1px solid #d7d7d7; background:#f4f4f4; font-size:12px; width:100%; margin-top:10px;}
.cart_agree_conts .cart_agree .applicants-panel .applicants-panel-in {padding:10px 15px;}
.cart_agree_conts .cart_agree .applicants-panel .applicants-panel-in .cart_agree0 {display:flex; align-items:center;}
.cart_agree_conts .cart_agree .applicants-panel .applicants-panel-in .cart_agree0 .title {float:initial; margin:0; margin-left:auto;}
.cart_agree_conts .cart_agree .applicants-panel [type=checkbox]+label {font-size:12px; padding-left:22px; margin:5px 0;}
.cart_agree_conts .cart_agree .applicants-panel [type=checkbox]+label::before,
.cart_agree_conts .cart_agree .applicants-panel [type=checkbox]+label::after {width:16px; height:16px;}
.cart_agree_conts .cart_agree .applicants-panel a.title {float:right; text-decoration:underline; margin:8px 0; color:#567bf3;}

.cart_agree_conts .cart_agree .all_agree {display:flex; align-items:center;}
.cart_agree_conts .cart_agree .all_agree .btn_view_agree {margin:0; margin-left:auto;}

.cart_agree_conts .cart_agree .toss_agree_box {padding-top:8px;}
.cart_agree_conts .cart_agree .toss_agree_box .title {font-size:12px; color:#567bf3; text-decoration:underline; margin-left:auto;}
.cart_agree_conts .cart_agree .applicants-panel + .toss_agree_box {margin-top:0 !important;}
.cart_agree_conts .cart_agree .applicants-panel.collapse + .toss_agree_box {border-top:1px solid #d7d7d7; margin-top:8px;}
.cart_agree_conts .cart_agree .applicants-panel + .toss_agree_box .toss_agree_box_inner {display:flex; align-items:center;}

.cart_insurance_area {display:block; text-align:right; margin:5px 0;}
.cart_insurance_area .sstit {color:#666; font-size:12px; font-weight:normal; margin:0;}
.cart_insurance_area .toolTip-wrapper {margin-top:-5px;}
.cart_insurance_area .toolTip-wrapper .tooltip-content .list-type5 li {padding:0;}
.cart_insurance_area .toolTip-wrapper .tooltip-content .list-type5 li::before {background:none;}
.cart_insurance_area .toolTip-wrapper .tooltip-content a.bt-akl-white {float:right; display:inline-block; color:#666; font-size:11px; font-weight:normal; padding:0 8px; border:1px solid #ccc; text-align:center;}
.cart_insurance_area .toolTip-wrapper .tipCont-wrapper {max-width:calc(100% + 8px) !important; text-align:left;}
.cart_insurance_area .toolTip-wrapper .tipCont-wrapper .list-type5 > li {word-break:break-all;}
.cart_insurance_area .toolTip-wrapper.open button:after {top:-12px; left:-2px; transform:rotate(180deg);}
.cart_insurance_area .toolTip-wrapper.type-mob-full.toolTip-type02 .tipCont-wrapper .tooltip-content {top:initial !important; bottom:26px;}

.footer_fixed.inherit {width:calc(100% - 32px); bottom:35px;}

.layer_section .layer_section-container .layer-header {background:#fff; position:relative; z-index:2; padding:12px 20px; border-bottom:1px solid #ccc;}
.layer_section .layer_section-container .layer-header .header-title {color:#111; font-size:24px; font-weight:bold;}

.layer_section .layer_section-container .layer-content .business_tbData01 {width:100%; margin-top:10px; border-top:1px solid #111; border-bottom:1px solid #111; font-size:12px;}
.layer_section .layer_section-container .layer-content .business_tbData01 tr {height:40px; border-top:1px solid #dadada; border-bottom:1px solid #e5e5e5; background:#f4f4f4;}
.layer_section .layer_section-container .layer-content .business_tbData01 tr,
.layer_section .layer_section-container .layer-content .business_tbData01 th,
.layer_section .layer_section-container .layer-content .business_tbData01 td {font-size:12px; border-bottom:1px solid #d6d6d6; background:#fff;}
.layer_section .layer_section-container .layer-content .business_tbData01 th {padding:12px 5px 12px 0; text-align:center; background-color:#f9f9f9; border-right:1px solid #e5e5e5;}
.layer_section .layer_section-container .layer-content .business_tbData01 th:last-child {border-right:none;}
.layer_section .layer_section-container .layer-content .business_tbData01 td {color:#666; text-align:left; vertical-align:middle; padding:10px; border-right:1px solid #e5e5e5;}
.layer_section .layer_section-container .layer-content .business_tbData01 td:last-child {border-right:none;}

.layer_section .layer_section-container .layer-content .business_tbData {width:100%; border-top:1px solid #111;}
.layer_section .layer_section-container .layer-content .business_tbData th {width:23%; padding:12px 5px 12px 16px; vertical-align:middle; font-weight:600; font-size:12px; color:#333; background:#f4f4f4; text-align:left; border-bottom:1px solid #d6d6d6;}
.layer_section .layer_section-container .layer-content .business_tbData td {padding:12px 0 12px 16px; vertical-align:middle; font-size:12px; color:#333; border-bottom:1px solid #d6d6d6;}

.layer_section.type-b .layer_section-container {width:calc(100% - 20px);}
.layer_section.type-b .layer_section-container .layer-content {position:relative; max-height:calc(100vh - 250px); padding:30px 20px 20px; text-align:left;}
.layer_section.type-b .layer_section-container .layer-content .layer-sum {font-size:12px;}
.layer_section.type-b .layer_section-container .layer-content .busTxt {margin-top:30px; margin-bottom:10px; font-size:16px; color:#333; font-weight:700; line-height:1.5;}
.layer_section.type-b .layer_section-container .layer-content .busTxt:first-child {margin-top:0;}
.layer_section.type-b .layer_section-container .layer-content .layer-list {font-size:12px;}
.layer_section.type-b .layer_section-container .layer-content .layer-list > li {margin-top:10px;}
.layer_section.type-b .layer_section-container .layer-content .layer-list .layer-inner-list > li {position:relative; padding-left:8px; line-height:1.8;}
.layer_section.type-b .layer_section-container .layer-content .layer-list .layer-inner-list > li:before {position:absolute; content:""; top:10px; left:0; width:2px; height:2px; background:#999;}
.layer_section.type-b .layer_section-container .layer-content .person_txt {display:inline-block; margin-top:10px; color:#999; font-size:12px;}
.layer_section.type-b .layer_section-container .layer-content .person_txt01 {display:block; font-size:12px; margin-top:15px; color:#999; letter-spacing:-0.6px;}

.contents_mid .contents_mid_box.contents_mid_box-last {border:none; padding:0;}

@media(min-width: 1100px) {
	.cart_insurance_area .toolTip-wrapper .tipCont-wrapper,
    .cart_insurance_area .toolTip-wrapper.type-mob-full.toolTip-type02 .tipCont-wrapper .tooltip-content {left:initial; right:0;}
}

/* 20220922 배송지 팝업 css 수정 */
.shipping-address.cont_box02 .form_select-default {float:initial;}

/* 20221012 css 추가 */
.personal_comm {font-size:12px; line-height:20px; margin-top:10px;}
.form_select-default select + .form_input {display:none;}/* 20221017 수정 */
.form_select-default select + .form_input.on {display:block;}
.address_info_txt .toolTip-wrapper.type-mob-full .tipCont-wrapper {width:100% !important; max-width:100% !important;}
.layer-area .shipping-address .address-tit {display:flex;}
.layer-area .shipping-address .address-tit .address-type01 {min-width:60px; height:18px;}
.btn_wrap .btn_small:disabled {color:#bababa; background-color:#ededed; border:1px solid #d7d7d7;}
.detail-content.pop_address .form_byte {display:none;}
.detail-content.pop_address .form_byte.on {display:block;}

/* 20221017 css 추가 */
.layer-prd_search_top.cash_tax .form_select-default select + .form_input {display:block;}

/* 20221021 css 추가 */
@media(max-width: 320px) {
	.footer_fixed.inherit .btn_footer span.ft_order {font-size:15px;}
}