@font-face {
  font-family: 'RixSinHead';
  font-style: normal;
  font-weight: 200;
  src: url('RixSinHead_Light.eot');
  src: url('RixSinHead_Light.eot?#iefix') format('embedded-opentype'), url('RixSinHead_Light.woff') format('woff'),
    url('RixSinHead_Light.woff2') format('woff2');
}

@font-face {
  font-family: 'RixSinHead';
  font-style: normal;
  font-weight: 500;
  src: url('RixSinHead_Medium.eot');
  src: url('RixSinHead_Medium.eot?#iefix') format('embedded-opentype'), url('RixSinHead_Medium.woff') format('woff'),
    url('RixSinHead_Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'RixSinHead';
  font-style: normal;
  font-weight: 600;
  src: url('RixSinHead_Bold.eot');
  src: url('RixSinHead_Bold.eot?#iefix') format('embedded-opentype'), url('RixSinHead_Bold.woff') format('woff'),
    url('RixSinHead_Bold.woff2') format('woff2');
}
