//== etc

// intro 약관동의
.agree-intro {
  padding: 2rem 2.4rem 4rem;

  // agree-desc
  .agree-desc {
    padding-bottom: 0px;
    font-size: 13px;
  }

  // agreesummary
  .agreesummary {
    .text {
      margin-top: 30px;
      color: $dark-color;
      font-size: 1.3rem;
    }
  }
  .chk-area {
    display: table;

    & + label {
      margin-top: 2rem;
    }
    .chk-text {
      display: table-cell;
      width: 3rem;
      padding-top: 1.2rem;
      color: $dark-color;
      font-size: 1.2rem;
      vertical-align: top;
    }
    .chk-list {
      display: table-cell;
      padding-left: 1rem;
      vertical-align: top;

      li {
        display: inline-block;
        margin-right: 2rem;

        label {
          margin-top: 1rem;

          input[type='checkbox'] + span {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  .gray-text {
    margin-top: 2rem;
    color: $gray-color;
    font-size: 1.1rem;
  }
}

// 약관상세
.agree-detail {
  padding: 1rem 2.4rem 4rem;
}

// 시스템 점검
.system-check {
  .inner {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -5rem;
    padding: 0 2.4rem;

    .text {
      padding-top: 8.5rem;
      background: url('/resource/images/common/icon_error.png') no-repeat 50% 0/7rem;
      color: $dark-color;
      font-size: 1.8rem;
      line-height: 26px;
      text-align: center;
    }
  }
}

// faq
.faq {
  padding: 1rem 2.4rem 4rem;

  .lnb {
    border-radius: 4px;
    box-shadow: #dfe6f2 0px 1px 4px;
    overflow: hidden;

    button {
      display: inline-block;
      width: 33.333%;
      height: 4rem;
      color: $gray-color;
      font-size: 1.2rem;
      border-bottom: 1px solid #ebeef3;
      border-right: 1px solid #ebeef3;

      &.active {
        color: $blue-color;
        font-weight: 600;
      }
      &:nth-of-type(n + 4) {
        border-bottom: none;
      }
      &:nth-of-type(3n) {
        border-right: none;
      }
    }
  }
  .faqcont {
    margin-top: 1.5rem;
    border-top: 1px solid #dde3ec;

    .title {
      display: flex;
      background: $lightblue-color;
      text-align: center;
      border-bottom: 1px solid #e2e2e2;

      span {
        width: calc(100% - 4rem);
        padding: 1.3rem 0 1.2rem;
        color: $dark-color;
        font-size: 1.2rem;

        &.num {
          width: 4rem;
          padding-right: 0.6rem;
          text-align: center;
        }
      }
    }
    .list {
      li {
        border-bottom: 1px solid #e2e2e2;

        button {
          display: table;
          width: 100%;
          padding: 1.2rem 0 1.1rem;
          color: $dark-color;
          font-size: 1.2rem;
          overflow: hidden;

          .num {
            display: table-cell;
            width: 4rem;
            padding-right: 1rem;
            text-align: center;
          }
          p {
            display: table-cell;
            text-align: left;
          }
        }
        .content {
          display: none;
          padding: 1rem 5.7rem 1rem 1rem;
          background: $lightblue-color;
          color: $darkgray-color;
          font-size: 1.1rem;
          line-height: 16px;
        }
        &.active {
          border-color: #dde3ec;

          .content {
            display: block;
          }
        }
        &.nodata {
          padding: 3rem 0;
          color: $darkgray-color;
          font-size: 1.1rem;
          text-align: center;
        }
      }
    }
    .paging {
      margin-top: 1.8rem;
      text-align: center;

      button {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        color: $gray-color;
        font-size: 1.1rem;
        text-align: center;
        border-radius: 100%;

        &.active {
          background: $blue-color;
          color: $white-color;
        }
        &.prev {
          margin-right: 0.5rem;
          background: url('/resource/images/common/paging_left.svg') no-repeat 50% 50%/4rem;
        }
        &.prev.active {
          background-image: url('/resource/images/common/paging_left_active.svg');
        }
        &.next {
          margin-left: 0.5rem;
          background: url('/resource/images/common/paging_right.svg') no-repeat 50% 50%/4rem;
        }
        &.next.active {
          background-image: url('/resource/images/common/paging_right_active.svg');
        }
      }
    }
  }
}

/* width:768~ */
@include mq('md') {
  // intro 약관동의
  .agree-intro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px 100px;

    // agree-desc
    .agree-desc {
      padding-bottom: 30px;
      font-size: 20px;
      text-align: left;
    }

    // agreesummary
    .agreesummary {
      .text {
        margin-top: 60px;
        font-size: 20px;
        text-align: left;
      }
    }
    .chk-area {
      & + label {
        margin-top: 15px;
      }
      .chk-text {
        width: 40px;
        padding-top: 15px;
        font-size: 16px;
      }
      .chk-list {
        li {
          margin-right: 30px;

          label {
            margin-top: 16px;

            input[type='checkbox'] + span {
              font-size: 16px;
            }
          }
        }
      }
    }
    .gray-text {
      color: #777;
      font-size: 14px;
      text-align: left;
    }
  }

  // 약관상세
  .agree-detail {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px 100px;
  }

  // 시스템 점검
  .system-check {
    max-width: 1200px;
    margin: 0 auto;
    padding: 180px 30px 100px;

    .inner {
      position: static;
      margin-top: 0;

      .text {
        padding-top: 160px;
        background-size: 13rem;
        font-size: 32px;
        line-height: 44px;
      }
    }
  }

  // faq
  .faq {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px 100px;

    .lnb {
      width: 900px;
      margin: 0 auto;
      border-radius: 6px;

      button {
        width: 180px;
        height: 56px;
        font-size: 17px;
        border-bottom: none;

        &:last-child {
          border-right: none;
        }
        &:nth-of-type(3) {
          border-right: 1px solid #ebeef3;
        }
      }
    }
    .faqcont {
      margin-top: 20px;

      .title {
        border-color: #e8e8e8;

        span {
          width: calc(100% - 130px);
          padding: 21px 0 18px;
          font-size: 16px;

          &.num {
            width: 130px;
            padding-right: 30px;
          }
        }
      }
      .list {
        li {
          border-color: #e8e8e8;

          button {
            padding: 21px 0 18px;
            font-size: 16px;

            .num {
              width: 130px;
              padding-right: 30px;
            }
          }
          .content {
            padding: 25px 40px;
            font-size: 15px;
            line-height: 24px;
          }
          &.nodata {
            padding: 60px 0;
            font-size: 15px;
          }
        }
      }
      .paging {
        margin-top: 30px;

        button {
          width: 40px;
          height: 40px;
          font-size: 14px;
          line-height: 42px;

          &.prev {
            margin-right: 10px;
            background-size: 70px;
          }
          &.next {
            margin-left: 10px;
            background-size: 70px;
          }
        }
      }
    }
  }
}
