//== main, 인트로, 콘텐츠이용안내, 공통 swiper

// main
.main {
  padding-bottom: 4rem;

  &-visual {
    position: relative;
    background: #eff5f5;
    overflow: hidden;

    &.open {
      .big {
        display: block;
        padding-bottom: 75px;
      }
      .small {
        display: none;
      }
      .btn-toggle {
        width: 3.6rem;
        margin-left: -1.8rem;
        transform: rotate(-180deg);

        .text {
          display: none;
        }
      }
    }
    .big {
      display: none;
      position: relative;
      text-align: center;

      .inner {
        padding: 3.5rem 4.6rem 33rem;
        background: url('/resource/images/views/mainvisual_bg.png') no-repeat 50% 97%/29.1rem;

        strong {
          color: $dark-color;
          font-size: 1.8rem;
          font-weight: 500;

          em {
            display: block;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
        p {
          margin-top: 0.5rem;
          color: $darkgray-color;
          font-size: 1rem;
          line-height: 1.4;
        }
        .patent-desc {
          display: block;
          position: absolute;
          bottom: 40px;
          left: 0;
          width: 100%;
          padding: 0 20px;
          color: $gray-color;
        }
      }
      .img {
        display: block;
        margin-top: 2rem;
        padding-right: 3rem;
      }
    }
    .small {
      display: block;

      .inner {
        padding: 2.5rem 2.4rem 3.7rem;
        text-align: center;

        strong {
          color: $dark-color;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4;

          em {
            display: block;
            font-weight: 600;
          }
        }
      }
    }
    .btn-toggle {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 9rem;
      height: 3.6rem;
      margin-left: -4.5rem;
      padding: 0 1rem;
      background: url('/resource/images/views/mainbanner_btn.png') no-repeat 95% 50%/3rem;
      color: #63827c;
      font-size: 1.1rem;
      text-align: left;
    }
  }
  &-member {
    margin-top: 2.5rem;
    padding: 0 2.4rem;

    .title-area {
      position: relative;

      .h2-tit {
        margin-bottom: 0.7rem;
        color: $dark-color;
        font-size: 1.8rem;
      }
      .count {
        margin-left: 0.5rem;
        color: #597dc5;
        font-size: 1.3rem;
      }
      .listfilter {
        position: absolute;
        bottom: -0.2rem;
        right: 0;

        .select {
          width: 5.5rem;
        }
      }
    }
    .list-area {
      margin-top: 1rem;

      li {
        margin-top: 1.5rem;
        box-shadow: #dfe6f2 0px 2px 10px;
        border-radius: 8px;

        &:first-child {
          margin-top: 0;
        }
        &.primary {
          .box {
            .img {
              background: #ebab9b;
              border: 1px solid #ef7b63;
              span {
                background: #ef7b63;
              }
            }
          }
        }
        &.sub {
          .box {
            .img {
              background: #95afe4;
              border: 1px solid #5982de;
              span {
                background: #5982de;
              }
            }
          }
        }
        &.rc {
          .box {
            .img {
              border: 1px solid #4dc290;
              span {
                background: #4dc290;
              }
            }
          }
        }
        &.addbox {
          box-shadow: none;

          .btn-add {
            display: block;
            padding: 1.5rem 3rem 1rem;
            text-align: center;
            border: 1px solid #d8d8d8;
            border-radius: 80px;

            &:hover {
              border-color: #608adf;
            }
            span {
              position: relative;
              color: $blue-color;
              font-size: 1.6rem;

              &:before {
                content: '';
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                margin-top: -0.3rem;
                margin-right: 0.5rem;
                background: url('/resource/images/views/main_btn_add.svg') no-repeat 0 0/100%;
                vertical-align: middle;
              }
            }
            p {
              margin-top: 0.5rem;
              color: $darkgray-color;
              font-size: 1rem;
              line-height: 1.5;
            }
          }
        }
        .box {
          position: relative;
          padding: 1.5rem 0;
          overflow: hidden;

          .img {
            float: left;
            position: relative;
            width: 4.7rem;
            height: 4.7rem;
            margin-left: 1.3rem;
            background: #eee;
            border-radius: 100%;

            img {
              width: 100%;
              height: 100%;
            }
            span {
              display: block;
              position: absolute;
              bottom: 0;
              right: -0.4rem;
              width: 1.6rem;
              height: 1.6rem;
              color: $white-color;
              font-size: 1rem;
              line-height: 1.6rem;
              text-align: center;
              border-radius: 100%;
            }
          }
          .info {
            display: inline-block;
            margin-left: 1.4rem;
            padding-top: 0.6rem;

            strong {
              display: block;
              margin-bottom: 0.2rem;
              color: $dark-color;
              font-size: 1.3rem;
            }
            .birth {
              color: $darkgray-color;
              font-size: 1.2rem;
            }
          }
          .btn-link {
            position: absolute;
            top: 1.4rem;
            right: 0;
            width: 4rem;
            height: 5rem;
            background: url('/resource/images/views/main_btn_member.png') no-repeat 50% 50%/0.6rem;
          }
        }
        .toggle {
          position: relative;
          background: $lightblue-color;
          overflow: hidden;

          & > p {
            padding: 1rem 1.5rem;
            color: $darkgray-color;
            font-size: 1.1rem;
          }
          &.open {
            .btn-toggle {
              transform: rotate(-180deg);
            }
            .toggle-cont {
              display: block;
            }
          }
          .color-black {
            margin-left: 0.5rem;
            color: $dark-color;
          }
          .state {
            display: inline-block;
            margin-right: 0.6rem;
            padding: 0.2rem 0.7rem;
            color: $white-color;
            font-size: 1rem;
            border-radius: 18px;

            &.blue {
              background: #749bf3;
            }
            &.yellow {
              background: #f9ab23;
            }
            &.green {
              background: #3dae7d;
            }
            &.purple {
              background: #837cdb;
            }
            &.gray {
              background: #777777;
            }
          }
          .btn-toggle {
            position: absolute;
            top: 0.9rem;
            right: 1.5rem;
            width: 2rem;
            height: 2rem;
            background: url('/resource/images/views/main_btn_toggle.svg') no-repeat 50% 50%/100%;
            transition: all 0.4s;
          }
          .toggle-cont {
            display: none;
            height: auto;
            min-height: unset;
            margin: 0 1.5rem;
            padding: 1rem 0;
            border-top: 1px solid rgba(216, 216, 216, 0.2);

            .text {
              color: $darkgray-color;
              font-size: 1rem;
              line-height: 1.5rem;
            }
            .btn {
              margin-top: 1rem;
            }
            .btn-area {
              display: flex;
              justify-content: space-between;
              margin: 1rem -0.3rem 0;

              .btn {
                width: 33.333%;
                margin: 0 0.3rem;
                font-size: 1.1rem;
                letter-spacing: -0.05rem;

                &.confirm {
                  background: #dceaff;
                  border-color: #cedeff;

                  &:before {
                    content: '';
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 0.4rem;
                    background: url('/resource/images/views/main_btn_confirm.svg') no-repeat 50% 50%/100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// intro
.intro {
  position: relative;
  padding: 4rem 0;
  background: #eef4f4;
  text-align: center;

  .visual {
    padding: 0 2.4rem;

    .logo {
      text-align: center;

      img {
        width: 12.5rem;
      }
    }
    .text {
      margin-top: 1rem;

      h1 {
        color: $dark-color;
        font-size: 1.8rem;

        em {
          display: block;
          margin-top: 0.3rem;
          font-size: 2.2rem;
          font-weight: 600;
        }
      }
    }
    .btn-area {
      max-width: 340px;
      margin: 3rem auto 0;

      .btn {
        display: grid;
      }
      span {
        display: block;
        font-size: 0.9rem;
        font-weight: 200;
      }
      .btn ~ .btn {
        margin-top: 0.7rem;
      }
    }
  }
  .img {
    margin-top: 2.4rem;

    .pc {
      display: none;
    }
  }
  .patent-desc {
    margin: -1.5rem 0 1rem;
    padding: 0 2.4rem;
    color: $gray-color;
    font-size: 0.9rem;
    text-align: left;
  }
  .video-area {
    position: relative;
    padding: 0 2.4rem;

    &:empty:before {
      content: '비디오 영역';
      display: block;
      width: 100%;
      height: 153px;
      background: #ddd;
      font-size: 15px;
      text-align: center;
      line-height: 150px;
    }
    .video-js {
      width: 100%;
      height: auto;
      margin: 0 auto;
      border: 6px solid #fff;
      border-radius: 4px;
      box-shadow: #e9e6dc 0px 2px 10px;
    }
    video {
      position: static;
    }
  }
}

// 공통 swiper
.swiper-area {
  max-width: 500px;
  margin: 0 auto;

  .swiper {
    border-radius: 8px;
    box-shadow: #dfe6f2 0px 2px 10px;

    .swiper-button-prev {
      left: 0;
      width: 2rem;
      height: 3rem;
      background-color: $white-color;
      color: $gray-color;
      opacity: 0.8;

      &:after {
        font-size: 15px;
      }
    }
    .swiper-button-next {
      right: 0;
      width: 2rem;
      height: 3rem;
      background-color: $white-color;
      color: $gray-color;
      opacity: 0.8;

      &:after {
        font-size: 15px;
      }
    }
    .swiper-button-disabled {
      opacity: 0.2;
    }
    .swiper-pagination {
      bottom: 0.3rem;

      .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        margin: 0 3px;
        vertical-align: middle;
      }
      .swiper-pagination-bullet-active {
        width: 6px;
        height: 6px;
        background: $blue-color;
      }
    }
  }
}

// 솔루션 이용안내
.introsolution {
  padding-bottom: 4rem;

  .content {
    padding: 6rem 2.4rem 0;

    h2 {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
      line-height: 1.4;
    }
  }
  .visual {
    padding: 2.8rem 2.4rem 4rem;
    background: #eff5f5;

    h1 {
      display: none;
    }
    h2 {
      margin-bottom: -0.2rem;
      color: #096a77;
      font-size: 2rem;
      line-height: 27px;
      text-align: center;

      em {
        display: block;
        position: relative;
        min-width: 10rem;
        min-height: 2.7rem;
        padding-bottom: 0.4rem;
        font-weight: 600;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 10rem;
          height: 0.8rem;
          margin-left: -5rem;
          background: #fff597;
        }
        &:after {
          content: '나만의 건강';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 1;
        }
      }
    }
    .text {
      padding: 0 1rem;
      color: $darkgray-color;
      font-size: 1.2rem;
      line-height: 17px;
      text-align: center;

      p {
        margin-top: 0.5rem;
      }
    }
    .summary-area {
      margin-top: 3rem;
      border-top: 1px solid #e1eeee;

      .summary {
        display: table;
        min-height: 6rem;
        margin-top: 3rem;

        &.item01 {
          color: #2cb194;
        }
        &.item02 {
          color: #eb8c39;
        }
        &.item03 {
          color: #937ab6;
        }
        .img {
          display: table-cell;
          vertical-align: middle;

          img {
            width: 6rem;
          }
        }
        .cont {
          display: table-cell;
          padding-left: 1.5rem;
          vertical-align: middle;
        }
        .head {
          font-size: 1.3rem;
        }
        .data {
          li {
            position: relative;
            margin-top: 0.2rem;
            padding-left: 0.5rem;
            color: $darkgray-color;
            font-size: 1.1rem;
            line-height: 15px;

            &:before {
              content: '';
              position: absolute;
              top: 0.5rem;
              left: 0;
              width: 0.2rem;
              height: 0.2rem;
              background: $darkgray-color;
            }
          }
        }
      }
    }
    .patent-desc {
      margin-top: 2rem;
      color: $gray-color;
      font-size: 0.9rem;
    }
    .video-area {
      position: relative;
      margin-top: 3rem;
      box-shadow: #c8d9d1 0px 0px 10px;

      &:empty:before {
        content: '비디오 영역';
        display: block;
        width: 100%;
        height: 153px;
        background: #ddd;
        font-size: 15px;
        text-align: center;
        line-height: 150px;
      }
      .video-js {
        width: 100%;
        height: auto;
        margin: 0 auto;
        border: 6px solid #fff;
        border-radius: 4px;
        box-shadow: #c8d9d1 0px 0px 10px;
      }
      video {
        position: static;
      }
    }
    .logo {
      margin-top: 3rem;
      text-align: center;

      img {
        width: 15rem;
      }
    }
  }
  .icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: calc(50% - 1rem);
      margin-bottom: 2rem;

      &:before {
        content: '';
        display: block;
        width: 6.5rem;
        height: 6.5rem;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      &.item01:before {
        background-image: url('/resource/images/views/solution_iconlist01.svg');
      }
      &.item02:before {
        background-image: url('/resource/images/views/solution_iconlist02.svg');
      }
      &.item03:before {
        background-image: url('/resource/images/views/solution_iconlist03.svg');
      }
      &.item04:before {
        background-image: url('/resource/images/views/solution_iconlist04.svg');
      }
      &.item05:before {
        background-image: url('/resource/images/views/solution_iconlist05.svg');
      }
      &.item06:before {
        background-image: url('/resource/images/views/solution_iconlist06.svg');
      }
      &.item07:before {
        background-image: url('/resource/images/views/solution_iconlist07.svg');
      }
      p {
        margin-top: 1rem;
        color: $dark-color;
        font-size: 1.2rem;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.06em;
      }
    }
  }
  .speech-bubble {
    padding-bottom: 2rem;

    li {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 5rem;
      padding: 1.5rem;
      border: 1px solid #dceaff;
      border-radius: 8px;
      box-shadow: #dfe6f2 0px 2px 10px;

      &:after {
        border-color: #fff transparent;
        border-style: solid;
        border-width: 20px 21px 0px 0;
        content: '';
        display: block;
        left: 43px;
        position: absolute;
        bottom: -19px;
        width: 0;
        z-index: 1;
      }
      &:before {
        border-color: #dceaff transparent;
        border-style: solid;
        border-width: 20px 22px 0px 0;
        content: '';
        display: block;
        left: 42px;
        position: absolute;
        bottom: -21px;
        width: 0;
        z-index: 0;
      }
      &:first-child {
        margin-top: 0;
      }
      &.left {
        img {
          margin-right: 1.5rem;
        }
      }
      &.right {
        &:after {
          border-width: 20px 0px 0px 21px;
          left: auto;
          right: 33px;
        }
        &:before {
          border-width: 20px 0px 0px 22px;
          left: auto;
          right: 32px;
        }
        img {
          margin-left: 1.5rem;
        }
      }
      img {
        display: inline-block;
        width: 6.6rem;
        background: #eff4fc;
        border-radius: 100%;
      }
      .cont {
        display: inline-block;

        blockquote {
          font-size: 1.2rem;
          line-height: 16px;
        }
        p {
          color: $darkgray-color;
          font-size: 1.1rem;
        }
      }
    }
  }
}

// 제품 소개
.introproduct {
  background: #eff4fc;

  h1 {
    display: none;
  }
  .tab {
    padding-top: 3rem;

    .tab-menu {
      margin: 0 2.4rem;
    }
    .tab-cont {
      margin-top: 3rem;
    }
  }
  .content {
    background: $white-color;

    .inner {
      padding: 6rem 2.4rem 0;

      h2 {
        margin-bottom: 2rem;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        line-height: 1.4;

        em {
          display: block;
          position: relative;
          height: 3.3rem;
          margin-bottom: 1rem;
          font-size: 2.4rem;
          font-weight: 600;

          &:before {
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -1.4rem;
            z-index: 1;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 0.2rem;
            left: 50%;
            width: 3.2rem;
            height: 0.8rem;
            margin-left: -1.6rem;
          }
          &.green {
            color: #2cb194;

            &:before {
              content: '01';
            }
            &:after {
              background: #eff5f5;
            }
          }
          &.blue {
            color: #608adf;

            &:before {
              content: '02';
            }
            &:after {
              background: #eff4fc;
            }
          }
          &.purple {
            color: #937ab6;

            &:before {
              content: '03';
            }
            &:after {
              background: #f0edf3;
            }
          }
        }
      }
    }
    .patent-desc {
      margin: 1rem 0 0;
      color: $gray-color;
      font-size: 0.9rem;
    }
  }
  .visual {
    .inner {
      padding: 0 2.4rem 4rem;

      strong {
        display: block;
        font-size: 1.8rem;
        text-align: center;
      }
      .desc {
        margin-top: 0.5rem;
        color: $darkgray-color;
        font-size: 1.2rem;
        line-height: 17px;
        text-align: center;
      }
      .img {
        display: block;
        margin: 2rem 0;
      }
      .itemlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 3rem;

        li {
          width: calc(50% - 0.6rem);
          margin-top: 2rem;

          img {
            border-radius: 8px;
          }
          p {
            margin-top: 1rem;
            color: $dark-color;
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }

      .type-desc {
        margin-top: 20px;
        text-align: left;
        color: $gray-color;
        font-size: 1.1rem;
        line-height: 1.4;
      }
    }
  }
  .inspection {
    text-align: center;

    & > div {
      position: relative;
      padding: 2rem;

      &.green {
        background: #eff5f5;
        border-radius: 100px;
      }
      &.blue {
        margin-top: 0.5rem;
        background: #eff4fc;
        border-radius: 100px;

        &:before {
          content: '';
          position: absolute;
          top: -1.7rem;
          left: 50%;
          width: 3rem;
          height: 3rem;
          margin-left: -1.5rem;
          background: url('/resource/images/views/product_addbtn.svg') no-repeat 0 0/100%;
          border-radius: 100%;
          box-shadow: #dfe6f2 0px 3px 6px;
        }
      }
      .head {
        font-size: 1.3rem;
      }
      .data {
        li {
          margin-top: 0.7rem;
          color: $darkgray-color;
          font-size: 1.1rem;
        }
      }
    }
  }
  .checklist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    background: #eff4fc;
    border-radius: 8px;

    li {
      display: flex;
      align-items: center;
      width: 50%;
      height: 6rem;
      padding: 1.5rem 1.5rem 1.5rem 4rem;
      background: url('/resource/images/views/product_check.svg') no-repeat 1rem 50%/2rem;
      font-size: 1.1rem;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;

      &:nth-of-type(2n) {
        border-right: 0;
      }
    }
  }
  .productmanage {
    max-width: 272px;
    margin: 0 auto;
    padding-bottom: 4rem;
    background: url('/resource/images/views/product_manage_bg.png') no-repeat 50% 0/100%;

    & > div {
      display: inline-block;
      width: 14.7rem;
      height: 14.7rem;
      padding: 5.2rem 2.5rem 0;
      text-align: center;
      vertical-align: middle;
      border-radius: 100%;

      &.item01 {
        background: url('/resource/images/views/product_manage01.svg') no-repeat 50% 1rem/3.6rem;
      }
      &.item02 {
        margin-left: -2.2rem;
        background: url('/resource/images/views/product_manage02.svg') no-repeat 50% 1.2rem/4.4rem;
      }
      strong {
        font-size: 1.2rem;
        line-height: 15px;
      }
      p {
        margin-top: 0.3rem;
        color: $darkgray-color;
        font-size: 1.1rem;
        line-height: 14px;
      }
    }
  }
}

//서비스 이용안내
.introservice {
  padding-bottom: 4rem;

  .content {
    padding: 6rem 2.4rem 0;

    h2 {
      margin-bottom: 2rem;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      line-height: 1.4;
    }
  }
  .visual {
    background: #f1eef5;

    .inner {
      margin: 0 auto;
      padding: 4rem 2.4rem;

      h1 {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
      }
      .logo {
        margin-top: 2rem;
        text-align: center;

        img {
          width: 15rem;
        }
      }
    }
  }
  .process {
    margin-top: 2rem;

    ul {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0.4rem;
        height: 100%;
        margin-left: -0.2rem;
        background: #e5dfec;
      }
      li {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        min-height: 10rem;
        margin-top: 2rem;
        padding: 2rem;
        background: $white-color;
        border-radius: 8px;
        z-index: 1;

        &.item02 {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &.item03 {
          margin-top: 0;
          border-radius: 0;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            width: calc(100% - 4rem);
            height: 1px;
            border-top: 1px solid #f2f1f5;
          }
        }
        &.item04 {
          margin-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            width: calc(100% - 4rem);
            height: 1px;
            border-top: 1px solid #f2f1f5;
          }
        }
        .img {
          width: 6rem;
        }
        p {
          padding-left: 1.5rem;
          font-size: 1.3rem;
          line-height: 20px;

          .num-process {
            display: none;
          }
        }
      }
    }
  }
}

// 채변 가이드
.introfecal {
  padding: 3rem 2.4rem 4rem;
  background: #f9f6ed;

  h1 {
    display: none;
  }
  h2 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
  }
  .content ~ .content {
    margin-top: 6rem;
  }
  .video-area {
    position: relative;

    &:empty:before {
      content: '비디오 영역';
      display: block;
      width: 100%;
      height: 153px;
      background: #ddd;
      font-size: 15px;
      text-align: center;
      line-height: 150px;
    }
    .video-js {
      width: 100%;
      height: auto;
      margin: 0 auto;
      border: 6px solid #fff;
      border-radius: 4px;
      box-shadow: #e9e6dc 0px 2px 10px;
    }
    video {
      position: static;
    }
  }
}

/* width:768~ */
@include mq('md') {
  // main
  .main {
    padding-bottom: 100px;

    &-visual {
      &.open {
        .big {
          padding-bottom: 45px;
        }
      }
      .big {
        display: block;
        text-align: left;
        padding-bottom: 45px;

        .inner {
          max-width: 1200px;
          height: 480px;
          margin: 0 auto;
          padding: 100px 30px 0;
          background: url('/resource/images/views/mainvisual_bg_pc.png') no-repeat 90% 100%/450px;

          strong {
            font-size: 32px;

            em {
              margin-top: 8px;
              font-size: 32px;
            }
          }
          p {
            width: 320px;
            margin-top: 20px;
            font-size: 14px;
            line-height: 22px;
          }
          .patent-desc {
            display: block;
            position: static;
            bottom: 0;
            left: 0;
            float: right;
            width: 652px;
            margin-top: 180px;
            margin-right: 0px;
            color: $gray-color;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
      .small {
        display: none;
      }
      .btn-toggle {
        display: none;
      }
    }
    &-member {
      max-width: 1200px;
      margin: 60px auto 0;
      padding: 0 30px;

      .title-area {
        .h2-tit {
          display: inline-block;
          margin-bottom: 0;
          font-size: 26px;
          font-weight: 600;
          vertical-align: middle;
        }
        .count {
          margin: 0 10px;
          font-size: 16px;
        }
        .listfilter {
          bottom: -6px;

          .select {
            width: 76px;
          }
        }
      }
      .list-area {
        margin-top: 16px;

        li {
          display: inline-block;
          width: calc(50% - 15px);
          margin-top: 30px;
          margin-right: 30px;
          vertical-align: top;

          &:nth-of-type(-n + 2) {
            margin-top: 0;
          }
          &:nth-of-type(2n) {
            margin-right: 0;
          }
          &.primary,
          &.sub,
          &.rc {
            .box {
              .img {
                border-width: 2px;
              }
            }
          }
          &.addbox {
            .btn-add {
              height: 150px;
              padding: 42px 30px;
              border-radius: 12px;

              span {
                font-size: 20px;

                &:before {
                  width: 20px;
                  height: 20px;
                  margin-top: -3px;
                  margin-right: 10px;
                }
              }
              p {
                margin-top: 5px;
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
          .box {
            padding: 20px 0;

            .img {
              width: 60px;
              height: 60px;
              margin-left: 20px;

              span {
                right: 0;
                width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 22px;
              }
            }
            .info {
              margin-left: 20px;
              padding-top: 7px;

              strong {
                margin-bottom: 2px;
                font-size: 18px;
              }
              .birth {
                font-size: 15px;
              }
            }
            .btn-link {
              top: 36px;
              right: 10px;
              width: 32px;
              height: 32px;
              background-size: 8px;
            }
          }
          .toggle {
            & > p {
              height: 50px;
              padding: 17px 20px 11px;
              font-size: 15px;
            }
            .color-black {
              margin-left: 0.5rem;
              color: $dark-color;
            }
            .state {
              height: 22px;
              margin-top: -3px;
              margin-right: 10px;
              padding: 4px 8px;
              font-size: 13px;
              border-radius: 22px;
              vertical-align: top;
            }
            .btn-toggle {
              top: 13px;
              right: 20px;
              width: 24px;
              height: 24px;
            }
            .toggle-cont {
              margin: 0 20px;
              padding: 10px 0 20px;
              border-top: 1px solid #d7dbe9;

              .text {
                font-size: 14px;
                line-height: 20px;
              }
              .btn {
                margin-top: 15px;
              }
              .btn-area {
                margin: 15px -5px 0;

                .btn {
                  margin: 0 5px;
                  padding: 12px 0;
                  font-size: 16px;
                  letter-spacing: -0.08em;

                  &.confirm {
                    &:before {
                      width: 15px;
                      margin-right: 3px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // intro
  .intro {
    padding: 100px 0;
    background: #eff5f5;

    .visual {
      .logo {
        img {
          width: 220px;
        }
      }
      .text {
        margin-top: 20px;

        h1 {
          font-size: 40px;

          em {
            margin-top: 0;
            font-size: 40px;
          }
        }
      }
      .btn-area {
        margin-top: 40px;

        span {
          font-size: 13px;
          font-weight: 500;
        }
        .btn ~ .btn {
          margin-top: 10px;
        }
      }
    }
    .img {
      max-width: 680px;
      margin: 40px auto 0;

      .mobile {
        display: none;
      }
      .pc {
        display: block;

        img {
          width: auto;
        }
      }
    }
    .patent-desc {
      max-width: 680px;
      margin: 1rem auto 4rem;
      padding: 0;
      font-size: 1.2rem;
      line-height: 16px;
    }
    .video-area {
      max-width: 680px;
      margin: 0 auto;
      padding: 0;

      &:empty:before {
        height: 273px;
        line-height: 273px;
      }
      .video-js {
        border-width: 12px;
      }
      video {
        position: static;
      }
    }
  }

  // 공통 swiper
  .swiper-area {
    .swiper {
      .swiper-button-prev {
        width: 50px;
        height: 80px;
        background-color: transparent;

        &:after {
          font-size: 20px;
        }
      }
      .swiper-button-next {
        width: 50px;
        height: 80px;
        background-color: transparent;

        &:after {
          font-size: 20px;
        }
      }
      .swiper-pagination {
        bottom: 0.9rem;

        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
          margin: 0 4px;
        }
        .swiper-pagination-bullet-active {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  // 솔루션 이용안내
  .introsolution {
    padding-bottom: 100px;

    .content {
      padding: 140px 0 0;

      h2 {
        margin-bottom: 30px;
        font-size: 28px;
      }
    }
    .visual {
      padding: 60px 30px 80px;

      & + .content {
        padding-top: 80px;
      }
      .inner {
        max-width: 1000px;
        margin: 0 auto;
      }
      h1 {
        display: block;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
      }
      h2 {
        margin-top: 50px;
        margin-bottom: 24px;
        font-size: 30px;

        em {
          display: inline-block;
          width: 145px;
          padding-bottom: 14px;
          vertical-align: middle;

          &:before {
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 14px;
            margin-left: 0;
          }
        }
      }
      .text {
        padding: 0;
        font-size: 17px;
        line-height: 28px;

        p {
          margin-top: 10px;
        }
      }
      .colbox:after {
        content: '';
        display: block;
        clear: both;
      }
      .summary-area {
        border: none;

        .summary {
          margin-top: 20px;

          .head {
            display: block;
            padding-right: 50px;
            font-size: 18px;
          }
          .data {
            li {
              font-size: 14px;
              line-height: 19px;

              &:before {
                top: 7px;
              }
            }
          }
        }
      }
      .patent-desc {
        margin: 20px 0 0;
        font-size: 1.2rem;
        line-height: 16px;
      }
      .video-area {
        &:empty:before {
          height: 273px;
          line-height: 273px;
        }
        .video-js {
          border-width: 12px;
        }
      }
      .logo {
        margin-top: 60px;

        img {
          width: 250px;
        }
      }
    }
    .icon-list {
      justify-content: center;
      max-width: 970px;
      margin: 0 auto;

      li {
        width: 22.682%;
        margin-top: 60px;
        margin-bottom: 0;

        &:before {
          width: 112px;
          height: 112px;
        }
        &:nth-of-type(-n + 4) {
          margin-top: 0;
        }
        p {
          margin-top: 15px;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0;
        }
      }
    }
    .speech-bubble {
      display: flex;
      justify-content: center;

      li {
        width: 300px;
        margin: 0 20px;
        padding: 20px 15px;

        img {
          width: 65px;
        }
        .cont {
          blockquote {
            font-size: 14px;
            line-height: 20px;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }

  // 제품 소개
  .introproduct {
    h1 {
      display: block;
      padding-top: 60px;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
    }
    .tab {
      padding-top: 40px;

      .tab-menu {
        li {
          width: 200px;
        }
      }
      .tab-cont {
        margin-top: 40px;
      }
    }
    .content {
      & ~ .content .inner {
        padding-top: 140px;
      }
      .inner {
        max-width: 1040px;
        margin: 0 auto;
        padding: 80px 30px 0;

        h2 {
          margin-bottom: 30px;
          font-size: 28px;

          em {
            height: 68px;
            margin-bottom: 30px;
            font-size: 50px;

            &:before {
              margin-left: -28px;
            }
            &:after {
              bottom: 6px;
              width: 70px;
              height: 16px;
              margin-left: -35px;
            }
          }
        }
      }
      .patent-desc {
        margin-top: 20px;
        text-align: center;
      }
    }
    .visual {
      .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px 80px;

        strong {
          font-size: 28px;
        }
        .desc {
          width: 630px;
          margin: 10px auto 0;
          font-size: 17px;
          line-height: 28px;
        }
        .img {
          max-width: 470px;
          margin: 45px auto 20px;
          text-align: center;
        }
        .btn-area {
          width: 300px;
          margin: 0 auto;
        }
        .itemlist {
          max-width: 960px;
          margin: 0 auto 60px;

          li {
            width: calc(33.333% - 40px);
            margin-top: 60px;

            &:nth-of-type(-n + 3) {
              margin-top: 40px;
            }
            p {
              margin-top: 20px;
              font-size: 18px;
            }
          }
        }
        .itemlist ~ .btn-area {
          padding-bottom: 20px;
        }

        .type-desc {
          margin-top: 0;
          text-align: center;
          color: $gray-color;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
    .inspection {
      & > div {
        display: inline-block;
        width: calc(51% - 20px);
        height: 160px;
        padding: 30px;
        vertical-align: top;

        &.blue {
          margin-top: 0;
          margin-left: 20px;

          &:before {
            top: 50px;
            left: -35px;
            width: 50px;
            height: 50px;
            margin-left: 0;
          }
        }
        .head {
          font-size: 18px;
          line-height: 25px;
        }
        .data {
          margin-top: 10px;

          li {
            margin-top: 7px;
            font-size: 15px;
          }
        }
      }
    }
    .checklist {
      margin-top: 30px;
      border-radius: 12px;

      li {
        width: 33.333%;
        height: 90px;
        padding: 35px 20px 33px 85px;
        background-position-x: 40px;
        background-size: 30px;
        font-size: 18px;

        &:nth-of-type(2n) {
          border-right: 1px solid #fff;
        }
        &:nth-of-type(3n) {
          border-right: 0;
        }
      }
    }
    .productmanage {
      max-width: 520px;
      padding-bottom: 100px;
      background-size: 520px;

      & > div {
        width: 280px;
        height: 280px;
        padding: 130px 40px 0;

        &.item01 {
          background-position-y: 40px;
          background-size: 70px;
        }
        &.item02 {
          margin-left: -40px;
          background-position-y: 40px;
          background-size: 100px;
        }
        strong {
          font-size: 18px;
          line-height: 25px;
        }
        p {
          margin-top: 5px;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  //서비스 이용안내
  .introservice {
    padding-bottom: 100px;

    .content {
      padding: 80px 0 0;

      & ~ .content {
        padding-top: 140px;
      }
      h2 {
        margin-bottom: 30px;
        font-size: 28px;
      }
    }
    .visual {
      .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 60px 30px 80px;

        h1 {
          font-size: 32px;
        }
        .logo {
          margin-top: 40px;

          img {
            width: 250px;
          }
        }
      }
    }
    .process {
      margin-top: 60px;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        vertical-align: top;

        &:before {
          display: none;
        }
        li {
          align-items: flex-start;
          width: 29.9%;
          min-height: 125px;
          margin-top: 40px;
          padding: 26px 10px 26px 30px;

          &:nth-of-type(-n + 2) {
            margin-top: 0;
          }
          &.item02 {
            border-radius: 8px;
          }
          &.item03 {
            border-radius: 8px;

            &:before {
              display: none;
            }
          }
          &.item04 {
            margin-top: 40px;
            border-radius: 8px;

            &:before {
              display: none;
            }
          }
          .img {
            width: 75px;
          }
          p {
            width: calc(100% - 75px);
            padding-left: 20px;
            font-size: 16px;
            line-height: 25px;

            .num-process {
              display: block;
              font-size: 20px;
              font-weight: 600;

              &.blue {
                color: #7ba5e3;
              }
              &.red {
                color: #ef9797;
              }
              &.yellow {
                color: #e9bf76;
              }
              &.green {
                color: #84d1b0;
              }
            }
          }
        }
      }
    }
  }

  // 채변 가이드
  .introfecal {
    padding: 60px 30px 100px;

    h1 {
      display: block;
      margin-bottom: 60px;
      color: $dark-color;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
    }
    h2 {
      margin-bottom: 30px;
      font-size: 28px;
    }
    .content ~ .content {
      margin-top: 140px;
    }
    .video-area {
      &:empty:before {
        height: 450px;
        line-height: 450px;
      }
      .video-js {
        max-width: 800px;
        border-width: 12px;
      }
    }
  }
}
/* width:1000~ */
@include mq('lg') {
  // main
  .main {
    &-visual {
      .big {
        .inner {
          background: url('/resource/images/views/mainvisual_bg_pc.png') no-repeat 94% -22px/667px;
        }
      }
    }

    .main {
      padding-bottom: 100px;

      &-visual {
        &.open {
          .big {
            padding-bottom: 45px;
          }
        }
        .big {
          // 2022-05-18 이제하 속성 추가
          padding-bottom: 45px;
          .inner {
            .patent-desc {
              margin-top: 168px;
            }
          }
        }
      }
    }

    &-member {
      .list-area {
        li {
          width: calc(33% - 17px);

          &:nth-of-type(-n + 3) {
            margin-top: 0;
          }
          &:nth-of-type(2n) {
            margin-right: 30px;
          }
          &:nth-of-type(3n) {
            margin-right: 0;
          }

          // toggle height
          .toggle {
            .toggle-cont {
              height: auto;
              min-height: 130px;
            }
          }
        }
      }
    }
  }

  // 솔루션 이용안내
  .introsolution {
    .visual {
      .summary-area {
        float: left;
        width: 420px;
        margin-top: 40px;
      }
      .video-area {
        float: right;
        width: 485px;
        margin-top: 60px;
      }
    }
  }

  //서비스 이용안내
  .introservice {
    padding-bottom: 100px;

    .process {
      margin-top: 60px;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &:before {
          display: none;
        }
        li {
          width: 29.9%;
          min-height: 125px;
          margin-top: 40px;
          padding: 26px 10px 26px 30px;
        }
      }
    }
  }
}
