@charset "utf-8";
/* version 0.5 | 2020-08-28 */

/*==========================================================
    공통사항 - 콘텐츠유형
==========================================================*/
/*------------------------------------------------
    콘텐츠유형
------------------------------------------------*/
/* 폼 타이틀 */
.form_title {
  padding-bottom: 15px;
  font-size: 16px;
  color: #333;
}

/* 약관동의 */
.intro_pack + .accordion_pack {
  margin-top: 30px;
}

/* 조항확인폼 */
.document_confirm_form {
}
.document_confirm_form .accordion_pack + .input_pack {
  padding-top: 30px;
}

/* 정보테이블폼 */
.info_table_form .table_pack.type_info {
  margin-top: 20px;
}
.info_table_form .table_pack .position {
  display: inline-block;
}
.info_table_form .table_pack .position:after {
  content: ",";
  display: inline-block;
  padding-right: 2px;
}
.info_table_form .table_pack .room {
  display: inline-block;
}
.confirm_table_form .table_pack .position {
  display: inline-block;
}
.confirm_table_form .table_pack .position:after {
  content: ",";
  display: inline-block;
  padding-right: 2px;
}
.confirm_table_form .table_pack .room {
  display: inline-block;
}

/* 확인테이블폼 */
.confirm_table_form .table_pack {
  margin-top: 20px;
}
.confirm_table_form .text_confirm_pack {
  padding: 0 30px;
  margin-top: 30px;
}

/* 날짜선택폼 */
.date_select_form .intro_pack + .calendar_set {
  margin-top: 30px;
}

/* 시간선택폼 */
.time_select_form .intro_pack + .toggle_pack {
  margin-top: 30px;
}

/* 컨테이너 바텀 */
.container_bottom .text_confirm_pack {
  padding: 0 16px 30px;
  font-size: 16px;
  color: #666;
}

/*==========================================================
    공통사항 - 필터팝업
==========================================================*/
/*------------------------------------------------
    필터팝업 - 콘텐츠
------------------------------------------------*/
/* 필터팝업 - 콘텐츠 */
.filter_cont_area {
  padding: 30px 16px;
}
.filter_cont_area .filter_title {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.filter_cont_area > [class^="filter"] + [class^="filter"] {
  margin-top: 30px;
}
.filter_cont_area .toggle_pack.type_multi .toggle_item .btn_pack button {
  font-size: 12px;
}

.filter_cont_area .toggle_pack.type_filter .toggle_item .btn_pack button {
  font-size: 12px;
}

/* 필터팝업 - 날짜 */
.filter_cont_area .filter_date_box {
  font-size: 0;
}
.filter_cont_area .filter_date_box .unit {
  display: inline-block;
  padding: 0 10px;
  line-height: 36px;
  font-size: 12px;
  color: #666;
  vertical-align: middle;
}
.filter_cont_area .filter_date_box .input_pack.type_datepicker {
  width: 30%;
  min-width: 110px;
}

/* 필터팝업 - 시간 */
.filter_cont_area .filter_time_box {
}
.filter_cont_area .filter_time_box > .toggle_pack.type_filter {
  width: 70%;
}

/* 필터팝업 - 장소 */
.filter_cont_area .filter_location_box {
}
.filter_cont_area
  .filter_location_box
  > .toggle_pack
  .toggle_item
  .btn_pack
  button {
  font-size: 14px;
}
.filter_cont_area .filter_location_box > .toggle_pack ~ .toggle_center_list {
  display: block;
}
.filter_cont_area .filter_location_box > .toggle_pack ~ .toggle_location_list {
  display: none;
}
.filter_cont_area
  .filter_location_box
  > .toggle_pack.active
  ~ .toggle_center_list {
  display: none;
}
.filter_cont_area
  .filter_location_box
  > .toggle_pack.active
  ~ .toggle_location_list {
  display: block;
}
.filter_cont_area .filter_location_box .toggle_center_list {
  margin-top: 10px;
}
.filter_cont_area .filter_location_box .toggle_location_list {
  margin-top: 10px;
}

/* 필터팝업 - 시간선택 */
.filter_cont_area .filter_time_box .toggle_pack.type_filter {
  padding-top: 6px;
}
.filter_cont_area .filter_time_box .toggle_pack.type_filter .toggle_item {
  font-size: 0;
  margin: -6px 0 0 -6px;
}
.filter_cont_area
  .filter_time_box
  .toggle_pack.type_filter
  .toggle_item
  .btn_pack {
  z-index: 100;
  position: relative;
  display: inline-block;
  margin-top: 6px;
  margin-left: 6px;
  width: calc(33.3% - 6px);
  vertical-align: middle;
}

/* 필터팝업 - 바텀버튼 */
.bottom_filter_area {
}
.bottom_filter_area .btn_group {
}
.bottom_filter_area .btn_group .btn_pack:first-of-type {
  width: calc(30% - 3px);
}
.bottom_filter_area .btn_group .btn_pack:last-of-type {
  width: calc(70% - 3px);
}

/*==========================================================
   공통사항 - 주소찾기팝업
==========================================================*/
/*------------------------------------------------
   주소찾기팝업
------------------------------------------------*/
/* 주소찾기팝업 */
.address_search_box {
  height: 100%;
}

/* 주소검색폼 */
.address_search_box .address_search_form {
  padding-bottom: 20px;
}
.address_search_box .address_search_form .input_pack .input_placeholder {
  line-height: 48px;
  font-size: 14px;
}
.address_search_box .address_search_form .address_list_group {
  padding-top: 20px;
  box-sizing: border-box;
}

/* 주소리스트폼 */
.address_search_box .address_list_form {
  min-height: 220px;
  overflow-y: auto;
}
.address_search_box .address_list_form .address_list_group {
}
.address_search_box .address_list_form .address_list_group .address_list {
  display: table;
  padding: 15px 0;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list:first-of-type {
  border-top: 1px solid #eaeaea;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .address_postcode {
  display: table-cell;
  width: 70px;
  font-size: 14px;
  color: #666;
  text-align: center;
  vertical-align: middle;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .address_info {
  display: table-cell;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .address_info
  .address_road {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .address_info
  .address_location {
  display: table;
  table-layout: fixed;
  margin-top: 10px;
  width: 100%;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .address_type {
  display: table-cell;
  width: 45px;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .address_type
  .type {
  display: inline-block;
  padding: 5px 7px;
  border-radius: 4px;
  font-size: 10px;
  color: #666;
  background: #f4f5f6;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .address_detail {
  display: table-cell;
  font-size: 14px;
  color: #333;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .btn_pack {
  display: table-cell;
  width: 40px;
  text-align: center;
}
.address_search_box
  .address_list_form
  .address_list_group
  .address_list
  .btn_pack
  button {
  height: 20px;
  font-size: 13px;
  color: #3750b4;
}

/* 검색결과없음 */
.address_search_box .address_list_empty {
  padding: 50px 0;
  font-size: 14px;
  color: #666;
  text-align: center;
}
.address_search_box .address_list_empty .search_data {
  color: #3750b4;
}

/* 주소리스트 페이지네이션 */
.address_search_box .address_pagination {
  padding-top: 10px;
}

/* 상세주소입력 */
.address_search_box .address_detail_form {
  padding-top: 20px;
}
.address_search_box .address_detail_form .input_pack + .input_pack {
  margin-top: 10px;
}

/*==========================================================
    레이어 - 전체메뉴
==========================================================*/
/*------------------------------------------------
    전체메뉴
------------------------------------------------*/
/* 전체메뉴 - 레이아웃 */
.total_menu .total_menu_logo + .total_menu_copy {
  margin-top: 20px;
}

/* 전체메뉴 - 활성화/비활성화 */
.total_menu {
  z-index: 1900;
  position: fixed;
  top: 0;
  left: -80%;
  padding: 50px 0 80px 20px;
  width: 80%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.total_menu.active {
  left: 0;
}

/* 전체메뉴 - 전체메뉴닫기 */
.total_menu .total_menu_close {
  position: absolute;
  top: 0;
  right: 5px;
}

/* 전체메뉴 - 메뉴그룹 */
.total_menu_group {
  padding-right: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* 전체메뉴 - 탑 */
.total_menu .total_menu_logo {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  margin-top: 35px;
  width: 130px;
  cursor: pointer;
} /* 20200827 전체메뉴 수정 */
.total_menu .total_menu_logo > img {
  width: 100%;
}
.total_menu .total_menu_copy {
  line-height: 1.6;
  font-size: 14px;
  color: #666;
}

/* 전체메뉴 - 메뉴리스트 */
.total_menu .total_menu_list {
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.total_menu .total_menu_list .btn_pack {
}
.total_menu .total_menu_list .btn_pack button {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: left;
  background: url("../image/layout/icon_menu_arrow.png") no-repeat right center;
  background-size: 6px 9px;
}

/* 전체메뉴 - 메뉴아코디언 */
.total_menu .total_menu_accordion .accordion_pack .accordion_list {
  padding-top: 30px;
  padding-bottom: 25px;
  border: none;
}
.total_menu
  .total_menu_accordion
  .accordion_pack
  .accordion_list
  .accordion_title {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  font-size: 16px;
  cursor: pointer;
}
.total_menu .total_menu_accordion .accordion_pack .accordion_list > .btn_pack {
  top: 22px;
}
.total_menu .total_menu_accordion .accordion_pack .accordion_conts {
  padding-left: 20px;
  border: none;
}
.total_menu .total_menu_accordion .accordion_pack .accordion_conts .btn_pack {
}
.total_menu
  .total_menu_accordion
  .accordion_pack
  .accordion_conts
  .btn_pack
  button {
  font-size: 14px;
  color: #666;
}
.total_menu
  .total_menu_accordion
  .accordion_pack
  .accordion_conts
  .btn_pack
  button:before {
  content: "- ";
}

/* 전체메뉴 - 로그아웃 */
.total_menu .total_menu_logout {
  position: absolute;
  bottom: 40px;
  left: 20px;
}
.total_menu .total_menu_logout .btn_pack button {
  padding-left: 22px;
  font-size: 14px;
  color: #666;
  background: url("../image/content/icon_logout.png") no-repeat left center;
  background-size: auto 15px;
} /* 20200821 로그아웃버튼 디자인수정 */

/*==========================================================
    페이지 - 로그인
==========================================================*/
/*------------------------------------------------
    로그인 - 공통사항
------------------------------------------------*/
/* 로그인 */
.login_area {
  width: 100%;
  max-width: 330px;
  padding: 0 16px 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 로그인 - 로그인헤더 */
.login_head {
  padding-top: 16vh;
  text-align: center;
} /* 디바이스고려 vh사용 */
.login_head .login_logo {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  margin: 0 auto;
  width: 106px;
  cursor: pointer;
}
.login_head .login_logo > img {
  width: 100%;
}
.login_head .login_text {
  margin-top: 10px;
  line-height: 1.6;
  font-size: 14px;
  color: #666;
}

/* 로그인 - 로그인바디 */
.login_body {
  margin-top: 11vh;
} /* 디바이스고려 vh사용 */
.login_body .login_tab .tab_pack {
}
.login_body .login_tab .tab_pack .tab_btn_item {
  height: auto;
  padding: 0 0 25px;
  box-shadow: none;
}
.login_body .login_tab .tab_pack .tab_btn_item .tab_btn {
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}
.login_body .login_tab .tab_pack .tab_btn_item .tab_btn button {
  width: 100%;
  height: 35px;
  padding: 20px 0 0;
  font-size: 14px;
  color: #333;
  opacity: 0.3;
} /* 20201028 로그인탭버튼 디자인 수정(ie 호환성) - height: 20px > 35px */

/* 로그인 - 로그인바디활성화 */
.login_body .login_tab .tab_pack .tab_btn_item .tab_btn.active {
  border: 1px solid #e3e3e3;
  border-bottom-width: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.login_body .login_tab .tab_pack .tab_btn_item .tab_btn.active button {
  color: #333;
  opacity: 1;
}

/* 로그인 안내 */
.login_notice_set {
  padding-bottom: 40px;
  text-align: center;
}
.login_notice_set .login_notice {
  display: inline-block;
  font-size: 14px;
  color: rgba(102, 102, 102, 0.5);
  vertical-align: middle;
}
.login_notice_set .btn_pack {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #666;
  background: url("../image/content/icon_login_notice.png") no-repeat right
    center;
  background-size: 6px 9px;
}
.login_notice_set .btn_pack button {
  padding-right: 12px;
  height: 18px;
  font-size: 14px;
  color: #666;
}

/* 로그인 - 레이아웃 */
.login_form .input_group + .btn_pack {
  margin-top: 10px;
}
.login_form .input_group .input_pack + .input_pack {
  margin-top: 10px;
}
.login_form .save_id {
  padding: 10px 0;
}
.login_form .save_id + {
  padding: 10px 0;
}
.login_form .btn_pack + .btn_pack {
  margin-top: 10px;
}
.login_form + .btn_pack {
  margin-top: 12px;
  text-align: center;
}
.login_form + .btn_group {
  margin-top: 12px;
}
.login_form + .btn_group .btn_pack {
  text-align: center;
}
.login_form + .btn_group .btn_pack + .btn_pack {
  position: relative;
}
.login_form + .btn_group .btn_pack + .btn_pack:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  height: 10px;
  width: 1px;
  background: rgba(112, 112, 112, 0.5);
}
.login_notice_set .login_notice + .btn_pack {
  margin-left: 10px;
}

/*------------------------------------------------
    로그인 - 주/부사업자선택
------------------------------------------------*/
/* 주/부사업자선택 - 그룹 */
.profile_choice_group {
  padding-top: 30px;
}
.profile_choice_group .profile_choice_pack + .profile_choice_pack {
  margin-top: 20px;
}

/* 주/부사업자선택 - 리스트 */
.profile_choice_pack {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  position: relative;
  padding: 35px 30px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  font-size: 0px;
  background: #fff url("../image/content/bg_profile_choice.png") no-repeat right
    center;
  background-size: 150px 135px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 300ms;
} /* 20200819 touch-highlight 제거 */
.profile_choice_pack.active {
  border-color: #3750b3;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
}

/* 주/부사업자선택 - 사진 */
.profile_choice_pack .profile_choice_photo {
  display: inline-block;
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.16);
  vertical-align: middle;
  overflow: hidden;
  box-sizing: border-box;
  background: #fff;
} /* 20201105 전문가프로필 사진 배경변경 */
.profile_choice_pack .profile_choice_photo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 주/부사업자선택 - 정보 */
.profile_choice_pack .profile_choice_info {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
.profile_choice_pack .profile_choice_info .choice_user_kr {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.profile_choice_pack .profile_choice_info .choice_user_en {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.profile_choice_pack .profile_choice_info .choice_duty {
  margin-top: 12px;
  font-size: 12px;
  color: #999;
}

/*------------------------------------------------
    로그인 - 프로필입력
------------------------------------------------*/
/* 프로필입력 */
.profile_register_form {
}
.profile_register_form .profile_set {
  margin-top: 25px;
}
.profile_register_form .profile_set + .verify_form {
  margin-top: 30px;
}
.profile_register_form .profile_set + .btn_pack {
  margin-top: 20px;
}
.profile_register_form .btn_pack + .verify_form {
  margin-top: 20px;
}
.profile_register_form > .btn_pack {
  text-align: center;
}
.profile_register_form > .btn_pack button {
  width: auto;
  padding: 0 54px;
}

/*------------------------------------------------
    로그인 - 전문가등록안내
------------------------------------------------*/
/* 전문가등록안내 */
.expert_regit_guide {
}
.expert_regit_guide .intro_pack {
  padding-bottom: 25px;
  border-bottom: 1px solid #f4f5f6;
}
.expert_regit_guide .intro_pack + .text_confirm_pack {
  padding-top: 25px;
  text-align: left;
}

/*------------------------------------------------
    로그인 - 비밀번호재설정
------------------------------------------------*/
/* 본인인증 */
.self_identify_guide {
}
.self_identify_guide .intro_pack + .self_identify_box {
  margin-top: 30px;
}
.self_identify_guide .self_identify_box {
}
.self_identify_guide .self_identify_box [class$="form"] {
  margin-top: 30px;
}
.self_identify_guide .self_identify_box [class$="form"]:first-child {
  margin-top: 0px;
}

/* 재설정 */
.password_reset_box {
}
.password_reset_box .input_set {
}
.password_reset_box .input_set + .input_set {
  margin-top: 10px;
}
.password_reset_box .reset_info {
  margin-top: 12px;
}

/*------------------------------------------------
    로그인 - 회원가입유형선택
------------------------------------------------*/
/* 회원가입유형선택 - 그룹 */
.membership_choice_group {
  padding-top: 30px;
}
.membership_choice_group .membership_choice_pack + .membership_choice_pack {
  margin-top: 20px;
}

/* 회원가입유형선택 - 리스트 */
.membership_choice_pack {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  position: relative;
  padding: 45px 20px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  font-size: 0px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 300ms;
}

/* 회원가입유형선택 - 로고 */
.membership_choice_pack .membership_choice_logo {
  height: 50px;
  text-align: center;
}
.membership_choice_pack .membership_choice_logo > img {
  height: 100%;
}

/* 회원가입유형선택 - 정보 */
.membership_choice_pack .membership_choice_info {
  text-align: center;
}
.membership_choice_pack .membership_choice_info .membership_title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  vertical-align: top;
}
.membership_choice_pack .membership_choice_info .membership_title:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 23px;
  background: url("../image/layout/icon_menu_arrow.png") no-repeat center;
  background-size: 7px 12px;
  vertical-align: top;
}
.membership_choice_pack .membership_choice_info .membership_text {
  font-size: 14px;
  color: #666;
}
.membership_choice_pack .membership_choice_info .membership_describe {
  line-height: 1.6;
  font-size: 12px;
  color: rgba(102, 102, 102, 0.5);
}
.membership_choice_pack
  .membership_choice_info
  .membership_title
  + .membership_text {
  margin-top: 20px;
}
.membership_choice_pack
  .membership_choice_info
  .membership_text
  + .membership_describe {
  margin-top: 20px;
}

/* 회원가입유형선택 - 레이아웃 */
.membership_choice_pack .membership_choice_logo + .membership_choice_info {
  margin-top: 30px;
}

/*==========================================================
    페이지 - 회원가입
==========================================================*/
/*------------------------------------------------
    회원가입
------------------------------------------------*/
/* 회원가입 - 레이아웃 */
.sign_up_box {
}
.sign_up_box + .sign_up_box {
  margin-top: 30px;
}
.sign_up_box [class$="form"]:not([type="button"]) {
  margin-top: 10px;
}
.sign_up_box .password_form {
}
.sign_up_box .password_form .input_set + .input_set {
  margin-top: 10px;
}
.sign_up_box .password_form .reset_info {
  margin-top: 12px;
}
.sign_up_box .profile_set + .verify_form {
  margin-top: 30px;
}

/*==========================================================
    페이지 - 메인
==========================================================*/
/* 레이아웃 */
.contents .profile_set + .expert_notice {
  margin-top: 15px;
}
.main_area .calendar_set {
  margin-top: 30px;
}
.main_area .timetable_area .timetable_form {
  padding-bottom: 0;
}
.main_area + .main_area {
  padding-bottom: 50px;
}

/*------------------------------------------------
    메인
------------------------------------------------*/
/* 메인 */
.main_area {
  padding: 0 16px;
}

/* 메인 - 프로필세트 */
.contents .profile_set {
  padding-top: 30px;
  text-align: center;
}
.contents .profile_set .profile_label {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  margin-top: 30px;
  line-height: 26px;
  color: #fff;
  background: #4ada64;
}
.contents .profile_set .profile_label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -9px;
  width: 10px;
  height: 26px;
  background: url("../image/content/img_label_left.png") no-repeat center;
  background-size: 10px 26px;
}
.contents .profile_set .profile_label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -9px;
  width: 10px;
  height: 26px;
  background: url("../image/content/img_label_right.png") no-repeat center;
  background-size: 10px 26px;
}
.contents .profile_set .profile_meet {
  margin-top: 15px;
  text-align: center;
}
.contents .profile_set .profile_meet .profile_greet {
  display: inline-block;
  font-size: 22px;
  line-height: 1.8;
  vertical-align: middle;
}
.contents .profile_set .profile_meet .profile_greet .user_name {
  font-weight: bold;
}
.contents .profile_set .profile_meet .btn_pack {
  display: none;
  margin-left: 5px;
  width: auto;
}

/* 메인 - 전문가알림 */
.contents .expert_notice {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  position: relative;
  padding: 14px 40px 14px 20px;
  border-radius: 24px;
  line-height: 1.4;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
  background: #333 url("../image/content/icon_expert_noti.png") no-repeat center
    right;
  background-size: 25px 9px;
  cursor: pointer;
}
.contents .expert_notice:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #333;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}
.contents .expert_notice .emphasis {
  font-weight: bold;
}

/* 메인 - 캘린더 */
.main_area .calendar_pack:not(.type_horizon) {
  padding: 20px;
  background: #3750b4;
  box-shadow: none;
}

/* 메인 - 캘린더 - 상단 */
.main_area .calendar_pack:not(.type_horizon) .calendar_summary {
}
.main_area .calendar_pack:not(.type_horizon) .calendar_summary .week_info {
  font-size: 14px;
  color: #fff;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_summary
  .week_info
  .month {
  font-weight: bold;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_summary
  .week_info
  .week {
  font-weight: bold;
}
.main_area .calendar_pack:not(.type_horizon) .calendar_summary .total_schedule {
  position: absolute;
  top: 12px;
  right: 20px;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_summary
  .total_schedule
  .btn_pack {
  display: inline-block;
  padding-right: 12px;
  background: url("../image/content/icon_main_calendar.png") no-repeat right
    center;
  background-size: 6px 9px;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_summary
  .total_schedule
  .btn_pack
  button {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

/* 메인 - 캘린더 */
.main_area .calendar_pack:not(.type_horizon) .calendar_table {
  margin-top: 20px;
  padding-bottom: 0;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td {
  opacity: 0.8;
  cursor: default;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td
  .date_unit {
  padding: 20px 0 10px;
  min-height: auto;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  background: transparent;
  box-shadow: none;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td:last-child
  .date_unit {
  color: #fff;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td
  .week_unit {
  position: relative;
  display: inline-block;
  padding-bottom: 26px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td
  .week_unit.type_scheduled:after {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
}

/* 메인 - 캘린더 - 상태표시 */
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td.type_selected {
  color: #9bff89;
  opacity: 1;
} /* 20201110 메인 스케줄 디자인수정 */
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td.type_selected
  > .date_unit {
  font-weight: bold;
  color: #9bff89;
} /* 20201110 메인 스케줄 디자인수정 */
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td.type_selected
  .week_unit {
  font-weight: bold;
  color: #9bff89;
} /* 20201110 메인 스케줄 디자인수정 */
.main_area
  .calendar_pack:not(.type_horizon)
  .calendar_table
  table
  > tbody
  > tr
  > td.type_selected
  .week_unit.type_scheduled:after {
  background: #9bff89;
} /* 20201110 메인 스케줄 디자인수정 */

/* 메인 - 서비스카테고리 */
.main_area .class_category {
  padding-top: 50px;
}
.main_area .class_category .intro_pack .intro_title + .intro_describe {
  margin-top: 15px;
  color: #666;
}
.main_area .class_category .class_category_group {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 30px;
}
.main_area .class_category .class_category_group .class_category_list {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  display: table-cell;
  text-align: center;
  cursor: pointer;
}
.main_area
  .class_category
  .class_category_group
  .class_category_list
  .class_category_icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f4f5f6;
  box-sizing: border-box;
}
.main_area
  .class_category
  .class_category_group
  .class_category_list
  .class_category_icon
  > img {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.main_area
  .class_category
  .class_category_group
  .class_category_list
  .class_category_text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* 메인 - 추천서비스 */
.main_area .recommend_class {
  padding-top: 50px;
}
.main_area .recommend_class .intro_pack .intro_title + .intro_describe {
  margin-top: 15px;
  color: #666;
}

/* 메인 - 추천서비스 - 스와이퍼 */
.main_area .recommend_class_swiper {
  margin: 30px -16px 0;
  padding: 0 16px 16px;
  overflow: hidden;
}
.main_area .recommend_class_swiper .swiper-wrapper {
}
.main_area .recommend_class_swiper .swiper-wrapper .swiper-slide {
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

/* 메인 - 추천서비스 - 스와이퍼 - 구성 */
.main_area
  .recommend_class_swiper
  .swiper-wrapper
  .swiper-slide
  .class_swiper_copy {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 20px;
}
.main_area
  .recommend_class_swiper
  .swiper-wrapper
  .swiper-slide
  .class_swiper_copy
  .class_swiper_tag {
  z-index: 100;
  font-size: 13px;
  color: #6d91f0;
}
.main_area
  .recommend_class_swiper
  .swiper-wrapper
  .swiper-slide
  .class_swiper_copy
  .class_swiper_title {
  z-index: 100;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.main_area
  .recommend_class_swiper
  .swiper-wrapper
  .swiper-slide
  .class_swiper_copy
  .class_swiper_describe {
  z-index: 100;
  margin-top: 10px;
  line-height: 1.6;
  font-size: 14px;
  color: #fff;
}
.main_area
  .recommend_class_swiper
  .swiper-wrapper
  .swiper-slide
  .class_swiper_img {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  height: 100%;
  cursor: pointer;
} /* 20201028 cursor 추가 */
.main_area
  .recommend_class_swiper
  .swiper-wrapper
  .swiper-slide
  .class_swiper_img
  > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main_area .recommend_class_swiper .swiper-pagination {
}
.main_area
  .recommend_class_swiper
  .swiper-pagination.swiper-pagination-bullets {
  bottom: 0;
}
.main_area
  .recommend_class_swiper
  .swiper-pagination
  .swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: #666;
  opacity: 0.5;
  transition: 300ms;
}
.main_area
  .recommend_class_swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  background: #3750b4;
  opacity: 1;
}

/* 메인 - 이벤트 */
.main_area .recommend_event {
  padding-top: 50px;
}
.main_area .recommend_event .intro_pack .intro_title + .intro_describe {
  margin-top: 15px;
  color: #666;
}
.main_area .recommend_event .recommend_event_group {
  margin-top: 20px;
}
.main_area .recommend_event .recommend_event_group .recommend_event_list {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  background: #ffe5c6;
  overflow: hidden;
  cursor: pointer;
}
.main_area
  .recommend_event
  .recommend_event_group
  .recommend_event_list
  + .recommend_event_list {
  margin-top: 20px;
}
.main_area
  .recommend_event
  .recommend_event_group
  .recommend_event_list
  .recommend_event_copy {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.main_area
  .recommend_event
  .recommend_event_group
  .recommend_event_list
  .recommend_event_copy
  .recommend_event_title {
  z-index: 100;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.main_area
  .recommend_event
  .recommend_event_group
  .recommend_event_list
  .recommend_event_copy
  .recommend_event_describe {
  z-index: 100;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
.main_area
  .recommend_event
  .recommend_event_group
  .recommend_event_list
  .recommend_event_img {
  height: 32.8vw;
} /* 20201102 PC이벤트 이미지 사이즈규정 */
.main_area
  .recommend_event
  .recommend_event_group
  .recommend_event_list
  .recommend_event_img
  > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 메인 - 공지사항 */
.main_area .recommend_event .notice_group {
  margin-top: 20px;
}
.main_area .recommend_event .notice_group .notice_list {
  padding: 27px 20px;
  border-radius: 12px;
  background: rgba(227, 227, 227, 0.5);
  box-sizing: border-box;
}
.main_area .recommend_event .notice_group .notice_list + .notice_list {
  margin-top: 20px;
}
.main_area .recommend_event .notice_group .notice_list .notice_title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}
.main_area
  .recommend_event
  .notice_group
  .notice_list
  .notice_title
  .underline {
  display: inline-block;
  position: relative;
}
.main_area
  .recommend_event
  .notice_group
  .notice_list
  .notice_title
  .underline:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #4ada64;
}
.main_area
  .recommend_event
  .notice_group
  .notice_list
  .notice_title
  + .notice_item {
  margin-top: 17px;
}
.main_area .recommend_event .notice_group .notice_list .notice_item {
  margin-top: 12px;
  font-size: 0;
  text-align: center;
}
.main_area
  .recommend_event
  .notice_group
  .notice_list
  .notice_item
  .notice_category {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}
.main_area
  .recommend_event
  .notice_group
  .notice_list
  .notice_item
  .notice_category
  + .notice_describe {
  position: relative;
  margin-left: 5px;
  padding-left: 5px;
}
.main_area
  .recommend_event
  .notice_group
  .notice_list
  .notice_item
  .notice_category
  + .notice_describe:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  width: 1px;
  height: 10px;
  background: #666;
}
.main_area
  .recommend_event
  .notice_group
  .notice_list
  .notice_item
  .notice_describe {
  display: inline-block;
  font-size: 11px;
  color: #666;
}
.main_area .recommend_event .notice_group .notice_list .notice_info {
  margin-top: 15px;
  text-align: center;
}
.main_area
  .recommend_event
  .notice_group
  .notice_list
  .notice_info
  .text_warn_pack {
  color: #666;
}

/*------------------------------------------------
   메인 - 마이프로필
------------------------------------------------*/
/* 메인 - 마이프로필 - 레이아웃 */
.verify_form + .text_notice_pack {
  margin-top: 12px;
}

/* 메인 - 마이프로필 - 프로필탭폼 */
.profile_tab_form {
}
.profile_tab_form .tab_pack .tab_btn_item .tab_btn {
  width: 50%;
  text-align: center;
}
.profile_tab_form .tab_pack .tab_conts_item .tab_conts {
  padding: 60px 16px 30px;
}
.profile_tab_form .expert_introduce_box {
  padding: 0;
  margin-top: 50px;
}
.profile_tab_form .expert_introduce_box img {
  max-width: 100%;
} /* 20201105 전문가프로필 이미지 사이즈 정의 */

/*  메인 - 마이프로필 - 프로필없음 */
.profile_tab_form .expert_profile_empty {
  padding: 40px 0;
  text-align: center;
} /* 20201102 전문가프로필등록 간격수정 */
.profile_tab_form .expert_profile_empty .empty_img {
  margin: 0 auto;
  width: 110px;
}
.profile_tab_form .expert_profile_empty .empty_img img {
  width: 100%;
}
.profile_tab_form .expert_profile_empty .empty_title {
  margin-top: 60px;
  line-height: 1.4;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.profile_tab_form .expert_profile_empty .empty_text {
  line-height: 1.6;
  font-size: 14px;
  color: #666;
}
.profile_tab_form .expert_profile_empty .empty_title + .empty_text {
  margin-top: 20px;
}
.profile_tab_form .expert_profile_empty .empty_text + .empty_text {
  margin-top: 20px;
}

/* 20200909 회원탈퇴 */
.profile_tab_form .membership_withdraw {
  margin-top: 20px;
  text-align: center;
}
.profile_tab_form .membership_withdraw .btn_pack {
}
.profile_tab_form .membership_withdraw .btn_pack button {
  width: auto;
  padding: 0 54px;
}

/*------------------------------------------------
    메인 - 마이프로필 - 마이프로필편집
------------------------------------------------*/
/* 메인 - 마이프로필 - 기본프로필편집 */
.info_edit_box [class$="form"]:not([type="button"]) {
  margin-top: 20px;
}
.info_edit_box .table_pack {
  margin-top: 20px;
}
.info_edit_box .myprofile_notice_set {
  margin-top: 20px;
}

/* 메인 - 마이프로필 - 전문가프로필편집 */
.expert_edit_box {
}
.expert_edit_box [class$="_form"] {
  margin-top: 30px;
}
.expert_edit_box [class$="_form"]:first-of-type {
  margin-top: 0;
}

/* 메인 - 마이프로필 - 재능분야 */
.expert_edit_box .support_field_form {
}
.expert_edit_box .support_field_form .support_field_item {
  margin-top: -20px;
  font-size: 0;
}
.expert_edit_box .support_field_form .input_pack {
  margin-top: 20px;
  width: 50%;
  vertical-align: top;
}

/* 메인 - 마이프로필 - 경력사항 */
.expert_edit_box .career_form {
}

/* 메인 - 마이프로필 - 자격증 */
.expert_edit_box .certificate_form {
}
.expert_edit_box .certificate_form .upload_item_group + .btn_pack {
  margin-top: 12px;
  text-align: center;
}

/* 메인 - 마이프로필 - 수상경력 */
.expert_edit_box .award_form {
}
.expert_edit_box .award_form .upload_item_group + .btn_pack {
  margin-top: 12px;
  text-align: center;
}

/* 메인 - 마이프로필 - 전문가소개 */
.expert_edit_box .introduce_form {
}

/* 메인 - 마이프로필 - 암웨이계정 */
.myprofile_notice_set {
  text-align: center;
}
.myprofile_notice_set .myprofile_notice {
  line-height: 1.6;
  font-size: 14px;
  color: rgba(102, 102, 102, 0.5);
  vertical-align: middle;
}
.myprofile_notice_set .btn_pack {
  display: inline-block;
  margin-top: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #666;
  background: url("../image/content/icon_myprofile_notice.png") no-repeat right
    center;
  background-size: 6px 9px;
}
.myprofile_notice_set .btn_pack button {
  padding-right: 12px;
  height: 18px;
  font-size: 14px;
  color: #666;
}

/*------------------------------------------------
   메인 - 마이스케줄 스케줄
------------------------------------------------*/
/* 메인 - 마이스케줄 - 레이아웃 */
.my_schedule_area .my_schedule_calendar + .my_schedule_list {
  margin-top: 20px;
}
.my_schedule_area .my_schedule_list .search_util_set + .my_schedule_item {
  margin-top: 20px;
}
.my_schedule_area .my_schedule_list .schedule_list_form + .schedule_list_form {
  margin-top: 20px;
}
.my_schedule_area .more_view {
  margin-bottom: -30px;
}

/* 메인 - 마이스케줄 - 영역 */
.my_schedule_area {
}
.my_schedule_area .tab_pack .tab_btn_item .tab_btn {
  width: 50%;
  text-align: center;
}
.my_schedule_area .tab_pack .tab_conts_item .tab_conts {
  padding: 18px 16px 30px;
  background: #f4f5f6;
}
.my_schedule_area .calendar_pack {
  margin-top: 12px;
} /* 20200827 간격추가 */

.my_schedule_area .search_util_set {
  min-height: 40px;
  margin-bottom: 5px;
}
.my_schedule_area .search_util_set.type_title {
  float: right;
}
.my_schedule_area .search_util_set.type_title ~ .schedule_list_info {
  float: left;
}
.my_schedule_area .my_schedule_item {
  margin-top: 10px;
  clear: both;
}

.schedule_list_info {
  padding: 5px 0;
}
.schedule_list_info:after {
  content: "";
  display: block;
  clear: both;
}
.schedule_list_info .list_volume {
  width: 100%;
  font-size: 14px;
  _font-weight: bold;
  color: #666;
}
.schedule_list_info .list_volume .list_number {
  margin-left: 5px;
  color: #2c439f;
}
.schedule_list_info .list_no_volume {
  font-size: 14px;
  color: #666;
}

/*------------------------------------------------
   메인 - 마이스케줄 - 신고하기
------------------------------------------------*/
/* 메인 - 마이스케줄 - 신고하기폼 */
.issue_report_form {
}
.issue_report_form .issue_user_info {
  padding: 15px 16px;
  border-radius: 6px;
  background: #f2f3f4;
  text-align: center;
  box-sizing: border-box;
}
.issue_report_form .issue_user_info .user_reserve_number {
  line-height: 1.4;
  font-size: 14px;
  color: #666;
}
.issue_report_form .issue_user_info .user_reserve_number:before {
  content: "예약번호:";
}
.issue_report_form .issue_user_info .user_nickname {
  line-height: 1.4;
  font-size: 14px;
  color: #666;
}
.issue_report_form .issue_user_info .user_nickname:before {
  content: " - ";
}
.issue_report_form .issue_user_info .user_name {
  line-height: 1.4;
  font-size: 14px;
  color: #666;
}
.issue_report_form .issue_user_info .user_name:before {
  content: "(";
}
.issue_report_form .issue_user_info .user_name:after {
  content: ")";
}
.issue_report_form .issue_user_info + .form_title {
  margin-top: 20px;
}

/* 메인 - 마이스케줄 - 신청자관리 */
.user_management_area {
  padding: 30px 16px;
}
.user_management_area .calendar_pack + .time_select_form {
  padding-top: 25px;
  margin-top: 10px;
  border-top: 1px solid #eaeaea;
}

/*==========================================================
   페이지 - 서비스리스트
==========================================================*/
/*------------------------------------------------
   서비스리스트 - 리스트
------------------------------------------------*/
/* 서비스리스트 - 검색유틸세트 */
.schedule_choice_box {
}
.schedule_choice_box .date_select_form ~ .time_select_form {
  margin-top: 40px;
}

/* 서비스리스트 - 영역 */
.class_list_zone {
}

/* 서비스리스트 - 레이아웃 */
.class_list_area .search_util_set {
  padding: 0 16px;
}
.class_list_area .search_util_set + .class_list_box {
  margin-top: 20px;
}

/* 서비스리스트 - 영역 */
.class_list_area {
  padding: 20px 0 30px;
}
.class_list_area > .btn_pack {
  margin-bottom: -30px;
}

/* 서비스리스트 - 레이아웃 */
.class_list_box {
  padding: 0 16px;
}
.class_list_box .class_list_item {
  position: relative;
}
.class_list_box .class_list_form {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  cursor: pointer;
}
.class_list_box .class_list_form + .class_list_form {
  margin-top: 45px;
} /* 20200827 간격수정 */
.class_list_box .class_list_form .class_banner_pack + .intro_set {
  margin-top: 10px;
} /* 20200827 간격수정 */

/*------------------------------------------------
    서비스리스트 - 서비스상세
------------------------------------------------*/
/* 서비스리스트 - 서비스상세 - 배너스와이퍼 */
.detail_class_swiper {
}
.detail_class_swiper .swiper-wrapper .swiper-slide {
  height: 56vw;
} /* 20201103 서비스상세 배너 규격정의 */
.detail_class_swiper .swiper-wrapper .swiper-slide > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 서비스리스트 - 서비스상세 - 페이지네이션 */
.detail_class_swiper .swiper-pagination {
  z-index: 100;
}
.detail_class_swiper .swiper-pagination .swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: #666;
  opacity: 0.5;
  transition: 300ms;
}
.detail_class_swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  background: #3750b4;
  opacity: 1;
}

/* 서비스리스트 - 서비스소개박스 - 레이아웃 */
.class_introduce_box {
  padding-top: 30px;
}
.class_introduce_box .number_list_pack {
  margin: 30px 0 20px;
}
.tab_conts .class_introduce_box .banner_pack {
  margin: 0 -16px;
}

/* 서비스리스트 - -서비스소개박스 */
.class_introduce_box {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.6;
  font-size: 14px;
  color: #666;
}
.class_introduce_box img {
  max-width: 100%;
} /* 20201105 강의설명 이미지 사이즈정의 */
.class_introduce_box .class_head_copy {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  color: #333;
}
.class_introduce_box .class_head_copy .emphasis {
  color: #3750b4;
}
.class_introduce_box .class_head_copy + .class_body_copy {
  margin-top: 30px;
}
.class_introduce_box .class_body_copy {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}

/* 서비스리스트 - 예약완료정보 */
.reserve_info_form {
}
.reserve_info_form .schedule_list_form {
  border-radius: 0;
  background: rgba(51, 51, 51, 0.96);
}
.reserve_info_form .schedule_list_form .schedule_head {
  padding-right: 65px;
}
.reserve_info_form .schedule_list_form .schedule_head {
}
.reserve_info_form .schedule_list_form .schedule_head .schedule_state {
  padding: 0;
  border: 0;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
}
.reserve_info_form .schedule_list_form .schedule_head .schedule_state .state {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 6px;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: bold;
}
.reserve_info_form .schedule_list_form .schedule_head .schedule_info {
  margin-top: 10px;
  font-size: 0;
}
.reserve_info_form .schedule_list_form .schedule_head .schedule_info .position {
  color: #fff;
}
.reserve_info_form .schedule_list_form .schedule_head .schedule_info .room {
  color: #fff;
}
.reserve_info_form .schedule_list_form .schedule_head .schedule_info .date {
  color: #fff;
}
.reserve_info_form
  .schedule_list_form
  .schedule_head
  .schedule_info
  .position
  + .date {
}
.reserve_info_form
  .schedule_list_form
  .schedule_head
  .schedule_info
  .position
  + .date:before {
  background: #fff;
}
.reserve_info_form .schedule_list_form .before_approval {
  margin-top: 18px;
}
.reserve_info_form .schedule_list_form .before_approval .btn_pack button {
  color: #707070;
}
.reserve_info_form .schedule_list_form .after_approval {
  margin-top: 18px;
}

/*------------------------------------------------
    서비스리스트 - 서비스상세 - 전문가소개
------------------------------------------------*/
/* 서비스리스트 - 서비스상세 - 전문가소개 - 레이아웃 */
.expert_introduce_box .document_group {
  padding-bottom: 0;
}

/* 서비스리스트 - 서비스상세 - 전문가소개박스 */
.expert_introduce_box {
  padding: 30px 0;
}
.expert_introduce_box .expert_head {
  padding-bottom: 14px;
  border-bottom: 1px solid #eaeaea;
}
.expert_introduce_box .expert_head:after {
  content: "";
  display: block;
  clear: both;
}
.expert_introduce_box .expert_head .expert_title {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.expert_introduce_box .expert_head .expert_util {
  float: right;
  font-size: 0;
}
.expert_introduce_box .expert_head .expert_util .btn_pack {
  display: inline-block;
  width: 36px;
}
.expert_introduce_box .expert_head .expert_util .btn_pack button {
  height: 26px;
}
.expert_introduce_box .expert_summary {
  font-size: 0;
}
.expert_introduce_box .expert_summary .expert_photo {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  vertical-align: middle;
  overflow: hidden;
  box-sizing: border-box;
} /* 20200827 border-radius: 50%; */
.expert_introduce_box .expert_summary .expert_photo {
  background: #fff;
} /* 20201104 전문가프로필 기본이미지 제거 */
.expert_introduce_box .expert_summary .expert_photo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.expert_introduce_box .expert_summary .expert_photo:after {
  content: "";
  display: block;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  box-sizing: border-box;
}
.expert_introduce_box .expert_summary .expert_photo + .expert_info {
  margin-left: 20px;
}
.expert_introduce_box .expert_summary .expert_info {
  display: inline-block;
  vertical-align: middle;
}
.expert_introduce_box .expert_summary .expert_info .expert_duty {
  font-size: 14px;
  color: #3750b4;
}
.expert_introduce_box .expert_summary .expert_info .expert_identity {
  font-size: 20px;
} /* 20200821 전문가소개 닉네임(이름) margin-top 제거 */
.expert_introduce_box
  .expert_summary
  .expert_info
  .expert_identity
  .expert_nick {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: #333;
} /* 20200821 전문가소개 닉네임(이름) display: inline-block; width: 100%; */
.expert_introduce_box
  .expert_summary
  .expert_info
  .expert_identity
  .expert_name {
  color: #333;
}
.expert_introduce_box .expert_head + .expert_describe {
  margin-top: 30px;
}
.expert_introduce_box .expert_summary + .expert_describe {
  margin-top: 30px;
}
.expert_introduce_box .expert_describe {
  line-height: 1.6;
  font-size: 14px;
  color: #666;
}

/*------------------------------------------------
    서비스리스트 - 서비스상세 - 시간
------------------------------------------------*/
/* 서비스리스트 - 서비스상세 - 시간박스 */
.time_info_box {
  padding: 30px 0;
}
.time_info_box .text_notice_pack {
  padding-bottom: 10px;
}
.time_info_box .calendar_pack .calendar_table {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
}
.time_info_box .calendar_pack .calendar_note {
  padding: 0 16px;
}
.time_info_box .calendar_pack {
  padding-bottom: 20px;
}
.time_info_box .time_list_pack {
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
}

/*------------------------------------------------
    서비스리스트 - 서비스상세 - 주소
------------------------------------------------*/
/* 서비스리스트 - 서비스상세 - 주소박스 - 레이아웃 */
.address_info_box .document_group {
  padding-left: 16px;
  padding-right: 16px;
}
.address_info_box
  .document_group
  .document_pack
  .document_describe
  + .document_describe {
  margin-top: 30px;
}
.address_info_box .location_info {
  padding: 30px 16px 0;
}
.address_info_box .location_info .position {
  display: inline-block;
  line-height: 1.6;
  font-size: 14px;
  color: #666;
}
.address_info_box .location_info .position:after {
  content: ",";
  display: inline-block;
  padding-right: 2px;
}
.address_info_box .location_info .room {
  display: inline-block;
  line-height: 1.6;
  font-size: 14px;
  color: #666;
}
.address_info_box .location_info + .document_group {
  padding-top: 20px;
}

/* 주소박스 */
.address_info_box .google_map {
  width: 100%;
  height: 64vw;
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  overflow: hidden;
  background: #f4f5f6;
  cursor: pointer;
}

/*==========================================================
    페이지 - 검색
==========================================================*/
/*------------------------------------------------
    검색 - 검색박스
------------------------------------------------*/
/* 검색 - 검색박스폼 */
.search_form {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 0;
  height: 49px;
  width: 58px;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  _transition: 500ms;
}
.search_form.active {
  width: 100%;
}

/* 검색 - 검색박스팩 */
.search_form .input_pack {
  display: inline-block;
  margin: 0 58px;
  width: calc(100% - 116px);
}
.search_form .input_pack [type="search"] {
  height: 40px;
  padding-right: 40px;
} /* 20201103 인풋기준값 수정 */
.search_form .input_pack .input_placeholder {
  line-height: 40px;
  font-size: 14px;
}
.search_form .input_pack .input_clear {
  height: 40px;
  right: 0;
}
.search_form .search_cancel .btn_pack {
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  background: #fff url("../image/content/btn_search_back.png") no-repeat center;
  background-size: 9px 16px;
} /* 20200826 아이콘으로 변경 */
.search_form .search_cancel .btn_pack button {
  width: 100%;
  height: 50px;
  color: #666;
  font-size: 0;
} /* 20200826 아이콘으로 변경 */
.search_form .search_util {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 100%;
  background: #fff;
}
.search_form .search_util .btn_pack {
  width: 58px;
  height: 100%;
}
.search_form .search_util .btn_pack button {
  height: 100%;
}
.search_form .search_util .btn_pack:first-of-type {
  display: none;
}
.search_form .search_util .btn_pack:last-of-type {
  display: inline-block;
}
.search_form.active .search_util .btn_pack:first-of-type {
  display: inline-block;
}
.search_form.active .search_util .btn_pack:last-of-type {
  display: none;
}

/*------------------------------------------------
    검색 - 검색영역
------------------------------------------------*/
/* 검색 - 최근검색영역 */
.search_recent_area {
  z-index: 1200;
  display: none;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow-y: auto;
  background: #fff;
}
.search_recent_area.active {
  display: block;
}

/* 검색 - 검색결과영역 */
.search_result_area {
  z-index: 1100;
  display: none;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow-y: auto;
  background: #fff;
}
.search_result_area.active {
  display: block;
}

.search_result_area .search_result_info {
  padding: 0 16px 10px;
  font-size: 14px;
  color: #666;
}
.search_result_area .search_result_info .search_data {
  color: #3750b4;
}

/* 검색 - 검색결과영역 - 검색기록없음 */
.log_empty {
  padding: 185px 16px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

/* 검색 - 검색결과영역 - 최근검색어 */
.log_recent {
  padding: 20px 16px;
}
.log_recent .log_title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.log_recent .log_list_group {
  margin-top: 15px;
}
.log_recent .log_list_group .log_list_pack {
  position: relative;
  padding-right: 40px;
  border-bottom: 1px solid #f4f5f6;
} /* 20200819 padding영역수정 */
.log_recent .log_list_group .log_list_pack .log_text {
  -webkit-tap-highlight-color: rgba(55, 80, 180, 0);
  display: inline-block;
  width: 100%;
  padding: 12px 0 12px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
} /* 20200819 display, padding, width 수정 */
.log_recent .log_list_group .log_list_pack .btn_pack {
  position: absolute;
  top: 50%;
  right: -7px;
  margin-top: -20px;
  text-align: center;
}

/* 검색 - 검색결과영역 - 검색결과없음 */
.result_empty {
  padding: 185px 16px;
  font-size: 14px;
  color: #666;
  text-align: center;
}
.result_empty .search_data {
  color: #3750b4;
}

/* 검색 - 검색결과영역 - 검색결과리스트 */
.result_list {
}

/*==========================================================
    페이지 - 전체메뉴
==========================================================*/
/*------------------------------------------------
    전체메뉴 - 회원탈퇴
------------------------------------------------*/
/* 전체메뉴 - 회원탈퇴 */
.withdraw_info_box {
}
.withdraw_info_box .reason_check_list {
}
.withdraw_info_box .reason_check_list .input_pack {
  margin-top: 20px;
}
.withdraw_info_box .reason_check_list .input_pack:first-of-type {
  margin-top: 0;
}

/* 전체메뉴 - 회원탈퇴 - 레이아웃 */
.withdraw_info_box .intro_pack + .reason_check_list {
  margin-top: 20px;
}
.withdraw_info_box .guide_box_pack {
  margin-top: 50px;
}
.withdraw_info_box .guide_box_pack .guide_box_text {
  width: auto;
  text-align: left;
}
.withdraw_info_box .guide_box_pack .guide_box_text .emphasis_text:before {
  display: none;
}

/* 전체메뉴 - 회원탈퇴 - 윤리서약서 */
.ethic_promise_box {
}
.ethic_promise_box .clause_group {
  padding-bottom: 0;
}

/*==========================================================
    페이지 - 푸터
==========================================================*/
/*------------------------------------------------
   푸터 - 약관
------------------------------------------------*/
/* 푸터 - 약관뷰 */
.clause_view_area {
  padding: 0 16px;
}
.clause_view_area > .select_pack {
  margin-top: 30px;
}

.clause_view_area .document_describe + .document_describe {
  margin-top: 12px;
}
.clause_view_area .custom_list_pack + .custom_list_pack {
  margin-top: 3px;
}
.clause_view_area .document_describe + .document_depth {
  margin-top: 10px;
}
.clause_view_area .document_depth + .document_describe {
  margin-top: 10px;
}
.clause_view_area .document_depth .document_title {
  font-size: 12px;
}
.clause_view_area .document_depth .document_describe {
  font-size: 12px;
}

/* 20200826 WYSIWYG 항목 수정사항 */
.clause_view_area * {
  word-break: break-all;
  line-height: 1.4;
}
.clause_view_area table {
  table-layout: fixed;
  margin-left: 0 !important;
}
.clause_view_area table td {
  width: auto !important;
}

/*------------------------------------------------
   푸터 - 에러
------------------------------------------------*/
/* 에러 */
.error_area {
  padding: 120px 16px;
  text-align: center;
}
.error_area .error_state {
}
.error_area .error_state .error_notice {
  font-size: 20px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.3);
}
.error_area .error_state .error_code {
  font-family: "DINPro";
  font-size: 118px;
  font-weight: 800;
  color: rgba(51, 51, 51, 0.3);
}
.error_area .error_state + .error_main_text {
  margin-top: 30px;
}
.error_area .error_main_text {
  line-height: 1.4;
  font-size: 16px;
  font-weight: bold;
}
.error_area .error_main_text + .error_sub_text {
  margin-top: 30px;
}
.error_area .error_sub_text {
  line-height: 1.4;
  font-size: 14px;
  color: #666;
}
.error_area .error_sub_text .emphasis {
  font-weight: bold;
}
.error_area .error_sub_text + .error_sub_text {
  margin-top: 30px;
}

/*------------------------------------------------
   푸터 - 이벤트
------------------------------------------------*/
/* 푸터 - 이벤트 - 이미지 */
.event_img_box {
  padding: 30px 16px 0;
}
.event_img_box img {
  max-width: 100%;
}

/* 푸터 - 이벤트 - 텍스트 */
.event_describe_box {
  padding: 10px 16px;
  text-align: left;
}
.event_describe_box .event_text {
  line-height: 1.6;
  font-size: 12px;
  color: #999;
}

/*==========================================================
   기타 - PC유형
==========================================================*/
/*------------------------------------------------
   기타 - PC유형
------------------------------------------------*/
/* 기타 - PC유형 - 내비게이션 */
.contents .navigation_pack {
  position: absolute;
  top: -30px;
}

/* 기타 - PC유형 - 레아아웃 */
.navigation_pack + .depth_title {
  padding-top: 30px;
  border-top: 1px solid #e3e3e3;
}
.depth_title {
  padding-bottom: 20px;
  line-height: 1.4;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  box-sizing: border-box;
}

/* 기타 - 이미지오버레이 */
.timetable_form .timetable_banner .timetable_banner_copy {
  z-index: 100;
}
.img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
