@charset "utf-8";
/* version 1.0 | 2020-08-28 */

/*==========================================================
    반응형공통
==========================================================*/
/*------------------------------------------------
   반응형공통
------------------------------------------------*/   
.apro .pc_view:not(.section_area) { display: none; }
.apro .pc_view.section_area { }
.apro .pc_minimum { }
.apro .bgcolor { background: #F4f5f6; }
.apro .search_form.on_search { display: block; } /* 20200827 서치유무 정의 */


/* pc 기준점 */
@media ( min-width: 1024px ){
    /*==========================================================
        반응형공통
    ==========================================================*/
    /*------------------------------------------------
        반응형공통
    ------------------------------------------------*/
    html { overflow-x: hidden; overflow-y: auto; }
    
    .apro .pc_view:not(.section_area) { display: block; }
    .apro .pc_view.section_area { padding: 0; border: none; }
    .apro .pc_minimum { margin-left: auto; margin-right: auto; width: 500px; }
    .apro .type_util { width: 668px; }
    .apro .bgcolor { background: transparent; }


    .apro .search_form { display: block; } /* 20200827 서치유무 정의 */

    /*------------------------------------------------
        반응형간격
    ------------------------------------------------*/
    /* 메인 */
    .contents .main_area { padding-left: 0; padding-right: 0;}

    /* 섹션 */
    .contents .section_head { padding-left: 0; padding-right: 0; }
    .contents .section_area { padding-left: 0; padding-right: 0; }
    .contents .section_area:last-of-type { padding-bottom: 0; }

    /* 공통 - 켈린더 */
    .time_info_box .calendar_pack .calendar_table { margin-left: 0; margin-right: 0; }
    
    /* 공통 - 문서그룹 */
    .clause_view_area .document_group { padding-bottom: 0; }
    
    /* 메인 - 마이프로필 */
    .profile_tab_form .tab_pack .tab_conts_item .tab_conts { padding-bottom: 0; }
    
    /* 메인 - 마이스케줄 - 신청자관리 */
    .user_management_area { padding-left: 0; padding-right: 0; }
    .user_info_area { padding-left: 0; padding-right: 0; padding-bottom: 0; }
    


    /*==========================================================
        레이아웃
    ==========================================================*/
    /*------------------------------------------------
        레이아웃 - 헤더영역
    ------------------------------------------------*/  
    /* 헤더 */
    .apro .header { border-bottom: 1px solid rgba(102, 102, 102, 0.3); box-sizing: border-box; }
    .apro .header.type_border { border-color: #e0e0e0; }
    .apro .header .header_wrap { height: 105px; }
    .apro .header .header_wrap .header_menu { height: 105px; left: -20px; }
    .apro .header .header_wrap .header_menu .btn_pack .icon_menu { background-size: 26px 26px;} 
    .apro .header .header_wrap .header_menu .btn_pack .icon_menu_close { background-size: 26px 26px;}
    .apro .header .header_wrap .header_menu .btn_pack:last-of-type:before { content: ""; display: block; position: absolute; left: 50%; bottom: 0; width: 9px; height: 9px; border: 1px solid #e0e0e0; border-width: 1px 1px 0 0; transform: translate( -50%, 50%) rotate(-45deg); background: #fff; }

    .apro .header .header_wrap .header_title { padding-left: 40px; line-height: 105px; text-align: left; }
    .apro .header .header_wrap .header_title .header_text { display: none; }
    .apro .header .header_wrap .header_title .header_logo { display: inline-block; padding-top: 0; padding-bottom: 6px; padding-left: 40px; }
    .apro .header .header_wrap .header_title .header_category { display: none; }
    .apro .header .header_wrap .header_title.type_mainpage .header_text { display: none; }
    .apro .header .header_wrap .header_title.type_mainpage .header_logo { display: inline-block; }
    .apro .header .header_wrap .header_title.type_mainpage .header_category { display: none; }
    .apro .header .header_wrap .header_title.type_classlist .header_text { display: none; }
    .apro .header .header_wrap .header_title.type_classlist .header_logo { display: inline-block; }
    .apro .header .header_wrap .header_title.type_classlist .header_category { display: none; }

    .apro .header .header_wrap .search_form { padding: 27px 0; width: 320px; height: 105px; }
    .apro .header .header_wrap .search_form .input_pack { margin: 0; width: 100%; }
    .apro .header .header_wrap .search_form .input_pack [type="search"] { padding-right: 80px; height: 50px; } /* 20201103 인풋기준값 수정 */
    .apro .header .header_wrap .search_form .input_pack .input_placeholder { display: block; right: 35px; line-height: 50px; }
    .apro .header .header_wrap .search_form .input_pack .input_clear { top: 4px; right: 35px; } /* 20200819 탑 위치 추가 */
    .apro .header .header_wrap .search_form .search_util .btn_pack:first-of-type { display: inline-block; }
    .apro .header .header_wrap .search_form .search_util .btn_pack:last-of-type { display: none; }
    .apro .header .header_wrap .search_form .search_util .btn_pack .icon_search { background-image: url(../image/layout/btn_search_pc.png); }
    .apro .header .header_wrap .search_form .search_util { background: transparent; }
    .apro .header .header_wrap .search_form .search_util .icon_search_open { position: absolute; top:0 ; right: 0; width: 200px; background-position: 162px center; }
    .apro .header .header_wrap .search_form .search_cancel { display: none; }


    /*------------------------------------------------
        레이아웃 - 컨테이너
    ------------------------------------------------*/
    /* 컨테이너 */
    .apro .container .contents_wrap { padding-top: 70px; padding-bottom: 50px; }
    .apro .container .contents_wrap.type_myschedule { padding-bottom: 0px; }
    /* .apro .container .contents_wrap.type_management { padding-bottom: 0px; } */

    /* PC멀티뷰 */
    .apro .container .contents_wrap.multi_view .contents { padding-right: 356px; box-sizing: border-box; }
    .apro .container .contents_wrap.multi_view .contents .pc_fixed { z-index: 900; position: fixed; left: calc(50% + 192px); width: 320px; }
    .apro .container .contents_wrap.multi_view ~ .container_bottom { padding-right: 356px; box-sizing: border-box; }

    /* PC싱글뷰 */
    .apro .container .contents_wrap.single_view .contents { width: 668px; margin: 0 auto; }
    .apro .container .contents_wrap.single_view .contents .pc_fixed { display: none; }
    .apro .container .contents_wrap.single_view ~ .container_bottom { left: 50%; margin-left: -334px; width: 668px; }

    /* 바텀픽스버튼 */
    .apro .container .contents .fixed_bottom_area:not(.type_util) { display: none; }


    /*------------------------------------------------
        레이아웃 - 컨테이너바텀
    ------------------------------------------------*/
    .apro .container .container_bottom .bottom_btn_area { padding-left: 0; padding-right: 0; padding-bottom: 80px; }
    .apro .container .container_bottom .info_table_form { padding-left: 0; padding-right: 0; }


    /*------------------------------------------------
        레이아웃 - 푸터
    ------------------------------------------------*/
    /* 푸터 */
    .apro .footer_wrap { position: relative; }
    .apro .footer_wrap:before { z-index: -1; content: ""; display: block; position: absolute; top: 0px; left: -99vw; width: 100vw; height: 100%; background: #3a4458; }
    .apro .footer_wrap:after { z-index: -1; content: ""; display: block; position: absolute; top: 0px; left: 1023px; width: calc(50vw - 511px);; height: 100%; background: #3a4458; }   /* 20201105 넓이수정 503 -> 511 */
    .apro .footer_wrap .footer_set .footer_link { position: relative; }
    .apro .footer_wrap .footer_set .footer_link:before { content: ""; display: block; position: absolute; top: 0px; left: -100vw; width: 100vw; height: 100%; background: rgba(0, 0, 0, 0.2); }
    .apro .footer_wrap .footer_set .footer_link:after { content: ""; display: block; position: absolute; top: 0px; left: 1024px; width: calc(50vw - 511px);; height: 100%; background: rgba(0, 0, 0, 0.2); }   /* 20201105 넓이수정 503 -> 511 */
    .apro .footer_wrap .footer_set .footer_link .footer_link_item { width: 50%; }



    /*==========================================================
        컴포넌트
    ==========================================================*/
    /*------------------------------------------------
        멀티토글
    ------------------------------------------------*/ 
    /* 멀티토글 */
    .time_select_form .toggle_pack.type_multi .toggle_item .btn_pack { width: calc( 33.3% - 10px); }


    /*------------------------------------------------
        인트로 세트 - pc확장
    ------------------------------------------------*/
    /* 인트로 - 세트 - 요약정보 - 확장타입 */
    .intro_set.pc_fixed { padding: 30px; border: 1px solid #e0e0e0; border-radius: 8px; background: #fff; box-sizing: border-box; }
    .intro_set.pc_fixed .intro_info .intro_tag { font-size: 14px; }
    .intro_set.pc_fixed .intro_pack .intro_describe { font-size: 14px; }
    .intro_set:not(.type_management).pc_fixed .intro_util { display: block; }
    .intro_set:not(.type_management).pc_fixed .intro_summary { margin-top: 20px; }
    .intro_set:not(.type_management).pc_fixed .intro_summary { padding: 20px 0; border-radius: 10px; background: #f9f9f9; }
    .intro_set:not(.type_management).pc_fixed .intro_summary .summary_item { padding-top: 35px; width: 33.3%; box-sizing: border-box; text-align: center; color: #999; }
    .intro_set:not(.type_management).pc_fixed .intro_summary .summary_item + .summary_item { margin: 0px; padding-left: 0px; } 
    .intro_set:not(.type_management).pc_fixed .intro_summary .summary_item + .summary_item:before { height: 24px; margin-top: -12px; background: rgba(102, 102, 102, 0.5); }
    .intro_set:not(.type_management).pc_fixed .intro_summary .summary_item.type_location { background: url('../image/content/icon_location_expand.png') no-repeat center 6px; background-size: 16px 20px; }
    .intro_set:not(.type_management).pc_fixed .intro_summary .summary_item.type_duration { background: url('../image/content/icon_duration_expand.png') no-repeat center 7px; background-size: 18px 18px; }
    .intro_set:not(.type_management).pc_fixed .intro_summary .summary_item.type_people { background: url('../image/content/icon_people_expand.png') no-repeat center 7px; background-size: 16px 18px; }

 


    /*------------------------------------------------
        프로필폼
    ------------------------------------------------*/    
    /* 프로필폼 - */
    .profile_pack { cursor: default; } /* 20201028 pc화면의 프로필이미지 클릭기능 삭제 */
    .profile_form.pc_fixed { display: block; top: 160px; }
    .profile_form.pc_fixed { padding: 0 30px 35px; border: 1px solid #e0e0e0; border-radius: 8px; background: #fff; box-sizing: border-box; } 
    .profile_form.pc_fixed .profile_set { padding-top: 0; margin-top: -50px; }
    .profile_form.pc_fixed .profile_set .profile_pack { width: 125px; height: 125px; }
    .profile_form.pc_fixed .profile_set .profile_pack .profile_photo { _background-size: 125px 125px; } /* 20201104 프로필 백그라운드 이미지 제거 */
    .profile_form.pc_fixed .profile_set .profile_pack .profile_edit { display: none; }
    .profile_form.pc_fixed .profile_util { display: table; }   
    
    /* 정렬 */
    .profile_form.pc_fixed ~ .intro_set.pc_fixed { margin-top: 30px; }   
    .profile_form.pc_fixed ~ .section_area .intro_set.pc_fixed { margin-top: 30px; }
    .profile_form.pc_fixed ~ .schedule_list_form.pc_fixed { margin-top: 30px; }  


    /*------------------------------------------------
        탭
    ------------------------------------------------*/ 
    .tab_btn_item.type_fixed { z-index: 800; } 

    /*------------------------------------------------
        타임테이블
    ------------------------------------------------*/  
    /* 타임테이블 - BG */
    .timetable_area:before { z-index: -1; content: ""; display: block; position: absolute; top: 0px; left: -100vw; width: 100vw; height: 100%;  background: #f4f5f6; }
    .timetable_area:after { z-index: -1; content: ""; display: block; position: absolute; top: 0px; left: 700px; width: calc(50vw - 172px); height: 100%;  background: #f4f5f6; } /* 20201105 넓이수정 164 -> 172 */


    /*------------------------------------------------
        셀랙트팩
    ------------------------------------------------*/  
    /* 셀랙트팩 -  */
    .select_pack.pc_fixed { margin-top: 0; }


    /*------------------------------------------------
        약관뷰
    ------------------------------------------------*/  
    /* 셀랙트팩 -  */
    .clause_view_area { padding: 0; }


    /*------------------------------------------------
        스케줄리스트폼
    ------------------------------------------------*/  
    /* 셀랙트팩 -  */
    .schedule_list_form.pc_fixed { padding: 30px; border: 1px solid #e0e0e0; border-radius: 8px; background: #fff; box-sizing: border-box; }
    .schedule_list_form.pc_fixed .before_approval { margin-top: 20px; }

    

    /*==========================================================
        페이지 - 로그인
    ==========================================================*/
    /*------------------------------------------------
        페이지 - 로그인
    ------------------------------------------------*/
    /* 로그인 - 레아아웃 - 공통 */
    .contents .login_area { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }
    .contents .login_area .login_head { padding: 0px; }
    .contents .login_area .login_body { margin-top: 90px; }
    .contents .login_area .login_body .login_form { position: relative; }
    .contents .login_area .login_body .login_form:before { z-index: -1; content: ""; position: absolute; top: 145px; right: 50%; bottom: 0; width: 50vw; height: 50vh; background: #f4f5f6; }
    .contents .login_area .login_body .login_form:after { z-index: -1; content: ""; position: absolute; top: 145px; left: 50%; bottom: 0; width: 50vw; height: 50vh; background: #f4f5f6; }
    .contents .login_area .login_body .login_form + .btn_pack { margin-top: 22px; }
    .contents .login_area .login_body .login_form + .btn_group { margin-top: 22px; }

    /* 로그인 - 레이아웃 - 탭 */
    .contents .login_area .login_body .login_tab .tab_pack .tab_conts { overflow: visible; }
    .contents .login_area .login_body .login_tab .tab_pack .tab_btn_item { border: none; }
    .contents .login_area .login_body .login_tab .login_form:before { top: 180px; }
    .contents .login_area .login_body .login_tab .login_form:after { top: 180px; }


    /*------------------------------------------------
        페이지 - 로그인 - 프로필등록
    ------------------------------------------------*/
    .profile_register_form { }
    .profile_register_form .verify_form{ }



    /*==========================================================
        페이지 - 메인
    ==========================================================*/
    /*------------------------------------------------
        메인 - 메인
    ------------------------------------------------*/   
    /* 메인 - 프로필영역 */
    .contents .main_area:first-of-type { _margin-top: 80px; }
    .contents .profile_form .expert_notice { font-size: 12px; padding-right: 30px; }

    /* 메인 - 캘린더  */
    .contents .main_area + .main_area { padding-bottom: 0; }
    .contents .main_area .calendar_set { margin-top: 0; }

    /* 메인 - 서비스카테고리 */
    .contents .main_area .class_category { display: none; }
    .contents .main_area .calendar_set .timetable_area.active .timetable_form { margin-top: 40px; } 

    /* 메인 - 추천서비스 */
    .contents .main_area .recommend_class .recommend_class_swiper { margin: -20px 0 0; padding: 40px 0 0; }
    .contents .main_area .recommend_class .recommend_class_swiper .swiper-wrapper .swiper-slide { height: 240px; }
    .contents .main_area .recommend_class .recommend_class_swiper .swiper-wrapper .swiper-slide .class_swiper_img { }
    .contents .main_area .recommend_class .recommend_class_swiper .swiper-pagination { width: auto; top: 5px; left: auto; right: 0; }
        
    /* 메인 - 이벤트 */
    .contents .main_area .recommend_event { top: 600px; padding-top: 0; }
    .contents .main_area .recommend_event .intro_pack { display: none; }
    .contents .main_area .recommend_event .recommend_event_group {  }
    .contents .main_area .recommend_event .recommend_event_group .recommend_event_list .recommend_event_img { height: 120px; } /* 20201102 pc 이벤트 높이 고정값적용  */


    /* 메인 - 공지 */
    .main_area .recommend_event .notice_group {  }


    /*------------------------------------------------
        메인 - 마이스케줄
    ------------------------------------------------*/   
    /* 메인 - 마이스케줄 - 서비스상세 */
    .contents .tab_pack .tab_btn_item { box-shadow: none; border-bottom: 1px solid #e0e0e0; overflow: visible; }
    .tab_area .tab_pack .tab_conts_item .tab_conts { padding-left: 0; padding-right: 0; }

    .contents .tab_pack .tab_btn_item .navi_bar { bottom: -1px; }
    /* .contents .tab_pack .tab_btn_item:after { content: ""; position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 1px; background: #e0e0e0;  } */

    .contents .detail_class_swiper + .section_area { padding: 0; }
    .contents .section_area + .tab_area { border: 0; }

    .contents .detail_class_swiper .swiper-wrapper .swiper-slide { height: 375px; border-radius: 8px; overflow: hidden; }
    /* 서비스상세 - 구글맵영역 */
    .address_info_box .google_map { height: 390px; }


    /*------------------------------------------------
        메인 - 마이스케줄
    ------------------------------------------------*/
    /* 메인 - 마이스케줄 */
    .my_schedule_area .tab_pack .tab_btn_item { padding: 0;}
    .my_schedule_area .tab_pack .tab_btn_item .tab_btn { width: auto; }
    .my_schedule_area .tab_pack .tab_btn_item .tab_btn + .tab_btn { margin-left: 50px; }
    .my_schedule_area .tab_pack .tab_btn_item .tab_btn button { padding: 0; }
    .my_schedule_area .tab_pack .tab_conts_item .tab_conts { padding: 30px 0 50px; }

    /* 메인 - 마이스케줄 - BG */
    .my_schedule_area .tab_btn_item:before { content: ""; display: block; position: absolute; top: 0; left: -100vw; width: 100vw; height: 100%;  background: #fff; }
    .my_schedule_area .tab_btn_item:after { content: ""; display: block; position: absolute; top: 0; left: 668px; width: calc(50vw - 334px); height: 100%;  background: #fff; }  /* 20201105 넓이수정 326 -> 334 */
    .my_schedule_area .tab_conts_item { position: relative; }
    .my_schedule_area .tab_conts_item:before { z-index: -1; content: ""; display: block; position: absolute; top: 0; left: -100vw; width: 100vw; height: 100%;  background: #f4f5f6; }
    .my_schedule_area .tab_conts_item:after { z-index: -1; content: ""; display: block; position: absolute; top: 0; left: 668px; width: calc(50vw - 334px); height: 100%;  background: #f4f5f6; }  /* 20201105 넓이수정 326 -> 334 */

    /* 메인 - 마이스케줄 - 신청자관리 BG */
    .user_info_area:before { z-index: -1; content: ""; display: block; position: absolute; top: 0px; left: -50vw; width: 100vw; height: calc(100% + 50px); background: #f4f5f6; }
    .user_info_area:after { z-index: -1; content: ""; display: block; position: absolute; top: 0px; left: 668px; width: calc(50vw - 164px); height: calc(100% + 50px); background: #f4f5f6; }  /* 20201105 넓이수정 156 -> 164 */

    /*------------------------------------------------
        메인 - 마이프로필
    ------------------------------------------------*/
    .profile_tab_form .tab_pack .tab_btn_item { padding: 0;}
    .profile_tab_form .tab_pack .tab_btn_item .tab_btn { width: auto; }
    .profile_tab_form .tab_pack .tab_btn_item .tab_btn + .tab_btn { margin-left: 50px; }
    .profile_tab_form .tab_pack .tab_btn_item .tab_btn button { padding: 0; }

    /*------------------------------------------------
        메인 - 마이프로필  전문가프로필 편집
    ------------------------------------------------*/
    .expert_edit_box .support_field_form .input_pack { width: 33.3%; }



    /*==========================================================
        페이지 - 서비스리스트
    ==========================================================*/
    /*------------------------------------------------
        서비스리스트
    ------------------------------------------------*/
    .class_list_zone {}
    .class_list_zone .tab_pack .tab_btn_item { padding: 0;}
    .class_list_zone .tab_pack .tab_btn_item .tab_btn { width: auto; }
    .class_list_zone .tab_pack .tab_btn_item .tab_btn + .tab_btn { margin-left: 50px; }
    .class_list_zone .tab_pack .tab_btn_item .tab_btn button { padding: 0; }

    .class_list_area { position: relative; }
    .class_list_area .search_util_set { position: absolute; top: 20px; left: 0; width: 100%; padding: 0; }

    .class_list_area .search_result_info { position: absolute; top: 0px; left: 0; width: 100%; padding: 0; }



    .class_list_area .search_util_set + .class_list_box { padding: 60px 0 0 15px; margin-top: 0; }
    .class_list_area .class_list_box { margin: -50px 0 0 -15px; font-size: 0; }
    .class_list_area .class_list_box .class_list_item { margin: -50px 0 0 -15px; font-size: 0; }
    .class_list_area .class_list_box .class_list_item .class_list_form { display: inline-block; padding: 0; margin: 50px 0 0 15px; width: calc(50% - 15px); vertical-align: top; } /* 20201102 콘텐츠 정보에따른 위치 정렬 */
    .class_list_area .class_list_box .class_list_item .class_list_form + .class_list_form { margin-top: 50px }
    .class_list_area .class_list_box .class_list_item .class_list_form .class_banner_pack { height: 182px; } /* 20201028 pc 강의리스으 이미지사이즈 규격 고정 */



    /*==========================================================
        페이지 - 검색
    ==========================================================*/
    /*------------------------------------------------
        검색 - 최근검색영역
    ------------------------------------------------*/
    .search_recent_area { z-index: 1950; top: 85px; bottom: auto; left: calc(50% + 192px); width: 320px; padding-bottom: 5px; border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); }
    .search_recent_area .log_list_group .log_list_pack { border: none; }
    .search_result_area { top: 106px; left: 0; right: 0; bottom: 0; padding: 70px 0 50px; }
    .search_result_area .result_list { width: 668px; margin: 0 auto; }
    .search_result_area .result_empty { width: 668px; margin: 0 auto; }



    /*==========================================================
        페이지 - 전체메뉴
    ==========================================================*/
    /*------------------------------------------------
        전체메뉴
    ------------------------------------------------*/ 
    /* 전체메뉴 - 레이아웃 */
    .total_menu .total_menu_logo + .total_menu_copy { margin-top: 20px; }

    /* 전체메뉴 - 활성화/비활성화 */
    .total_menu { display: none; top: 106px; left: 0; padding: 0 0 40px 0; width: 100%; height: auto; max-height: 700px; border-bottom: 1px solid #e0e0e0; background: #fff; transition: none; overflow-y: auto; }
    .total_menu.active { _height: auto; }

    /* 전체메뉴 - 전체메뉴닫기 */
    .total_menu .total_menu_close { display: none; }

    /* 전체메뉴 - 메뉴그룹 */
    .total_menu_group { position: relative; padding-left: 180px; padding-right: 0; margin: 0 auto; width: 100%; height: 100%; max-width: 1024px; font-size: 0; box-sizing: border-box; overflow: hidden; }
    .total_menu_group:after { content: ''; position: absolute; display: block; top: 40px; left: 180px; height: 100%; width: 1px; background: #e0e0e0; }

    /* 전체메뉴 - 탑 */
    .total_menu .total_menu_logo { display: none; }
    .total_menu .total_menu_copy { display: none; }

    /* 전체메뉴 - 메뉴리스트 */
    .total_menu .total_menu_list {  position: absolute; top: 40px; left: 0; margin: 0; width: 160px; border: none; }
    .total_menu .total_menu_list .btn_pack + .btn_pack { margin-top: 25px; }
    .total_menu .total_menu_list .btn_pack button { height: auto; line-height: 1.15; background: none; }

    /* 전체메뉴 - 메뉴아코디언 */
    .total_menu .total_menu_accordion { display: inline-block; position: relative; padding-top: 40px; padding-left: 80px; margin: 0 auto; width: 25%; box-sizing: border-box; vertical-align: top; }
    .total_menu .total_menu_accordion .accordion_pack .accordion_list { padding-top: 0; padding-right: 0; }
    .total_menu .total_menu_accordion .accordion_pack .accordion_list .accordion_title { padding: 0; cursor: default; } /* 20201103 전체메뉴 아코디언 타이틀 cursor 삭제 */
    .total_menu .total_menu_accordion .accordion_pack .accordion_list .btn_pack { display: none; }
    .total_menu .total_menu_accordion .accordion_pack .accordion_conts { padding: 0; }
    .total_menu .total_menu_accordion:nth-of-type( 4n) { padding-left: 40px; }

    /* 전체메뉴 - 로그아웃 */
    .total_menu .total_menu_logout { display: none; }
   


    /*==========================================================
        페이지 - 푸터
    ==========================================================*/
    /*------------------------------------------------
        푸터
    ------------------------------------------------*/
    /* 푸터 - 개인정보처리방침 */
    .clause_view_area .select_pack { width: 240px; }

    

    /*==========================================================
        팝업
    ==========================================================*/
    /*------------------------------------------------
        팝업 - 팝업
    ------------------------------------------------*/    
    /* 팝업 */
    div.popup_layer { max-width: 500px; }

    /*------------------------------------------------
        팝업 - 페이지팝업
    ------------------------------------------------*/ 
    /* 페이지팝업 */
    div.pagepop_wrap { }
    div.pagepop_layer { overflow: hidden; position: fixed; top: 50%; left: 50%; margin-left: -400px; width: 90%; height: auto; max-width: 800px; min-height: 200px; border-radius: 8px; background:#fff; transform: translate(0, -50%); } /* 20201103 정렬 transform 추가 및 이벤트페이지 최소사이즈 증가 500px > 800px */
    div.pagepop_layer div.pagepop_inner { position: static; }
    div.pagepop_layer div.pagepop_header { position: absolute; padding: 35px 56px 10px; border: none; }
    div.pagepop_layer div.pagepop_container { padding: 0; height: 100%; max-height: auto; }

    div.pagepop_layer div.pagepop_container div.pagepop_scroll { overflow-x: hidden; overflow-y: auto; width: auto; _height: 100%; padding: 0 16px; }
    div.pagepop_layer div.pagepop_container div.pagepop_scroll div.pagepop_scrollinner { padding: 10px 0 30px; }

    div.pagepop_layer div.pagepop_footer { position: absolute; bottom: 0; background: #fff; }
    div.pagepop_layer div.pagepop_footer.type_fit { height: 35px; } /* 20201028 푸터없을시 최소 높이값설정 */
    div.pagepop_layer div.pagepop_footer div.pagepop_btn_wrap { padding: 0; }
    div.pagepop_layer div.pagepop_footer div.pagepop_btn_wrap .btn_pack { width: 50%; margin: 0; }
    div.pagepop_layer div.pagepop_footer div.pagepop_btn_wrap .btn_pack .btn_main { font-weight: normal; border-radius: 0; }
    div.pagepop_layer div.pagepop_footer div.pagepop_btn_wrap .btn_pack .btn_main_line { border: none; border-radius: 0; font-weight: normal; background: #f4f5f6; color: #333; }
    div.pagepop_layer div.pagepop_footer div.pagepop_btn_wrap .btn_pack .btn_main_line:not([disabled="disabled"]):hover { background-color: #eaeaea; }
    
    /* 필터팝업 - 버튼케이스 */
    .bottom_filter_area .btn_group .btn_pack:first-of-type { width: 30%; }
    .bottom_filter_area .btn_group .btn_pack:last-of-type { width: 70%; }

    /*------------------------------------------------
        팝업 - 페이지팝업 - 이벤트
    ------------------------------------------------*/
    /* 푸터 - 이벤트 - 이미지 */
    .event_img_box { padding: 0; }

    /* 푸터 - 이벤트 - 텍스트 */
    .event_describe_box { padding: 10px 0px; }


    /*------------------------------------------------
        팝업 - 슬라이드팝업
    ------------------------------------------------*/ 
    /* 레이어팝업 - 슬라이드 */
    div.slidepopup_wrap { top: 50%; left: 50%; bottom: auto; margin-top: -250px; margin-left: -250px; max-width: 500px; border-radius: 8px; }
    div.slidepopup_wrap { padding-top: 0; padding-left: 0; padding-right: 0; }
    div.slidepopup_wrap div.slidepopup_header { position: absolute; top: 0; left: 0; padding: 30px 16px 0; }
    div.slidepopup_wrap div.slidepopup_header div.slidepopup_title_wrap {  }
    div.slidepopup_wrap div.slidepopup_header div.slidepopup_title_wrap .btn_pack { top: 30px; right: 16px; }
    div.slidepopup_wrap div.slidepopup_container { box-sizing: border-box; }
    div.slidepopup_wrap div.slidepopup_container div.slidepopup_contents { padding: 0 16px 30px; }
    div.slidepopup_wrap div.slidepopup_footer { position: absolute; bottom: 0; left: 0; padding: 0; border-radius: 0 0 8px 8px; overflow: hidden; }
    div.slidepopup_wrap div.slidepopup_footer .btn_pack button { border-radius: 0; }
    div.slidepopup_wrap div.slidepopup_footer .btn_group .btn_pack { width: 50%; margin: 0; }
    div.slidepopup_wrap div.slidepopup_footer .btn_group .btn_pack .btn_main_line { background: #f4f5f6; color: #333; }
    div.slidepopup_wrap div.slidepopup_footer .btn_group .btn_pack .btn_main_line:not([disabled="disabled"]):hover { background-color: #eaeaea; }
    
    /*------------------------------------------------
        팝업 - 슬라이드팝업 - 주소찾기
    ------------------------------------------------*/ 
    /* 레이어팝업 - 슬라이드 - 주소찾기 */
    div.slidepopup_wrap.type_maximum div.slidepopup_layer { height: 100%; }
    div.slidepopup_wrap.type_maximum div.slidepopup_layer div.slidepopup_container { height: 100%; }
    div.slidepopup_wrap.type_maximum div.slidepopup_container div.slidepopup_contents { padding: 0 16px; }

    .address_search_box .address_detail_form { padding-bottom: 30px; }
};

.intro_set .intro_summary .summary_item.pc-hide {
    display: inline-block;
}
.member-tag{
    display: none;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-left: auto;
    padding: 0 6px;
    border-radius: 2px;
    border: 1px solid #6d91f0;
    color: #6d91f0;
    font-size: 10px;
    font-weight: 700;
}
.member-tag.always-show{
    display: inline-flex;
}
.intro_set .intro_info .intro_tag_group{
    display: flex;
    align-items: center;
}
.schedule_head .member-tag.always-show{
    display: inline-flex;
    margin-left: 4px;
}
.intro_set.type_management .intro_info .intro_tag_group{
    display: flex;
}
@media (min-width: 1024px) {
    .intro_set .intro_summary .summary_item.pc-hide {
        display: none;
    }
    .intro_set .intro_info .intro_tag_group{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .member-tag{
        display: inline-flex;
    }
}
