/* Common */
.clfix {
  clear: both;
  content: ".";
  display: block;
  height: 0;
}
.none {
  display: none !important;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.fn {
  float: none !important;
}
.no-mg {
  margin: 0 !important;
}
.no-pd {
  padding: 0 !important;
}
.regular {
  font-weight: 500 !important;
}
.bold {
  font-weight: 600 !important;
}
.color-blue {
    color: $blue-color !important;
}
.color-red {
    color: $red-color !important;
}
.tac {
  text-align: center !important;
}
.tal {
  text-align: left !important;
}
.tar {
  text-align: right !important;
}
.ov-hidden {
  overflow: hidden;
}
.hide {
  position: absolute !important;
  left: -9999px;
}
.ellipsis {
  display: block;
  width: 100%;
  padding: 0 1rem;
  word-break: keep-all;
  @include ellipsis();
}
