/* Variables */
//layout height
$header-height: 4.5rem;
$footer-height: 215px;
$header-height-pc: 70px;
$footer-height-pc: 270px;

//footer margin
$footer-mb2: 2rem;
$footer-mb4: 4rem;

//z-index
$header-index: 3;
$modal-index: 3;

//background,font color
$white-color: #fff !default;
$dark-color: #222 !default;
$darkgray-color: #777 !default;
$gray-color: #999 !default;
$lightgray-color: #f6f6f6 !default;
$lightblue-color: #f6f8fc !default;
$red-color: #e16464 !default;
$blue-color: #608adf !default;

//radius
$radius: 5px !default;

$breakpoints: (
  //xs: 480px,
  //sm: 576px,
  md: 768px,
  lg: 1000px,
  xl: 1220px
);

$max-breakpoints: (
  //xs: 479px,
  //sm: 575px,
  //md: 767px,
  //lg: 1000px,
  //xl: 1400px,
  //xxl: 1599px
);
