#wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/common/img_bg.png") repeat center center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 48px 70px;
}

.blue-bg {
  position: absolute;
  width: 100%;
  height: 41.7%;
  background: #95beb8;
  left: 0;
  bottom: 0;
}

.login-wr {
  padding-top: 127px;
  text-align: center;
}

.login-tit {
  margin-bottom: 60px;
}

.login-tit img {
  margin-bottom: 40px;
}

.login-tit h2 {
  font-size: 2.188rem;
  font-weight: 400;
  letter-spacing: -2.3px;
}

.login-tit h2 strong {
  font-weight: 500;
}

.login-select {
  display: flex;
  padding: 0 64px;
}

.login-wr .step-list {
  display: inline-block;
}

.login-wr .step-list:after {
  content: '';
  display: block;
  clear: both
}

.login-wr .step-list>li {
  float: left;
  position: relative;
  padding-right: 46px
}

.login-wr .step-list>li:last-child {
  padding-right: 0
}

.login-wr .step-list>li:after {
  content: '';
  position: absolute;
  top: 140px;
  right: 13px;
  width: 20px;
  height: 37px;
  background: url(../images/common/icn_next_step.png) no-repeat;
}

.login-wr .step-list>li:last-child:after {
  width: 0;
  height: 0;
}

.login-wr .step-list>li>strong {
  display: block;
  margin-top: 30px;
  color: #6f91b6;
  font-size: 1.625rem;
  font-weight: 500;
  text-align: left
}

.login-wr .step-list>li>p {
  margin-top: 22px;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 300;
  line-height: 1.5
}

.step-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1400px;
  margin: 48px auto;
}

.step-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  min-height: 100px;
  background: #6f91b6;
  color: #fff;
  font-size: 2.875rem;
  line-height: 100px;
  font-weight: 500;
  letter-spacing: -2.3px;
}

.step-button .disabled {
  background-color: #e2e2e2;
  color: rgba(0, 0, 0, 0.1);
}

.step-button .select {
  height: 100px;
  border: 4px solid #6f91b6;
  background-color: #fff;
  color: #6f91b6;
  box-sizing: border-box;
}

.step-button .active {
  color: 'fff';
  background-color: #f08f88;
}

.step-button .select + a {
  margin-left: 40px;
}

.ecp {
  position: relative;
  margin: 0 auto;
}

.ecp .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.ecp .header .header-wrap {
  display: flex;
  align-items: center;
}

.ecp .header .breadcrumbs {
  margin-left: 145px;
  margin-bottom: 20px;
}

.ecp .header .breadcrumbs ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecp .header .breadcrumbs ul .active {
  color: #f08f88;
  font-weight: 500;
}

.ecp .header .breadcrumbs ul li {
  position: relative;
  color: #999999;
  font-size: 1.563rem;
  letter-spacing: -1.25px;
}

.ecp .header .breadcrumbs ul li+li {
  margin-left: 50px;
}

.ecp .header .breadcrumbs ul li+li::before {
  position: absolute;
  top: 5px;
  left: -28px;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid #999999;
  border-right: 8px solid transparent;
  content: '';
}

.ecp .header .breadcrumbs ul li.active+li::before {
  border-left: 8px solid #f08f88;
}

.ecp .header .buttons a {
  display: inline-flex;
  width: 251px;
  height: 73px;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  border: solid 4px #6f91b6;
  box-sizing: border-box;
  ;
}

.ecp .header .buttons a+a {
  margin-left: 30px;
}

.ecp .header .buttons a .icon {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 8px;
}

.ecp .header .buttons a span {
  color: #6f91b6;
  font-size: 1.625rem;
  letter-spacing: -1.3px;
}

.ecp .content {
  max-width: 1120px;
  margin: 78px auto 0;
  text-align: center;
}

.ecp .content h2 {
  font-size: 2.188rem;
  font-weight: 300;
  letter-spacing: -2.3px;
}

.ecp .content h2 strong {
  font-weight: 400;
}

.ecp .content .point-wr,
.ecp .content .number-button {
  width: 1120px;
  margin: 31px auto 0;
  background-color: #fff;
}

.ecp .content .number-button {
  padding: 70px 55px;
}

.ecp .content .point-wr-input {
  position: relative;
}

.ecp .content .pre-filled div {
  display: flex;
  width: 100%;
}

.ecp .content .point-wr .pre-filled input {
  width: calc(57% - 60px) !important;
  padding-top: 3px;
  text-align: left !important;
  border-style: solid;
  border-color: #eee;
  border-width: 2px 2px 2px 0 !important;
  line-height: 107px;
}

.ecp .content .pre-filled-text {
  display: inline-block;
  width: 43%;
  height: 107px;
  margin: 32px 0 37px 30px;
  font-size: 2.875rem;
  line-height: 107px;
  text-align: right;
  border-style: solid;
  border-color: #eee;
  border-width: 2px 0 2px 2px;
}

.ecp .content .pre-filled-text.active2 {
  border-width: 2px 0 2px 2px !important;
  border-color: #000;
  background-color: rgba(205, 220, 223, .3) !important;
}

.ecp .content .pre-filled-text.active2 + .ecp .content .input-val.active {
  border-width: 2px 2px 2px 0 !important;
  border-color: #000;
}

.ecp .content .count-number {
  position: absolute;
  top: 74px;
  right: 63px;
  color: #ff0000;
  font-size: 1.625rem;
}

.ecp .content .point-right {
  flex: 1 1 58%;
  display: flex;
  flex-direction: column;
}

.ecp .content .simple-certification {
  width: 100%;
  height: 100%;
  padding: 60px 38px;
}

.ecp .content .simple-certification.flex {
  display: flex;
  gap: 27px;
}

.ecp .content .simple-certification-button {
  display: block;
  width: 100%;
  height: 105px;
  background-color: #e2e2e2;
  color: rgba(17, 34, 78, .1);
  font-size: 2.875rem;
  line-height: 105px;
  letter-spacing: -2.3px;
  pointer-events: none;
}

.ecp .content .simple-certification-button.active {
  color: #f08f88;
  border: 4px solid #f08f88;
  background-color: #fff;
  pointer-events: auto;
}

.ecp .content .simple-certification-button.active2 {
  color: #fff;
  background-color: #f08f88;
  pointer-events: auto;
}

.ecp .content .simple-certification-button.blue-active {
  color: #6f91b6;
  border: 4px solid #6f91b6;
  background-color: #fff;
  pointer-events: auto;
}

.ecp .content .simple-certification-button.blue-active2 {
  color: #fff;
  background-color: #6f91b6;
  pointer-events: auto;
}




.ecp .content .point-wr-input input[type="text"] {
  width: calc(100% - 60px);
  height: 107px;
  margin: 32px 0 37px;
  text-align: center;
  font-size: 2.875rem;
  border: solid 2px #eee;
  background-color: #fff;
  box-sizing: border-box;
}

.ecp .content .point-wr-input .active {
  border: solid 2px #000 !important;
  background-color: rgba(205, 220, 223, .3) !important;
}

.ecp .content input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.ecp .content .info {
  margin-top: 18px;
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1.3px;
}

.ecp .content .oder-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  margin: 30px auto 0;
  padding: 30px 65px;
  background-color: #fff;
  box-sizing: border-box;
}

.ecp .content .scan-list {
  margin-left: 40px;
}

.ecp .content .list-th {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background:#f9faf3;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: left;
}

.ecp .content .list-th>span {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 400;
}

.ecp .content .list-th>span.prd-num {
  text-align: center;
}

.ecp .content .scan-list .item-container {
  background: #fff;
  border-bottom: 2px solid #000;
}

.ecp .content .scan-list .item-wrapper {
  overflow-y: scroll;
  padding: 0 20px;
  height: 350px;
}

.ecp .content .scan-list .item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #d2d2d2;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.ecp .content .scan-list .item:last-child {
  border-bottom: none;
}

.ecp .content .scan-list .item>span {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 300;
  box-sizing: border-box;
}

.ecp .content .scan-list .item .prd-oder-num {
  display: flex;
  align-items: center;
  width: 700px;
  height: 100%;
  line-height: 1;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ecp .content .scan-list .item .prd-oder-num .line {
  width: calc(100% - 165px);
  height: 100%;
  margin-right: 20px;
  padding-left: 20px;
  line-height: 45px;
  border: 1px solid #d2d2d2;
}

.ecp .content .scan-list .item .prd-oder-num .button {
  width: 145px;
  height: 50px;
  border: 2px solid #6f91b6;
  box-sizing: border-box;
}

.ecp .content .scan-list .item .prd-oder-num .button.disabled {
  width: 145px;
  height: 50px;
  border: none;
}

.ecp .content .scan-list .item .prd-oder-num .button.disabled button{
  color: rgba(0,0,0, 0.2);
  background-color: #e2e2e2;
}

.ecp .content .scan-list .item .prd-oder-num .button button {
  width: 100%;
  height: 100%;
  color: #6f91b6;
  background-color: #fff;
  font-size: 1.25rem;
}

.ecp .content .scan-list .item.active .prd-oder-num .line {
  border: 1px solid #000;
}

.ecp .content .scan-list span.prd-num {
  width: 11.5%;
}

.ecp .content .scan-list .item .disabled .line{
  color: #e2e2e2;
}

/* .ecp .content .scan-list .swiper-btn>div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: auto;
  left: auto;
  right: auto;
  margin-top: 0;
}

.ecp .content .scan-list .swiper-btn .swiper-button-prev,
.ecp .content .scan-list .swiper-btn .swiper-button-next {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f08f88;
  opacity: 1;
}

.ecp .content .scan-list .swiper-btn .swiper-button-prev:after,
.ecp .content .scan-list .swiper-btn .swiper-button-next:after {
  display: none;
}

.ecp .content .scan-list .swiper-btn .swiper-button-prev {
  background: url("../images/common/icn_btn_up.png") no-repeat center center;
  background-size: 15px;
}

.ecp .content .scan-list .swiper-btn .swiper-button-next {
  margin-right: 10px;
  background: url("../images/common/icn_btn_down.png") no-repeat center center;
  background-size: 15px;
}

.ecp .content .scan-list .swiper-button-next.disabled {
  border: 2px solid #d2d2d2;
  background: #ededed url("../images/common/icn_btn_down_disabled.png") no-repeat center center;
  background-size: 15px;
  pointer-events: none;
}

.ecp .content .scan-list .swiper-button-prev.disabled {
  border: 2px solid #d2d2d2;
  background: #ededed url("../images/common/icn_btn_up.disabled.png") no-repeat center center;
  background-size: 15px;
  pointer-events: none;
}

.ecp .content .scan-list .swiper-count {
  font-size: 1.5rem;
  margin-right: 33px;
}

.ecp .content .scan-list .swiper-pagination {
  display: none;
}

.ecp .content .scan-list-bt {
  margin-top: 20px;
}

.ecp .content .scan-list-bt>div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */

.popup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
  background: #fff;
}

.simple-popup .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 250px);
}

.simple-popup .popup-desc {
  font-size: 2.188rem;
  letter-spacing: -1.75px;
  line-height: 1.6;
  font-weight: 300;
}

.simple-popup .popup-desc strong {
  font-weight: 400;
}

.popup .content {
  position: relative;
  max-width: initial;
  height: 100vh;
  margin: 0 auto;
  padding: 70px;
}

.popup .content .point-wr {
  background-color: transparent;
}

.popup .content .point-wr-input {
  margin: 70px 0 30px;
}

.popup .content .point-wr-input input {
  margin: 0 !important;
}

.popup .content .popup-wrap {
  width: 1030px;
  margin: 0 auto;
}

.popup .content h2 {
  font-size: 3rem;
}

.popup .btn-close {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 110px;
  right: 110px;
  background: #000;
}

.popup .text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}


.popup .text-box>div h2 {
  line-height: 80px;
}

.popup .text-box .simple-certification {
  padding: 0;
}

.back {
  display: flex;
  align-items: center;
  gap: 22px;
  position: absolute;
  top: 80px;
  left: 70px;
  z-index: 99;
}

.back span {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1.6px;
}

/* 키보드 레이아웃 */
.simple-keyboard {
  background: #fff !important;
  border-radius: 0 !important;
}

.simple-keyboard>.hg-rows {
  height: 100%;
  display: grid;
  padding: 0 38px;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 13px;
}

.simple-keyboard>.hg-rows>.hg-row {
  display: grid;
  grid-column-gap: 19px;
}

.simple-keyboard>.hg-rows>.hg-row>div {
  font-size: 2.875rem;
  font-weight: 400;
  border: solid 2px #d2d2d2;
  border-radius: 0;
}

.simple-keyboard>.hg-rows>.hg-row>div:active {
  border: 1px solid #000;
}

.simple-keyboard>.hg-rows>.hg-row:first-child>div {
  height: 105px !important;
  background: #fff;
}

.simple-keyboard div.hg-button-bksp {
  background: #c0ca81 !important;
  border: none !important;
}

.simple-keyboard div.hg-button-delete {
  background: #ffb33b !important;
  color: #fff;
  font-size: 2.188rem !important;
  border: 0 !important;
}

.hg-theme-default .hg-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100% !important;
}

.hg-theme-default .hg-row>div:last-child {
  margin-right: 0 !important;
}

.simple-keyboard>.hg-rows>.hg-row {
  grid-template-columns: repeat(4, 1fr);
}

.simple-keyboard .hg-row>div:not(.hg-button-delete) {
  background: #fff;
  color: #000;
}

.simple-keyboard .hg-row .hg-button-enter {
  background-color: #6f91b6 !important;
  color: #fff !important;
  border: 2px solid #6f91b6 !important;
  font-size: 2.188rem !important;
}

/* 숫자 radio */
.ist-right {
  flex: 1 1 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 12px;
}

.ist-right>input[type="radio"] {
  display: none;
}

.ist-right>input[type="radio"]+label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 2.375rem;
  color: #000;
  font-weight: 700;
  border: 2px solid #d2d2d2;
}

.ist-right>input[type="radio"]:checked+label {
  background: #0069b5;
  color: #fff;
}