html{height:100%;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:62.5%;}
body{position:relative;width:100%;height:100%;padding:0;margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
a{cursor:pointer; text-decoration:none;}
a:active,a:hover{text-decoration:none;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
img{width:100%; height:auto; border:0;}
button,input,optgroup,select,textarea{margin:0;font:inherit; }
button{overflow:visible; border:none;}
button,select{text-transform:none;}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;border: 0;outline: 0;background: 0;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
a:hover,a:hover span{text-decoration:none;}
ul, ol, li {list-style:none;}

*,*::before,*::after{box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; font-weight:normal; margin:0; padding:0;}

/* font */
@font-face {font-family:'Roboto';font-style:normal;font-weight:400;src:url(../font/roboto/Roboto-Regular.woff2) format('woff2'), url(../font/roboto/Roboto-Regular.woff) format('woff'), url(../font/roboto/Roboto-Regular.otf) format('opentype')}
@font-face {font-family:'Roboto';font-style:normal;font-weight:500;src:url(../font/roboto/Roboto-Medium.woff2) format('woff2'), url(../font/roboto/Roboto-Medium.woff) format('woff'), url(../font/roboto/Roboto-Medium.otf) format('opentype')}
@font-face {font-family:'Roboto';font-style:normal;font-weight:700;src:url(../font/roboto/Roboto-Bold.woff2) format('woff2'), url(../font/roboto/Roboto-Bold.woff) format('woff'), url(../font/roboto/Roboto-Bold.otf) format('opentype')}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:300;src:url(../font/notosanskr/notokr-light.woff2) format('woff2'),url(../font/notosanskr/notokr-light.woff) format('woff');}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:400;src:url(../font/notosanskr/notokr-regular.woff2) format('woff2'),url(../font/notosanskr/notokr-regular.woff) format('woff');}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:500;src:url(../font/notosanskr/notokr-medium.woff2) format('woff2'),url(../font/notosanskr/notokr-medium.woff) format('woff');}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:700;src:url(../font/notosanskr/notokr-bold.woff2) format('woff2'),url(../font/notosanskr/notokr-bold.woff) format('woff');}

/* 웹접근성  */
.blind, .hidden {overflow:hidden !important;width:1px !important;height:1px !important;margin:-1px !important;position:absolute !important;clip:rect(0 0 0 0) !important;border:0 !important;padding:0 !important;}

/* skipToContent */
#skipToContent a {position:fixed;top:0;left:0;z-index:9999;width:100%;height:0;margin-top:-1px;display:block;background-color:#3875c1;font-size:14px;font-weight:normal;color:#fff;line-height:1;text-align:center;overflow:hidden;} /* 190411_수정 psup 테스트 - 웹접근성용 바로가기 폰트 굵기 수정 */
#skipToContent a:focus,
#skipToContent a:active {margin-top:0;height:auto;padding:10px 0px;}

main {position:relative; width:100%;}
.inner {width:74.4rem; max-width:74.4rem; margin:0 auto;}

/* 상단 */
.header {position:absolute; left:50%; top:0; transform:translateX(-50%); z-index:10;}
.header .header_inner {width:94.8rem; margin:0 auto;}
.header .header_inner .header_logo h1 {padding-top:2.7rem;}
.header .header_inner .header_logo h1 a {display:inline-block; width:5.4rem; height:5.4rem; background:url('../images/logo.png') no-repeat left top; background-size:100% auto; text-indent:-9999px;}

/* 다이아몬드 컨시어지 비주얼 */
/* S : 20220804 수정 */
.concierce_visual {position:relative; text-align:center; background:url('../images/concierce_visual.png') no-repeat center top, linear-gradient(to right, #dfdcd0 30%, #afa893 10%); background-size:auto 564px; padding:25.9rem 0 7.2rem;}/* 20220829 수정 */
.concierce_visual .visual_title {display:block; width:75.6rem; height:9rem; background:url('../images/visual_title.png') no-repeat left top; background-size:100% auto; text-indent:-9999px; margin:0 auto;}
.concierce_visual .visual_desc {display:block; width:58.4rem; height:3.8rem; background:url('../images/visual_sub_title.png') no-repeat left top; background-size:100% auto; text-indent:-9999px; margin:0 auto;}
.concierce_visual .visual_label {display:inline-block; width:16rem; height:8.5rem; margin-top:1.7rem;}
/* E : 20220804 수정 */

/* 다이아몬드 컨시어지 탭메뉴 */
.concierce_tabmenu {box-shadow:0 0.3rem 0.3rem 0 rgba(82, 82, 82, 0.05);}
.concierce_tabmenu .inner ul {display:flex; flex-wrap:wrap; justify-content:center; align-items:center;}
.concierce_tabmenu .inner ul > li {width:18.5rem; text-align:center; border-right:1px solid rgba(160,160,160,0.3);}
.concierce_tabmenu .inner ul > li:last-child {border-right:none;}
.concierce_tabmenu .inner ul > li a {display:block; padding:2.1rem 0 1.5rem; margin:0.7rem;}
.concierce_tabmenu .inner ul > li.on a {background:#404040;}
.concierce_tabmenu .inner ul > li span {display:inline-block; color:#7e7e7e; font-size:1rem; border:1px solid #a0a0a0; border-radius:5rem; padding:0 0.8rem; margin:0 0 0.5rem;}
.concierce_tabmenu .inner ul > li p {color:#222; font-size:2.1rem; font-weight:bold; line-height:2.6rem;}
.concierce_tabmenu .inner ul > li.on span {color:#fff; border-color:rgba(160, 160, 160, 0.5);}
.concierce_tabmenu .inner ul > li.on p {color:#fff; font-weight:normal;}

/* 다이아몬드 컨시어지 슬라이드 */
.concierce_voucher-slide {border-bottom:1px solid #dcdcdc; padding:6rem 0; text-align:center;}
.concierce_voucher-slide .ico_voucher {display:inline-block; width:11.7rem; height:3.9rem;}/* 20220824 수정 */
.concierce_voucher-slide .title {color:#222; font-size:4.6rem; font-weight:600; line-height:5.8rem; letter-spacing:-1.15px; margin:1.1rem 0 1.2rem;}
.concierce_voucher-slide .use_limit {display:flex; flex-wrap:wrap; justify-content:center; align-items:center;}
.concierce_voucher-slide .use_limit span {display:inline-block; color:#7e7e7e; font-size:2rem; font-weight:normal; border:1px solid #a0a0a0; border-radius:2.2rem; text-align:center; padding:0.6rem 1.7rem 0.7rem 1.8rem; margin-right:1rem;}
.concierce_voucher-slide .use_limit p {color:#7e7e7e; font-size:2rem; font-weight:500;}
.concierce_voucher-slide .voucher_slide {position:relative; margin:4rem 0 0;}
.concierce_voucher-slide .voucher_slide .voucher_btn_box {display:flex; flex-wrap:wrap; justify-content:center; align-items:center; margin:0;}
.concierce_voucher-slide .voucher_slide .voucher_btn_box .voucher_btn {width:28.8rem; height:8rem; line-height:8rem; font-size:2.4rem; font-weight:600; letter-spacing:-0.6px; text-align:center; cursor:pointer; margin:0 0.6rem;}
.concierce_voucher-slide .voucher_slide .voucher_btn_box .voucher_btn.use {color:#fff; background:#404040; border:1px solid #404040;}
.concierce_voucher-slide .voucher_slide .voucher_btn_box .voucher_btn.gift {color:#222; background:#fff; border:1px solid #404040;}
.concierce_voucher-slide .voucher_slide .owl-prev,
.concierce_voucher-slide .voucher_slide .owl-next {position:absolute; top:19rem; display:inline-block; width:8rem; height:8rem;}
.concierce_voucher-slide .voucher_slide .owl-carousel .owl-nav button.owl-prev {left:0; background:url('../images/concierce_voucher_left.png') no-repeat left top; background-size:100% auto;}
.concierce_voucher-slide .voucher_slide .owl-carousel .owl-nav button.owl-next {right:0; background:url('../images/concierce_voucher_right.png') no-repeat left top; background-size:100% auto;}
.concierce_voucher-slide .voucher_slide .owl-prev span,
.concierce_voucher-slide .voucher_slide .owl-next span {display:inline-block; text-indent:-9999px;}

/* 다이아몬드 컨시어지 안내 */
.concierce_info {border-bottom:1px solid #dcdcdc; padding:5rem 0;}
.concierce_info .info_box_white {padding:5rem 7.8rem; background:#f5f5f5;}
.concierce_info .info_box_white .title {position:relative; color:#222; font-size:3rem; font-weight:bold; line-height:4.1rem; text-align:center; padding:4.8rem 0 2.4rem; margin:0 0 2.4rem; border-bottom:1px solid #222;}
.concierce_info .info_box_white .title:after {content:""; position:absolute; left:50%; top:0; transform:translateX(-50%); display:block; width:4.4rem; height:4.4rem; background:url('../images/concierce_ico_coffee.png') no-repeat left top; background-size:100% auto;}
.concierce_info .info_box_gray {background:#7f7f7f; padding:5rem 7.7rem;}
.concierce_info .info_box_gray h2 {color:#fff; font-size:3rem; font-weight:600; line-height:4.1rem; text-align:center; padding-bottom:2.4rem; margin-bottom:2.4rem; border-bottom:1px solid #fff;}
.concierce_info .info_box_gray p {color:#fff; font-size:1.7rem; font-weight:300; letter-spacing:-0.5px; line-height:2.9rem; margin-bottom:1.1rem;}/* 20221005 수정 */
.concierce_info .info_list li {position:relative; font-size:1.7rem; font-weight:normal; letter-spacing:-0.43px; line-height:2.6rem; padding-left:0.9rem; margin-bottom:0.8rem;}
.concierce_info .info_list li:after {content:""; position:absolute; left:0; top:1.1rem; display:inline-block; width:0.3rem; height:0.3rem; background:#222; border-radius:100%;}
.concierce_info .info_list li:last-child {margin-bottom:0;}
.concierce_info .info_list.info_list-gray li {color:#222;}
.concierce_info .info_list.info_list-white li {color:#fff; font-weight:300;}/* 20220824 수정 */
.concierce_info .info_list.info_list-white li:after {background:#fff;}
.concierce_info dl.info_detail ~ .info_detail {margin-top:4rem;}
.concierce_info dl.info_detail dt {display:inline-block; min-width:9.2rem; height:3rem; color:#7e7e7e; font-size:1.6rem; line-height:2.8rem; border:1px solid #a0a0a0; text-align:center; margin-bottom:0.8rem;}
.concierce_info dl.info_detail dt.long {padding:0 1.7rem;}
.concierce_info dl.info_detail dd .info_desc {color:#222; font-size:2rem; font-weight:600; letter-spacing:-0.5px; line-height:2.9rem;margin-bottom:1.1rem;}
.concierce_info dl.info_detail dd .info_place {color:#111; font-size:2rem; font-weight:600; line-height:2.1rem;}
.concierce_info dl.info_detail dd .info_place_area {color:#222; font-size:1.7rem; font-weight:400; line-height:2.1rem; margin-top:0.8rem;}

/* 다이아몬드 컨시어지 사용내역 */
.concierce_uselist {padding:5rem 0;}
.concierce_uselist .inner {padding:0 7.8rem;}
.concierce_uselist .title {display:flex; flex-wrap:wrap; align-items:center; color:#222; font-size:2.6rem; font-weight:bold; padding:0 0 1.7rem; border-bottom:1px solid #222;}
.concierce_uselist .title .select_box {width:17rem; border:1px solid #d7d7d7; margin-left:auto;}
.concierce_uselist .title .select_box .btn_select {position:relative; display:block; width:100%; color:#222; font-size:1.7rem; font-weight:400; border:none; background:url('../images/concierce_select_arrow.png') no-repeat calc(100% - 12px) center; background-size:16px 16px; -webkit-appearance:none; -moz-appearance:none; appearance:none; padding:1.2rem 1.2rem 1.2rem 1.6rem; text-align:left;}
.concierce_uselist .title .select_box .btn_select::-ms-expand {display:none;}
.concierce_uselist .uselist_box ul > li {position:relative; border-bottom:1px solid #dcdcdc; padding:1.6rem 0 1.2rem;}
.concierce_uselist .uselist_box .no_data {color:#222; font-size:1.9rem; font-weight:500; line-height:2.6rem; letter-spacing:-0.48px; text-align:center; padding:7.8rem 0; border-bottom:1px solid #dcdcdc;}
.concierce_uselist .uselist_box .use_flag {position:relative; display:inline-block; font-size:1.7rem; font-weight:500; line-height:2.6rem; letter-spacing:-0.43px; padding:0 2rem 0 3.3rem;}
.concierce_uselist .uselist_box .use_flag.gift {color:#8e751b;}
.concierce_uselist .uselist_box .use_flag.use {color:#3055cb;}
.concierce_uselist .uselist_box .use_flag:after {content:""; position:absolute; left:0; top:50%; transform:translateY(-50%); width:2.9rem; height:2.9rem;}
.concierce_uselist .uselist_box .use_flag.gift:after {background:url('../images/concierce_ico_gift.png') no-repeat left top; background-size:100% auto;}
.concierce_uselist .uselist_box .use_flag.use:after {background:url('../images/concierce_ico_use.png') no-repeat left top; background-size:100% auto;}
.concierce_uselist .uselist_box .use_flag:before {content:""; position:absolute; right:0; top:50%; transform:translateY(-50%); display:inline-block; width:0.1rem; height:2rem; background:#d0d0d0;}
.concierce_uselist .uselist_box .use_date {display:flex; flex-wrap:wrap; align-items:center; margin-top:0.9rem;}
.concierce_uselist .uselist_box .use_date p {color:#666; font-size:1.7rem; font-weight:normal; letter-spacing:-0.43px;} /* 20220824 수정 */
.concierce_uselist .uselist_box .use_date span {color:#222; font-size:1.6rem; font-weight:500; line-height:2.6rem; letter-spacing:-0.4px; border:1px solid #dcdcdc; padding:0.2rem 0.9rem 0.4rem 0.8rem; margin-left:0.8rem;}
.concierce_uselist .uselist_box .use_state {position:absolute; right:0; top:2.95rem; width:9rem; height:3.3rem; line-height:3rem; font-size:1.6rem; font-weight:500; text-align:center; border-radius:2.2rem;}
.concierce_uselist .uselist_box .use_state.complete {color:#222; border:1px solid #404040; background:#fff;}
.concierce_uselist .uselist_box .use_state.yet {color:#fff; border:1px solid #404040; background:#404040;}
.concierce_uselist .uselist_box .btn_more {display:block; width:100%; border:1px solid #f5f5f5; background:#f5f5f5; text-align:center; cursor:pointer; margin:3rem 0 0; padding:1.7rem 0;}
.concierce_uselist .uselist_box .btn_more span {position:relative; display:inline-block; color:#222; font-size:17px; font-weight:400; line-height:2.6rem; letter-spacing:-0.43px; padding-right:2.8rem;}
.concierce_uselist .uselist_box .btn_more span:after {content:""; position:absolute; right:0; top:0; display:inline-block; width:2.6rem; height:2.6rem; background:url('../images/concierce_ico_arrow.png') no-repeat left top; background-size:100% auto;}
.concierce_uselist .coupon_withdraw {display:block; width:100%; border:1px solid #222; background:#fff; text-align:center; cursor:pointer; margin-top:1.5rem; padding:1.2rem 0;}
.concierce_uselist .coupon_withdraw span {color:#222; font-size:1.7rem; font-weight:500; line-height:2rem;}

/* 다이아몬드 컨시어지 바우처 */
.voucher_post {position:relative; display:flex; flex-wrap:wrap; width:26.9rem; height:68.6rem; margin:0 auto 4.2rem; box-shadow: 2px 2px 2px 0 rgb(0 0 0 / 16%);}/* 20220824 수정 */
.voucher_post .voucher_post-img {width:100%;}
/* S : 20220804 수정 */
.voucher_post .voucher_post-info {position:absolute; left:1.7rem; bottom:16.4rem;}
.voucher_post .voucher_post-info .voucher_post-text .voucher_post-amount {color:#7b7b7b; font-size:1.6rem; letter-spacing:-2px;}
.voucher_post .voucher_post-info .voucher_post-text .voucher_post-amount span {font-size:3.6rem; font-family:'Roboto', 'noto sans kr', sans-serif;}
/* E : 20220804 수정 */
.voucher_post .voucher_expiration {position:absolute; left:0; top:0; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; width:100%; height:100%; background-color:rgba(255, 255, 255, 0.5); z-index:10;}
.voucher_post .voucher_expiration span {display:inline-block; width:calc(100% - 1.8rem); color:#222; font-size:2rem; font-weight:600; background:#f5f5f5; border:1px solid #dcdcdc; text-align:center; padding:1.1rem 0;}

/* 다이아몬드 컨시어지 쿠폰 선물하기 */
.concierce_wrapper {padding-bottom:60px;width:100%;height:auto}
.concierce_wrapper .layer_header{height:54px;background-color:#222;}
.concierce_wrapper .layer_header .header_inner{margin:0 auto;max-width:375px}
.concierce_wrapper .layer_header .header_inner:after{content:'';display:block;clear:both}
.concierce_wrapper .layer_header .header_logo{display:inline-block;}
.concierce_wrapper .layer_header .header_logo h1 a{display:inline-block;width:54px;height:54px;background:url(../images/logo.png) no-repeat left 16px top 9px;background-size:36px auto;text-indent:-9999px;}
.concierce_wrapper .layer_header .btn_layer_close{float:right;width:54px;height:54px;background:url(../images/concierce_ico_close.png) no-repeat right 16px top 14px;background-size:24px auto;border:none;text-indent:-9999px;}
.concierce_wrapper .voucher_post_box{padding-top:33px;padding-bottom:33px}
.concierce_wrapper .layer_header + .contents .voucher_post_box{border-bottom:1px solid #dcdcdc;}
.concierce_wrapper .layer_header + .contents .voucher_post{width:162px;height:413px;box-shadow:2px 2px 2px 0 rgb(0 0 0 / 16%)}/* 20221005 수정 */
.concierce_wrapper .voucher_post{width:228px;height:582px;box-shadow:2px 2px 2px 0 rgb(0 0 0 / 16%)}/* 20221005 수정 */
.concierce_wrapper .voucher_post img{width:100%;height:100%;}
.concierce_wrapper .voucher_contact{margin:0 auto;padding:30px 16px;max-width:375px}
.concierce_wrapper .voucher_contact .title{font-size:16px;font-weight:700;color:#111;letter-spacing:-.5px}
.concierce_wrapper .voucher_contact .contact_tel{display:flex;margin-top:12px}
.concierce_wrapper .voucher_contact .contact_tel .contact_tel_1 select{margin-right:8px;padding:12px 16px;width:120px;height:40px;border:1px solid #d7d7d7;border-radius:2px;color:#222;font-size:13px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../images/concierce_ico_arrow.png) no-repeat right 12px top 50%;background-size:16px auto;}
.concierce_wrapper .voucher_contact .contact_tel .contact_tel_2 input{padding:12px 16px;width:200px;height:40px;font-size:13px;border:1px solid #d7d7d7;border-radius:2px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.concierce_wrapper .voucher_contact .contact_tel .contact_tel_2 input::placeholder{color:#999;font-size:13px}
.concierce_wrapper .voucher_contact .contact_marketing_agree{margin-top:14px}
.concierce_wrapper input.form_agree{position:absolute;left:-9999px}
.concierce_wrapper input.form_agree + label{position:relative;display:inline-block;padding-left:26px;font-size:13px;color:#222;vertical-align:top;line-height:1.46}
.concierce_wrapper input.form_agree + label:before{content:'';position:absolute;top:0;left:0;width:20px;height:20px;background:url(../images/concierce_check_off.png) no-repeat;background-size:20px auto;}
.concierce_wrapper input.form_agree:checked + label:before{content:'';position:absolute;top:0;left:0;width:20px;height:20px;background:url(../images/concierce_check_on.png) no-repeat;background-size:20px auto;}
.concierce_wrapper input.form_agree:disabled + label{color:#868686} /* 20220816 추가 */
.concierce_wrapper input.form_agree:disabled + label:before{background:#ddd;} /* 20220816 추가 */
.concierce_wrapper .concierce_btn_area{position:fixed;left:50%;bottom:0;transform:translateX(-50%);width:100%;max-width:375px;}
.concierce_wrapper .concierce_btn_area .btn-pop-submit{width:100%;height:60px;color:#fff;font-size:16px;font-weight:700;background-color:#404040;border:none;text-align:center;}
.concierce_wrapper .concierce_btn_area .btn-pop-submit:disabled{color:#9f9f9f;background-color:#868686;}
.concierce_wrapper .concierce_btn_area .btn-pop-submit.complete{color:#222;border:2px solid #404040;background-color:#fff;}

.concierce_wrapper .voucher_greet{margin:0 auto;width:100%;max-width:375px;padding:34px 63px;color:#fff;background-color:#868686}
.concierce_wrapper .voucher_greet .greet_sub{width:100%;height:49px;background:url(../images/concierce_coupon_title.png) no-repeat;background-size:100% auto;text-indent:-9999px;}/* 20221005 수정 */
.concierce_wrapper .voucher_greet .greet_txt{height:0;text-indent:-9999px;}
.concierce_wrapper .voucher_greet .greet_sender{margin-top:18px;padding-left:5px;font-size:16px;text-align:center;}
.concierce_wrapper .voucher_greet .greet_sender:before{content:'';display:inline-block;width:24px;height:24px;background:url(../images/concierce_ico_gifticon.png) no-repeat;background-size:24px auto;vertical-align:-6px;}
.concierce_wrapper .voucher_greet .greet_sender .sender{font-weight:700;text-decoration:underline;text-underline-position:under}
.concierce_wrapper .voucher_info_box{width:100%;max-width:375px;margin:0 auto;padding:40px 16px;color:#222;background-color:#f5f5f5;}
.concierce_wrapper .voucher_info_box .title{font-size:20px;font-weight:700;line-height:1.4;letter-spacing:-.5px}
.concierce_wrapper .voucher_info_box .voucher_info_inner{margin-top:24px;}
.concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_sub{display:inline-block;width:72px;color:#7e7e7e;font-size:13px;text-align:center;line-height:26px;border:1px solid #a0a0a0;}
.concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_txt{margin-top:8px;font-size:16px;font-weight:700;color:#111;letter-spacing:-.4px}
.concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_txt + span{display:inline-block;margin-top:4px;font-size:13px;}
.concierce_wrapper .voucher_coupon_agree_box{max-width:375px;margin:0 auto;padding:30px 16px}
.concierce_wrapper .voucher_coupon_agree_box .coupon_agree_all input + label{font-weight:700;}
.concierce_wrapper .voucher_coupon_agree_box .coupon_agree_all{margin-bottom:12.5px;padding-bottom:12.5px;border-bottom:1px solid #dcdcdc;}
.concierce_wrapper .voucher_coupon_agree_box .coupon_agree_detail_inner{margin-top:13px}
.concierce_wrapper .voucher_coupon_agree_box .coupon_agree_detail_inner:after{content:'';display:block;clear:both}
.concierce_wrapper .voucher_coupon_agree_box .coupon_agree_detail_inner a.agree_detail_pop{float:right;margin-top:2px;color:#222;font-size:12px;text-decoration:underline}
.concierce_wrapper .voucher_coupon_agree_box .coupon_agree_detail_inner input.form_agree + label{width:auto}

.concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_list{margin-top:8px}
.concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_list li{position:relative;padding-left:10px;font-size:13px;line-height:1.62;}
.concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_list li:before{position:absolute;content:'';top:9px;left:0;width:3px;height:3px;background-color:#222;border-radius:50%}
.concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_list li + li{margin-top:8px}
.concierce_wrapper .voucher_contact p{color:#111;font-size:13px;}

@media(max-width: 768px) {
    .concierce_wrapper {padding-bottom:60px;width:100vw;height:auto}
    .concierce_wrapper .layer_header{height:6.4vh;}
    .concierce_wrapper .layer_header .header_inner{max-width:none}
    .concierce_wrapper .layer_header .header_logo h1 a{width:6.4vh;height:6.4vh;background:url(../images/logo.png) no-repeat left 2vh top 1.2vh;background-size:4vh auto}
    .concierce_wrapper .layer_header .btn_layer_close{float:right;width:6.4vh;height:6.4vh;background:url(../images/concierce_ico_close.png) no-repeat right 1.5vh top 1.7vh;background-size:2.8vh auto;border:none;text-indent:-9999px;}
    .concierce_wrapper .voucher_post_box{padding-top:5vh;padding-bottom:5vh;}
    .concierce_wrapper .layer_header + .contents .voucher_post{width:20vh;height:50.9vh;box-shadow:0.25vh 0.25vh 0.25vh 0 rgb(0 0 0 / 16%)}/* 20221005 수정 */
    .concierce_wrapper .voucher_post{width:28vh;height:71.7vh;box-shadow:0.25vh 0.25vh 0.25vh 0 rgb(0 0 0 / 16%);margin-bottom:0;}/* 20221005 수정 */
    .concierce_wrapper .voucher_contact{padding:4.35vh 2vh;max-width:none}
    .concierce_wrapper .voucher_contact .title{font-size:4.45vw;letter-spacing:-.1vw}
    .concierce_wrapper .voucher_contact .contact_tel{margin-top:1.3vh}
    .concierce_wrapper .voucher_contact .contact_tel .contact_tel_1 select{margin-right:2.06vw;padding:1vh 3.2vw;width:33.3vw;height:4.36vh;min-height:40px;background:url(../images/concierce_ico_arrow.png) no-repeat right 1vh top 50%;background-size:2vh auto;}
    .concierce_wrapper .voucher_contact .contact_tel .contact_tel_2 input{padding:1vh 3.2vw;width:55.5vw;height:4.36vh;min-height:40px}
    .concierce_wrapper .voucher_contact .contact_marketing_agree{margin-top:1.66vh}
    .concierce_wrapper input.form_agree + label{padding-left:7.2vw;font-size:3.6vw}
    .concierce_wrapper input.form_agree + label:before{width:5.56vw;height:5.56vw;background-size:5.56vw auto}
    .concierce_wrapper input.form_agree:checked + label:before{width:5.56vw;height:5.56vw;background-size:5.56vw auto}
    .concierce_wrapper .concierce_btn_area{max-width:none;width:100%}
    .concierce_wrapper .concierce_btn_area .btn-pop-submit{width:100%;height:6.53vh;min-height:60px}

    .concierce_wrapper .voucher_greet{width:100%;max-width:none;padding:3.65vh 16.7vw;}
    .concierce_wrapper .voucher_greet .greet_sub{height:14vw}
    .concierce_wrapper .voucher_greet .greet_txt{font-size:4.2vw}
    .concierce_wrapper .voucher_greet .greet_sender{margin-top:2.15vh;font-size:4.35vw}/* 20221005 수정 */
    .concierce_wrapper .voucher_info_box{width:100%;max-width:none;padding:4.7vh 4.12vw;}
    .concierce_wrapper .voucher_info_box .title{font-size:5.55vw;font-weight:700;line-height:1.4;letter-spacing:-.15vw}
    .concierce_wrapper .voucher_info_box .voucher_info_inner{margin-top:2.85vh;}
    .concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_sub{width:18.46vw;font-size:3.25vw;}
    .concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_txt{margin-top:0.9vh;font-size:4.1vw;letter-spacing:-.1vw}
    .concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_txt + span{margin-top:0.5vh;font-size:3.33vw;}
    .concierce_wrapper .voucher_coupon_agree_box{max-width:none;padding:3.56vh 4.11vw}
    .concierce_wrapper .voucher_coupon_agree_box .coupon_agree_all{margin-bottom:1.5vh;padding-bottom:1.5vh}
    .concierce_wrapper .voucher_coupon_agree_box .coupon_agree_detail_inner{margin-top:1.5vh}
    .concierce_wrapper .voucher_coupon_agree_box .coupon_agree_detail_inner a.agree_detail_pop{font-size:3.3vw;}

    .concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_list{margin-top:0.9vh}
    .concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_list li{padding-left:2.5vw;font-size:3.33vw}
    .concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_list li:before{top:0.7em;left:0;width:0.77vw;height:0.77vw;border-radius:0.38vw;}
    .concierce_wrapper .voucher_info_box .voucher_info_inner .voucher_info_list li + li{margin-top:0.9vh}
    .concierce_wrapper .voucher_contact p{font-size:3.33vw;}
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under:SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

/** Owl Carousel - Core */
.owl-carousel {display:none; width:100%; -webkit-tap-highlight-color:transparent; position:relative; z-index:1; /* position relative and z-index fix webkit rendering fonts issue */}
.owl-carousel .owl-stage {position:relative; -ms-touch-action:pan-Y; touch-action:manipulation; -moz-backface-visibility:hidden; /* fix firefox animation glitch */ }
.owl-carousel .owl-stage:after {content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
.owl-carousel .owl-stage-outer {position:relative; overflow:hidden; /* fix for flashing background */ -webkit-transform:translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {-webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0);}
.owl-carousel .owl-item {position:relative; min-height:1px; float:left; -webkit-backface-visibility:hidden; -webkit-tap-highlight-color:transparent; -webkit-touch-callout:none;}
.owl-carousel .owl-item img {display:block; width:100%;}
/* .owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {display:none;} */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {cursor:pointer; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {background:none; color:inherit; border:none; padding:0 !important; font:inherit;}
.owl-carousel.owl-loaded {display:block;}
.owl-carousel.owl-loading {opacity:0; display:block;}
.owl-carousel.owl-hidden {opacity:0;}
.owl-carousel.owl-refresh .owl-item {visibility:hidden;}
.owl-carousel.owl-drag .owl-item {-ms-touch-action:pan-y; touch-action:pan-y; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.owl-carousel.owl-grab {cursor:move; cursor:grab;}
.owl-carousel.owl-rtl {direction:rtl;}
.owl-carousel.owl-rtl .owl-item {float:right;}

/* No Js */
.no-js .owl-carousel {display:block;}

/** Owl Carousel - Animate Plugin */
.owl-carousel .animated {animation-duration:1000ms; animation-fill-mode:both;}
.owl-carousel .owl-animated-in {z-index:0;}
.owl-carousel .owl-animated-out {z-index:1;}
.owl-carousel .fadeOut {animation-name:fadeOut;}

@keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
}

/** Owl Carousel - Auto Height Plugin */
.owl-height {transition:height 500ms ease-in-out;}

/** Owl Carousel - Lazy Load Plugin */
.owl-carousel .owl-item {
	/** This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
		calculation of the height of the owl-item that breaks page layouts */
}
.owl-carousel .owl-item .owl-lazy {opacity:0; transition:opacity 400ms ease;}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {max-height:0;}
.owl-carousel .owl-item img.owl-lazy {transform-style:preserve-3d;}

/** Owl Carousel - Video Plugin */
.owl-carousel .owl-video-wrapper {position:relative; height:100%; background:#000;}
.owl-carousel .owl-video-play-icon {position:absolute; height:80px; width:80px; left:50%; top:50%; margin-left:-40px; margin-top:-40px; background:url("owl.video.play.png") no-repeat; cursor:pointer; z-index:1; -webkit-backface-visibility:hidden; transition:transform 100ms ease;}
.owl-carousel .owl-video-play-icon:hover {-ms-transform:scale(1.3, 1.3); transform:scale(1.3, 1.3);}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {display:none;}
.owl-carousel .owl-video-tn {opacity:0; height:100%; background-position:center center; background-repeat:no-repeat; background-size:contain; transition:opacity 400ms ease;}
.owl-carousel .owl-video-frame {position:relative; z-index:1; height:100%; width:100%;}


/** Default theme - Owl Carousel CSS File v2.0.0 */
.owl-theme .owl-controls {margin-top:10px; text-align:center; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-nav div {color:#FFF; display:inline-block; margin:5px; padding:4px 7px; font-size:12px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; background:#869791; cursor:pointer;}
.owl-theme .owl-controls .owl-nav .disabled {opacity:0.5; cursor:default;}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls .owl-nav div:hover {text-decoration:none;}

/* Styling dots*/
.owl-theme .owl-dots .owl-dot {display:inline-block; zoom:1; *display:inline; /*IE7 life-saver */}
.owl-theme .owl-dots .owl-dot span {-webkit-backface-visibility:visible; display:block; width:10px; height:10px; margin:5px 7px; filter:Alpha(Opacity=50); /*IE7 fix*/ opacity:0.5; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; background:#869791; transition-property:opacity; transition-duration:200ms; transition-timing-function:ease;}
.owl-theme .owl-dots .owl-dot.active span {filter:Alpha(Opacity=100); /*IE7 fix*/ opacity:1;}

/* 팝업 */
.layer_section {opacity:0; visibility:hidden; transition:.2s; position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, .75); z-index:9001;}
.layer_section.showing {visibility:visible; opacity:1;}
.layer_section .layer_section-container {transition:.4s; position:absolute; left:50%; top:65%; width:40rem; transform:translate(-50%, -50%); background-color:#fff; border: 1px solid#c0c0c0;}
.layer_section.type-narrow-a .layer_section-container {min-width:350px; border-radius:16px; background-color:transparent; border:none; overflow:hidden;}
.layer_section.showing .layer_section-container {top:50%; opacity:1;}
.layer_section-container .layer-content {overflow-y:auto; max-height:calc(100vh - 10rem); padding:0 3.6rem 3.3rem;}
.layer_section.type-wide-a .layer_section-container .layer-content,
.layer_section.type-narrow-a .layer_section-container .layer-content {background-color:#fff; padding:2rem; margin:-1px 0 0; max-height:calc(100vh - 1.6rem);}
.layer_section.type-wide-a .btn-modal_confirm, .layer_section.type-narrow-a .btn-modal_confirm {background-color:#fff; font-size:1.6rem; font-weight:bold; line-height:1.5; letter-spacing:-.8px; color:#002f5f; border-top:1px solid #002f5f;}
.layer_section.type-wide-a .btn-modal_close, .layer_section.type-narrow-a .btn-modal_close {background-color:#002f5f; font-size:1.6rem; font-weight:bold; line-height:1.5; letter-spacing:-.8px; color:#fff;}
.pop-orderCancel-area p.tit {font-size:1.6rem; font-weight:500; letter-spacing:-1px;}
#orderCancel-layer .pop-orderCancel-area p {text-align:center; padding:4rem 0;}
.align-box.size-auto {display:flex; border-radius:0 0 1.6rem 1.6rem; overflow:hidden;}
.align-box.size-auto button {flex:1 !important; height:5.4rem;}

/* 이용동의 팝업 */
.layer_section.type-narrow-b{background-color:rgba(255,255,255,.7);}
.layer_section.type-narrow-b .layer_section-container{width:340px;border:1px solid #404040;background:#fff;}
.layer_section.type-narrow-b .layer-content{padding:0}
.layer_section.type-narrow-b .agree-title-area{border-bottom:1px solid #d7d7d7;line-height:70px}
.layer_section.type-narrow-b .agree-title-area .agree-title{font-size:21px;font-weight:700;color:#333;text-align:center;letter-spacing:-.53px;}
.layer_section.type-narrow-b .agree-content{padding:32px 19px}
.layer_section.type-narrow-b .agree-content ol li{position:relative;padding-left:16px;counter-increment:list-number;font-size:13px;letter-spacing:-.39px;color:#222}
.layer_section.type-narrow-b .agree-content ol li + li{margin-top:10px}
.layer_section.type-narrow-b .agree-content ol li:before{position:absolute;content:counter(list-number)".";display:inline-block;left:0;}
.layer_section.type-narrow-b .align-box{border-radius:0;background:transparent;}
.layer_section.type-narrow-b .btn-modal_close{margin-bottom:-1px;font-size:16px;font-weight:700;color:#fff;background:#404040}
.layer_section.type-narrow-b .agree-content p{font-size:13px;color:#222;letter-spacing:-.33px;line-height:1.46;}
.layer_section.type-narrow-b .agree-content .agree-list{margin:12px 0}
.layer_section.type-narrow-b .agree-content .agree-list li{position:relative;margin-top:8px;padding-left:10px;font-size:13px;color:#222}
.layer_section.type-narrow-b .agree-content .agree-list li:before{position:absolute;content:'';top:7px;left:0;width:6px;height:6px;background-color:#222;border-radius:50%;}
.layer_section.type-narrow-b .agree-content .agree-list span{display:block;font-weight:700}

@media(max-width: 768px) {
    .inner {width:100%; max-width:100%; padding:0 1.6rem;}

    /* 상단 */
    .header {width:100%;}
    .header .header_inner {width:calc(100% - 1.2rem);}
    .header .header_inner .header_logo h1 {padding-top:1.4rem;}
    .header .header_inner .header_logo h1 a {width:4rem; height:4rem;}

    /* 다이아몬드 컨시어지 비주얼 */
    /* S : 20220804 수정 */
    .concierce_visual {min-height:48.8rem; padding:20.1rem 0 3.6rem; background-image:url('../images/concierce_visual_mo.png'); background-size:cover; background-position:center center;} /* 20220829 수정 */
    .concierce_visual .visual_title {width:29.4rem; height:11rem; background-image:url('../images/visual_title_m.png');}
    .concierce_visual .visual_desc {width:26.6rem; height:5.4rem; background-image:url('../images/visual_sub_title_m.png');}
    .concierce_visual .visual_label {position:absolute; left:50%; bottom:3.6rem; transform:translateX(-50%); width:13.5rem; height:7.1rem;}
    /* E : 20220804 수정 */

    /* 다이아몬드 컨시어지 탭메뉴 */
    .concierce_tabmenu {}
    .concierce_tabmenu .inner {padding:0;}
    .concierce_tabmenu .inner ul > li {width:33.3%;}
    .concierce_tabmenu .inner ul > li span{font-size:0.7rem;}
    .concierce_tabmenu .inner ul > li p {font-size:1.4rem; line-height:1.7rem;}
    .concierce_tabmenu .inner ul > li a {padding:1.7rem 0 1.1rem; margin:0.4rem;}

    /* 다이아몬드 컨시어지 슬라이드 */
    .concierce_voucher-slide {padding:5rem 0; border-bottom:none;}
    .concierce_voucher-slide .ico_voucher {width:7.2rem; height:2.4rem;}/* 20220824 수정 */
    .concierce_voucher-slide .title {font-size:2.6rem; font-weight:600; line-height:3.1rem; margin:0.4rem 0 0.6rem;}
    .concierce_voucher-slide .use_limit span {font-size:1.3rem; line-height:1.6rem; padding:0.3rem 1.2rem 0.4rem; margin-left:0.7rem;}
    .concierce_voucher-slide .use_limit p {font-size:1.3rem;}
    .concierce_voucher-slide .voucher_slide {margin-top:2.8rem;}
    .concierce_voucher-slide .voucher_slide .voucher_btn_box {width:100%; flex-wrap:initial;}
    .concierce_voucher-slide .voucher_slide .voucher_btn_box .voucher_btn {width:16.8rem; height:6rem; line-height:6rem; font-size:1.6rem; margin:0 0.3rem;}
    .concierce_voucher-slide .voucher_slide .voucher_btn_box .voucher_btn:first-child {margin-left:0;}
    .concierce_voucher-slide .voucher_slide .voucher_btn_box .voucher_btn:last-child {margin-right:0;}
    .concierce_voucher-slide .voucher_slide .owl-prev,
    .concierce_voucher-slide .voucher_slide .owl-next {top:13.2rem; width:4rem; height:4rem;}
    .concierce_voucher-slide .voucher_slide .owl-carousel .owl-nav button.owl-prev {left:-1.2rem;}
    .concierce_voucher-slide .voucher_slide .owl-carousel .owl-nav button.owl-next {right:-1.2rem;}
    .concierce_voucher-slide .voucher_slide .owl-dots {display:none;}

    /* 다이아몬드 컨시어지 안내 */
    .concierce_info {padding:0; border:none;}
    .concierce_info .inner {padding:0;}
    .concierce_info .info_box_white {padding:4rem 1.6rem 5rem;}
    .concierce_info .info_box_white .title {font-size:1.9rem; line-height:2.7rem; padding:4rem 0 2rem; margin:0 0 2rem;}
    .concierce_info .info_box_white .title:after {width:4rem; height:4rem;}
    .concierce_info .info_box_gray p {font-size:1.6rem; font-weight:600; line-height:2.3rem; letter-spacing:-0.4px;}
    .concierce_info .info_list li {font-size:1.3rem; line-height:2.1rem;}
    .concierce_info .info_list li:after {top:0.9rem;}
    .concierce_info .info_box_gray {padding:5rem 1.6rem;}
    .concierce_info .info_box_gray h2 {font-size:1.9rem; line-height:2.7rem; padding-bottom:2rem; margin-bottom:2rem;}
    .concierce_info dl.info_detail dt {min-width:7.2rem; height:2.6rem; line-height:2.4rem; font-size:1.3rem;}
    .concierce_info dl.info_detail dt.long {padding:0 1.2rem;}
    .concierce_info dl.info_detail dd .info_desc {font-size:1.6rem; font-weight:600; line-height:2.3rem; letter-spacing:-0.4px;}
    .concierce_info dl.info_detail dd .info_place {font-size:1.6rem;}
    .concierce_info dl.info_detail dd .info_place_area {font-size:1.3rem; margin-top:0.2rem;}

    /* 다이아몬드 컨시어지 사용내역 */
    .concierce_uselist .inner {padding:0 1.6rem;}
    .concierce_uselist .title {font-size:1.6rem; padding:0 0 1.2rem;}
    .concierce_uselist .title .select_box {width:12rem;}
    .concierce_uselist .title .select_box .btn_select {font-size:1.3rem;}
    .concierce_uselist .uselist_box .no_data {font-size:1.5rem; padding:6.8rem 0;}
    .concierce_uselist .uselist_box .use_flag {font-size:1.3rem; padding:0 0.8rem 0 2.2rem;}
    .concierce_uselist .uselist_box .use_flag:after {width:2rem; height:2rem;}
    .concierce_uselist .uselist_box .use_flag:before {height:1.2rem;}
    .concierce_uselist .uselist_box .use_date {margin-top:0.6rem;}
    .concierce_uselist .uselist_box .use_date p {font-size:1.3rem;}
    .concierce_uselist .uselist_box .use_date span {font-size:1.2rem; line-height:1.8rem; padding:0.2rem 0.7rem 0.3rem 0.6rem;}
    .concierce_uselist .uselist_box .use_state {width:6.2rem; height:2.4rem; line-height:2.2rem; font-size:1.1rem;}
    .concierce_uselist .coupon_withdraw {padding:1rem 0;}
    .concierce_uselist .coupon_withdraw span {font-size:1.3rem;}
    .concierce_uselist .uselist_box .btn_more span {font-size:1.3rem; line-height:2rem; padding-right:2.2rem;}
    .concierce_uselist .uselist_box .btn_more span:after {width:2.1rem; height:2rem;}

    /* 다이아몬드 컨시어지 바우처 */
    /* S : 20220804 수정 */
    .voucher_post {width:16.2rem; height:41.3rem; margin-bottom:2.5rem;}
    .voucher_post .voucher_post-info {position:absolute; left:0.99rem; bottom:10.1rem;}
    .voucher_post .voucher_post-info .voucher_post-text .voucher_post-amount {font-size:0.9rem; letter-spacing:-1px;}
    .voucher_post .voucher_post-info .voucher_post-text .voucher_post-amount span {font-size:2.1rem;}
    .voucher_post .voucher_expiration span {font-size:1.3rem; padding:0.9rem 0;}
    /* E : 20220804 수정 */

    /* 팝업 */
    .layer_section.type-narrow-a .layer_section-container {min-width:1px; width:calc(100% - 2rem);}

    /* 이용동의 팝업 */
    .layer_section.type-narrow-b .layer_section-container{width:90vw;}
    .layer_section.type-narrow-b .agree-title-area{line-height:18.8vw}
    .layer_section.type-narrow-b .agree-title-area .agree-title{font-size:5.6vw;letter-spacing:-.14vw;}
    .layer_section.type-narrow-b .agree-content{padding:8vw 5vw}
    .layer_section.type-narrow-b .agree-content ol li{padding-left:4.3vw;font-size:3.47vw;letter-spacing:-.11vw}
    .layer_section.type-narrow-b .agree-content ol li + li{margin-top:2.69vw}
    .layer_section.type-narrow-b .btn-modal_close{font-size:4.3vw;height:14.5vw}
    .layer_section.type-narrow-b .agree-content p{font-size:3.47vw;letter-spacing:-.09vw}
    .layer_section.type-narrow-b .agree-content .agree-list{margin:3.2vw 0}
    .layer_section.type-narrow-b .agree-content .agree-list li{margin-top:2.1vw;padding-left:2.6vw;font-size:3.47vw;}
    .layer_section.type-narrow-b .agree-content .agree-list li:before{top:1.5vw;width:1.65vw;height:1.65vw;border-radius:50%;}
}

/* 20220817 ASB-9566 브랜치용(vue페이지에 슬라이드 적용했을때, css 깨져서 아래 내용 재적용 */
/* .voucher_slide .owl-prev,
.voucher_slide .owl-next {position:absolute !important; top:19rem !important; display:inline-block !important; width:8rem !important; height:8rem !important; text-indent:-9999px !important;}
.voucher_slide .owl-prev {left:0 !important; background:url('../images/concierce_voucher_left.png') no-repeat left top !important; background-size:100% auto !important;}
.voucher_slide .owl-next {right:0 !important; background:url('../images/concierce_voucher_right.png') no-repeat left top !important; background-size:100% auto !important;}
.voucher_slide .owl-dots {display:none !important;}

@media(max-width: 768px) {
    .voucher_slide .owl-prev,
    .voucher_slide .owl-next {top:13.2rem !important; width:4rem !important; height:4rem !important;}
    .voucher_slide .owl-prev {left:-1.2rem !important;}
    .voucher_slide .owl-next {right:-1.2rem !important;}
} */

/* 20220817 바닥페이지 고정 css 추가 */
html.scroll-off,
body.scroll-off {height:auto; overflow:hidden;}

/* 20220824 css 추가 */
.concierce_info .info_list li > span {font-weight:300;}/* 20221005 수정 */
.concierce_uselist .uselist_box .use_flag_box {display:flex; align-items:center;}
.concierce_uselist .uselist_box .use_flag_user {display:inline-block; color:#222; font-size:1.7rem; font-weight:normal; margin-left:1.6rem;}

@media(max-width: 768px) {
    .concierce_uselist .uselist_box .use_flag_user {font-size:1.3rem; margin-left:0.8rem;}
}

/* 20221005 css 추가 */
.concierce_wrapper .layer_header {position:fixed; left:0; top:0; width:100%; z-index:10;}
.concierce_wrapper .layer_header + .contents {padding-top:6.4vh; padding-top:calc(constant(safe-area-inset-bottom) + 6.4vh); padding-top:calc(env(safe-area-inset-bottom) + 6.4vh);}
.concierce_wrapper .voucher_info_box .title {position:relative; text-align:center; padding-top:40px;}
.concierce_wrapper .voucher_info_box .title:after {content:""; position:absolute; left:50%; top:0; transform:translateX(-50%); display:block; width:35px; height:35px; background:url(../images/concierce_ico_coffee.png) no-repeat left top; background-size:100% auto;}

/* 20221202 수량 기능 추가 */
.concierce_wrapper .voucher_contact.voucher_contact--evoucher {border-bottom:1px solid #dcdcdc;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt {background:#868686; padding:22px 20px; margin-top:12px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl {display:flex; align-items:center; justify-content:space-between; padding-bottom:16px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl:last-child {padding-bottom:10px; border-bottom:1px solid #fff;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dt {color:#fff; font-size:13px; font-weight:bold; line-height:19px; letter-spacing:-0.33px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dt > p {display:inline-block; color:#fff; font-size:13px; font-weight:normal; letter-spacing:19px; letter-spacing:-0.33px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dt > p span {color:#fff; font-size:13px; font-weight:normal;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dd {color:#fff; font-size:13px; font-weight:normal; line-height:19px; letter-spacing:-0.33px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dd span {display:inline-block; color:#fff; font-size:19px; font-weight:bold; font-family:'Roboto', 'noto sans kr', sans-serif; line-height:23px; letter-spacing:-0.48px; vertical-align:bottom; margin-top:-3px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box {position:relative; display:flex; padding:0 42px; margin-top:10px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box:first-child {margin-top:0;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .ipt_input {width:67px; height:42px; color:#222; font-size:19px; font-weight:bold; font-family:'Roboto', 'noto sans kr', sans-serif; line-height:23px; text-align:center; border:1px solid #cacaca; border-width:1px 0; outline:none;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .btn_cnt {position:absolute; top:0; display:inline-block; width:42px; height:42px; border:1px solid #cacaca; background-color:#f4f4f4; background-repeat:no-repeat; background-position:center center; background-size:18px 18px; cursor:pointer; text-indent:-9999px; outline:none;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .btn_cnt.btn_cnt_minus {left:0; border-radius:2px 0 0 2px; background-image:url('../images/ico_evoucher_minus_on.png');}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .btn_cnt.btn_cnt_minus:disabled {background-image:url('../images/ico_evoucher_minus_off.png');}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .btn_cnt.btn_cnt_plus {right:0; border-radius:0 2px 2px 0; background-image:url('../images/ico_evoucher_plus_on.png');}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .btn_cnt.btn_cnt_plus:disabled {background-image:url('../images/ico_evoucher_plus_off.png');}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_num {border-bottom:1px solid #222; padding:23px 0 10px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_num dl {display:flex; align-items:flex-end; justify-content:space-between;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_num dl dt {color:#222; font-size:13px; font-weight:bold; line-height:19px; letter-spacing:-0.33px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_num dl dd {color:#222; font-size:13px; font-weight:normal; line-height:19px; letter-spacing:-0.33px;}
.concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_num dl dd span {color:#222; font-size:19px; font-weight:bold; font-family:'Roboto', 'noto sans kr', sans-serif; line-height:23px; letter-spacing:-0.48px; vertical-align:bottom;}

@media(max-width: 768px) {
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dt,
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dt > p,
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dt > p span,
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_num dl dt,
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt dl dd {font-size:3.33vw;}
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .ipt_input,
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_num dl dd span {font-size:5.1vw;}
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .ipt_input {width:17.9vw; height:11.2vw;}
    .concierce_wrapper .voucher_contact.voucher_contact--evoucher .evoucher_cnt .cnt_box .btn_cnt {width:11.2vw; height:11.2vw;}
}