@charset "euc-kr";

.hide{display:inline-block; position:absolute; left:-9999px; top:-9999px; width:0 !important; height:0 !important; margin:0; padding:0; font-size:0 !important; line-height:0 !important; }
table caption{overflow:hidden; width:0; height:0; font-size:0; line-height:0}

/* 신제품, 프로모션 */
.brdBox{width:638px;margin:0 auto;padding:0;text-align:center;}
.brdBox *{margin:0;padding:0;}
.brdBox img{border:0 none;vertical-align:top;}
.brdBox table{margin:0 auto;border-collapse:collapse;border-spacing:0;font-size:12px;}
.brdBox table th{padding:10px 0 8px 0;text-align:center;font-weight:bold;}
.brdBox table td{padding:10px 0 8px 0;text-align:center;}
.brdBox .priceBox{width:100%;text-align:center;}
.brdBox .priceBox table{width:100%;}
.brdBox .priceBox table th{color:#666666;}
.brdBox .priceBox table td{color:#666666;}
.brdBox .priceBox table th.first,
.brdBox .priceBox table td.first{border-left:0;}
.brdBox .priceBox table td span.ready{display:block;text-align:center;}
.brdBox .priceBox table td a{display:none;margin:0 auto;}
.brdBox .awrap{position:relative;width:100%;}
.brdBox .awrap a{display:none;position:absolute;}
.brdBox .btnC{text-align:center;}

/* 단일 */
.brdsBox{width:638px;margin:0 auto;padding:0;text-align:center;}
.brdsBox *{margin:0;padding:0;}
.brdsBox img{border:0 none;vertical-align:top;}
.brdsBox .wrap{position:relative;width:100%;}
.brdsBox .wrap a{display:none;position:absolute;}


/* 메일링 */
.mailSvc{width:638px;margin:0 auto;padding:0;background:url("/images/notice2015/common/mail/bg_mailSvc.gif") repeat-y left top;text-align:center;font-family:굴림;}
.mailSvc *{margin:0;padding:0;}
.mailSvc img{border:0;vertical-align:top;}
.mailSvc a img{vertical-align:middle;}
.mailSvc p.noti{margin-top:5px;padding:10px 10px 8px 25px;background:#f6f4f5;font-size:11px;color:#ee7272;text-indent:-10px;}
.mailSvc p.svc{margin:25px 0 0 0}
.mailSvc dt.tit{height:638px;height:182px;background:url("/images/notice2015/common/mail/bg_tit.jpg") no-repeat top left;font-size:0;line-height:0;}
.mailSvc dt.tit strong{display:block;padding:103px 0 0 54px;}
.mailSvc dd.cont{padding-bottom:30px;background:url("/images/notice2015/common/mail/bg_mailSvc_btm.gif") no-repeat left bottom;}
.mailSvc .note{height:146px;padding-left:30px;background:url("/images/notice2015/common/mail/bg_note.gif") no-repeat top left;color:#767676;}
.mailSvc .note p{padding-top:55px;line-height:18px;}
.mailSvc .note p strong{font-weight:bold;color:#222222;}
.mailSvc .mcont{width:545px;#width:585px;margin:0 auto;padding-left:30px;#padding-left:40px;}
.mailSvc .amgm{padding:20px 0 25px 0;}
.mailSvc .amgm dl{padding:0 10px 10px 10px;background:#fff;border:5px solid #d2c4b7;}
.mailSvc .amgm dt{padding:12px 0 8px 0;border-top:1px solid #f8f7f5;border-bottom:1px solid #f3f2f0;font-weight:bold;color:#4b3829;}
.mailSvc .amgm dd{padding-top:5px;border-top:1px solid #eeeae7;}
.mailSvc .amgm dd ul.lsBox{overflow:hidden;width:100%;background:#f5f0ed;}
.mailSvc .amgm dd ul li.ls{float:left;width:48%;padding:12px 0 15px 0;text-align:left;}
.mailSvc .amgm dd ul li.ls strong{display:inline-block;margin-left:18px;padding:0 5px;background:#ef7b7e;color:#f7efec;line-height:18px;}
.mailSvc .amgm dd ul li.ls ul{padding:8px 0 0 18px;}
.mailSvc .amgm dd ul li.ls ul li{padding-left:11px;background:url("/images/notice2015/common/mail/blt_ls.gif") no-repeat 2px 6px;line-height:17px;}
.mailSvc .etc{padding-bottom:20px;text-align:left;}
.mailSvc .etc dt{padding:0 0 12px 17px;background:url("/images/notice2015/common/mail/blt_stit.gif") no-repeat left top;color:#524040;font-weight:bold;font-size:14px;}
.mailSvc .etc dd{padding-bottom:30px;}
.mailSvc table{width:100%;border-collapse:collapse;border-spacing:0;font-size:12px;}
.mailSvc table td{color:#666;}
.mailSvc table th.first,
.mailSvc table td.first{border-left:0 !important;}
.mailSvc table.etc1 th{padding:8px 0 6px 14px;background:url("/images/notice2015/common/mail/blt_ls.gif") no-repeat 6px 45%;border-bottom:1px solid #e8e8e8;color:#3e3e3e;text-align:left;line-height:16px;}
.mailSvc table.etc1 td{padding:8px 0 6px 11px;background:url("/images/notice2015/common/mail/blt_tbl.gif") no-repeat 0 45%;border-bottom:1px solid #e8e8e8;line-height:16px;}
.mailSvc table.etc2 th{padding:8px 0 6px 0;border-left:1px solid #fff;border-bottom:1px solid #e8e8e8;background:#faf6f5;color:#8a6457;font-weight:bold;}
.mailSvc table.etc2 td{padding:8px 10px 6px 10px;border-left:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;line-height:16px;}
.mailSvc table.etc2 td.cnt{text-align:center;}
.mailSvc table.etc2 td em{color:#eb7374;}


/* 체험프로그램 */
.abcExProg {width:638px; text-align:left; color:#666;}
.abcExProg *{margin:0;padding:0;}
.abcExProg ul,
.abcExProg li{list-style:none;line-height:18px;}
.abcExProg a{text-decoration:none;}
.abcExProg img{vertical-align:middle;}
.abcExProg table{table-layout:auto;width:100%;margin:0 auto;border:0;border-collapse:collapse;border-spacing:0;font-size:12px;}
.abcExProg table th{padding:10px 0 8px 0;border:1px solid #d3d3d3;background:#f6f9fc;font-weight:bold;text-align:center;}
.abcExProg table thead th{color:#465890;}
.abcExProg table tbody th{font-weight:normal;}
.abcExProg table td{padding:10px 10px 8px 10px;border:1px solid #d3d3d3;text-align:center;}
.abcExProg table td.left{text-align:left;}
.abcExProg table.elist{border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.abcExProg table.elist th{font-size:14px;color:#4c609b;}
.abcExProg table.elist td{padding:10px 5px 15px 5px;text-align:left;font-size:11px;letter-spacing:0;vertical-align:top;}
.abcExProg table.elist td span.num{display:block;padding:0 0 5px 0;font-weight:bold;font-size:14px;font-family:verdana;}
.abcExProg table.elist td span.num span{display:inline-block; position:absolute; left:-9999px; top:-9999px; width:0 !important; height:0 !important; margin:0; padding:0; font-size:0 !important; line-height:0 !important;}
.abcExProg table.elist td span.hour{display:block; color:#4d95cf; letter-spacing:-0.1em; }
.abcExProg table.elist td em{font-style:normal; line-height:150%; letter-spacing:-0.1em; }
.abcExProg dt.tit{width:638px;height:57px;background:url('/images/notice2015/common/program/bg_tit.gif') no-repeat top left;}
.abcExProg dt.tit strong{display:block; margin:0; padding:20px 0 0 0; color:#fff; text-align:center; font-size:16px; font-weight:bold; }
.abcExProg dd.cont{}
.abcExProg p.top{margin:20px 0 0 0;padding:20px;background:#f1f1f1;}
.abcExProg ul.lsBox {padding-bottom:20px;border-bottom:1px solid #dadde9;}
.abcExProg ul.lsBox li.ls{padding-top:20px;}
.abcExProg ul.lsBox li.ls span.stit {display:block;padding:0 0 8px 0;}
.abcExProg ul.lsBox li.ls span.stit img{margin-top:-2px; margin-right:5px; vertical-align:middle;}
.abcExProg ul.lsBox li.ls strong.em{display:block;padding-left:12px;color:#465890;}
.abcExProg ul.note{padding:0 0 0 12px;}
.abcExProg ul.note li {color:#465890;}
.abcExProg .btnView{overflow:hidden;width:100%;margin-top:20px;}
.abcExProg .btnView a{float:left;width:153px;height:32px;background:url('/images/notice2015/common/program/bg_btn.gif') no-repeat left top;}
.abcExProg .btnView a span{display:block;float:left;width:140px;padding:10px 0 0 0;color:#fff; font-weight:bold;text-align:center;cursor:pointer;}
.abcExProg .btnView span.txt{float:left; padding:10px 0 0 10px; font-size:11px; color:#4f63a0; }
.abcExProg .exList{padding:20px 0;}
.abcExProg .exList p{padding:0 0 8px 10px; background:url('/images/notice2015/common/program/blt_txt.gif') no-repeat 0 5px;}
.abcExProg .exList .btns{padding-top:20px;text-align:center;}
.abcEx{width:710px;}/* abc사이트에 넣을 경우 */
.abcEx dt.tit{width:710px;background:url('/images/notice2015/common/program/bg_tit_abc.gif') no-repeat top left;}


/* 텍스트 공지 */
.notiBox{width:638px;margin:0 auto;}
.notiBox *{margin:0;padding:0;}
.notiBox ul, .notiBox ol, .notiBox li{list-style:none;}
.notiBox img{border:0; vertical-align:middle;}
.notiBox dt.tit{padding:20px 25px; font-size:25px; line-height:30px; color:#333333;text-align:left;font-weight:bold;}
.notiBox dd.cont{padding:0 25px;text-align:left;}
.notiBox dd.cont p.txt{line-height:180%;}
.notiBox dd.cont .prdImg{margin:20px 0;text-align:center;}
.notiBox ul.titLs{margin-top:20px;}
.notiBox ul.titLs li.ls{width:588px;padding-bottom:20px;}
.notiBox ul.titLs strong.stit{display:block;padding-left:20px;background:url('/images/notice2015/common/txt/blt_stit.gif') no-repeat 1px 2px;font-size:15px; font-weight:bold; color:#0280a4;}
.notiBox .unit{height:25px;margin-top:-15px;text-align:right;font-size:11px;}

table.brdTbl {width:100%;border-collapse:collapse; border-spacing:0; border:0; border-top:2px solid #1096bc;font-size:12px; line-height:140%;color:#444444; }
table.brdTbl th {padding:15px 5px 10px 5px;border:1px solid #b9d0d9;background:#e7eff2; font-weight:normal; color:#666666; text-align:center; }
table.brdTbl td {padding:15px 0 10px 0;border:1px solid #b9d0d9;text-align:center; color:#3f6574; }


/* 2015 0428 ABO월간공지 */
.notiBoxs{width:638px;margin:0 auto;}
.notiBoxs *{margin:0;padding:0;color:#333;}
.notiBoxs ul, .mNotiBox ol, .mNotiBox li{list-style:none;}
.notiBoxs img {border:0; vertical-align:middle;}
.notiBoxs dt.tit{height:88px;background:url("/images/notice2015/common/txt/bg_btit.gif") no-repeat left top;}
.notiBoxs dt.tit strong{display:block;padding-top:50px;text-align:center; font-size:25px; color:#065e81;}
.notiBoxs dd.cont{background:url("/images/notice2015/common/txt/bg_bcont.gif") repeat-y left top;text-align:left;}
.notiBoxs dd.cont .contIn{padding:10px 50px 60px 50px;background:url("/images/notice2015/common/txt/bg_bfooter.gif") no-repeat left bottom;}
.notiBoxs dd.cont p.txt{padding-top:20px;line-height:140%;}
.notiBoxs dd.cont ul.titLs{margin-top:20px;background:url("/images/notice2015/common/txt/bg_bline.gif") no-repeat left top;}
.notiBoxs dd.cont ul.titLs li{padding-top:30px;}
.notiBoxs dd.cont ul.titLs li strong.stit{display:block;padding-bottom:10px;font-size:14px;color:#333;font-weight:normal;}
.notiBoxs dd.cont ul.titLs p.txt{padding:0 0 0 15px;color:#666;}
.notiBoxs dd.cont ul.titLs li ul{padding-left:15px;}
.notiBoxs dd.cont ul.titLs li ul li{padding:0 0 8px 0;}
.notiBoxs dd.cont ul.titLs li ul.ls li{padding:0 0 8px 10px;background:url("/images/notice2015/common/txt/blt_ls.gif") no-repeat 0 5px;}
.notiBoxs dd.cont ul.titLs li ul.num li{padding:0 0 8px 15px;text-indent:-15px;}
.notiBoxs dd.cont p.note{margin-left:15px;padding-left:10px;text-indent:-10px;color:#666;}
.notiBoxs dd.cont p.notes{padding:15px 0 0 18px;color:#666;}
.notiBoxs dd.cont p.notes strong{display:block;margin-left:-18px;font-weight:normal;}
.notiBoxs dd.cont table.brdTbl{width:535px;}