@charset "utf-8";
/* ---------------------------------------
	Description : Common
	Author	: netive -
	Modify : 2016.11.22 - SNS url 복사하기 버튼 추가
	--------------------------------------- */

/* ---------- reset ---------- */
html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,form,fieldset,caption,input,textarea,select,table,th,td,map{margin:0; padding:0}
h1,h2,h3,h4,h5,h6{line-height:normal; font-size:100%;}
dl,dt,dd,ul,ol,li{list-style:none;}
strong,em,i,address{font-style:normal; font-weight:normal}

/*
a{color:inherit;}
a:link, a:visited, a:hover, a:active{text-decoration:none;} */
a{color:inherit; text-decoration:none;}
a:link, a:hover, a:focus, a:active{ text-decoration:none;}
a:visited{color:#831e88;}

a.line{text-decoration:underline;}

a,span{display:inline-block;}
area{cursor:pointer;}
hr{overflow:hidden; visibility:hidden; font-size:0; line-height:0;}

table{border-spacing:0; border-collapse:collapse;}
caption{overflow:hidden; width:0; height:0; font-size:0; line-height:0}
img{vertical-align:middle; border:0;}

label{cursor:pointer; vertical-align:middle; display:inline-block;}
button{cursor:pointer; vertical-align:middle; overflow:visible; margin:0; padding:0; border:0; background:0;}
textarea, input{ vertical-align:middle; font-size:inherit; font-family:inherit;}
select{min-width:65px;height:33px;padding:0.5em;background:#fff;line-height:100%;font-size:inherit;font-family:inherit;vertical-align:middle;border-radius:none;}
/* select{height:33px;padding:0.5em;vertical-align:middle; background:#fff;border-radius:0;border:1px solid #b2b5b8; line-height:100%;font-size:inherit; font-family:inherit; -webkit-apprearance:none;} */
textarea{resize:none;border-radius:0;line-height:inherit; border:1px solid #b2b5b8;}
fieldset{border:0; padding:0}
legend{position:absolute; left:-9999px; overflow:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0}
button[disabled], input[disabled]{cursor:default;}
input[type=text],
input[type=password],
input[type=tel],
input[type=number],
input[type=email],
input[type=url]{-webkit-appearance:none; -moz-appearance:none; appearance:none; -webkit-border-radius:0; border-radius:none; border:1px solid #b2b5b8; height:31px; padding:0; text-indent:10px; font-size:13px}/*padding: .6em .5em*/
input[type=button],
input[type=submit]{-webkit-appearance:none; -moz-appearance:none; appearance:none; -webkit-border-radius:0; border-radius:none;}
input[type=radio], input[type=radio]{font-size:0; vertical-align:middle;}
input[type=radio] + label, input[type=checkbox] + label{margin-left:5px; vertical-align:0; font-size:13px}

input[type=text]:read-only,
input[type=password]:read-only,
input[type=tel]:read-only,
input[type=number]:read-only,
input[type=email]:read-only,
input[type=url]:read-only,
input[type=file]:read-only{background:#f4f6f7; color:#666}
input[readonly] { background:#f4f6f7; color:#666 }
/* radio,checkbox 크기변경
input[type=checkbox] {border-radius:0;}
input[type=radio] {transform: scale(1.2) !important; -webkit-transform: scale(1.2) !important;-moz-transform: scale(1.2);-ms-transform: scale(1.2);-o-transform: scale(1.2); padding-bottom:4px !important; margin:.25em}
 */

/* ---------- common ---------- */
html{font-family:'Nanum Gothic','나눔고딕','Malgun Gothic','맑은고딕',Dotum,'돋움',Gulim,'굴림','Helvetica Neue',Helvetica,Tahoma,Verdana,'Trebuchet MS', Arial, Apple-Gothic, Sans-serif; -webkit-text-size-adjust:none;}
html,body{height:100%;}
body{font-size:14px; color:#666;}
.hide{overflow:hidden; position:absolute; left:-9999px; width:0 !important; height:0 !important; font-size:0 !important; line-height:0 !important; margin:0 !important; padding:0 !important;}

/* 정렬 */
.textL{text-align:left !important; padding-left:12px !important;}
.textR{text-align:right !important; padding-right:12px !important;}
.textC{text-align:center !important;}

table.textL td{text-align:left; padding-left:10px;}
table.textC td, table.tblBiz.month td{text-align:center;}
table.textR td{text-align:right; padding-right:10px;}

/* 공통마진 */
label.mgNone{margin-right:5px !important}
label.mgSet{margin-right:20px !important}

.mgNone{margin-top:0 !important}
.mgbNone{margin-bottom:0 !important}

.mgtSs{ margin-top:5px !important;}
.mgtS{margin-top:10px !important}
.mgtSM{margin-top:15px !important}
.mgtM{margin-top:20px !important}
.mgtL{margin-top:30px !important}

.mgbS{margin-bottom:10px !important}
.mgbM{margin-bottom:20px !important}

.mglNone{margin-left:0px !important}
.mglBtn{margin-left:5px !important;}
.mglS{margin-left:10px !important}

.mglM{margin-left:15px !important}
.mgRS{margin-right:10px !important}

/* 공통 패딩 */
.pdNone{padding-top:0 !important}
.pdtS{padding-top:10px !important}
.pdbS{padding-bottom:10px !important}
.pdlNone{padding-left:0 !important;}
.pdlS{padding-left:10px !important;}

/* 공통 폰트 사이즈 */
.fszS{font-size:16px !important}
.fszM{font-size:22px !important}
.fszL{font-size:28px !important}

/* 포인트 컬러 */
.colorM{color:#0a70d3 !important}
.colorS{color:#333 !important}
.colorR{color:#e91e40 !important}

.bld{font-weight:bold;}

/* float */
.floatL{float:left}
.floatR{float:right}
.clearfx:after{content:"";display:block;clear:both;}
.dsInline{display:inline-block !important;}


/* ---------- page skipNavi ---------- */
#pbSkipNavi{position:absolute; z-index:10000; width:100%; text-align:center}
#pbSkipNavi a{display:block; overflow:hidden; width:1px; height:1px; margin-bottom:-1px; text-align:center; color:#FFF; white-space:nowrap}
#pbSkipNavi a:focus,#pbSkipNavi a:active{width:auto; height:auto; padding:5px; background:#0989cb}
.skipNaviReturn{position:relative}
.skipNaviReturn a{display:block; overflow:hidden; height:1px; width:1px; margin-bottom:-1px; text-align:center; color:#FFF; white-space:nowrap}
.skipNaviReturn a:focus,.skipNaviReturn a:active{width:auto; height:auto; padding:5px; margin-bottom:10px; background:#0989cb}



/* ---------- button ---------- */

/* S : 20231010 수정 */
/* 더보기 */
a.listMore{overflow:hidden; display:block; text-align:center; padding:20px 0 0; border-top:0px solid #dbdbdb; color:#666;}
a.listMore span{display:inline-block; height:13px; padding-right:18px; background:url(/_ui/mobile/images/academy/ico_listmore.png) 100% 6px no-repeat; background-size:11px 25px;}

/* top으로 이동 */
a.listMoreTop{overflow:hidden; display:block; text-align:center; padding:20px 0 0; border-top:0px solid #dbdbdb; color:#666;}
a.listMoreTop span{display:inline-block; height:13px; padding-right:18px; background:url(/_ui/mobile/images/academy/ico_listmore.png) 100% -12px no-repeat; background-size:11px 25px;}
/* E : 20231010 수정 */

a.btnHide{display:inline-block; position:absolute; top:0; left:-9999px; width:auto !important; padding:0 20px !important; background-color:#444 !important; color:#fff !important; line-height:28px !important; height:25px !important;}
a.btnHide:focus, a.btnHide:active{left:0;}

/* 필수입력 */
.icoMust{display:inline-block; margin:0 3px 3px; width:7px; height:auto;}
.pbPopContent .topInfo { font-size:12px; text-align:right; }
.pbPopContent .topInfo > span { display:block; }
.pbPopContent .topInfo.lineT { padding:10px 0; margin-top:15px; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; }

/* 제품상세정보 관련자료 링크 아이콘 */
.btnTblMyData{display:inline-block; height:25px; padding:0 13px 0 0; vertical-align:middle; font-size:12px; color:#444; line-height:25px; background:url(/_ui/mobile/images/common/bg_btn_mydata.gif) 100% 0 no-repeat; background-size:175px 25px;}
.btnTblMyData span{display:block; height:25px; padding:0 0 0 35px; background:url(/_ui/mobile/images/common/bg_btn_mydata2.gif) 0 0 no-repeat; background-size:175px 25px;}
.btnTblMyData.on span{background:url(/_ui/mobile/images/common/bg_btn_mydata.gif) 0 0 no-repeat;background-size:175px 25px;}
.btnTblReData{display:inline-block; height:25px; padding:0 13px 0 0; vertical-align:middle; font-size:12px; color:#444; line-height:25px; background:url(/_ui/mobile/images/common/bg_btn_like.gif) 100% 0 no-repeat; background-size:175px 25px;}
.btnTblReData span{display:block; height:25px; padding:0 0 0 35px; background:url(/_ui/mobile/images/common/bg_btn_like2.gif) 0 0 no-repeat; background-size:175px 25px;}
.btnTblReData.on span{background:url(/_ui/mobile/images/common/bg_btn_like.gif) 0 0 no-repeat; background-size:175px 25px;}
.btnTblPlay,
.btnTblPlayN { display:inline-block; width:35px; height:25px; text-align:left; color:#fff; padding:0 0 0 30px; vertical-align:middle; font-size:12px; line-height:25px; background:url(/_ui/mobile/images/common/bg_btn_play.gif) 100% 0 no-repeat; background-size:65px 25px;}
.btnTblDown{display:inline-block; height:25px; padding:0 13px 0 0; vertical-align:middle; font-size:12px; color:#444; line-height:25px; background:url(/_ui/mobile/images/common/bg_btn_down.gif) 100% 0 no-repeat; background-size:175px 25px;}
.btnTblDown span{display:block; height:25px; padding:0 0 0 35px; color:#666; background:url(/_ui/mobile/images/common/bg_btn_down.gif) 0 0 no-repeat; background-size:175px 25px;}
.btnTblPdf{display:inline-block; height:33px; padding:0 13px 0 0; vertical-align:middle; font-size:12px; color:#444; line-height:33px; background:url(/_ui/mobile/images/common/bg_btn_pdf.gif) 100% 0 no-repeat; background-size:250px 33px;}
.btnTblPdf span{display:block; height:33px; padding:0 0 0 31px; font-weight:bold; color:#333; background:url(/_ui/mobile/images/common/bg_btn_pdf.gif) 0 0 no-repeat; background-size:250px 33px;}

.btnViewAll{padding:5px 0 5px 23px; background:url(/_ui/mobile/images/common/btn_viewAll.png) 0 3px no-repeat; background-size:17px auto; font-size:11px; font-weight:bold; color:#666; line-height:100%;}
.btnViewAll:visited{color:#666;}

.btnBoard{height:31px; padding:0 7px; line-height:31px; font-size:12px; font-weight:bold; background:#fafafa; border:1px solid #999999; color:#666; vertical-align:middle;}
.btnBoard.on{background:#666; color:#fff; border:1px solid #575757;}
input.btnBoard{height:32px; line-height:24px; border-radius:0;}

/* 공지사항 SNS URL */
input.btnContSns{margin-top: 5px;width:100%;height:34px;line-height:26px; border:0; border-radius:0;font-size:16px;}

.btnCont{width:60px; height:31px; font-size:12px; line-height:30px; font-weight:bold; background:#89929b; border:1px solid #71787f; color:#fff; text-align:center; vertical-align:middle;}
.btnContL{padding:0 9px; height:32px; font-size:12px; line-height:32px; font-weight:bold; background:#89929b; border:1px solid #71787f; color:#fff; text-align:center; vertical-align:middle;}
input.btnCont{height:33px; line-height:24px; border-radius:0;}
input.btnContL{height:34px; line-height:26px; border-radius:0; font-size:12px;}

/* 공지사항 SNS URL */
input.btnContSns{margin-top: 5px;width:100%;height:34px;line-height:26px; border:0; border-radius:0;font-size:16px;}

.btnTbl{display:inline-block; height:23px; line-height:23px; padding:0 10px;}
.btnTblL{display:inline-block; height:28px; line-height:28px; padding:0 28px;}
.btnTblL2{display:inline-block; height:43px; line-height:20px; padding:3px 10px 0;}
input.btnTbl{height:25px;}
input.btnTblL{height:30px; border-radius:3px;}

.btnTbl, .btnTblL, .btnTblL2{color:#666; font-size:12px; font-weight:bold; border:1px solid #a5a8ac; border-radius:3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(95%,#dee0e3), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 30%,#dee0e3 95%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 30%,#dee0e3 95%,#ffffff 100%);
	background: linear-gradient(to bottom, #ffffff 30%,#dee0e3 95%,#ffffff 100%);
}
.btnTbl.off, strong.btnTblL, input[type=button]:disabled.btnTbl, input[type=button]:disabled.btnTblL{color:#adadae !important; font-size:12px; font-weight:bold;
	border:1px solid #d2d3d5; border-radius:3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#f6f7f7), color-stop(95%,#eeeff0), color-stop(100%,#f6f7f7));
	background: -webkit-linear-gradient(top, #ffffff 30%,#eeeff0 95%,#f6f7f7 100%);
	background: -o-linear-gradient(top, #ffffff 30%,#eeeff0 95%,#f6f7f7 100%);
	background: linear-gradient(to bottom, #ffffff 30%,#eeeff0 95%,#f6f7f7 100%);
}
.btnArrw{display:inline-block; height:23px; line-height:23px; padding:0 22px 0 10px; color:#666; font-size:12px; font-weight:bold;
	border:1px solid #a5a8ac; border-radius:3px;
	background: url(/_ui/mobile/images/common/bg_btn_arrw.png) 96% 52% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(95%,#dee0e3), color-stop(100%,#ffffff));
	background: url(/_ui/mobile/images/common/bg_btn_arrw.png) 96% 52% no-repeat, -webkit-linear-gradient(top, #ffffff 30%,#dee0e3 95%,#ffffff 100%);
	background: url(/_ui/mobile/images/common/bg_btn_arrw.png) 96% 52% no-repeat, linear-gradient(to bottom, #ffffff 30%,#dee0e3 95%,#ffffff 100%);
	background-size:10px auto, 100% 100%;
}
.btnArrB{overflow:hidden; display:inline-block; height:23px; line-height:23px; padding:0 25px 0 6px; color:#fff !important; font-size:12px; font-weight:bold;
	border:1px solid #000000; border-radius:3px;
	background: url(/_ui/mobile/images/common/bg_btn_arrwB.png) 100% 52% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(30%,#888888), color-stop(95%,#676767), color-stop(100%,#888888));
	background: url(/_ui/mobile/images/common/bg_btn_arrwB.png) 100% 52% no-repeat, -webkit-linear-gradient(top, #888888 30%,#676767 95%,#888888 100%);
	background: url(/_ui/mobile/images/common/bg_btn_arrwB.png) 100% 52% no-repeat, linear-gradient(to bottom, #888888 30%,#676767 95%,#888888 100%);
	background-size:27px auto, 100% 100%;
}
.btnArrB.open{
	background: url(/_ui/mobile/images/common/bg_btn_arrwB2.png) 100% 52% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(30%,#888888), color-stop(95%,#676767), color-stop(100%,#888888));
	background: url(/_ui/mobile/images/common/bg_btn_arrwB2.png) 100% 52% no-repeat, -webkit-linear-gradient(top, #888888 30%,#676767 95%,#888888 100%);
	background: url(/_ui/mobile/images/common/bg_btn_arrwB2.png) 100% 52% no-repeat, linear-gradient(to bottom, #888888 30%,#676767 95%,#888888 100%);
	background-size:27px auto, 100% 100%;
}

.btnBasicGL, .btnBasicBL, .btnBasicRL, .btnBasicGrL{display:inline-block; min-width:140px; font-size:17px; font-weight:bold; line-height:42px; text-align:center}
.btnBasicWL{background:#fafafa; color:#666; border:1px solid #575757; display:inline-block; min-width:62px; font-size:12px; font-weight:bold; line-height:42px; text-align:center}
.btnBasicGL, .btnBasicGLfree{background:#666; color:#fff; border:1px solid #575757;}
.btnBasicBL, .btnBasicBLfree{background:#1874cd; color:#fff; border:1px solid #075db1;}
.btnBasicRL, .btnBasicRLfree{background:#e81135; color:#fff; border:1px solid #ba0e2a;}
.btnBasicGrL, .btnBasicGrLfree{background:#0f8906; color:#fff; border:1px solid #0b7004;}
.btnWrap [class$=free], .btnMiddleWrap [class$=free]{min-width:auto; padding:0 15px; font-size:17px; font-weight:bold; line-height:42px;}

.btnArrwGL{display:inline-block; height:32px; line-height:32px; margin:0; letter-spacing:-1px; text-indent:0; padding:0 29px 0 15px; color:#fff; font-size:12px; font-weight:bold;
	border:1px solid #a5a8ac; background:#666 url(/_ui/mobile/images/common/btn_arr6.png) 100% center no-repeat; background-size:21px 10px;
}

.btnDisable{display:inline-block; min-width:140px; font-size:17px; line-height:42px; text-align:center; background:#fafafa; color:#6e6e6e;}/* 제품구매하기-비활성화 */
.btnDisableS{display:inline-block; min-width:62px; font-size:12px; line-height:42px; text-align:center; background:#fafafa; color:#6e6e6e;}

.btnDis{background:#f2f2f2;border:1px solid #e3e3e3;color:#6e6e6e;box-sizing:border-box !important;}/* 일반버튼-비활성화 */

/* 양도양수 회원빼기 */
.btnMinusB {padding:0 6px}

/* 문서하단 최종기능 버튼영역 */
.btnMiddleWrap{overflow:hidden; text-align:center; margin:0 0 20px; padding:0 10px;}
.btnWrap{overflow:hidden; text-align:center; margin-top:20px; padding:0 10px;}
.btnWrap.orderDone{margin:20px 0}
.btnWrap a, .btnMiddleWrap a{margin-left:5px;}
.btnWrap a:first-child, .btnMiddleWrap a:first-child{margin-left:0;}
.btnWrap a.tlong{padding-top:10px;padding-bottom:10px;line-height:25px;}

.btnWrap.aNumb1{padding:0 12px 0 10px;}
.btnWrap.aNumb1 a, .btnWrap.aNumb1 strong{width:100%;}
.btnWrap.aNumb1 .btnTblL{padding:0;}
.btnWrap.aBlock a,
.btnWrap.aBlock span{width:100%; margin:0 0 10px 0}

.btnWrap.aNumb2, .btnWrap.aNumb3, .btnWrap.aNumb3S, .btnWrap.aNumb4{display:table; width:100%; padding:0; }
.btnWrap.aNumb2 > span{display:block; width:50%; float:left; box-sizing:border-box !important;}
.btnWrap.aNumb2 > span.join a{letter-spacing:-0.1em;}
.btnWrap.aNumb2 a, .btnWrap.aNumb3 a, .btnWrap.aNumb3S a, .btnWrap.aNumb4 a, .btnWrap.aNumb2 .dBtn, .btnWrap.aNumb3 .dBtn, .btnWrap.aNumb4 .dBtn {width:100%; box-sizing:border-box !important;}
.btnWrap.aNumb2 span.btnDis, .btnWrap.aNumb3 span.btnDis, .btnWrap.aNumb3S span.btnDis, .btnWrap.aNumb4 span.btnDis{width:100%; box-sizing:border-box !important;}
.btnWrap.aNumb2 > span:nth-of-type(1){padding:0 6px 0 10px}
.btnWrap.aNumb2 > span:nth-of-type(2){padding:0 10px 0 6px}
.btnWrap.aNumb2 > span:last-child{padding-right:12px !important}
.btnWrap.aNumb2 .btnTblL{padding:0;}

.btnWrap.aNumb3 a {min-width:70px;}
.btnWrap.aNumb3 > span{display:table-cell; width:40%; }
.btnWrap.aNumb3 > span:nth-child(1){padding:0 6px 0 10px;}
.btnWrap.aNumb3 > span:nth-child(2){width:30%; padding:0 6px;}
.btnWrap.aNumb3 > span:nth-child(3){width:30%; padding:0 12px 0 6px;}

.btnWrap.aNumb3S a {min-width:70px;}
.btnWrap.aNumb3S > span{display:table-cell; width:30%; }
.btnWrap.aNumb3S > span:nth-child(1){padding:0 6px 0 10px;}
.btnWrap.aNumb3S > span:nth-child(2){width:30%; padding:0 6px;}
.btnWrap.aNumb3S > span:nth-child(3){width:40%; padding:0 12px 0 6px;}

.btnWrap.aNumb4 > span{display:table-cell; width:25%;}
.btnWrap.aNumb4 > span:nth-child(1){padding:0 3px 0 10px;}
.btnWrap.aNumb4 > span:nth-child(2), .btnWrap.aNumb4 > span:nth-child(3) {padding:0 3px;}
.btnWrap.aNumb4 > span:nth-child(4){padding:0 12px 0 3px;}

.btnUnder { margin-top:20px; padding-top:10px; border-top:1px solid #dbdbdb; }
.btnUnder .btnWrap { margin:10px 0 0 0; text-align:left; }

.pbPopContent .btnWrap, .pbPopContent .btnMiddleWrap{padding:0 !important}
.pbPopContent .btnWrap.aNumb1{padding:0;}
.pbPopContent .btnWrap.aNumb2 > span:nth-of-type(1){padding:0 6px 0 0;}
.pbLayerContent .btnWrap.aNumb2 > span:nth-of-type(2),
.pbPopContent .btnWrap.aNumb2 > span:nth-of-type(2){padding:0 0 0 6px !important}
.sideNone .pbPopContent .btnWrap.aNumb2 > span:nth-of-type(2){padding-right:10px !important}
.pbPopContent .btnWrap.aNumb3 span:nth-child(1){padding:0 6px 0 0;}
.pbPopContent .btnWrap.aNumb3 span:nth-child(3){padding:0 0 0 6px;}

/* 공통 버튼액션 색상 */
.btnBoard.on:hover, .btnBoard.on:focus, .btnBoard.on:visited, a.btnTblPlay:hover, a.btnTblPlay:focus, a.btnTblPlay:visited, a.btnArrwGL:hover, a.btnArrwGL:focus, a.btnArrwGL:visited{text-decoration:none; color:#fff}
a.btnTbl:hover, a.btnTblL:hover, a.btnTbl:focus, a.btnTblL:focus, a.btnTbl:visited, a.btnTblL:visited,
a.btnBoard:hover, a.btnBoard:focus, a.btnBoard:visited{color:#666;}
a.btnCont:hover, a.btnContL:hover, a.btnBasicGL:hover, a.btnBasicBL:hover, a.btnBasicRL:hover, a.btnBasicGrL:hover, .btnWrap a[class$=free]:hover, .btnMiddleWrap a[class$=free]:hover,
a.btnCont:focus, a.btnContL:focus, a.btnBasicGL:focus, a.btnBasicBL:focus, a.btnBasicRL:focus, a.btnBasicGrL:focus, .btnWrap a[class$=free]:focus, .btnMiddleWrap a[class$=free]:focus,
a.btnCont:visited, a.btnContL:visited, a.btnBasicGL:visited, a.btnBasicBL:visited, a.btnBasicRL:visited, a.btnBasicGrL:visited, .btnWrap a[class$=free]:visited, .btnMiddleWrap a[class$=free]:visited{color:#fff; text-decoration:none}
a[class^=btn]:hover, a[class^=btn]:focus, a[class^=btn]:visited{text-decoration:none;}

@media screen and (max-width:359px){
	#pbWrap{min-width:320px;}
}
@media screen and (min-width:360px){
	body{letter-spacing:-0.05em}
}

/* error */
.errorWrap { padding:110px 0 0 0; text-align:center; /*background:url(/_ui/mobile/images/common/bg_commlogo.jpg) no-repeat center 0; background-size:300px 138px; */}
.errorWrap strong.title { display:block; margin-bottom:15px; font-size:20px; font-weight:400; color:#333; line-height:24px;  }
.errorWrap .btnWrap.aNumb2 {padding-top:60px;}

.sCheckWrap { min-height:300px; margin:0 10px; padding:230px 0 0 0; text-align:center; line-height:18px; background:url(/_ui/mobile/images/common/bg_commlogo2.jpg) no-repeat center 0; background-size:300px 250px;}
.sCheckWrap strong.title { display:block; margin-bottom:15px; font-size:20px; font-weight:400; color:#333; line-height:24px;  }
.sCheckWrap strong.title em { color:#0a70d3; }
.sCheckWrap .txt { margin:20px 0 0 0; text-align:center; padding:20px 15px 17px 15px; background:#f9f9f9;}
.sCheckWrap ul { width:300px; margin:0 auto; }
.sCheckWrap li { text-align:left; margin-top:8px; padding-left:60px; text-indent:-60px; }
.sCheckWrap li:first-child { margin-top:0; }


/* 데이타테이블 떠있는 아이콘 */
#btnCnt {width:30px;height:30px;display:none;position:absolute;z-index:99;right:2px; background-size:100%;position:absolute;top:50%;}
.leftArrw {background:url(/_ui/mobile/images/common/btn_losleft.png) no-repeat top left;}
.rightArrw {background:url(/_ui/mobile/images/common/btn_losright.png) no-repeat top left;}
.centerArrw{background:url(/_ui/mobile/images/common/btn_loscenter.png) no-repeat top left;}

/* 20160404 sABN APP 다운로드 배너 추가 */
.appTopBnr {position:relative;}
.appTopBnrLink {width:100%;}
.appTopBnrLink img {width:100%;}
.appTopBnrClose {position:absolute; top:0; right:0; width:12.18%;}
.appTopBnrClose img {width:100%;}

.appMidBnr {position:fixed; top:25%; left:0; z-index:100; width:100%;}
.appMidBnr img {width:100%;}
.appMidBnrLink {position:absolute; top:58.59%; left:24.53%; width:50.93%;}
.appMidBnrClose {position:absolute; top:24.37%; left:68.9%; width:7.8%;}

/* 20171129 sABN 탑배너 스타일 추가 */
.appTopBnrCloseNew{position: absolute; top: 0; right: 0; width: 12.18%; height:100%;background: url(/_ui/mobile/images/main/inside_top_bnr_close.png) no-repeat center;	background-size:cover;}

/*종료플래그 (메인 : 슬라이더 위치 변경)*/
.touchSliderWrap.mainShopping.sliderForEndflags .sliderPaging,
.touchSliderWrap.promotion.sliderForEndflags .sliderPaging {position: absolute;top: auto;bottom: 2px;left: auto; right:2.5%;margin: 0;width: 100%; text-align: right}
.touchSliderWrap.promotion.sliderForEndflags .sliderPaging {bottom: 0px;}

/*종료플래그 (메인)*/
.touchSliderWrap.mainShopping .end_flags {position: absolute;left: auto;right: 0px;top: 0px;}
.touchSliderWrap.promotion .end_flags {position: absolute;left: auto;right: 0px;top:0px;}
.touchSliderWrap.mainShopping .end_flags span {float: right;margin-left:0px;}
.touchSliderWrap.promotion .end_flags span {float: right;margin-left:0px;}
.touchSliderWrap.mainShopping ul li .end_flags img {height: 34px;width: auto;display: block;}
.touchSliderWrap.promotion ul li .end_flags img {height: 27px;width: auto;display: block;}

.end_flags_tooltip_wrap {position: relative;margin: 0px 10px; padding: 0px;text-align: left;}
.end_flags_tooltip_wrap.pos02{margin-left: 0px;margin-right: 0px;}
.end_flags_tooltip_wrap.pos03 .end_flags_tooltip{margin-top:10px;}
.end_flags_tooltip {position: relative;margin: 0;margin-bottom: 10px;padding: 9px 7px 4px 8px;border: 1px solid #c7c7c7;box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);min-height: 20px;}
.end_flags_tooltip::after {content: ' ';position: absolute;display: block;bottom: -9px;right: -1px;width: 10px;height: 10px;background: url(/_ui/mobile/images/common/bg_arrow_bl.png) 0 0 transparent;background-size: cover;overflow: visible;}
.end_flags_title {text-indent: -17.4px;padding-left: 17.4px;margin-right: 16px;font-size: 12px;font-weight: normal;color: #333333;letter-spacing: -1px;}
.end_flags_title .text{text-indent: 0px;vertical-align:top}
.end_flags_title .ico {width: 13px;height: auto;margin: 0 4px 2px 0;}
.end_flags_content {padding-top: 4px;margin-top:7px;margin-right: -3px;border-top: 1px solid #c7c7c7;font-size: 12px;font-weight: normal;color: #333333;letter-spacing: -1px;line-height: 18px;}
.end_flags_content span {white-space: nowrap;}
.end_flags_content span::after {content: "|";padding:0 0 0 3px;color: #a8a8a8;}
.end_flags_content span:last-child::after {content: '';padding: 0;}
.end_flags_tooltip .close {position: absolute;top: 3px;right: 2px; padding:6px;display: block;}
.end_flags_tooltip .close img {display: block;width: 15px;height: auto;vertical-align:5px;}

.touchSliderWrap.promotion .end_flags_tooltip{margin-top:10px;}

/*종료플래그 (공지문상세)*/
.tblDetailCont.prdNews .detailImg .end_flags {position: absolute;top: 0;right: 0;z-index: 2}
.tblDetailCont.prdNews .detailImg .end_flags span {float: right;}
.tblDetailCont.prdNews .detailImg .end_flags img {display: block;height: 26px;width: auto;}

/*종료 플래그 프로모션 상세 가격정보 위쪽 */
.end_flags_pro {margin:0 0 20px 0;padding:0; font-size:0; line-height: 0; text-align: right;}
.end_flags_pro ul li { display: inline-block; vertical-align:top; padding:0; }
.end_flags_pro ul li img{height:23px;width: auto !important;}
.end_flags_pro .ap_list_tip { vertical-align:top; position: relative; display: inline-block; max-width:211px; background: #def1f6; line-height: 22px;min-height:23px; border:0 none; font-weight: bold; padding:0 7px; text-align: left; letter-spacing: -1px; font-size:11px;}
.end_flags_pro .ap_list_tip span {color:#c7c7c7;}
.end_flags_pro .ap_list_tip:after  {content: ""; background: url(/_ui/mobile/images/common/m_flag_tip_arrow_pro_right.png) no-repeat; position: absolute; right:-5px; top:8px; width:5px; height:5px; background-size: contain;}

/*종료플래그 (프로모션배너리스트)*/
.promotionList .end_flags {position: absolute;left: auto;right: 0px;top:0px;}
.promotionList .end_flags span {float: right;margin-left:0px;}
.promotionList .end_flags img {height: 27px;width: auto;display: block;}
.eSignWrap{padding-top:5px}

/* paging */
.paging{overflow:hidden; margin-top:30px; text-align:center; font-size:13px;}
.paging a{display:inline-block; min-width:19px; height:23px;color:#666;vertical-align:middle; line-height:26px; background:url(/_ui/mobile/images/common/bg_paging.gif) no-repeat 0 0;}
.paging strong{display:inline-block; width:23px; height:23px; color:#fff; background:#666; vertical-align:middle; line-height:23px;}
.paging span.list a{ background:none !important;}

.pagingFirst{background-position:8px 8px !important;}
.pagingPrev{background-position:-14px 8px !important;}
.pagingNext{background-position:-36px 8px !important;}
.pagingLast{background-position:-60px 8px !important;}