@charset "utf-8";
/*공지 init*/
/* 시간설정 시작일,종료일 숨김처리 */
.os_timeCtrlWrap .os_sday,
.os_timeCtrlWrap .os_eday{display: none;}

/* 공통 */
.os_noticeWrap strong{font-weight:bold;}
.os_noticeWrap .os_img-wrapImg {margin:0;padding:0;line-height:0;font-size:0;}
.os_noticeWrap .os_img-wrapImg img { width:100%; }

.os_noticeWrap .os_btnWrap,
.os_noticeWrap .os_btn-wrap{position: relative;}
.os_noticeWrap .os_img-wrapImg .os_btn {position: absolute;}

.os_noticeWrap .os_movie-wrap{position:relative;}
.os_noticeWrap .os_movie {position:absolute;top:0;left:0;}
.os_noticeWrap .os_movie-wrap.noBg {position:relative;width:100%;height:0;padding:56.25% 0 0;margin:0 auto;}
.os_noticeWrap .os_movie.noBg {position:absolute;top:0;left:0;width:100%;height:100%;}
.os_noticeWrap .os_movie-wrap.noBg2 {position:relative;width:88.3%;;height:0;padding:56.25% 0 0;margin:0 auto;}

.os_noticeWrap .osTextLink{text-decoration:underline;}
.os_noticeWrap .img_p{margin:0;padding:0;line-height:0;font-size:0;}
.os_noticeWrap .osMt0{margin-top:0;}
.os_noticeWrap [class$=osRed]{color:#E81035;}
.os_noticeWrap [class$=osBlue]{color:#1961A9 !important;}
.os_noticeWrap [class$=osGreen]{color:#108906;}
.os_noticeWrap [class^=os_pop]{display:none;}
.os_noticeWrap .osTxtL{text-align:left;}
.os_noticeWrap .osTxtR{text-align:right;}
.os_noticeWrap .osTxtC{text-align:center;}
.os_noticeWrap .btmLine{text-decoration:underline;} /* 기본라인*/
.os_noticeWrap .smallTxt {font-size:11px; color:#999; letter-spacing:-1px;}
.os_noticeWrap a:link.osBlueLink { color:#1961A9; text-decoration: underline} /* 2017-06-20 뉴스룸 테이블 컨텐츠 a태크 스타일 - 파란색, 밑줄 */

/* 공통_table */
.os_noticeWrap .osTbBlock{border-top:2px solid #0E4C88;}
.os_noticeWrap .osTbBlock .osTb{width:100%;border-left:1px solid #ddd;}
.os_noticeWrap .osTbBlock .osTb th,.os_noticeWrap .osTbBlock .osTb td{border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.os_noticeWrap .osTbBlock .osTb thead th,
.os_noticeWrap .osTbBlock .osTb.osTbType2 tbody th{background-color:#fafafa;color:#444;}
.os_noticeWrap .osTbBlock .osTb.osTbType2 tbody td {text-align: left !important;}
.os_noticeWrap .osTbBlock .osTb tbody th{font-weight:normal;}
.os_noticeWrap .osTbBlock .osTb .osTxtL{text-align:left !important;}
.os_noticeWrap .osTbBlock .osTb.osTbType2 tbody th{font-weight:bold;}
/* 공통_정정공지 */
.os_noticeWrap .osFixSection{background:#fff;}
.os_noticeWrap .osFixSection .osH2{text-align:left !important;}
.os_noticeWrap .osFixSection .osTbBlock{border-color:#AC1542;}
.os_noticeWrap .osFixSection .osTbBlock .osTb{border-left:0;}
.os_noticeWrap .osFixSection .osTbBlock .osTb .osTblast{border-right:0;}
.os_noticeWrap .osFixSection .osTbBlock .osTb .osFixT{color:#AC1542 !important;}

/* calendar */
.os_noticeWrap.os_mo .monthPlan li:after,.os_noticeWrap.os_mo .monthPlan li:before{display:table;content:" ";}
.os_noticeWrap.os_mo .monthPlan li:after{clear:both;}

/* 카드공지 */
.os_noticeWrap.os_mo .os_cardInfo .os_inCardInfo {padding:30px 10px; background:#fff;}
.os_noticeWrap.os_mo .os_cardInfo .os_inCardInfo dt {padding-bottom:15px;color:#222; font-weight:bold; font-size:14px;}
.os_noticeWrap.os_mo .os_cardInfo .os_inCardInfo dd {padding-bottom:30px; color:#444; font-size:14px; line-height:1.6;}
.os_noticeWrap.os_mo .os_cardInfo .os_inCardInfo dd span{color:#666; font-size:12px; display: inline;}
.os_noticeWrap.os_mo .os_cardInfo .os_btmINfo { padding-top:20px; border-top:1px solid #eee;}
.os_noticeWrap.os_mo .os_cardInfo .os_btmINfo li { padding-left:16px; padding-bottom:23px; color:#666;line-height:1.6; text-indent:-16px;}
.os_noticeWrap.os_mo .os_cardInfo .os_img{ display: block; text-align: center; padding-top:10px !important}

/* 하단 알아두세요 */
.os_noticeWrap .osNotice {background-color:#ededed; padding-bottom:25px;}
.os_noticeWrap .osList_notice1 {margin:0 !important;padding:0 32px}
.os_noticeWrap .osList_notice1 li {line-height:22px;text-indent:-0.6em;text-align:left;}
.os_noticeWrap .osList_notice2 {padding:0 35px;}
.os_noticeWrap .osList_notice2 li {font-size:11px;line-height:18px;text-indent:-0.6em;text-align:left;}

/* mobile */
.os_noticeWrap.os_mo{font-size:14px;line-height:20px;}
.os_noticeWrap.os_mo .btnPopClose{background:url('/_ui/_noticeImg/res/btn_close.gif') 0 0 no-repeat;background-size: 20px}
.os_noticeWrap.os_mo img{ max-width:100%;}
.os_noticeWrap.os_mo .osH1{margin-bottom:0.5em;color:#333;font-weight:bold;font-size:18px;line-height:normal;}
.os_noticeWrap.os_mo .osH2{margin:1.5em 0 0.5em;padding-left:0.8em;background:url(/_ui/_noticeImg/res/m_bl_dot.gif) 0 0.35em no-repeat;background-size:7px auto;color:#333;font-weight:bold;font-size:14px;line-height:normal;}
.os_noticeWrap.os_mo .osH3{margin:1em 0 0.5em;padding-left:0.8em;background:url(/_ui/_noticeImg/res/m_bl_dot.gif) 0.2em 0.6em no-repeat;background-size:5px 2px;color:#333;font-weight:bold;}
.os_noticeWrap.os_mo .osH4{color:#333;font-weight:bold;}
.os_noticeWrap.os_mo .osHBlock .osBtnSchedule{width:100%;margin-bottom:0.5em;padding-left:0;padding-right:0;}
.os_noticeWrap.os_mo .osTxtP{margin:1em 0;}
.os_noticeWrap.os_mo .osHtxtBlockBox {padding:10px 20px; border:1px solid #ececec;}
/* m_list */
.os_noticeWrap.os_mo [class^=osList],
.os_noticeWrap.os_mo [class^=osBlStar]{margin:0.5em 0;}
.os_noticeWrap.os_mo [class*=osBlStar]{padding-left:0.8em;text-indent:-0.8em;font-size:13px;}
.os_noticeWrap.os_mo .osBlDash,
.os_noticeWrap.os_mo .osList-osBlDash>li{padding-left:0.8em;text-indent:-0.6em;}
.os_noticeWrap.os_mo .osBlDotM,
.os_noticeWrap.os_mo .osList-osBlDotM>li,
.os_noticeWrap.os_mo .osBlDotS,
.os_noticeWrap.os_mo .osList-osBlDotS>li{padding-left:0.8em;background:url(/_ui/_noticeImg/res/m_bl_dot.gif) 0.3em 0.6em no-repeat;background-size:3px auto;}
.os_noticeWrap.os_mo li .osList-osBlDotS>li{padding-left:1.5em;}
.os_noticeWrap.os_mo ol[class^=osListNum]>li{list-style-type:decimal;margin-left:1.5em;margin-bottom:0.2em;line-height:1.5;}
/* m_button */
.os_noticeWrap.os_mo .osButtonBlock{margin:1em 0;text-align:center;}
.os_noticeWrap.os_mo [class^=osBtn]{display:inline-block;min-width:70px;padding:7px 15px;background:#0E4C88;color:#fff;font-weight:bold;font-size:14px;text-align:center;}
.os_noticeWrap.os_mo [class^=osBtn]:hover,.os_noticeWrap.os_mo [class^=osBtn]:focus,.os_noticeWrap.os_mo [class^=osBtn]:active{color:#fff;}
/* m_table */
.os_noticeWrap.os_mo .osTbBlock{margin-bottom:0.5em;}
.os_noticeWrap.os_mo .osTbBlock .osTb thead th{padding:0.5em;font-weight:bold;font-size:14px;line-height:normal;text-align:center;}
.os_noticeWrap.os_mo .osTbBlock .osTb tbody th,.os_noticeWrap.os_mo .osTbBlock .osTb tbody td{padding:0.5em;color:#666;font-size:13px;line-height:1.5;text-align:center;}
.os_noticeWrap.os_mo .osTbBlock .osTb.osTbType2 tbody th{font-size:14px;}
.os_noticeWrap.os_mo .osTbBlock .osTb.osTbType2 tbody td {text-align:left !important;}
.os_noticeWrap.os_mo .osTrEven th,.os_noticeWrap.os_mo .osTrEven td{background:#fdfdfd;}

.os_noticeWrap.os_mo .osTbBlock.osTbRowScope table:first-child{border-top:0;}
.os_noticeWrap.os_mo .osTbBlock.osTbRowScope table{border-top:1px solid #0E4C88;}

.os_noticeWrap.os_mo .osTbBlock.osTbRowScope th{background-color:#fafafa;color:#444;font-weight:bold;}

.os_noticeWrap.os_mo .osTbBlock .osTb{width:100%;}

/* m_calendar */
.os_noticeWrap.os_mo .osCalendarSection{margin:20px 0;}
.os_noticeWrap.os_mo .osCalendarSection .osCalHeader{padding:10px;background:#0E4C88;color:#fff;font-weight:bold;font-size:19px;line-height:normal;text-align:center;}
.os_noticeWrap.os_mo .osCalendarSection .osCalTh,
.os_noticeWrap.os_mo .osCalendarSection .osCalHeader .osBlStar-osBlue,
.os_noticeWrap.os_mo .osCalendarSection .osBlDash,.os_noticeWrap.os_mo .osCalendarSection .osEmpty{display:none;}
.os_noticeWrap.os_mo .osCalendarSection ul{margin-top:20px;border-top:2px solid #0E4C88;}
.os_noticeWrap.os_mo .osCalendarSection ul li{padding:0.5em 0;border-bottom:1px solid #ddd;}
.os_noticeWrap.os_mo .osCalendarSection ul li .osCalDate{float:left;width:2em;color:#333;font-weight:bold;font-size:14px;line-height:20px;text-align:center;}
.os_noticeWrap.os_mo .osCalendarSection ul li .osCalDay{float:left;width:3em;color:#666;font-weight:bold;font-size:14px;line-height:20px;text-align:center;}
.os_noticeWrap.os_mo .osCalendarSection ul li .osCalCntArea{padding-left:6em;font-size:13px;line-height:20px;text-align:left;}
.os_noticeWrap.os_mo .osCalendarSection ul li .osCalCntArea span{display:inline-block;padding-top:0.1em;}
.os_noticeWrap.os_mo .osCalendarSection ul li .osCalCntArea span:after{content:" |";}
.os_noticeWrap.os_mo .osCalendarSection ul li .osCalCntArea span:last-child:after{content:"";}
.os_noticeWrap.os_mo .osCalendarSection ul li .osCalCntArea span em{color:#1961A9;}
/* m_카드공지 */
.os_noticeWrap.os_mo .img_p img {width:100%;}
.os_noticeWrap.os_mo .os_cardInfo1 { width:100%; background:#f1f1f1;color:#666;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_inCardInfo {background:#fff;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_inCardInfo .os_inCardInfo_inner {padding:0 5% 5% 5%;}
.os_noticeWrap.os_mo .os_cardInfo1 .txt1 {letter-spacing:-1px;margin-top:10px;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_inCardInfo {overflow:hidden;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_inCardInfo dl {margin-top:20px;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_inCardInfo dt { padding:0 0 5px 0; color:#666; font-weight:bold; font-size:14px;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_inCardInfo dd { padding:0 0 10px 0; font-size:14px; color:#666; line-height:1.6;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_inCardInfo ul {margin-top:20px;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_inCardInfo ul li {padding-left:10px;background:url(/_ui/_noticeImg/res/bl_dotS01.jpg) no-repeat left 10px;line-height:22px;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_btmINfo { padding-top:20px; border-top:1px solid #eee;}
.os_noticeWrap.os_mo .os_cardInfo1 .os_btmINfo li { padding-left:16px; padding-bottom:23px; color:#666;line-height:1.6; text-indent:-16px;}

/* m_정정공지 */
.os_noticeWrap.os_mo .osFixSection .osH2{padding-left:1.5em;background:url(/_ui/_noticeImg/res/m_bl_fix.gif) 0 0 no-repeat;background-size:1em;}
.os_noticeWrap.os_mo .osFixSection{padding-top:1em;}
.os_noticeWrap.os_mo .osFixSection .osTbBlock.osTbRowScope table:first-child{border-top:0;}
.os_noticeWrap.os_mo .osFixSection .osTbBlock.osTbRowScope table{border-top:1px solid #AC1542;}
.os_noticeWrap.os_mo .osFixSection .osTbBlock.osTbRowScope th{border-left:none;border-right:1px solid #ddd;background-color:#fafafa;color:#444;font-weight:bold;}
.os_noticeWrap.os_mo .osFixSection .osTbBlock.osTbRowScope td{border-right:none;text-align:center;}

/* m_알아두세요 */
.os_noticeWrap.os_mo .osNtcList{padding-bottom:6%;max-width:640px;}
.os_noticeWrap.os_mo .osNtcList dd{text-align:left;padding:0 0 5px 11px;margin-left:3.2%;font-size:12px;line-height:16px;background:url(/_ui/_noticeImg/res/bl_ntcDot.gif) no-repeat left 7px;}
.os_noticeWrap.os_mo .osNtcList li{text-align:left;padding:0 0 5px 11px;margin-left:3.2%;font-size:12px;line-height:16px;background:url(/_ui/_noticeImg/res/bl_ntcDot.gif) no-repeat left 7px;}
/**/
.os_noticeWrap.os_mo .osQABlock{margin-top:1em;padding-top:0.5em;border-top:1px dashed #d5d5d5;}
.os_noticeWrap.os_mo dl.osListQA dt{margin-top:0.5em;color:#333;font-size:14px;}
.os_noticeWrap.os_mo dl.osListQA dd{margin:0.5em 0 1em 0.5em;}

/* m_쿠킹쇼 */
/*.os_noticeWrap.os_mo img{max-width:100%;}????*/
.os_noticeWrap.os_mo .monthPlan{overflow:hidden;display:block;max-width:640px;margin-bottom:1em;}
.os_noticeWrap.os_mo .monthPlan li{overflow:hidden;padding:7px;border-bottom:1px solid #dbdbdb;font-size:12px;}
.os_noticeWrap.os_mo .monthPlan li:after,.os_noticeWrap.os_mo .monthPlan li:before{display:table;content:" ";}
.os_noticeWrap.os_mo .monthPlan li:after{clear:both;}
.os_noticeWrap.os_mo .monthPlan .os_date{float:left;width:2em;text-align:center;color:#666666;}
.os_noticeWrap.os_mo .monthPlan .os_week{float:left;width:3em;text-align:center;color:#999999;}
.os_noticeWrap.os_mo .monthPlan .os_week.os_txtR, .os_noticeWrap.os_mo .monthPlan .os_date.os_txtR {color:#e81135;}
.os_noticeWrap.os_mo .monthPlan .os_txtWrap{padding-left:6em;text-align:left;}
.os_noticeWrap.os_mo .monthPlan .os_txtWrap span:after{content:" |";}
.os_noticeWrap.os_mo .monthPlan .os_txtWrap span:last-child:after{content:"";}
.os_noticeWrap.os_mo .monthPlan .os_txtB{color:#0a63b6;}
.os_noticeWrap.os_mo .monthPlan .os_txtA{color:#444444;}
.os_noticeWrap.os_mo .monthPlan .os_txtC {color:#ffa200;} 
.os_noticeWrap.os_mo .monthPlan .os_txtD {color:#e81135;}
.os_noticeWrap.os_mo.os_cooking201701 .monthPlan li.on { background:#f9f9f9 }
.os_noticeWrap.os_mo.os_cooking201701 .monthPlan{ max-width:100%;}

/* m_하단 알아두세요 */
.os_noticeWrap.os_mo .osNotice {background-color:#ededed; padding-bottom:25px;font-size: 14px}
.os_noticeWrap.os_mo .osNotice .os_img-wrap{width: 27%;-webkit-transform: translate(-10%,0);}
.os_noticeWrap.os_mo .osNotice .os_img-wrapImg {width: 27%;-webkit-transform: translate(-10%,0);}
.os_noticeWrap.os_mo .osList_notice1 {margin:0 !important;padding:0 4.25%;}
.os_noticeWrap.os_mo .osList_notice1 li {line-height:22px;text-indent:-0.6em;text-align:left;}
.os_noticeWrap.os_mo .osList_notice2 {padding:0 5.46%;}
.os_noticeWrap.os_mo .osList_notice2 li {font-size:11px;line-height:18px;text-indent:-0.6em;text-align:left;}

/* 맞춤메시지 a 태그 fix*/
.myMessage .os_noticeWrap a{padding: 0;line-height: 0}

/* 20160314 김태훈 - 프로모션 공지 내 개별 DIM 처리 */
.os_noticeWrap .os_dim-wrap {overflow:hidden; position:relative;}
.os_noticeWrap .os_dim {position:absolute; top:0; left:0; padding-top:50%; width:100%; height:100%; background:url('/_ui/_noticeImg/res/bg_dim.png'); font-weight:bold; font-size:16px; text-align:center; line-height:20px; color:#fff;}

/* 20161026 유미선 프로모션 신제품 가격정보 */
	/* 모바일 */
.os_noticeWrap.os_mo .priceInfo { background:#fff; font-size:14px; margin:20px 20px 50px 20px;text-align: left;  padding:0; }
.os_noticeWrap.os_mo .priceInfo > strong { display: block; line-height:160%; text-align: center; margin-bottom:8px;}	
.os_noticeWrap.os_mo .priceInfo strong strong{ font-weight: bold;display:  }	
.os_noticeWrap.os_mo .priceInfo dl { position: relative; display: inline-block; margin-top:4px; width:49%;}
.os_noticeWrap.os_mo .priceInfo dl:nth-child(even) {margin-left:0%; }
.os_noticeWrap.os_mo .priceInfo dl:before { position: absolute; right:0; top:15%; content:''; border-right:0px solid #ccc; display:inline-block; width:1px; height:70%; }
.os_noticeWrap.os_mo .priceInfo dl dt { font-weight:bold; display: inline-block; letter-spacing: -0.015em; }
.os_noticeWrap.os_mo .priceInfo dl dd { display:inline-block; padding-right:0;}
.os_noticeWrap.os_mo .priceInfo dl:last-child:before { border-right:0; }
.os_noticeWrap.os_mo .priceInfo dl:nth-child(2):before { border-right:0; }
.os_noticeWrap.os_mo .priceInfo.type1 dl dd {letter-spacing:-1px;}
.os_noticeWrap.os_mo .priceInfo.type1 dl:nth-child(even) {width:43%;}
.os_noticeWrap.os_mo .priceInfo.type1 dl:nth-child(odd) {width:55%;}

/* kcrm 번호 */
.os_kcrmNum_notice { font-size:8px;color:#bcbcbc;text-align:right;font-family:arial;padding-right:8px;padding-bottom:3px }

.os_noticeWrap.os_mo .os_dim .bg{background:url('/_ui/_noticeImg/res/bg_promotion_end.png') no-repeat; background-size:210px 195px; position:absolute; top:50%; left:50%; margin-top:-185px; margin-left:-110px; width:210px; height:195px; display: block;}
.os_noticeWrap.os_mo .os_dim .bg .text{ display:block; padding-top:80px; text-align:center; color:#fffed0; font-size:14px; line-height:18px; letter-spacing: -2px; font-weight: normal;}
.os_noticeWrap.os_mo .os_dim-priceInfo {  position:absolute; top:0%; left:0%; width:100%; height:100%; background:url('/_ui/_noticeImg/res/bg_dim.png'); font-weight:bold; font-size:16px; text-align:center; line-height:20px; color:#fff;}

@media screen and (max-width: 320px),only handheld and (max-device-width: 320px) {
.os_noticeWrap.os_mo .priceInfo  dl:nth-child(even) {width:38%;}
.os_noticeWrap.os_mo .priceInfo  dl{ width:60%;}
.os_noticeWrap.os_mo .priceInfo.type1 { margin-right: 0; margin-left: 0;}
}
@media screen and (min-width: 540px),only handheld and (min-device-width: 540px)  {
	.os_noticeWrap.os_mo .priceInfo { text-align: center; font-size:16px;}
	.os_noticeWrap.os_mo .priceInfo dl { width:auto; margin:0 2%;}
	.os_noticeWrap.os_mo .priceInfo dl:nth-child(odd) {width:auto}
	.os_noticeWrap.os_mo .priceInfo.type1 dl:nth-child(odd) {width:auto;}
}

/* 20160728 숨김영역 추가*/
.hide{display:inline-block; position:absolute; left:-9999px; top:-9999px; width:0 !important; height:0 !important; font-size:0 !important; line-height:0 !important; margin:0; padding:0;}

/* 공통 탭 */
.os_noticeWrap .os_tab-btnNew { overflow:hidden; }
.os_noticeWrap .os_tab-btnNew li { float:left; }
.os_noticeWrap .os_tab-btnNew li a { width:100%; }
.os_noticeWrap .os_tab-itemNew li { display: none; }
.os_noticeWrap .os_tab-itemNew li:first-child { display: block; }
.os_noticeWrap .os_tab-itemNew.block li{ display: block; } 

/* 테이블 */
.os_noticeWrap .os_tbl01 th { padding:10px 0; text-align:center; font-size:12px; line-height:18px;}
.os_noticeWrap .os_tbl01 td {padding:10px 0; text-align:center; font-size:12px; line-height:18px;}

/* 바디키 녹색 테이블 */
.os_noticeWrap .os_tbl-wrap.os_tbl_green {padding-left:6.25%;background-color:#F8F5E6;}
.os_noticeWrap .os_tbl_green .os_tbl01 { width:94.02%;border-right:1px solid #70a600; }
.os_noticeWrap .os_tbl_green .os_tbl01 td {color:#555;border-bottom:1px solid #70a600; border-left:1px solid #70a600; background-color:#f9f7ee; }
.os_noticeWrap .os_tbl_green .os_tbl01 th{border-left:1px solid #fff; background-color:#70a600;color:#fff;}
.os_noticeWrap .os_tbl_green .os_tbl01 th:first-child{border-left:1px solid #70a600; }

.os_noticeWrap .os_tbl-wrap.os_tbl_gray {padding-left:6.25%;background-color:#F8F5E6;}
.os_noticeWrap .os_tbl_gray .os_tbl01 { width:94.02%;border-right:1px solid #444; }
.os_noticeWrap .os_tbl_gray .os_tbl01 td {color:#555;border-bottom:1px solid #444; border-left:1px solid #444; background-color:#f9f7ee; }
.os_noticeWrap .os_tbl_gray .os_tbl01 th{border-left:1px solid #fff; background-color:#666;color:#fff;}
.os_noticeWrap .os_tbl_gray .os_tbl01 th:first-child{border-left:1px solid #444; }
