/************************************************
Version : Hybris UIUX 1.0
Date : 2018-03-20
Editor : hana Kim
*************************************************/

@charset "utf-8";

@font-face {
  font-family: 'NSL';
  src: url(/_ui/pos/assets/fonts/NotoSansKR-Light.woff2) format('woff2'),
  	   url(/_ui/pos/assets/fonts/NotoSansKR-Light.woff) format('woff'),
       url(/_ui/pos/assets/fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'NSR';
   src: url(/_ui/pos/assets/fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(/_ui/pos/assets/fonts/NotoSansKR-Regular.woff) format('woff'),
        url(/_ui/pos/assets/fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'NSM';
   src: url(/_ui/pos/assets/fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(/_ui/pos/assets/fonts/NotoSansKR-Medium.woff) format('woff'),
        url(/_ui/pos/assets/fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'NSB';
   src: url(/_ui/pos/assets/fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(/_ui/pos/assets/fonts/NotoSansKR-Bold.woff) format('woff'),
        url(/_ui/pos/assets/fonts/NotoSansKR-Bold.otf) format('opentype');
 }
/* @font-face {
   font-family: 'NSBK';
   src: url(/_ui/pos/assets/fonts/NotoSansKR-Black.woff2) format('woff2'),
        url(/_ui/pos/assets/fonts/NotoSansKR-Black.woff) format('woff'),
        url(/_ui/pos/assets/fonts/NotoSansKR-Black.otf) format('opentype');
 } */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.7em;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}

h1, h2, h3, h4, h5, h6, strong, th {font-weight:normal;}
th {font-weight:normal;}
th, td {word-wrap:break-word;}
img {font-size:0; vertical-align:top;}
fieldset,img {border:0 none;}
fieldset {float:none;}
body, select, input, button, textarea, a {font-family:'NSM', 돋움, dotum, sans-serif; font-size:14px; letter-spacing:-0.025em; color:#56565a;}
a {text-decoration:none; color:#56565a;}
/* a:active,a:hover {color:#1a1a1a;} */
address,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
legend, hr {overflow:hidden !important; width:1px !important; height:1px !important; margin:-1px !important; position:absolute !important; clip:rect(0 0 0 0) !important; border:0 !important; padding:0 !important;}
address, em {font-style:normal;}
caption {overflow:hidden; width:1px; height:1px; padding:0; margin-top:-1px; font-size:0; line-height:0; text-indent:-999px;}
button {padding:0; border:none; background:none; cursor:pointer;}
em {font-family:'NSM'}
strong {font-family:'NSB'}
*:focus {outline:none}

/* form */
select, input[type='text'], input[type='password'] {width:280px; height:40px; padding:0 10px; line-height:normal; font-size:14px; box-sizing:border-box; vertical-align:middle; font-family:'NSR'; border:1px solid #dadada; color:#002f5f}
input::-webkit-input-placeholder {color:#999 !important; font-family:'NSR'}
input[type='password'] {letter-spacing:normal;}
select:disabled, input[type='password']:disabled, input[type='text']:disabled, input[type='text'][readonly] {background-color:#f4f4f4}

select {padding:0 0 0 10px; box-sizing:border-box; -webkit-appearance:none;  background:#fff url(/_ui/pos/assets/images/ico_sel_arrow.png) right 16px  no-repeat;}
select::-ms-expand {display:none;}
input[type='radio'], input[type='checkbox'] {position:absolute; opacity:0}
.checkmark:after {content: ""; position:absolute; display:none;}
input:checked + .checkmark:after {display:block;}
input:disabled + .checkmark:after {display:block; background-color:#999}
.inp_rd, .inp_ck {display:inline-block; position:relative; padding-left:25px; height:18px; cursor:pointer; -webkit-user-select: none;}
.inp_rd.single {padding-left:18px}
.inp_rd + .inp_rd, .inp_ck + .inp_ck {margin-left:18px}
.inp_rd .checkmark, .inp_ck .checkmark {position:absolute; top:3px; left:0; width:20px; height:20px; border:1px solid #9d9d9d; border-radius:9px; background-color:#fff; box-sizing:border-box;}
.inp_rd .checkmark {width:18px; height:18px}
.inp_rd .checkmark:after {top:3px; left:3px; width:10px; height:10px; background-color:#0075a4; border-radius:5px}
.inp_ck .checkmark {border-radius:0}
.inp_ck input:checked + .checkmark {background-color:#0075a4; border-color:#1265cc}
.inp_ck input:disabled + .checkmark {background-color:#999; border-color:#999}
.inp_ck .checkmark:after {top:3px; left:6px; width:4px; height:7px; border:solid white; border-width:0 2px 2px 0; transform:rotate(45deg);}
.inp_rd.type01 {font-family:'NSB'; font-size:13px}

.inp_rd_btn {margin-left:-1px}
.inp_rd_btn label {display:inline-block; height:40px; line-height:38px; padding:0 19px; box-sizing:border-box; font-size:14px; font-family:'NSB'; color:#bbb; border:1px solid #dadada; background-color:#f4f4f4}
.inp_rd_btn:first-child label {border-radius:3px 0 0 3px}
.inp_rd_btn:last-child label {border-radius:0 3px 3px 0}
.inp_rd_btn input:checked + label {color:#20893d; background-color:#fff}

.in_form {display:block}
.in_form + .in_form {margin-top:10px}

.inp_tel {}
.inp_tel .dash:after {content:'-'; display:inline-block; padding:0 4px; font-size:16px}
.inp_tel select {width:100px}
.inp_tel input {width:100px}

.inp_num .dash:after {content:''; display:inline-block; width:10px; height:2px; background-color:#dadada; margin:-2px 1px 0 3px; vertical-align:middle}
.inp_num select {width:110px}
.inp_num input {width:110px}

.inp_date select {width:65px}
.inp_date .year {width:90px}

.inp_s {width:240px !important}
.inp_m {width:260px !important}
.inp_l {width:300px !important}

/* Align */
.ac {text-align:center !important;}
.al {text-align:left !important;}
.ar {text-align:right !important;}

.fl {float:left}
.fr {float:right}
.clearfix:after {content:''; display:block; clear:both;}

/* font */
.fc_red {color:#e11e45}
.fc_blue {color:#0075a4}
.fc_deep_blue {color:#002f5f}
.fc_green {color:#20893d}

.fw_r {font-family:'NSR'}
.fw_m {font-family:'NSM'}
.fw_b {font-family:'NSB'}

.fs0 {font-size:0}
.fs16 {font-size:16px}

/* etc */
.elips {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.break {display:inline-block;}
.blck {display:block;}
.hide {display:none !important; visibility:hidden;}
.blind {overflow:hidden !important; width:1px !important; height:1px !important; margin:-1px !important; position:absolute !important; clip:rect(0 0 0 0) !important; border:0 !important; padding:0 !important;}
.bg_bar span + span:before {content:''; display:inline-block; width:1px; height:12px; margin:-3px 13px 0; vertical-align:middle; background-color:#cfd3dc}
.hr {padding-top:35px; margin-top:35px; border-top:1px solid #e3e3e3}

.w80 {width:80px}
.w150 {width:150px}

.mgl10 {margin-left:10px}
.mgl20 {margin-left:20px}
.mgl30 {margin-left:30px}

.mgt0 {margin-top:0 !important}
.mgt5 {margin-top:5px}
.mgt8 {margin-top:8px}
.mgt10 {margin-top:10px}
.mgt15 {margin-top:15px}
.mgt20 {margin-top:20px}
.mgt25 {margin-top:25px}
.mgt30 {margin-top:30px}
.mgt35 {margin-top:35px}
.mgt40 {margin-top:40px}

.no_pd {padding:0 !important}

/* 간격 */
input + button, input + a, select + select, a + select, [class*='btn0'] + [class*='btn0'] {margin-left:7px}

/* icon */
[class*='ico_comm'] {display:inline-block; vertical-align:middle; text-indent:-999px; overflow:hidden; background:url(/_ui/pos/assets/images/ico_comm.png) no-repeat; box-sizing:border-box;}
.ico_comm.name {width:32px; height:32px; margin:-5px 5px 0 0}
.ico_comm.plus {width:10px; height:10px; background-position:-200px 0; margin:-5px 5px 0 0}
.ico_comm.minus {width:10px; height:10px; background-position:-150px 0; margin:-5px 5px 0 0}
.ico_comm.search {width:18px; height:18px; background-position:-50px 0; margin:-5px 7px 0 0}
.ico_comm.del02 {width:18px; height:18px; background-position:0 -100px; margin:-4px 0 0 6px}
.ico_comm.edit {width:32px; height:32px; background-position:-91px 7px; margin:-5px 7px 0 0; background-color:#fff; border-radius:16px}
.ico_comm.del {width:32px; height:32px; background-position:-241px -43px; margin:-5px 7px 0 0; background-color:#fff; border-radius:16px}
.ico_comm.pop_close01 {width:20px; height:20px; background-position:-250px 0;}
.ico_comm[class*='aci'] {width:21px; height:21px; background-position-y:-50px; margin:-5px 7px 0 0}
.ico_comm.aci01 {background-position-x:0}
.ico_comm.aci02 {background-position-x:-50px}
.ico_comm.aci03 {background-position-x:-100px}
.ico_comm.aci04 {background-position-x:-150px}
.ico_comm.aci05 {background-position-x:-200px}
.ico_comm.check {width:11px; height:8px; margin:-7px 8px 0 0; border-left:3px solid #20893d; border-bottom:3px solid #20893d; transform:rotate(-45deg); background:none}
.ico_comm.go {width:8px; height:8px; margin:-2px 0 0 5px; vertical-align:middle; border-left:2px solid #0075a4; border-bottom:2px solid #0075a4; transform:rotate(225deg); background:none}

/* button*/
[class*='btn0'] {display:inline-block; box-sizing:border-box; text-align:center; font-family:'NSM'; vertical-align:middle;}
[class*='btn01'] {height:40px; padding:0 20px; line-height:38px}
.btn01_white {color:#11224e; background-color:#fff; border:1px solid #11224e}
.btn01_white:active {background-color:#ebf2f7}
.btn01_blue {color:#fff; background-color:#002f5f;}
.btn01_blue:active {background-color:#0c1836}
.btn01_trans {color:#0075a4}

/* link */
.link_text {color:#0075a4}
.link_prev {color:#0075a4}
.link_prev:before {content:''; display:inline-block; margin:-2px 8px 0 0; vertical-align:middle; border-width:6px 6px 6px 0; border-color:transparent #0075a4 transparent transparent; border-style:solid}

/* file box */
.file_box .upload_name {background-color:#fff !important}
.file_box label {margin-left:7px}
.file_txt {margin:20px auto 0 auto; width:380px}

.file_box.type02 {position:relative; padding-right:100px}
.file_box.type02 .upload_name {width:100%}
.file_box.type02 label {position:absolute; top:0; right:0}

/* tag */
[class*='tag0'] {display:inline-block; box-sizing:border-box; text-align:center;}
.tag01 {position:relative; padding:0 8px; font-size:12px; line-height:18px; background-color:#f34242; color:#fff;}
.tag01:after {content:''; position:absolute; top:0; right:-9px; display:inline-block; margin-left:10px; border-width:20px 9px 0 0; border-color:#f34242 transparent transparent #f34242; border-style:solid;}

/* popup */
.layer_pop {position:fixed; left:0; right:0; top:0; bottom:0; background-color:rgba(0,0,0,0.8); z-index:99; display:flex; justify-content:center; align-items:center;}
.layer_pop.up {z-index:199; background-color:rgba(0,0,0,0.7);}
.layer_pop.up .pop_wrap {z-index:200}
.layer_pop.down {background-color:rgba(0,0,0,0.3)}

.pop_wrap {position:relative; background-color:#fff; z-index:100;}
.pop_container {}
.pop_content {padding:40px; max-height:600px; overflow:auto;}
.pop_content .tit_h2 {display:block; color:#56565a; font-size:16px}
.pop_footer {height:80px; padding:20px 30px; text-align:center; box-sizing:border-box; border-top:1px solid #ccc}
.pop_footer .btn01_blue {min-width:120px}

.pop_wrap.pop_s {width:400px}
.pop_wrap.pop_m {width:600px}
.pop_wrap.pop_l {width:1000px}

.pop_header {height:70px; padding:23px 20px 0 40px; box-sizing: border-box; background-color:#002f5f;}
.pop_header h1 {font-size:24px; color:#fff;}
.pop_header .pop_close01 {position:absolute; right:20px; top:25px}

.pop_header02 {}
.pop_header02 .pop_close02 {position:absolute; right:30px; top:20px}

.txt_alert {padding:30px 0; font-size:16px; font-family:'NSR'; color:#002f5f; text-align:center;}
.txt_alert .blck {margin-top:15px}

.pop_content .search_wrap {position:relative; padding-right:93px}
.pop_content .search_wrap input[type='text'] {width:100%}
.pop_content .search_wrap .btn01_blue {position:absolute; top:0; right:0; width:87px}

.zip_detail {margin-top:7px}
.zip_detail .zip01 {position:relative; padding-left:160px}
.zip_detail .zip01 .z1 {position:absolute; top:0; left:0; width:150px}
.zip_detail .zip01 .z2 {width:100%}
.zip_detail .zip02 input {width:100%}

.tbl_col.zip {margin-top:16px}
.tbl_col.zip th {padding-right:0}
.list_zip {display:table; margin:10px 0 12px}
.list_zip li {display:table-row}
.list_zip li span {display:table-cell; padding:5px 0 5px 10px; line-height:18px; font-family:'NSR'}
.list_zip li .st {width:30px; padding-left:0; font-family:'NSB'; color:#002f5f}
.list_zip li .ch {width:30px; text-align:right}

/* alert */
.layer_alert {position:fixed; left:0; right:0; top:0; bottom:0; background-color:rgba(255,255,255,0); z-index:499; display:flex; justify-content:center; align-items:center;}
.alert_wrap {position:relative; width:400px; padding:0 30px; box-sizing:border-box; background-color:#fff; box-shadow: 0px 0px 18px 4px rgba(0,19,50,0.2); z-index:500;}
.alert_header {height:60px; padding-top:19px; box-sizing: border-box; border-bottom:1px solid #ccc}
.alert_header h1 {font-family:'NSR'; font-size:20px;}
.alert_container {padding:60px 0 65px; text-align:center;}

/* list_accordion */
.list_accordion {border-top:1px solid #dadada}
.list_accordion > li {border-bottom:1px solid #dadada}
.list_accordion > li > a {position:relative; display:block; height:81px; padding:28px 20px 0; box-sizing:border-box; font-size:18px; color:#002f5f}
.list_accordion > li > a:after {content:''; display:block; position:absolute; top:35px; right:20px; width:10px; height:10px; background:url(/_ui/pos/assets/images/ico_comm.png) -200px 0 no-repeat;}
.list_accordion > li > div {display:none; padding-bottom:35px}
.list_accordion > li.open > div {display:block; padding:0 30px 40px 50px}
.list_accordion > li.open > a:after {background-position:-150px 0;}
.list_accordion .tbl_row table, .list_accordion .tbl_row table tr {border:0}

.rd_accordion {}
.rd_accordion > li {}
.rd_accordion > li + li {margin-top:10px}
.rd_accordion > li > div {display:none; margin:20px 0 30px 27px}
.rd_accordion > li.open > div {display:block}

/* table */
.tbl_top {margin:37px 0 15px}

.tbl_row table {width:100%;}
.tbl_row td .won {display:inline-block; width:110px; padding-right:10px; box-sizing:border-box; text-align:right;}
.tbl_row td .txt_inp01 {display:inline-block; margin-top:4px; font-family:'NSR'; font-size:13px; color:#808285; font-style:italic}
.tbl_row th, .tbl_row td {text-align:left; padding:5px 20px 5px 0; box-sizing:border-box;}
.tbl_row th {color:#002f5f}
.tbl_row td {font-family:'NSR'}
.tbl_row th.th_top {vertical-align:top; padding-top:12px}
.tbl_row td.price {text-align:right; padding-right:50px}
.tbl_row td.price + th {padding-left:50px}

.tbl_col table {width:100%;}
.tbl_col thead tr {height:40px; box-sizing:border-box; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; background-color:#f4f4f4}
.tbl_col thead tr th {padding:0 20px; color:#002f5f; background-color:#f4f4f4; text-align:left}
.tbl_col tbody tr {height:60px; font-family:'NSR'}
.tbl_col tbody tr:nth-child(even) {background-color:#f4f4f4}
.tbl_col tbody tr td {padding:0 20px;}
.tbl_col tbody tr td a.link {display:block; height:50px; line-height:48px; color:#0075a4}
.tbl_col tbody td.ar {padding-right:15px}
.tbl_col tbody td .elips {display:block; box-sizing:border-box; text-align:left; font-family:'NSB'}
.tbl_col tbody td .elips.mx70 {max-width:70px}
.tbl_col.type02 {border-bottom:1px solid #e3e3e3;}
.tbl_col.type02 th, .tbl_col.type02 td {padding:0 40px}

.paging {margin-top:30px; text-align:center}
.paging a.prev {margin-right:10px}
.paging a.next {margin-left:10px}
.paging a, .paging em {display:inline-block; width:30px; height:30px; line-height:24px; font-size:16px; border:2px solid #fff; box-sizing:border-box;}
.paging a:hover {border:2px solid #002f5e;}
.paging em {color:#fff; background-color:#002f5e; border-color:#002f5e}
.paging a.first:after, .paging a.prev:after, .paging a.next:after, .paging a.last:after, .paging a.first:before, .paging a.last:before {content:''; display:inline-block; width:5px; height:5px; border-left:2px solid #bbb; border-bottom:2px solid #bbb; }
.paging a.first:after, .paging a.first:before, .paging a.prev:after {transform:rotate(45deg)}
.paging a.next:after, .paging a.last:after, .paging a.last:before {transform:rotate(225deg)}
.paging a:before, .paging a:after {margin-top:-3px; vertical-align:middle}
.paging a.on:before, .paging a.on:after {border-color:#002f5f}
.paging a.first, .paging a.prev, .paging a.next,.paging a.last {cursor:auto}
.paging a.first.on, .paging a.prev.on, .paging a.next.on,.paging a.last.on {cursor:pointer}
.paging a.first:hover, .paging a.prev:hover, .paging a.next:hover,.paging a.last:hover {border-color:#fff}

.tbl_type {display:table; width:100%}
.tbl_type > * {display:table-cell}

/* scroll table */
.scroll_tbl {position:relative; width:100%; padding:29px 0 9px; margin-top:2px; border-top:1px solid #ececec; border-bottom:1px solid #ececec; }
.scroll_tbl div {max-height:285px; overflow-y:scroll; overflow-x:hidden;}
.scroll_tbl table { width:100%; line-height:15px;}
.scroll_tbl table thead tr {position:absolute; top:0; display:inline-table; width:100%; margin-top:13px; color:#666}
.scroll_tbl table thead tr th:nth-of-type(1) {width:20px}
.scroll_tbl table thead tr th:nth-of-type(2) {}
.scroll_tbl table thead tr th:nth-of-type(3) {width:70px}
.scroll_tbl table thead tr th:nth-of-type(4) {width:30px}
.scroll_tbl table thead tr th:nth-of-type(5) {width:70px}
.scroll_tbl table tr td {padding:4px 2px; vertical-align:top;}
.scroll_tbl table tr td:nth-of-type(1) {text-align:center;}
.scroll_tbl table tr td:nth-of-type(3) {text-align:right;}
.scroll_tbl table tr td:nth-of-type(4) {text-align:center;}
.scroll_tbl table tr td:nth-of-type(5) {text-align:right;}

.no_data {padding:32px 0 38px; margin-top:40px; box-sizing:border-box; font-family:'NSR'; text-align:center; border-top:1px solid #dadada; border-bottom:1px solid #dadada;}
.no_data em {color:#002f5f}

/* tab */

/* box type */
.box_type01 {padding:25px 40px; box-sizing:border-box; background-color:#f4f4f4; border:1px solid #dbdbdb}
.box_type01 + .box_type01 {margin-top:30px}
.box_type01 .tbl_row tr {height:35px;}
.box_type01 .tbl_row.type02 tr {height:50px;}
.box_type01 .tbl_row.line {margin-top:25px; padding-top:18px !important}
.box_type01 .line {border-top:1px solid #e3e3e3}
.box_type01 .tbl_row.line {padding-top:10px}
.box_type01 .btn_wrap {text-align:right; padding-top:20px; margin-top:20px}
.box_type01 .btn_wrap .link_text {vertical-align:middle; margin:-2px 0 0 10px}

.img_wrap {position:relative; width:120px}
.img_wrap .img {display:block; width:120px; height:120px; box-sizing:border-box; overflow:hidden; border-radius:50%; background:#e3e3e3 url(/_ui/pos/assets/images/ico_comm.png) 12px bottom no-repeat; border:4px solid #dadada}
.img_wrap .img img {width:100%; border-radius:50%}
.img_wrap .ico_comm {position:absolute; right:0; top:95px; box-shadow:0px 3px 8px 0px rgba(5,11,60,0.1)}
.img_wrap.type02 {margin:0 auto}

.info_default {display:table; width:100%; margin-top:40px}
.info_default .left {display:table-cell}
.info_default .left .txt {display:block; width:120px; text-align:center; margin-top:7px}
.info_default .right {display:table-cell; padding-left:30px}
.info_default .right .top {position:relative}
.info_default .right .top .name {font-size:34px; font-family:'NSR'; color:#002f5f}
.info_default .right .top .condi {display:block; margin:3px 0 0 3px}
.info_default .right .top .condi span {}
.info_default .right .top .condi em {margin-left:20px}
.info_default .right .top .btn01_blue {position:absolute; top:0; right:10px}
.info_default .right .tbl_row {width:100%; margin-top:17px; padding-top:10px !important}

.division:after {content:''; display:block; clear:both}
.division .left {float:left; width:calc(50% - 20px)}
.division .right {float:right; width:calc(50% - 20px)}

/* text */
.txt_info01 {margin-left:-22px; text-indent:-22px; font-size:13px; font-family:'NSR'; text-align:left;}
.txt01 {font-size:13px; font-family:'NSR'; margin-bottom:1px}
p.txt_star, .txt_star li {padding-left:4px; margin-left:5px; text-indent:-5px; line-height:18px; font-family:'NSR'; font-size:13px; color:#808285; font-style:italic}
p.txt_star:before, .txt_star li:before {content:'*'; display:inline-block; margin:0 3px 0 0; vertical-align:middle}

/* title */
.tit_h3 {display:block; margin-top:-3px; font-size:18px; color:#002f5f}
.tit_h4 {font-size:16px; color:#002f5f}

/* content */
.intro {padding-top:355px; text-align:center;}
.intro > * {width:250px}

/* loading */
.loading_wrap .loading_dim {position:fixed; left:0; right:0; top:0; bottom:0; background-color:#000; opacity:0; z-index:9999;}
.loading_wrap .loading_img {position:fixed; left:50%; top:50%; margin:-65px 0 0 -80px; display:block; border-radius:5px; padding:2px; background-color:#fff; border:3px solid #47b8f2; z-index:10000; }

/* layout */
body {background-color:#002f5f}
#wrap {background-color:#fff}

header {position:relative; height:75px; padding-left:40px; box-sizing:border-box; background-color:#fff; box-shadow: 0px 3px 8px 0px rgba(5,11,60,0.1); z-index:1}
header img {margin-top:20px}
header h1 {display:inline-block; height:34px; margin:21px 0 0 28px; padding:5px 0 0 10px; border-left:1px solid #dedddd; box-sizing:border-box; font-family:'NSM'; font-size:16px; color:#002f5f}
header .right {position:absolute; right:40px; top:25px}
header .right > * {color:#002f5f}
header .right a {margin-left:40px}

#container {min-height:700px}
.location {margin:0 auto; min-width:1200px; max-width:1400px; height:94px; padding-top:35px; box-sizing:border-box; color:#56565a; font-size:13px}
.location span + span:before {content:'/'; font-family:'NSR'; margin:-2px 3px 0 1px}
.content {margin:0 auto; min-width:1200px; max-width:1400px;}

footer {height:90px; margin-top:100px; text-align:center; padding-top:32px; box-sizing:border-box; font-size:12px; font-family:'NSR'; color:#fff; letter-spacing:0; background-color:#002f5f}







