body{margin:0 auto}
.bod-view-txt{padding-top:0}
#loading{display:none !important}
@media screen and (max-width:639px) {
  body{margin:0 auto}
}

/* radio btn */
.os_noticeRes .amway-theme .NCACroa_radioBtn label{margin-bottom:0;}
.os_noticeRes .amway-theme .NCACroa_radioBtn .radio-label input.amw-global-radio:checked + .amw-radio-overlay:before{background:#33597e; width:8px; height:8px; top:4px; left:4px;}
.os_noticeRes .amway-theme .NCACroa_radioBtn .radio-label input.amw-global-radio:checked + .amw-radio-overlay:after{border:2px solid #33597e; width:18px; height:18px; border-radius: 50%; content: ''; display:block; top: 50%; left: 50%; transform: translate(-50%, -50%); position:absolute;}
  
/* 참가자 정보 */
.os_noticeRes .NCACroa_cont01{display:flex; align-items: center; justify-content: space-between;}
.os_noticeRes .NCACroa_cont01_radio{display:flex; justify-content:space-between;}
.os_noticeRes .NCACroa_cont01_radio label .amw-label-radio-text{font-size:18px; font-weight:normal; position:relative; top:-3px;}
  
.os_noticeRes .NCACroa_cont01_wrap .NCACroa_cont01-1{display:flex; align-items: center; justify-content: space-between; border-bottom:1px solid #e3e3e3;}
.os_noticeRes .NCACroa_cont01_input input{width:55%;}
.os_noticeRes .NCACroa_cont01_wrap .NCACroa_cont01-2{display:flex; align-items: center; justify-content: flex-end; border-bottom:1px solid #e3e3e3;}

.os_noticeRes .NCACroa_cont01-1 label, .os_noticeRes .NCACroa_cont01-2 label{color:#56565A; margin-bottom:0;}
.os_noticeRes .NCACroa_cont01_file01{display:flex; justify-content: space-between; align-items: center; color:#56565A; margin-bottom:0;}
.os_noticeRes .NCACroa_cont01_file01 span.NCACroa_fileBtn, .os_noticeRes .NCACroa_cont01_file02 span.NCACroa_fileBtn{background: #7d8c9b; border-radius: 5px; font-weight: 500; color: #fff; height: 40px; text-align: center; padding-top: 0.5em; width:55%; display:inline-block;}
.os_noticeRes .NCACroa_cont01_file02{display:flex;justify-content: end; align-items: center; color:#56565A; margin-bottom:0;}
  
.os_noticeRes .NCACroa_cont01_wrap .NCACroa_cont01-2.NCACroa_pc{height:71px;}
.os_noticeRes input.NCACroa_num[type="number"]{padding:0 8px;}

.os_noticeRes input.NCACroa_num[type="number"]::-webkit-outer-spin-button, .os_noticeRes input.NCACroa_num[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
  
/* 참가 약관 동의 */
.os_noticeRes .NCACroa_cont02_radio label .amw-label-radio-text{font-size:18px; font-weight:normal; position:relative;}
.os_noticeRes .NCACroa_cont02{display: flex; align-items: center; justify-content: space-between;}
.amway-theme .NCACroa_cont02_radio label.amw-radio-wrap .amw-radio-overlay{top:3px;}
  
/* 참가 약관 동의 팝업 공통 */
.NCACroa_cont02_popUp .cart-popup__header{background:#fff;}
.NCACroa_cont02_popUp .cart-popup__item-info{border-top:1px solid #ddd;}
.os_noticeRes .NCACroa_cont02_popUp thead th{ color:#00305e; font-weight:500; background:#f4f4f4;}

.os_noticeRes .NCACroa_cont02_popUp tbody tr td:nth-child(3){color:#2c2c2c; font-weight:500; font-size:17px;}
.os_noticeRes .NCACroa_cont02_popUp tbody tr:nth-child(even){background:#f4f4f4;}

.os_noticeRes .NCACroa_agreePop{display: flex; align-items: center; justify-content: space-between;}
.os_noticeRes .NCACroa_agreePop label .amw-label-radio-text{font-size:18px; font-weight:normal; position:relative;}
.os_noticeRes .NCACroa_agreePop .radio-label + .radio-label{margin-left:10px !important;}
  
/* 액티비티 예약 */
.os_noticeRes a.NCACroa_arrow{width:100%; border-radius:5px; padding:1em 0;}
.os_noticeRes .NCACroa_cont03_radio label .amw-label-radio-text em{color:#808285;}
.amway-theme .NCACroa_cont03_radio input.amw-global-radio{top:0; width:18px; height:18px;}
.os_noticeRes .NCACroa_cont03_radio .radio-label + .radio-label{margin-left:0 !important;}
.os_noticeRes .NCACroa_cont03_radio label .amw-label-radio-text{font-size:18px; font-weight:normal; position:relative; top:-3px;}
.os_noticeRes .amway-theme .NCACroa_cont03_radio label{margin-bottom:.7em;}

/* 액티비티 예약 radio off */
.os_noticeRes .NCACroa_cont03_radio label.NCACroa_radio_off .amw-label-radio-text, .akl .NCACroa_cont03_radio label.NCACroa_radio_off .amw-label-radio-text em{color:#bbbbbb;}
.os_noticeRes .amway-theme label.amw-radio-wrap.NCACroa_radio_off .amw-radio-overlay{background:#f4f4f4; border:1px solid #ddd;}
  
/* 제출 */
.bt-akl-blue.large.NCACroa_submit{width:100%; background:#00305e; border: 1px solid #00305e; border-radius:10px;}
.os_noticeRes .bt-akl-blue.NCACroa_submit:hover{border:1px solid #00305e; color:#00305e; background:#fff;}

.bt-akl-blue.btn_close.NCACroa_cont03_popup{color:#fff;}
.bt-akl-blue.btn_close.NCACroa_cont03_popup:hover{color:#002F5F;}

/* file Box */
.NCACroa_cont01_file01.NCAfile_remove{justify-content: flex-end;}
.NCACroa_cont01_file01.NCAfile_remove input{height: 40px; width: 55%; border-radius: 5px;}
.NCACroa_cont01_file01 a{position:absolute; background:none; padding-right:8px;}


  
@media screen and (max-width:639px) {
  .os_noticeRes .widM.cont_Wrap{width:100%;}
  .os_noticeRes .NCACroa_cont02 .floL, .os_noticeRes .NCACroa_cont02 .floR, .os_noticeRes .NCACroa_agreePop .floL, .os_noticeRes .NCACroa_agreePop .floR{margin:0;}
  .os_noticeRes .NCACroa_cont01_wrap .NCACroa_cont01-2, .os_noticeRes .NCACroa_cont01_file02{display:flex; align-items: center; justify-content: space-between;}
  .os_noticeRes .NCACroa_cont01_wrap .NCACroa_cont01-1 .amway-theme label:nth-child(2), .os_noticeRes .NCACroa_cont01_wrap .NCACroa_cont01-2 .amway-theme label:nth-child(2){margin-right:1.5em;} 
  .os_noticeRes .NCACroa_cont01_radio label .amw-label-radio-text{top:0;}
  .os_noticeRes .NCACroa_cont01_file01 span.NCACroa_fileBtn, .os_noticeRes .NCACroa_cont01_file02 span.NCACroa_fileBtn{padding-top:.7em;}
  .os_noticeRes .NCACroa_cont01_radio label .amw-label-radio-text, .os_noticeRes .NCACroa_cont02_radio label .amw-label-radio-text, .os_noticeRes .NCACroa_cont03_radio label .amw-label-radio-text, .os_noticeRes .NCACroa_agreePop label .amw-label-radio-text{font-size:16px;}
  .os_noticeRes .NCACroa_cont01_wrap .NCACroa_cont01-2.NCACroa_pc{display:none;}

  .os_noticeRes .NCACroa_cont01_wrap.widM{width:100%;}
  .os_noticeRes .NCACroa_cont01_wrap.widM .floL, .os_noticeRes .NCACroa_cont01_wrap.widM .floR{width:95% !important; margin:0 auto;}

  .os_noticeRes .NCACroa_cont02_popUp tbody tr td:nth-child(3){color:#2c2c2c; font-weight:500; font-size:16px;}
}

/* S : 20230712 우주라이드 타올라존 티켓 신청 페이지 */
/* 우주라이드 타올라존 티켓 신청 */
.taola_wrap .colorRightGray {color: #777777;}
.taola_wrap .fntP {letter-spacing: -0.8px; line-height: 1.53;}
.taola_wrap .fntE {letter-spacing: -0.6px;}
.taola_wrap .taola_banner {margin-bottom: 40px}

.taola_wrap .taola_title {padding: 16px 0;}
.taola_wrap .taola_title > div {font-weight: bold; line-height: 1.43; letter-spacing: -1.5px;}
.taola_wrap .amway-theme .NCACroa_cont03_radio label {margin-bottom: 1.38em;}
.taola_wrap .amway-theme .NCACroa_cont03_radio label:last-child {margin-bottom: 0;}
.taola_wrap .amway-theme .NCACroa_cont03_radio label .amw-label-radio-text {font-size: 16px; color: #56565a; letter-spacing: -0.8px; font-weight: 500;}
.taola_wrap .amway-theme .NCACroa_cont03_radio label .amw-label-radio-text b {color: #222; font-weight: bold;}
.taola_wrap .amway-theme .NCACroa_cont03_radio label .amw-label-radio-text em {color: #5e82fc;}
.taola_wrap .taola_notice {color: #56565a;}
.taola_wrap .taola_notice li {position: relative; padding-left: 12px;}
.taola_wrap .taola_notice li::before {content: ""; display: block; width: 3px; height: 3px; border-radius: 50%; background: #56565a; position: absolute; top: 10px; left: 0;}
.taola_wrap .taola_notice li:not(:last-child) {margin-bottom: 9.6px;}
.taola_wrap .bt-akl-blue.large.NCACroa_submit {border-radius: 5px; line-height: 1.5; letter-spacing: -1px; background: #002f5f; border-color: #002f5f;}
.taola_wrap .bt-akl-blue.large.NCACroa_submit:hover {background: #fff; color: #002f5f;}

/* 우주라이드 타올라존 티켓 신청 완료 */
.taola_wrap .taola_completion_box {background: #fff2f4; border: 1px solid #ffe0e7; border-radius: 4px;}
.taola_wrap .taola_completion_box.widM {width: 100%;}
.taola_wrap .taola_completion_box .taola_completion_con {display: flex; flex-direction: column; align-items: center;}
.taola_wrap .taola_completion_box .taola_completion_con img {width: 64px; height: 64px; margin-bottom: 16px;}
.taola_wrap .taola_completion_box .taola_completion_con .taola_completion-title {margin-bottom: 8px; font-weight: bold; line-height: 1.4; letter-spacing: -1.2px; color: #333;}
.taola_wrap .taola_completion_box .taola_completion_con .taola_completion-txt {letter-spacing: -0.7px; font-weight: 500;}
.taola_wrap .NCACroa_cont01_wrap .clearfix .NCACroa_cont01-1 span b {color: #222; font-weight: bold;}

@media (max-width: 639px) {
    /* 우주라이드 타올라존 티켓 신청 */
    .taola_wrap .fntP {font-size: 16px;}
    .taola_wrap .taola_banner {margin-bottom: 19px}
    .taola_wrap .mo_marTML1 {margin-top: 20px !important;}
    .taola_wrap .mo_marTML2 {margin-top: 19px !important;}
    .taola_wrap .marBML {margin-bottom: 20px;}
    .taola_wrap .marTML {margin-top: 20px;}
    .taola_wrap .padTS {padding-top: 5px;}
    .taola_wrap .mo_padTS {padding-top: 5px;}
    .taola_wrap .padTML {padding-top: 20px;}
    .taola_wrap .padBML {padding-bottom: 20px;}

    .taola_wrap .taola_title {padding: 9.5px 0;}
    .taola_wrap .taola_title > div {line-height: 1.5; letter-spacing: -1px;}
    .taola_wrap .NCACroa_cont01_wrap.widM {width: 95%;}
    .taola_wrap .NCACroa_cont01_wrap.widM .NCACroa_cont01-1 {padding: 14px 0;}
    .taola_wrap .osResTbScrollWrap .osResTbScroll {min-width: 400px;}
    .taola_wrap .taola_sub_title {letter-spacing: -0.85px; padding-top: 0;}
    .taola_wrap .amway-theme .NCACroa_cont03_radio label {display: flex; margin-bottom: 0.8em;}
    .taola_wrap .taola_notice li {line-height: 1.38;}
    .taola_wrap .taola_notice li:not(:last-child) {margin-bottom: 12px;}

    /* 우주라이드 타올라존 티켓 신청 완료 */
    .taola_wrap .mo_widM {max-width: 760px; width: 95%; margin-left: auto; margin-right: auto;}
    .taola_wrap .fntH5 {font-size: 24px;}
    .taola_wrap .padTL {padding-top: 40px;}
    .taola_wrap .mo_padBS {padding-bottom: 10px;}
    .taola_wrap .padBL {padding-bottom: 40px;}
    .taola_wrap .taola_completion_box.marTML {margin-top: 40px;}
}
/* E : 20230712 우주라이드 타올라존 티켓 신청 페이지 */