@charset "utf-8";
/* ---------------------------------------
    Description : 모바일 레이아웃
    Author      : netive
	Modify : 2016.12.14 - 로고 백그라운드 추가
	Modify : 2018.04.23 - 구축팀 수정
  --------------------------------------- */


/* 공통으로 사용하는 것*/
input::-webkit-input-placeholder{color:#6f6f6f;}
textarea::-webkit-input-placeholder{color:#6f6f6f;}

/**/input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;}

/* 2018.08.09 최상단 닫기기능 추가 */
#pbHeader .headTopClose{position:relative; background:#f6f6f6; padding:0; height:50px; background-size: contain; display:table; width:100% }
#pbHeader .headTopClose h1 { display:table-cell;  color:#424242; font-size:16px; text-align: center; vertical-align:middle; padding:0 40px}
#pbHeader .headTopClose .closePop { top:50%; right:15px; margin-top:-9px; position:absolute; width:18px;height:18px;text-indent: -9999px;border:0;background:#000 url(/_ui/mobile/images/common/ico_close_pop.png) no-repeat; background-size:18px 18px;}
/*// 2018.08.09 최상단 닫기기능 추가 */

/* header */
#pbHeader{background:#052546; line-height:100%;}
/*#pbHeader .headTop{position:relative; background:url(/_ui/mobile/images/common/bg_logo_mobile_2017new_X2.jpg) #fff no-repeat; padding:12px 10px 0 10px; height:45px; background-size: contain;}*/
#pbHeader .headTop{position:relative; background:#ffffff; padding:0; height:60px; background-size: contain;    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);}/*구축팀 수정*/
/*#pbHeader .headTop h1{position:absolute; top:12px; left:10px; display:inline-block; width:65px; height:33px;}*/
#pbHeader .headTop h1 {position: absolute;top: 10px;left:70px;display: inline-block;width: 86px;height: 56px;line-height: 56px; z-index:11; }/*구축팀 수정*/
#pbHeader .headTop h1 img{max-width:100%; max-height:100%;display:block}
#pbHeader .headTop .unitedSearch{position:absolute; text-align:left; right:0; top:0; height:60px;padding:10px 0 10px 10px; z-index:10; background-color:#fff;  width:100%; box-sizing: border-box; text-align: right;}/*구축팀 수정 2018.12.11*/
#pbHeader .headTop .unitedSearch input[type=text]{width:40%; height:40px; border:none ; text-indent:5px; -webkit-tap-highlight-color:rgba(0,0,0,0);}/*구축팀 수정*/
#pbHeader .headTop .btnLogin, #pbHeader .headTop .btnMsg, #pbHeader .headTop .btnMem{width:34px; height:33px; position:absolute; top:12px; right:10px;}
#pbHeader .headTop .btnCart { width:34px; height:33px; position:absolute; top:12px; right:55px; }
#pbHeader .headTop .btnLogin img, #pbHeader .headTop .btnMsg img, #pbHeader .headTop .btnMem img, #pbHeader .headTop .btnCart img {width:34px; height:33px;}
#pbHeader .headTop .btnMsg em{position:absolute; top:0; right:0; font-size:9px; height:12px; line-height:12px; background-color:#e9252a; color:#fff; border:1px solid #c60a0e; border-radius:7px; padding:0 1px 0 3px; letter-spacing:0;}
#pbHeader .unitedSearch .btnSearch{ width:35px; height:40px; border:none; margin-right:5px; }/*구축팀 수정 2018.12.11 */
#pbHeader .unitedSearch .btnReset{display:none; position:absolute; top:14px; right:41px; z-index:20;}/*구축팀 수정*/
#pbHeader .unitedSearch .btnReset img{width:25px; height:31px;}
#pbHeader .headTop.afterLogin .unitedSearch { margin-right:90px; }
#pbHeader .btnLoginN{text-align:center;display:inline-block; height:40px; line-height:40px; width:50px; letter-spacing:-1px; color:#002f5f; font-weight:bold;margin-right:10px;}/*구축팀 추가  2018.12.11*/
#pbHeader .unitedSearch .btnSearch .after {right:5px;}/*// 2018.11.30 로그인 후 검색 버튼에 right속성 제거 */

 /*------------------------------------------------------ 구축팀 추가(start)-------------------------------------------------------------------*/
 /*** header > 검색  */
.siteSearchWrap {position:absolute; left:0; top:60px; right:0; padding:0 15px 10px; z-index:9; display:none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
.siteSearch {  background:#fff;  min-height:38px; margin-top:12px; border:1px solid #dadada; border-radius:4px; position:relative; }
.siteSearch button {border:0; position:absolute; right:1px; width: 40px; height: 38px; vertical-align: middle;background: url(/_ui/desktop/images/academy/search@2x_mobile.png) no-repeat 50% 50%; background-size:20px 20px; text-indent:-999px;overflow:hidden;}
.siteSearch input { height:30px; width:280px; border: 0; margin: 1px }

/*** header >  검색 > 검색어 자동완성  */
.popoverword { display:none ; position: absolute; top:58px;left: 0; width:100%; padding: 1px 0; text-align:left;background-color:#fff; box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); }
.popoverword .popover-content-akl { max-width:1240px; margin:0 auto; position:relative; padding:40px 0 18px; }
.popover-content-akl:after{ content:""; position:absolute; left:50%; top:-10px; display:block;width:0; height:0; margin-left:-5px; border-color: transparent; border-style: solid; border-width: 10px; border-top-width: 0;border-bottom-color: #fff;}
.search-results-close { top:20px; right:15px; position:absolute;width:18px;height:18px;text-indent: -9999px;border: 0;background: url(/_ui/desktop/images/academy/close@2x.png) no-repeat;background-size: contain;}
.popoverword .popover-content-akl .popover-btn { overflow:hidden; border-top:1px solid #dadada; padding:15px 15px 0; }
.popoverword .popover-content-akl .popover-btn button:frist-child { float:left;}
.popoverword .popover-content-akl .popover-btn button:last-child { float:right;}
.search-results-akl { margin-bottom: 25px; margin-top:20px;}
.search-results-akl li { overflow:hidden; position: relative; height:40px; }
.search-results-akl li:hover {background:#f4f4f4}
.search-results-akl li a {display:block; font-size: 14px; color:#55565a; line-height:40px; height:40px;  margin-right:48px;  padding-left:15px;}
.search-results-akl li span{ float:left;}
.search-results-akl li span strong{ font-weight:bold;}
.search-results-akl li em { float:right;}
.search-results-akl li button { position: absolute; right:0; top:0; text-indent:-1000px; width:48px; height:40px;  overflow:hidden;background: url(/_ui/desktop/images/academy/ico_x_red02.png) no-repeat 50% 50%;  border:0;  background-size: 11px auto; }
.search-no-result {  text-align: center; padding: 40px 0 ; width:100%;}
.search-no-result.line {border-bottom:1px solid #e3e3e3;}
.search-no-result p {font-size: 14px;}
.popoverword  .link-btn { color: #0075a4 !important;  display: inline-block; font-size: 13px; line-height: 2;font-weight: 500; background:none; border: 0}
.popoverword .link-btn.off { color: #bbb !important;}

/*** header >  검색 > 최근 자동완성  */
.popoverword .popover-content-akl.case02 {padding:25px 0;}
.popoverword .popover-content-akl.case02 .search-results-akl { margin-bottom:0; margin-top:0}
.popoverword .popover-content-akl.case02 .search-results-akl li { height:30px; }
.popoverword .popover-content-akl.case02 .search-results-akl li a {font-size: 14px; line-height:30px; height:30px;  margin-right:0; }

/*** header >  검색 > 검색결과  */
.searchResultWrap { position:relative; margin:20px 15px; }
.searchResultWrap .searchResult { text-align:center; color: #002f5f; font-size: 32px; font-weight:700; font-family: 'Noto Sans KR', sans-serif; padding:25px 0 40px}
.searchResultWrap .paginationBar {color: #002f5f; margin: 0;padding-bottom:15px; border-bottom: 1px solid #e3e3e3; font-weight:bold; }
.searchResultWrap .searchResultList {}
.searchResultWrap .searchResultList li { padding:30px 0; border-bottom: 1px solid #e3e3e3;}
.searchResultWrap .searchResultList li .itemHeader { position:relative; padding-bottom:15px}
.searchResultWrap .searchResultList li .itemHeader .headerText { position:relative; margin-right:100px; }
.searchResultWrap .searchResultList li .itemHeader .headerText img {position:absolute; left:0; top:3px; width:20px; vertical-align:middle; margin-right:10px; }
.searchResultWrap .searchResultList li .itemHeader .headerText a{color: #55565a; display:block; margin-left:30px }
.searchResultWrap .searchResultList li .itemHeader .headerText a:visited {color: #55565a;}
.searchResultWrap .searchResultList li .itemHeader .headerDate { position:absolute; right:0; top:0}
.searchResultWrap .searchResultList li .itemDescription { line-height:150%; padding-left:30px;}
.searchResultWrap .searchNoResult {border-bottom: 1px solid #dadada; padding: 40px 0; text-align:center; }
/*------------------------------------------------------ 구축팀 추가(end)-------------------------------------------------------------------*/

.searchAutoWrap{z-index:100; position:absolute; top:60px; left:0; right:0; text-align: left;}/*구축팀 수정*/
.searchAutoWrap a{display:block; padding:4px 0 8px 0; text-indent:15px; font-size:13px; background-color:#fff; width:100%; overflow:hidden; word-break:nowrap; white-space:nowrap;text-overflow:ellipsis;}
.searchAutoWrap a strong{color:#e91e40; font-weight:bold;text-indent:0;}
.searchAutoWrap a.btnTbl{font-size:12px; padding:0 10px; width:auto;text-indent:0;}
/* 20171020 자동검색어 추가 */
.searchAutoWrap ul li{position:relative;}
.searchAutoWrap ul li > a{display:block; color:#444; }
.searchAutoWrap ul li > a span{ display:block; width:84%; overflow:hidden; word-break:nowrap; white-space:nowrap;text-overflow:ellipsis; line-height: 150%; padding-top:4px;}
.searchAutoWrap ul li > a em { font-weight:bold; }
.searchAutoWrap ul li .btnCartSearch { position: absolute; right:15px; top:6px; padding:0; background:url(/_ui/mobile/images/common/ico_serch_basket.png) no-repeat 0 0; background-size:33px 33px; width:33px; height:33px; display: inline-block; }
/* 20171020 자동검색어 추가 */
.searchAutoWrap .newPromotion, .searchAutoWrap .autoText{display:none; border-top:1px solid #dbdbdb; padding:8px 0 7px;}
.searchAutoWrap .hotText, .searchAutoWrap .myText{display:none; padding:0 0 7px;}
.searchAutoWrap .titP{margin-bottom:8px;}
.searchAutoWrap .hotText a {display:inline-block; width:auto; padding:3px 10px 5px 5px; background-image:url(/_ui/mobile/images/common/bg_bar_03.gif); background-position: 100% center; background-repeat:no-repeat; background-size:1px auto; text-indent:0;}
.searchAutoWrap .hotText{padding:0 5px 7px 5px;}
.searchAutoWrap .hotText .titP{margin:0 -5px 8px;}
.searchAutoWrap .searchClose{display:none; border-top:1px solid #dbdbdb; text-align:right; padding:10px 10px 0 0; height:35px;}
.searchAutoWrap .searchClose a.btnTbl{display:inline-block; font-size:12px; padding:0 10px; width:auto;text-indent:0;}

#pbHeader .headCont{clear:both; color:#fff; height:43px; position:relative;}
#pbHeader .headCont a{color:#fff;text-decoration:none}
#pbHeader .headCont a:visited{/*color:inherit*/}

#pbGnb ul{overflow:hidden; padding-left:43px; text-align:center;}
#pbGnb ul > li{display:inline-block; height:43px;}
#pbGnb ul > li a{display:block; height:30px; padding-top:13px; font-size:17px; font-weight:bold; color:#a3b3c3;}
#pbGnb ul > li a:visited{color:#a3b3c3;}
#pbGnb ul > li a.on{color:#fff;}
#pbGnb ul > li:nth-child(1){width:65px;}
#pbGnb ul > li:nth-child(2){width:90px;}
#pbGnb ul > li:nth-child(3){width:90px;}
#pbGnb ul > li:nth-child(1) a.on{height:26px; border-bottom:4px solid #f62a4d;}
#pbGnb ul > li:nth-child(2) a.on{height:26px; border-bottom:4px solid #1393f6;}
#pbGnb ul > li:nth-child(3) a.on{height:26px; border-bottom:4px solid #67ae39;}

.btnMenuOpen{position:absolute; top:0; left:0; width:60px; height:60px; z-index:11;border-right:1px solid #dadada }/*구축팀 수정*/
.btnMenuOpen img{width:60px; height:60px;}/*구축팀 수정*/

.btnMenuClose{display:none; position:absolute; top:4px; left:263px; width:41px; height:41px; z-index:9999;}
.btnMenuTop{display:block; position:absolute; bottom:4px; left:275px; width:41px; height:41px; z-index:10000;}
.btnMenuClose img{padding-left:10px;}
.btnMenuClose img, .btnMenuTop img{width:41px; height:41px;}

.loadingS{position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-50px;z-index:10005;}/* OAD수정 2016.08.26 : z-index 수정 */
.loadingS img{width:100px;height:100px;}
.layerMask{display:none; position:fixed; width:100%;height:100%; z-index:9999; top:0; right:0; bottom:0; left:0; background:#000; filter:alpha(opacity=50) !important; opacity:.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.loadMask{display:none; position:fixed; z-index:10005; top:0; right:0; bottom:0; left:0; background:#fff; filter:alpha(opacity=50) !important; opacity:.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}/* OAD수정 2016.08.26 : z-index 수정 */

#allMenuWrap{display: none;position: absolute; width: 100%;height: 100%;top:0;left:0;z-index: 100;}
#allMenuWrap a,
#allMenuWrap a:visited{color:#fff !important; text-decoration: none;}

#allMenu{overflow-y: scroll;overflow-x:hidden;-webkit-overflow-scrolling:touch;display:none; width:269px; position:absolute; top:0; bottom:0; left:-320px; z-index: 10000;background-color:#141516;}
#allMenu .personal{width:269px;height:179px;background-color:#28292c; position:initial;z-index:10000;}
#allMenu .personal{background-color:#28292c; border-right:1px solid #191a1d; font-size:12px; color:#c8cdd3;}
#allMenu .personal p{padding:13px 15px 0 15px; height:28px;}
/*#allMenu .personal p strong{display:inline-block; height:15px; color:#fff;}*/
#allMenu .personal p strong {display:inline-block; height:17px; line-height:22px;color:#fff;width:100px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;word-wrap: break-word;}
#allMenu .personal p span[class^=pinLevelLg]{vertical-align:middle; margin-right:6px;}
#allMenu .personal a.login, .personal a.logout{float:right; display:inline-block; height:15px; padding-left:22px; background-image: url(/_ui/mobile/images/common/btn_login2.gif); background-position:0 0; background-repeat:no-repeat; background-size:16px auto;}
.personal a.logout{background-position:0 bottom;}
#allMenu .personal a.setting{display:inline-block; margin-left:6px;width:17px;height:15px; background-image: url(/_ui/mobile/images/common/bg_setting.gif); background-position:0 0; background-repeat:no-repeat; background-size:17px auto; font-size:0; line-height:0;vertical-align:middle;}
#allMenu .personal a,
#allMenu .personal a:visited {color:#fff}
.personal .personMenu{overflow:hidden; height:67px; border-top:1px solid #2d2f31;border-bottom:1px solid #2d2f31;}
.personal .personMenu a{display:inline-block; width:67px; height:24px; padding-top:45px; font-size:11px; float:left; text-align:center; background-color:#0b0c0e; border-left:1px solid #2a2c2e; background-position:50% 0; background-repeat:no-repeat; background-size:27px auto;}
.personal .personMenu a:nth-child(1){border-left:none;background-image: url(/_ui/mobile/images/common/bg_person_menu1.gif);}
.personal .personMenu a:nth-child(2){background-image: url(/_ui/mobile/images/common/bg_person_menu2.gif);}
.personal .personMenu a:nth-child(3){width:66px; background-image: url(/_ui/mobile/images/common/bg_person_menu3.gif);}
.personal .personMenu a:nth-child(4){width:66px; background-image: url(/_ui/mobile/images/common/bg_person_menu4.gif);}

.personal .personMenu.login a{background-position:50% bottom;}
.personal .personMenu.loginMn3 a { width:89px; background-position:50% bottom; }
.personal .personMenu.loginMn3 a:nth-child(2){background-image: url(/_ui/mobile/images/common/bg_person_menu3.gif);}
.personal .personMenu.loginMn3 a:nth-child(3){background-image: url(/_ui/mobile/images/common/bg_person_menu4.gif);}

/* lnb 시범운영게시판 메뉴 추가 */
.personal .personMenu.login a.testNoti,
.personal .personMenu.loginMn3 a.testNoti { height:34px; padding-top:35px; background:#f1b500 url(/_ui/mobile/images/common/bg_person_menu_testnoti.gif) no-repeat center 0; background-size:37px auto; }

#allMenu .mainSetting{width:269px;background-color:#141516; border-right:1px solid #191a1d; color:#9ca0a6; padding:15px 0 30px 0; text-align:center;position:relative; z-index:10000;}
#allMenu .mainSetting em{display:inline-block; font-size:12px; padding-left:17px; background-image: url(/_ui/mobile/images/common/bg_main_setting.gif); background-position:0 0; background-repeat:no-repeat; background-size:14px 14px; margin-right:2px;}
#allMenu .mainSetting .mainMenuSet a{width:70px;font-size:13px; font-weight:bold;display:inline-block; height:20px; padding:6px 0 0; margin:0 -2px; border:1px solid #6f7075;color:#fff}
#allMenu .mainSetting .mainMenuSet a.on{font-weight:normal; color:#1c1e20; background-color:#9ca0a6;}
#allMenu .mainSetting .mainMenuSet a:first-child{border-top-left-radius:3px; border-bottom-left-radius:3px; border-right:none;}
#allMenu .mainSetting .mainMenuSet a:last-child{border-top-right-radius:3px; border-bottom-right-radius:3px;}
#allMenu .mainSetting .mainMenuSet a:visited {color:#fff}

#allMenu .depthM{position:initial;width:269px; background-color:#1c1e20;border-right:1px solid #191a1d;border-bottom:1px solid #353739;z-index:10000;}
#allMenu .depthM li{ background-color:#1c1e20; border-top:1px solid #313335;}
#allMenu .depthM>li:first-child{border-top:none;}
#allMenu .depthM li a{display:block; height:27px; padding:13px 0 0 12px; border-left:3px solid #8c9096; font-size:15px; font-weight:bold;color:#fff}
#allMenu .depthM li a:visited {color:#fff;}
#allMenu .depthM li a.uiGnbM1{border-left:3px solid #f62a4d;}
#allMenu .depthM li a.uiGnbM2{border-left:3px solid #1393f6;}
#allMenu .depthM li a.uiGnbM3{border-left:3px solid #67ae39;}
#allMenu .depthM li a.on{background-color:#8c9096;}
#allMenu .depthM li a.uiGnbM1.on{background-color:#f62a4d;}
#allMenu .depthM li a.uiGnbM2.on{background-color:#1393f6;}
#allMenu .depthM li a.uiGnbM3.on{background-color:#67ae39;}

#allMenu .depthM li ul{display:none;}
#allMenu .depthM li ul li{background-color:#24272a;}
#allMenu .depthM li ul li a{border-left:none; padding-left:15px; font-size:13px; color:#9ca0a6;}
#allMenu .depthM li ul li a.open{background-image: url(/_ui/mobile/images/common/bg_depth2.gif); background-position:right 0; background-repeat:no-repeat; background-size:34px auto;}
#allMenu .depthM li ul li a.close{background-image: url(/_ui/mobile/images/common/bg_depth2.gif); background-position:right bottom; background-repeat:no-repeat; background-size:34px auto;color:#fff;}

#allMenu .depthM li ul li ul{display:none; padding:7px 0;background-color:#292c2f;border-top:1px solid #353739;}
#allMenu .depthM li ul li ul li{background-color:#292c2f; border-top:0;}
#allMenu .depthM li ul li ul li a{height:23px; padding:9px 0 0 35px; color:#c8cdd3; background-image: url(/_ui/mobile/images/common/bg_depth3.gif); background-position:0 50%; background-repeat:no-repeat; background-size:auto 12px; font-weight:normal;}



/* page Location */
#pageLocation{position:relative;}
#pageLocation .depth1{display:block; font-size:17px; font-weight:bold; line-height:32px; height:37px; text-align:center; color:#fff; background:#444547; border-top:1px solid #37393a;}
#pageLocation .depthClick{display:block; height:37px; color:#333; font-weight:bold; line-height:36px; padding:0 0 0 10px; background:#f6f6f6; border-bottom:1px solid #c7c7c7;}
#pageLocation .depth2{line-height:18px; padding-right:22px; background-image: url(/_ui/mobile/images/common/bul_pagelocation.png); background-position: right 2px; background-repeat:no-repeat; background-size:16px auto;}
#pageLocation .depthClick.uiOn .depth2{background-position: right bottom;}
#pageLocation .depth3{ line-height:100%; margin-left:9px; padding-left:10px; background-image: url(/_ui/mobile/images/common/bul_pagelocation2.gif); background-position:0 2px; background-repeat:no-repeat; background-size:1px auto;}
#pageLocation div{display:none; position:absolute; top:68px; left:10px; right:10px; border:2px solid #434547; background-color:#fff; z-index:100;}
#pageLocation ul li{color:#444; font-size:14px; font-weight:bold; border-bottom:1px solid #cdcece;}
#pageLocation ul li:last-child{border-bottom:none;}
#pageLocation ul li a{display:block; padding:6px 0 9px 10px; color:inherit; text-decoration:none}
#pageLocation ul li a.open{background-image:url(/_ui/mobile/images/common/bul_pagelocation3.gif); background-position:right 0; background-repeat:no-repeat; background-size:25px auto;}
#pageLocation ul li a.close{color:#1962a9; background-image:url(/_ui/mobile/images/common/bul_pagelocation3.gif); background-position:right bottom; background-repeat:no-repeat; background-size:25px auto;}
#pageLocation ul li a.curr{color:#1962a9;}
#pageLocation ul ul{display:none; overflow:hidden; border-top:1px solid #cdcece;}
#pageLocation ul ul li{float:left; width:50%; font-size:12px; font-weight:normal; color:#555; background-color:#f4f4f4; border-bottom:1px solid #cdcece;}
#pageLocation ul ul li a{ border-right:1px solid #cdcece;}
#pageLocation ul ul li:nth-child(even) a{border-right:none;}
#pageLocation ul ul ul{display:none;}

/* footer */
.btnTop{display:none; position:fixed; right:10px; bottom:10px; z-index:100; width:39px; height:36px;}/* OAD수정 : z-index추가 */
.btnTop img{width:39px; height:36px;}

#pbFooter{background:#d4d8db; border-top:1px solid #c4c6c8; padding:9px 0 14px 0;}
#pbFooter .footerMenu{font-size:11px; overflow:hidden; padding:0 5px 0 5px;letter-spacing:-0.07em;}
#pbFooter .footerMenu a{float:left; color:#515355; padding:4px 7px 5px 5px; background-image: url(/_ui/mobile/images/common/bul_footer.gif); background-position: right 7px; background-repeat:no-repeat; background-size:1px auto;}
#pbFooter .footerMenu a strong{font-weight:bold;color:#333;}
#pbFooter .footerMenu a:last-child{background-image:none;}

#pbFooter .footerCopyright{font-size:10px; padding-top:5px; margin:5px 10px 0 10px;border-top:1px solid #cbcccc;color:#7e7e7e;}
#pbFooter .footerCopyright address{color:#7e7e7e; letter-spacing:-0.05em;}
#pbFooter .footerCopyright strong{color:#515355;}
#pbFooter .footerCopyright p{margin-top:3px;}
#pbFooter .footerCopyright p.hosting{margin-top:5px;}
#pbFooter .footerCopyright a{text-decoration:underline;color:#7e7e7e;}

#pbContainer .topTit{height:37px; background:#444547; text-align:center; color:#fff; border-top:1px solid #37393a; font-size:17px; line-height:37px;}


/* layer popup */
/*.pbLayerPopup{display:none; position:absolute; left:10px; right:10px; padding:15px 12px; background:#fff; z-index:10001;}*/
/* 20151019 ios9 webview 렌더링 이슈 fix*/
.pbLayerPopup{display:none; position:absolute; left:10px; right:10px; padding:15px 12px; background:#fff; z-index:10001;-webkit-transform: translate3d(0,0,0);}
.pbLayerHeader{position:relative; background:url(/_ui/mobile/images/common/bg_popup.gif) 0 bottom no-repeat; background-size:100%; padding-bottom:10px; text-align:left;}
.pbLayerHeader .titH,
.pbLayerHeader strong{display:inline-block;padding-right:18px;font-size:16px; color:#333; font-weight:bold; letter-spacing:-1px; word-spacing:-1px;}
.pbLayerPopup .btnPopClose{top:14px; right:12px;}
.pbLayerPopup .btnPopClose2{top:14px; right:12px;}
.pbLayerContent{padding-top:15px;}
.pbLayerContent .pbLayerh2{margin:20px 0 10px 0;}
.pbLayerContent .pbLayerh2:first-child{margin-top:0;}
.pbLayerContent p.popTit{margin:20px 0 10px 0;font-size:15px; color:#333;font-weight:bold;}
.pbLayerContent p.popTit:first-child{margin-top:0;}
.pbLayerContent p.popTxt{font-size:13px;}
.pbLayerContent .btnWrap{padding:0 15px;}
.pbLayerContent .btnWrap.aNumb2 span:first-child{padding-left:0;}
.pbLayerContent .btnWrap.aNumb2 span:last-child{padding-right:0;}
.pbLayerContent .btnWrap-b {display:table;width:100%;table-layout:fixed;margin-top:25px}
.pbLayerContent .btnWrap-b span {display:table-cell;padding:0 5px}
.pbLayerContent .btnWrap-b span a {width:100%}
.pbLayerContent ul.titList > li{margin-top:20px;}
.pbLayerContent ul.titList > li:first-child{margin-top:0;}
.pbLayerContent ul.titList strong.tit{color:#444;font-size:12px;}
.pbLayerContent ul.titList li ul li{padding-left:13px;color:#666;text-indent:-13px;font-size:12px;}

.alertContent{padding:15px;}
.alertContent em{display:block;font-weight:bold;color:#333333;}
.alertContent input.url{width:100%;margin-top:15px;background:#f9f9f9;}

.btnPopClose{position:absolute; display:block; width:20px !important; height:20px;}
.btnPopClose2{position:absolute; display:block; width:20px !important; height:20px;}
.btnPopClose img{display:block; width:20px !important; height:20px !important;}
.btnPopClose2 img{display:block; width:20px !important; height:20px !important;}

.pbLayerPopup .btnBasicBL, .pbLayerPopup .btnBasicRL,
.pbLayerPopup .btnBasicGrL , .pbLayerPopup .btnBasicGL{min-width:100px;}

/* layer popup 구축팀 추가(start)*/ 
.pbLayerPopup.new{display:block; position:absolute; left:0px; right:00px; padding:0 !important; background:#fff; z-index:10001;-webkit-transform: translate3d(0,0,0);}
.pbLayerPopup.new .pbLayerHeader {position:relative; background:#002f5f; background-size:100%; height:50px; text-align:left; }
.pbLayerPopup.new .pbLayerHeader .titH,
.pbLayerPopup.new .pbLayerHeader strong{display: block; font-size:18px; color:#fff; padding:15px 0 0 20px  }
.pbLayerPopup.new .btnPopClose{top:18px; right:15px;}
.pbLayerPopup.new .btnPopClose2{top:33px; right:25px;}
.pbLayerPopup.new .btnPopClose img{ width:15px} 
.pbLayerPopup.new .btnPopClose2 img{ width:15px}
.pbLayerPopup.new .pbLayerContent{padding:10px 15px 40px}
.pbLayerPopup.new .link-btn { margin:30px 0 20px; color: #0075a4 !important; padding-right:15px;display: inline-block; font-weight:bold;background:url(/_ui/mobile/images/common/new_arrow.png) 100% 5px no-repeat; background-size:8px 12px; }
.col-search-tab { margin: 0 0 35px; padding: 0; }
.col-search-tab ul { display: -webkit-flex; display: -moz-flex;  display: -ms-flex; display: flex; margin: 0; padding: 0; border-bottom: 1px solid #dadada;overflow-y: hidden;overflow-x: auto;}
.col-search-tab ul li { margin-bottom: -1px; min-width:130px; }
.col-search-tab ul li a { font-size:14px; font-weight:500; min-width:130px; border: 1px solid #dadada; color: #55565a; padding:15px 5px; text-align:center;  border-right: none; background: #f4f4f4;  display:block; box-sizing: border-box; text-decoration:none}
.col-search-tab ul li:last-of-type a{  border-right: 1px solid #dadada;  }
.col-search-tab ul li.active a { background: #fff; border-bottom: none; position:relative;}
.col-search-tab ul li.active a:before { content:""; position:absolute; top:-1px; left:-1px; right:-1px;  border-top: 4px solid #008fc5; }

.col-search-tab ul li.activeTab a { background: #fff; border-bottom: none; position:relative;}
.col-search-tab ul li.activeTab a:before { content:""; position:absolute; top:-1px; left:-1px; right:-1px;  border-top: 4px solid #008fc5; }

.col-search-tab ul li { display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flex; display: inline-flex; }
.pbLayerPopup.new .tab-conts {display:block;  } 
/* layer popup 구축팀 추가(end)*/ 

/* popup */
.pbPopWrap{position:relative; padding:20px 10px;}
.pbPopWrap .btnPopClose{top:20px; right:15px;}
.pbPopHeader{padding-right:25px;background:url(/_ui/mobile/images/common/bg_popup.gif) 0 bottom no-repeat; background-size:100%; padding-bottom:10px;}
.pbPopHeader h1, .pbPopHeader strong{font-size:17px; color:#333; font-weight:bold;}
.pbPopContent{padding-top:15px;}
.popTopText{font-size:12px; padding-bottom:10px}
.popTopTextL{margin-bottom:10px;line-height:20px;}

/* 약관 */
.pbPopWrap.terms{padding:20px 0;}
.pbPopWrap.terms .pbPopHeader{margin-left:10px; margin-right:10px}

/* 사업자등록증 관리 */
.pbPopWrap.sideNone{padding:20px 0}
.pbPopWrap.sideNone .pbPopHeader{margin:0 10px;}

.termsBox{font-size:13px;}
.termsBox .termsDate{color:#888;}
.termsBox .termsDate span{display:inline-block; color:#0d72c0; margin-right:8px; font-size:12px; font-weight:bold; }
.termsBox .termsInfo{margin-top:10px; border-top:1px dashed #dbdbdb;}
.termsBox .termsInfo strong{display:block; font-size:15px; color:#333; font-weight:bold; margin-top:13px;}
.termsBox .termsInfo p {line-height:18px; padding-top:8px;}
.termsBox .termsInfo p:first-child { padding-top:0;}

.myAgreeDate { overflow:hidden; }
.myAgreeDate li { float:left; font-size:12px; margin-left:8px; }
.myAgreeDate li:first-child { margin-left:0; }
.myAgreeDate li strong { display:inline-block !important; padding-right:5px; font-size:12px !important; color:#0d72c0 !important; }

/* biz menu */
.pbPopContent.bizGuide .titP{margin:10px 10px 8px 10px; padding:0; border:0; text-indent:0; background:none;}
.pbPopContent.bizGuide .titP:first-child{margin-top:0;}

.popInfoDot{margin:10px 10px 0 10px; line-height:20px;}
.popInfoDot dt{margin-top:10px; padding:0 0 5px 9px; font-weight:bold; color:#444; background:url("/_ui/mobile/images/common/bul_dot3.gif") no-repeat 0 8px;}
.popInfoDot dt:first-child{margin-top:0;}
.popInfoDot dd{margin-left:10px;}
.popInfoDot span.block{display:block;}

/* content */
#pbContainer{width:100%;margin-bottom:25px;}
#pbContainer.cateDetail{padding-bottom:55px;}
#pbContainer.main{margin-bottom:0}

#pbContent{min-height:250px;} /* 20231010 수정 */
#pbContent.basic{margin:15px 0 0;}
#pbContent.bgCont{background:#ececec; padding:0 0 24px 0;}

span.pinLevelLg{ display:inline-block; line-height:0 !important;}
span.pinLevelLg img{width:17px; height:17px;}

/* pin Level : 로그인 우측 회원등급 */
span[class^=pinLevelLg]{ overflow:hidden; width:20px; height:20px; line-height:9999px; text-indent:0;}
.pinLevelLgMember{background:url(/_ui/mobile/images/common/ico_pinl_member.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgAbo{background:url(/_ui/mobile/images/common/ico_pinl_abo.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgSps{background:url(/_ui/mobile/images/common/ico_pinl_sps.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgSp{background:url(/_ui/mobile/images/common/ico_pinl_sp.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgGp{background:url(/_ui/mobile/images/common/ico_pinl_gp.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgPt{background:url(/_ui/mobile/images/common/ico_pinl_pt.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgRuby{background:url(/_ui/mobile/images/common/ico_pinl_ruby.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFpt{background:url(/_ui/mobile/images/common/ico_pinl_fpt.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFruby{background:url(/_ui/mobile/images/common/ico_pinl_fruby.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgPearl{background:url(/_ui/mobile/images/common/ico_pinl_pearl.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgSap{background:url(/_ui/mobile/images/common/ico_pinl_sap.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFsap{background:url(/_ui/mobile/images/common/ico_pinl_fsap.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgEme{background:url(/_ui/mobile/images/common/ico_pinl_eme.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFeme{background:url(/_ui/mobile/images/common/ico_pinl_feme.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgDia{background:url(/_ui/mobile/images/common/ico_pinl_dia.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFdia{background:url(/_ui/mobile/images/common/ico_pinl_fdia.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgExedia{background:url(/_ui/mobile/images/common/ico_pinl_exedia.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFexedia{background:url(/_ui/mobile/images/common/ico_pinl_fexedia.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgDdia{background:url(/_ui/mobile/images/common/ico_pinl_ddia.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFddia{background:url(/_ui/mobile/images/common/ico_pinl_fddia.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgTdia{background:url(/_ui/mobile/images/common/ico_pinl_tdia.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFtdia{background:url(/_ui/mobile/images/common/ico_pinl_ftdia.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgCrown{background:url(/_ui/mobile/images/common/ico_pinl_crown.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFcrown{background:url(/_ui/mobile/images/common/ico_pinl_fcrown.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgCrownamb{background:url(/_ui/mobile/images/common/ico_pinl_crownamb.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFcrownamb{background:url(/_ui/mobile/images/common/ico_pinl_fcrownamb.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFca40{background:url(/_ui/mobile/images/common/ico_pinl_fca40.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFca50{background:url(/_ui/mobile/images/common/ico_pinl_fca50.png) no-repeat 0 0; background-size:20px auto;}
.pinLevelLgFca60{background:url(/_ui/mobile/images/common/ico_pinl_fca60.png) no-repeat 0 0; background-size:20px auto;}

.listPinLevel{margin-top:30px; border:1px solid #dedede;}
.listPinLevel .pinTit{.position:relative; height:28px; padding:13px 13px 0; font-size:14px; line-height:100%; color:#444; background:#f4f4f4;}
.listPinLevel .pinTit span{.position:absolute;}
.listPinLevel .pinTit strong{display:inline-block; vertical-align:middle; margin:3px 0 0 7px;.margin:0 0 0 18px; line-height:100%}
.listPinLevel table{width:680px; margin:4px auto;}
.listPinLevel tr:first-child td{background:none;}
.listPinLevel td{overflow:hidden; vertical-align:top; background:url(/web/images/content/bg_dotline_notebook.gif) repeat-x; padding:10px 0 6px 0;}
.listPinLevel td strong{float:left; display:inline-block; color:#444; width:49%;}
.listPinLevel td strong em{display:block; margin-top:3px; font-size:11px; font-weight:normal; color:#ff4545}
.listPinLevel td span{float:right; display:inline-block; width:48%; font-size:11px; margin-left:1px}


/* App 를 위한 닫기 버튼 */
.btnAppClose{display:none;}



/* width:320 이하 */
@media screen and (max-width:359px){
	#pbFooter .footerMenu a:nth-child(4){background-image:none;}
	/*.magazineList li{width:309px;}*/
}

/* width:320 이상 공통적용 */
@media screen and (min-width:360px) and (max-width:479px){
	#pbFooter .footerMenu a:nth-child(4){background-image:none;}
	/*.magazineList li{width:309px;}*/
}

@media screen and (min-width:430px){
	.magazineList li{width:25% !important;}
}

/* 20160407 레이어 팝업 닫기 버튼 (NonEvent) 추가 생성 */
.btnPopCloseNonEvent {top:14px; right:12px; position:absolute; display:block; width:20px !important; height:20px;}
.btnPopCloseNonEvent img{display:block; width:20px !important; height:20px !important;}

/*앱 접근권한 레이어 팝업 170816*/
.pbLayerContent.pblayerAppAccess, .pblayerAppAccess{padding-top:0;text-align:center;position:relative;}
.pblayerAppAccess .popAccessMain{width:100%;}
.pblayerAppAccess .popAccessBtns{position:absolute;bottom:0;left:0;width:100%;background-color:#052546;padding:0.8em 0;line-height:1;color:#ccc;min-height:1em;text-align:left}
.popAccessBtns .chkGroup{padding-left:1em;white-space:nowrap;}
.popAccessBtns .closeBtn{position:absolute;bottom:0.95em;right:1em;font-size:13px;color:#ccc;}
.popAccessBtns .closeBtn img{width:0.7em;height:0.7em;vertical-align:baseline;margin-right:3px}

@media screen and (max-width:359px){
    .pblayerAppAccess .popAccessBtns{letter-spacing:-1px;padding:0.4em 0}
    .pblayerAppAccess .popAccessBtns label{margin-left:3px;font-size:12px;}
    .popAccessBtns .chkGroup{padding-left:0.8em}
    .popAccessBtns .closeBtn{font-size:12px;bottom:0.55em;right:0.8em}
}

@media screen and (min-width:430px){
    .pblayerAppAccess .popAccessBtns{padding:1em 0}
    .pblayerAppAccess .popAccessBtns label{margin-left:3px;font-size:15px;}
    .popAccessBtns .chkGroup{padding-left:1.2em}
    .popAccessBtns .closeBtn{font-size:15px;bottom:1em;right:1.2em}
}
/*//앱 접근권한 레이어 팝업 170816*/

/*다시 보지 않기 체크*/
.btnPopChk{margin-top:10px}

/* 20220523 시설예약 타이틀 수정 */
.pbLayerPopup.new .pbLayerHeader strong{padding:20px 0 0 20px}

/* 20230613 아카데미 통합검색 검색결과 타이틀 두 줄 이상인 경우 텍스트 겹침 수정 (Sprint6, 상시모니터링 No.45) */
.searchResultWrap .searchResult {line-height: 1.4;}

/* 20230731 아카데미 약관 및 동의 전체보기 화면 하단 버튼 짤림 현상 수정 */
.pbLayerPopup.new #uiLayerPop_personal .pbLayerContent {height:calc(100% - 10%) !important;}