@font-face {
	font-family: 'RixSinHead';
	src: url('./font/RixSinHead_Light.eot') format('eot'),
	url('./font/RixSinHead_Light.woff') format('woff'),
	url('./font/RixSinHead_Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
	font-family: 'RixSinHead';
	src: url('./font/RixSinHead_Medium.eot') format('eot'),
	url('./font/RixSinHead_Medium.woff') format('woff'),
	url('./font/RixSinHead_Medium.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
	font-family: 'RixSinHead';
	src: url('./font/RixSinHead_Bold.eot') format('eot'),
	url('./font/RixSinHead_Bold.woff') format('woff'),
	url('./font/RixSinHead_Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
	font-family: 'RixSinHead';
	src: url('./font/RixSinHead_ExtraBold.eot') format('eot'),
	url('./font/RixSinHead_ExtraBold.woff') format('woff'),
	url('./font/RixSinHead_ExtraBold.woff2') format('woff2');
    font-weight: 900;
}

html, body {
    font-family: 'RixSinHead', sans-serif;
	font-size:16px;
	letter-spacing:-0.05em;
	word-break: keep-all;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
