@charset "utf-8";

/*ABN이 아닌 외부에서 사용할 때*/
/*@import url(content_res_reset.css);*/ 

/*legacy class*/
.mgNone{margin-top:0 !important}
.mgtS{margin-top:10px !important}
.mgtM{margin-top:20px !important}
.mgtL{margin-top:30px !important}
.mgbNone{margin-bottom:0 !important}
.mgbS{margin-bottom:10px !important}
.mgbM{margin-bottom:20px !important}
.mgbL{margin-bottom:30px !important}
.pdNone{padding-top:0 !important}
.pdtS{padding-top:15px !important}
.pdtM{padding-top:20px !important}
.pdtL{padding-top:30px !important}
.pdbNone{padding-bottom:0 !important}
.pdbS{padding-bottom:15px !important}
.pdbM{padding-bottom:20px !important}
.pdbL{padding-bottom:30px !important}
.colorM{color:#0a70d3 !important}
.colorS{color:#333 !important}
.colorR{color:#e81135 !important}
.fszS{font-size:16px !important}
.fszM{font-size:22px !important}
.fszL{font-size:28px !important}
.floatL{float:left}
.floatR{float:right}
.floatN{float:none !important}
.dsInline{display:inline-block !important}
.clearfx:after{content:"";display:block;clear:both}
.textL{text-align:left !important;padding-left:12px !important}
.textR{text-align:right !important;padding-right:12px !important}
.textC{text-align:center !important}
.textJ{text-align:justify !important}
/*//legacy class*/

/*init*/
.os_noticeRes{width:100%;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif;font-size:13px;line-height:1.5;color:#555;font-weight:400;vertical-align:baseline;letter-spacing:-.03em;text-align:left}
.os_noticeRes *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.os_noticeRes .hide{display:inline-block;position:absolute;left:-9999px;top:-9999px;width:0 !important;height:0 !important;font-size:0 !important;line-height:0 !important;margin:0;padding:0}
.os_noticeRes caption{text-indent:-9999px;font-size:0;line-height:0;direction:ltr}
.os_noticeRes img{max-width:100%;width:auto}
.os_noticeRes table th{text-transform:initial;vertical-align:initial}
.os_noticeRes table td{vertical-align:initial}
.os_noticeRes table th[rowspan]{vertical-align:middle}
.os_noticeRes table td[rowspan]{vertical-align:middle}

/*position*/
.os_noticeRes .posRe{position:relative}
.os_noticeRes .posAb{position:absolute}
.os_noticeRes .posFx{position:fixed}

/*align*/
.os_noticeRes .txtC{text-align:center !important}
.os_noticeRes .txtL{text-align:left !important}
.os_noticeRes .txtR{text-align:right !important}
.os_noticeRes .txtJ{text-align:justify !important} 
/*.os_noticeRes .txtJ{text-align:justify !important;word-break:break-all !important}*/

/*font*/
.os_noticeRes .fntLogo{font-size:94px;line-height:1;font-weight:400;letter-spacing:-3.5px;word-break:keep-all;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
.os_noticeRes .fntH1{font-size:64px;line-height:1;font-weight:400;letter-spacing:-3.5px;word-break:keep-all;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
.os_noticeRes .fntH2{font-size:48px;line-height:1.2;font-weight:400;letter-spacing:-2px;word-break:keep-all;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
.os_noticeRes .fntH3{font-size:42px;line-height:1.3;font-weight:400;letter-spacing:-2px;word-break:keep-all;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
.os_noticeRes .fntH4{font-size:30px;line-height:1.3;font-weight:400;letter-spacing:-2px;word-break:keep-all;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
.os_noticeRes .fntH5{font-size:24px;line-height:1.4;font-weight:400;letter-spacing:-1px;word-break:keep-all;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
.os_noticeRes .fntH6{font-size:17px;line-height:1.4;font-weight:400;letter-spacing:-1px;word-break:keep-all;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
.os_noticeRes .fntP{font-size:15px;line-height:1.4;font-weight:400;letter-spacing:-1px;word-break:keep-all;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

.os_noticeRes .regular{font-weight:400}
.os_noticeRes strong.regular,.os_noticeRes b.regular{font-weight:400 !important}
.os_noticeRes [class*=fnt] strong,.os_noticeRes [class*=fnt] b,.os_noticeRes [class*=fnt] .bold{font-weight:bold;font-weight:500}
.os_noticeRes strong.bold,.os_noticeRes b.bold{font-weight:500 !important}
.os_noticeRes strong.[class*=fnt],.os_noticeRes b[class*=fnt],.os_noticeRes [class*=fnt].bold{font-weight:bold;font-weight:500}
.os_noticeRes .fntH6.fntL strong,.os_noticeRes .fntH6.fntL b,.os_noticeRes .fntH6.fntL .bold{font-weight:500}
.os_noticeRes .bolder{font-weight:700}
.os_noticeRes strong.bolder,.os_noticeRes b.bolder{font-weight:700 !important}

.os_noticeRes .fntH1.fntL{font-size:68px}
.os_noticeRes .fntH2.fntL{font-size:52px}
.os_noticeRes .fntH3.fntL{font-size:46px}
.os_noticeRes .fntH4.fntL{font-size:34px}
.os_noticeRes .fntH5.fntL{font-size:28px}
.os_noticeRes .fntH6.fntL{font-size:22px}
.os_noticeRes .fntP.fntL{font-size:19px}

/*margin padding*/
.os_noticeRes .marBS{margin-bottom:10px}
.os_noticeRes .marBM{margin-bottom:20px}
.os_noticeRes .marBL{margin-bottom:40px}
.os_noticeRes .marBXL{margin-bottom:80px}
.os_noticeRes .marBXXL{margin-bottom:160px}
.os_noticeRes .padBS{padding-bottom:10px}
.os_noticeRes .padBM{padding-bottom:20px}
.os_noticeRes .padBL{padding-bottom:40px}
.os_noticeRes .padBXL{padding-bottom:80px}
.os_noticeRes .padBXXL{padding-bottom:160px}
.os_noticeRes .marTS{margin-top:10px}
.os_noticeRes .marTM{margin-top:20px}
.os_noticeRes .marTL{margin-top:40px}
.os_noticeRes .marTXL{margin-top:80px}
.os_noticeRes .marTXXL{margin-top:160px}
.os_noticeRes .padTS{padding-top:10px}
.os_noticeRes .padTM{padding-top:20px}
.os_noticeRes .padTL{padding-top:40px}
.os_noticeRes .padTXL{padding-top:80px}
.os_noticeRes .padTXXL{padding-top:160px}

.os_noticeRes .marLS{margin-left:10px}
.os_noticeRes .marLM{margin-left:20px}
.os_noticeRes .marLL{margin-left:40px}
.os_noticeRes .marLXL{margin-left:80px}
.os_noticeRes .marLXXL{margin-left:160px}
.os_noticeRes .padLS{padding-left:10px}
.os_noticeRes .padLM{padding-left:20px}
.os_noticeRes .padLL{padding-left:40px}
.os_noticeRes .padLXL{padding-left:80px}
.os_noticeRes .padLXXL{padding-left:160px}
.os_noticeRes .marRS{margin-right:10px}
.os_noticeRes .marRM{margin-right:20px}
.os_noticeRes .marRL{margin-right:40px}
.os_noticeRes .marRXL{margin-right:80px}
.os_noticeRes .marRXXL{margin-right:160px}
.os_noticeRes .padRS{padding-right:10px}
.os_noticeRes .padRM{padding-right:20px}
.os_noticeRes .padRL{padding-right:40px}
.os_noticeRes .padRXL{padding-right:80px}
.os_noticeRes .padRXXL{padding-right:160px}

/*width*/
.os_noticeRes .widXXS{max-width:340px;width:94.13489736%;margin-left:auto;margin-right:auto}
.os_noticeRes .widXS{max-width:400px;width:94.13489736%;margin-left:auto;margin-right:auto}
.os_noticeRes .widS{max-width:540px;width:94.13489736%;margin-left:auto;margin-right:auto}
.os_noticeRes .widM{max-width:760px;width:94.13489736%;margin-left:auto;margin-right:auto}
.os_noticeRes .widL{max-width:960px;width:94.13489736%;margin-left:auto;margin-right:auto}
.os_noticeRes .widXL{max-width:1400px;margin-left:auto;margin-right:auto}
.os_noticeRes .widXXL{width:100%;max-width:none}

/*display*/
.os_noticeRes .disIb{display:inline-block;word-break:keep-all;*display:inline;*zoom:1}
.os_noticeRes .disBl{display:block}
.os_noticeRes .disIn{display:inline}

/*background image*/
.os_noticeRes .bgFull{background-position:50% 0;background-repeat:repeat;background-size:auto}
.os_noticeRes .bgCover{background-position:50% 0;background-repeat:repeat;background-size:auto}
.os_noticeRes .bgImg{background-position:center 0;background-repeat:no-repeat}

/*float*/
.os_noticeRes .floL{float:left;width:49%}
.os_noticeRes .floR{float:right;width:49%}
.os_noticeRes .clearfix:after{line-height:0;width:0;display:block;height:0;visibility:hidden;clear:both;font-size:0;content:' '}
* html .os_noticeRes .clearfix{height:1%}
.os_noticeRes .clearfix{display:block}

.os_noticeRes .icoXXL{width:100%;max-width:none}
#pbContent .os_noticeRes .icoXXL{width:100%;max-width:none}


/*text decoration*/
.os_noticeRes .uLine{text-decoration:underline}
.os_noticeRes .mLine{text-decoration:line-through}

/*inline-to-block*/
.os_noticeRes .txtToBlock{display:inline}
/*block-to-inline*/
.os_noticeRes .txtToInline{display:block}
/*pc only*/
.os_noticeRes .pcOnly{display:block}
.os_noticeRes img.pcOnly{display:inline-block}
/*mobile only*/
.os_noticeRes .moOnly{display:none}
.os_noticeRes img.moOnly{display:none}

/*absolute-to-static*/
.os_noticeRes .abToSt{position:absolute}
/*relative-to-static*/
.os_noticeRes .reToSt{position:relative}
/*no text*/
.os_noticeRes .noTxt{font-size:0;line-height:0}

/*header*/
.os_noticeRes .osResHeader{font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움",Dotum,sans-serif;position:relative}

/*table - 프로모션,가로형,이미지 공지*/
.os_noticeRes .osResTbPromo{border:none;background:#eee;font-size:15px;line-height:22px;margin-left:auto;margin-right:auto;word-break:keep-all;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResTbPromo tbody th{font-size:inherit;border:0 none;border-top:1px solid #d0d0d0;font-weight:bold;padding:1em}
.os_noticeRes .osResTbPromo tbody td{border:0 none;border-top:1px solid #d0d0d0;border-left:1px solid #d0d0d0;padding:1em;font-weight:bold}
.os_noticeRes .osResTbPromo tbody tr:first-child th,.os_noticeRes .osResTbPromo tbody tr:first-child td{border-top:0 none}

/*table - 프로모션,세로형,이미지 공지*/
.os_noticeRes .osResTb01{border:none;font-size:15px;line-height:1.4;margin-left:auto;margin-right:auto;word-break:keep-all;text-align:center;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResTb01 thead th{font-size:inherit;border:0 none;font-weight:bold;padding:1em;border-left:1px solid #dadada;text-align:center}
.os_noticeRes .osResTb01 thead th:first-child{border-left:0 none}
.os_noticeRes .osResTb01 tbody th{font-size:inherit;border:0 none;border-top:1px solid #dadada;font-weight:bold;padding:1em;text-align:center}
.os_noticeRes .osResTb01 tbody td{border:0 none;border-top:1px solid #dadada;border-left:1px solid #dadada;padding:1em}
.os_noticeRes .osResTb01 tbody td:first-child{border-left:0 none}
.os_noticeRes .osResTb01 tfoot th{font-size:inherit;border:0 none;border-top:1px solid #dadada;font-weight:bold;padding:.5em 1em;border-left:1px solid #dadada}
.os_noticeRes .osResTb01 tfoot th:first-child{border-left:0 none}
.os_noticeRes .osResTb01 tfoot td{border:0 none;border-top:1px solid #dadada;font-weight:bold;padding:.5em 1em;border-left:1px solid #dadada}
.os_noticeRes .osResTb01 tfoot td:first-child{border-left:0 none}

/*table - 프로모션,반응형,이미지 공지*/
.os_noticeRes .osResTb02{width:100%;border-left:1px solid #ddd;border-top:1px solid #ddd;font-size:15px;line-height:1.4;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResTb02 th,
.os_noticeRes .osResTb02 td{padding:7px;border-right:1px solid #ddd;border-bottom:1px solid #ddd}
.os_noticeRes .osResTb02 thead th{font-size:inherit;background:#fafafa;color:#444;text-align:center;font-weight:bold}
.os_noticeRes .osResTb02 tbody th{font-weight:bold}

/*table - 반응형,텍스트 공지*/
.os_noticeRes .osResTbBlock{border-top:2px solid #0E4C88}
.os_noticeRes .osResTb{width:100%;border-left:1px solid #ddd}
.os_noticeRes .osResTb th,
.os_noticeRes .osResTb td{padding:7px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;line-height:18px}
.os_noticeRes .osResTb thead th{font-size:inherit;background:#fafafa;color:#444;text-align:center}
.os_noticeRes .osResTb tbody th{font-weight:bold}

/*table - 정정공지,반응형,텍스트 공지*/
.os_noticeRes .osResFixBlock .osResH2{margin:25px 0 13px;color:#333;font-weight:bold;font-size:18px;line-height:1;letter-spacing:-1px;padding-left:24px;background:url(https://www.amway.co.kr/_ui/_noticeImg/res/bl_fix.gif) 0 0 no-repeat;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResFixBlock .osResTbBlock{border-color:#ac1542;text-align:center;margin-bottom:0}
.os_noticeRes .osResFixBlock .osResTbBlock .osFixT{color:#ac1542;}
.os_noticeRes .osResFixBlock .osResTbBlock.noHeader{border-top:0 none}
.os_noticeRes .osResFixBlock .osResTbBlock.noHeader thead{display:none}
.os_noticeRes .osResFixBlock .osResBtnGrp{margin:30px 0 0;padding-bottom:20px}
.os_noticeRes .osResFixBlock .osResBtnFix{display:inline-block;min-width:70px;padding:6px 15px 4px;border:1px solid #0E4479;background:#0E4C88;color:#fff;word-break:keep-all;font-weight:bold;font-size:14px;text-align:center;text-decoration:none}

/*table - 가로형,텍스트 공지*/
.os_noticeRes .osResTbBlock{border-top:2px solid #0E4C88}
.os_noticeRes .osResTbRow{width:100%;border-left:1px solid #ddd}
.os_noticeRes .osResTbRow th{font-weight:bolder}
.os_noticeRes .osResTbRow th,
.os_noticeRes .osResTbRow td{padding:7px 5px 7px 7px;border-right:1px solid #ddd;border-bottom:1px solid #ddd}
.os_noticeRes .osResTbRow thead th,
.os_noticeRes .osResTbRow tbody th,
.os_noticeRes .osResTbRow tfoot th{font-size:inherit;background:#fafafa;color:#000;text-align:center;vertical-align:middle}

/*button*/
.os_noticeRes .osResBtnGrp{text-align:center;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResBtnGrp a{margin-left:10px;margin-right:10px;margin-bottom:15px}
.os_noticeRes .osResBtnGrp a:first-child{margin-left:0}
.os_noticeRes .osResBtnGrp a:last-child{margin-right:0}
.os_noticeRes .osResBtn01{display:inline-block;color:#fff;text-decoration:none;font-size:16px;background:#5a5a5a;padding:.6em 1.5em .6em;word-break:keep-all;font-weight:bold;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.editor .os_noticeRes .osResBtn01,
.editor .os_noticeRes .osResBtn01 a{color:#fff}

/*이미지 공지*/
.os_noticeRes .osResNoticeImg{margin:0 auto;font-size:0;line-height:0;text-align:center}
.os_noticeRes .osResNoticeImg img{width:100%}

/*텍스트 공지*/
.os_noticeRes .osResH1{margin:20px 0 30px;padding-bottom:10px;border-bottom:1px solid #d5d5d5;color:#333;font-weight:bold;font-size:26px;line-height:normal;text-align:center;letter-spacing:-2px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResH2{margin:25px 0 13px;padding-left:13px;background:url(https://www.amway.co.kr/_ui/_noticeImg/res/bl_dotM.gif) 0 11px no-repeat;color:#333;font-weight:bold;font-size:18px;line-height:normal;letter-spacing:-1px;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResTxtP{padding:8px 0;line-height:1.5;font-size:13px;font-family:'돋움','Dotum','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',sans-serif;color:#666}

/*상세정보*/
.os_noticeRes .osResDetail dl dt{float:left;padding:8px 10px 12px;width:115px;background-color:#888;color:#fff;font-size:19px;text-align:center;margin-right:30px;margin-bottom:20px;letter-spacing:-.05em;word-break:keep-all;font-family:'Malgun Gothic',"돋움","Dotum",sans-serif}
.os_noticeRes .osResDetail dl dd{font-size:15px;margin-left:160px;margin-bottom:20px;margin-top:5px;line-height:135%;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResDetail dl{overflow:hidden}
.os_noticeRes .osResNoticeTxt{font-size:13px;line-height:1.5;letter-spacing:-.5px;word-break:keep-all}

/*가격정보*/
.os_noticeRes .osResPrice dl{overflow:hidden;text-align:center;word-break:keep-all;font-size:16px;font-family:'Malgun Gothic',"돋움",Dotum,sans-serif}
.os_noticeRes .osResPrice dl dt{display:inline-block;font-weight:bold;margin:.6em 0 1em;position:relative}
.os_noticeRes .osResPrice dl dt:first-child:before{content:none}
.os_noticeRes .osResPrice dl dd{display:inline-block;margin:.6em 2em 1em 0;letter-spacing:-1.5px}
.os_noticeRes .osResPrice dl dd:before{content:" :";margin-right:.2em}
.os_noticeRes .osResPrice dl dd:last-child{margin-right:0}
.os_noticeRes .osResPrice dl dt:before{content:"";height:90%;top:10%;left:-1em;width:1px;background:#ccc;position:absolute}

/*동영상*/
.os_noticeRes .osResMovieWrap{position:relative}
.os_noticeRes .osResMovieWrap.noBg{position:relative;width:100%;height:0;padding:56.25% 0 0;margin:0 auto}
.os_noticeRes .osResMovie{position:absolute;top:0;left:0;border:0 none}
.os_noticeRes .osResMovie.noBg{position:absolute;top:0;left:0;width:100%;height:100%}

/*알아두세요(- 불릿)*/
.os_noticeRes .osResNoticeList ul{padding-left:.8em;letter-spacing:-.03em}
.os_noticeRes .osResNoticeList ul li{text-indent:-.8em;margin-top:.2em;margin-bottom:.2em}
.os_noticeRes .osResNoticeList ul li:last-child{margin-bottom:0}
.os_noticeRes .osResNoticeList ul li *{text-indent:0}
.os_noticeRes .osResNoticeList ul li li{text-indent:-.8em;margin-top:.2em}
.os_noticeRes .osResNoticeList p{padding-left:.8em;letter-spacing:-.03em;text-indent:-.8em;margin-top:.2em;margin-bottom:.2em}
.os_noticeRes .osResNoticeList p:last-child{margin-bottom:0}
.os_noticeRes .osResNoticeList p *{text-indent:0}

/*알아두세요(1. 숫자)*/
.os_noticeRes .osResNoticeList ol{padding-left:1.2em;letter-spacing:-.03em}
.os_noticeRes .osResNoticeList ol li{text-indent:-1.2em;margin-top:.2em;margin-bottom:.2em}
.os_noticeRes .osResNoticeList ol li:last-child{margin-bottom:0}
.os_noticeRes .osResNoticeList ol li *{text-indent:0}
.os_noticeRes .osResNoticeList ol li li{text-indent:-1.2em;margin-top:.2em}

/*주의사항(당구장 표시)*/
.os_noticeRes .osResWarning ul{padding-left:1.3em;letter-spacing:-.03em}
.os_noticeRes .osResWarning ul li{text-indent:-1.3em;margin-bottom:.5em}
.os_noticeRes .osResWarning ul li:last-child{margin-bottom:0}
.os_noticeRes .osResWarning ul li *{text-indent:0}
.os_noticeRes .osResWarning ul li li{text-indent:-1.3em}
.os_noticeRes .osResWarning p{padding-left:1.3em;letter-spacing:-.03em;text-indent:-1.3em;margin-bottom:.5em}
.os_noticeRes .osResWarning p:last-child{margin-bottom:0}
.os_noticeRes .osResWarning p *{text-indent:0}

/*KCRM for Notice*/
.os_noticeRes .osResKCRM_notice{font-size:8px;color:#bcbcbc;text-align:right;padding:3px 8px 3px 0}

/*브랜드 체험 달력*/
.os_noticeRes .osResCalBlock .osResCalDay{display:none;}
.os_noticeRes .osResCalBlock .osResCalTb{width:100%;border-left:1px solid #d5d5d5;}
.os_noticeRes .osResCalBlock ul{display:table;width:100%}
.os_noticeRes .osResCalBlock ul:after,.os_noticeRes .osResCalBlock ul:before{display:table;content:" ";}
.os_noticeRes .osResCalBlock ul:after{clear:both;}
.os_noticeRes .osResCalBlock li{width:16.66%;border-left:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;padding:10px 0;color:#444;font-size:13px;line-height:normal;display:table-cell;}
.os_noticeRes .osResCalBlock li:last-child{width:16.67%;border-right:1px solid #d5d5d5}
.os_noticeRes .osResCalBlock .osResCalTh li{border-top:2px solid #0E4C88;background:#fafafa;font-weight:bold;text-align:center;}
.os_noticeRes .osResCalBlock .osResCalWeek{position:relative}
.os_noticeRes .osResCalBlock li .osResCalDate{display:block;padding:3px 5px;font-weight:bold;font-size:13px;color:#444;}
.os_noticeRes .osResCalBlock li .osResCalCnt{display:block;padding:0 5px 5px 5px;font-size:12px;line-height:1.3}
.os_noticeRes .osResCalBlock li .osResCalCnt em{display:block;color:#444;}

/*쿠킹쇼 달력*/
.os_noticeRes .osResCalBlock.cookingshow li:last-child{width:1000px}
.os_noticeRes .osResCalBlock.cookingshow .osResCalTh{background-color:#909090}
.os_noticeRes .osResCalBlock.cookingshow .osResCalTh li{border-color:#909090;background-color:#909090;color:#fff;padding:1em 0}
.os_noticeRes .osResCalBlock.cookingshow .osResCalTh li b{display:block;border-left:1px solid #aeaeae;}
.os_noticeRes .osResCalBlock.cookingshow .osResCalTh li:first-child b{border-left:none}
.os_noticeRes .osResCalBlock.cookingshow .osResCalWeek{min-height:100px}
.os_noticeRes .osResCalBlock.cookingshow .osResCalWeek .pcOnly .osResCalDate{color:#bbb}
.os_noticeRes .osResCalBlock.cookingshow .osResCalWeek .holiday .osResCalDate{color:#e81135}
.os_noticeRes .osResCalBlock.cookingshow .osResCalWeek .on{background-color:#eefbe5;color:#348000}

/* DIM 처리 */
.os_noticeRes .osResDimWrap{position:relative;overflow:hidden}
.os_noticeRes .osResDimBg{position:absolute;z-index:2;top:0;left:0;width:100%;height:100%;background-image:url(https://www.amway.co.kr/_ui/_noticeImg/res/dim_promo.png);background-position:50% 40%;background-repeat:no-repeat;background-color:#333;filter: alpha(opacity=90);background-color:rgba(0,0,0,0.7);text-indent:-9999px;font-size:0;line-height:0;direction:ltr}
.os_noticeRes .osResDim{position:absolute;top:0;left:0;z-index:2;text-align:center;background-color:#000;filter: alpha(opacity=90);opacity:0.65;width:100%;height:100%;color: #fffed0;font-size:22px;line-height: 1.5;letter-spacing:-2px;word-spacing:-1px;padding-left:5%;padding-right:5%;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움",Dotum,sans-serif;}

/*해시태그, 라운드 제목*/
.os_noticeRes .osResTag{border-radius:1.5em;padding:.25em .7em;display:inline-block;margin-bottom:0.3em;word-break:break-all}

@media all and (max-width:680px){
	/*font*/
	.os_noticeRes .fntLogo{font-size:84px}
	.os_noticeRes .fntH1{font-size:60px;line-height:1.2;letter-spacing:-1px}
	.os_noticeRes .fntH2{font-size:44px;line-height:1.2;letter-spacing:-1px}
	.os_noticeRes .fntH3{font-size:32px;line-height:1.3;letter-spacing:-1px}
	.os_noticeRes .fntH4{font-size:24px;line-height:1.3;letter-spacing:-1px}
	.os_noticeRes .fntH5{font-size:18px;line-height:1.4;letter-spacing:-1px}
	.os_noticeRes .fntH6{font-size:16px;line-height:1.4;letter-spacing:-1px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
	.os_noticeRes .fntP{font-size:15px;line-height:1.4;letter-spacing:0;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

	.os_noticeRes .fntH1.fntL{font-size:64px}
	.os_noticeRes .fntH2.fntL{font-size:48px}
	.os_noticeRes .fntH3.fntL{font-size:36px}
	.os_noticeRes .fntH4.fntL{font-size:28px}
	.os_noticeRes .fntH5.fntL{font-size:22px}
	.os_noticeRes .fntH6.fntL{font-size:17px}
  .os_noticeRes .fntP.fntL{font-size:18px}

  .os_noticeRes [class*=fnt] strong,.os_noticeRes [class*=fnt] b,.os_noticeRes [class*=fnt] .bold{font-weight:500}
  .os_noticeRes strong.bold,.os_noticeRes b.bold{font-weight:bold !important;font-weight:500 !important}
  .os_noticeRes strong.[class*=fnt],.os_noticeRes b[class*=fnt],.os_noticeRes [class*=fnt].bold{font-weight:500}
  .os_noticeRes .fntH6 strong,.os_noticeRes .fntH6 b,.os_noticeRes .fntH6 .bold{font-weight:500}
  .os_noticeRes .fntP strong,.os_noticeRes .fntP b,.os_noticeRes .fntP .bold{font-weight:500}
  .os_noticeRes strong.fntH6,.os_noticeRes b.fntH6,.os_noticeRes .fntH6.bold{font-weight:500}
  .os_noticeRes strong.fntP,.os_noticeRes b.fntP,.os_noticeRes .fntP.bold{font-weight:500}
  .os_noticeRes strong.bold,.os_noticeRes b.bold{font-weight:500 !important}
  .os_noticeRes strong, .os_noticeRes strong.bold,.os_noticeRes b.bold{font-weight:500}

	/*width*/
	.os_noticeRes .widXL,.os_noticeRes .widXXL{width:100%}

	/*background image*/
	.os_noticeRes .bgFull{background-size:contain;background-repeat:repeat}
	.os_noticeRes .bgCover{background-size:cover}
	.os_noticeRes .bgImg{background-size:90%}

	/*table - 프로모션,가로형,이미지 공지*/
	.os_noticeRes .osResTbPromo{font-size:16px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

	/*table - 프로모션,세로형,이미지 공지*/
	.os_noticeRes .osResTb01{font-size:16px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

	/*table - 프로모션,반응형,이미지 공지*/
	.os_noticeRes .osResTb02{font-size:16px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

	/*button*/
	.os_noticeRes .osResBtnGrp{font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움",Dotum,sans-serif}
	.os_noticeRes .osResBtn01{font-size:15px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움",Dotum,sans-serif}

	/*이미지 공지*/
	.os_noticeRes .osNoticeImg{width:920px;max-width:88.16666667%;padding-bottom:25px}

	/*텍스트 공지*/
	.os_noticeRes .osResH1{font-size:22px}
	.os_noticeRes .osResH2{font-size:16px;background-position:0 8px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

	/*상세정보*/
	.os_noticeRes .osResDetail dl dt{padding:6px 4px 10px;font-size:18px;margin-right:0;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}
	.os_noticeRes .osResDetail dl dd{font-size:16px;margin-left:140px;margin-bottom:18px;margin-top:4px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

	/*가격정보*/
	.os_noticeRes .osResPrice dl{font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

	/*브랜드 체험 달력*/
	.os_noticeRes .osResCalBlock li .osResCalCnt{font-size:11px}
}

@media all and (max-width:639px){
	/*init*/
	.os_noticeRes{font-size:14px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움","Dotum",sans-serif}

  /*mobile txt-align*/
  .os_noticeRes .moTxtL{text-align:left !important}
  .os_noticeRes .moTxtR{text-align:right !important}
  .os_noticeRes .moTxtC{text-align:center !important}
  .os_noticeRes .moTxtJ{text-align:justify !important}
  /*.os_noticeRes .moTxtJ{text-align:justify !important;word-break:break-all !important}*/ /*test*/
  
	/*font*/
	.os_noticeRes .fntLogo{font-size:54px;word-break:keep-all}
	.os_noticeRes .fntH1{font-size:38px;line-height:1.1;letter-spacing:-2px;word-break:keep-all}
	.os_noticeRes .fntH2{font-size:28px;line-height:1.2;letter-spacing:-2px;word-break:keep-all}
	.os_noticeRes .fntH3{font-size:24px;line-height:1.2;letter-spacing:-1px}
	.os_noticeRes .fntH4{font-size:20px;line-height:1.3;letter-spacing:-1px}
	.os_noticeRes .fntH5{font-size:18px;line-height:1.3;letter-spacing:0}
	.os_noticeRes .fntH6{font-size:16px;line-height:1.4;letter-spacing:0}

	.os_noticeRes .fntH1.fntL{font-size:42px}
	.os_noticeRes .fntH2.fntL{font-size:32px}
	.os_noticeRes .fntH3.fntL{font-size:26px}
	.os_noticeRes .fntH4.fntL{font-size:22px}
	.os_noticeRes .fntH5.fntL{font-size:19px}
	.os_noticeRes .fntH6.fntL{font-size:17px}

	/*margin padding*/
	.os_noticeRes .marBS{margin-bottom:10px}
	.os_noticeRes .marBM{margin-bottom:20px}
	.os_noticeRes .marBL{margin-bottom:30px}
	.os_noticeRes .marBXL{margin-bottom:60px}
	.os_noticeRes .marBXXL{margin-bottom:80px}
	.os_noticeRes .padBS{padding-bottom:10px}
	.os_noticeRes .padBM{padding-bottom:20px}
	.os_noticeRes .padBL{padding-bottom:30px}
	.os_noticeRes .padBXL{padding-bottom:60px}
	.os_noticeRes .padBXXL{padding-bottom:80px}
	.os_noticeRes .marTS{margin-top:10px}
	.os_noticeRes .marTM{margin-top:20px}
	.os_noticeRes .marTL{margin-top:40px}
	.os_noticeRes .marTXL{margin-top:60px}
	.os_noticeRes .marTXXL{margin-top:80px}
	.os_noticeRes .padTS{padding-top:10px}
	.os_noticeRes .padTM{padding-top:20px}
	.os_noticeRes .padTL{padding-top:30px}
	.os_noticeRes .padTXL{padding-top:60px}
	.os_noticeRes .padTXXL{padding-top:80px}
	.os_noticeRes .marLS{margin-left:10px}
	.os_noticeRes .marLM{margin-left:20px}
	.os_noticeRes .marLL{margin-left:30px}
	.os_noticeRes .marLXL{margin-left:60px}
	.os_noticeRes .marLXXL{margin-left:80px}
	.os_noticeRes .padLS{padding-left:10px}
	.os_noticeRes .padLM{padding-left:20px}
	.os_noticeRes .padLL{padding-left:30px}
	.os_noticeRes .padLXL{padding-left:60px}
	.os_noticeRes .padLXXL{padding-left:80px}
	.os_noticeRes .marRS{margin-right:10px}
	.os_noticeRes .marRM{margin-right:20px}
	.os_noticeRes .marRL{margin-right:40px}
	.os_noticeRes .marRXL{margin-right:60px}
	.os_noticeRes .marRXXL{margin-right:80px}
	.os_noticeRes .padRS{padding-right:10px}
	.os_noticeRes .padRM{padding-right:20px}
	.os_noticeRes .padRL{padding-right:30px}
	.os_noticeRes .padRXL{padding-right:60px}
	.os_noticeRes .padRXXL{padding-right:80px}

	/*width*/
	.os_noticeRes .widXXS{max-width:340px;width:95%;margin-left:auto;margin-right:auto}
	.os_noticeRes .widXS{max-width:400px;width:95%;margin-left:auto;margin-right:auto}
	.os_noticeRes .widS{max-width:540px;width:95%;margin-left:auto;margin-right:auto}
	.os_noticeRes .widM{max-width:760px;width:95%;margin-left:auto;margin-right:auto}
	.os_noticeRes .widL{max-width:960px;width:95%;margin-left:auto;margin-right:auto}

	/*background image*/
	.os_noticeRes .bgImg{background-size:contain}

	/*float*/
	.os_noticeRes .floL,.os_noticeRes .floR{float:none;display:block;margin-left:auto;margin-right:auto;width:inherit !important}

	/*icon*/
	.os_noticeRes .icoXS{width:10%}
	#pbContent .os_noticeRes .icoXS{width:10%}
	.os_noticeRes .icoS{width:20%}
	#pbContent .os_noticeRes .icoS{width:20%}
	.os_noticeRes .icoM{width:45%}
	#pbContent .os_noticeRes .icoM{width:45%}
	.os_noticeRes .icoL{width:70%}
	#pbContent .os_noticeRes .icoL{width:70%}
	.os_noticeRes .icoXL{width:90%}
	#pbContent .os_noticeRes .icoXL{width:90%}
	.os_noticeRes .icoXXL{width:100%}
	#pbContent .os_noticeRes .icoXXL{width:100%}



	/*inline-to-block*/
	.os_noticeRes .txtToBlock{display:block}
	/*block-to-inline*/
	.os_noticeRes .txtToInline{display:inline}
	/*pc only*/
	.os_noticeRes .pcOnly{display:none}
  .os_noticeRes img.pcOnly{display:none}
	.os_noticeRes .pcView{display:none !important}
	/*mobile only*/
	.os_noticeRes .moOnly{display:block}
  .os_noticeRes img.moOnly{display:inline-block}
	/*absolute-to-static*/
	.os_noticeRes .abToSt{position:static}
	/*relative-to-static*/
	.os_noticeRes .reToSt{position:static}

	/*table - 프로모션,가로형,이미지 공지*/
	.os_noticeRes .osResTbPromo{font-size:14px;letter-spacing:-1px}
	.os_noticeRes .osResTbPromo tbody th{padding:.6em .3em .8em}
	.os_noticeRes .osResTbPromo tbody td{padding:.6em .3em .8em}

	/*table - 프로모션,세로형,이미지 공지*/
	.os_noticeRes .osResTb01{font-size:14px;letter-spacing:-.5px}
	.os_noticeRes .osResTb01 thead th{padding:.4em .6em}
	.os_noticeRes .osResTb01 tbody td{padding:.4em .6em}
	.os_noticeRes .osResTb01 tfoot th{padding:.4em .6em}
	.os_noticeRes .osResTb01 tfoot td{padding:.4em .6em}

	/*table - 프로모션,반응형,이미지 공지*/
	.os_noticeRes table.osResTb02,
	.os_noticeRes .osResTb02 thead,
	.os_noticeRes .osResTb02 tbody,
	.os_noticeRes .osResTb02 th,
	.os_noticeRes .osResTb02 td,
	.os_noticeRes .osResTb02 tr{display:block}

	.os_noticeRes .osResTb02 thead tr{display:none}
	.os_noticeRes .osResTb02 tbody tr{border-bottom:2px solid #ddd}
	.os_noticeRes .osResTb02 tbody tr:last-child{border-bottom:0 none}
	.os_noticeRes .osResTb02 td{position:relative;width:100%;padding-left:31.5%;padding-right:4px;min-height:2.1em}
	.os_noticeRes .osResTb02 td:before{position:absolute;top:0;bottom:0;left:0;width:30%;white-space:nowrap;font-weight:bold;background:#fafafa;padding-top:7px;padding-bottom:6px;color:#444;text-align:center;text-indent:0}
	.os_noticeRes .osResTb02 td:before{content:attr(data-title)}
	.os_noticeRes .osResTb02 td{text-align:left}
	.os_noticeRes .osResTb02 td a{text-indent:0}
	.os_noticeRes .osResTb02 td a{width:90%}

  .os_noticeRes .osResTb02.half td{padding-left:50%}
  .os_noticeRes .osResTb02.half td:before{width:48.5%}

	/*table - 반응형,텍스트 공지*/
	.os_noticeRes table.osResTb,
	.os_noticeRes .osResTb thead,
	.os_noticeRes .osResTb tbody,
	.os_noticeRes .osResTb th,
	.os_noticeRes .osResTb td,
	.os_noticeRes .osResTb tr{display:block}

	.os_noticeRes .osResTb thead tr{display:none}
	.os_noticeRes .osResTb th{font-size:14px}
	.os_noticeRes .osResTb td{position:relative;width:100%;padding-left:31.5%;padding-right:4px}
	.os_noticeRes .osResTb td:before{position:absolute;top:0;bottom:0;left:0;width:30%;white-space:nowrap;font-weight:bold;background:#fafafa;padding-top:7px;padding-bottom:6px;color:#444;text-align:center;text-indent:0}
	.os_noticeRes .osResTb td:before{content:attr(data-title)}
	.os_noticeRes .osResTb .headline:before{width:30%}
	.os_noticeRes .osResTb .borderT{border-top:1px solid #0E4C88}
	.os_noticeRes .osResTb .borderB{border-bottom:1px solid #0E4C88}
  .os_noticeRes .osResTb td{position:relative;width:100%;padding-left:31.5%;padding-right:4px}
  .os_noticeRes .osResTb td:before{position:absolute;top:0;bottom:0;left:0;width:30%;white-space:nowrap;font-weight:bold;background:#fafafa;padding-top:7px;padding-bottom:6px;color:#444;text-align:center;text-indent:0}

  .os_noticeRes .osResTb.half td{padding-left:50%}
  .os_noticeRes .osResTb.half td:before{width:48.5%}

	/*뉴스룸*/
	.os_noticeRes .osResNewsRoom table tr td.headline{width:100%;padding-left:31.5%;padding-right:4px}
	.os_noticeRes .osResNewsRoom td{text-align:left}
	.os_noticeRes .osResNewsRoom td a{text-indent:0;width:90%}

	/*table - 정정공지,반응형,텍스트 공지*/
	.os_noticeRes .osResFixBlock tbody tr td[data-title=변경이후]::before{color:#ac1542;}
  .os_noticeRes .osResFixBlock .osResTbBlock.noHeader{border-top:1px solid #AC1542}

	/*table - 가로형,텍스트 공지*/
	.os_noticeRes .osResTbRow th,
	.os_noticeRes .osResTbRow td{padding:7px 3px 7px 4px}

	/*button*/
	.os_noticeRes .osResBtn01{width:70%;font-size:14px}
	.os_noticeRes .osResBtnGrp a{margin-left:0;margin-right:0}
	.os_noticeRes .osResBtnGrp a:first-child{margin-left:0}
	.os_noticeRes .osResBtnGrp a:last-child{margin-right:0}

	/*이미지 공지*/
	.os_noticeRes .osNoticeImg{max-width:100%;padding-bottom:25px}

	/*텍스트 공지*/
	.os_noticeRes .osResTxtP{font-size:14px;font-family:'Noto Sans KR','Nanum Gothic','Apple SD Gothic Neo','Malgun Gothic',"돋움",Dotum,sans-serif}
	.os_noticeRes .osResH1{margin-bottom:.5em;font-size:20px;text-align:left;border-bottom:0;margin-top:0}
	.os_noticeRes .osResH2{margin:1.5em 0 .5em;padding-left:.8em;background:url(https://www.amway.co.kr/_ui/_noticeImg/res/m_bl_dot.gif) 0 9px no-repeat;background-size:7px 5px}

	/*상세정보*/
	.os_noticeRes .osResDetail dl dt{float:none;width:100% !important;margin-bottom:10px}
	.os_noticeRes .osResDetail dl dd{margin-left:0 !important;margin-bottom:40px}

	/*가격정보*/
	.os_noticeRes .osResPrice dl{padding-left:5%;font-size:15px;margin-top:1em}
	.os_noticeRes .osResPrice dl dt{float:left;width:20%;padding:0 0 .5em .5em;margin:0;text-align:left}
	.os_noticeRes .osResPrice dl dt:before{content:none}
	.os_noticeRes .osResPrice dl dd{position:relative;float:left;width:28%;text-align:left;padding:0 0 .5em;margin:0}
	.os_noticeRes .osResPrice dl dd:before{content:":";position:absolute;left:-.5em;top:0}

	/*알아두세요(- 불릿)*/
	.os_noticeRes .osResNoticeList ul{padding-left:.5em}
	.os_noticeRes .osResNoticeList ul li{text-indent:-.5em;margin-top:.3em;margin-bottom:.3em}
  .os_noticeRes .osResNoticeList ul li li{text-indent:-.5em;margin-top:.3em}
	.os_noticeRes .osResNoticeList p{padding-left:.5em;text-indent:-.5em;margin-top:.3em;margin-bottom:.3em}

	/*알아두세요(1. 숫자)*/
	.os_noticeRes .osResNoticeList ol{padding-left:.95em}
	.os_noticeRes .osResNoticeList ol li{text-indent:-.95em;margin-top:.3em;margin-bottom:.3em}
  .os_noticeRes .osResNoticeList ol li li{text-indent:-.95em;margin-top:.3em}

	/*주의사항(당구장 표시)*/
	.os_noticeRes .osResWarning ul{padding-left:1.2em}
	.os_noticeRes .osResWarning ul li{text-indent:-1.2em;margin-top:.3em;margin-bottom:.3em}
  .os_noticeRes .osResWarning ul li li{text-indent:-1.2em;margin-top:.3em}
	.os_noticeRes .osResWarning p{padding-left:1.2em;text-indent:-1.2em;margin-top:.3em;margin-bottom:.3em}

	/*브랜드 체험 달력*/
	.os_noticeRes .osResCalBlock{margin:20px auto;border-top:2px solid #0E4C88}
	.os_noticeRes .osResCalBlock .osResCalTh{display:none;}
	.os_noticeRes .osResCalBlock ul{display:block}
	.os_noticeRes .osResCalBlock li{padding:0.5em 0;border:0 none;border-bottom:1px solid #ddd;display:block;width:100%;overflow:hidden;height:auto}
	.os_noticeRes .osResCalBlock li:last-child{border-right:0 none;width:100%}
	.os_noticeRes .osResCalBlock li .osResCalDate{float:left;width:2em;color:#333;font-weight:bold;font-size:14px;line-height:20px;text-align:center;padding:0}
	.os_noticeRes .osResCalBlock li .osResCalDay{display:block;float:left;width:3em;color:#666;font-weight:bold;font-size:14px;line-height:20px;text-align:center}
	.os_noticeRes .osResCalBlock li .osResCalCnt{font-size:13px}
	.os_noticeRes .osResCalBlock li .osResCalCntArea{padding-left:6em;font-size:13px;line-height:20px;text-align:left;}
	.os_noticeRes .osResCalBlock li .osResCalCntArea span{display:inline-block;padding-top:0.1em;padding-right:0}
	.os_noticeRes .osResCalBlock li .osResCalCntArea span:after{content:" |";padding-left:5px;display:inline-block;}
	.os_noticeRes .osResCalBlock li .osResCalCntArea span:last-child:after{content:"";}
	.os_noticeRes .osResCalBlock li .osResCalCntArea span em{display:inline;}
	.os_noticeRes .osResCalBlock li.pcOnly { display: none }

	/*쿠킹쇼 달력*/
	.os_noticeRes .osResCalBlock{border-top:2px solid #909090}
	.os_noticeRes .osResCalBlock.cookingshow li .osResCalCnt{font-size:14px}
	.os_noticeRes .osResCalBlock.cookingshow li:last-child{width:inherit}
  .os_noticeRes .osResCalBlock.cookingshow .osResCalWeek{min-height:initial}
	.os_noticeRes .osResCalBlock.cookingshow .osResCalWeek .holiday .osResCalDay{color:#e81135}
	.os_noticeRes .osResCalBlock.cookingshow li .osResCalDate,
	.os_noticeRes .osResCalBlock.cookingshow li .osResCalDay,
	.os_noticeRes .osResCalBlock.cookingshow li .osResCalCntArea{padding-top:5px}
	.os_noticeRes .osResCalBlock.cookingshow li .osResCalCntArea span,
	.os_noticeRes .osResCalBlock.cookingshow li .osResCalCntArea b{display:inline-block;padding-left:3px}
	.os_noticeRes .osResCalBlock.cookingshow li .osResCalCntArea span:after{display:none}

	/* DIM 처리 */
	.os_noticeRes .osResDimBg{background-size:230px auto}
}

@media all and (max-width:420px){
	/*table - 프로모션,세로형,이미지 공지*/
	.os_noticeRes .osResTb01{font-size:13px;letter-spacing:-.5px;word-break:break-all}
	.os_noticeRes .osResTb01 thead th{padding:.4em}
	.os_noticeRes .osResTb01 tbody td{padding:.4em}
	.os_noticeRes .osResTb01 tfoot th{padding:.4em}
	.os_noticeRes .osResTb01 tfoot td{padding:.4em}

  /*oversize*/
  .itemS{overflow:hidden}
  .itemS img{max-width:110%;position:relative;left:-5%}
  #pbContent .itemS img{max-width:110%;position:relative;left:-5%}
  .editor .os_noticeRes .itemS img{max-width:110% !important}

  .itemM{overflow:hidden}
  .itemM img{max-width:120%;position:relative;left:-10%}
  #pbContent .itemM img{max-width:120%;position:relative;left:-10%}
  .editor .os_noticeRes .itemM img{max-width:120% !important}

  .itemL{overflow:hidden}
  .itemL img{max-width:130%;position:relative;left:-15%}
  #pbContent .itemL  img{max-width:130%;position:relative;left:-15%}
  .editor .os_noticeRes .itemL img{max-width:130% !important}

  .itemXL{overflow:hidden}
  .itemXL img{max-width:140%;position:relative;left:-20%}
  #pbContent .itemXL img{max-width:140%;position:relative;left:-20%}
  .editor .os_noticeRes .itemXL img{max-width:140% !important}

  .itemXXL{overflow:hidden}
  .itemXXL img{max-width:150%;position:relative;left:-25%}
  #pbContent .itemXXL img{max-width:150%;position:relative;left:-25%}
  .editor .os_noticeRes .itemXXL img{max-width:150% !important}

	/*가격정보*/
	/*1 column*/
	/* .os_noticeRes .osResPrice dl{padding-left:4%}
  .os_noticeRes .osResPrice dl .col1,
  .os_noticeRes .osResPrice dl .col3,
  .os_noticeRes .osResPrice dl dt{width:28%}
  .os_noticeRes .osResPrice dl dt:before{content:none}
  .os_noticeRes .osResPrice dl dd,
  .os_noticeRes .osResPrice dl .col2,
  .os_noticeRes .osResPrice dl .col4{position:relative;width:68%;padding-left:10px}
  .os_noticeRes .osResPrice dl dd:before{content:":";position:absolute;left:-.5em;top:0}*/

	/*2 column*/
	.os_noticeRes .osResPrice dl{padding-left:3px}
	.os_noticeRes .osResPrice dl dt{padding-left:0;width:17.3%;letter-spacing:-1px;font-size:0.9em}
	.os_noticeRes .osResPrice dl dd{width:32.7%;letter-spacing:-1px;font-size:0.9em}
	.os_noticeRes .osResPrice dl dd:before{left:-5.5px}
	.os_noticeRes .osResPrice dl .col1{width:15%;}
	.os_noticeRes .osResPrice dl .col2{width:38%;}
	.os_noticeRes .osResPrice dl .col3{width:20%;}
	.os_noticeRes .osResPrice dl .col4{width:26%;}

  /*해시태그, 라운드 제목*/
  .os_noticeRes .osResTag{padding:.15em .5em}
}

@media all and (max-width:340px){
  .os_noticeRes{overflow:hidden}
}

@media all and (max-width:300px){
	/*init*/
	 #pbContent .os_noticeRes img{max-width:100%}

	/*상세정보*/
	.os_noticeRes .osResDetail dl dt{float:none;width:100%}
	.os_noticeRes .osResDetail dl dl{margin-left:0}
}

@media print{
	.noPrint{display:none}
	.os_noticeRes{color:#000}
}

/*for old*/
#pbContent .os_noticeRes img{max-width:100%;width:auto}
.myMessage a{padding:0}
.myMessage .btnPopClose{padding:10px 10px 10px 0;width:30px !important;height:30px !important}

/*for AmwayOn*/
.editor .os_noticeRes p{overflow:visible}
.editor .os_noticeRes a{color:inherit}
.editor .os_noticeRes .fluid-width-video-wrapper{padding-top:0;position:static;}

@media screen and (max-width: 520px), only handheld and (min-device-width: 520px) {
	.editor .os_noticeRes img{margin:initial !important}
}