/*2019.04 브랜드 페이지 개편, 2019.09.26 akl-brand-new.css -> wro.xml*/
/* [디파이 수정] 210407 dfy 공통 css */

/* 라디오 버튼 + 툴팁 */
.amway-theme.radio-type-tooltip  { display: inline-block; margin-right: 30px; position: relative; }
.amway-theme.radio-type-tooltip .toolTip-wrapper { position: static; }

.amway-theme.radio-type-tooltip .toolTip-wrapper .btn-tooltip { position: relative; overflow: visible; width: 18px; height: 18px; background: url(../images/akl_plp/ico_tooltip.png) 50% 50% no-repeat; background-size: 16px auto; margin: 0; vertical-align: text-bottom; }
.amway-theme.radio-type-tooltip .toolTip-wrapper.open .btn-tooltip:after{width: 15px; height: 12px; background-position: -60px -90px;background-image:url("/_ui/responsive/theme-blue/images/akl_common/sprite/sp_amway.png");background-size: 250px auto; background-repeat: no-repeat;left: 50%;margin-left: -8px; top: 21px;}
.amway-theme.radio-type-tooltip .toolTip-type02 .tooltip-content { width: calc(100vw - 444px) !important; position: absolute; left: 0; padding: 15px; margin-left: 0; top: 39px; border: 1px solid #666666 !important; border-radius: 8px; min-width: auto !important; max-width: 484px; background-color: #fff; box-shadow: 0 2px 30px 0 rgb(0 0 0 / 20%); }

.akl .find_my_idpw .choose-seeking-type > span{display:inline-block;margin-top:0;margin-right:20px;}

/* SOP */
.sop-delivery .product-list-page-title {margin: 0;}
.product-list-page-title-wrap {display: flex; justify-content: space-between; padding: 0 0 40px;}
.product-list-page-title-wrap + .add-order {border-top: 1px solid #333;}
.product-progress {display: inline-flex; align-items: center; justify-content: space-between;}
.product-progress-item {display: inline-flex; margin: 0 0 0 10px; font-size: 18px; font-weight: 500; letter-spacing: -0.9px; color: #ccc;}
.product-progress-item.active {color: #333;}
.product-progress-item.active span {background-color: #002f5f;}
.product-progress-item i {font-size: 25px; font-weight: normal;}
.product-progress-item span {position: relative; top: -1px; display: inline-block; width: 24px; height: 24px; margin: 0 10px 0 0; line-height: 25px; border-radius: 50%; background-color: #ccc; font-size: 11px; text-align: center; color: #fff;}

.sop-delivery .multi_add .multi_plp_item {margin: 15px 0 0; border: 1px solid #e5e5e5; padding: 20px 0;}
.akl .sop-delivery .shipping-delivery {min-height: auto;}
.product-info-wrap {margin: 0 0 0 22px;}
.product-info-wrap .smart__info {margin: 0;}
.product-info-wrap .smart__info-name {width: 176px; overflow: hidden; text-overflow: ellipsis; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.product-box + .product-box {margin: 20px 0 0;}
.product-box-inner {/* max-width: 654px; */ margin: 10px 0 0; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.product-benefit {position: relative; padding: 16px 0; cursor: pointer;}
.product-benefit:after {content: ''; position: absolute; top: 13px; right: 0; width: 24px; height: 24px; background: url('/_ui/responsive/theme-blue/images/smart_ico_arr03.png') 50% / cover no-repeat;}
.product-box-inner.on .product-box-title {color: #597ce3 !important;}
.product-box-inner.on .product-benefit:after {background-image: url('/_ui/responsive/theme-blue/images/smart_ico_arr04.png');}
.product-box .smart__text-type1 {margin: 0; padding: 20px;}
.product-box-title {font-size: 16px; font-weight: bold; letter-spacing: -0.8px; color: #333; }
.product-benefit-desc {display: none;}
.confirm-order .product-benefit-desc {display: block;}
.product-setting-wrap {display: flex; flex-wrap: wrap;}
.product-setting {margin: 16px 0 0;}
.product-setting:first-child {margin: 16px 30px 0 0;}
.product-setting-title {display: inline-block; margin: 0 0 7px; font-weight: 500; line-height: 1.71; letter-spacing: -0.7px;}
.product-freeitem {margin: 16px 0 0;}
.product-setting-text {font-weight: 500; line-height: 1.71; letter-spacing: -0.7px; color: #999;}
.product-box-wrap {margin: 0 0 0 177px; padding: 0 20px 0 0;}
.product-box .select_list {display: inline-flex; flex-wrap: wrap; margin: 0 0 0 -8px;}
.product-box .select_list-item {width: 386px; margin: 0 0 6px 8px; padding: 16px 18px 16px 0; border: 1px solid #e5e5e5;}
.product-box .sop-freeitem-box {padding: 0 0 0 43px;}
.product-box .sop-freeitem-radio,
.sop-freeitem-label {padding: 0 0 0 127px !important;}
.product-box .sop-freeitem-text [class^="form_element-"] label:before {left: 15px;}
.product-box .sop-freeitem-text [class^="form_element-"] label:after {left: 20px;}
.product-box .sop-freeitem-hash {padding: 0 0 0 127px;}
.sop-delivery .multi_add .btn_item_del {top: 20px; right: 20px; transform: none; border: 1px solid #999; background-color: #fff; color: #111;}
.sop-delivery .retrun_order-select {width: 668px;}
.sop-delivery .retrun_order-select-title {display: flex; justify-content: space-between;}
.sop-delivery .retrun_order-select-title label {font-size: 16px; font-weight: 500; letter-spacing: -0.8px; color: #333;}
.sop-delivery .retrun_order .select_item-text {font-weight: 500;}

.sop-delivery .sop-confirmation-head {text-align: center;}
.sop-delivery .confirmed-message {margin: 16px 0 0; font-size: 24px; font-weight: bold; letter-spacing: -1.2px; color: #002f5f;}
.sop-delivery .confirmed-btn {position: relative; display: inline-block; width: 234px; margin: 16px 0 0; height: 40px; padding: 0 16px; border-radius: 2px; background-color: #002f5f; font-size: 16px; font-weight: bold; text-align: left; color: #fff;}
.sop-delivery .confirmed-btn:after {content: ''; position: absolute; top: 12px; right: 20px; width: 7px; height: 13px; background: url('/_ui/responsive/theme-blue/images/akl_plp/sp_order.png') -50px -62px / 500px auto no-repeat}
.sop-delivery .info_item-subtxt {margin: 0; font-size: 12px; line-height: 1.83; letter-spacing: -0.6px; color: #597ce3;}
.sop-delivery .info_list-row .info_item-item .info_item-txt:not(:last-child) {margin: 0;}
.akl .confirm-order-title {margin: 0; padding: 0 0 16px; border-bottom: 1px solid #000; font-size: 20px; font-weight: bold;}
.confirm-order-itm {padding: 20px 0 5px;}
.confirm-order-itm + .confirm-order-itm {border-top: 1px solid #e5e5e5;}
.confirm-order .smart__info-wrap {padding: 0;}
.confirm-order .product-box-wrap {margin: 0 0 0 157px;}
.product-value {font-weight: 500; color: #000;}
.product-date {display: flex;}
.product-date span {min-width: 73px; font-weight: 500; letter-spacing: -0.7px; color: #999;}
.product-date p {flex: 1; font-weight: 500; letter-spacing: -0.7px;}

.sop-cart-finish-row {padding: 40px 0 0;}
.extension {display: flex;}
.extension-box .label-texts {margin: 0 0 8px;}
.extension-text {font-size: 12px; margin: 8px 0 0; letter-spacing: -0.6px;}
.product-desc {margin: 23px 0 0; font-weight: 500; line-height: 1.71; letter-spacing: -0.7px; text-align: center; color: #333;}

.akl .sop-delivery .amwa-btnbar,
.akl .sop-order-done.sop-delivery .amwa-btnbar {margin: 40px 0;}
.sop-delivery .multi_add .amwa-btnbar {width: auto; margin: 30px auto 100px;}
.sop-delivery .sop-cart-finish .amwa-btnbar {margin: 40px 0 65px;}
.sop-delivery .amwa-btnbar a {width: 130px;}
.sop-delivery .amwa-btnbar a + a {margin: 0 0 0 8px;}
.sop-delivery .multi_add .amwa-btnbar a {float: none;}

[class^="ico-product-"] {display: inline-block; background-image: url('/_ui/responsive/theme-blue/images/akl_plp/sp_order.png'); background-size: 400px auto; background-repeat: no-repeat;}
.ico-product-inequality {width: 7px; height: 14px; background-position: -12px -77px;}
.ico-product-confirmed {width: 64px; height: 64px; background-position: 0px -143px;}

@media (max-width: 768px) {
    .amway-theme.radio-type-tooltip { display: block; }
    .amway-theme.radio-type-tooltip .toolTip-type02 .tipCont-wrapper .tooltip-content { top: 14px; left: -15px; width: calc(100vw - 83px) !important; }
    .akl .find_my_idpw .choose-seeking-type > span{display:block;margin-top:20px;margin-right:0;}
    .layer-addProduct-BSOP .new-search-cont { top: 0; }
    .layer-addProduct-BSOP .new-search-cont .top-search { height: 56px; border-bottom: 1px solid #ccc; }
    .layer-addProduct-BSOP .new-search-cont .input-group { line-height: 56px; }
    .layer-addProduct-BSOP .new-search-cont .input-group input { height: 56px; }
    .layer-addProduct-BSOP .new-search-cont .input-group .input-group-btn { right: 80px; }
    /* .layer-addProduct-BSOP .new-search-cont .input-group .icon-search { background: url(../images/akl_plp/sop_icon_search.png) no-repeat 0 100px; background-size: 100px auto; } */
    .layer-addProduct-BSOP .new-search-cont .inbox { background-color: #f8f8f8; padding: 0; height: 100vh; max-height: 100vh; }
    .layer-addProduct-BSOP .new-search-cont .inbox .search-results-close { top: 19px; color: #666; font-size: 14px; letter-spacing: -0.35px; right: 16px; }
    .layer-addProduct-BSOP .new-search-cont .inbox .search-results-close::before { left: -11px; background: #c5c5c5; height: 15px; top: 2px; }
    .layer-addProduct-BSOP .new-search-cont .inbox .popoverword { background-color: transparent; }
    .layer-addProduct-BSOP .new-search-cont .inbox .popoverword .tit.tit0 { margin: 30px 0 0 0; padding: 0 0 16px 16px; color: #002f5f; }
    .layer-addProduct-BSOP .new-search-cont .search-results-akl { border-top: 1px solid #c9c9c9; }
    .layer-addProduct-BSOP .new-search-cont .search-results-akl li { border-bottom: 1px solid #e5e5e5; background-color: #fff;}
    .layer-addProduct-BSOP .new-search-cont .search-results-akl li a { padding: 0 0 0 16px; line-height: 48px; color: #333; }
    .layer-addProduct-BSOP .new-search-cont .search-results-akl li a { padding: 0 0 0 16px; line-height: 48px; color: #333; }
    
    .layer-addProduct-BSOP .menu { z-index: 1000 !important; }
    .layer-addProduct-BSOP .menu.layerMask:after { position: absolute; content: ''; display: block; background: rgba(0,0,0, 0.5); width: 100%; height: 100vh; }

    .layer-addProduct-BSOP .layer-prd_search_top .menu-top-pos > div { border-bottom: 1px solid #ccc;  }
    .layer-addProduct-BSOP .layer-prd_search_top .menu-top-pos .list_view-option { height: 55px; }
    .layer-addProduct-BSOP .layer-prd_search_top .prd_search_area { border-top: 0; }
    .layer-addProduct-BSOP .layer-prd_search_top .menu_tail .depth-menu-area { border-top: 0; }
    .layer-addProduct-BSOP .layer-prd_search_top .menu { border-top: 0; }
    .layer-addProduct-BSOP .layer-prd_search_top .menu_tail { display: none; background-color: #f9f9f9; border-bottom: 1px solid #ccc; height: 55px; }
    .layer-addProduct-BSOP .layer-prd_search_top .swiper-slide { padding: 16px 10px 16px 16px; }
    .layer-addProduct-BSOP .layer-prd_search_top .swiper-slide.is-selected { padding: 16px 10px 14px 16px; }

    .amway-theme.radio-type-tooltip { display: block;}
    .amway-theme.radio-type-tooltip .toolTip-type02 .tipCont-wrapper .tooltip-content { top: 14px; left: -15px; width: calc(100vw - 83px) !important; }
    .akl .find_my_idpw .choose-seeking-type > span{display:block;margin-top:20px;margin-right:0;}

    /* SOP */
    .product-list-page-title-wrap + .add-order {border: none;}
    .product-list-page-title-wrap {justify-content: center; height: 53px; margin: 0 -15px; padding: 0; border: none; background-color: #f9f9f9;}
    .sop-delivery .shipping-delivery .product-list-page-title-wrap {margin: 0 -15px;}
    .product-list-page-title-wrap .product-list-page-title {display: none;}
    .product-progress-item {font-size: 14px;}
    .product-progress-item span {width: 20px; height: 20px; line-height: 21px;}
    .sop-delivery .multi_add .multi_plp_wrap {margin: 0 0 8px;}
    .product-box-wrap {margin: 0; padding: 0;}
    .multi_plp_wrap .product-box-wrap {padding: 0 20px;}
    .product-box-title {font-weight: 500; color: #333 !important;}
    .product-box .smart__text-type1 {display: block; margin: 0; padding: 16px 0 16px 16px;}
    .product-box .smart__text-inner {display: flex;}
    .product-box .smart__desc {margin: 0;}
    .product-box .smart__text-type1 .smart__text + .smart__text {margin: 16px 0 0; padding: 16px 0 0; border-top: 1px solid #e5e5e5;}
    .product-setting-text {font-size: 13px;}
    .product-box .select_list {display: block; margin: 0;}
    .product-box .select_list-item {width: 100%; margin: 12px 0 0; padding: 0 18px 0 0; border: none;}
    .product-box .sop-freeitem-box {padding: 0 0 0 25px;}
    .product-box .sop-freeitem-radio,
    .sop-freeitem-label {padding: 0 0 0 105px !important;}
    .product-box .sop-freeitem-hash {padding: 0 0 0 105px;}
    .product-box .form_element-radio.sop-freeitem-radio input[type='radio'] + label:before {left: 0;}
    .product-box .form_element-radio.sop-freeitem-radio input[type='radio'] + label:after {left: 4px;}
    .sop-delivery .multi_add .retrun_order {padding: 20px 20px 10px; border-top: 1px solid #e5e5e5; background-color: #fff;}
    .sop-delivery .multi_add .multi_plp_item:first-child {margin: 0;}
    .sop-delivery .multi_add .multi_plp_item {margin: 8px 0 0;}
    .sop-delivery .retrun_order-select {width: 100%;}
    .sop-delivery .multi_add .btn_item_del {top: 14px; width: 10px; height: 10px; border: none; background: url('/_ui/responsive/theme-blue/images/akl_plp/sp_order.png') -10px -50px / 400px auto no-repeat;}

    .sop-delivery .confirmed-message {word-break: keep-all;}
    .sop-delivery .confirmed-btn {width: 100%; margin: 40px 0 0;}
    .confirm-order .product-box-wrap {margin: 0;}

    .sop-delivery .multi_add .amwa-btnbar {margin: 0 auto 20px;}
    .sop-delivery .sop-cart-finish .amwa-btnbar {margin: 10px 0 30px;}
    .sop-delivery .amwa-btnbar a {width: calc(50% - 6px);}
}